Repository stdlib-js/stdlib, pull requests merged in 2018-10, with the labels that each got.

#213 Add log1pexp function
  lib/node_modules/@stdlib/math/base/special/log1pexp/README.md
  lib/node_modules/@stdlib/math/base/special/log1pexp/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/log1pexp/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/log1pexp/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/log1pexp/benchmark/r/DESCRIPTION
  lib/node_modules/@stdlib/math/base/special/log1pexp/benchmark/r/benchmark.R
  lib/node_modules/@stdlib/math/base/special/log1pexp/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/log1pexp/examples/index.js
  lib/node_modules/@stdlib/math/base/special/log1pexp/lib/index.js
  lib/node_modules/@stdlib/math/base/special/log1pexp/lib/log1pexp.js
  lib/node_modules/@stdlib/math/base/special/log1pexp/package.json
  lib/node_modules/@stdlib/math/base/special/log1pexp/test/fixtures/r/DESCRIPTION
  lib/node_modules/@stdlib/math/base/special/log1pexp/test/fixtures/r/expected.json
  lib/node_modules/@stdlib/math/base/special/log1pexp/test/fixtures/r/runner.R
  lib/node_modules/@stdlib/math/base/special/log1pexp/test/test.js
Labels: feature, math

#214 Add log1mexp function
  lib/node_modules/@stdlib/math/base/special/log1mexp/README.md
  lib/node_modules/@stdlib/math/base/special/log1mexp/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/log1mexp/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/log1mexp/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/log1mexp/benchmark/r/DESCRIPTION
  lib/node_modules/@stdlib/math/base/special/log1mexp/benchmark/r/benchmark.R
  lib/node_modules/@stdlib/math/base/special/log1mexp/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/log1mexp/examples/index.js
  lib/node_modules/@stdlib/math/base/special/log1mexp/lib/index.js
  lib/node_modules/@stdlib/math/base/special/log1mexp/lib/main.js
  lib/node_modules/@stdlib/math/base/special/log1mexp/package.json
  lib/node_modules/@stdlib/math/base/special/log1mexp/test/fixtures/r/DESCRIPTION
  lib/node_modules/@stdlib/math/base/special/log1mexp/test/fixtures/r/expected.json
  lib/node_modules/@stdlib/math/base/special/log1mexp/test/fixtures/r/runner.R
  lib/node_modules/@stdlib/math/base/special/log1mexp/test/test.js
Labels: feature, math

#219 Add uimuldw function
  lib/node_modules/@stdlib/math/base/special/uimuldw/README.md
  lib/node_modules/@stdlib/math/base/special/uimuldw/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/uimuldw/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/uimuldw/examples/index.js
  lib/node_modules/@stdlib/math/base/special/uimuldw/lib/index.js
  lib/node_modules/@stdlib/math/base/special/uimuldw/lib/main.js
  lib/node_modules/@stdlib/math/base/special/uimuldw/package.json
  lib/node_modules/@stdlib/math/base/special/uimuldw/test/fixtures/c/Makefile
  lib/node_modules/@stdlib/math/base/special/uimuldw/test/fixtures/c/data.json
  lib/node_modules/@stdlib/math/base/special/uimuldw/test/fixtures/c/runner.c
  lib/node_modules/@stdlib/math/base/special/uimuldw/test/test.js
Labels: feature, math

#218 Add Box-Cox transform
  lib/node_modules/@stdlib/math/base/special/boxcox/README.md
  lib/node_modules/@stdlib/math/base/special/boxcox/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/boxcox/benchmark/python/benchmark.py
  lib/node_modules/@stdlib/math/base/special/boxcox/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/boxcox/examples/index.js
  lib/node_modules/@stdlib/math/base/special/boxcox/lib/index.js
  lib/node_modules/@stdlib/math/base/special/boxcox/lib/main.js
  lib/node_modules/@stdlib/math/base/special/boxcox/package.json
  lib/node_modules/@stdlib/math/base/special/boxcox/test/fixtures/python/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/boxcox/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/math/base/special/boxcox/test/fixtures/python/small_positive.json
  lib/node_modules/@stdlib/math/base/special/boxcox/test/fixtures/python/tiny.json
  lib/node_modules/@stdlib/math/base/special/boxcox/test/test.js
Labels: feature, math

#223 Add BoxCox for 1 + x
  lib/node_modules/@stdlib/math/base/special/boxcox1p/README.md
  lib/node_modules/@stdlib/math/base/special/boxcox1p/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/boxcox1p/benchmark/python/benchmark.py
  lib/node_modules/@stdlib/math/base/special/boxcox1p/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/boxcox1p/examples/index.js
  lib/node_modules/@stdlib/math/base/special/boxcox1p/lib/index.js
  lib/node_modules/@stdlib/math/base/special/boxcox1p/lib/main.js
  lib/node_modules/@stdlib/math/base/special/boxcox1p/package.json
  lib/node_modules/@stdlib/math/base/special/boxcox1p/test/fixtures/python/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/boxcox1p/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/math/base/special/boxcox1p/test/fixtures/python/small_positive.json
  lib/node_modules/@stdlib/math/base/special/boxcox1p/test/fixtures/python/tiny.json
  lib/node_modules/@stdlib/math/base/special/boxcox1p/test/test.js
Labels: feature, math

#237 Add inverse Box-Cox transformation
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/README.md
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/benchmark/python/benchmark.py
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/examples/index.js
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/lib/index.js
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/lib/main.js
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/package.json
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/test/fixtures/python/medium_negative.json
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/test/fixtures/python/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/test/fixtures/python/small_negative.json
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/test/fixtures/python/small_positive.json
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/test/fixtures/python/tiny.json
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/test/test.js
Labels: feature, math

#238 Fix typo in boxcoxinv
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/lib/index.js
Labels: bug, documentation

#239 Add inverse of Box-Cox transformation for `1 + x`
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/README.md
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/benchmark/python/benchmark.py
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/examples/index.js
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/lib/index.js
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/lib/main.js
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/package.json
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/test/fixtures/python/medium_negative.json
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/test/fixtures/python/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/test/fixtures/python/small_negative.json
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/test/fixtures/python/small_positive.json
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/test/fixtures/python/tiny.json
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/test/test.js
Labels: feature, math

#242 Add support for calculating the inverse hyperbolic cotangent (acoth)
  lib/node_modules/@stdlib/math/base/special/acoth/README.md
  lib/node_modules/@stdlib/math/base/special/acoth/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acoth/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/acoth/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acoth/benchmark/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/acoth/benchmark/julia/benchmark.jl
  lib/node_modules/@stdlib/math/base/special/acoth/benchmark/python/benchmark.py
  lib/node_modules/@stdlib/math/base/special/acoth/benchmark/r/DESCRIPTION
  lib/node_modules/@stdlib/math/base/special/acoth/benchmark/r/benchmark.R
  lib/node_modules/@stdlib/math/base/special/acoth/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/acoth/examples/index.js
  lib/node_modules/@stdlib/math/base/special/acoth/lib/acoth.js
  lib/node_modules/@stdlib/math/base/special/acoth/lib/index.js
  lib/node_modules/@stdlib/math/base/special/acoth/package.json
  lib/node_modules/@stdlib/math/base/special/acoth/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/acoth/test/fixtures/julia/huge_positive.json
  lib/node_modules/@stdlib/math/base/special/acoth/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/acoth/test/fixtures/julia/larger_positive.json
  lib/node_modules/@stdlib/math/base/special/acoth/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/acoth/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/acoth/test/test.js
Labels: feature, math

#244 added version constraint for julia in docs
  docs/development.md
Labels: documentation
