Repository stdlib-js/stdlib, pull requests merged in 2022-12, with the labels that each got.

#611 Add C implementation for `@stdlib/number/float32/base/exponent`
  lib/node_modules/@stdlib/number/float32/base/exponent/README.md
  lib/node_modules/@stdlib/number/float32/base/exponent/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/number/float32/base/exponent/binding.gyp
  lib/node_modules/@stdlib/number/float32/base/exponent/examples/c/Makefile
  lib/node_modules/@stdlib/number/float32/base/exponent/examples/c/example.c
  lib/node_modules/@stdlib/number/float32/base/exponent/include.gypi
  lib/node_modules/@stdlib/number/float32/base/exponent/include/stdlib/number/float32/base/exponent.h
  lib/node_modules/@stdlib/number/float32/base/exponent/lib/native.js
  lib/node_modules/@stdlib/number/float32/base/exponent/manifest.json
  lib/node_modules/@stdlib/number/float32/base/exponent/src/Makefile
  lib/node_modules/@stdlib/number/float32/base/exponent/src/addon.c
  lib/node_modules/@stdlib/number/float32/base/exponent/src/main.c
  lib/node_modules/@stdlib/number/float32/base/exponent/test/test.native.js
Labels: enhancement, math, native

#643 Add C implementation for `@stdlib/number/float32/base/significand`
  lib/node_modules/@stdlib/number/float32/base/significand/README.md
  lib/node_modules/@stdlib/number/float32/base/significand/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/number/float32/base/significand/benchmark/c/Makefile
  lib/node_modules/@stdlib/number/float32/base/significand/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/number/float32/base/significand/binding.gyp
  lib/node_modules/@stdlib/number/float32/base/significand/examples/c/Makefile
  lib/node_modules/@stdlib/number/float32/base/significand/examples/c/example.c
  lib/node_modules/@stdlib/number/float32/base/significand/include.gypi
  lib/node_modules/@stdlib/number/float32/base/significand/include/stdlib/number/float32/base/significand.h
  lib/node_modules/@stdlib/number/float32/base/significand/lib/native.js
  lib/node_modules/@stdlib/number/float32/base/significand/manifest.json
  lib/node_modules/@stdlib/number/float32/base/significand/package.json
  lib/node_modules/@stdlib/number/float32/base/significand/src/Makefile
  lib/node_modules/@stdlib/number/float32/base/significand/src/addon.c
  lib/node_modules/@stdlib/number/float32/base/significand/src/main.c
  lib/node_modules/@stdlib/number/float32/base/significand/test/test.native.js
Labels: feature, math, native

#636 Add C implementation for `@stdlib/number/float32/base/normalize`
  lib/node_modules/@stdlib/number/float32/base/normalize/README.md
  lib/node_modules/@stdlib/number/float32/base/normalize/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/number/float32/base/normalize/benchmark/c/Makefile
  lib/node_modules/@stdlib/number/float32/base/normalize/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/number/float32/base/normalize/binding.gyp
  lib/node_modules/@stdlib/number/float32/base/normalize/examples/c/Makefile
  lib/node_modules/@stdlib/number/float32/base/normalize/examples/c/example.c
  lib/node_modules/@stdlib/number/float32/base/normalize/include.gypi
  lib/node_modules/@stdlib/number/float32/base/normalize/include/stdlib/number/float32/base/normalize.h
  lib/node_modules/@stdlib/number/float32/base/normalize/lib/native.js
  lib/node_modules/@stdlib/number/float32/base/normalize/manifest.json
  lib/node_modules/@stdlib/number/float32/base/normalize/package.json
  lib/node_modules/@stdlib/number/float32/base/normalize/src/Makefile
  lib/node_modules/@stdlib/number/float32/base/normalize/src/addon.c
  lib/node_modules/@stdlib/number/float32/base/normalize/src/main.c
  lib/node_modules/@stdlib/number/float32/base/normalize/test/test.native.js
Labels: enhancement, math, native

#651 add C implementation for `@stdlib/math/base/special/frexp`
  lib/node_modules/@stdlib/math/base/special/frexp/README.md
  lib/node_modules/@stdlib/math/base/special/frexp/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/frexp/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/frexp/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/frexp/binding.gyp
  lib/node_modules/@stdlib/math/base/special/frexp/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/frexp/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/frexp/include.gypi
  lib/node_modules/@stdlib/math/base/special/frexp/include/stdlib/math/base/special/frexp.h
  lib/node_modules/@stdlib/math/base/special/frexp/lib/native.js
  lib/node_modules/@stdlib/math/base/special/frexp/manifest.json
  lib/node_modules/@stdlib/math/base/special/frexp/package.json
  lib/node_modules/@stdlib/math/base/special/frexp/src/Makefile
  lib/node_modules/@stdlib/math/base/special/frexp/src/addon.c
  lib/node_modules/@stdlib/math/base/special/frexp/src/main.c
  lib/node_modules/@stdlib/math/base/special/frexp/test/test.native.js
Labels: enhancement, math, native

#659 Add C implementation for `@stdlib/math/base/special/rad2deg`
  lib/node_modules/@stdlib/math/base/special/rad2deg/README.md
  lib/node_modules/@stdlib/math/base/special/rad2deg/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/rad2deg/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/rad2deg/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/rad2deg/binding.gyp
  lib/node_modules/@stdlib/math/base/special/rad2deg/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/rad2deg/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/rad2deg/include.gypi
  lib/node_modules/@stdlib/math/base/special/rad2deg/include/stdlib/math/base/special/rad2deg.h
  lib/node_modules/@stdlib/math/base/special/rad2deg/lib/native.js
  lib/node_modules/@stdlib/math/base/special/rad2deg/manifest.json
  lib/node_modules/@stdlib/math/base/special/rad2deg/src/Makefile
  lib/node_modules/@stdlib/math/base/special/rad2deg/src/addon.c
  lib/node_modules/@stdlib/math/base/special/rad2deg/src/main.c
  lib/node_modules/@stdlib/math/base/special/rad2deg/test/test.native.js
Labels: enhancement, math, native

#652 add C implementation to `@stdlib/math/base/special/ldexp`
  lib/node_modules/@stdlib/math/base/special/ldexp/README.md
  lib/node_modules/@stdlib/math/base/special/ldexp/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ldexp/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/ldexp/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ldexp/binding.gyp
  lib/node_modules/@stdlib/math/base/special/ldexp/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/ldexp/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/ldexp/include.gypi
  lib/node_modules/@stdlib/math/base/special/ldexp/include/stdlib/math/base/special/ldexp.h
  lib/node_modules/@stdlib/math/base/special/ldexp/lib/native.js
  lib/node_modules/@stdlib/math/base/special/ldexp/manifest.json
  lib/node_modules/@stdlib/math/base/special/ldexp/src/Makefile
  lib/node_modules/@stdlib/math/base/special/ldexp/src/addon.c
  lib/node_modules/@stdlib/math/base/special/ldexp/src/main.c
  lib/node_modules/@stdlib/math/base/special/ldexp/test/test.native.js
Labels: enhancement, math, native

#553 Refactor minmax API
  lib/node_modules/@stdlib/math/base/special/minmax/README.md
  lib/node_modules/@stdlib/math/base/special/minmax/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/minmax/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/minmax/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/minmax/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/minmax/lib/assign.js
  lib/node_modules/@stdlib/math/base/special/minmax/lib/index.js
  lib/node_modules/@stdlib/math/base/special/minmax/lib/main.js
  lib/node_modules/@stdlib/math/base/special/minmax/test/test.assign.js
  lib/node_modules/@stdlib/math/base/special/minmax/test/test.js
  lib/node_modules/@stdlib/math/base/special/minmax/test/test.main.js
Labels: enhancement, math

#658 Refactor cdiv API
  lib/node_modules/@stdlib/math/base/ops/cdiv/README.md
  lib/node_modules/@stdlib/math/base/ops/cdiv/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/ops/cdiv/docs/repl.txt
  lib/node_modules/@stdlib/math/base/ops/cdiv/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/ops/cdiv/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/ops/cdiv/examples/index.js
  lib/node_modules/@stdlib/math/base/ops/cdiv/lib/cdiv.js
  lib/node_modules/@stdlib/math/base/ops/cdiv/lib/index.js
  lib/node_modules/@stdlib/math/base/ops/cdiv/lib/main.js
  lib/node_modules/@stdlib/math/base/ops/cdiv/lib/robust_internal.js
  lib/node_modules/@stdlib/math/base/ops/cdiv/test/test.js
Labels: enhancement, math

#678 Add C implementation for `@stdlib/math/base/special/dirac-delta`
  lib/node_modules/@stdlib/math/base/special/dirac-delta/README.md
  lib/node_modules/@stdlib/math/base/special/dirac-delta/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/dirac-delta/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/dirac-delta/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/dirac-delta/binding.gyp
  lib/node_modules/@stdlib/math/base/special/dirac-delta/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/dirac-delta/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/dirac-delta/include.gypi
  lib/node_modules/@stdlib/math/base/special/dirac-delta/include/stdlib/math/base/special/dirac_delta.h
  lib/node_modules/@stdlib/math/base/special/dirac-delta/lib/native.js
  lib/node_modules/@stdlib/math/base/special/dirac-delta/manifest.json
  lib/node_modules/@stdlib/math/base/special/dirac-delta/src/Makefile
  lib/node_modules/@stdlib/math/base/special/dirac-delta/src/addon.c
  lib/node_modules/@stdlib/math/base/special/dirac-delta/src/main.c
  lib/node_modules/@stdlib/math/base/special/dirac-delta/test/test.native.js
Labels: enhancement, math, native

#679 Add C implementation for `@stdlib/math/base/special/sqrtpi`
  lib/node_modules/@stdlib/math/base/special/sqrtpi/README.md
  lib/node_modules/@stdlib/math/base/special/sqrtpi/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sqrtpi/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/sqrtpi/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sqrtpi/binding.gyp
  lib/node_modules/@stdlib/math/base/special/sqrtpi/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/sqrtpi/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/sqrtpi/include.gypi
  lib/node_modules/@stdlib/math/base/special/sqrtpi/include/stdlib/math/base/special/sqrtpi.h
  lib/node_modules/@stdlib/math/base/special/sqrtpi/lib/native.js
  lib/node_modules/@stdlib/math/base/special/sqrtpi/manifest.json
  lib/node_modules/@stdlib/math/base/special/sqrtpi/src/Makefile
  lib/node_modules/@stdlib/math/base/special/sqrtpi/src/addon.c
  lib/node_modules/@stdlib/math/base/special/sqrtpi/src/main.c
  lib/node_modules/@stdlib/math/base/special/sqrtpi/test/test.native.js
Labels: enhancement, math, native

#680 Add C implementation for `@stdlib/math/base/special/wrap`
  lib/node_modules/@stdlib/math/base/special/wrap/README.md
  lib/node_modules/@stdlib/math/base/special/wrap/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/wrap/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/wrap/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/wrap/binding.gyp
  lib/node_modules/@stdlib/math/base/special/wrap/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/wrap/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/wrap/include.gypi
  lib/node_modules/@stdlib/math/base/special/wrap/include/stdlib/math/base/special/wrap.h
  lib/node_modules/@stdlib/math/base/special/wrap/lib/native.js
  lib/node_modules/@stdlib/math/base/special/wrap/manifest.json
  lib/node_modules/@stdlib/math/base/special/wrap/src/Makefile
  lib/node_modules/@stdlib/math/base/special/wrap/src/addon.c
  lib/node_modules/@stdlib/math/base/special/wrap/src/main.c
  lib/node_modules/@stdlib/math/base/special/wrap/test/test.native.js
Labels: enhancement, math, native

#653 Add C implementation for `@stdlib/math/base/special/ln`
  lib/node_modules/@stdlib/math/base/special/ln/README.md
  lib/node_modules/@stdlib/math/base/special/ln/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ln/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/ln/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ln/binding.gyp
  lib/node_modules/@stdlib/math/base/special/ln/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/ln/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/ln/include.gypi
  lib/node_modules/@stdlib/math/base/special/ln/include/stdlib/math/base/special/ln.h
  lib/node_modules/@stdlib/math/base/special/ln/lib/native.js
  lib/node_modules/@stdlib/math/base/special/ln/manifest.json
  lib/node_modules/@stdlib/math/base/special/ln/package.json
  lib/node_modules/@stdlib/math/base/special/ln/src/Makefile
  lib/node_modules/@stdlib/math/base/special/ln/src/addon.c
  lib/node_modules/@stdlib/math/base/special/ln/src/main.c
  lib/node_modules/@stdlib/math/base/special/ln/test/test.native.js
Labels: enhancement, math, native

#682 Add C implementation for `@stdlib/math/base/special/log1p`
  lib/node_modules/@stdlib/math/base/special/log1p/README.md
  lib/node_modules/@stdlib/math/base/special/log1p/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/log1p/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/log1p/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/log1p/binding.gyp
  lib/node_modules/@stdlib/math/base/special/log1p/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/log1p/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/log1p/include.gypi
  lib/node_modules/@stdlib/math/base/special/log1p/include/stdlib/math/base/special/log1p.h
  lib/node_modules/@stdlib/math/base/special/log1p/lib/native.js
  lib/node_modules/@stdlib/math/base/special/log1p/manifest.json
  lib/node_modules/@stdlib/math/base/special/log1p/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/log1p/src/Makefile
  lib/node_modules/@stdlib/math/base/special/log1p/src/addon.c
  lib/node_modules/@stdlib/math/base/special/log1p/src/main.c
  lib/node_modules/@stdlib/math/base/special/log1p/test/test.native.js
Labels: enhancement, math, native

#684 Add C implementation for `@stdlib/math/base/special/expm1`
  lib/node_modules/@stdlib/math/base/special/expm1/README.md
  lib/node_modules/@stdlib/math/base/special/expm1/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/expm1/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/expm1/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/expm1/binding.gyp
  lib/node_modules/@stdlib/math/base/special/expm1/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/expm1/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/expm1/include.gypi
  lib/node_modules/@stdlib/math/base/special/expm1/include/stdlib/math/base/special/expm1.h
  lib/node_modules/@stdlib/math/base/special/expm1/lib/native.js
  lib/node_modules/@stdlib/math/base/special/expm1/manifest.json
  lib/node_modules/@stdlib/math/base/special/expm1/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/expm1/src/Makefile
  lib/node_modules/@stdlib/math/base/special/expm1/src/addon.c
  lib/node_modules/@stdlib/math/base/special/expm1/src/main.c
  lib/node_modules/@stdlib/math/base/special/expm1/test/test.native.js
Labels: enhancement, math, native

#686 Add C implementation for `@stdlib/math/base/special/asin`
  lib/node_modules/@stdlib/math/base/special/asin/README.md
  lib/node_modules/@stdlib/math/base/special/asin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/asin/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/asin/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/asin/binding.gyp
  lib/node_modules/@stdlib/math/base/special/asin/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/asin/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/asin/include.gypi
  lib/node_modules/@stdlib/math/base/special/asin/include/stdlib/math/base/special/asin.h
  lib/node_modules/@stdlib/math/base/special/asin/lib/native.js
  lib/node_modules/@stdlib/math/base/special/asin/lib/rational_pq.js
  lib/node_modules/@stdlib/math/base/special/asin/lib/rational_rs.js
  lib/node_modules/@stdlib/math/base/special/asin/manifest.json
  lib/node_modules/@stdlib/math/base/special/asin/scripts/evalrational.js
  lib/node_modules/@stdlib/math/base/special/asin/src/Makefile
  lib/node_modules/@stdlib/math/base/special/asin/src/addon.c
  lib/node_modules/@stdlib/math/base/special/asin/src/main.c
  lib/node_modules/@stdlib/math/base/special/asin/test/test.native.js
Labels: enhancement, math, native

#694 Add C implementation for `@stdlib/math/base/special/asinh`
  lib/node_modules/@stdlib/math/base/special/asinh/README.md
  lib/node_modules/@stdlib/math/base/special/asinh/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/asinh/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/asinh/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/asinh/binding.gyp
  lib/node_modules/@stdlib/math/base/special/asinh/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/asinh/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/asinh/include.gypi
  lib/node_modules/@stdlib/math/base/special/asinh/include/stdlib/math/base/special/asinh.h
  lib/node_modules/@stdlib/math/base/special/asinh/lib/native.js
  lib/node_modules/@stdlib/math/base/special/asinh/manifest.json
  lib/node_modules/@stdlib/math/base/special/asinh/src/Makefile
  lib/node_modules/@stdlib/math/base/special/asinh/src/addon.c
  lib/node_modules/@stdlib/math/base/special/asinh/src/main.c
  lib/node_modules/@stdlib/math/base/special/asinh/test/test.native.js
Labels: enhancement, math, native

#695 Add C implementation for `@stdlib/math/base/special/acosh`
  lib/node_modules/@stdlib/math/base/special/acosh/README.md
  lib/node_modules/@stdlib/math/base/special/acosh/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acosh/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/acosh/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acosh/binding.gyp
  lib/node_modules/@stdlib/math/base/special/acosh/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/acosh/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/acosh/include.gypi
  lib/node_modules/@stdlib/math/base/special/acosh/include/stdlib/math/base/special/acosh.h
  lib/node_modules/@stdlib/math/base/special/acosh/lib/native.js
  lib/node_modules/@stdlib/math/base/special/acosh/manifest.json
  lib/node_modules/@stdlib/math/base/special/acosh/src/Makefile
  lib/node_modules/@stdlib/math/base/special/acosh/src/addon.c
  lib/node_modules/@stdlib/math/base/special/acosh/src/main.c
  lib/node_modules/@stdlib/math/base/special/acosh/test/test.native.js
Labels: enhancement, math, native

#699 Refactor minmaxabs API
  lib/node_modules/@stdlib/math/base/special/minmaxabs/README.md
  lib/node_modules/@stdlib/math/base/special/minmaxabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/minmaxabs/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/minmaxabs/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/minmaxabs/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/minmaxabs/lib/assign.js
  lib/node_modules/@stdlib/math/base/special/minmaxabs/lib/index.js
  lib/node_modules/@stdlib/math/base/special/minmaxabs/lib/main.js
  lib/node_modules/@stdlib/math/base/special/minmaxabs/test/test.assign.js
  lib/node_modules/@stdlib/math/base/special/minmaxabs/test/test.js
  lib/node_modules/@stdlib/math/base/special/minmaxabs/test/test.main.js
Labels: enhancement, math

#698 Add C implementation for `@stdlib/math/base/special/atan`
  lib/node_modules/@stdlib/math/base/special/atan/README.md
  lib/node_modules/@stdlib/math/base/special/atan/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/atan/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/atan/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/atan/binding.gyp
  lib/node_modules/@stdlib/math/base/special/atan/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/atan/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/atan/include.gypi
  lib/node_modules/@stdlib/math/base/special/atan/include/stdlib/math/base/special/atan.h
  lib/node_modules/@stdlib/math/base/special/atan/lib/native.js
  lib/node_modules/@stdlib/math/base/special/atan/manifest.json
  lib/node_modules/@stdlib/math/base/special/atan/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/atan/src/Makefile
  lib/node_modules/@stdlib/math/base/special/atan/src/addon.c
  lib/node_modules/@stdlib/math/base/special/atan/src/main.c
  lib/node_modules/@stdlib/math/base/special/atan/test/test.native.js
Labels: enhancement, math, native

#718 Add C implementation for `@stdlib/math/base/special/atanh`
  lib/node_modules/@stdlib/math/base/special/atanh/README.md
  lib/node_modules/@stdlib/math/base/special/atanh/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/atanh/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/atanh/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/atanh/binding.gyp
  lib/node_modules/@stdlib/math/base/special/atanh/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/atanh/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/atanh/include.gypi
  lib/node_modules/@stdlib/math/base/special/atanh/include/stdlib/math/base/special/atanh.h
  lib/node_modules/@stdlib/math/base/special/atanh/lib/native.js
  lib/node_modules/@stdlib/math/base/special/atanh/manifest.json
  lib/node_modules/@stdlib/math/base/special/atanh/src/Makefile
  lib/node_modules/@stdlib/math/base/special/atanh/src/addon.c
  lib/node_modules/@stdlib/math/base/special/atanh/src/main.c
  lib/node_modules/@stdlib/math/base/special/atanh/test/test.native.js
Labels: enhancement, math, native

#717 Add C implementation for `@stdlib/math/base/special/erf`
  lib/node_modules/@stdlib/math/base/special/erf/README.md
  lib/node_modules/@stdlib/math/base/special/erf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/erf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/erf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/erf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/erf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/erf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/erf/include.gypi
  lib/node_modules/@stdlib/math/base/special/erf/include/stdlib/math/base/special/erf.h
  lib/node_modules/@stdlib/math/base/special/erf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/erf/manifest.json
  lib/node_modules/@stdlib/math/base/special/erf/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/erf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/erf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/erf/src/main.c
  lib/node_modules/@stdlib/math/base/special/erf/test/test.native.js
Labels: enhancement, math, native

#727 Add C implementation for `@stdlib/math/base/special/erfc`
  lib/node_modules/@stdlib/math/base/special/erfc/README.md
  lib/node_modules/@stdlib/math/base/special/erfc/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/erfc/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/erfc/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/erfc/binding.gyp
  lib/node_modules/@stdlib/math/base/special/erfc/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/erfc/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/erfc/include.gypi
  lib/node_modules/@stdlib/math/base/special/erfc/include/stdlib/math/base/special/erfc.h
  lib/node_modules/@stdlib/math/base/special/erfc/lib/native.js
  lib/node_modules/@stdlib/math/base/special/erfc/manifest.json
  lib/node_modules/@stdlib/math/base/special/erfc/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/erfc/src/Makefile
  lib/node_modules/@stdlib/math/base/special/erfc/src/addon.c
  lib/node_modules/@stdlib/math/base/special/erfc/src/main.c
  lib/node_modules/@stdlib/math/base/special/erfc/test/test.native.js
Labels: enhancement, math, native

#728 Add C implementation for `@stdlib/math/base/special/erfcinv`
  lib/node_modules/@stdlib/math/base/special/erfcinv/README.md
  lib/node_modules/@stdlib/math/base/special/erfcinv/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/erfcinv/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/erfcinv/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/erfcinv/binding.gyp
  lib/node_modules/@stdlib/math/base/special/erfcinv/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/erfcinv/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/erfcinv/include.gypi
  lib/node_modules/@stdlib/math/base/special/erfcinv/include/stdlib/math/base/special/erfcinv.h
  lib/node_modules/@stdlib/math/base/special/erfcinv/lib/native.js
  lib/node_modules/@stdlib/math/base/special/erfcinv/lib/rational_p1q1.js
  lib/node_modules/@stdlib/math/base/special/erfcinv/lib/rational_p2q2.js
  lib/node_modules/@stdlib/math/base/special/erfcinv/lib/rational_p3q3.js
  lib/node_modules/@stdlib/math/base/special/erfcinv/lib/rational_p4q4.js
  lib/node_modules/@stdlib/math/base/special/erfcinv/lib/rational_p5q5.js
  lib/node_modules/@stdlib/math/base/special/erfcinv/manifest.json
  lib/node_modules/@stdlib/math/base/special/erfcinv/scripts/evalrational.js
  lib/node_modules/@stdlib/math/base/special/erfcinv/src/Makefile
  lib/node_modules/@stdlib/math/base/special/erfcinv/src/addon.c
  lib/node_modules/@stdlib/math/base/special/erfcinv/src/main.c
  lib/node_modules/@stdlib/math/base/special/erfcinv/test/test.native.js
Labels: enhancement, math, native

#633 Add math/base/special/ellipj
  lib/node_modules/@stdlib/math/base/special/ellipj/README.md
  lib/node_modules/@stdlib/math/base/special/ellipj/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/ellipj/benchmark/cpp/boost/Makefile
  lib/node_modules/@stdlib/math/base/special/ellipj/benchmark/cpp/boost/benchmark.cpp
  lib/node_modules/@stdlib/math/base/special/ellipj/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/ellipj/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/ellipj/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/ellipj/examples/index.js
  lib/node_modules/@stdlib/math/base/special/ellipj/lib/am.js
  lib/node_modules/@stdlib/math/base/special/ellipj/lib/assign.js
  lib/node_modules/@stdlib/math/base/special/ellipj/lib/cn.js
  lib/node_modules/@stdlib/math/base/special/ellipj/lib/dn.js
  lib/node_modules/@stdlib/math/base/special/ellipj/lib/index.js
  lib/node_modules/@stdlib/math/base/special/ellipj/lib/main.js
  lib/node_modules/@stdlib/math/base/special/ellipj/lib/sn.js
  lib/node_modules/@stdlib/math/base/special/ellipj/package.json
  lib/node_modules/@stdlib/math/base/special/ellipj/test/fixtures/cpp/Makefile
  lib/node_modules/@stdlib/math/base/special/ellipj/test/fixtures/cpp/medium_positive_modulus.json
  lib/node_modules/@stdlib/math/base/special/ellipj/test/fixtures/cpp/near_unity_modulus.json
  lib/node_modules/@stdlib/math/base/special/ellipj/test/fixtures/cpp/runner.cpp
  lib/node_modules/@stdlib/math/base/special/ellipj/test/fixtures/cpp/small_positive_modulus.json
  lib/node_modules/@stdlib/math/base/special/ellipj/test/fixtures/cpp/unity_modulus.json
  lib/node_modules/@stdlib/math/base/special/ellipj/test/fixtures/cpp/zero_modulus.json
  lib/node_modules/@stdlib/math/base/special/ellipj/test/fixtures/wolfram/spot_checks.json
  lib/node_modules/@stdlib/math/base/special/ellipj/test/test.assign.js
  lib/node_modules/@stdlib/math/base/special/ellipj/test/test.js
  lib/node_modules/@stdlib/math/base/special/ellipj/test/test.main.js
  lib/node_modules/@stdlib/math/base/special/ellipj/test/test.sncndn.js
Labels: feature, math

#779 Add C implementation for `@stdlib/math/base/assert/is-integer`
  lib/node_modules/@stdlib/math/base/assert/is-integer/README.md
  lib/node_modules/@stdlib/math/base/assert/is-integer/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-integer/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-integer/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-integer/binding.gyp
  lib/node_modules/@stdlib/math/base/assert/is-integer/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-integer/examples/c/example.c
  lib/node_modules/@stdlib/math/base/assert/is-integer/include.gypi
  lib/node_modules/@stdlib/math/base/assert/is-integer/include/stdlib/math/base/assert/is_integer.h
  lib/node_modules/@stdlib/math/base/assert/is-integer/lib/native.js
  lib/node_modules/@stdlib/math/base/assert/is-integer/manifest.json
  lib/node_modules/@stdlib/math/base/assert/is-integer/src/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-integer/src/addon.c
  lib/node_modules/@stdlib/math/base/assert/is-integer/src/main.c
  lib/node_modules/@stdlib/math/base/assert/is-integer/test/test.native.js
Labels: enhancement, math, native

#770 Add C implementation for `@stdlib/math/base/special/expit`
  lib/node_modules/@stdlib/math/base/special/expit/README.md
  lib/node_modules/@stdlib/math/base/special/expit/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/expit/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/expit/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/expit/binding.gyp
  lib/node_modules/@stdlib/math/base/special/expit/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/expit/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/expit/include.gypi
  lib/node_modules/@stdlib/math/base/special/expit/include/stdlib/math/base/special/expit.h
  lib/node_modules/@stdlib/math/base/special/expit/lib/native.js
  lib/node_modules/@stdlib/math/base/special/expit/manifest.json
  lib/node_modules/@stdlib/math/base/special/expit/src/Makefile
  lib/node_modules/@stdlib/math/base/special/expit/src/addon.c
  lib/node_modules/@stdlib/math/base/special/expit/src/main.c
  lib/node_modules/@stdlib/math/base/special/expit/test/test.native.js
Labels: enhancement, math, native

#765 Add C implementation for `@stdlib/math/base/assert/is-probability`
  lib/node_modules/@stdlib/math/base/assert/is-probability/README.md
  lib/node_modules/@stdlib/math/base/assert/is-probability/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-probability/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-probability/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-probability/binding.gyp
  lib/node_modules/@stdlib/math/base/assert/is-probability/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-probability/examples/c/example.c
  lib/node_modules/@stdlib/math/base/assert/is-probability/include.gypi
  lib/node_modules/@stdlib/math/base/assert/is-probability/include/stdlib/math/base/assert/is_probability.h
  lib/node_modules/@stdlib/math/base/assert/is-probability/lib/native.js
  lib/node_modules/@stdlib/math/base/assert/is-probability/manifest.json
  lib/node_modules/@stdlib/math/base/assert/is-probability/src/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-probability/src/addon.c
  lib/node_modules/@stdlib/math/base/assert/is-probability/src/main.c
  lib/node_modules/@stdlib/math/base/assert/is-probability/test/test.native.js
Labels: enhancement, math, native

#778 Add C implementation for `@stdlib/math/base/special/sqrt1pm1`
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/README.md
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/binding.gyp
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/include.gypi
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/include/stdlib/math/base/special/sqrt1pm1.h
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/lib/native.js
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/manifest.json
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/src/Makefile
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/src/addon.c
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/src/main.c
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/test/test.native.js
Labels: enhancement, math, native

#764 Add C implementation for `@stdlib/math/base/special/log1pexp`
  lib/node_modules/@stdlib/math/base/special/log1pexp/README.md
  lib/node_modules/@stdlib/math/base/special/log1pexp/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/log1pexp/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/log1pexp/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/log1pexp/binding.gyp
  lib/node_modules/@stdlib/math/base/special/log1pexp/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/log1pexp/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/log1pexp/include.gypi
  lib/node_modules/@stdlib/math/base/special/log1pexp/include/stdlib/math/base/special/log1pexp.h
  lib/node_modules/@stdlib/math/base/special/log1pexp/lib/native.js
  lib/node_modules/@stdlib/math/base/special/log1pexp/manifest.json
  lib/node_modules/@stdlib/math/base/special/log1pexp/src/Makefile
  lib/node_modules/@stdlib/math/base/special/log1pexp/src/addon.c
  lib/node_modules/@stdlib/math/base/special/log1pexp/src/main.c
  lib/node_modules/@stdlib/math/base/special/log1pexp/test/test.natve.js
Labels: enhancement, math, native

#763 Add C implementation for `@stdlib/math/base/special/log1mexp`
  lib/node_modules/@stdlib/math/base/special/log1mexp/README.md
  lib/node_modules/@stdlib/math/base/special/log1mexp/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/log1mexp/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/log1mexp/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/log1mexp/binding.gyp
  lib/node_modules/@stdlib/math/base/special/log1mexp/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/log1mexp/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/log1mexp/include.gypi
  lib/node_modules/@stdlib/math/base/special/log1mexp/include/stdlib/math/base/special/log1mexp.h
  lib/node_modules/@stdlib/math/base/special/log1mexp/lib/native.js
  lib/node_modules/@stdlib/math/base/special/log1mexp/manifest.json
  lib/node_modules/@stdlib/math/base/special/log1mexp/src/Makefile
  lib/node_modules/@stdlib/math/base/special/log1mexp/src/addon.c
  lib/node_modules/@stdlib/math/base/special/log1mexp/src/main.c
  lib/node_modules/@stdlib/math/base/special/log1mexp/test/test.native.js
Labels: enhancement, math, native

#782 Add C implementation for `@stdlib/math/base/special/logit`
  lib/node_modules/@stdlib/math/base/special/logit/README.md
  lib/node_modules/@stdlib/math/base/special/logit/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/logit/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/logit/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/logit/binding.gyp
  lib/node_modules/@stdlib/math/base/special/logit/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/logit/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/logit/include.gypi
  lib/node_modules/@stdlib/math/base/special/logit/include/stdlib/math/base/special/logit.h
  lib/node_modules/@stdlib/math/base/special/logit/lib/native.js
  lib/node_modules/@stdlib/math/base/special/logit/manifest.json
  lib/node_modules/@stdlib/math/base/special/logit/src/Makefile
  lib/node_modules/@stdlib/math/base/special/logit/src/addon.c
  lib/node_modules/@stdlib/math/base/special/logit/src/main.c
  lib/node_modules/@stdlib/math/base/special/logit/test/test.native.js
Labels: enhancement, math, native

#757 Add C implementation for `@stdlib/math/base/special/acot`
  lib/node_modules/@stdlib/math/base/special/acot/README.md
  lib/node_modules/@stdlib/math/base/special/acot/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acot/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/acot/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acot/binding.gyp
  lib/node_modules/@stdlib/math/base/special/acot/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/acot/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/acot/include.gypi
  lib/node_modules/@stdlib/math/base/special/acot/include/stdlib/math/base/special/acot.h
  lib/node_modules/@stdlib/math/base/special/acot/lib/native.js
  lib/node_modules/@stdlib/math/base/special/acot/manifest.json
  lib/node_modules/@stdlib/math/base/special/acot/src/Makefile
  lib/node_modules/@stdlib/math/base/special/acot/src/addon.c
  lib/node_modules/@stdlib/math/base/special/acot/src/main.c
  lib/node_modules/@stdlib/math/base/special/acot/test/test.native.js
Labels: enhancement, math, native

#758 Add C implementation for `@stdlib/math/base/special/acoth`
  lib/node_modules/@stdlib/math/base/special/acoth/README.md
  lib/node_modules/@stdlib/math/base/special/acoth/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acoth/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/acoth/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acoth/binding.gyp
  lib/node_modules/@stdlib/math/base/special/acoth/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/acoth/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/acoth/include.gypi
  lib/node_modules/@stdlib/math/base/special/acoth/include/stdlib/math/base/special/acoth.h
  lib/node_modules/@stdlib/math/base/special/acoth/lib/native.js
  lib/node_modules/@stdlib/math/base/special/acoth/manifest.json
  lib/node_modules/@stdlib/math/base/special/acoth/src/Makefile
  lib/node_modules/@stdlib/math/base/special/acoth/src/addon.c
  lib/node_modules/@stdlib/math/base/special/acoth/src/main.c
  lib/node_modules/@stdlib/math/base/special/acoth/test/test.native.js
Labels: enhancement, math, native

#526 Add support for iteratively inserting array elements into a formatted message and printing the result
  lib/node_modules/@stdlib/console/log-each/README.md
  lib/node_modules/@stdlib/console/log-each/benchmark/benchmark.js
  lib/node_modules/@stdlib/console/log-each/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/console/log-each/docs/repl.txt
  lib/node_modules/@stdlib/console/log-each/docs/types/index.d.ts
  lib/node_modules/@stdlib/console/log-each/docs/types/test.ts
  lib/node_modules/@stdlib/console/log-each/examples/index.js
  lib/node_modules/@stdlib/console/log-each/lib/index.js
  lib/node_modules/@stdlib/console/log-each/lib/logger.js
  lib/node_modules/@stdlib/console/log-each/lib/main.js
  lib/node_modules/@stdlib/console/log-each/package.json
  lib/node_modules/@stdlib/console/log-each/test/test.js
Labels: feature
