Repository stdlib-js/stdlib, pull requests merged in 2022-02, with the labels that each got.

#476 Fixed issue #234 - RFC: add support for computing the inverse hyperbolic secant (asech)
  lib/node_modules/@stdlib/math/base/special/asech/README.md
  lib/node_modules/@stdlib/math/base/special/asech/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/asech/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/asech/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/asech/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/asech/examples/index.js
  lib/node_modules/@stdlib/math/base/special/asech/lib/asech.js
  lib/node_modules/@stdlib/math/base/special/asech/lib/index.js
  lib/node_modules/@stdlib/math/base/special/asech/package.json
  lib/node_modules/@stdlib/math/base/special/asech/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/asech/test/fixtures/julia/huge_positive.json
  lib/node_modules/@stdlib/math/base/special/asech/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/asech/test/fixtures/julia/larger_positive.json
  lib/node_modules/@stdlib/math/base/special/asech/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/asech/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/asech/test/test.js
Labels: enhancement, math

#477 Fixed issue #232 - RFC: add support for computing the inverse/arc cosecant (acsc)
  lib/node_modules/@stdlib/math/base/special/acsc/README.md
  lib/node_modules/@stdlib/math/base/special/acsc/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acsc/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/acsc/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/acsc/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/acsc/examples/index.js
  lib/node_modules/@stdlib/math/base/special/acsc/lib/acsc.js
  lib/node_modules/@stdlib/math/base/special/acsc/lib/index.js
  lib/node_modules/@stdlib/math/base/special/acsc/lib/rational_pq.js
  lib/node_modules/@stdlib/math/base/special/acsc/lib/rational_rs.js
  lib/node_modules/@stdlib/math/base/special/acsc/package.json
  lib/node_modules/@stdlib/math/base/special/acsc/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/acsc/test/fixtures/julia/data.json
  lib/node_modules/@stdlib/math/base/special/acsc/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/acsc/test/fixtures/julia/small_negative.json
  lib/node_modules/@stdlib/math/base/special/acsc/test/fixtures/julia/small_positive.json
  lib/node_modules/@stdlib/math/base/special/acsc/test/test.js
Labels: enhancement, math

#479 Added '@stdlib/math/base/special/cot'
  lib/node_modules/@stdlib/math/base/special/cot/README.md
  lib/node_modules/@stdlib/math/base/special/cot/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/cot/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/cot/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cot/benchmark/c/cephes/Makefile
  lib/node_modules/@stdlib/math/base/special/cot/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cot/benchmark/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/cot/benchmark/julia/benchmark.jl
  lib/node_modules/@stdlib/math/base/special/cot/benchmark/python/benchmark.py
  lib/node_modules/@stdlib/math/base/special/cot/benchmark/r/DESCRIPTION
  lib/node_modules/@stdlib/math/base/special/cot/benchmark/r/benchmark.R
  lib/node_modules/@stdlib/math/base/special/cot/docs/img/equation_cotangent.svg
  lib/node_modules/@stdlib/math/base/special/cot/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/cot/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/cot/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/cot/examples/index.js
  lib/node_modules/@stdlib/math/base/special/cot/lib/cot.js
  lib/node_modules/@stdlib/math/base/special/cot/lib/index.js
  lib/node_modules/@stdlib/math/base/special/cot/package.json
  lib/node_modules/@stdlib/math/base/special/cot/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/cot/test/fixtures/julia/huge_negative.json
  lib/node_modules/@stdlib/math/base/special/cot/test/fixtures/julia/huge_positive.json
  lib/node_modules/@stdlib/math/base/special/cot/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/cot/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/cot/test/fixtures/julia/medium_negative.json
  lib/node_modules/@stdlib/math/base/special/cot/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/cot/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/cot/test/fixtures/julia/small_negative.json
  lib/node_modules/@stdlib/math/base/special/cot/test/fixtures/julia/small_positive.json
  lib/node_modules/@stdlib/math/base/special/cot/test/fixtures/julia/smaller.json
  lib/node_modules/@stdlib/math/base/special/cot/test/fixtures/julia/subnormal.json
  lib/node_modules/@stdlib/math/base/special/cot/test/fixtures/julia/tiny_negative.json
  lib/node_modules/@stdlib/math/base/special/cot/test/fixtures/julia/tiny_positive.json
  lib/node_modules/@stdlib/math/base/special/cot/test/fixtures/julia/very_large_negative.json
  lib/node_modules/@stdlib/math/base/special/cot/test/fixtures/julia/very_large_positive.json
  lib/node_modules/@stdlib/math/base/special/cot/test/test.js
Labels: math, base

#484 Add coth
  lib/node_modules/@stdlib/math/base/special/coth/README.md
  lib/node_modules/@stdlib/math/base/special/coth/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/coth/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/coth/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/coth/examples/index.js
  lib/node_modules/@stdlib/math/base/special/coth/lib/coth.js
  lib/node_modules/@stdlib/math/base/special/coth/lib/index.js
  lib/node_modules/@stdlib/math/base/special/coth/package.json
  lib/node_modules/@stdlib/math/base/special/coth/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/coth/test/fixtures/julia/data.json
  lib/node_modules/@stdlib/math/base/special/coth/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/coth/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/coth/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/coth/test/fixtures/julia/tiny_negative.json
  lib/node_modules/@stdlib/math/base/special/coth/test/fixtures/julia/tiny_positive.json
  lib/node_modules/@stdlib/math/base/special/coth/test/test.js
Labels: math, base

#485 Add csch
  lib/node_modules/@stdlib/math/base/special/csch/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/csch/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/csch/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/csch/examples/index.js
  lib/node_modules/@stdlib/math/base/special/csch/lib/csch.js
  lib/node_modules/@stdlib/math/base/special/csch/lib/index.js
  lib/node_modules/@stdlib/math/base/special/csch/package.json
  lib/node_modules/@stdlib/math/base/special/csch/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/csch/test/fixtures/julia/data.json
  lib/node_modules/@stdlib/math/base/special/csch/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/csch/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/csch/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/csch/test/fixtures/julia/tiny_negative.json
  lib/node_modules/@stdlib/math/base/special/csch/test/fixtures/julia/tiny_positive.json
  lib/node_modules/@stdlib/math/base/special/csch/test/test.js
Labels: basic, math

#486 Add arccosecant hyperbolic implementation
  lib/node_modules/@stdlib/math/base/special/acsch/README.md
  lib/node_modules/@stdlib/math/base/special/acsch/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/acsch/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/acsch/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/acsch/examples/index.js
  lib/node_modules/@stdlib/math/base/special/acsch/lib/acsch.js
  lib/node_modules/@stdlib/math/base/special/acsch/lib/index.js
  lib/node_modules/@stdlib/math/base/special/acsch/package.json
  lib/node_modules/@stdlib/math/base/special/acsch/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/acsch/test/fixtures/julia/huge_negative.json
  lib/node_modules/@stdlib/math/base/special/acsch/test/fixtures/julia/huge_positive.json
  lib/node_modules/@stdlib/math/base/special/acsch/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/acsch/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/acsch/test/fixtures/julia/medium_negative.json
  lib/node_modules/@stdlib/math/base/special/acsch/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/acsch/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/acsch/test/fixtures/julia/tiny_negative.json
  lib/node_modules/@stdlib/math/base/special/acsch/test/fixtures/julia/tiny_positive.json
  lib/node_modules/@stdlib/math/base/special/acsch/test/test.js
Labels: math, base
