Repository stdlib-js/stdlib, pull requests merged in 2022-10, with the labels that each got.

#528 Add `isDomainName`
  lib/node_modules/@stdlib/assert/is-domain-name/README.md
  lib/node_modules/@stdlib/assert/is-domain-name/benchmark/benchmark.js
  lib/node_modules/@stdlib/assert/is-domain-name/bin/cli
  lib/node_modules/@stdlib/assert/is-domain-name/docs/repl.txt
  lib/node_modules/@stdlib/assert/is-domain-name/docs/types/index.d.ts
  lib/node_modules/@stdlib/assert/is-domain-name/docs/types/test.ts
  lib/node_modules/@stdlib/assert/is-domain-name/docs/usage.txt
  lib/node_modules/@stdlib/assert/is-domain-name/etc/cli_opts.json
  lib/node_modules/@stdlib/assert/is-domain-name/examples/index.js
  lib/node_modules/@stdlib/assert/is-domain-name/lib/index.js
  lib/node_modules/@stdlib/assert/is-domain-name/lib/main.js
  lib/node_modules/@stdlib/assert/is-domain-name/package.json
  lib/node_modules/@stdlib/assert/is-domain-name/test/fixtures/stdin_error.js.txt
  lib/node_modules/@stdlib/assert/is-domain-name/test/test.cli.js
  lib/node_modules/@stdlib/assert/is-domain-name/test/test.js
Labels: feature

#527 Added support for serializing ```NaN``` and ```Infinity``` to Json
  lib/node_modules/@stdlib/number/float64/to-json/README.md
  lib/node_modules/@stdlib/number/float64/to-json/benchmark/benchmark.js
  lib/node_modules/@stdlib/number/float64/to-json/docs/repl.txt
  lib/node_modules/@stdlib/number/float64/to-json/docs/types/index.d.ts
  lib/node_modules/@stdlib/number/float64/to-json/docs/types/test.ts
  lib/node_modules/@stdlib/number/float64/to-json/examples/index.js
  lib/node_modules/@stdlib/number/float64/to-json/lib/index.js
  lib/node_modules/@stdlib/number/float64/to-json/lib/main.js
  lib/node_modules/@stdlib/number/float64/to-json/package.json
  lib/node_modules/@stdlib/number/float64/to-json/test/test.js
Labels: feature

#531 Add support for reviving a JSON-serialized double-precision floating-point number
  lib/node_modules/@stdlib/number/float64/reviver/README.md
  lib/node_modules/@stdlib/number/float64/reviver/benchmark/benchmark.js
  lib/node_modules/@stdlib/number/float64/reviver/docs/repl.txt
  lib/node_modules/@stdlib/number/float64/reviver/docs/types/index.d.ts
  lib/node_modules/@stdlib/number/float64/reviver/docs/types/test.ts
  lib/node_modules/@stdlib/number/float64/reviver/examples/index.js
  lib/node_modules/@stdlib/number/float64/reviver/lib/index.js
  lib/node_modules/@stdlib/number/float64/reviver/lib/main.js
  lib/node_modules/@stdlib/number/float64/reviver/package.json
  lib/node_modules/@stdlib/number/float64/reviver/test/test.js
Labels: feature

#539 Add support for testing whether a value is a camel-cased string
  lib/node_modules/@stdlib/assert/is-camelcase/README.md
  lib/node_modules/@stdlib/assert/is-camelcase/benchmark/benchmark.js
  lib/node_modules/@stdlib/assert/is-camelcase/bin/cli
  lib/node_modules/@stdlib/assert/is-camelcase/docs/repl.txt
  lib/node_modules/@stdlib/assert/is-camelcase/docs/types/index.d.ts
  lib/node_modules/@stdlib/assert/is-camelcase/docs/types/test.ts
  lib/node_modules/@stdlib/assert/is-camelcase/docs/usage.txt
  lib/node_modules/@stdlib/assert/is-camelcase/etc/cli_opts.json
  lib/node_modules/@stdlib/assert/is-camelcase/examples/index.js
  lib/node_modules/@stdlib/assert/is-camelcase/lib/index.js
  lib/node_modules/@stdlib/assert/is-camelcase/lib/main.js
  lib/node_modules/@stdlib/assert/is-camelcase/package.json
  lib/node_modules/@stdlib/assert/is-camelcase/test/fixtures/stdin_error.js.txt
  lib/node_modules/@stdlib/assert/is-camelcase/test/test.cli.js
  lib/node_modules/@stdlib/assert/is-camelcase/test/test.js
Labels: feature

#532 Refactor normalize API
  lib/node_modules/@stdlib/math/base/special/frexp/lib/frexp.js
  lib/node_modules/@stdlib/math/base/special/ldexp/lib/main.js
  lib/node_modules/@stdlib/number/float64/base/normalize/README.md
  lib/node_modules/@stdlib/number/float64/base/normalize/benchmark/benchmark.js
  lib/node_modules/@stdlib/number/float64/base/normalize/docs/repl.txt
  lib/node_modules/@stdlib/number/float64/base/normalize/docs/types/index.d.ts
  lib/node_modules/@stdlib/number/float64/base/normalize/docs/types/test.ts
  lib/node_modules/@stdlib/number/float64/base/normalize/lib/assign.js
  lib/node_modules/@stdlib/number/float64/base/normalize/lib/index.js
  lib/node_modules/@stdlib/number/float64/base/normalize/lib/main.js
  lib/node_modules/@stdlib/number/float64/base/normalize/test/test.assign.js
  lib/node_modules/@stdlib/number/float64/base/normalize/test/test.js
  lib/node_modules/@stdlib/number/float64/base/normalize/test/test.main.js
Labels: math

#542 Add support for testing whether a value is a string in Pascal case
  lib/node_modules/@stdlib/assert/is-pascalcase/README.md
  lib/node_modules/@stdlib/assert/is-pascalcase/benchmark/benchmark.js
  lib/node_modules/@stdlib/assert/is-pascalcase/bin/cli
  lib/node_modules/@stdlib/assert/is-pascalcase/docs/repl.txt
  lib/node_modules/@stdlib/assert/is-pascalcase/docs/types/index.d.ts
  lib/node_modules/@stdlib/assert/is-pascalcase/docs/types/test.ts
  lib/node_modules/@stdlib/assert/is-pascalcase/docs/usage.txt
  lib/node_modules/@stdlib/assert/is-pascalcase/etc/cli_opts.json
  lib/node_modules/@stdlib/assert/is-pascalcase/examples/index.js
  lib/node_modules/@stdlib/assert/is-pascalcase/lib/index.js
  lib/node_modules/@stdlib/assert/is-pascalcase/lib/main.js
  lib/node_modules/@stdlib/assert/is-pascalcase/package.json
  lib/node_modules/@stdlib/assert/is-pascalcase/test/fixtures/stdin_error.js.txt
  lib/node_modules/@stdlib/assert/is-pascalcase/test/test.cli.js
  lib/node_modules/@stdlib/assert/is-pascalcase/test/test.js
Labels: feature

#550 Add governance docs
  CODE_OF_CONDUCT.md
  CORE_CONTRIBUTORS.md
  GOVERNANCE.md
  README.md
  TSC.md
Labels: documentation

#546 Add support for testing whether a value is a string in kebab case
  lib/node_modules/@stdlib/assert/is-kebabcase/README.md
  lib/node_modules/@stdlib/assert/is-kebabcase/benchmark/benchmark.js
  lib/node_modules/@stdlib/assert/is-kebabcase/bin/cli
  lib/node_modules/@stdlib/assert/is-kebabcase/docs/repl.txt
  lib/node_modules/@stdlib/assert/is-kebabcase/docs/types/index.d.ts
  lib/node_modules/@stdlib/assert/is-kebabcase/docs/types/test.ts
  lib/node_modules/@stdlib/assert/is-kebabcase/docs/usage.txt
  lib/node_modules/@stdlib/assert/is-kebabcase/etc/cli_opts.json
  lib/node_modules/@stdlib/assert/is-kebabcase/examples/index.js
  lib/node_modules/@stdlib/assert/is-kebabcase/lib/index.js
  lib/node_modules/@stdlib/assert/is-kebabcase/lib/main.js
  lib/node_modules/@stdlib/assert/is-kebabcase/package.json
  lib/node_modules/@stdlib/assert/is-kebabcase/test/fixtures/stdin_error.js.txt
  lib/node_modules/@stdlib/assert/is-kebabcase/test/test.cli.js
  lib/node_modules/@stdlib/assert/is-kebabcase/test/test.js
Labels: feature

#551 Add support for testing whether a value is a string in snake case
  lib/node_modules/@stdlib/assert/is-snakecase/README.md
  lib/node_modules/@stdlib/assert/is-snakecase/benchmark/benchmark.js
  lib/node_modules/@stdlib/assert/is-snakecase/bin/cli
  lib/node_modules/@stdlib/assert/is-snakecase/docs/repl.txt
  lib/node_modules/@stdlib/assert/is-snakecase/docs/types/index.d.ts
  lib/node_modules/@stdlib/assert/is-snakecase/docs/types/test.ts
  lib/node_modules/@stdlib/assert/is-snakecase/docs/usage.txt
  lib/node_modules/@stdlib/assert/is-snakecase/etc/cli_opts.json
  lib/node_modules/@stdlib/assert/is-snakecase/examples/index.js
  lib/node_modules/@stdlib/assert/is-snakecase/lib/index.js
  lib/node_modules/@stdlib/assert/is-snakecase/lib/main.js
  lib/node_modules/@stdlib/assert/is-snakecase/package.json
  lib/node_modules/@stdlib/assert/is-snakecase/test/fixtures/stdin_error.js.txt
  lib/node_modules/@stdlib/assert/is-snakecase/test/test.cli.js
  lib/node_modules/@stdlib/assert/is-snakecase/test/test.js
Labels: feature

#540 Add support for testing whether a value is a constant-cased string
  lib/node_modules/@stdlib/assert/is-constantcase/README.md
  lib/node_modules/@stdlib/assert/is-constantcase/benchmark/benchmark.js
  lib/node_modules/@stdlib/assert/is-constantcase/bin/cli
  lib/node_modules/@stdlib/assert/is-constantcase/docs/repl.txt
  lib/node_modules/@stdlib/assert/is-constantcase/docs/types/index.d.ts
  lib/node_modules/@stdlib/assert/is-constantcase/docs/types/test.ts
  lib/node_modules/@stdlib/assert/is-constantcase/docs/usage.txt
  lib/node_modules/@stdlib/assert/is-constantcase/etc/cli_opts.json
  lib/node_modules/@stdlib/assert/is-constantcase/examples/index.js
  lib/node_modules/@stdlib/assert/is-constantcase/lib/index.js
  lib/node_modules/@stdlib/assert/is-constantcase/lib/main.js
  lib/node_modules/@stdlib/assert/is-constantcase/package.json
  lib/node_modules/@stdlib/assert/is-constantcase/test/fixtures/stdin_error.js.txt
  lib/node_modules/@stdlib/assert/is-constantcase/test/test.cli.js
  lib/node_modules/@stdlib/assert/is-constantcase/test/test.js
Labels: feature

#552 Add c-bindings for ```exponent```
  lib/node_modules/@stdlib/number/float64/base/exponent/README.md
  lib/node_modules/@stdlib/number/float64/base/exponent/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/number/float64/base/exponent/benchmark/c/Makefile
  lib/node_modules/@stdlib/number/float64/base/exponent/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/number/float64/base/exponent/binding.gyp
  lib/node_modules/@stdlib/number/float64/base/exponent/examples/c/Makefile
  lib/node_modules/@stdlib/number/float64/base/exponent/examples/c/example.c
  lib/node_modules/@stdlib/number/float64/base/exponent/include.gypi
  lib/node_modules/@stdlib/number/float64/base/exponent/include/stdlib/number/float64/base/exponent.h
  lib/node_modules/@stdlib/number/float64/base/exponent/lib/native.js
  lib/node_modules/@stdlib/number/float64/base/exponent/manifest.json
  lib/node_modules/@stdlib/number/float64/base/exponent/src/Makefile
  lib/node_modules/@stdlib/number/float64/base/exponent/src/addon.c
  lib/node_modules/@stdlib/number/float64/base/exponent/src/exponent.c
  lib/node_modules/@stdlib/number/float64/base/exponent/test/test.native.js
Labels: math, native

#554 Add C implementation for `@stdlib/number/float64/base/signbit`
  lib/node_modules/@stdlib/number/float64/base/signbit/README.md
  lib/node_modules/@stdlib/number/float64/base/signbit/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/number/float64/base/signbit/benchmark/c/Makefile
  lib/node_modules/@stdlib/number/float64/base/signbit/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/number/float64/base/signbit/binding.gyp
  lib/node_modules/@stdlib/number/float64/base/signbit/examples/c/Makefile
  lib/node_modules/@stdlib/number/float64/base/signbit/examples/c/example.c
  lib/node_modules/@stdlib/number/float64/base/signbit/include.gypi
  lib/node_modules/@stdlib/number/float64/base/signbit/include/stdlib/number/float64/base/signbit.h
  lib/node_modules/@stdlib/number/float64/base/signbit/lib/native.js
  lib/node_modules/@stdlib/number/float64/base/signbit/manifest.json
  lib/node_modules/@stdlib/number/float64/base/signbit/src/Makefile
  lib/node_modules/@stdlib/number/float64/base/signbit/src/addon.c
  lib/node_modules/@stdlib/number/float64/base/signbit/src/signbit.c
  lib/node_modules/@stdlib/number/float64/base/signbit/test/test.native.js
Labels: enhancement, native

#555 Add C implementation for `@stdlib/number/float64/base/normalize`
  lib/node_modules/@stdlib/number/float64/base/normalize/README.md
  lib/node_modules/@stdlib/number/float64/base/normalize/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/number/float64/base/normalize/benchmark/c/Makefile
  lib/node_modules/@stdlib/number/float64/base/normalize/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/number/float64/base/normalize/binding.gyp
  lib/node_modules/@stdlib/number/float64/base/normalize/examples/c/Makefile
  lib/node_modules/@stdlib/number/float64/base/normalize/examples/c/example.c
  lib/node_modules/@stdlib/number/float64/base/normalize/include.gypi
  lib/node_modules/@stdlib/number/float64/base/normalize/include/stdlib/number/float64/base/normalize.h
  lib/node_modules/@stdlib/number/float64/base/normalize/lib/native.js
  lib/node_modules/@stdlib/number/float64/base/normalize/manifest.json
  lib/node_modules/@stdlib/number/float64/base/normalize/src/Makefile
  lib/node_modules/@stdlib/number/float64/base/normalize/src/addon.c
  lib/node_modules/@stdlib/number/float64/base/normalize/src/normalize.c
  lib/node_modules/@stdlib/number/float64/base/normalize/test/test.native.js
Labels: enhancement, native

#560 Add utility to parse a duration string
  lib/node_modules/@stdlib/time/base/parse-duration/README.md
  lib/node_modules/@stdlib/time/base/parse-duration/benchmark/benchmark.js
  lib/node_modules/@stdlib/time/base/parse-duration/docs/repl.txt
  lib/node_modules/@stdlib/time/base/parse-duration/docs/types/index.d.ts
  lib/node_modules/@stdlib/time/base/parse-duration/docs/types/test.ts
  lib/node_modules/@stdlib/time/base/parse-duration/examples/index.js
  lib/node_modules/@stdlib/time/base/parse-duration/lib/index.js
  lib/node_modules/@stdlib/time/base/parse-duration/lib/main.js
  lib/node_modules/@stdlib/time/base/parse-duration/package.json
  lib/node_modules/@stdlib/time/base/parse-duration/test/test.js
Labels: feature

#558 Refactor frexp API
  lib/node_modules/@stdlib/math/base/special/frexp/README.md
  lib/node_modules/@stdlib/math/base/special/frexp/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/frexp/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/frexp/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/frexp/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/frexp/lib/assign.js
  lib/node_modules/@stdlib/math/base/special/frexp/lib/index.js
  lib/node_modules/@stdlib/math/base/special/frexp/lib/main.js
  lib/node_modules/@stdlib/math/base/special/frexp/test/test.assign.js
  lib/node_modules/@stdlib/math/base/special/frexp/test/test.js
  lib/node_modules/@stdlib/math/base/special/frexp/test/test.main.js
  lib/node_modules/@stdlib/stats/incr/mprod/lib/main.js
  lib/node_modules/@stdlib/stats/incr/prod/lib/main.js
Labels: enhancement, math

#562 Add package to test whether value is duration string
  lib/node_modules/@stdlib/assert/is-duration-string/README.md
  lib/node_modules/@stdlib/assert/is-duration-string/benchmark/benchmark.js
  lib/node_modules/@stdlib/assert/is-duration-string/bin/cli
  lib/node_modules/@stdlib/assert/is-duration-string/docs/repl.txt
  lib/node_modules/@stdlib/assert/is-duration-string/docs/types/index.d.ts
  lib/node_modules/@stdlib/assert/is-duration-string/docs/types/test.ts
  lib/node_modules/@stdlib/assert/is-duration-string/docs/usage.txt
  lib/node_modules/@stdlib/assert/is-duration-string/etc/cli_opts.json
  lib/node_modules/@stdlib/assert/is-duration-string/examples/index.js
  lib/node_modules/@stdlib/assert/is-duration-string/lib/index.js
  lib/node_modules/@stdlib/assert/is-duration-string/lib/main.js
  lib/node_modules/@stdlib/assert/is-duration-string/package.json
  lib/node_modules/@stdlib/assert/is-duration-string/test/fixtures/stdin_error.js.txt
  lib/node_modules/@stdlib/assert/is-duration-string/test/test.cli.js
  lib/node_modules/@stdlib/assert/is-duration-string/test/test.js
Labels: feature

#557 Refactor fresnel API
  lib/node_modules/@stdlib/math/base/special/fresnel/README.md
  lib/node_modules/@stdlib/math/base/special/fresnel/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/fresnel/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/fresnel/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/fresnel/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/fresnel/lib/assign.js
  lib/node_modules/@stdlib/math/base/special/fresnel/lib/index.js
  lib/node_modules/@stdlib/math/base/special/fresnel/lib/main.js
  lib/node_modules/@stdlib/math/base/special/fresnel/test/test.assign.js
  lib/node_modules/@stdlib/math/base/special/fresnel/test/test.js
  lib/node_modules/@stdlib/math/base/special/fresnel/test/test.main.js
Labels: enhancement, math

#563 Add package to convert number of milliseconds to a duration string
  lib/node_modules/@stdlib/time/ms2duration/README.md
  lib/node_modules/@stdlib/time/ms2duration/benchmark/benchmark.js
  lib/node_modules/@stdlib/time/ms2duration/bin/cli
  lib/node_modules/@stdlib/time/ms2duration/docs/repl.txt
  lib/node_modules/@stdlib/time/ms2duration/docs/types/index.d.ts
  lib/node_modules/@stdlib/time/ms2duration/docs/types/test.ts
  lib/node_modules/@stdlib/time/ms2duration/docs/usage.txt
  lib/node_modules/@stdlib/time/ms2duration/etc/cli_opts.json
  lib/node_modules/@stdlib/time/ms2duration/examples/index.js
  lib/node_modules/@stdlib/time/ms2duration/lib/index.js
  lib/node_modules/@stdlib/time/ms2duration/lib/main.js
  lib/node_modules/@stdlib/time/ms2duration/package.json
  lib/node_modules/@stdlib/time/ms2duration/test/fixtures/stdin_error.js.txt
  lib/node_modules/@stdlib/time/ms2duration/test/test.cli.js
  lib/node_modules/@stdlib/time/ms2duration/test/test.js
Labels: feature

#561 Add utility to parse duration string into ms
  lib/node_modules/@stdlib/time/duration2ms/README.md
  lib/node_modules/@stdlib/time/duration2ms/benchmark/benchmark.js
  lib/node_modules/@stdlib/time/duration2ms/bin/cli
  lib/node_modules/@stdlib/time/duration2ms/docs/repl.txt
  lib/node_modules/@stdlib/time/duration2ms/docs/types/index.d.ts
  lib/node_modules/@stdlib/time/duration2ms/docs/types/test.ts
  lib/node_modules/@stdlib/time/duration2ms/docs/usage.txt
  lib/node_modules/@stdlib/time/duration2ms/etc/cli_opts.json
  lib/node_modules/@stdlib/time/duration2ms/examples/index.js
  lib/node_modules/@stdlib/time/duration2ms/lib/index.js
  lib/node_modules/@stdlib/time/duration2ms/lib/main.js
  lib/node_modules/@stdlib/time/duration2ms/package.json
  lib/node_modules/@stdlib/time/duration2ms/test/fixtures/stdin_error.js.txt
  lib/node_modules/@stdlib/time/duration2ms/test/test.cli.js
  lib/node_modules/@stdlib/time/duration2ms/test/test.js
Labels: feature

#585 Refactor modf API
  lib/node_modules/@stdlib/math/base/special/modf/README.md
  lib/node_modules/@stdlib/math/base/special/modf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/modf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/modf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/modf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/modf/lib/assign.js
  lib/node_modules/@stdlib/math/base/special/modf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/modf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/modf/test/test.assign.js
  lib/node_modules/@stdlib/math/base/special/modf/test/test.js
  lib/node_modules/@stdlib/math/base/special/modf/test/test.main.js
Labels: enhancement, math

#590 Refactor sici API
  lib/node_modules/@stdlib/math/base/special/sici/README.md
  lib/node_modules/@stdlib/math/base/special/sici/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sici/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/sici/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/sici/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/sici/lib/assign.js
  lib/node_modules/@stdlib/math/base/special/sici/lib/index.js
  lib/node_modules/@stdlib/math/base/special/sici/lib/main.js
  lib/node_modules/@stdlib/math/base/special/sici/test/test.assign.js
  lib/node_modules/@stdlib/math/base/special/sici/test/test.js
  lib/node_modules/@stdlib/math/base/special/sici/test/test.main.js
Labels: enhancement, math
