Repository stdlib-js/stdlib, pull requests merged in 2023-02, with the labels that each got.

#783 Add C implementation for `@stdlib/math/base/special/fibonacci`
  lib/node_modules/@stdlib/math/base/special/fibonacci/README.md
  lib/node_modules/@stdlib/math/base/special/fibonacci/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fibonacci/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fibonacci/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fibonacci/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fibonacci/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fibonacci/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fibonacci/include.gypi
  lib/node_modules/@stdlib/math/base/special/fibonacci/include/stdlib/math/base/special/fibonacci.h
  lib/node_modules/@stdlib/math/base/special/fibonacci/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fibonacci/manifest.json
  lib/node_modules/@stdlib/math/base/special/fibonacci/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fibonacci/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fibonacci/src/main.c
  lib/node_modules/@stdlib/math/base/special/fibonacci/test/test.native.js
Labels: enhancement, math, native

#732 Add C implementation for `@stdlib/math/base/special/cosh`
  lib/node_modules/@stdlib/math/base/special/cosh/README.md
  lib/node_modules/@stdlib/math/base/special/cosh/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/cosh/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/cosh/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cosh/binding.gyp
  lib/node_modules/@stdlib/math/base/special/cosh/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/cosh/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/cosh/include.gypi
  lib/node_modules/@stdlib/math/base/special/cosh/include/stdlib/math/base/special/cosh.h
  lib/node_modules/@stdlib/math/base/special/cosh/lib/native.js
  lib/node_modules/@stdlib/math/base/special/cosh/manifest.json
  lib/node_modules/@stdlib/math/base/special/cosh/src/Makefile
  lib/node_modules/@stdlib/math/base/special/cosh/src/addon.c
  lib/node_modules/@stdlib/math/base/special/cosh/src/main.c
  lib/node_modules/@stdlib/math/base/special/cosh/test/test.native.js
Labels: enhancement, math, native

#752 Add C implementation for `@stdlib/math/base/special/tanh`
  lib/node_modules/@stdlib/math/base/special/tanh/README.md
  lib/node_modules/@stdlib/math/base/special/tanh/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/tanh/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/tanh/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tanh/binding.gyp
  lib/node_modules/@stdlib/math/base/special/tanh/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/tanh/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/tanh/include.gypi
  lib/node_modules/@stdlib/math/base/special/tanh/include/stdlib/math/base/special/tanh.h
  lib/node_modules/@stdlib/math/base/special/tanh/lib/native.js
  lib/node_modules/@stdlib/math/base/special/tanh/lib/rational_pq.js
  lib/node_modules/@stdlib/math/base/special/tanh/manifest.json
  lib/node_modules/@stdlib/math/base/special/tanh/scripts/evalrational.js
  lib/node_modules/@stdlib/math/base/special/tanh/src/Makefile
  lib/node_modules/@stdlib/math/base/special/tanh/src/addon.c
  lib/node_modules/@stdlib/math/base/special/tanh/src/main.c
  lib/node_modules/@stdlib/math/base/special/tanh/test/test.native.js
Labels: enhancement, math, native

#750 Add C implementation for `@stdlib/math/base/special/sinh`
  lib/node_modules/@stdlib/math/base/special/sinh/README.md
  lib/node_modules/@stdlib/math/base/special/sinh/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sinh/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/sinh/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sinh/binding.gyp
  lib/node_modules/@stdlib/math/base/special/sinh/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/sinh/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/sinh/include.gypi
  lib/node_modules/@stdlib/math/base/special/sinh/include/stdlib/math/base/special/sinh.h
  lib/node_modules/@stdlib/math/base/special/sinh/lib/native.js
  lib/node_modules/@stdlib/math/base/special/sinh/lib/rational_pq.js
  lib/node_modules/@stdlib/math/base/special/sinh/manifest.json
  lib/node_modules/@stdlib/math/base/special/sinh/scripts/evalrational.js
  lib/node_modules/@stdlib/math/base/special/sinh/src/Makefile
  lib/node_modules/@stdlib/math/base/special/sinh/src/addon.c
  lib/node_modules/@stdlib/math/base/special/sinh/src/main.c
  lib/node_modules/@stdlib/math/base/special/sinh/test/test.native.js
Labels: enhancement, math, native

#744 Add C implementation for `@stdlib/math/base/special/exp10`
  lib/node_modules/@stdlib/math/base/special/exp10/README.md
  lib/node_modules/@stdlib/math/base/special/exp10/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/exp10/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/exp10/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/exp10/binding.gyp
  lib/node_modules/@stdlib/math/base/special/exp10/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/exp10/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/exp10/include.gypi
  lib/node_modules/@stdlib/math/base/special/exp10/include/stdlib/math/base/special/exp10.h
  lib/node_modules/@stdlib/math/base/special/exp10/lib/native.js
  lib/node_modules/@stdlib/math/base/special/exp10/manifest.json
  lib/node_modules/@stdlib/math/base/special/exp10/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/exp10/src/Makefile
  lib/node_modules/@stdlib/math/base/special/exp10/src/addon.c
  lib/node_modules/@stdlib/math/base/special/exp10/src/main.c
  lib/node_modules/@stdlib/math/base/special/exp10/test/test.native.js
Labels: enhancement, math, native

#769 Add C implementation for `@stdlib/math/base/special/ellipk`
  lib/node_modules/@stdlib/math/base/special/ellipk/README.md
  lib/node_modules/@stdlib/math/base/special/ellipk/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ellipk/benchmark/cpp/native/Makefile
  lib/node_modules/@stdlib/math/base/special/ellipk/benchmark/cpp/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ellipk/binding.gyp
  lib/node_modules/@stdlib/math/base/special/ellipk/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/ellipk/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/ellipk/include.gypi
  lib/node_modules/@stdlib/math/base/special/ellipk/include/stdlib/math/base/special/ellipk.h
  lib/node_modules/@stdlib/math/base/special/ellipk/lib/native.js
  lib/node_modules/@stdlib/math/base/special/ellipk/manifest.json
  lib/node_modules/@stdlib/math/base/special/ellipk/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/ellipk/src/Makefile
  lib/node_modules/@stdlib/math/base/special/ellipk/src/addon.c
  lib/node_modules/@stdlib/math/base/special/ellipk/src/main.c
  lib/node_modules/@stdlib/math/base/special/ellipk/test/test.native.js
Labels: enhancement, math, native

#905 Add `cnegf` package
  lib/node_modules/@stdlib/math/base/ops/cnegf/README.md
  lib/node_modules/@stdlib/math/base/ops/cnegf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/ops/cnegf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/ops/cnegf/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/ops/cnegf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/ops/cnegf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/ops/cnegf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/ops/cnegf/benchmark/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/ops/cnegf/benchmark/julia/benchmark.jl
  lib/node_modules/@stdlib/math/base/ops/cnegf/binding.gyp
  lib/node_modules/@stdlib/math/base/ops/cnegf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/ops/cnegf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/ops/cnegf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/ops/cnegf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/ops/cnegf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/ops/cnegf/examples/index.js
  lib/node_modules/@stdlib/math/base/ops/cnegf/include.gypi
  lib/node_modules/@stdlib/math/base/ops/cnegf/include/stdlib/math/base/ops/cnegf.h
  lib/node_modules/@stdlib/math/base/ops/cnegf/lib/index.js
  lib/node_modules/@stdlib/math/base/ops/cnegf/lib/main.js
  lib/node_modules/@stdlib/math/base/ops/cnegf/lib/native.js
  lib/node_modules/@stdlib/math/base/ops/cnegf/manifest.json
  lib/node_modules/@stdlib/math/base/ops/cnegf/package.json
  lib/node_modules/@stdlib/math/base/ops/cnegf/src/Makefile
  lib/node_modules/@stdlib/math/base/ops/cnegf/src/addon.c
  lib/node_modules/@stdlib/math/base/ops/cnegf/src/main.c
  lib/node_modules/@stdlib/math/base/ops/cnegf/test/test.js
  lib/node_modules/@stdlib/math/base/ops/cnegf/test/test.native.js
Labels: math, native

#908 Update development process to use Conventional Commits
  CONTRIBUTING.md
  docs/branching.md
  docs/development.md
  docs/doctest.md
  docs/packages.md
  docs/repl_text.md
  docs/style-guides/git/README.md
  docs/style-guides/text/README.md
Labels: needs-review, documentation

#903 Add C implementation for `@stdlib/math/base/special/tribonacci`
  lib/node_modules/@stdlib/math/base/special/tribonacci/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/tribonacci/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/tribonacci/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tribonacci/binding.gyp
  lib/node_modules/@stdlib/math/base/special/tribonacci/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/tribonacci/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/tribonacci/include.gypi
  lib/node_modules/@stdlib/math/base/special/tribonacci/include/stdlib/math/base/special/tribonacci.h
  lib/node_modules/@stdlib/math/base/special/tribonacci/manifest.json
  lib/node_modules/@stdlib/math/base/special/tribonacci/package.json
  lib/node_modules/@stdlib/math/base/special/tribonacci/src/Makefile
  lib/node_modules/@stdlib/math/base/special/tribonacci/src/addon.c
  lib/node_modules/@stdlib/math/base/special/tribonacci/src/main.c
  lib/node_modules/@stdlib/math/base/special/tribonacci/test/test.native.js
Labels: enhancement, math, native

#914 feat: add `@stdlib/random/array/gamma`
  lib/node_modules/@stdlib/random/array/gamma/README.md
  lib/node_modules/@stdlib/random/array/gamma/benchmark/benchmark.float32.factory.js
  lib/node_modules/@stdlib/random/array/gamma/benchmark/benchmark.float32.js
  lib/node_modules/@stdlib/random/array/gamma/benchmark/benchmark.float64.factory.js
  lib/node_modules/@stdlib/random/array/gamma/benchmark/benchmark.float64.js
  lib/node_modules/@stdlib/random/array/gamma/benchmark/benchmark.generic.factory.js
  lib/node_modules/@stdlib/random/array/gamma/benchmark/benchmark.generic.js
  lib/node_modules/@stdlib/random/array/gamma/docs/repl.txt
  lib/node_modules/@stdlib/random/array/gamma/docs/types/index.d.ts
  lib/node_modules/@stdlib/random/array/gamma/docs/types/test.ts
  lib/node_modules/@stdlib/random/array/gamma/examples/index.js
  lib/node_modules/@stdlib/random/array/gamma/lib/defaults.json
  lib/node_modules/@stdlib/random/array/gamma/lib/factory.js
  lib/node_modules/@stdlib/random/array/gamma/lib/index.js
  lib/node_modules/@stdlib/random/array/gamma/lib/main.js
  lib/node_modules/@stdlib/random/array/gamma/lib/validate.js
  lib/node_modules/@stdlib/random/array/gamma/package.json
  lib/node_modules/@stdlib/random/array/gamma/test/test.factory.js
  lib/node_modules/@stdlib/random/array/gamma/test/test.js
  lib/node_modules/@stdlib/random/array/gamma/test/test.main.js
  lib/node_modules/@stdlib/random/array/gamma/test/test.validate.js
Labels: feature

#917 feat: add `@stdlib/random/array/betaprime`
  lib/node_modules/@stdlib/random/array/betaprime/README.md
  lib/node_modules/@stdlib/random/array/betaprime/benchmark/benchmark.float32.factory.js
  lib/node_modules/@stdlib/random/array/betaprime/benchmark/benchmark.float32.js
  lib/node_modules/@stdlib/random/array/betaprime/benchmark/benchmark.float64.factory.js
  lib/node_modules/@stdlib/random/array/betaprime/benchmark/benchmark.float64.js
  lib/node_modules/@stdlib/random/array/betaprime/benchmark/benchmark.generic.factory.js
  lib/node_modules/@stdlib/random/array/betaprime/benchmark/benchmark.generic.js
  lib/node_modules/@stdlib/random/array/betaprime/docs/repl.txt
  lib/node_modules/@stdlib/random/array/betaprime/docs/types/index.d.ts
  lib/node_modules/@stdlib/random/array/betaprime/docs/types/test.ts
  lib/node_modules/@stdlib/random/array/betaprime/examples/index.js
  lib/node_modules/@stdlib/random/array/betaprime/lib/defaults.json
  lib/node_modules/@stdlib/random/array/betaprime/lib/factory.js
  lib/node_modules/@stdlib/random/array/betaprime/lib/index.js
  lib/node_modules/@stdlib/random/array/betaprime/lib/main.js
  lib/node_modules/@stdlib/random/array/betaprime/lib/validate.js
  lib/node_modules/@stdlib/random/array/betaprime/package.json
  lib/node_modules/@stdlib/random/array/betaprime/test/test.factory.js
  lib/node_modules/@stdlib/random/array/betaprime/test/test.js
  lib/node_modules/@stdlib/random/array/betaprime/test/test.main.js
  lib/node_modules/@stdlib/random/array/betaprime/test/test.validate.js
Labels: feature

#915 feat: add `@stdlib/random/array/invgamma`
  lib/node_modules/@stdlib/random/array/invgamma/README.md
  lib/node_modules/@stdlib/random/array/invgamma/benchmark/benchmark.float32.factory.js
  lib/node_modules/@stdlib/random/array/invgamma/benchmark/benchmark.float32.js
  lib/node_modules/@stdlib/random/array/invgamma/benchmark/benchmark.float64.factory.js
  lib/node_modules/@stdlib/random/array/invgamma/benchmark/benchmark.float64.js
  lib/node_modules/@stdlib/random/array/invgamma/benchmark/benchmark.generic.factory.js
  lib/node_modules/@stdlib/random/array/invgamma/benchmark/benchmark.generic.js
  lib/node_modules/@stdlib/random/array/invgamma/docs/repl.txt
  lib/node_modules/@stdlib/random/array/invgamma/docs/types/index.d.ts
  lib/node_modules/@stdlib/random/array/invgamma/docs/types/test.ts
  lib/node_modules/@stdlib/random/array/invgamma/examples/index.js
  lib/node_modules/@stdlib/random/array/invgamma/lib/defaults.json
  lib/node_modules/@stdlib/random/array/invgamma/lib/factory.js
  lib/node_modules/@stdlib/random/array/invgamma/lib/index.js
  lib/node_modules/@stdlib/random/array/invgamma/lib/main.js
  lib/node_modules/@stdlib/random/array/invgamma/lib/validate.js
  lib/node_modules/@stdlib/random/array/invgamma/package.json
  lib/node_modules/@stdlib/random/array/invgamma/test/test.factory.js
  lib/node_modules/@stdlib/random/array/invgamma/test/test.js
  lib/node_modules/@stdlib/random/array/invgamma/test/test.main.js
  lib/node_modules/@stdlib/random/array/invgamma/test/test.validate.js
Labels: feature

#918 feat: add `@stdlib/random/strided/betaprime`
  lib/node_modules/@stdlib/random/strided/betaprime/README.md
  lib/node_modules/@stdlib/random/strided/betaprime/benchmark/benchmark.float32.broadcast.js
  lib/node_modules/@stdlib/random/strided/betaprime/benchmark/benchmark.float32.js
  lib/node_modules/@stdlib/random/strided/betaprime/benchmark/benchmark.float64.broadcast.js
  lib/node_modules/@stdlib/random/strided/betaprime/benchmark/benchmark.float64.broadcast.options.js
  lib/node_modules/@stdlib/random/strided/betaprime/benchmark/benchmark.float64.js
  lib/node_modules/@stdlib/random/strided/betaprime/benchmark/benchmark.float64.options.js
  lib/node_modules/@stdlib/random/strided/betaprime/benchmark/benchmark.generic.broadcast.js
  lib/node_modules/@stdlib/random/strided/betaprime/benchmark/benchmark.generic.js
  lib/node_modules/@stdlib/random/strided/betaprime/docs/repl.txt
  lib/node_modules/@stdlib/random/strided/betaprime/docs/types/index.d.ts
  lib/node_modules/@stdlib/random/strided/betaprime/docs/types/test.ts
  lib/node_modules/@stdlib/random/strided/betaprime/examples/index.js
  lib/node_modules/@stdlib/random/strided/betaprime/lib/index.js
  lib/node_modules/@stdlib/random/strided/betaprime/lib/main.js
  lib/node_modules/@stdlib/random/strided/betaprime/lib/ndarray.js
  lib/node_modules/@stdlib/random/strided/betaprime/lib/prng.js
  lib/node_modules/@stdlib/random/strided/betaprime/package.json
  lib/node_modules/@stdlib/random/strided/betaprime/test/test.js
  lib/node_modules/@stdlib/random/strided/betaprime/test/test.main.js
  lib/node_modules/@stdlib/random/strided/betaprime/test/test.ndarray.js
Labels: feature

#843 feat: add support for replacing the substring before the first occurrence of a search string
  lib/node_modules/@stdlib/string/base/replace-before/README.md
  lib/node_modules/@stdlib/string/base/replace-before/benchmark/benchmark.js
  lib/node_modules/@stdlib/string/base/replace-before/bin/cli
  lib/node_modules/@stdlib/string/base/replace-before/docs/repl.txt
  lib/node_modules/@stdlib/string/base/replace-before/docs/types/index.d.ts
  lib/node_modules/@stdlib/string/base/replace-before/docs/types/test.ts
  lib/node_modules/@stdlib/string/base/replace-before/docs/usage.txt
  lib/node_modules/@stdlib/string/base/replace-before/etc/cli_opts.json
  lib/node_modules/@stdlib/string/base/replace-before/examples/index.js
  lib/node_modules/@stdlib/string/base/replace-before/lib/index.js
  lib/node_modules/@stdlib/string/base/replace-before/lib/main.js
  lib/node_modules/@stdlib/string/base/replace-before/package.json
  lib/node_modules/@stdlib/string/base/replace-before/test/fixtures/stdin_error.js.txt
  lib/node_modules/@stdlib/string/base/replace-before/test/test.cli.js
  lib/node_modules/@stdlib/string/base/replace-before/test/test.js
Labels: feature, utils

#913 feat: add C API to `@stdlib/math/base/special/negalucas`
  lib/node_modules/@stdlib/math/base/special/negalucas/README.md
  lib/node_modules/@stdlib/math/base/special/negalucas/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/negalucas/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/negalucas/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/negalucas/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/negalucas/binding.gyp
  lib/node_modules/@stdlib/math/base/special/negalucas/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/negalucas/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/negalucas/include.gypi
  lib/node_modules/@stdlib/math/base/special/negalucas/include/stdlib/math/base/special/negalucas.h
  lib/node_modules/@stdlib/math/base/special/negalucas/manifest.json
  lib/node_modules/@stdlib/math/base/special/negalucas/package.json
  lib/node_modules/@stdlib/math/base/special/negalucas/src/Makefile
  lib/node_modules/@stdlib/math/base/special/negalucas/src/addon.c
  lib/node_modules/@stdlib/math/base/special/negalucas/src/main.c
  lib/node_modules/@stdlib/math/base/special/negalucas/test/test.native.js
Labels: feature, math, native

#931 feat: add C API to `@stdlib/math/base/special/lucas`
  lib/node_modules/@stdlib/math/base/special/lucas/README.md
  lib/node_modules/@stdlib/math/base/special/lucas/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/lucas/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/lucas/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/lucas/binding.gyp
  lib/node_modules/@stdlib/math/base/special/lucas/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/lucas/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/lucas/include.gypi
  lib/node_modules/@stdlib/math/base/special/lucas/include/stdlib/math/base/special/lucas.h
  lib/node_modules/@stdlib/math/base/special/lucas/manifest.json
  lib/node_modules/@stdlib/math/base/special/lucas/src/Makefile
  lib/node_modules/@stdlib/math/base/special/lucas/src/addon.c
  lib/node_modules/@stdlib/math/base/special/lucas/src/main.c
  lib/node_modules/@stdlib/math/base/special/lucas/test/test.native.js
Labels: feature, math, native

#806 feat: add `@stdlib/blas/base/srotg`
  lib/node_modules/@stdlib/blas/base/srotg/README.md
  lib/node_modules/@stdlib/blas/base/srotg/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/srotg/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/srotg/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/srotg/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/srotg/examples/index.js
  lib/node_modules/@stdlib/blas/base/srotg/lib/assign.js
  lib/node_modules/@stdlib/blas/base/srotg/lib/index.js
  lib/node_modules/@stdlib/blas/base/srotg/lib/main.js
  lib/node_modules/@stdlib/blas/base/srotg/package.json
  lib/node_modules/@stdlib/blas/base/srotg/test/test.assign.js
  lib/node_modules/@stdlib/blas/base/srotg/test/test.js
  lib/node_modules/@stdlib/blas/base/srotg/test/test.main.js
Labels: feature, intermediate, blas
