Repository stdlib-js/stdlib, pull requests merged in 2023-03, with the labels that each got.

#798 refactor: update add-on, examples, benchmarks, and docs
  lib/node_modules/@stdlib/blas/base/sdot/README.md
  lib/node_modules/@stdlib/blas/base/sdot/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/sdot/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/sdot/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/sdot/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/sdot/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/sdot/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/sdot/examples/index.js
  lib/node_modules/@stdlib/blas/base/sdot/include.gypi
  lib/node_modules/@stdlib/blas/base/sdot/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/sdot/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/sdot/lib/sdot.js
  lib/node_modules/@stdlib/blas/base/sdot/lib/sdot.native.js
  lib/node_modules/@stdlib/blas/base/sdot/manifest.json
  lib/node_modules/@stdlib/blas/base/sdot/package.json
  lib/node_modules/@stdlib/blas/base/sdot/src/addon.c
  lib/node_modules/@stdlib/blas/base/sdot/src/addon.cpp
  lib/node_modules/@stdlib/blas/base/sdot/src/sdot.c
  lib/node_modules/@stdlib/blas/base/sdot/src/sdot.f
  lib/node_modules/@stdlib/blas/base/sdot/src/sdot_cblas.c
  lib/node_modules/@stdlib/blas/base/sdot/src/sdot_f.c
  lib/node_modules/@stdlib/blas/base/sdot/src/sdotsub.f
Labels: native, blas

#800 refactor: update add-on, benchmarks, tests, and examples
  lib/node_modules/@stdlib/blas/base/snrm2/README.md
  lib/node_modules/@stdlib/blas/base/snrm2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/snrm2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/snrm2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/snrm2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/snrm2/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/snrm2/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/snrm2/examples/index.js
  lib/node_modules/@stdlib/blas/base/snrm2/include.gypi
  lib/node_modules/@stdlib/blas/base/snrm2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/snrm2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/snrm2/lib/snrm2.js
  lib/node_modules/@stdlib/blas/base/snrm2/lib/snrm2.native.js
  lib/node_modules/@stdlib/blas/base/snrm2/manifest.json
  lib/node_modules/@stdlib/blas/base/snrm2/package.json
  lib/node_modules/@stdlib/blas/base/snrm2/src/addon.c
  lib/node_modules/@stdlib/blas/base/snrm2/src/addon.cpp
  lib/node_modules/@stdlib/blas/base/snrm2/src/snrm2.c
  lib/node_modules/@stdlib/blas/base/snrm2/src/snrm2.f
  lib/node_modules/@stdlib/blas/base/snrm2/src/snrm2_cblas.c
  lib/node_modules/@stdlib/blas/base/snrm2/src/snrm2_f.c
  lib/node_modules/@stdlib/blas/base/snrm2/src/snrm2sub.f
  lib/node_modules/@stdlib/blas/base/snrm2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/snrm2/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/snrm2/test/test.snrm2.js
  lib/node_modules/@stdlib/blas/base/snrm2/test/test.snrm2.native.js
Labels: native, blas

#799 refactor: update add-on, examples, benchmarks, and docs
  lib/node_modules/@stdlib/blas/base/sdsdot/README.md
  lib/node_modules/@stdlib/blas/base/sdsdot/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/sdsdot/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/sdsdot/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/sdsdot/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/sdsdot/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/sdsdot/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/sdsdot/examples/index.js
  lib/node_modules/@stdlib/blas/base/sdsdot/include.gypi
  lib/node_modules/@stdlib/blas/base/sdsdot/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/sdsdot/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/sdsdot/lib/sdsdot.js
  lib/node_modules/@stdlib/blas/base/sdsdot/lib/sdsdot.native.js
  lib/node_modules/@stdlib/blas/base/sdsdot/manifest.json
  lib/node_modules/@stdlib/blas/base/sdsdot/package.json
  lib/node_modules/@stdlib/blas/base/sdsdot/src/addon.c
  lib/node_modules/@stdlib/blas/base/sdsdot/src/addon.cpp
  lib/node_modules/@stdlib/blas/base/sdsdot/src/sdsdot.c
  lib/node_modules/@stdlib/blas/base/sdsdot/src/sdsdot.f
  lib/node_modules/@stdlib/blas/base/sdsdot/src/sdsdot_cblas.c
  lib/node_modules/@stdlib/blas/base/sdsdot/src/sdsdot_f.c
  lib/node_modules/@stdlib/blas/base/sdsdot/src/sdsdotsub.f
Labels: native, blas

#929 feat: add `@stdlib/blas/base/drotg`
  lib/node_modules/@stdlib/blas/base/drotg/README.md
  lib/node_modules/@stdlib/blas/base/drotg/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/drotg/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/drotg/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/drotg/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/drotg/examples/index.js
  lib/node_modules/@stdlib/blas/base/drotg/lib/assign.js
  lib/node_modules/@stdlib/blas/base/drotg/lib/index.js
  lib/node_modules/@stdlib/blas/base/drotg/lib/main.js
  lib/node_modules/@stdlib/blas/base/drotg/package.json
  lib/node_modules/@stdlib/blas/base/drotg/test/test.assign.js
  lib/node_modules/@stdlib/blas/base/drotg/test/test.js
  lib/node_modules/@stdlib/blas/base/drotg/test/test.main.js
Labels: feature, blas

#964 docs: fix typo in contributing guide
  CONTRIBUTING.md
Labels: documentation

#969 feat: add Node-API macros for binary functions
  lib/node_modules/@stdlib/math/base/napi/binary/README.md
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary.h
  lib/node_modules/@stdlib/math/base/napi/binary/src/main.c
Labels: math, native

#974 feat: add `string/base/invcase`
  lib/node_modules/@stdlib/string/base/invcase/README.md
  lib/node_modules/@stdlib/string/base/invcase/benchmark/benchmark.js
  lib/node_modules/@stdlib/string/base/invcase/docs/repl.txt
  lib/node_modules/@stdlib/string/base/invcase/docs/types/index.d.ts
  lib/node_modules/@stdlib/string/base/invcase/docs/types/test.ts
  lib/node_modules/@stdlib/string/base/invcase/examples/index.js
  lib/node_modules/@stdlib/string/base/invcase/lib/index.js
  lib/node_modules/@stdlib/string/base/invcase/lib/main.js
  lib/node_modules/@stdlib/string/base/invcase/package.json
  lib/node_modules/@stdlib/string/base/invcase/test/test.js
Labels: feature

#983 feat: add `array/empty`
  lib/node_modules/@stdlib/array/empty/README.md
  lib/node_modules/@stdlib/array/empty/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/empty/benchmark/benchmark.length.complex128.js
  lib/node_modules/@stdlib/array/empty/benchmark/benchmark.length.complex64.js
  lib/node_modules/@stdlib/array/empty/benchmark/benchmark.length.float32.js
  lib/node_modules/@stdlib/array/empty/benchmark/benchmark.length.float64.js
  lib/node_modules/@stdlib/array/empty/benchmark/benchmark.length.generic.js
  lib/node_modules/@stdlib/array/empty/benchmark/benchmark.length.int16.js
  lib/node_modules/@stdlib/array/empty/benchmark/benchmark.length.int32.js
  lib/node_modules/@stdlib/array/empty/benchmark/benchmark.length.int8.js
  lib/node_modules/@stdlib/array/empty/benchmark/benchmark.length.uint16.js
  lib/node_modules/@stdlib/array/empty/benchmark/benchmark.length.uint32.js
  lib/node_modules/@stdlib/array/empty/benchmark/benchmark.length.uint8.js
  lib/node_modules/@stdlib/array/empty/benchmark/benchmark.length.uint8c.js
  lib/node_modules/@stdlib/array/empty/docs/repl.txt
  lib/node_modules/@stdlib/array/empty/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/empty/docs/types/test.ts
  lib/node_modules/@stdlib/array/empty/examples/index.js
  lib/node_modules/@stdlib/array/empty/lib/index.js
  lib/node_modules/@stdlib/array/empty/lib/is_buffer_uint8array.js
  lib/node_modules/@stdlib/array/empty/lib/main.js
  lib/node_modules/@stdlib/array/empty/lib/polyfill.js
  lib/node_modules/@stdlib/array/empty/package.json
  lib/node_modules/@stdlib/array/empty/test/test.js
  lib/node_modules/@stdlib/array/empty/test/test.main.js
  lib/node_modules/@stdlib/array/empty/test/test.polyfill.js
Labels: feature
