Repository stdlib-js/stdlib, pull requests merged in 2023-07, with the labels that each got.

#1041 feat: add `array/empty-like`
  lib/node_modules/@stdlib/array/empty-like/README.md
  lib/node_modules/@stdlib/array/empty-like/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/empty-like/benchmark/benchmark.length.complex128.js
  lib/node_modules/@stdlib/array/empty-like/benchmark/benchmark.length.complex64.js
  lib/node_modules/@stdlib/array/empty-like/benchmark/benchmark.length.float32.js
  lib/node_modules/@stdlib/array/empty-like/benchmark/benchmark.length.float64.js
  lib/node_modules/@stdlib/array/empty-like/benchmark/benchmark.length.generic.js
  lib/node_modules/@stdlib/array/empty-like/benchmark/benchmark.length.int16.js
  lib/node_modules/@stdlib/array/empty-like/benchmark/benchmark.length.int32.js
  lib/node_modules/@stdlib/array/empty-like/benchmark/benchmark.length.int8.js
  lib/node_modules/@stdlib/array/empty-like/benchmark/benchmark.length.uint16.js
  lib/node_modules/@stdlib/array/empty-like/benchmark/benchmark.length.uint32.js
  lib/node_modules/@stdlib/array/empty-like/benchmark/benchmark.length.uint8.js
  lib/node_modules/@stdlib/array/empty-like/benchmark/benchmark.length.uint8c.js
  lib/node_modules/@stdlib/array/empty-like/docs/repl.txt
  lib/node_modules/@stdlib/array/empty-like/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/empty-like/docs/types/test.ts
  lib/node_modules/@stdlib/array/empty-like/examples/index.js
  lib/node_modules/@stdlib/array/empty-like/lib/index.js
  lib/node_modules/@stdlib/array/empty-like/lib/main.js
  lib/node_modules/@stdlib/array/empty-like/package.json
  lib/node_modules/@stdlib/array/empty-like/test/test.js
Labels: feature

#976 feat: add native addon to cidentity API
  lib/node_modules/@stdlib/math/base/special/cidentity/README.md
  lib/node_modules/@stdlib/math/base/special/cidentity/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/cidentity/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/cidentity/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cidentity/binding.gyp
  lib/node_modules/@stdlib/math/base/special/cidentity/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/cidentity/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/cidentity/include.gypi
  lib/node_modules/@stdlib/math/base/special/cidentity/include/stdlib/math/base/special/cidentity.h
  lib/node_modules/@stdlib/math/base/special/cidentity/lib/native.js
  lib/node_modules/@stdlib/math/base/special/cidentity/manifest.json
  lib/node_modules/@stdlib/math/base/special/cidentity/package.json
  lib/node_modules/@stdlib/math/base/special/cidentity/src/Makefile
  lib/node_modules/@stdlib/math/base/special/cidentity/src/addon.c
  lib/node_modules/@stdlib/math/base/special/cidentity/src/main.c
  lib/node_modules/@stdlib/math/base/special/cidentity/test/test.native.js
Labels: math, native

#1054 fix: add missing ndarray test fixture
  lib/node_modules/@stdlib/ndarray/dispatch-by/test/fixtures/fill.js
Labels: bug
