Repository stdlib-js/stdlib, pull requests merged in 2023-05, with the labels that each got.

#1012 feat: add strided interface for Weibull distribution
  lib/node_modules/@stdlib/random/strided/weibull/README.md
  lib/node_modules/@stdlib/random/strided/weibull/benchmark/benchmark.float32.broadcast.js
  lib/node_modules/@stdlib/random/strided/weibull/benchmark/benchmark.float32.js
  lib/node_modules/@stdlib/random/strided/weibull/benchmark/benchmark.float64.broadcast.js
  lib/node_modules/@stdlib/random/strided/weibull/benchmark/benchmark.float64.broadcast.options.js
  lib/node_modules/@stdlib/random/strided/weibull/benchmark/benchmark.float64.js
  lib/node_modules/@stdlib/random/strided/weibull/benchmark/benchmark.float64.options.js
  lib/node_modules/@stdlib/random/strided/weibull/benchmark/benchmark.generic.broadcast.js
  lib/node_modules/@stdlib/random/strided/weibull/benchmark/benchmark.generic.js
  lib/node_modules/@stdlib/random/strided/weibull/docs/repl.txt
  lib/node_modules/@stdlib/random/strided/weibull/docs/types/index.d.ts
  lib/node_modules/@stdlib/random/strided/weibull/docs/types/test.ts
  lib/node_modules/@stdlib/random/strided/weibull/examples/index.js
  lib/node_modules/@stdlib/random/strided/weibull/lib/index.js
  lib/node_modules/@stdlib/random/strided/weibull/lib/main.js
  lib/node_modules/@stdlib/random/strided/weibull/lib/ndarray.js
  lib/node_modules/@stdlib/random/strided/weibull/lib/prng.js
  lib/node_modules/@stdlib/random/strided/weibull/package.json
  lib/node_modules/@stdlib/random/strided/weibull/test/test.js
  lib/node_modules/@stdlib/random/strided/weibull/test/test.main.js
  lib/node_modules/@stdlib/random/strided/weibull/test/test.ndarray.js
Labels: feature, math

#1023 feat: functionality for @stdlib/array/base/last
  lib/node_modules/@stdlib/array/base/last/README.md
  lib/node_modules/@stdlib/array/base/last/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/last/docs/repl.txt
  lib/node_modules/@stdlib/array/base/last/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/last/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/last/examples/index.js
  lib/node_modules/@stdlib/array/base/last/lib/index.js
  lib/node_modules/@stdlib/array/base/last/lib/main.js
  lib/node_modules/@stdlib/array/base/last/package.json
  lib/node_modules/@stdlib/array/base/last/test/test.js
Labels: feature, utils

#1005 build: add github action workflow to run random examples every 24h
  .github/workflows/random_examples.yml
  tools/make/lib/examples/javascript.mk
  tools/make/lib/ls/pkgs/lib.mk
Labels: ci
