Repository stdlib-js/stdlib, pull requests merged in 2024-02, with the labels that each got.

#1318 Simplify types of array/slice and array/base/slice via use of generic type parameter
  lib/node_modules/@stdlib/array/base/slice/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/slice/docs/types/index.d.ts
Labels: TypeScript

#1317 Use data type map instead of overloads
  lib/node_modules/@stdlib/array/convert/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/convert/docs/types/test.ts
  lib/node_modules/@stdlib/array/empty-like/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/empty-like/docs/types/test.ts
  lib/node_modules/@stdlib/array/empty/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/filled/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/filled/docs/types/test.ts
  lib/node_modules/@stdlib/array/full/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/full/docs/types/test.ts
  lib/node_modules/@stdlib/array/one-to/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/ones-like/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/ones-like/docs/types/test.ts
  lib/node_modules/@stdlib/array/ones/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/typed-complex/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/typed-complex/docs/types/test.ts
  lib/node_modules/@stdlib/array/typed/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/typed/docs/types/test.ts
  lib/node_modules/@stdlib/array/zero-to/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/zeros-like/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/zeros-like/docs/types/test.ts
  lib/node_modules/@stdlib/array/zeros/docs/types/index.d.ts
  lib/node_modules/@stdlib/types/index.d.ts
Labels: TypeScript

#1339 feat: add `array/base/count-same-value`
  lib/node_modules/@stdlib/array/base/count-same-value/README.md
  lib/node_modules/@stdlib/array/base/count-same-value/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/array/base/count-same-value/docs/repl.txt
  lib/node_modules/@stdlib/array/base/count-same-value/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/count-same-value/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/count-same-value/examples/index.js
  lib/node_modules/@stdlib/array/base/count-same-value/lib/index.js
  lib/node_modules/@stdlib/array/base/count-same-value/lib/main.js
  lib/node_modules/@stdlib/array/base/count-same-value/package.json
  lib/node_modules/@stdlib/array/base/count-same-value/test/test.js
Labels: feature

#1355 feat: add `slice` method to `array/complex128`
  lib/node_modules/@stdlib/array/complex128/README.md
  lib/node_modules/@stdlib/array/complex128/benchmark/benchmark.slice.js
  lib/node_modules/@stdlib/array/complex128/benchmark/benchmark.slice.length.js
  lib/node_modules/@stdlib/array/complex128/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/complex128/lib/main.js
  lib/node_modules/@stdlib/array/complex128/test/test.slice.js
Labels: Feature

#1271 feat: add `reduce` method to `array/complex64`
  lib/node_modules/@stdlib/array/complex64/README.md
  lib/node_modules/@stdlib/array/complex64/benchmark/benchmark.reduce.js
  lib/node_modules/@stdlib/array/complex64/benchmark/benchmark.reduce.length.js
  lib/node_modules/@stdlib/array/complex64/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/complex64/lib/main.js
  lib/node_modules/@stdlib/array/complex64/test/test.reduce.js
Labels: Feature, Needs Changes

#1367 feat: add `reduce` method to `array/complex128`
  lib/node_modules/@stdlib/array/complex128/README.md
  lib/node_modules/@stdlib/array/complex128/benchmark/benchmark.reduce.js
  lib/node_modules/@stdlib/array/complex128/benchmark/benchmark.reduce.length.js
  lib/node_modules/@stdlib/array/complex128/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/complex128/lib/main.js
  lib/node_modules/@stdlib/array/complex128/test/test.reduce.js
Labels: Feature

#1366 refactor: use generics to improve type declarations for async/if then
  lib/node_modules/@stdlib/utils/async/if-then/docs/types/index.d.ts
Labels: Enhancement, Needs Review, TypeScript

#1363 feat: add `string/base/replace-after`
  lib/node_modules/@stdlib/string/base/replace-after/README.md
  lib/node_modules/@stdlib/string/base/replace-after/benchmark/benchmark.js
  lib/node_modules/@stdlib/string/base/replace-after/docs/repl.txt
  lib/node_modules/@stdlib/string/base/replace-after/docs/types/index.d.ts
  lib/node_modules/@stdlib/string/base/replace-after/docs/types/test.ts
  lib/node_modules/@stdlib/string/base/replace-after/examples/index.js
  lib/node_modules/@stdlib/string/base/replace-after/lib/index.js
  lib/node_modules/@stdlib/string/base/replace-after/lib/main.js
  lib/node_modules/@stdlib/string/base/replace-after/package.json
  lib/node_modules/@stdlib/string/base/replace-after/test/test.js
Labels: Feature, Utilities

#1381 refactor: improve type definitions for async/if then
  lib/node_modules/@stdlib/utils/async/if-else/docs/types/index.d.ts
Labels: Enhancement, Needs Review, TypeScript

#1369 feat: add `string/base/for-each-right`
  lib/node_modules/@stdlib/string/base/for-each-right/README.md
  lib/node_modules/@stdlib/string/base/for-each-right/benchmark/benchmark.js
  lib/node_modules/@stdlib/string/base/for-each-right/docs/repl.txt
  lib/node_modules/@stdlib/string/base/for-each-right/docs/types/index.d.ts
  lib/node_modules/@stdlib/string/base/for-each-right/docs/types/test.ts
  lib/node_modules/@stdlib/string/base/for-each-right/examples/index.js
  lib/node_modules/@stdlib/string/base/for-each-right/lib/index.js
  lib/node_modules/@stdlib/string/base/for-each-right/lib/main.js
  lib/node_modules/@stdlib/string/base/for-each-right/package.json
  lib/node_modules/@stdlib/string/base/for-each-right/test/test.js
Labels: Feature, Needs Review, Utilities, Needs Changes

#1385 feat : add `complex/base/parse`
  lib/node_modules/@stdlib/complex/base/parse/README.md
  lib/node_modules/@stdlib/complex/base/parse/benchmark/benchmark.js
  lib/node_modules/@stdlib/complex/base/parse/docs/repl.txt
  lib/node_modules/@stdlib/complex/base/parse/docs/types/index.d.ts
  lib/node_modules/@stdlib/complex/base/parse/docs/types/test.ts
  lib/node_modules/@stdlib/complex/base/parse/examples/index.js
  lib/node_modules/@stdlib/complex/base/parse/lib/index.js
  lib/node_modules/@stdlib/complex/base/parse/lib/main.js
  lib/node_modules/@stdlib/complex/base/parse/package.json
  lib/node_modules/@stdlib/complex/base/parse/test/test.js
Labels: Feature, Needs Review, Utilities

#1374 feat: add `array/base/with`
  lib/node_modules/@stdlib/array/base/with/README.md
  lib/node_modules/@stdlib/array/base/with/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/with/docs/repl.txt
  lib/node_modules/@stdlib/array/base/with/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/with/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/with/examples/index.js
  lib/node_modules/@stdlib/array/base/with/lib/index.js
  lib/node_modules/@stdlib/array/base/with/lib/main.js
  lib/node_modules/@stdlib/array/base/with/package.json
  lib/node_modules/@stdlib/array/base/with/test/test.js
Labels: Feature, Needs Review, Utilities

#1368 feat: add `assert/is-ragged-nested-array`
  lib/node_modules/@stdlib/assert/is-ragged-nested-array/README.md
  lib/node_modules/@stdlib/assert/is-ragged-nested-array/benchmark/benchmark.js
  lib/node_modules/@stdlib/assert/is-ragged-nested-array/docs/repl.txt
  lib/node_modules/@stdlib/assert/is-ragged-nested-array/docs/types/index.d.ts
  lib/node_modules/@stdlib/assert/is-ragged-nested-array/docs/types/test.ts
  lib/node_modules/@stdlib/assert/is-ragged-nested-array/examples/index.js
  lib/node_modules/@stdlib/assert/is-ragged-nested-array/lib/index.js
  lib/node_modules/@stdlib/assert/is-ragged-nested-array/lib/main.js
  lib/node_modules/@stdlib/assert/is-ragged-nested-array/package.json
  lib/node_modules/@stdlib/assert/is-ragged-nested-array/test/test.js
Labels: Feature, Needs Review, Utilities

#1365 feat: add `string/base/replace-after-last`
  lib/node_modules/@stdlib/string/base/replace-after-last/README.md
  lib/node_modules/@stdlib/string/base/replace-after-last/benchmark/benchmark.js
  lib/node_modules/@stdlib/string/base/replace-after-last/docs/repl.txt
  lib/node_modules/@stdlib/string/base/replace-after-last/docs/types/index.d.ts
  lib/node_modules/@stdlib/string/base/replace-after-last/docs/types/test.ts
  lib/node_modules/@stdlib/string/base/replace-after-last/examples/index.js
  lib/node_modules/@stdlib/string/base/replace-after-last/lib/index.js
  lib/node_modules/@stdlib/string/base/replace-after-last/lib/main.js
  lib/node_modules/@stdlib/string/base/replace-after-last/package.json
  lib/node_modules/@stdlib/string/base/replace-after-last/test/test.js
Labels: Feature, Needs Review, Utilities, Needs Changes

#1364 feat: add `string/base/replace-before-last`
  lib/node_modules/@stdlib/string/base/replace-before-last/README.md
  lib/node_modules/@stdlib/string/base/replace-before-last/benchmark/benchmark.js
  lib/node_modules/@stdlib/string/base/replace-before-last/docs/repl.txt
  lib/node_modules/@stdlib/string/base/replace-before-last/docs/types/index.d.ts
  lib/node_modules/@stdlib/string/base/replace-before-last/docs/types/test.ts
  lib/node_modules/@stdlib/string/base/replace-before-last/examples/index.js
  lib/node_modules/@stdlib/string/base/replace-before-last/lib/index.js
  lib/node_modules/@stdlib/string/base/replace-before-last/lib/main.js
  lib/node_modules/@stdlib/string/base/replace-before-last/package.json
  lib/node_modules/@stdlib/string/base/replace-before-last/test/test.js
Labels: Feature, Needs Review, Utilities, Needs Changes

#1384 feat: add `array/base/count-same-value-zero`
  lib/node_modules/@stdlib/array/base/count-same-value-zero/README.md
  lib/node_modules/@stdlib/array/base/count-same-value-zero/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/array/base/count-same-value-zero/docs/repl.txt
  lib/node_modules/@stdlib/array/base/count-same-value-zero/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/count-same-value-zero/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/count-same-value-zero/example/index.js
  lib/node_modules/@stdlib/array/base/count-same-value-zero/lib/index.js
  lib/node_modules/@stdlib/array/base/count-same-value-zero/lib/main.js
  lib/node_modules/@stdlib/array/base/count-same-value-zero/package.json
  lib/node_modules/@stdlib/array/base/count-same-value-zero/test/test.js
Labels: Feature, Needs Review, Utilities, Needs Changes

#1362 feat: add `complex/parse-float64`
  lib/node_modules/@stdlib/complex/parse-float64/README.md
  lib/node_modules/@stdlib/complex/parse-float64/benchmark/benchmark.js
  lib/node_modules/@stdlib/complex/parse-float64/docs/repl.txt
  lib/node_modules/@stdlib/complex/parse-float64/docs/types/index.d.ts
  lib/node_modules/@stdlib/complex/parse-float64/docs/types/test.ts
  lib/node_modules/@stdlib/complex/parse-float64/examples/index.js
  lib/node_modules/@stdlib/complex/parse-float64/lib/index.js
  lib/node_modules/@stdlib/complex/parse-float64/lib/main.js
  lib/node_modules/@stdlib/complex/parse-float64/package.json
  lib/node_modules/@stdlib/complex/parse-float64/test/test.js
Labels: Feature, Needs Review, Utilities, Needs Changes

#1401 chore: added message for successful initialization
  tools/make/lib/init/Makefile
Labels: Needs Review, Documentation
