Repository stdlib-js/stdlib, pull requests merged in 2024-12, with the labels that each got.

#3296 feat: add `reduce` method to `array/fixed-endian-factory`
  lib/node_modules/@stdlib/array/fixed-endian-factory/README.md
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.reduce.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.reduce.length.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/lib/main.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/test/test.reduce.js
Labels: Ready To Merge

#3300 feat: add `reduceRight` method to `array/fixed-endian-factory`
  lib/node_modules/@stdlib/array/fixed-endian-factory/README.md
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.reduce_right.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.reduce_right.length.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/lib/main.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/test/test.reduce_right.js
Labels: Ready To Merge

#3278 feat: add `filter` method to `array/fixed-endian-factory`
  lib/node_modules/@stdlib/array/fixed-endian-factory/README.md
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.filter.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.filter.length.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/lib/main.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/test/test.filter.js
Labels: Ready To Merge

#3285 feat: add C `ndarray` API and refactor `blas/ext/base/ssumpw`
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/include/stdlib/blas/ext/base/ssumpw.h
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/lib/ssumpw.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/lib/ssumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/src/ssumpw.c
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/test/test.ssumpw.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/test/test.ssumpw.native.js
Labels: Feature, BLAS, C, Ready To Merge

#3098 feat: add `math/base/special/lcmf`
  lib/node_modules/@stdlib/math/base/special/lcmf/README.md
  lib/node_modules/@stdlib/math/base/special/lcmf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/lcmf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/lcmf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/lcmf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/lcmf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/lcmf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/lcmf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/lcmf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/lcmf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/lcmf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/lcmf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/lcmf/include.gypi
  lib/node_modules/@stdlib/math/base/special/lcmf/include/stdlib/math/base/special/lcmf.h
  lib/node_modules/@stdlib/math/base/special/lcmf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/lcmf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/lcmf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/lcmf/manifest.json
  lib/node_modules/@stdlib/math/base/special/lcmf/package.json
  lib/node_modules/@stdlib/math/base/special/lcmf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/lcmf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/lcmf/src/main.c
  lib/node_modules/@stdlib/math/base/special/lcmf/test/test.js
  lib/node_modules/@stdlib/math/base/special/lcmf/test/test.native.js
Labels: Feature, Needs Review, Math, Ready To Merge

#3291 feat: add `with` method to `array/fixed-endian-factory`
  lib/node_modules/@stdlib/array/fixed-endian-factory/README.md
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.with.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.with.length.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/lib/main.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/test/test.with.js
Labels: Ready To Merge

#3319 docs: update examples in `math/base/special/lcmf`
  lib/node_modules/@stdlib/math/base/special/lcmf/README.md
  lib/node_modules/@stdlib/math/base/special/lcmf/examples/index.js
Labels: Math

#3317 feat: add `constants/float32/max-safe-nth-tribonacci`
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-tribonacci/README.md
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-tribonacci/docs/repl.txt
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-tribonacci/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-tribonacci/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-tribonacci/examples/index.js
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-tribonacci/include/stdlib/constants/float64/max_safe_nth_tribonacci.h
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-tribonacci/lib/index.js
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-tribonacci/manifest.json
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-tribonacci/package.json
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-tribonacci/test/test.js
Labels: Feature

#3283 feat: add `includes` method to `array/fixed-endian-factory`
  lib/node_modules/@stdlib/array/fixed-endian-factory/README.md
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.includes.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.includes.length.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/lib/main.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/test/test.includes.js
Labels: Feature, Needs Changes, Ready To Merge

#3324 refactor: use external constant in `math/base/special/tribonacci`
  lib/node_modules/@stdlib/math/base/special/tribonacci/lib/main.js
  lib/node_modules/@stdlib/math/base/special/tribonacci/manifest.json
  lib/node_modules/@stdlib/math/base/special/tribonacci/src/main.c
Labels: Math

#3321 fix: update the return type and remove unnecessary branches/tests in `blas/ext/base/ssumpw`
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/include/stdlib/blas/ext/base/ssumpw.h
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/test/test.ssumpw.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/test/test.ssumpw.native.js
Labels: BLAS

#3339 fix: add the missing `type` property to the meta for `eslint/rule/no-multiple-empty-lines`
  lib/node_modules/@stdlib/_tools/eslint/rules/no-multiple-empty-lines/lib/main.js
Labels: Tools, Ready To Merge

#3328 feat: add `constants/float32/sqrt-two`
  lib/node_modules/@stdlib/constants/float32/sqrt-two/README.md
  lib/node_modules/@stdlib/constants/float32/sqrt-two/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/sqrt-two/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/sqrt-two/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/sqrt-two/examples/index.js
  lib/node_modules/@stdlib/constants/float32/sqrt-two/include/stdlib/constants/float32/sqrt_two.h
  lib/node_modules/@stdlib/constants/float32/sqrt-two/lib/index.js
  lib/node_modules/@stdlib/constants/float32/sqrt-two/manifest.json
  lib/node_modules/@stdlib/constants/float32/sqrt-two/package.json
  lib/node_modules/@stdlib/constants/float32/sqrt-two/test/test.js
Labels: Ready To Merge

#3326 feat: add `constants/float32/sqrt-pi`
  lib/node_modules/@stdlib/constants/float32/sqrt-pi/README.md
  lib/node_modules/@stdlib/constants/float32/sqrt-pi/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/sqrt-pi/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/sqrt-pi/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/sqrt-pi/examples/index.js
  lib/node_modules/@stdlib/constants/float32/sqrt-pi/include/stdlib/constants/float32/sqrt_pi.h
  lib/node_modules/@stdlib/constants/float32/sqrt-pi/lib/index.js
  lib/node_modules/@stdlib/constants/float32/sqrt-pi/manifest.json
  lib/node_modules/@stdlib/constants/float32/sqrt-pi/package.json
  lib/node_modules/@stdlib/constants/float32/sqrt-pi/test/test.js
Labels: Ready To Merge

#3362 refactor: update `stride` handling and function documentation for `blas/ext/base/dasumpw`
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/lib/dasumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/test/test.dasumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/test/test.dasumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/test/test.ndarray.native.js
Labels: BLAS, Ready To Merge

#3334 feat: add `constants/float32/sqrt-half`
  lib/node_modules/@stdlib/constants/float32/sqrt-half/README.md
  lib/node_modules/@stdlib/constants/float32/sqrt-half/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/sqrt-half/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/sqrt-half/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/sqrt-half/examples/index.js
  lib/node_modules/@stdlib/constants/float32/sqrt-half/include/stdlib/constants/float64/sqrt_half.h
  lib/node_modules/@stdlib/constants/float32/sqrt-half/lib/index.js
  lib/node_modules/@stdlib/constants/float32/sqrt-half/manifest.json
  lib/node_modules/@stdlib/constants/float32/sqrt-half/package.json
  lib/node_modules/@stdlib/constants/float32/sqrt-half/test/test.js
Labels: Ready To Merge

#3322 feat: add `constants/float32/sqrt-three`
  lib/node_modules/@stdlib/constants/float32/sqrt-three/README.md
  lib/node_modules/@stdlib/constants/float32/sqrt-three/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/sqrt-three/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/sqrt-three/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/sqrt-three/examples/index.js
  lib/node_modules/@stdlib/constants/float32/sqrt-three/include/stdlib/constants/float64/sqrt_three.h
  lib/node_modules/@stdlib/constants/float32/sqrt-three/lib/index.js
  lib/node_modules/@stdlib/constants/float32/sqrt-three/manifest.json
  lib/node_modules/@stdlib/constants/float32/sqrt-three/package.json
  lib/node_modules/@stdlib/constants/float32/sqrt-three/test/test.js
Labels: Feature, Ready To Merge

#3335 feat: add `constants/float32/sqrt-half-pi`
  lib/node_modules/@stdlib/constants/float32/sqrt-half-pi/README.md
  lib/node_modules/@stdlib/constants/float32/sqrt-half-pi/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/sqrt-half-pi/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/sqrt-half-pi/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/sqrt-half-pi/examples/index.js
  lib/node_modules/@stdlib/constants/float32/sqrt-half-pi/include/stdlib/constants/float64/sqrt_half_pi.h
  lib/node_modules/@stdlib/constants/float32/sqrt-half-pi/lib/index.js
  lib/node_modules/@stdlib/constants/float32/sqrt-half-pi/manifest.json
  lib/node_modules/@stdlib/constants/float32/sqrt-half-pi/package.json
  lib/node_modules/@stdlib/constants/float32/sqrt-half-pi/test/test.js
Labels: Ready To Merge

#3351 feat: add `constants/float32/sqrt-phi`
  lib/node_modules/@stdlib/constants/float32/sqrt-phi/README.md
  lib/node_modules/@stdlib/constants/float32/sqrt-phi/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/sqrt-phi/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/sqrt-phi/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/sqrt-phi/examples/index.js
  lib/node_modules/@stdlib/constants/float32/sqrt-phi/include/stdlib/constants/float64/sqrt_phi.h
  lib/node_modules/@stdlib/constants/float32/sqrt-phi/lib/index.js
  lib/node_modules/@stdlib/constants/float32/sqrt-phi/manifest.json
  lib/node_modules/@stdlib/constants/float32/sqrt-phi/package.json
  lib/node_modules/@stdlib/constants/float32/sqrt-phi/test/test.js
Labels: Ready To Merge

#3340 feat: add the `fixer` function to `eslint/rules/no-empty-comments`
  lib/node_modules/@stdlib/_tools/eslint/rules/no-empty-comments/lib/main.js
  lib/node_modules/@stdlib/_tools/eslint/rules/no-empty-comments/test/fixtures/invalid.js
Labels: Feature, Tools, Ready To Merge

#3330 fix: add the missing `type` property to meta for `eslint/rule/require-leading-slash`
  lib/node_modules/@stdlib/_tools/eslint/rules/require-leading-slash/lib/main.js
Labels: Tools, Ready To Merge

#3248 refactor: update `stride` handling and function documentation for `blas/ext/base/dapxsumpw`
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/lib/dapxsumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/lib/dapxsumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/test/test.dapxsumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/test/test.dapxsumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/test/test.ndarray.native.js
Labels: BLAS, Ready To Merge

#3247 refactor: update `stride` handling and function documentation for `blas/ext/base/dapxsumors`
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/lib/dapxsumors.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/lib/dapxsumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/test/test.dapxsumors.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/test/test.dapxsumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/test/test.ndarray.native.js
Labels: BLAS, Ready To Merge

#3125 feat: add `math/base/assert/is-oddf`
  lib/node_modules/@stdlib/math/base/assert/is-oddf/README.md
  lib/node_modules/@stdlib/math/base/assert/is-oddf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-oddf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-oddf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-oddf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-oddf/binding.gyp
  lib/node_modules/@stdlib/math/base/assert/is-oddf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/assert/is-oddf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/assert/is-oddf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/assert/is-oddf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-oddf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/assert/is-oddf/examples/index.js
  lib/node_modules/@stdlib/math/base/assert/is-oddf/include.gypi
  lib/node_modules/@stdlib/math/base/assert/is-oddf/include/stdlib/math/base/assert/is_oddf.h
  lib/node_modules/@stdlib/math/base/assert/is-oddf/lib/index.js
  lib/node_modules/@stdlib/math/base/assert/is-oddf/lib/main.js
  lib/node_modules/@stdlib/math/base/assert/is-oddf/lib/native.js
  lib/node_modules/@stdlib/math/base/assert/is-oddf/manifest.json
  lib/node_modules/@stdlib/math/base/assert/is-oddf/package.json
  lib/node_modules/@stdlib/math/base/assert/is-oddf/src/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-oddf/src/addon.c
  lib/node_modules/@stdlib/math/base/assert/is-oddf/src/main.c
  lib/node_modules/@stdlib/math/base/assert/is-oddf/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-oddf/test/test.native.js
Labels: Feature, Math, Ready To Merge

#3251 feat: add `array/base/broadcasted-ternary5d`
  lib/node_modules/@stdlib/array/base/broadcasted-ternary5d/README.md
  lib/node_modules/@stdlib/array/base/broadcasted-ternary5d/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/broadcasted-ternary5d/docs/repl.txt
  lib/node_modules/@stdlib/array/base/broadcasted-ternary5d/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/broadcasted-ternary5d/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/broadcasted-ternary5d/examples/index.js
  lib/node_modules/@stdlib/array/base/broadcasted-ternary5d/lib/index.js
  lib/node_modules/@stdlib/array/base/broadcasted-ternary5d/lib/main.js
  lib/node_modules/@stdlib/array/base/broadcasted-ternary5d/package.json
  lib/node_modules/@stdlib/array/base/broadcasted-ternary5d/test/test.js
Labels: Feature, Utilities

#3220 feat: add `array/base/unary4d-by`
  lib/node_modules/@stdlib/array/base/unary4d-by/README.md
  lib/node_modules/@stdlib/array/base/unary4d-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/unary4d-by/docs/repl.txt
  lib/node_modules/@stdlib/array/base/unary4d-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/unary4d-by/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/unary4d-by/examples/index.js
  lib/node_modules/@stdlib/array/base/unary4d-by/lib/index.js
  lib/node_modules/@stdlib/array/base/unary4d-by/lib/main.js
  lib/node_modules/@stdlib/array/base/unary4d-by/package.json
  lib/node_modules/@stdlib/array/base/unary4d-by/test/test.js
Labels: Feature, Utilities

#3457 docs: add missing `f` suffixes and `stdbool` header in `math/base/assert/is-oddf`
  lib/node_modules/@stdlib/math/base/assert/is-oddf/README.md
  lib/node_modules/@stdlib/math/base/assert/is-oddf/src/main.c
Labels: Math, Ready To Merge

#3454 feat: add C implementation of `stats/base/dists/arcsine/logpdf`
  lib/node_modules/@stdlib/stats/base/dists/arcsine/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/arcsine/logpdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/logpdf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/arcsine/logpdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/logpdf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/arcsine/logpdf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/arcsine/logpdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/logpdf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/arcsine/logpdf/include/stdlib/stats/base/dists/arcsine/logpdf.h
  lib/node_modules/@stdlib/stats/base/dists/arcsine/logpdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/logpdf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/arcsine/logpdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/arcsine/logpdf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/arcsine/logpdf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/logpdf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/logpdf/test/test.native.js
Labels: Ready To Merge

#3221 feat: add `array/base/unary5d-by`
  lib/node_modules/@stdlib/array/base/unary5d-by/README.md
  lib/node_modules/@stdlib/array/base/unary5d-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/unary5d-by/docs/repl.txt
  lib/node_modules/@stdlib/array/base/unary5d-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/unary5d-by/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/unary5d-by/examples/index.js
  lib/node_modules/@stdlib/array/base/unary5d-by/lib/index.js
  lib/node_modules/@stdlib/array/base/unary5d-by/lib/main.js
  lib/node_modules/@stdlib/array/base/unary5d-by/package.json
  lib/node_modules/@stdlib/array/base/unary5d-by/test/test.js
Labels: Feature, Utilities

#3230 feat: add `array/base/broadcasted/quaternary3d`
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary3d/README.md
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary3d/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary3d/docs/repl.txt
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary3d/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary3d/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary3d/examples/index.js
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary3d/lib/index.js
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary3d/lib/main.js
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary3d/package.json
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary3d/test/test.js
Labels: Feature, Utilities

#3456 feat: add C `ndarray` implementation for `blas/base/caxpy`
  lib/node_modules/@stdlib/blas/base/caxpy/README.md
  lib/node_modules/@stdlib/blas/base/caxpy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/caxpy/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/caxpy/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/base/caxpy/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/caxpy/binding.gyp
  lib/node_modules/@stdlib/blas/base/caxpy/examples/c/Makefile
  lib/node_modules/@stdlib/blas/base/caxpy/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/caxpy/include.gypi
  lib/node_modules/@stdlib/blas/base/caxpy/include/stdlib/blas/base/caxpy.h
  lib/node_modules/@stdlib/blas/base/caxpy/include/stdlib/blas/base/caxpy_cblas.h
  lib/node_modules/@stdlib/blas/base/caxpy/lib/caxpy.native.js
  lib/node_modules/@stdlib/blas/base/caxpy/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/caxpy/manifest.json
  lib/node_modules/@stdlib/blas/base/caxpy/package.json
  lib/node_modules/@stdlib/blas/base/caxpy/src/Makefile
  lib/node_modules/@stdlib/blas/base/caxpy/src/addon.c
  lib/node_modules/@stdlib/blas/base/caxpy/src/caxpy.c
  lib/node_modules/@stdlib/blas/base/caxpy/src/caxpy_cblas.c
  lib/node_modules/@stdlib/blas/base/caxpy/src/caxpy_ndarray.c
  lib/node_modules/@stdlib/blas/base/caxpy/test/test.caxpy.native.js
  lib/node_modules/@stdlib/blas/base/caxpy/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/daxpy/README.md
Labels: Feature, BLAS, C

#3320 refactor: use `constants/float64/max-ln` in `math/base/special/riemann-zeta`
  lib/node_modules/@stdlib/math/base/special/riemann-zeta/include/stdlib/math/base/special/riemann_zeta.h
  lib/node_modules/@stdlib/math/base/special/riemann-zeta/lib/main.js
Labels: Math

#3342 feat: add `constants/float32/ln-pi`
  lib/node_modules/@stdlib/constants/float32/ln-pi/README.md
  lib/node_modules/@stdlib/constants/float32/ln-pi/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/ln-pi/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/ln-pi/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/ln-pi/examples/index.js
  lib/node_modules/@stdlib/constants/float32/ln-pi/include/stdlib/constants/float32/ln_pi.h
  lib/node_modules/@stdlib/constants/float32/ln-pi/lib/index.js
  lib/node_modules/@stdlib/constants/float32/ln-pi/manifest.json
  lib/node_modules/@stdlib/constants/float32/ln-pi/package.json
  lib/node_modules/@stdlib/constants/float32/ln-pi/test/test.js
Labels: Ready To Merge

#3396 feat: add C `ndarray` API and refactor `blas/ext/base/dssumors`
  lib/node_modules/@stdlib/blas/ext/base/dssumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dssumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dssumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dssumors/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dssumors/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dssumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/include/stdlib/blas/ext/base/dssumors.h
  lib/node_modules/@stdlib/blas/ext/base/dssumors/lib/dssumors.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/lib/dssumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dssumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dssumors/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dssumors/test/test.dssumors.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/test/test.dssumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/test/test.ndarray.native.js
Labels: Feature, BLAS, C, Ready To Merge

#3528 feat: add C `ndarray` API and refactor `blas/ext/base/dssumpw`
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/include/stdlib/blas/ext/base/dssumpw.h
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/lib/dssumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/lib/dssumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/src/dssumpw.c
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/test/test.dssumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/test/test.dssumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/test/test.ndarray.native.js
Labels: Feature, BLAS, C, Ready To Merge

#3333 feat: add `constants/float32/ln-half`
  lib/node_modules/@stdlib/constants/float32/ln-half/README.md
  lib/node_modules/@stdlib/constants/float32/ln-half/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/ln-half/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/ln-half/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/ln-half/examples/index.js
  lib/node_modules/@stdlib/constants/float32/ln-half/include/stdlib/constants/float32/ln_half.h
  lib/node_modules/@stdlib/constants/float32/ln-half/lib/index.js
  lib/node_modules/@stdlib/constants/float32/ln-half/manifest.json
  lib/node_modules/@stdlib/constants/float32/ln-half/package.json
  lib/node_modules/@stdlib/constants/float32/ln-half/test/test.js
Labels: Feature, Ready To Merge

#3337 feat: add `constants/float32/max-safe-nth-lucas`
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-lucas/README.md
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-lucas/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-lucas/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-lucas/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-lucas/examples/index.js
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-lucas/include/stdlib/constants/float32/max_safe_nth_lucas.h
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-lucas/lib/index.js
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-lucas/manifest.json
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-lucas/package.json
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-lucas/test/test.js
Labels: Feature, Ready To Merge

#3345 feat: add `constants/float32/sqrt-two-pi`
  lib/node_modules/@stdlib/constants/float32/sqrt-two-pi/README.md
  lib/node_modules/@stdlib/constants/float32/sqrt-two-pi/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/sqrt-two-pi/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/sqrt-two-pi/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/sqrt-two-pi/examples/index.js
  lib/node_modules/@stdlib/constants/float32/sqrt-two-pi/include/stdlib/constants/float32/sqrt_two_pi.h
  lib/node_modules/@stdlib/constants/float32/sqrt-two-pi/lib/index.js
  lib/node_modules/@stdlib/constants/float32/sqrt-two-pi/manifest.json
  lib/node_modules/@stdlib/constants/float32/sqrt-two-pi/package.json
  lib/node_modules/@stdlib/constants/float32/sqrt-two-pi/test/test.js
Labels: Feature, Ready To Merge

#3301 feat: add `array/base/broadcasted/quaternary5d`
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary5d/README.md
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary5d/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary5d/docs/repl.txt
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary5d/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary5d/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary5d/examples/index.js
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary5d/lib/index.js
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary5d/lib/main.js
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary5d/package.json
  lib/node_modules/@stdlib/array/base/broadcasted-quaternary5d/test/test.js
Labels: Feature, Utilities, Ready To Merge

#3267 feat: add `array/base/broadcasted-quinary4d`
  lib/node_modules/@stdlib/array/base/broadcasted-quinary4d/README.md
  lib/node_modules/@stdlib/array/base/broadcasted-quinary4d/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/broadcasted-quinary4d/docs/repl.txt
  lib/node_modules/@stdlib/array/base/broadcasted-quinary4d/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/broadcasted-quinary4d/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/broadcasted-quinary4d/examples/index.js
  lib/node_modules/@stdlib/array/base/broadcasted-quinary4d/lib/index.js
  lib/node_modules/@stdlib/array/base/broadcasted-quinary4d/lib/main.js
  lib/node_modules/@stdlib/array/base/broadcasted-quinary4d/package.json
  lib/node_modules/@stdlib/array/base/broadcasted-quinary4d/test/test.js
Labels: Feature, Ready To Merge

#3314 feat: add `ndarray/map`
  lib/node_modules/@stdlib/ndarray/map/README.md
  lib/node_modules/@stdlib/ndarray/map/benchmark/benchmark.1d.js
  lib/node_modules/@stdlib/ndarray/map/benchmark/benchmark.2d.js
  lib/node_modules/@stdlib/ndarray/map/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/map/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/map/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/map/examples/index.js
  lib/node_modules/@stdlib/ndarray/map/lib/index.js
  lib/node_modules/@stdlib/ndarray/map/lib/main.js
  lib/node_modules/@stdlib/ndarray/map/package.json
  lib/node_modules/@stdlib/ndarray/map/test/test.js
Labels: Feature, Ready To Merge

#3903 bench: update benchmarks in `blas/ext/base/ssumpw` according to project conventions
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/benchmark/benchmark.ndarray.native.js
Labels: BLAS, Ready To Merge

#3907 bench: refactor benchmarks and update function parameter description
  lib/node_modules/@stdlib/math/base/special/rempio2/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/rempio2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/rempio2/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/rempio2/src/main.c
Labels: Math

#3530 feat: add C `ndarray` API and refactor `blas/ext/base/dsumkbn`
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/include/stdlib/blas/ext/base/dsumkbn.h
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/lib/dsumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/lib/dsumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/src/dsumkbn.c
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/test/test.dsumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/test/test.dsumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/test/test.ndarray.native.js
Labels: Feature, BLAS, C, Ready To Merge

#3394 refactor: update `math/base/special/cexp` to follow latest project conventions
  lib/node_modules/@stdlib/math/base/special/cexp/manifest.json
  lib/node_modules/@stdlib/math/base/special/cexp/src/main.c
Labels: Math, Ready To Merge

#3116 feat: add `math/base/special/sqrtpif`
  lib/node_modules/@stdlib/math/base/special/sqrtpif/README.md
  lib/node_modules/@stdlib/math/base/special/sqrtpif/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sqrtpif/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sqrtpif/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/sqrtpif/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sqrtpif/binding.gyp
  lib/node_modules/@stdlib/math/base/special/sqrtpif/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/sqrtpif/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/sqrtpif/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/sqrtpif/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/sqrtpif/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/sqrtpif/examples/index.js
  lib/node_modules/@stdlib/math/base/special/sqrtpif/include.gypi
  lib/node_modules/@stdlib/math/base/special/sqrtpif/include/stdlib/math/base/special/sqrtpif.h
  lib/node_modules/@stdlib/math/base/special/sqrtpif/lib/index.js
  lib/node_modules/@stdlib/math/base/special/sqrtpif/lib/main.js
  lib/node_modules/@stdlib/math/base/special/sqrtpif/lib/native.js
  lib/node_modules/@stdlib/math/base/special/sqrtpif/manifest.json
  lib/node_modules/@stdlib/math/base/special/sqrtpif/package.json
  lib/node_modules/@stdlib/math/base/special/sqrtpif/src/Makefile
  lib/node_modules/@stdlib/math/base/special/sqrtpif/src/addon.c
  lib/node_modules/@stdlib/math/base/special/sqrtpif/src/main.c
  lib/node_modules/@stdlib/math/base/special/sqrtpif/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/sqrtpif/test/fixtures/julia/huge_positive.json
  lib/node_modules/@stdlib/math/base/special/sqrtpif/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/sqrtpif/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/sqrtpif/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/sqrtpif/test/fixtures/julia/small_positive.json
  lib/node_modules/@stdlib/math/base/special/sqrtpif/test/fixtures/julia/smaller.json
  lib/node_modules/@stdlib/math/base/special/sqrtpif/test/fixtures/julia/subnormal.json
  lib/node_modules/@stdlib/math/base/special/sqrtpif/test/fixtures/julia/tiny_positive.json
  lib/node_modules/@stdlib/math/base/special/sqrtpif/test/fixtures/julia/very_large_positive.json
  lib/node_modules/@stdlib/math/base/special/sqrtpif/test/test.js
  lib/node_modules/@stdlib/math/base/special/sqrtpif/test/test.native.js
Labels: Feature, Math, Ready To Merge

#3375 feat: add `math/base/special/negalucasf`
  lib/node_modules/@stdlib/math/base/special/negalucasf/README.md
  lib/node_modules/@stdlib/math/base/special/negalucasf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/negalucasf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/negalucasf/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/negalucasf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/negalucasf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/negalucasf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/negalucasf/benchmark/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/negalucasf/benchmark/julia/benchmark.jl
  lib/node_modules/@stdlib/math/base/special/negalucasf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/negalucasf/docs/img/equation_negalucas_lucas.svg
  lib/node_modules/@stdlib/math/base/special/negalucasf/docs/img/equation_negalucas_recurrence_relation.svg
  lib/node_modules/@stdlib/math/base/special/negalucasf/docs/img/equation_negalucas_sequence.svg
  lib/node_modules/@stdlib/math/base/special/negalucasf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/negalucasf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/negalucasf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/negalucasf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/negalucasf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/negalucasf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/negalucasf/include.gypi
  lib/node_modules/@stdlib/math/base/special/negalucasf/include/stdlib/math/base/special/negalucasf.h
  lib/node_modules/@stdlib/math/base/special/negalucasf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/negalucasf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/negalucasf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/negalucasf/lib/negalucas.json
  lib/node_modules/@stdlib/math/base/special/negalucasf/manifest.json
  lib/node_modules/@stdlib/math/base/special/negalucasf/package.json
  lib/node_modules/@stdlib/math/base/special/negalucasf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/negalucasf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/negalucasf/src/main.c
  lib/node_modules/@stdlib/math/base/special/negalucasf/test/test.js
  lib/node_modules/@stdlib/math/base/special/negalucasf/test/test.native.js
Labels: Math, Ready To Merge

#3455 feat: add implementation of `stats/base/dists/arcsine/pdf`
  lib/node_modules/@stdlib/stats/base/dists/arcsine/pdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/arcsine/pdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/pdf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/arcsine/pdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/pdf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/arcsine/pdf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/arcsine/pdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/pdf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/arcsine/pdf/include/stdlib/stats/base/dists/arcsine/pdf.h
  lib/node_modules/@stdlib/stats/base/dists/arcsine/pdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/pdf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/arcsine/pdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/arcsine/pdf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/arcsine/pdf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/pdf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/pdf/test/test.native.js
Labels: Statistics, Ready To Merge

#3980 refactor: use inbuilt macro instead of new variable for `MAX_SAFE_NTH_LUCAS` in `math/base/special/negalucasf`
  lib/node_modules/@stdlib/math/base/special/negalucasf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/negalucasf/manifest.json
  lib/node_modules/@stdlib/math/base/special/negalucasf/src/main.c
Labels: Math, Ready To Merge

#4015 docs: update function descriptions, move link in `math/base/special/sqrtpif`
  lib/node_modules/@stdlib/math/base/special/sqrtpif/README.md
  lib/node_modules/@stdlib/math/base/special/sqrtpif/include/stdlib/math/base/special/sqrtpif.h
  lib/node_modules/@stdlib/math/base/special/sqrtpif/src/main.c
Labels: Math, Ready To Merge

#3941 refactor: replace built-ins by stdlib packages, update benchmarks in `math/base/special/trunc`
  lib/node_modules/@stdlib/math/base/special/trunc/README.md
  lib/node_modules/@stdlib/math/base/special/trunc/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/trunc/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/trunc/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/trunc/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/trunc/examples/index.js
  lib/node_modules/@stdlib/math/base/special/trunc/manifest.json
  lib/node_modules/@stdlib/math/base/special/trunc/src/main.c
  lib/node_modules/@stdlib/math/base/special/trunc/test/test.js
  lib/node_modules/@stdlib/math/base/special/trunc/test/test.native.js
Labels: Math, Ready To Merge

#4051 refactor: update `stats/base/dmax` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dmax/include.gypi
  lib/node_modules/@stdlib/stats/base/dmax/manifest.json
  lib/node_modules/@stdlib/stats/base/dmax/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmax/src/addon.cpp
Labels: Statistics

#4072 refactor: update `stats/base/dcumax` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dcumax/include.gypi
  lib/node_modules/@stdlib/stats/base/dcumax/manifest.json
  lib/node_modules/@stdlib/stats/base/dcumax/src/addon.c
  lib/node_modules/@stdlib/stats/base/dcumax/src/addon.cpp
Labels: Statistics

#4073 refactor: update `stats/base/dcumaxabs` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dcumaxabs/include.gypi
  lib/node_modules/@stdlib/stats/base/dcumaxabs/manifest.json
  lib/node_modules/@stdlib/stats/base/dcumaxabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/dcumaxabs/src/addon.cpp
Labels: Statistics

#4074 refactor: update `stats/base/dcumin` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dcumin/include.gypi
  lib/node_modules/@stdlib/stats/base/dcumin/manifest.json
  lib/node_modules/@stdlib/stats/base/dcumin/src/addon.c
  lib/node_modules/@stdlib/stats/base/dcumin/src/addon.cpp
Labels: Statistics

#4075 refactor: update `stats/base/dcuminabs` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dcuminabs/include.gypi
  lib/node_modules/@stdlib/stats/base/dcuminabs/manifest.json
  lib/node_modules/@stdlib/stats/base/dcuminabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/dcuminabs/src/addon.cpp
Labels: Statistics

#4080 refactor: update `stats/base/dmaxabssorted` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dmaxabssorted/include.gypi
  lib/node_modules/@stdlib/stats/base/dmaxabssorted/manifest.json
  lib/node_modules/@stdlib/stats/base/dmaxabssorted/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmaxabssorted/src/addon.cpp
Labels: Statistics

#4084 refactor: update `stats/base/dmaxsorted` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dmaxsorted/include.gypi
  lib/node_modules/@stdlib/stats/base/dmaxsorted/manifest.json
  lib/node_modules/@stdlib/stats/base/dmaxsorted/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmaxsorted/src/addon.cpp
Labels: Statistics

#4087 refactor: update `stats/base/dmean` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dmean/include.gypi
  lib/node_modules/@stdlib/stats/base/dmean/manifest.json
  lib/node_modules/@stdlib/stats/base/dmean/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmean/src/addon.cpp
Labels: Statistics

#4088 refactor: update `stats/base/dmeankbn` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dmeankbn/include.gypi
  lib/node_modules/@stdlib/stats/base/dmeankbn/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeankbn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeankbn/src/addon.cpp
Labels: Statistics

#4096 refactor: update `stats/base/dmeankbn2` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dmeankbn2/include.gypi
  lib/node_modules/@stdlib/stats/base/dmeankbn2/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeankbn2/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeankbn2/src/addon.cpp
Labels: Statistics

#4097 refactor: update `stats/base/dmeanli` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dmeanli/include.gypi
  lib/node_modules/@stdlib/stats/base/dmeanli/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeanli/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeanli/src/addon.cpp
Labels: Statistics

#4098 refactor: update `stats/base/dmeanlipw` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dmeanlipw/include.gypi
  lib/node_modules/@stdlib/stats/base/dmeanlipw/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeanlipw/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeanlipw/src/addon.cpp
Labels: Statistics

#4099 refactor: update `stats/base/dmeanors` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dmeanors/include.gypi
  lib/node_modules/@stdlib/stats/base/dmeanors/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeanors/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeanors/src/addon.cpp
Labels: Statistics

#4100 refactor: update `stats/base/dmeanpn` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dmeanpn/include.gypi
  lib/node_modules/@stdlib/stats/base/dmeanpn/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeanpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeanpn/src/addon.cpp
Labels: Statistics

#4079 refactor: update `stats/base/dmaxabs` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dmaxabs/include.gypi
  lib/node_modules/@stdlib/stats/base/dmaxabs/manifest.json
  lib/node_modules/@stdlib/stats/base/dmaxabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmaxabs/src/addon.cpp
Labels: Statistics

#3323 feat: add a `fixer` function to `eslint/rules/require-order`
  lib/node_modules/@stdlib/_tools/eslint/rules/require-order/lib/main.js
  lib/node_modules/@stdlib/_tools/eslint/rules/require-order/test/fixtures/invalid.js
Labels: Feature, Tools

#3341 feat: add `constants/float32/ln-ten`
  lib/node_modules/@stdlib/constants/float32/ln-ten/README.md
  lib/node_modules/@stdlib/constants/float32/ln-ten/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/ln-ten/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/ln-ten/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/ln-ten/examples/index.js
  lib/node_modules/@stdlib/constants/float32/ln-ten/include/stdlib/constants/float32/ln_ten.h
  lib/node_modules/@stdlib/constants/float32/ln-ten/lib/index.js
  lib/node_modules/@stdlib/constants/float32/ln-ten/manifest.json
  lib/node_modules/@stdlib/constants/float32/ln-ten/package.json
  lib/node_modules/@stdlib/constants/float32/ln-ten/test/test.js
Labels: Feature

#3926 feat: add `ndarray/for-each`
  lib/node_modules/@stdlib/ndarray/for-each/README.md
  lib/node_modules/@stdlib/ndarray/for-each/benchmark/benchmark.1d.js
  lib/node_modules/@stdlib/ndarray/for-each/benchmark/benchmark.2d.js
  lib/node_modules/@stdlib/ndarray/for-each/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/for-each/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/for-each/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/for-each/examples/index.js
  lib/node_modules/@stdlib/ndarray/for-each/lib/index.js
  lib/node_modules/@stdlib/ndarray/for-each/lib/main.js
  lib/node_modules/@stdlib/ndarray/for-each/package.json
  lib/node_modules/@stdlib/ndarray/for-each/test/test.js
Labels: Feature

#4125 refactor: update `stats/base/dnanmin` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dnanmin/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanmin/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanmin/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmin/src/addon.cpp
Labels: Statistics

#4126 refactor: update `stats/base/dnanminabs` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dnanminabs/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanminabs/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanminabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanminabs/src/addon.cpp
Labels: Statistics

#4061 feat: add `eslint/rules/eol-open-bracket-spacing`
  etc/eslint/rules/stdlib.js
  lib/node_modules/@stdlib/_tools/eslint/rules/eol-open-bracket-spacing/README.md
  lib/node_modules/@stdlib/_tools/eslint/rules/eol-open-bracket-spacing/examples/index.js
  lib/node_modules/@stdlib/_tools/eslint/rules/eol-open-bracket-spacing/lib/index.js
  lib/node_modules/@stdlib/_tools/eslint/rules/eol-open-bracket-spacing/lib/main.js
  lib/node_modules/@stdlib/_tools/eslint/rules/eol-open-bracket-spacing/package.json
  lib/node_modules/@stdlib/_tools/eslint/rules/eol-open-bracket-spacing/test/fixtures/invalid.js
  lib/node_modules/@stdlib/_tools/eslint/rules/eol-open-bracket-spacing/test/fixtures/unvalidated.js
  lib/node_modules/@stdlib/_tools/eslint/rules/eol-open-bracket-spacing/test/fixtures/valid.js
  lib/node_modules/@stdlib/_tools/eslint/rules/eol-open-bracket-spacing/test/test.js
  lib/node_modules/@stdlib/_tools/eslint/rules/lib/index.js
Labels: Feature, Tools

#4157 refactor: update `stats/base/dnanmeanwd` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/src/addon.cpp
Labels: Statistics, Ready To Merge

#4163 refactor: update `stats/base/dnanrange` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dnanrange/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanrange/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanrange/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanrange/src/addon.cpp
Labels: Statistics, Ready To Merge

#4111 refactor: update `stats/base/dnanmeanors` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dnanmeanors/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanmeanors/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanmeanors/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmeanors/src/addon.cpp
Labels: Statistics

#4112 refactor: update `stats/base/dnanmean` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dnanmean/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanmean/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanmean/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmean/src/addon.cpp
Labels: Statistics

#4202 refactor: update `stats/base/dnanvariancewd` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dnanvariancewd/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanvariancewd/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanvariancewd/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanvariancewd/src/addon.cpp
Labels: Needs Review, Statistics

#4204 refactor: update `stats/base/dnanvariancetk` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/src/addon.cpp
Labels: Statistics

#4195 refactor: update `stats/base/dnanvariance` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dnanvariance/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanvariance/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanvariance/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanvariance/src/addon.cpp
Labels: Statistics

#4192 refactor: update `stats/base/dnanstdev` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dnanstdev/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanstdev/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanstdev/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanstdev/src/addon.cpp
Labels: Statistics

#4207 refactor: update `stats/base/sstdevwd` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/sstdevwd/include.gypi
  lib/node_modules/@stdlib/stats/base/sstdevwd/manifest.json
  lib/node_modules/@stdlib/stats/base/sstdevwd/src/addon.c
  lib/node_modules/@stdlib/stats/base/sstdevwd/src/addon.cpp
Labels: Statistics

#4209 refactor: update `stats/base/svariancetk` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/svariancetk/include.gypi
  lib/node_modules/@stdlib/stats/base/svariancetk/manifest.json
  lib/node_modules/@stdlib/stats/base/svariancetk/src/addon.c
  lib/node_modules/@stdlib/stats/base/svariancetk/src/addon.cpp
Labels: Statistics, Needs Changes

#4213 refactor: update `stats/base/svariance` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/svariance/include.gypi
  lib/node_modules/@stdlib/stats/base/svariance/manifest.json
  lib/node_modules/@stdlib/stats/base/svariance/src/addon.c
  lib/node_modules/@stdlib/stats/base/svariance/src/addon.cpp
Labels: Statistics, Needs Changes

#4208 refactor: update `stats/base/sstdevyc` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/sstdevyc/include.gypi
  lib/node_modules/@stdlib/stats/base/sstdevyc/manifest.json
  lib/node_modules/@stdlib/stats/base/sstdevyc/src/addon.c
  lib/node_modules/@stdlib/stats/base/sstdevyc/src/addon.cpp
Labels: Statistics

#3391 feat: add `math/base/special/nonfibonaccif`
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/README.md
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/benchmark/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/benchmark/julia/benchmark.jl
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/binding.gyp
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/docs/img/equation_nonfibonacci_number.svg
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/examples/index.js
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/include.gypi
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/include/stdlib/math/base/special/nonfibonaccif.h
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/lib/index.js
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/lib/main.js
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/lib/native.js
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/manifest.json
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/package.json
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/src/Makefile
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/src/addon.c
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/src/main.c
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/test/fixtures/expected.json
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/test/test.js
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/test/test.native.js
Labels: Math

#4216 refactor: update `stats/base/drange` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/drange/include.gypi
  lib/node_modules/@stdlib/stats/base/drange/manifest.json
  lib/node_modules/@stdlib/stats/base/drange/src/addon.c
  lib/node_modules/@stdlib/stats/base/drange/src/addon.cpp
Labels: Statistics

#3955 feat: add C `ndarray` API and refactor `blas/ext/base/snansumors`
  lib/node_modules/@stdlib/blas/ext/base/snansumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/snansumors/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/snansumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/snansumors/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/snansumors/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/snansumors/include/stdlib/blas/ext/base/snansumors.h
  lib/node_modules/@stdlib/blas/ext/base/snansumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/snansumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/snansumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansumors/lib/snansumors.js
  lib/node_modules/@stdlib/blas/ext/base/snansumors/lib/snansumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/snansumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/snansumors/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/snansumors/src/snansumors.c
  lib/node_modules/@stdlib/blas/ext/base/snansumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/snansumors/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansumors/test/test.snansumors.js
  lib/node_modules/@stdlib/blas/ext/base/snansumors/test/test.snansumors.native.js
Labels: Feature, BLAS

#3942 feat: add `stats/base/dists/planck/mean`
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/README.md
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/lib/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/lib/main.js
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/package.json
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/test/fixtures/python/data.json
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/test/test.js
Labels: Feature, Statistics

#4219 refactor: update `stats/base/dsemch` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dsemch/include.gypi
  lib/node_modules/@stdlib/stats/base/dsemch/manifest.json
  lib/node_modules/@stdlib/stats/base/dsemch/src/addon.c
  lib/node_modules/@stdlib/stats/base/dsemch/src/addon.cpp
Labels: Statistics

#4217 refactor: update `stats/base/dsem` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dsem/include.gypi
  lib/node_modules/@stdlib/stats/base/dsem/manifest.json
  lib/node_modules/@stdlib/stats/base/dsem/src/addon.c
  lib/node_modules/@stdlib/stats/base/dsem/src/addon.cpp
Labels: Statistics

#4137 feat: add C ndarray interface and refactor implementation for `stats/base/dcumax`
  lib/node_modules/@stdlib/stats/base/dcumax/README.md
  lib/node_modules/@stdlib/stats/base/dcumax/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dcumax/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dcumax/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dcumax/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dcumax/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dcumax/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dcumax/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dcumax/examples/index.js
  lib/node_modules/@stdlib/stats/base/dcumax/include/stdlib/stats/base/dcumax.h
  lib/node_modules/@stdlib/stats/base/dcumax/lib/dcumax.js
  lib/node_modules/@stdlib/stats/base/dcumax/lib/dcumax.native.js
  lib/node_modules/@stdlib/stats/base/dcumax/lib/index.js
  lib/node_modules/@stdlib/stats/base/dcumax/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dcumax/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dcumax/manifest.json
  lib/node_modules/@stdlib/stats/base/dcumax/src/addon.c
  lib/node_modules/@stdlib/stats/base/dcumax/src/main.c
  lib/node_modules/@stdlib/stats/base/dcumax/test/test.dcumax.js
  lib/node_modules/@stdlib/stats/base/dcumax/test/test.dcumax.native.js
  lib/node_modules/@stdlib/stats/base/dcumax/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dcumax/test/test.ndarray.native.js
Labels: Feature, Statistics

#4197 feat: add C ndarray interface and refactor implementation for `stats/base/dminabs`
  lib/node_modules/@stdlib/stats/base/dminabs/README.md
  lib/node_modules/@stdlib/stats/base/dminabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dminabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dminabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dminabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dminabs/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dminabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dminabs/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dminabs/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dminabs/examples/index.js
  lib/node_modules/@stdlib/stats/base/dminabs/include.gypi
  lib/node_modules/@stdlib/stats/base/dminabs/include/stdlib/stats/base/dminabs.h
  lib/node_modules/@stdlib/stats/base/dminabs/lib/dminabs.js
  lib/node_modules/@stdlib/stats/base/dminabs/lib/dminabs.native.js
  lib/node_modules/@stdlib/stats/base/dminabs/lib/index.js
  lib/node_modules/@stdlib/stats/base/dminabs/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dminabs/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dminabs/manifest.json
  lib/node_modules/@stdlib/stats/base/dminabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/dminabs/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/dminabs/src/dminabs.c
  lib/node_modules/@stdlib/stats/base/dminabs/src/main.c
  lib/node_modules/@stdlib/stats/base/dminabs/test/test.dminabs.js
  lib/node_modules/@stdlib/stats/base/dminabs/test/test.dminabs.native.js
  lib/node_modules/@stdlib/stats/base/dminabs/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dminabs/test/test.ndarray.native.js
Labels: Statistics, Ready To Merge

#4238 feat: add C ndarray interface and refactor implementation for `stats/base/dnanminabs`
  lib/node_modules/@stdlib/stats/base/dnanminabs/README.md
  lib/node_modules/@stdlib/stats/base/dnanminabs/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dnanminabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dnanminabs/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dnanminabs/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dnanminabs/include/stdlib/stats/base/dnanminabs.h
  lib/node_modules/@stdlib/stats/base/dnanminabs/lib/dnanminabs.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/lib/dnanminabs.native.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/lib/index.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanminabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanminabs/src/dnanminabs.c
  lib/node_modules/@stdlib/stats/base/dnanminabs/src/main.c
  lib/node_modules/@stdlib/stats/base/dnanminabs/test/test.dnanminabs.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/test/test.dnanminabs.native.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/test/test.ndarray.native.js
Labels: Statistics, Ready To Merge

#4239 feat: add C ndarray interface and refactor implementation for `stats/base/drange`
  lib/node_modules/@stdlib/stats/base/drange/README.md
  lib/node_modules/@stdlib/stats/base/drange/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/drange/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/drange/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/drange/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/drange/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/drange/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/drange/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/drange/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/drange/examples/index.js
  lib/node_modules/@stdlib/stats/base/drange/include/stdlib/stats/base/drange.h
  lib/node_modules/@stdlib/stats/base/drange/lib/drange.js
  lib/node_modules/@stdlib/stats/base/drange/lib/drange.native.js
  lib/node_modules/@stdlib/stats/base/drange/lib/index.js
  lib/node_modules/@stdlib/stats/base/drange/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/drange/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/drange/manifest.json
  lib/node_modules/@stdlib/stats/base/drange/src/addon.c
  lib/node_modules/@stdlib/stats/base/drange/src/main.c
  lib/node_modules/@stdlib/stats/base/drange/test/test.drange.js
  lib/node_modules/@stdlib/stats/base/drange/test/test.drange.native.js
  lib/node_modules/@stdlib/stats/base/drange/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/drange/test/test.ndarray.native.js
Labels: Statistics, Ready To Merge

#4225 refactor: update `stats/base/dsemyc` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dsemyc/include.gypi
  lib/node_modules/@stdlib/stats/base/dsemyc/manifest.json
  lib/node_modules/@stdlib/stats/base/dsemyc/src/addon.c
  lib/node_modules/@stdlib/stats/base/dsemyc/src/addon.cpp
Labels: Statistics

#4224 refactor: update `stats/base/dsemwd` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dsemwd/include.gypi
  lib/node_modules/@stdlib/stats/base/dsemwd/manifest.json
  lib/node_modules/@stdlib/stats/base/dsemwd/src/addon.c
  lib/node_modules/@stdlib/stats/base/dsemwd/src/addon.cpp
Labels: Statistics

#4222 refactor: update `stats/base/dsempn` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dsempn/include.gypi
  lib/node_modules/@stdlib/stats/base/dsempn/manifest.json
  lib/node_modules/@stdlib/stats/base/dsempn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dsempn/src/addon.cpp
Labels: Statistics

#4223 refactor: update `stats/base/dsemtk` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dsemtk/include.gypi
  lib/node_modules/@stdlib/stats/base/dsemtk/manifest.json
  lib/node_modules/@stdlib/stats/base/dsemtk/src/addon.c
  lib/node_modules/@stdlib/stats/base/dsemtk/src/addon.cpp
Labels: Needs Review, Statistics

#4102 feat: add `stats/base/dists/planck/variance`
  lib/node_modules/@stdlib/stats/base/dists/planck/variance/README.md
  lib/node_modules/@stdlib/stats/base/dists/planck/variance/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/planck/variance/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dists/planck/variance/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/variance/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/variance/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/variance/lib/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/variance/lib/main.js
  lib/node_modules/@stdlib/stats/base/dists/planck/variance/package.json
  lib/node_modules/@stdlib/stats/base/dists/planck/variance/test/fixtures/python/data.json
  lib/node_modules/@stdlib/stats/base/dists/planck/variance/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/stats/base/dists/planck/variance/test/test.js
Labels: Feature, Statistics

#4127 feat: add `stats/base/dists/planck/stdev`
  lib/node_modules/@stdlib/stats/base/dists/planck/stdev/README.md
  lib/node_modules/@stdlib/stats/base/dists/planck/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/planck/stdev/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dists/planck/stdev/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/stdev/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/stdev/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/stdev/lib/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/stdev/lib/main.js
  lib/node_modules/@stdlib/stats/base/dists/planck/stdev/package.json
  lib/node_modules/@stdlib/stats/base/dists/planck/stdev/test/fixtures/python/data.json
  lib/node_modules/@stdlib/stats/base/dists/planck/stdev/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/stats/base/dists/planck/stdev/test/test.js
Labels: Feature, Statistics

#3896 feat: add `stats/base/dists/planck/pmf`
  lib/node_modules/@stdlib/stats/base/dists/planck/pmf/README.md
  lib/node_modules/@stdlib/stats/base/dists/planck/pmf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/planck/pmf/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dists/planck/pmf/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/pmf/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/pmf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/pmf/lib/factory.js
  lib/node_modules/@stdlib/stats/base/dists/planck/pmf/lib/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/pmf/lib/main.js
  lib/node_modules/@stdlib/stats/base/dists/planck/pmf/package.json
  lib/node_modules/@stdlib/stats/base/dists/planck/pmf/test/fixtures/python/large_lambda.json
  lib/node_modules/@stdlib/stats/base/dists/planck/pmf/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/stats/base/dists/planck/pmf/test/fixtures/python/small_lambda.json
  lib/node_modules/@stdlib/stats/base/dists/planck/pmf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/planck/pmf/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/planck/pmf/test/test.pmf.js
Labels: Feature, Statistics

#4240 feat: add C ndarray interface and refactor implementation for `stats/base/smax`
  lib/node_modules/@stdlib/stats/base/smax/README.md
  lib/node_modules/@stdlib/stats/base/smax/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/smax/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/smax/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/smax/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smax/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/smax/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/smax/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/smax/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/smax/examples/index.js
  lib/node_modules/@stdlib/stats/base/smax/include.gypi
  lib/node_modules/@stdlib/stats/base/smax/include/stdlib/stats/base/smax.h
  lib/node_modules/@stdlib/stats/base/smax/lib/index.js
  lib/node_modules/@stdlib/stats/base/smax/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/smax/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smax/lib/smax.js
  lib/node_modules/@stdlib/stats/base/smax/lib/smax.native.js
  lib/node_modules/@stdlib/stats/base/smax/manifest.json
  lib/node_modules/@stdlib/stats/base/smax/src/addon.c
  lib/node_modules/@stdlib/stats/base/smax/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/smax/src/main.c
  lib/node_modules/@stdlib/stats/base/smax/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/smax/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smax/test/test.smax.js
  lib/node_modules/@stdlib/stats/base/smax/test/test.smax.native.js
Labels: Statistics, Ready To Merge

#4235 feat: add C ndarray interface and refactor implementation for `stats/base/dnanmin`
  lib/node_modules/@stdlib/stats/base/dnanmin/README.md
  lib/node_modules/@stdlib/stats/base/dnanmin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmin/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmin/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmin/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dnanmin/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dnanmin/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dnanmin/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dnanmin/include/stdlib/stats/base/dnanmin.h
  lib/node_modules/@stdlib/stats/base/dnanmin/lib/dnanmin.js
  lib/node_modules/@stdlib/stats/base/dnanmin/lib/dnanmin.native.js
  lib/node_modules/@stdlib/stats/base/dnanmin/lib/index.js
  lib/node_modules/@stdlib/stats/base/dnanmin/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmin/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmin/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanmin/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmin/src/main.c
  lib/node_modules/@stdlib/stats/base/dnanmin/test/test.dnanmin.js
  lib/node_modules/@stdlib/stats/base/dnanmin/test/test.dnanmin.native.js
  lib/node_modules/@stdlib/stats/base/dnanmin/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmin/test/test.ndarray.native.js
Labels: Statistics, Ready To Merge

#4206 feat: add C ndarray interface and refactor implementation for `stats/base/dnanmax`
  lib/node_modules/@stdlib/stats/base/dnanmax/README.md
  lib/node_modules/@stdlib/stats/base/dnanmax/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmax/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmax/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmax/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmax/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dnanmax/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dnanmax/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dnanmax/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dnanmax/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanmax/include/stdlib/stats/base/dnanmax.h
  lib/node_modules/@stdlib/stats/base/dnanmax/lib/dnanmax.js
  lib/node_modules/@stdlib/stats/base/dnanmax/lib/dnanmax.native.js
  lib/node_modules/@stdlib/stats/base/dnanmax/lib/index.js
  lib/node_modules/@stdlib/stats/base/dnanmax/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmax/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmax/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanmax/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmax/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/dnanmax/src/main.c
  lib/node_modules/@stdlib/stats/base/dnanmax/test/test.dnanmax.js
  lib/node_modules/@stdlib/stats/base/dnanmax/test/test.dnanmax.native.js
  lib/node_modules/@stdlib/stats/base/dnanmax/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmax/test/test.ndarray.native.js
Labels: Statistics, Ready To Merge

#4218 feat: add C ndarray interface and refactor implementation for `stats/base/dnanmaxabs`
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/README.md
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/include/stdlib/stats/base/dnanmaxabs.h
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/lib/dnanmaxabs.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/lib/dnanmaxabs.native.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/lib/index.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/src/dnanmaxabs.c
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/src/main.c
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/test/test.dnanmaxabs.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/test/test.dnanmaxabs.native.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/test/test.ndarray.native.js
Labels: Statistics, Ready To Merge

#4190 feat: add C ndarray interface and refactor implementation for `stats/base/dmin`
  lib/node_modules/@stdlib/stats/base/dmin/README.md
  lib/node_modules/@stdlib/stats/base/dmin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dmin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dmin/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmin/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmin/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dmin/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dmin/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dmin/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dmin/examples/index.js
  lib/node_modules/@stdlib/stats/base/dmin/include.gypi
  lib/node_modules/@stdlib/stats/base/dmin/include/stdlib/stats/base/dmin.h
  lib/node_modules/@stdlib/stats/base/dmin/lib/dmin.js
  lib/node_modules/@stdlib/stats/base/dmin/lib/dmin.native.js
  lib/node_modules/@stdlib/stats/base/dmin/lib/index.js
  lib/node_modules/@stdlib/stats/base/dmin/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dmin/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmin/manifest.json
  lib/node_modules/@stdlib/stats/base/dmin/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmin/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/dmin/src/main.c
  lib/node_modules/@stdlib/stats/base/dmin/test/test.dmin.js
  lib/node_modules/@stdlib/stats/base/dmin/test/test.dmin.native.js
  lib/node_modules/@stdlib/stats/base/dmin/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmin/test/test.ndarray.native.js
Labels: Statistics, Ready To Merge

#4264 docs: fix example in `stats/base/smax`
  lib/node_modules/@stdlib/stats/base/smax/README.md
Labels: Statistics

#4254 refactor: update implementation to handle edge cases in `eslint/rules/eol-open-bracket-spacing`
  lib/node_modules/@stdlib/_tools/eslint/rules/eol-open-bracket-spacing/lib/main.js
  lib/node_modules/@stdlib/_tools/eslint/rules/eol-open-bracket-spacing/test/fixtures/unvalidated.js
Labels: Tools

#4260 feat: add C ndarray interface and refactor implementation for `stats/base/smaxabs`
  lib/node_modules/@stdlib/stats/base/smaxabs/README.md
  lib/node_modules/@stdlib/stats/base/smaxabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/smaxabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/smaxabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/smaxabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smaxabs/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/smaxabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/smaxabs/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/smaxabs/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/smaxabs/examples/index.js
  lib/node_modules/@stdlib/stats/base/smaxabs/include.gypi
  lib/node_modules/@stdlib/stats/base/smaxabs/include/stdlib/stats/base/smaxabs.h
  lib/node_modules/@stdlib/stats/base/smaxabs/lib/index.js
  lib/node_modules/@stdlib/stats/base/smaxabs/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/smaxabs/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smaxabs/lib/smaxabs.js
  lib/node_modules/@stdlib/stats/base/smaxabs/lib/smaxabs.native.js
  lib/node_modules/@stdlib/stats/base/smaxabs/manifest.json
  lib/node_modules/@stdlib/stats/base/smaxabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/smaxabs/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/smaxabs/src/main.c
  lib/node_modules/@stdlib/stats/base/smaxabs/src/smaxabs.c
  lib/node_modules/@stdlib/stats/base/smaxabs/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/smaxabs/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smaxabs/test/test.smaxabs.js
  lib/node_modules/@stdlib/stats/base/smaxabs/test/test.smaxabs.native.js
Labels: Feature, Statistics

#4130 feat: add `stats/base/dists/planck/cdf`
  lib/node_modules/@stdlib/stats/base/dists/planck/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/planck/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/planck/cdf/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dists/planck/cdf/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/cdf/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/cdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/cdf/lib/factory.js
  lib/node_modules/@stdlib/stats/base/dists/planck/cdf/lib/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/cdf/lib/main.js
  lib/node_modules/@stdlib/stats/base/dists/planck/cdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/planck/cdf/test/fixtures/python/large_lambda.json
  lib/node_modules/@stdlib/stats/base/dists/planck/cdf/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/stats/base/dists/planck/cdf/test/fixtures/python/small_lambda.json
  lib/node_modules/@stdlib/stats/base/dists/planck/cdf/test/test.cdf.js
  lib/node_modules/@stdlib/stats/base/dists/planck/cdf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/planck/cdf/test/test.js
Labels: Feature, Statistics

#4270 refactor: update `stats/base/dstdev` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dstdev/include.gypi
  lib/node_modules/@stdlib/stats/base/dstdev/manifest.json
  lib/node_modules/@stdlib/stats/base/dstdev/src/addon.c
  lib/node_modules/@stdlib/stats/base/dstdev/src/addon.cpp
Labels: Statistics

#4271 refactor: update `stats/base/dstdevch` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dstdevch/include.gypi
  lib/node_modules/@stdlib/stats/base/dstdevch/manifest.json
  lib/node_modules/@stdlib/stats/base/dstdevch/src/addon.c
  lib/node_modules/@stdlib/stats/base/dstdevch/src/addon.cpp
Labels: Statistics

#4272 refactor: update `stats/base/dstdevpn` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dstdevpn/include.gypi
  lib/node_modules/@stdlib/stats/base/dstdevpn/manifest.json
  lib/node_modules/@stdlib/stats/base/dstdevpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dstdevpn/src/addon.cpp
Labels: Needs Review, Statistics

#4273 refactor: update `stats/base/dstdevtk` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dstdevtk/include.gypi
  lib/node_modules/@stdlib/stats/base/dstdevtk/manifest.json
  lib/node_modules/@stdlib/stats/base/dstdevtk/src/addon.c
  lib/node_modules/@stdlib/stats/base/dstdevtk/src/addon.cpp
Labels: Needs Review, Statistics

#4274 refactor: update `stats/base/dstdevwd` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dstdevwd/include.gypi
  lib/node_modules/@stdlib/stats/base/dstdevwd/manifest.json
  lib/node_modules/@stdlib/stats/base/dstdevwd/src/addon.c
  lib/node_modules/@stdlib/stats/base/dstdevwd/src/addon.cpp
Labels: Needs Review, Statistics

#4275 refactor: update `stats/base/dstdevyc` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dstdevyc/include.gypi
  lib/node_modules/@stdlib/stats/base/dstdevyc/manifest.json
  lib/node_modules/@stdlib/stats/base/dstdevyc/src/addon.c
  lib/node_modules/@stdlib/stats/base/dstdevyc/src/addon.cpp
Labels: Statistics

#4231 refactor: update `stats/base/svariancewd` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/svariancewd/include.gypi
  lib/node_modules/@stdlib/stats/base/svariancewd/manifest.json
  lib/node_modules/@stdlib/stats/base/svariancewd/src/addon.c
  lib/node_modules/@stdlib/stats/base/svariancewd/src/addon.cpp
Labels: Needs Review, Statistics

#4230 refactor: update `stats/base/svariancepn` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/svariancepn/include.gypi
  lib/node_modules/@stdlib/stats/base/svariancepn/manifest.json
  lib/node_modules/@stdlib/stats/base/svariancepn/src/addon.c
  lib/node_modules/@stdlib/stats/base/svariancepn/src/addon.cpp
Labels: Needs Review, Statistics

#4229 refactor: update `stats/base/svariancech` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/svariancech/include.gypi
  lib/node_modules/@stdlib/stats/base/svariancech/manifest.json
  lib/node_modules/@stdlib/stats/base/svariancech/src/addon.c
  lib/node_modules/@stdlib/stats/base/svariancech/src/addon.cpp
Labels: Needs Review, Statistics

#4232 refactor: update `stats/base/svarianceyc` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/svarianceyc/include.gypi
  lib/node_modules/@stdlib/stats/base/svarianceyc/manifest.json
  lib/node_modules/@stdlib/stats/base/svarianceyc/src/addon.c
  lib/node_modules/@stdlib/stats/base/svarianceyc/src/addon.cpp
Labels: Statistics

#4276 refactor: update `stats/base/dvariance` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dvariance/include.gypi
  lib/node_modules/@stdlib/stats/base/dvariance/manifest.json
  lib/node_modules/@stdlib/stats/base/dvariance/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvariance/src/addon.cpp
Labels: Needs Review, Statistics

#4160 refactor: update `stats/base/dnanmskmax` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dnanmskmax/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanmskmax/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanmskmax/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmskmax/src/addon.cpp
Labels: Statistics

#4161 refactor: update `stats/base/dnanmskmin` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dnanmskmin/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanmskmin/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanmskmin/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmskmin/src/addon.cpp
Labels: Needs Review, Statistics

#4162 refactor: update `stats/base/dnanmskrange` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dnanmskrange/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanmskrange/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanmskrange/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmskrange/src/addon.cpp
Labels: Needs Review, Statistics

#4278 refactor: update `stats/base/dvariancech` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dvariancech/include.gypi
  lib/node_modules/@stdlib/stats/base/dvariancech/manifest.json
  lib/node_modules/@stdlib/stats/base/dvariancech/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvariancech/src/addon.cpp
Labels: Needs Review, Statistics

#4279 refactor: update `stats/base/dvariancepn` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dvariancepn/include.gypi
  lib/node_modules/@stdlib/stats/base/dvariancepn/manifest.json
  lib/node_modules/@stdlib/stats/base/dvariancepn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvariancepn/src/addon.cpp
Labels: Statistics

#4280 docs: fix copy-paste error in source comment
  lib/node_modules/@stdlib/repl/lib/syntax_highlighter.js
Labels: Documentation, REPL

#4281 refactor: update `stats/base/dvariancetk` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dvariancetk/include.gypi
  lib/node_modules/@stdlib/stats/base/dvariancetk/manifest.json
  lib/node_modules/@stdlib/stats/base/dvariancetk/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvariancetk/src/addon.cpp
Labels: Statistics

#4283 refactor: update `stats/base/dvariancewd` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dvariancewd/include.gypi
  lib/node_modules/@stdlib/stats/base/dvariancewd/manifest.json
  lib/node_modules/@stdlib/stats/base/dvariancewd/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvariancewd/src/addon.cpp
Labels: Needs Review, Statistics

#4282 feat: add C ndarray interface and refactor implementation for `stats/base/smin`
  lib/node_modules/@stdlib/stats/base/smin/README.md
  lib/node_modules/@stdlib/stats/base/smin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/smin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/smin/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/smin/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smin/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/smin/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/smin/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/smin/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/smin/examples/index.js
  lib/node_modules/@stdlib/stats/base/smin/include.gypi
  lib/node_modules/@stdlib/stats/base/smin/include/stdlib/stats/base/smin.h
  lib/node_modules/@stdlib/stats/base/smin/lib/index.js
  lib/node_modules/@stdlib/stats/base/smin/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/smin/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smin/lib/smin.js
  lib/node_modules/@stdlib/stats/base/smin/lib/smin.native.js
  lib/node_modules/@stdlib/stats/base/smin/manifest.json
  lib/node_modules/@stdlib/stats/base/smin/src/addon.c
  lib/node_modules/@stdlib/stats/base/smin/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/smin/src/main.c
  lib/node_modules/@stdlib/stats/base/smin/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/smin/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smin/test/test.smin.js
  lib/node_modules/@stdlib/stats/base/smin/test/test.smin.native.js
Labels: Feature, Statistics

#4284 refactor: update `stats/base/dvarianceyc` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dvarianceyc/include.gypi
  lib/node_modules/@stdlib/stats/base/dvarianceyc/manifest.json
  lib/node_modules/@stdlib/stats/base/dvarianceyc/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvarianceyc/src/addon.cpp
Labels: Statistics

#4110 refactor: update `stats/base/dnanmeanpn` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/src/addon.cpp
Labels: Statistics

#4285 feat: add C ndarray interface and refactor implementation for `stats/base/sminabs`
  lib/node_modules/@stdlib/stats/base/sminabs/README.md
  lib/node_modules/@stdlib/stats/base/sminabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/sminabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/sminabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/sminabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sminabs/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/sminabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/sminabs/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/sminabs/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/sminabs/examples/index.js
  lib/node_modules/@stdlib/stats/base/sminabs/include.gypi
  lib/node_modules/@stdlib/stats/base/sminabs/include/stdlib/stats/base/sminabs.h
  lib/node_modules/@stdlib/stats/base/sminabs/lib/index.js
  lib/node_modules/@stdlib/stats/base/sminabs/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/sminabs/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sminabs/lib/sminabs.js
  lib/node_modules/@stdlib/stats/base/sminabs/lib/sminabs.native.js
  lib/node_modules/@stdlib/stats/base/sminabs/manifest.json
  lib/node_modules/@stdlib/stats/base/sminabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/sminabs/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/sminabs/src/main.c
  lib/node_modules/@stdlib/stats/base/sminabs/src/sminabs.c
  lib/node_modules/@stdlib/stats/base/sminabs/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/sminabs/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sminabs/test/test.sminabs.js
  lib/node_modules/@stdlib/stats/base/sminabs/test/test.sminabs.native.js
Labels: Statistics

#4299 refactor: update benchmarks in `stats/base` to follow latest project conventions
  lib/node_modules/@stdlib/stats/base/dnanmax/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmax/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmax/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmax/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmin/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmin/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/benchmark/benchmark.ndarray.native.js
Labels: Statistics

#4292 feat: add C ndarray interface and refactor implementation for `stats/base/snanmin`
  lib/node_modules/@stdlib/stats/base/snanmin/README.md
  lib/node_modules/@stdlib/stats/base/snanmin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanmin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanmin/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmin/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmin/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/snanmin/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/snanmin/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/snanmin/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/snanmin/examples/index.js
  lib/node_modules/@stdlib/stats/base/snanmin/include.gypi
  lib/node_modules/@stdlib/stats/base/snanmin/include/stdlib/stats/base/snanmin.h
  lib/node_modules/@stdlib/stats/base/snanmin/lib/index.js
  lib/node_modules/@stdlib/stats/base/snanmin/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmin/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmin/lib/snanmin.js
  lib/node_modules/@stdlib/stats/base/snanmin/lib/snanmin.native.js
  lib/node_modules/@stdlib/stats/base/snanmin/manifest.json
  lib/node_modules/@stdlib/stats/base/snanmin/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanmin/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/snanmin/src/main.c
  lib/node_modules/@stdlib/stats/base/snanmin/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmin/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmin/test/test.snanmin.js
  lib/node_modules/@stdlib/stats/base/snanmin/test/test.snanmin.native.js
Labels: Statistics, Ready To Merge

#4297 feat: add C ndarray interface and refactor implementation for `stats/base/srange`
  lib/node_modules/@stdlib/stats/base/srange/README.md
  lib/node_modules/@stdlib/stats/base/srange/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/srange/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/srange/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/srange/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/srange/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/srange/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/srange/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/srange/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/srange/examples/index.js
  lib/node_modules/@stdlib/stats/base/srange/include.gypi
  lib/node_modules/@stdlib/stats/base/srange/include/stdlib/stats/base/srange.h
  lib/node_modules/@stdlib/stats/base/srange/lib/index.js
  lib/node_modules/@stdlib/stats/base/srange/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/srange/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/srange/lib/srange.js
  lib/node_modules/@stdlib/stats/base/srange/lib/srange.native.js
  lib/node_modules/@stdlib/stats/base/srange/manifest.json
  lib/node_modules/@stdlib/stats/base/srange/src/addon.c
  lib/node_modules/@stdlib/stats/base/srange/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/srange/src/main.c
  lib/node_modules/@stdlib/stats/base/srange/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/srange/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/srange/test/test.srange.js
  lib/node_modules/@stdlib/stats/base/srange/test/test.srange.native.js
Labels: Statistics

#4287 feat: add C ndarray interface and refactor implementation for `stats/base/snanmax`
  lib/node_modules/@stdlib/stats/base/snanmax/README.md
  lib/node_modules/@stdlib/stats/base/snanmax/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanmax/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanmax/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmax/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmax/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/snanmax/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/snanmax/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/snanmax/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/snanmax/examples/index.js
  lib/node_modules/@stdlib/stats/base/snanmax/include.gypi
  lib/node_modules/@stdlib/stats/base/snanmax/include/stdlib/stats/base/snanmax.h
  lib/node_modules/@stdlib/stats/base/snanmax/lib/index.js
  lib/node_modules/@stdlib/stats/base/snanmax/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmax/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmax/lib/snanmax.js
  lib/node_modules/@stdlib/stats/base/snanmax/lib/snanmax.native.js
  lib/node_modules/@stdlib/stats/base/snanmax/manifest.json
  lib/node_modules/@stdlib/stats/base/snanmax/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanmax/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/snanmax/src/main.c
  lib/node_modules/@stdlib/stats/base/snanmax/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmax/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmax/test/test.snanmax.js
  lib/node_modules/@stdlib/stats/base/snanmax/test/test.snanmax.native.js
Labels: Statistics, Ready To Merge

#4170 feat: add C ndarray interface and refactor implementation for `stats/base/dmaxabs`
  lib/node_modules/@stdlib/stats/base/dmaxabs/README.md
  lib/node_modules/@stdlib/stats/base/dmaxabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dmaxabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dmaxabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmaxabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmaxabs/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dmaxabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dmaxabs/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dmaxabs/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dmaxabs/examples/index.js
  lib/node_modules/@stdlib/stats/base/dmaxabs/include/stdlib/stats/base/dmaxabs.h
  lib/node_modules/@stdlib/stats/base/dmaxabs/lib/dmaxabs.js
  lib/node_modules/@stdlib/stats/base/dmaxabs/lib/dmaxabs.native.js
  lib/node_modules/@stdlib/stats/base/dmaxabs/lib/index.js
  lib/node_modules/@stdlib/stats/base/dmaxabs/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dmaxabs/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmaxabs/manifest.json
  lib/node_modules/@stdlib/stats/base/dmaxabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmaxabs/src/dmaxabs.c
  lib/node_modules/@stdlib/stats/base/dmaxabs/src/main.c
  lib/node_modules/@stdlib/stats/base/dmaxabs/test/test.dmaxabs.js
  lib/node_modules/@stdlib/stats/base/dmaxabs/test/test.dmaxabs.native.js
  lib/node_modules/@stdlib/stats/base/dmaxabs/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmaxabs/test/test.ndarray.native.js
Labels: Statistics

#4211 feat: add `_tools/eslint/rules/line-closing-bracket-spacing`
  etc/eslint/rules/stdlib.js
  lib/node_modules/@stdlib/_tools/eslint/rules/lib/index.js
  lib/node_modules/@stdlib/_tools/eslint/rules/line-closing-bracket-spacing/README.md
  lib/node_modules/@stdlib/_tools/eslint/rules/line-closing-bracket-spacing/examples/index.js
  lib/node_modules/@stdlib/_tools/eslint/rules/line-closing-bracket-spacing/lib/index.js
  lib/node_modules/@stdlib/_tools/eslint/rules/line-closing-bracket-spacing/lib/main.js
  lib/node_modules/@stdlib/_tools/eslint/rules/line-closing-bracket-spacing/package.json
  lib/node_modules/@stdlib/_tools/eslint/rules/line-closing-bracket-spacing/test/fixtures/invalid.js
  lib/node_modules/@stdlib/_tools/eslint/rules/line-closing-bracket-spacing/test/fixtures/unvalidated.js
  lib/node_modules/@stdlib/_tools/eslint/rules/line-closing-bracket-spacing/test/fixtures/valid.js
  lib/node_modules/@stdlib/_tools/eslint/rules/line-closing-bracket-spacing/test/test.js
Labels: Feature, Tools

#4310 fix: handle edge cases in `_tools/eslint/rules/eol-open-bracket-spacing`
  lib/node_modules/@stdlib/_tools/eslint/rules/eol-open-bracket-spacing/lib/main.js
  lib/node_modules/@stdlib/_tools/eslint/rules/eol-open-bracket-spacing/test/fixtures/unvalidated.js
Labels: Tools

#4293 feat: add C ndarray interface and refactor implementation for `stats/base/dnanrange`
  lib/node_modules/@stdlib/stats/base/dnanrange/README.md
  lib/node_modules/@stdlib/stats/base/dnanrange/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanrange/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanrange/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanrange/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanrange/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dnanrange/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dnanrange/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dnanrange/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dnanrange/include/stdlib/stats/base/dnanrange.h
  lib/node_modules/@stdlib/stats/base/dnanrange/lib/dnanrange.js
  lib/node_modules/@stdlib/stats/base/dnanrange/lib/dnanrange.native.js
  lib/node_modules/@stdlib/stats/base/dnanrange/lib/index.js
  lib/node_modules/@stdlib/stats/base/dnanrange/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanrange/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanrange/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanrange/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanrange/src/main.c
  lib/node_modules/@stdlib/stats/base/dnanrange/test/test.dnanrange.js
  lib/node_modules/@stdlib/stats/base/dnanrange/test/test.dnanrange.native.js
  lib/node_modules/@stdlib/stats/base/dnanrange/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanrange/test/test.ndarray.native.js
Labels: Statistics, Ready To Merge

#4327 feat: add C ndarray interface and refactor implementation for `stats/base/snanminabs`
  lib/node_modules/@stdlib/stats/base/snanminabs/README.md
  lib/node_modules/@stdlib/stats/base/snanminabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanminabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanminabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanminabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanminabs/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/snanminabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/snanminabs/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/snanminabs/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/snanminabs/include.gypi
  lib/node_modules/@stdlib/stats/base/snanminabs/include/stdlib/stats/base/snanminabs.h
  lib/node_modules/@stdlib/stats/base/snanminabs/lib/index.js
  lib/node_modules/@stdlib/stats/base/snanminabs/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/snanminabs/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanminabs/lib/snanminabs.js
  lib/node_modules/@stdlib/stats/base/snanminabs/lib/snanminabs.native.js
  lib/node_modules/@stdlib/stats/base/snanminabs/manifest.json
  lib/node_modules/@stdlib/stats/base/snanminabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanminabs/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/snanminabs/src/main.c
  lib/node_modules/@stdlib/stats/base/snanminabs/src/snanminabs.c
  lib/node_modules/@stdlib/stats/base/snanminabs/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanminabs/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanminabs/test/test.snanminabs.js
  lib/node_modules/@stdlib/stats/base/snanminabs/test/test.snanminabs.native.js
Labels: Statistics, Ready To Merge

#4306 chore: add missing `@private` in benchmarks of `stats/base/*`
  lib/node_modules/@stdlib/stats/base/snanmax/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanmax/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanmax/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmax/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanmin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanmin/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmin/benchmark/benchmark.ndarray.native.js
Labels: Statistics, Ready To Merge

#4319 feat: add C ndarray interface and refactor implementation for `stats/base/snanrange`
  lib/node_modules/@stdlib/stats/base/snanrange/README.md
  lib/node_modules/@stdlib/stats/base/snanrange/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanrange/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanrange/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanrange/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanrange/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/snanrange/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/snanrange/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/snanrange/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/snanrange/include.gypi
  lib/node_modules/@stdlib/stats/base/snanrange/include/stdlib/stats/base/snanrange.h
  lib/node_modules/@stdlib/stats/base/snanrange/lib/index.js
  lib/node_modules/@stdlib/stats/base/snanrange/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/snanrange/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanrange/lib/snanrange.js
  lib/node_modules/@stdlib/stats/base/snanrange/lib/snanrange.native.js
  lib/node_modules/@stdlib/stats/base/snanrange/manifest.json
  lib/node_modules/@stdlib/stats/base/snanrange/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanrange/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/snanrange/src/main.c
  lib/node_modules/@stdlib/stats/base/snanrange/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanrange/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanrange/test/test.snanrange.js
  lib/node_modules/@stdlib/stats/base/snanrange/test/test.snanrange.native.js
Labels: Statistics, Ready To Merge

#4315 docs: fix C examples in `blas/ext/base/dsumkbn`
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/examples/c/example.c
Labels: BLAS

#4328 feat: add C ndarray interface and refactor implementation for `stats/base/snanmaxabs`
  lib/node_modules/@stdlib/stats/base/snanmaxabs/README.md
  lib/node_modules/@stdlib/stats/base/snanmaxabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/snanmaxabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/snanmaxabs/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/snanmaxabs/include.gypi
  lib/node_modules/@stdlib/stats/base/snanmaxabs/include/stdlib/stats/base/snanmaxabs.h
  lib/node_modules/@stdlib/stats/base/snanmaxabs/lib/index.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/lib/snanmaxabs.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/lib/snanmaxabs.native.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/manifest.json
  lib/node_modules/@stdlib/stats/base/snanmaxabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanmaxabs/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/snanmaxabs/src/main.c
  lib/node_modules/@stdlib/stats/base/snanmaxabs/src/snanmaxabs.c
  lib/node_modules/@stdlib/stats/base/snanmaxabs/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/test/test.snanmaxabs.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/test/test.snanmaxabs.native.js
Labels: Statistics, Ready To Merge

#4340 feat: add C ndarray interface and refactor implementation for `stats/base/dmidrange`
  lib/node_modules/@stdlib/stats/base/dmidrange/README.md
  lib/node_modules/@stdlib/stats/base/dmidrange/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dmidrange/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dmidrange/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmidrange/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmidrange/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dmidrange/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dmidrange/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dmidrange/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dmidrange/examples/index.js
  lib/node_modules/@stdlib/stats/base/dmidrange/include.gypi
  lib/node_modules/@stdlib/stats/base/dmidrange/include/stdlib/stats/base/dmidrange.h
  lib/node_modules/@stdlib/stats/base/dmidrange/lib/dmidrange.js
  lib/node_modules/@stdlib/stats/base/dmidrange/lib/dmidrange.native.js
  lib/node_modules/@stdlib/stats/base/dmidrange/lib/index.js
  lib/node_modules/@stdlib/stats/base/dmidrange/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dmidrange/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmidrange/manifest.json
  lib/node_modules/@stdlib/stats/base/dmidrange/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmidrange/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/dmidrange/src/main.c
  lib/node_modules/@stdlib/stats/base/dmidrange/test/test.dmidrange.js
  lib/node_modules/@stdlib/stats/base/dmidrange/test/test.dmidrange.native.js
  lib/node_modules/@stdlib/stats/base/dmidrange/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmidrange/test/test.ndarray.native.js
Labels: Statistics, Ready To Merge

#4344 feat: add C ndarray interface and refactor implementation for `stats/base/scumax`
  lib/node_modules/@stdlib/stats/base/scumax/README.md
  lib/node_modules/@stdlib/stats/base/scumax/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/scumax/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/scumax/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/scumax/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/scumax/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/scumax/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/scumax/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/scumax/examples/index.js
  lib/node_modules/@stdlib/stats/base/scumax/include.gypi
  lib/node_modules/@stdlib/stats/base/scumax/include/stdlib/stats/base/scumax.h
  lib/node_modules/@stdlib/stats/base/scumax/lib/index.js
  lib/node_modules/@stdlib/stats/base/scumax/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/scumax/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/scumax/lib/scumax.js
  lib/node_modules/@stdlib/stats/base/scumax/lib/scumax.native.js
  lib/node_modules/@stdlib/stats/base/scumax/manifest.json
  lib/node_modules/@stdlib/stats/base/scumax/src/addon.c
  lib/node_modules/@stdlib/stats/base/scumax/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/scumax/src/main.c
  lib/node_modules/@stdlib/stats/base/scumax/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/scumax/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/scumax/test/test.scumax.js
  lib/node_modules/@stdlib/stats/base/scumax/test/test.scumax.native.js
Labels: Statistics, Ready To Merge

#4341 feat: add C ndarray interface and refactor implementation for `stats/base/smidrange`
  lib/node_modules/@stdlib/stats/base/smidrange/README.md
  lib/node_modules/@stdlib/stats/base/smidrange/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/smidrange/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/smidrange/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/smidrange/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smidrange/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/smidrange/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/smidrange/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/smidrange/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/smidrange/examples/index.js
  lib/node_modules/@stdlib/stats/base/smidrange/include.gypi
  lib/node_modules/@stdlib/stats/base/smidrange/include/stdlib/stats/base/smidrange.h
  lib/node_modules/@stdlib/stats/base/smidrange/lib/index.js
  lib/node_modules/@stdlib/stats/base/smidrange/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/smidrange/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smidrange/lib/smidrange.js
  lib/node_modules/@stdlib/stats/base/smidrange/lib/smidrange.native.js
  lib/node_modules/@stdlib/stats/base/smidrange/manifest.json
  lib/node_modules/@stdlib/stats/base/smidrange/src/addon.c
  lib/node_modules/@stdlib/stats/base/smidrange/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/smidrange/src/main.c
  lib/node_modules/@stdlib/stats/base/smidrange/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/smidrange/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smidrange/test/test.smidrange.js
  lib/node_modules/@stdlib/stats/base/smidrange/test/test.smidrange.native.js
Labels: Statistics, Ready To Merge

#4402 refactor: update `stats/base/sdsmean` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/sdsmean/include.gypi
  lib/node_modules/@stdlib/stats/base/sdsmean/manifest.json
  lib/node_modules/@stdlib/stats/base/sdsmean/src/addon.c
  lib/node_modules/@stdlib/stats/base/sdsmean/src/addon.cpp
Labels: Statistics
