Repository stdlib-js/stdlib, pull requests merged in 2024-08, with the labels that each got.

#2658 feat: add `blas/base/ssyr`
  lib/node_modules/@stdlib/blas/base/ssyr/README.md
  lib/node_modules/@stdlib/blas/base/ssyr/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/ssyr/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/ssyr/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/ssyr/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/ssyr/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/ssyr/examples/index.js
  lib/node_modules/@stdlib/blas/base/ssyr/lib/base.js
  lib/node_modules/@stdlib/blas/base/ssyr/lib/index.js
  lib/node_modules/@stdlib/blas/base/ssyr/lib/main.js
  lib/node_modules/@stdlib/blas/base/ssyr/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/ssyr/lib/ssyr.js
  lib/node_modules/@stdlib/blas/base/ssyr/package.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/column_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/column_major_l.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/column_major_oa.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/column_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/column_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/column_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/column_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/column_major_u.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/column_major_xn.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/column_major_xp.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/row_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/row_major_l.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/row_major_oa.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/row_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/row_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/row_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/row_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/row_major_u.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/row_major_xn.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/row_major_xp.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/test.js
  lib/node_modules/@stdlib/blas/base/ssyr/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/ssyr/test/test.ssyr.js
Labels: Feature, BLAS

#2535 feat!: add `blas/base/strmv`
  lib/node_modules/@stdlib/blas/base/strmv/README.md
  lib/node_modules/@stdlib/blas/base/strmv/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/strmv/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/strmv/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/strmv/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/strmv/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/strmv/examples/index.js
  lib/node_modules/@stdlib/blas/base/strmv/lib/base.js
  lib/node_modules/@stdlib/blas/base/strmv/lib/index.js
  lib/node_modules/@stdlib/blas/base/strmv/lib/main.js
  lib/node_modules/@stdlib/blas/base/strmv/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/strmv/lib/strmv.js
  lib/node_modules/@stdlib/blas/base/strmv/package.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_l_nt_nu.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_l_nt_u.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_l_t_nu.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_l_t_u.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_oa.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_u_nt_nu.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_u_nt_u.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_u_t_nu.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_u_t_u.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_xn.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_xt.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_l_nt_nu.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_l_nt_u.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_l_t_nu.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_l_t_u.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_oa.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_u_nt_nu.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_u_nt_u.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_u_t_nu.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_u_t_u.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_xn.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_xt.json
  lib/node_modules/@stdlib/blas/base/strmv/test/test.js
  lib/node_modules/@stdlib/blas/base/strmv/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/strmv/test/test.strmv.js
  lib/node_modules/@stdlib/types/index.d.ts
Labels: Feature, BLAS

#2706 fix: `example` command hanging in REPL when executing multi-line code
  lib/node_modules/@stdlib/repl/lib/commands/example.js
  lib/node_modules/@stdlib/repl/lib/multiline_handler.js
Labels: REPL

#2365 feat: add `blas/base/sgemv`
  lib/node_modules/@stdlib/blas/base/sgemv/README.md
  lib/node_modules/@stdlib/blas/base/sgemv/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/sgemv/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/sgemv/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/sgemv/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/sgemv/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/sgemv/examples/index.js
  lib/node_modules/@stdlib/blas/base/sgemv/lib/base.js
  lib/node_modules/@stdlib/blas/base/sgemv/lib/index.js
  lib/node_modules/@stdlib/blas/base/sgemv/lib/main.js
  lib/node_modules/@stdlib/blas/base/sgemv/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/sgemv/lib/sgemv.js
  lib/node_modules/@stdlib/blas/base/sgemv/package.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/column_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/column_major_nt.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/column_major_oa.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/column_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/column_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/column_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/column_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/column_major_t.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/column_major_xnyn.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/column_major_xnyp.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/column_major_xpyn.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/column_major_xpyp.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/row_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/row_major_nt.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/row_major_oa.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/row_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/row_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/row_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/row_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/row_major_t.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/row_major_xnyn.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/row_major_xnyp.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/row_major_xpyn.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/fixtures/row_major_xpyp.json
  lib/node_modules/@stdlib/blas/base/sgemv/test/test.js
  lib/node_modules/@stdlib/blas/base/sgemv/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/sgemv/test/test.sgemv.js
Labels: Feature, BLAS

#2540 feat: add `blas/base/dtrmv`
  lib/node_modules/@stdlib/blas/base/dtrmv/README.md
  lib/node_modules/@stdlib/blas/base/dtrmv/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/dtrmv/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/dtrmv/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/dtrmv/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/dtrmv/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/dtrmv/examples/index.js
  lib/node_modules/@stdlib/blas/base/dtrmv/lib/base.js
  lib/node_modules/@stdlib/blas/base/dtrmv/lib/dtrmv.js
  lib/node_modules/@stdlib/blas/base/dtrmv/lib/index.js
  lib/node_modules/@stdlib/blas/base/dtrmv/lib/main.js
  lib/node_modules/@stdlib/blas/base/dtrmv/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/dtrmv/package.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/column_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/column_major_l_nt_nu.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/column_major_l_nt_u.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/column_major_l_t_nu.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/column_major_l_t_u.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/column_major_oa.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/column_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/column_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/column_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/column_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/column_major_u_nt_nu.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/column_major_u_nt_u.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/column_major_u_t_nu.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/column_major_u_t_u.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/column_major_xn.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/column_major_xt.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/row_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/row_major_l_nt_nu.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/row_major_l_nt_u.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/row_major_l_t_nu.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/row_major_l_t_u.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/row_major_oa.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/row_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/row_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/row_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/row_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/row_major_u_nt_nu.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/row_major_u_nt_u.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/row_major_u_t_nu.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/row_major_u_t_u.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/row_major_xn.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/fixtures/row_major_xt.json
  lib/node_modules/@stdlib/blas/base/dtrmv/test/test.dtrmv.js
  lib/node_modules/@stdlib/blas/base/dtrmv/test/test.js
  lib/node_modules/@stdlib/blas/base/dtrmv/test/test.ndarray.js
Labels: Feature, BLAS

#2659 feat: add `blas/base/dsyr`
  lib/node_modules/@stdlib/blas/base/dsyr/README.md
  lib/node_modules/@stdlib/blas/base/dsyr/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/dsyr/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/dsyr/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/dsyr/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/dsyr/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/dsyr/examples/index.js
  lib/node_modules/@stdlib/blas/base/dsyr/lib/base.js
  lib/node_modules/@stdlib/blas/base/dsyr/lib/dsyr.js
  lib/node_modules/@stdlib/blas/base/dsyr/lib/index.js
  lib/node_modules/@stdlib/blas/base/dsyr/lib/main.js
  lib/node_modules/@stdlib/blas/base/dsyr/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/dsyr/package.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/column_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/column_major_l.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/column_major_oa.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/column_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/column_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/column_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/column_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/column_major_u.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/column_major_xn.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/column_major_xp.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/row_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/row_major_l.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/row_major_oa.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/row_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/row_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/row_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/row_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/row_major_u.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/row_major_xn.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/fixtures/row_major_xp.json
  lib/node_modules/@stdlib/blas/base/dsyr/test/test.dsyr.js
  lib/node_modules/@stdlib/blas/base/dsyr/test/test.js
  lib/node_modules/@stdlib/blas/base/dsyr/test/test.ndarray.js
Labels: Feature, BLAS

#2726 feat: add `LL_D` in `math/base/napi/binary`
  lib/node_modules/@stdlib/math/base/napi/binary/README.md
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary.h
  lib/node_modules/@stdlib/math/base/napi/binary/src/main.c
Labels: Feature, Math, Native Addons, C

#2728 docs: add missing `stdint` includes in examples in `math/base/napi/binary`
  lib/node_modules/@stdlib/math/base/napi/binary/README.md
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary.h
Labels: Documentation, Math

#2724 feat: add `lapack/base/spttrf`
  lib/node_modules/@stdlib/lapack/base/spttrf/README.md
  lib/node_modules/@stdlib/lapack/base/spttrf/benchmark/benchmark.js
  lib/node_modules/@stdlib/lapack/base/spttrf/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/lapack/base/spttrf/docs/repl.txt
  lib/node_modules/@stdlib/lapack/base/spttrf/docs/types/index.d.ts
  lib/node_modules/@stdlib/lapack/base/spttrf/docs/types/test.ts
  lib/node_modules/@stdlib/lapack/base/spttrf/examples/index.js
  lib/node_modules/@stdlib/lapack/base/spttrf/lib/base.js
  lib/node_modules/@stdlib/lapack/base/spttrf/lib/index.js
  lib/node_modules/@stdlib/lapack/base/spttrf/lib/main.js
  lib/node_modules/@stdlib/lapack/base/spttrf/lib/ndarray.js
  lib/node_modules/@stdlib/lapack/base/spttrf/lib/spttrf.js
  lib/node_modules/@stdlib/lapack/base/spttrf/package.json
  lib/node_modules/@stdlib/lapack/base/spttrf/test/test.js
  lib/node_modules/@stdlib/lapack/base/spttrf/test/test.ndarray.js
  lib/node_modules/@stdlib/lapack/base/spttrf/test/test.spttrf.js
Labels: Feature, Base, JavaScript, LAPACK

#2729 feat: add C implementation for `math/base/special/binomcoef`
  lib/node_modules/@stdlib/math/base/special/binomcoef/README.md
  lib/node_modules/@stdlib/math/base/special/binomcoef/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/binomcoef/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/binomcoef/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/binomcoef/binding.gyp
  lib/node_modules/@stdlib/math/base/special/binomcoef/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/binomcoef/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/binomcoef/include.gypi
  lib/node_modules/@stdlib/math/base/special/binomcoef/include/stdlib/math/base/special/binomcoef.h
  lib/node_modules/@stdlib/math/base/special/binomcoef/lib/native.js
  lib/node_modules/@stdlib/math/base/special/binomcoef/manifest.json
  lib/node_modules/@stdlib/math/base/special/binomcoef/src/Makefile
  lib/node_modules/@stdlib/math/base/special/binomcoef/src/addon.c
  lib/node_modules/@stdlib/math/base/special/binomcoef/src/main.c
  lib/node_modules/@stdlib/math/base/special/binomcoef/test/test.native.js
Labels: Feature, Needs Review, Math, C

#2654 feat: add `blas/base/dgemv`
  lib/node_modules/@stdlib/blas/base/dgemv/README.md
  lib/node_modules/@stdlib/blas/base/dgemv/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/dgemv/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/dgemv/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/dgemv/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/dgemv/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/dgemv/examples/index.js
  lib/node_modules/@stdlib/blas/base/dgemv/lib/base.js
  lib/node_modules/@stdlib/blas/base/dgemv/lib/dgemv.js
  lib/node_modules/@stdlib/blas/base/dgemv/lib/index.js
  lib/node_modules/@stdlib/blas/base/dgemv/lib/main.js
  lib/node_modules/@stdlib/blas/base/dgemv/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/dgemv/package.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/column_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/column_major_nt.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/column_major_oa.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/column_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/column_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/column_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/column_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/column_major_t.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/column_major_xnyn.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/column_major_xnyp.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/column_major_xpyn.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/column_major_xpyp.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/row_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/row_major_nt.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/row_major_oa.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/row_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/row_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/row_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/row_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/row_major_t.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/row_major_xnyn.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/row_major_xnyp.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/row_major_xpyn.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/fixtures/row_major_xpyp.json
  lib/node_modules/@stdlib/blas/base/dgemv/test/test.dgemv.js
  lib/node_modules/@stdlib/blas/base/dgemv/test/test.js
  lib/node_modules/@stdlib/blas/base/dgemv/test/test.ndarray.js
Labels: Feature, BLAS

#2705 feat: add C implementation for `math/base/special/sinc`
  lib/node_modules/@stdlib/math/base/special/sinc/README.md
  lib/node_modules/@stdlib/math/base/special/sinc/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sinc/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/sinc/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sinc/binding.gyp
  lib/node_modules/@stdlib/math/base/special/sinc/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/sinc/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/sinc/include.gypi
  lib/node_modules/@stdlib/math/base/special/sinc/include/stdlib/math/base/special/sinc.h
  lib/node_modules/@stdlib/math/base/special/sinc/lib/native.js
  lib/node_modules/@stdlib/math/base/special/sinc/manifest.json
  lib/node_modules/@stdlib/math/base/special/sinc/src/Makefile
  lib/node_modules/@stdlib/math/base/special/sinc/src/addon.c
  lib/node_modules/@stdlib/math/base/special/sinc/src/main.c
  lib/node_modules/@stdlib/math/base/special/sinc/test/test.native.js
Labels: Needs Review, Math

#2732 docs: remove comments, set `isNegative` to `uint8_t` in `math/base/special/gammaln`
  lib/node_modules/@stdlib/math/base/special/gammaln/include/stdlib/math/base/special/gammaln.h
  lib/node_modules/@stdlib/math/base/special/gammaln/src/main.c
Labels: Needs Review, Math

#2735 docs: updates comment for `blas/base/sgemv`
  lib/node_modules/@stdlib/blas/base/sgemv/lib/base.js
Labels: Documentation, BLAS

#2736 docs: fix incorrect package description in `string/left-trim-n`
  lib/node_modules/@stdlib/string/left-trim-n/README.md
Labels: Needs Changes

#2733 refactor: use `int64_t`, check last bit, cast to `double` in `math/base/special/binomcoef`
  lib/node_modules/@stdlib/math/base/special/binomcoef/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/binomcoef/manifest.json
  lib/node_modules/@stdlib/math/base/special/binomcoef/src/main.c
Labels: Needs Review, Math

#2745 docs: update Twitter links
  docs/links/database.json
  docs/references/csl/ieee.csl
  etc/typedoc/index.md
  etc/typedoc/theme/layouts/default.hbs
  etc/typedoc/theme/partials/footer.hbs
Labels: Documentation

#2749 feat: add `constants/float32/max-base2-exponent-subnormal`
  lib/node_modules/@stdlib/constants/float32/max-base2-exponent-subnormal/README.md
  lib/node_modules/@stdlib/constants/float32/max-base2-exponent-subnormal/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/max-base2-exponent-subnormal/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/max-base2-exponent-subnormal/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/max-base2-exponent-subnormal/examples/index.js
  lib/node_modules/@stdlib/constants/float32/max-base2-exponent-subnormal/include/stdlib/constants/float64/max_base2_exponent_subnormal.h
  lib/node_modules/@stdlib/constants/float32/max-base2-exponent-subnormal/lib/index.js
  lib/node_modules/@stdlib/constants/float32/max-base2-exponent-subnormal/manifest.json
  lib/node_modules/@stdlib/constants/float32/max-base2-exponent-subnormal/package.json
  lib/node_modules/@stdlib/constants/float32/max-base2-exponent-subnormal/test/test.js
Labels: Ready To Merge

#2756 docs: update comment to use 8 bits in `constants/float32/max-base2-exponent-subnormal`
  lib/node_modules/@stdlib/constants/float32/max-base2-exponent-subnormal/lib/index.js
Labels: Documentation

#2752 feat: add `blas/base/strsv`
  lib/node_modules/@stdlib/blas/base/strsv/README.md
  lib/node_modules/@stdlib/blas/base/strsv/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/strsv/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/strsv/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/strsv/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/strsv/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/strsv/examples/index.js
  lib/node_modules/@stdlib/blas/base/strsv/lib/base.js
  lib/node_modules/@stdlib/blas/base/strsv/lib/index.js
  lib/node_modules/@stdlib/blas/base/strsv/lib/main.js
  lib/node_modules/@stdlib/blas/base/strsv/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/strsv/lib/strsv.js
  lib/node_modules/@stdlib/blas/base/strsv/package.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/column_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/column_major_l_nt_nu.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/column_major_l_nt_u.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/column_major_l_t_nu.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/column_major_l_t_u.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/column_major_oa.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/column_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/column_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/column_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/column_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/column_major_u_nt_nu.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/column_major_u_nt_u.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/column_major_u_t_nu.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/column_major_u_t_u.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/column_major_xn.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/column_major_xt.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/row_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/row_major_l_nt_nu.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/row_major_l_nt_u.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/row_major_l_t_nu.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/row_major_l_t_u.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/row_major_oa.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/row_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/row_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/row_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/row_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/row_major_u_nt_nu.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/row_major_u_nt_u.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/row_major_u_t_nu.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/row_major_u_t_u.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/row_major_xn.json
  lib/node_modules/@stdlib/blas/base/strsv/test/fixtures/row_major_xt.json
  lib/node_modules/@stdlib/blas/base/strsv/test/test.js
  lib/node_modules/@stdlib/blas/base/strsv/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/strsv/test/test.strsv.js
Labels: BLAS

#2743 feat: add C implementation for `math/base/special/betaln`
  lib/node_modules/@stdlib/math/base/special/betaln/README.md
  lib/node_modules/@stdlib/math/base/special/betaln/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/betaln/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/betaln/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/betaln/binding.gyp
  lib/node_modules/@stdlib/math/base/special/betaln/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/betaln/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/betaln/include.gypi
  lib/node_modules/@stdlib/math/base/special/betaln/include/stdlib/math/base/special/betaln.h
  lib/node_modules/@stdlib/math/base/special/betaln/lib/native.js
  lib/node_modules/@stdlib/math/base/special/betaln/manifest.json
  lib/node_modules/@stdlib/math/base/special/betaln/src/Makefile
  lib/node_modules/@stdlib/math/base/special/betaln/src/addon.c
  lib/node_modules/@stdlib/math/base/special/betaln/src/main.c
  lib/node_modules/@stdlib/math/base/special/betaln/test/test.native.js
Labels: Math, Ready To Merge

#2725 feat: add `math/base/special/roundf`
  lib/node_modules/@stdlib/math/base/special/roundf/README.md
  lib/node_modules/@stdlib/math/base/special/roundf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/roundf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/roundf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/roundf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/roundf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/roundf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/roundf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/roundf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/roundf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/roundf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/roundf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/roundf/include.gypi
  lib/node_modules/@stdlib/math/base/special/roundf/include/stdlib/math/base/special/roundf.h
  lib/node_modules/@stdlib/math/base/special/roundf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/roundf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/roundf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/roundf/manifest.json
  lib/node_modules/@stdlib/math/base/special/roundf/package.json
  lib/node_modules/@stdlib/math/base/special/roundf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/roundf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/roundf/src/main.c
  lib/node_modules/@stdlib/math/base/special/roundf/test/test.js
  lib/node_modules/@stdlib/math/base/special/roundf/test/test.native.js
Labels: Math, Ready To Merge

#2763 bench: update sample value in `math/base/assert/is-integer`
  lib/node_modules/@stdlib/math/base/assert/is-integer/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-integer/benchmark/benchmark.native.js
Labels: Math

#2758 fix: syntax-highlighter not updating if the input has no tokens in the REPL
  lib/node_modules/@stdlib/repl/lib/syntax_highlighter.js
Labels: REPL

#2761 bench: use `float` instead of `double` in benchmarks for `math/base/special/truncf`
  lib/node_modules/@stdlib/math/base/special/truncf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/truncf/benchmark/c/native/benchmark.c
Labels: Math

#2766 docs: update function description comments in `math/base/special/betaln`
  lib/node_modules/@stdlib/math/base/special/betaln/include/stdlib/math/base/special/betaln.h
  lib/node_modules/@stdlib/math/base/special/betaln/lib/dceval.js
  lib/node_modules/@stdlib/math/base/special/betaln/lib/gamma_correction.js
  lib/node_modules/@stdlib/math/base/special/betaln/lib/main.js
  lib/node_modules/@stdlib/math/base/special/betaln/lib/native.js
  lib/node_modules/@stdlib/math/base/special/betaln/src/main.c
Labels: Math

#2764 docs: update license header in `math/base/special/gamma1pm1`
  lib/node_modules/@stdlib/math/base/special/gamma1pm1/src/main.c
Labels: Math

#2762 feat: add `math/base/assert/is-integerf`
  lib/node_modules/@stdlib/math/base/assert/is-integerf/README.md
  lib/node_modules/@stdlib/math/base/assert/is-integerf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-integerf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-integerf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-integerf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-integerf/binding.gyp
  lib/node_modules/@stdlib/math/base/assert/is-integerf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/assert/is-integerf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/assert/is-integerf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/assert/is-integerf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-integerf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/assert/is-integerf/examples/index.js
  lib/node_modules/@stdlib/math/base/assert/is-integerf/include.gypi
  lib/node_modules/@stdlib/math/base/assert/is-integerf/include/stdlib/math/base/assert/is_integerf.h
  lib/node_modules/@stdlib/math/base/assert/is-integerf/lib/index.js
  lib/node_modules/@stdlib/math/base/assert/is-integerf/lib/main.js
  lib/node_modules/@stdlib/math/base/assert/is-integerf/lib/native.js
  lib/node_modules/@stdlib/math/base/assert/is-integerf/manifest.json
  lib/node_modules/@stdlib/math/base/assert/is-integerf/package.json
  lib/node_modules/@stdlib/math/base/assert/is-integerf/src/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-integerf/src/addon.c
  lib/node_modules/@stdlib/math/base/assert/is-integerf/src/main.c
  lib/node_modules/@stdlib/math/base/assert/is-integerf/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-integerf/test/test.native.js
Labels: Math, Ready To Merge

#2768 feat: add `F_I` in `math/base/napi/unary`
  lib/node_modules/@stdlib/math/base/napi/unary/README.md
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary.h
  lib/node_modules/@stdlib/math/base/napi/unary/src/main.c
Labels: Feature, Math

#2770 fix: handle edge cases in the tokenizer for syntax highlighting in the REPL
  lib/node_modules/@stdlib/repl/lib/tokenizer.js
Labels: REPL, Ready To Merge

#2679 feat: add C implementation for `math/base/special/besselj1`
  lib/node_modules/@stdlib/math/base/special/besselj1/README.md
  lib/node_modules/@stdlib/math/base/special/besselj1/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/besselj1/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/besselj1/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/besselj1/binding.gyp
  lib/node_modules/@stdlib/math/base/special/besselj1/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/besselj1/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/besselj1/include.gypi
  lib/node_modules/@stdlib/math/base/special/besselj1/include/stdlib/math/base/special/j1.h
  lib/node_modules/@stdlib/math/base/special/besselj1/lib/native.js
  lib/node_modules/@stdlib/math/base/special/besselj1/lib/rational_p1q1.js
  lib/node_modules/@stdlib/math/base/special/besselj1/lib/rational_p2q2.js
  lib/node_modules/@stdlib/math/base/special/besselj1/lib/rational_pcqc.js
  lib/node_modules/@stdlib/math/base/special/besselj1/lib/rational_psqs.js
  lib/node_modules/@stdlib/math/base/special/besselj1/manifest.json
  lib/node_modules/@stdlib/math/base/special/besselj1/scripts/evalrational.js
  lib/node_modules/@stdlib/math/base/special/besselj1/src/Makefile
  lib/node_modules/@stdlib/math/base/special/besselj1/src/addon.c
  lib/node_modules/@stdlib/math/base/special/besselj1/src/main.c
  lib/node_modules/@stdlib/math/base/special/besselj1/test/test.native.js
Labels: Needs Review, Math

#2778 docs: add comment, revert to previous tolerance in `math/base/special/factorialln`
  lib/node_modules/@stdlib/math/base/special/factorialln/test/test.js
  lib/node_modules/@stdlib/math/base/special/factorialln/test/test.native.js
Labels: Math, Ready To Merge

#2775 docs: compare `n` with `integer`, not a `double` in `math/base/special/binomcoefln`
  lib/node_modules/@stdlib/math/base/special/binomcoefln/src/main.c
Labels: Math, Ready To Merge

#2776 bench: remove irrelevant benchmark, update `boost` link in `math/base/special/gamma-delta-ratio`
  lib/node_modules/@stdlib/math/base/special/gamma-delta-ratio/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/gamma-delta-ratio/lib/gamma_delta_ratio_lanczos.js
Labels: Math, Ready To Merge

#2774 feat: add C implementation for `math/base/special/besselj0`
  lib/node_modules/@stdlib/math/base/special/besselj0/README.md
  lib/node_modules/@stdlib/math/base/special/besselj0/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/besselj0/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/besselj0/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/besselj0/binding.gyp
  lib/node_modules/@stdlib/math/base/special/besselj0/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/besselj0/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/besselj0/include.gypi
  lib/node_modules/@stdlib/math/base/special/besselj0/include/stdlib/math/base/special/besselj0.h
  lib/node_modules/@stdlib/math/base/special/besselj0/lib/native.js
  lib/node_modules/@stdlib/math/base/special/besselj0/lib/rational_p1q1.js
  lib/node_modules/@stdlib/math/base/special/besselj0/lib/rational_p2q2.js
  lib/node_modules/@stdlib/math/base/special/besselj0/lib/rational_pcqc.js
  lib/node_modules/@stdlib/math/base/special/besselj0/lib/rational_psqs.js
  lib/node_modules/@stdlib/math/base/special/besselj0/manifest.json
  lib/node_modules/@stdlib/math/base/special/besselj0/scripts/evalrational.js
  lib/node_modules/@stdlib/math/base/special/besselj0/src/Makefile
  lib/node_modules/@stdlib/math/base/special/besselj0/src/addon.c
  lib/node_modules/@stdlib/math/base/special/besselj0/src/main.c
  lib/node_modules/@stdlib/math/base/special/besselj0/test/test.native.js
Labels: Math

#2753 feat: add `blas/base/dtrsv`
  lib/node_modules/@stdlib/blas/base/dtrsv/README.md
  lib/node_modules/@stdlib/blas/base/dtrsv/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/dtrsv/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/dtrsv/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/dtrsv/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/dtrsv/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/dtrsv/examples/index.js
  lib/node_modules/@stdlib/blas/base/dtrsv/lib/base.js
  lib/node_modules/@stdlib/blas/base/dtrsv/lib/dtrsv.js
  lib/node_modules/@stdlib/blas/base/dtrsv/lib/index.js
  lib/node_modules/@stdlib/blas/base/dtrsv/lib/main.js
  lib/node_modules/@stdlib/blas/base/dtrsv/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/dtrsv/package.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/column_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/column_major_l_nt_nu.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/column_major_l_nt_u.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/column_major_l_t_nu.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/column_major_l_t_u.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/column_major_oa.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/column_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/column_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/column_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/column_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/column_major_u_nt_nu.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/column_major_u_nt_u.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/column_major_u_t_nu.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/column_major_u_t_u.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/column_major_xn.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/column_major_xt.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/row_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/row_major_l_nt_nu.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/row_major_l_nt_u.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/row_major_l_t_nu.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/row_major_l_t_u.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/row_major_oa.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/row_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/row_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/row_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/row_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/row_major_u_nt_nu.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/row_major_u_nt_u.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/row_major_u_t_nu.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/row_major_u_t_u.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/row_major_xn.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/row_major_xt.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/test.dtrsv.js
  lib/node_modules/@stdlib/blas/base/dtrsv/test/test.js
  lib/node_modules/@stdlib/blas/base/dtrsv/test/test.ndarray.js
Labels: Feature, BLAS

#2777 feat!: fix function name and update docs
  lib/node_modules/@stdlib/math/base/special/besselj1/README.md
  lib/node_modules/@stdlib/math/base/special/besselj1/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/besselj1/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/besselj1/include/stdlib/math/base/special/besselj1.h
  lib/node_modules/@stdlib/math/base/special/besselj1/lib/main.js
  lib/node_modules/@stdlib/math/base/special/besselj1/src/addon.c
  lib/node_modules/@stdlib/math/base/special/besselj1/src/main.c
Labels: Math

#2734 feat: add `lapack/base/dge-trans`
  lib/node_modules/@stdlib/lapack/base/dge-trans/README.md
  lib/node_modules/@stdlib/lapack/base/dge-trans/benchmark/benchmark.js
  lib/node_modules/@stdlib/lapack/base/dge-trans/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/lapack/base/dge-trans/docs/repl.txt
  lib/node_modules/@stdlib/lapack/base/dge-trans/docs/types/index.d.ts
  lib/node_modules/@stdlib/lapack/base/dge-trans/docs/types/test.ts
  lib/node_modules/@stdlib/lapack/base/dge-trans/examples/index.js
  lib/node_modules/@stdlib/lapack/base/dge-trans/lib/base.js
  lib/node_modules/@stdlib/lapack/base/dge-trans/lib/dgetrans.js
  lib/node_modules/@stdlib/lapack/base/dge-trans/lib/index.js
  lib/node_modules/@stdlib/lapack/base/dge-trans/lib/main.js
  lib/node_modules/@stdlib/lapack/base/dge-trans/lib/ndarray.js
  lib/node_modules/@stdlib/lapack/base/dge-trans/package.json
  lib/node_modules/@stdlib/lapack/base/dge-trans/test/test.dgetrans.js
  lib/node_modules/@stdlib/lapack/base/dge-trans/test/test.js
  lib/node_modules/@stdlib/lapack/base/dge-trans/test/test.ndarray.js
Labels: Feature, Base, JavaScript, LAPACK

#2783 feat: add `iter/cunone-by`
  lib/node_modules/@stdlib/iter/cunone-by/README.md
  lib/node_modules/@stdlib/iter/cunone-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/iter/cunone-by/docs/repl.txt
  lib/node_modules/@stdlib/iter/cunone-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/iter/cunone-by/docs/types/test.ts
  lib/node_modules/@stdlib/iter/cunone-by/examples/index.js
  lib/node_modules/@stdlib/iter/cunone-by/lib/index.js
  lib/node_modules/@stdlib/iter/cunone-by/lib/main.js
  lib/node_modules/@stdlib/iter/cunone-by/package.json
  lib/node_modules/@stdlib/iter/cunone-by/test/test.js
Labels: Feature, Utilities

#2793 feat: support negative strides for `idamax` and `isamax`
  lib/node_modules/@stdlib/blas/base/idamax/README.md
  lib/node_modules/@stdlib/blas/base/idamax/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/idamax/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/idamax/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/idamax/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/idamax/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/isamax/README.md
  lib/node_modules/@stdlib/blas/base/isamax/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/isamax/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/isamax/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/isamax/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/isamax/test/test.ndarray.native.js
Labels: Enhancement, BLAS, Base, JavaScript

#2760 feat: add `blas/base/sspr`
  lib/node_modules/@stdlib/blas/base/sspr/README.md
  lib/node_modules/@stdlib/blas/base/sspr/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/sspr/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/sspr/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/sspr/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/sspr/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/sspr/examples/index.js
  lib/node_modules/@stdlib/blas/base/sspr/lib/base.js
  lib/node_modules/@stdlib/blas/base/sspr/lib/index.js
  lib/node_modules/@stdlib/blas/base/sspr/lib/main.js
  lib/node_modules/@stdlib/blas/base/sspr/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/sspr/lib/sspr.js
  lib/node_modules/@stdlib/blas/base/sspr/package.json
  lib/node_modules/@stdlib/blas/base/sspr/test/fixtures/column_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/sspr/test/fixtures/column_major_l.json
  lib/node_modules/@stdlib/blas/base/sspr/test/fixtures/column_major_oap.json
  lib/node_modules/@stdlib/blas/base/sspr/test/fixtures/column_major_ox.json
  lib/node_modules/@stdlib/blas/base/sspr/test/fixtures/column_major_sap.json
  lib/node_modules/@stdlib/blas/base/sspr/test/fixtures/column_major_sapn.json
  lib/node_modules/@stdlib/blas/base/sspr/test/fixtures/column_major_u.json
  lib/node_modules/@stdlib/blas/base/sspr/test/fixtures/column_major_xn.json
  lib/node_modules/@stdlib/blas/base/sspr/test/fixtures/column_major_xp.json
  lib/node_modules/@stdlib/blas/base/sspr/test/fixtures/row_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/sspr/test/fixtures/row_major_l.json
  lib/node_modules/@stdlib/blas/base/sspr/test/fixtures/row_major_oap.json
  lib/node_modules/@stdlib/blas/base/sspr/test/fixtures/row_major_ox.json
  lib/node_modules/@stdlib/blas/base/sspr/test/fixtures/row_major_sap.json
  lib/node_modules/@stdlib/blas/base/sspr/test/fixtures/row_major_sapn.json
  lib/node_modules/@stdlib/blas/base/sspr/test/fixtures/row_major_u.json
  lib/node_modules/@stdlib/blas/base/sspr/test/fixtures/row_major_xn.json
  lib/node_modules/@stdlib/blas/base/sspr/test/fixtures/row_major_xp.json
  lib/node_modules/@stdlib/blas/base/sspr/test/test.js
  lib/node_modules/@stdlib/blas/base/sspr/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/sspr/test/test.sspr.js
Labels: Feature, BLAS

#2808 docs: update function description in `math/base/special/log`
  lib/node_modules/@stdlib/math/base/special/log/README.md
  lib/node_modules/@stdlib/math/base/special/log/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/log/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/log/include/stdlib/math/base/special/log.h
  lib/node_modules/@stdlib/math/base/special/log/lib/index.js
  lib/node_modules/@stdlib/math/base/special/log/lib/main.js
  lib/node_modules/@stdlib/math/base/special/log/lib/native.js
  lib/node_modules/@stdlib/math/base/special/log/package.json
  lib/node_modules/@stdlib/math/base/special/log/src/main.c
Labels: Math, Ready To Merge

#2568 feat: add `lapack/base/dlamch`
  lib/node_modules/@stdlib/lapack/base/dlamch/README.md
  lib/node_modules/@stdlib/lapack/base/dlamch/benchmark/benchmark.js
  lib/node_modules/@stdlib/lapack/base/dlamch/docs/repl.txt
  lib/node_modules/@stdlib/lapack/base/dlamch/docs/types/index.d.ts
  lib/node_modules/@stdlib/lapack/base/dlamch/docs/types/test.ts
  lib/node_modules/@stdlib/lapack/base/dlamch/examples/index.js
  lib/node_modules/@stdlib/lapack/base/dlamch/lib/index.js
  lib/node_modules/@stdlib/lapack/base/dlamch/lib/main.js
  lib/node_modules/@stdlib/lapack/base/dlamch/package.json
  lib/node_modules/@stdlib/lapack/base/dlamch/test/test.js
Labels: Feature, JavaScript, LAPACK

#2821 feat: add `constants/float32/max-safe-nth-factorial`
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-factorial/README.md
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-factorial/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-factorial/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-factorial/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-factorial/examples/index.js
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-factorial/include/stdlib/constants/float32/max_safe_nth_factorial.h
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-factorial/lib/index.js
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-factorial/manifest.json
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-factorial/package.json
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-factorial/test/test.js
Labels: Feature

#2820 feat: add `math/base/special/minf`
  lib/node_modules/@stdlib/math/base/special/minf/README.md
  lib/node_modules/@stdlib/math/base/special/minf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/minf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/minf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/minf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/minf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/minf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/minf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/minf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/minf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/minf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/minf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/minf/include.gypi
  lib/node_modules/@stdlib/math/base/special/minf/include/stdlib/math/base/special/minf.h
  lib/node_modules/@stdlib/math/base/special/minf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/minf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/minf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/minf/manifest.json
  lib/node_modules/@stdlib/math/base/special/minf/package.json
  lib/node_modules/@stdlib/math/base/special/minf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/minf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/minf/src/main.c
  lib/node_modules/@stdlib/math/base/special/minf/test/test.js
  lib/node_modules/@stdlib/math/base/special/minf/test/test.native.js
Labels: Feature, Math

#2816 feat: add `math/base/special/maxf`
  lib/node_modules/@stdlib/math/base/special/maxf/README.md
  lib/node_modules/@stdlib/math/base/special/maxf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/maxf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/maxf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/maxf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/maxf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/maxf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/maxf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/maxf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/maxf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/maxf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/maxf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/maxf/include.gypi
  lib/node_modules/@stdlib/math/base/special/maxf/include/stdlib/math/base/special/maxf.h
  lib/node_modules/@stdlib/math/base/special/maxf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/maxf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/maxf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/maxf/manifest.json
  lib/node_modules/@stdlib/math/base/special/maxf/package.json
  lib/node_modules/@stdlib/math/base/special/maxf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/maxf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/maxf/src/main.c
  lib/node_modules/@stdlib/math/base/special/maxf/test/test.js
  lib/node_modules/@stdlib/math/base/special/maxf/test/test.native.js
Labels: Feature, Math

#2799 feat: add `math/base/special/acotdf`
  lib/node_modules/@stdlib/math/base/special/acotdf/README.md
  lib/node_modules/@stdlib/math/base/special/acotdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acotdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acotdf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/acotdf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acotdf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/acotdf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/acotdf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/acotdf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/acotdf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/acotdf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/acotdf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/acotdf/include.gypi
  lib/node_modules/@stdlib/math/base/special/acotdf/include/stdlib/math/base/special/acotdf.h
  lib/node_modules/@stdlib/math/base/special/acotdf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/acotdf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/acotdf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/acotdf/manifest.json
  lib/node_modules/@stdlib/math/base/special/acotdf/package.json
  lib/node_modules/@stdlib/math/base/special/acotdf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/acotdf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/acotdf/src/main.c
  lib/node_modules/@stdlib/math/base/special/acotdf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/acotdf/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/acotdf/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/acotdf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/acotdf/test/test.js
  lib/node_modules/@stdlib/math/base/special/acotdf/test/test.native.js
Labels: Feature, Math

#2809 feat: add `math/base/special/logf`
  lib/node_modules/@stdlib/math/base/special/logf/README.md
  lib/node_modules/@stdlib/math/base/special/logf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/logf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/logf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/logf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/logf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/logf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/logf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/logf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/logf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/logf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/logf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/logf/include.gypi
  lib/node_modules/@stdlib/math/base/special/logf/include/stdlib/math/base/special/logf.h
  lib/node_modules/@stdlib/math/base/special/logf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/logf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/logf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/logf/manifest.json
  lib/node_modules/@stdlib/math/base/special/logf/package.json
  lib/node_modules/@stdlib/math/base/special/logf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/logf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/logf/src/main.c
  lib/node_modules/@stdlib/math/base/special/logf/test/test.js
  lib/node_modules/@stdlib/math/base/special/logf/test/test.native.js
Labels: Math, Ready To Merge

#2805 feat: add `math/base/special/ldexpf`
  lib/node_modules/@stdlib/math/base/special/ldexpf/README.md
  lib/node_modules/@stdlib/math/base/special/ldexpf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/ldexpf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ldexpf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/ldexpf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ldexpf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/ldexpf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/ldexpf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/ldexpf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/ldexpf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/ldexpf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/ldexpf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/ldexpf/include.gypi
  lib/node_modules/@stdlib/math/base/special/ldexpf/include/stdlib/math/base/special/ldexpf.h
  lib/node_modules/@stdlib/math/base/special/ldexpf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/ldexpf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/ldexpf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/ldexpf/manifest.json
  lib/node_modules/@stdlib/math/base/special/ldexpf/package.json
  lib/node_modules/@stdlib/math/base/special/ldexpf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/ldexpf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/ldexpf/src/main.c
  lib/node_modules/@stdlib/math/base/special/ldexpf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/ldexpf/test/fixtures/julia/large.json
  lib/node_modules/@stdlib/math/base/special/ldexpf/test/fixtures/julia/medium.json
  lib/node_modules/@stdlib/math/base/special/ldexpf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/ldexpf/test/fixtures/julia/small.json
  lib/node_modules/@stdlib/math/base/special/ldexpf/test/fixtures/julia/subnormal.json
  lib/node_modules/@stdlib/math/base/special/ldexpf/test/test.js
  lib/node_modules/@stdlib/math/base/special/ldexpf/test/test.native.js
Labels: Math, Ready To Merge

#2813 feat: add `math/base/special/xlogyf`
  lib/node_modules/@stdlib/math/base/special/xlogyf/README.md
  lib/node_modules/@stdlib/math/base/special/xlogyf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/xlogyf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/xlogyf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/xlogyf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/xlogyf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/xlogyf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/xlogyf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/xlogyf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/xlogyf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/xlogyf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/xlogyf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/xlogyf/include.gypi
  lib/node_modules/@stdlib/math/base/special/xlogyf/include/stdlib/math/base/special/xlogyf.h
  lib/node_modules/@stdlib/math/base/special/xlogyf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/xlogyf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/xlogyf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/xlogyf/manifest.json
  lib/node_modules/@stdlib/math/base/special/xlogyf/package.json
  lib/node_modules/@stdlib/math/base/special/xlogyf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/xlogyf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/xlogyf/src/main.c
  lib/node_modules/@stdlib/math/base/special/xlogyf/test/fixtures/python/large_large.json
  lib/node_modules/@stdlib/math/base/special/xlogyf/test/fixtures/python/large_small.json
  lib/node_modules/@stdlib/math/base/special/xlogyf/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/math/base/special/xlogyf/test/fixtures/python/small_large.json
  lib/node_modules/@stdlib/math/base/special/xlogyf/test/fixtures/python/small_small.json
  lib/node_modules/@stdlib/math/base/special/xlogyf/test/test.js
  lib/node_modules/@stdlib/math/base/special/xlogyf/test/test.native.js
Labels: Math, Ready To Merge

#2830 test: add and modify tests in `math/base/special/maxabs`
  lib/node_modules/@stdlib/math/base/special/maxabs/test/test.js
  lib/node_modules/@stdlib/math/base/special/maxabs/test/test.native.js
Labels: Math, Ready To Merge

#2815 refactor: use `stdlib_base_fmod` instead of built-in in `math/base/special/gcd`
  lib/node_modules/@stdlib/math/base/special/gcd/manifest.json
  lib/node_modules/@stdlib/math/base/special/gcd/src/main.c
Labels: Math, Ready To Merge

#2841 feat: add `math/base/special/atandf`
  lib/node_modules/@stdlib/math/base/special/atandf/README.md
  lib/node_modules/@stdlib/math/base/special/atandf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/atandf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/atandf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/atandf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/atandf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/atandf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/atandf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/atandf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/atandf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/atandf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/atandf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/atandf/include.gypi
  lib/node_modules/@stdlib/math/base/special/atandf/include/stdlib/math/base/special/atandf.h
  lib/node_modules/@stdlib/math/base/special/atandf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/atandf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/atandf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/atandf/manifest.json
  lib/node_modules/@stdlib/math/base/special/atandf/package.json
  lib/node_modules/@stdlib/math/base/special/atandf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/atandf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/atandf/src/main.c
  lib/node_modules/@stdlib/math/base/special/atandf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/atandf/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/atandf/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/atandf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/atandf/test/test.js
  lib/node_modules/@stdlib/math/base/special/atandf/test/test.native.js
Labels: Math, Ready To Merge

#2836 feat: add `constants/float32/max-safe-nth-fibonacci`
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-fibonacci/README.md
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-fibonacci/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-fibonacci/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-fibonacci/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-fibonacci/examples/index.js
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-fibonacci/include/stdlib/constants/float64/max_safe_nth_fibonacci.h
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-fibonacci/lib/index.js
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-fibonacci/manifest.json
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-fibonacci/package.json
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-fibonacci/test/test.js
Labels: Ready To Merge

#2832 feat: add `math/base/special/minabsf`
  lib/node_modules/@stdlib/math/base/special/minabsf/README.md
  lib/node_modules/@stdlib/math/base/special/minabsf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/minabsf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/minabsf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/minabsf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/minabsf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/minabsf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/minabsf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/minabsf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/minabsf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/minabsf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/minabsf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/minabsf/include.gypi
  lib/node_modules/@stdlib/math/base/special/minabsf/include/stdlib/math/base/special/minabsf.h
  lib/node_modules/@stdlib/math/base/special/minabsf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/minabsf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/minabsf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/minabsf/manifest.json
  lib/node_modules/@stdlib/math/base/special/minabsf/package.json
  lib/node_modules/@stdlib/math/base/special/minabsf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/minabsf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/minabsf/src/main.c
  lib/node_modules/@stdlib/math/base/special/minabsf/test/test.js
  lib/node_modules/@stdlib/math/base/special/minabsf/test/test.native.js
Labels: Math, Ready To Merge

#2814 refactor: use stdlib `fmod` and `DDD_D` napi function in `math/base/special/wrap`
  lib/node_modules/@stdlib/math/base/special/wrap/manifest.json
  lib/node_modules/@stdlib/math/base/special/wrap/src/addon.c
  lib/node_modules/@stdlib/math/base/special/wrap/src/main.c
Labels: Math, Ready To Merge

#2846 feat: add `math/base/special/avercosf`
  lib/node_modules/@stdlib/math/base/special/avercosf/README.md
  lib/node_modules/@stdlib/math/base/special/avercosf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/avercosf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/avercosf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/avercosf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/avercosf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/avercosf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/avercosf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/avercosf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/avercosf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/avercosf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/avercosf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/avercosf/include.gypi
  lib/node_modules/@stdlib/math/base/special/avercosf/include/stdlib/math/base/special/avercosf.h
  lib/node_modules/@stdlib/math/base/special/avercosf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/avercosf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/avercosf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/avercosf/manifest.json
  lib/node_modules/@stdlib/math/base/special/avercosf/package.json
  lib/node_modules/@stdlib/math/base/special/avercosf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/avercosf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/avercosf/src/main.c
  lib/node_modules/@stdlib/math/base/special/avercosf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/avercosf/test/fixtures/julia/data.json
  lib/node_modules/@stdlib/math/base/special/avercosf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/avercosf/test/fixtures/julia/small_negative.json
  lib/node_modules/@stdlib/math/base/special/avercosf/test/test.js
  lib/node_modules/@stdlib/math/base/special/avercosf/test/test.native.js
Labels: Math, Ready To Merge

#2829 feat: add `math/base/special/maxabsf`
  lib/node_modules/@stdlib/math/base/special/maxabsf/README.md
  lib/node_modules/@stdlib/math/base/special/maxabsf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/maxabsf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/maxabsf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/maxabsf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/maxabsf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/maxabsf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/maxabsf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/maxabsf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/maxabsf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/maxabsf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/maxabsf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/maxabsf/include.gypi
  lib/node_modules/@stdlib/math/base/special/maxabsf/include/stdlib/math/base/special/maxabsf.h
  lib/node_modules/@stdlib/math/base/special/maxabsf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/maxabsf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/maxabsf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/maxabsf/manifest.json
  lib/node_modules/@stdlib/math/base/special/maxabsf/package.json
  lib/node_modules/@stdlib/math/base/special/maxabsf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/maxabsf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/maxabsf/src/main.c
  lib/node_modules/@stdlib/math/base/special/maxabsf/test/test.js
  lib/node_modules/@stdlib/math/base/special/maxabsf/test/test.native.js
Labels: Math, Ready To Merge
