Repository stdlib-js/stdlib, pull requests merged in 2024-07, with the labels that each got.

#2479 refactor: update implementation for dcopy.js for `blas/base/dcopy`
  lib/node_modules/@stdlib/blas/base/dcopy/lib/dcopy.js
Labels: BLAS

#2463 feat: add UX to cycle through completions in the REPL
  lib/node_modules/@stdlib/repl/lib/completer.js
  lib/node_modules/@stdlib/repl/lib/completer_engine.js
  lib/node_modules/@stdlib/repl/lib/main.js
  lib/node_modules/@stdlib/repl/lib/multiline_handler.js
  lib/node_modules/@stdlib/repl/test/integration/test.completer_engine.js
Labels: Enhancement, REPL

#2486 feat: add boolean dtype support to `array/pool`
  lib/node_modules/@stdlib/array/pool/README.md
  lib/node_modules/@stdlib/array/pool/benchmark/benchmark.calloc.js
  lib/node_modules/@stdlib/array/pool/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/pool/benchmark/benchmark.length.bool.js
  lib/node_modules/@stdlib/array/pool/benchmark/benchmark.malloc.js
  lib/node_modules/@stdlib/array/pool/docs/repl.txt
  lib/node_modules/@stdlib/array/pool/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/pool/lib/bytes_per_element.json
  lib/node_modules/@stdlib/array/pool/lib/factory.js
  lib/node_modules/@stdlib/array/pool/test/test.factory.js
  lib/node_modules/@stdlib/array/pool/test/test.js
Labels: Enhancement

#2487 feat: add boolean dtype support to `array/filled-by`
  lib/node_modules/@stdlib/array/filled-by/README.md
  lib/node_modules/@stdlib/array/filled-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/filled-by/benchmark/benchmark.length.bool.js
  lib/node_modules/@stdlib/array/filled-by/docs/repl.txt
  lib/node_modules/@stdlib/array/filled-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/filled-by/lib/main.js
  lib/node_modules/@stdlib/array/filled-by/test/test.js
Labels: Enhancement

#2488 feat: add boolean dtype support to `array/convert`
  lib/node_modules/@stdlib/array/convert/README.md
  lib/node_modules/@stdlib/array/convert/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/convert/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/array/convert/docs/repl.txt
  lib/node_modules/@stdlib/array/convert/docs/types/test.ts
  lib/node_modules/@stdlib/array/convert/lib/main.js
  lib/node_modules/@stdlib/array/convert/test/test.js
Labels: Enhancement

#2503 feat: add C implementation for `math/base/special/floor2`
  lib/node_modules/@stdlib/math/base/special/floor2/README.md
  lib/node_modules/@stdlib/math/base/special/floor2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/floor2/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/floor2/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/floor2/binding.gyp
  lib/node_modules/@stdlib/math/base/special/floor2/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/floor2/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/floor2/include.gypi
  lib/node_modules/@stdlib/math/base/special/floor2/include/stdlib/math/base/special/floor2.h
  lib/node_modules/@stdlib/math/base/special/floor2/lib/native.js
  lib/node_modules/@stdlib/math/base/special/floor2/manifest.json
  lib/node_modules/@stdlib/math/base/special/floor2/src/Makefile
  lib/node_modules/@stdlib/math/base/special/floor2/src/addon.c
  lib/node_modules/@stdlib/math/base/special/floor2/src/main.c
  lib/node_modules/@stdlib/math/base/special/floor2/test/test.native.js
Labels: Math

#2495 feat: add `blas/base/matrix-triangle-str2enum` & `blas/base/matrix-triangle/enum2str`
  lib/node_modules/@stdlib/blas/base/matrix-triangle-enum2str/README.md
  lib/node_modules/@stdlib/blas/base/matrix-triangle-enum2str/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/matrix-triangle-enum2str/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/matrix-triangle-enum2str/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/matrix-triangle-enum2str/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/matrix-triangle-enum2str/examples/index.js
  lib/node_modules/@stdlib/blas/base/matrix-triangle-enum2str/lib/index.js
  lib/node_modules/@stdlib/blas/base/matrix-triangle-enum2str/lib/main.js
  lib/node_modules/@stdlib/blas/base/matrix-triangle-enum2str/package.json
  lib/node_modules/@stdlib/blas/base/matrix-triangle-enum2str/test/test.js
  lib/node_modules/@stdlib/blas/base/matrix-triangle-str2enum/README.md
  lib/node_modules/@stdlib/blas/base/matrix-triangle-str2enum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/matrix-triangle-str2enum/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/matrix-triangle-str2enum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/matrix-triangle-str2enum/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/matrix-triangle-str2enum/examples/index.js
  lib/node_modules/@stdlib/blas/base/matrix-triangle-str2enum/lib/index.js
  lib/node_modules/@stdlib/blas/base/matrix-triangle-str2enum/lib/main.js
  lib/node_modules/@stdlib/blas/base/matrix-triangle-str2enum/package.json
  lib/node_modules/@stdlib/blas/base/matrix-triangle-str2enum/test/test.js
Labels: Feature, BLAS

#2506 docs: use correct function name for `math/base/special/gamma_lanczos_sum`
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/README.md
Labels: Documentation, Math

#2499 feat: add `blas/base/operation-side-*`
  lib/node_modules/@stdlib/blas/base/operation-side-enum2str/README.md
  lib/node_modules/@stdlib/blas/base/operation-side-enum2str/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/operation-side-enum2str/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/operation-side-enum2str/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/operation-side-enum2str/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/operation-side-enum2str/examples/index.js
  lib/node_modules/@stdlib/blas/base/operation-side-enum2str/lib/index.js
  lib/node_modules/@stdlib/blas/base/operation-side-enum2str/lib/main.js
  lib/node_modules/@stdlib/blas/base/operation-side-enum2str/package.json
  lib/node_modules/@stdlib/blas/base/operation-side-enum2str/test/test.js
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-enum/README.md
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-enum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-enum/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-enum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-enum/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-enum/examples/index.js
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-enum/lib/index.js
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-enum/lib/main.js
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-enum/package.json
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-enum/test/test.js
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-str/README.md
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-str/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-str/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-str/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-str/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-str/examples/index.js
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-str/lib/index.js
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-str/lib/main.js
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-str/package.json
  lib/node_modules/@stdlib/blas/base/operation-side-resolve-str/test/test.js
  lib/node_modules/@stdlib/blas/base/operation-side-str2enum/README.md
  lib/node_modules/@stdlib/blas/base/operation-side-str2enum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/operation-side-str2enum/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/operation-side-str2enum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/operation-side-str2enum/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/operation-side-str2enum/examples/index.js
  lib/node_modules/@stdlib/blas/base/operation-side-str2enum/lib/index.js
  lib/node_modules/@stdlib/blas/base/operation-side-str2enum/lib/main.js
  lib/node_modules/@stdlib/blas/base/operation-side-str2enum/package.json
  lib/node_modules/@stdlib/blas/base/operation-side-str2enum/test/test.js
Labels: Feature, BLAS

#2508 feat: add boolean dtype support to `strided/dtypes`
  lib/node_modules/@stdlib/strided/dtypes/README.md
  lib/node_modules/@stdlib/strided/dtypes/docs/repl.txt
  lib/node_modules/@stdlib/strided/dtypes/examples/index.js
  lib/node_modules/@stdlib/strided/dtypes/lib/dtypes.json
  lib/node_modules/@stdlib/strided/dtypes/test/test.js
Labels: Enhancement

#2507 feat: add boolean dtype support to `ndarray/safe-casts`
  lib/node_modules/@stdlib/ndarray/safe-casts/README.md
  lib/node_modules/@stdlib/ndarray/safe-casts/examples/index.js
  lib/node_modules/@stdlib/ndarray/safe-casts/lib/safe_casts.json
Labels: Enhancement

#2505 test: update the test of `ndarray/base/*`
  lib/node_modules/@stdlib/ndarray/base/char2dtype/README.md
  lib/node_modules/@stdlib/ndarray/base/char2dtype/examples/index.js
  lib/node_modules/@stdlib/ndarray/base/char2dtype/test/test.js
  lib/node_modules/@stdlib/ndarray/base/dtype-char/README.md
  lib/node_modules/@stdlib/ndarray/base/dtype-char/examples/index.js
  lib/node_modules/@stdlib/ndarray/base/dtype-char/test/test.js
  lib/node_modules/@stdlib/ndarray/base/dtype-desc/README.md
  lib/node_modules/@stdlib/ndarray/base/dtype-desc/examples/index.js
  lib/node_modules/@stdlib/ndarray/base/dtype-desc/test/test.js
  lib/node_modules/@stdlib/ndarray/base/dtype2c/README.md
  lib/node_modules/@stdlib/ndarray/base/dtype2c/examples/index.js
  lib/node_modules/@stdlib/ndarray/base/dtype2c/test/test.js
Labels: Tests

#2498 feat: add `blas/base/diagonal-type-*`
  lib/node_modules/@stdlib/blas/base/diagonal-type-enum2str/README.md
  lib/node_modules/@stdlib/blas/base/diagonal-type-enum2str/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/diagonal-type-enum2str/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/diagonal-type-enum2str/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/diagonal-type-enum2str/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/diagonal-type-enum2str/examples/index.js
  lib/node_modules/@stdlib/blas/base/diagonal-type-enum2str/lib/index.js
  lib/node_modules/@stdlib/blas/base/diagonal-type-enum2str/lib/main.js
  lib/node_modules/@stdlib/blas/base/diagonal-type-enum2str/package.json
  lib/node_modules/@stdlib/blas/base/diagonal-type-enum2str/test/test.js
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-enum/README.md
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-enum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-enum/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-enum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-enum/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-enum/examples/index.js
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-enum/lib/index.js
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-enum/lib/main.js
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-enum/package.json
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-enum/test/test.js
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-str/README.md
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-str/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-str/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-str/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-str/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-str/examples/index.js
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-str/lib/index.js
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-str/lib/main.js
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-str/package.json
  lib/node_modules/@stdlib/blas/base/diagonal-type-resolve-str/test/test.js
  lib/node_modules/@stdlib/blas/base/diagonal-type-str2enum/README.md
  lib/node_modules/@stdlib/blas/base/diagonal-type-str2enum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/diagonal-type-str2enum/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/diagonal-type-str2enum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/diagonal-type-str2enum/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/diagonal-type-str2enum/examples/index.js
  lib/node_modules/@stdlib/blas/base/diagonal-type-str2enum/lib/index.js
  lib/node_modules/@stdlib/blas/base/diagonal-type-str2enum/lib/main.js
  lib/node_modules/@stdlib/blas/base/diagonal-type-str2enum/package.json
  lib/node_modules/@stdlib/blas/base/diagonal-type-str2enum/test/test.js
Labels: Feature, BLAS

#2496 feat: add `blas/base/matrix-triangle-resolve-str`
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-str/README.md
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-str/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-str/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-str/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-str/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-str/examples/index.js
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-str/lib/index.js
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-str/lib/main.js
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-str/package.json
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-str/test/test.js
Labels: BLAS

#2497 feat: add `blas/base/matrix-triangle-resolve-enum`
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-enum/README.md
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-enum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-enum/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-enum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-enum/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-enum/examples/index.js
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-enum/lib/index.js
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-enum/lib/main.js
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-enum/package.json
  lib/node_modules/@stdlib/blas/base/matrix-triangle-resolve-enum/test/test.js
Labels: Feature, BLAS

#2509 feat: add `reduce` and `reduceRight` methods to `array/bool`
  lib/node_modules/@stdlib/array/bool/README.md
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.reduce.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.reduce.length.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.reduce_right.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.reduce_right.length.js
  lib/node_modules/@stdlib/array/bool/docs/repl.txt
  lib/node_modules/@stdlib/array/bool/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/bool/lib/main.js
  lib/node_modules/@stdlib/array/bool/test/test.reduce.js
  lib/node_modules/@stdlib/array/bool/test/test.reduce_right.js
Labels: Feature

#2502 feat: add bracketed-paste mode in the REPL
  lib/node_modules/@stdlib/repl/README.md
  lib/node_modules/@stdlib/repl/lib/auto_close_pairs.js
  lib/node_modules/@stdlib/repl/lib/completer_engine.js
  lib/node_modules/@stdlib/repl/lib/defaults.js
  lib/node_modules/@stdlib/repl/lib/main.js
  lib/node_modules/@stdlib/repl/lib/multiline_handler.js
  lib/node_modules/@stdlib/repl/lib/settings.js
Labels: Enhancement, REPL

#2516 test: fix failing tests in the REPL
  lib/node_modules/@stdlib/repl/test/integration/test.auto_page.js
  lib/node_modules/@stdlib/repl/test/integration/test.completer_engine.js
  lib/node_modules/@stdlib/repl/test/integration/test.completion_previews.js
  lib/node_modules/@stdlib/repl/test/integration/test.syntax_highlighting.js
Labels: Tests

#2517 refactor: update implementations for `blas/base` Level 1 routines
  lib/node_modules/@stdlib/blas/base/daxpy/lib/daxpy.js
  lib/node_modules/@stdlib/blas/base/ddot/lib/ddot.js
  lib/node_modules/@stdlib/blas/base/drot/lib/drot.js
  lib/node_modules/@stdlib/blas/base/drotm/lib/drotm.js
  lib/node_modules/@stdlib/blas/base/dsdot/lib/dsdot.js
  lib/node_modules/@stdlib/blas/base/dswap/lib/dswap.js
  lib/node_modules/@stdlib/blas/base/saxpy/lib/saxpy.js
  lib/node_modules/@stdlib/blas/base/scopy/lib/scopy.js
  lib/node_modules/@stdlib/blas/base/sdot/lib/sdot.js
  lib/node_modules/@stdlib/blas/base/sdsdot/lib/sdsdot.js
  lib/node_modules/@stdlib/blas/base/srot/lib/srot.js
  lib/node_modules/@stdlib/blas/base/srotm/lib/srotm.js
  lib/node_modules/@stdlib/blas/base/sswap/lib/sswap.js
Labels: BLAS

#2524 feat: add boolean dtype support to `ndarray/promotion-rules`
  lib/node_modules/@stdlib/ndarray/promotion-rules/lib/promotion_rules.json
Labels: Enhancement

#2521 feat: add boolean dtype support to `strided/base/nullary-addon-dispatch`
  lib/node_modules/@stdlib/strided/base/nullary-addon-dispatch/lib/main.js
  lib/node_modules/@stdlib/strided/base/nullary-addon-dispatch/lib/ndarray.js
  lib/node_modules/@stdlib/strided/base/nullary-addon-dispatch/test/test.main.js
  lib/node_modules/@stdlib/strided/base/nullary-addon-dispatch/test/test.ndarray.js
Labels: Enhancement

#2522 feat: add boolean dtype support to `strided/base/unary-addon-dispatch`
  lib/node_modules/@stdlib/strided/base/unary-addon-dispatch/lib/main.js
  lib/node_modules/@stdlib/strided/base/unary-addon-dispatch/lib/ndarray.js
  lib/node_modules/@stdlib/strided/base/unary-addon-dispatch/test/test.main.js
  lib/node_modules/@stdlib/strided/base/unary-addon-dispatch/test/test.ndarray.js
Labels: Enhancement

#2523 feat: add boolean dtype support to `strided/base/mskunary-addon-dispatch`
  lib/node_modules/@stdlib/strided/base/mskunary-addon-dispatch/lib/main.js
  lib/node_modules/@stdlib/strided/base/mskunary-addon-dispatch/lib/ndarray.js
  lib/node_modules/@stdlib/strided/base/mskunary-addon-dispatch/test/test.main.js
  lib/node_modules/@stdlib/strided/base/mskunary-addon-dispatch/test/test.ndarray.js
Labels: Enhancement

#2526 feat: add boolean dtype support to `strided/base/binary-addon-dispatch`
  lib/node_modules/@stdlib/strided/base/binary-addon-dispatch/lib/main.js
  lib/node_modules/@stdlib/strided/base/binary-addon-dispatch/lib/ndarray.js
  lib/node_modules/@stdlib/strided/base/binary-addon-dispatch/test/test.main.js
  lib/node_modules/@stdlib/strided/base/binary-addon-dispatch/test/test.ndarray.js
Labels: Enhancement

#2527 feat: add `array/base/cunone`
  lib/node_modules/@stdlib/array/base/cunone/README.md
  lib/node_modules/@stdlib/array/base/cunone/benchmark/benchmark.assign.length.js
  lib/node_modules/@stdlib/array/base/cunone/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/cunone/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/array/base/cunone/docs/repl.txt
  lib/node_modules/@stdlib/array/base/cunone/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/cunone/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/cunone/examples/index.js
  lib/node_modules/@stdlib/array/base/cunone/lib/assign.js
  lib/node_modules/@stdlib/array/base/cunone/lib/index.js
  lib/node_modules/@stdlib/array/base/cunone/lib/main.js
  lib/node_modules/@stdlib/array/base/cunone/package.json
  lib/node_modules/@stdlib/array/base/cunone/test/test.assign.js
  lib/node_modules/@stdlib/array/base/cunone/test/test.js
  lib/node_modules/@stdlib/array/base/cunone/test/test.main.js
Labels: Feature, Utilities

#2512 feat: add C implementation for `math/base/special/beta`
  lib/node_modules/@stdlib/math/base/special/beta/README.md
  lib/node_modules/@stdlib/math/base/special/beta/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/beta/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/beta/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/beta/binding.gyp
  lib/node_modules/@stdlib/math/base/special/beta/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/beta/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/beta/include.gypi
  lib/node_modules/@stdlib/math/base/special/beta/include/stdlib/math/base/special/beta.h
  lib/node_modules/@stdlib/math/base/special/beta/lib/lanczos_sum_expg_scaled.js
  lib/node_modules/@stdlib/math/base/special/beta/lib/main.js
  lib/node_modules/@stdlib/math/base/special/beta/lib/native.js
  lib/node_modules/@stdlib/math/base/special/beta/manifest.json
  lib/node_modules/@stdlib/math/base/special/beta/scripts/evalrational.js
  lib/node_modules/@stdlib/math/base/special/beta/src/Makefile
  lib/node_modules/@stdlib/math/base/special/beta/src/addon.c
  lib/node_modules/@stdlib/math/base/special/beta/src/main.c
  lib/node_modules/@stdlib/math/base/special/beta/test/test.native.js
Labels: Math

#2536 docs: add missing `@private` in `math/base/special/round/lib/native.js`
  lib/node_modules/@stdlib/math/base/special/round/lib/native.js
Labels: Math

#2537 feat: add C implementation for `math/base/special/round2`
  lib/node_modules/@stdlib/math/base/special/round2/README.md
  lib/node_modules/@stdlib/math/base/special/round2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/round2/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/round2/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/round2/binding.gyp
  lib/node_modules/@stdlib/math/base/special/round2/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/round2/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/round2/include.gypi
  lib/node_modules/@stdlib/math/base/special/round2/include/stdlib/math/base/special/round2.h
  lib/node_modules/@stdlib/math/base/special/round2/lib/main.js
  lib/node_modules/@stdlib/math/base/special/round2/lib/native.js
  lib/node_modules/@stdlib/math/base/special/round2/manifest.json
  lib/node_modules/@stdlib/math/base/special/round2/src/Makefile
  lib/node_modules/@stdlib/math/base/special/round2/src/addon.c
  lib/node_modules/@stdlib/math/base/special/round2/src/main.c
  lib/node_modules/@stdlib/math/base/special/round2/test/test.native.js
Labels: Math

#2539 refactor: use stdlib equivalent of `pow` in `math/base/special/roundn`
  lib/node_modules/@stdlib/math/base/special/roundn/manifest.json
  lib/node_modules/@stdlib/math/base/special/roundn/src/main.c
Labels: Math

#2542 fix: bug with duplicate tokens when syntax-highlighting in the REPL
  lib/node_modules/@stdlib/repl/lib/syntax_highlighter.js
  lib/node_modules/@stdlib/repl/test/integration/fixtures/syntax-highlighting/member_expressions.json
Labels: REPL

#2546 feat: add a function for `dii_d` in `math/base/napi/ternary`
  lib/node_modules/@stdlib/math/base/napi/ternary/README.md
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary.h
  lib/node_modules/@stdlib/math/base/napi/ternary/src/main.c
Labels: Feature, Math

#2538 feat: add C implementation for `math/base/special/round10`
  lib/node_modules/@stdlib/math/base/special/round10/README.md
  lib/node_modules/@stdlib/math/base/special/round10/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/round10/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/round10/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/round10/binding.gyp
  lib/node_modules/@stdlib/math/base/special/round10/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/round10/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/round10/include.gypi
  lib/node_modules/@stdlib/math/base/special/round10/include/stdlib/math/base/special/round10.h
  lib/node_modules/@stdlib/math/base/special/round10/lib/main.js
  lib/node_modules/@stdlib/math/base/special/round10/lib/native.js
  lib/node_modules/@stdlib/math/base/special/round10/manifest.json
  lib/node_modules/@stdlib/math/base/special/round10/src/Makefile
  lib/node_modules/@stdlib/math/base/special/round10/src/addon.c
  lib/node_modules/@stdlib/math/base/special/round10/src/main.c
  lib/node_modules/@stdlib/math/base/special/round10/test/test.native.js
Labels: Math

#2468 feat: add `blas/base/zaxpy`
  lib/node_modules/@stdlib/blas/base/zaxpy/README.md
  lib/node_modules/@stdlib/blas/base/zaxpy/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/zaxpy/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/zaxpy/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/zaxpy/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/zaxpy/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/zaxpy/examples/index.js
  lib/node_modules/@stdlib/blas/base/zaxpy/lib/index.js
  lib/node_modules/@stdlib/blas/base/zaxpy/lib/main.js
  lib/node_modules/@stdlib/blas/base/zaxpy/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/zaxpy/lib/zaxpy.js
  lib/node_modules/@stdlib/blas/base/zaxpy/package.json
  lib/node_modules/@stdlib/blas/base/zaxpy/test/test.js
  lib/node_modules/@stdlib/blas/base/zaxpy/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/zaxpy/test/test.zaxpy.js
Labels: Feature, BLAS

#2257 feat: add `blas/base/zdrot`
  lib/node_modules/@stdlib/blas/base/zdrot/README.md
  lib/node_modules/@stdlib/blas/base/zdrot/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/zdrot/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/zdrot/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/zdrot/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/zdrot/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/base/zdrot/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/zdrot/benchmark/fortran/Makefile
  lib/node_modules/@stdlib/blas/base/zdrot/benchmark/fortran/benchmark.length.f
  lib/node_modules/@stdlib/blas/base/zdrot/binding.gyp
  lib/node_modules/@stdlib/blas/base/zdrot/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/zdrot/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/zdrot/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/zdrot/examples/c/Makefile
  lib/node_modules/@stdlib/blas/base/zdrot/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/zdrot/examples/index.js
  lib/node_modules/@stdlib/blas/base/zdrot/include.gypi
  lib/node_modules/@stdlib/blas/base/zdrot/include/stdlib/blas/base/zdrot.h
  lib/node_modules/@stdlib/blas/base/zdrot/include/stdlib/blas/base/zdrot_cblas.h
  lib/node_modules/@stdlib/blas/base/zdrot/include/stdlib/blas/base/zdrot_fortran.h
  lib/node_modules/@stdlib/blas/base/zdrot/lib/index.js
  lib/node_modules/@stdlib/blas/base/zdrot/lib/main.js
  lib/node_modules/@stdlib/blas/base/zdrot/lib/native.js
  lib/node_modules/@stdlib/blas/base/zdrot/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/zdrot/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/zdrot/lib/zdrot.js
  lib/node_modules/@stdlib/blas/base/zdrot/lib/zdrot.native.js
  lib/node_modules/@stdlib/blas/base/zdrot/manifest.json
  lib/node_modules/@stdlib/blas/base/zdrot/package.json
  lib/node_modules/@stdlib/blas/base/zdrot/src/Makefile
  lib/node_modules/@stdlib/blas/base/zdrot/src/addon.c
  lib/node_modules/@stdlib/blas/base/zdrot/src/zdrot.c
  lib/node_modules/@stdlib/blas/base/zdrot/src/zdrot.f
  lib/node_modules/@stdlib/blas/base/zdrot/src/zdrot_cblas.c
  lib/node_modules/@stdlib/blas/base/zdrot/src/zdrot_f.c
  lib/node_modules/@stdlib/blas/base/zdrot/test/test.js
  lib/node_modules/@stdlib/blas/base/zdrot/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/zdrot/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/zdrot/test/test.zdrot.js
  lib/node_modules/@stdlib/blas/base/zdrot/test/test.zdrot.native.js
Labels: Feature, BLAS

#2555 feat: add boolean dtype support to `ndarray/same-kind-casts`
  lib/node_modules/@stdlib/ndarray/same-kind-casts/lib/same_kind_casts.json
Labels: Enhancement

#2554 feat: add boolean dtype support to `ndarray/mostly-safe-casts`
  lib/node_modules/@stdlib/ndarray/mostly-safe-casts/lib/data.json
Labels: Enhancement

#2553 feat: add boolean dtype support to `ndarray/next-dtype`
  lib/node_modules/@stdlib/ndarray/next-dtype/lib/next_dtypes.json
Labels: Enhancement

#2563 fix: update paths and refactor array creation for `blas/base/zdrot`
  lib/node_modules/@stdlib/blas/base/zdrot/README.md
  lib/node_modules/@stdlib/blas/base/zdrot/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/zdrot/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/zdrot/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/zdrot/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/zdrot/examples/index.js
Labels: BLAS

#2557 feat: add `join` and `toString` methods to `array/bool`
  lib/node_modules/@stdlib/array/bool/README.md
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.join.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.join.length.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.to_string.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.to_string.length.js
  lib/node_modules/@stdlib/array/bool/docs/repl.txt
  lib/node_modules/@stdlib/array/bool/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/bool/lib/main.js
  lib/node_modules/@stdlib/array/bool/test/test.join.js
  lib/node_modules/@stdlib/array/bool/test/test.to_string.js
Labels: Feature

#2483 feat: add javascript implementation for `lapack/base/dlaswp`
  lib/node_modules/@stdlib/lapack/base/dlaswp/README.md
  lib/node_modules/@stdlib/lapack/base/dlaswp/benchmark/benchmark.js
  lib/node_modules/@stdlib/lapack/base/dlaswp/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/lapack/base/dlaswp/docs/repl.txt
  lib/node_modules/@stdlib/lapack/base/dlaswp/docs/types/index.d.ts
  lib/node_modules/@stdlib/lapack/base/dlaswp/docs/types/test.ts
  lib/node_modules/@stdlib/lapack/base/dlaswp/examples/index.js
  lib/node_modules/@stdlib/lapack/base/dlaswp/lib/base.js
  lib/node_modules/@stdlib/lapack/base/dlaswp/lib/dlaswp.js
  lib/node_modules/@stdlib/lapack/base/dlaswp/lib/index.js
  lib/node_modules/@stdlib/lapack/base/dlaswp/lib/main.js
  lib/node_modules/@stdlib/lapack/base/dlaswp/lib/ndarray.js
  lib/node_modules/@stdlib/lapack/base/dlaswp/package.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/column_major_a_offset.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/column_major_a_strides.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/column_major_complex_access_patterns.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/column_major_ipiv_offset.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/column_major_ipiv_stride_negative.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/column_major_ipiv_stride_positive.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/column_major_k1.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/column_major_lda.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/column_major_no_offsets.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/column_major_reverse_pivots.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/column_major_reverse_pivots_ipiv_offset.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/column_major_reverse_pivots_ipiv_stride.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/row_major_a_offset.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/row_major_a_strides.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/row_major_complex_access_patterns.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/row_major_ipiv_offset.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/row_major_ipiv_stride_negative.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/row_major_ipiv_stride_positive.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/row_major_k1.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/row_major_lda.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/row_major_no_offsets.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/row_major_reverse_pivots.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/row_major_reverse_pivots_ipiv_offset.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/fixtures/row_major_reverse_pivots_ipiv_stride.json
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/test.dlaswp.js
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/test.js
  lib/node_modules/@stdlib/lapack/base/dlaswp/test/test.ndarray.js
Labels: JavaScript, LAPACK

#2533 feat: add C implementation for `math/base/special/digamma`
  lib/node_modules/@stdlib/math/base/special/digamma/README.md
  lib/node_modules/@stdlib/math/base/special/digamma/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/digamma/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/digamma/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/digamma/binding.gyp
  lib/node_modules/@stdlib/math/base/special/digamma/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/digamma/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/digamma/include.gypi
  lib/node_modules/@stdlib/math/base/special/digamma/include/stdlib/math/base/special/digamma.h
  lib/node_modules/@stdlib/math/base/special/digamma/lib/native.js
  lib/node_modules/@stdlib/math/base/special/digamma/lib/polyval_p.js
  lib/node_modules/@stdlib/math/base/special/digamma/lib/rational_pq.js
  lib/node_modules/@stdlib/math/base/special/digamma/manifest.json
  lib/node_modules/@stdlib/math/base/special/digamma/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/digamma/scripts/evalrational.js
  lib/node_modules/@stdlib/math/base/special/digamma/src/Makefile
  lib/node_modules/@stdlib/math/base/special/digamma/src/addon.c
  lib/node_modules/@stdlib/math/base/special/digamma/src/main.c
  lib/node_modules/@stdlib/math/base/special/digamma/test/test.native.js
Labels: Math

#2571 feat: add boolean dtype support to `ndarray/base/buffer-ctors`
  lib/node_modules/@stdlib/ndarray/base/buffer-ctors/README.md
  lib/node_modules/@stdlib/ndarray/base/buffer-ctors/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/base/buffer-ctors/examples/index.js
  lib/node_modules/@stdlib/ndarray/base/buffer-ctors/lib/ctors.js
  lib/node_modules/@stdlib/ndarray/base/buffer-ctors/test/test.js
Labels: Enhancement

#2572 feat: add boolean dtype support to `ndarray/base/buffer-dtype`
  lib/node_modules/@stdlib/ndarray/base/buffer-dtype/README.md
  lib/node_modules/@stdlib/ndarray/base/buffer-dtype/examples/index.js
  lib/node_modules/@stdlib/ndarray/base/buffer-dtype/lib/ctor2dtype.js
  lib/node_modules/@stdlib/ndarray/base/buffer-dtype/lib/ctors.js
  lib/node_modules/@stdlib/ndarray/base/buffer-dtype/lib/dtypes.js
Labels: Enhancement

#2552 feat: add boolean dtype support to `ndarray/min-dtype`
  lib/node_modules/@stdlib/ndarray/min-dtype/README.md
  lib/node_modules/@stdlib/ndarray/min-dtype/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/min-dtype/lib/main.js
  lib/node_modules/@stdlib/ndarray/min-dtype/test/test.js
Labels: Enhancement

#2580 docs: use correct function name in `math/base/special/gamma-lanczos-sum-expg-scaled/README.md`
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/README.md
Labels: Documentation, Math

#2579 docs: use correct function name in `math/base/special/gamma-lanczos-sum/README.md`
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/README.md
Labels: Documentation, Math

#2556 feat: add boolean dtype support to `array/min-dtype`
  lib/node_modules/@stdlib/array/min-dtype/README.md
  lib/node_modules/@stdlib/array/min-dtype/docs/repl.txt
  lib/node_modules/@stdlib/array/min-dtype/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/min-dtype/docs/types/test.ts
  lib/node_modules/@stdlib/array/min-dtype/lib/main.js
  lib/node_modules/@stdlib/array/min-dtype/test/test.js
Labels: Enhancement

#2550 feat: add boolean dtype support to `ndarray/dtypes`
  lib/node_modules/@stdlib/ndarray/dtypes/README.md
  lib/node_modules/@stdlib/ndarray/dtypes/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/dtypes/examples/index.js
  lib/node_modules/@stdlib/ndarray/dtypes/lib/dtypes.json
  lib/node_modules/@stdlib/ndarray/dtypes/test/test.js
  lib/node_modules/@stdlib/types/index.d.ts
Labels: Enhancement

#2551 feat: add boolean dtype support to `ndarray/defaults`
  lib/node_modules/@stdlib/ndarray/defaults/README.md
  lib/node_modules/@stdlib/ndarray/defaults/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/defaults/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/defaults/examples/index.js
  lib/node_modules/@stdlib/ndarray/defaults/lib/get.js
  lib/node_modules/@stdlib/ndarray/defaults/lib/main.js
  lib/node_modules/@stdlib/ndarray/defaults/test/test.get.js
  lib/node_modules/@stdlib/ndarray/defaults/test/test.main.js
Labels: Enhancement

#2574 feat: add boolean dtype support to `ndarray/base/buffer`
  lib/node_modules/@stdlib/ndarray/base/buffer/README.md
  lib/node_modules/@stdlib/ndarray/base/buffer/benchmark/benchmark.js
  lib/node_modules/@stdlib/ndarray/base/buffer/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/ndarray/base/buffer/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/base/buffer/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/base/buffer/examples/index.js
  lib/node_modules/@stdlib/ndarray/base/buffer/lib/index.js
  lib/node_modules/@stdlib/ndarray/base/buffer/lib/main.js
  lib/node_modules/@stdlib/ndarray/base/buffer/package.json
  lib/node_modules/@stdlib/ndarray/base/buffer/test/test.js
Labels: Enhancement

#2575 feat: add `ndarray/base/assert/is-boolean-data-type`
  lib/node_modules/@stdlib/ndarray/base/assert/is-boolean-data-type/README.md
  lib/node_modules/@stdlib/ndarray/base/assert/is-boolean-data-type/benchmark/benchmark.js
  lib/node_modules/@stdlib/ndarray/base/assert/is-boolean-data-type/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/base/assert/is-boolean-data-type/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/base/assert/is-boolean-data-type/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/base/assert/is-boolean-data-type/examples/index.js
  lib/node_modules/@stdlib/ndarray/base/assert/is-boolean-data-type/lib/index.js
  lib/node_modules/@stdlib/ndarray/base/assert/is-boolean-data-type/lib/main.js
  lib/node_modules/@stdlib/ndarray/base/assert/is-boolean-data-type/package.json
  lib/node_modules/@stdlib/ndarray/base/assert/is-boolean-data-type/test/test.js
Labels: Feature

#2577 docs: update boost version in `math/base/special/digamma`
  lib/node_modules/@stdlib/math/base/special/digamma/README.md
  lib/node_modules/@stdlib/math/base/special/digamma/lib/main.js
  lib/node_modules/@stdlib/math/base/special/digamma/src/main.c
Labels: Math

#2569 feat: add C implementation for `math/base/special/truncn`
  lib/node_modules/@stdlib/math/base/special/truncn/README.md
  lib/node_modules/@stdlib/math/base/special/truncn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/truncn/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/truncn/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/truncn/binding.gyp
  lib/node_modules/@stdlib/math/base/special/truncn/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/truncn/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/truncn/include.gypi
  lib/node_modules/@stdlib/math/base/special/truncn/include/stdlib/math/base/special/truncn.h
  lib/node_modules/@stdlib/math/base/special/truncn/lib/native.js
  lib/node_modules/@stdlib/math/base/special/truncn/manifest.json
  lib/node_modules/@stdlib/math/base/special/truncn/src/Makefile
  lib/node_modules/@stdlib/math/base/special/truncn/src/addon.c
  lib/node_modules/@stdlib/math/base/special/truncn/src/main.c
  lib/node_modules/@stdlib/math/base/special/truncn/test/test.native.js
Labels: Needs Review, Math

#2590 feat: add `keys`, `values` and `with` methods to `array/bool`
  lib/node_modules/@stdlib/array/bool/README.md
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.keys.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.keys.length.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.values.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.values.length.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.with.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.with.length.js
  lib/node_modules/@stdlib/array/bool/docs/repl.txt
  lib/node_modules/@stdlib/array/bool/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/bool/lib/main.js
  lib/node_modules/@stdlib/array/bool/test/test.keys.js
  lib/node_modules/@stdlib/array/bool/test/test.values.js
  lib/node_modules/@stdlib/array/bool/test/test.with.js
Labels: Feature

#2589 feat: add boolean dtype support to `ndarray/from-scalar`
  lib/node_modules/@stdlib/ndarray/from-scalar/README.md
  lib/node_modules/@stdlib/ndarray/from-scalar/benchmark/benchmark.js
  lib/node_modules/@stdlib/ndarray/from-scalar/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/from-scalar/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/from-scalar/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/from-scalar/lib/main.js
  lib/node_modules/@stdlib/ndarray/from-scalar/test/test.js
Labels: Enhancement

#2588 feat: add boolean dtype support to `ndarray/empty*` and `ndarray/base/empty*` packages
  lib/node_modules/@stdlib/ndarray/base/empty-like/README.md
  lib/node_modules/@stdlib/ndarray/base/empty-like/benchmark/benchmark.js
  lib/node_modules/@stdlib/ndarray/base/empty-like/benchmark/benchmark.size.bool.js
  lib/node_modules/@stdlib/ndarray/base/empty-like/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/base/empty-like/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/base/empty-like/examples/index.js
  lib/node_modules/@stdlib/ndarray/base/empty-like/test/test.js
  lib/node_modules/@stdlib/ndarray/base/empty/benchmark/benchmark.js
  lib/node_modules/@stdlib/ndarray/base/empty/benchmark/benchmark.size.bool.js
  lib/node_modules/@stdlib/ndarray/base/empty/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/base/empty/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/base/empty/test/test.js
  lib/node_modules/@stdlib/ndarray/base/zeros-like/README.md
  lib/node_modules/@stdlib/ndarray/base/zeros-like/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/base/zeros-like/examples/index.js
  lib/node_modules/@stdlib/ndarray/base/zeros-like/test/test.js
  lib/node_modules/@stdlib/ndarray/base/zeros/README.md
  lib/node_modules/@stdlib/ndarray/base/zeros/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/base/zeros/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/base/zeros/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/base/zeros/examples/index.js
  lib/node_modules/@stdlib/ndarray/base/zeros/lib/main.js
  lib/node_modules/@stdlib/ndarray/base/zeros/test/test.js
  lib/node_modules/@stdlib/ndarray/empty-like/README.md
  lib/node_modules/@stdlib/ndarray/empty-like/benchmark/benchmark.js
  lib/node_modules/@stdlib/ndarray/empty-like/benchmark/benchmark.size.bool.js
  lib/node_modules/@stdlib/ndarray/empty-like/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/empty-like/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/empty-like/examples/index.js
  lib/node_modules/@stdlib/ndarray/empty-like/test/test.js
  lib/node_modules/@stdlib/ndarray/empty/benchmark/benchmark.js
  lib/node_modules/@stdlib/ndarray/empty/benchmark/benchmark.size.bool.js
  lib/node_modules/@stdlib/ndarray/empty/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/empty/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/empty/test/test.js
  lib/node_modules/@stdlib/ndarray/zeros-like/README.md
  lib/node_modules/@stdlib/ndarray/zeros-like/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/zeros-like/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/zeros-like/examples/index.js
  lib/node_modules/@stdlib/ndarray/zeros-like/test/test.js
  lib/node_modules/@stdlib/ndarray/zeros/README.md
  lib/node_modules/@stdlib/ndarray/zeros/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/zeros/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/zeros/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/zeros/examples/index.js
  lib/node_modules/@stdlib/ndarray/zeros/test/test.js
Labels: Enhancement

#2544 feat: add C implementation for `math/base/special/roundb`
  lib/node_modules/@stdlib/math/base/special/roundb/README.md
  lib/node_modules/@stdlib/math/base/special/roundb/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/roundb/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/roundb/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/roundb/binding.gyp
  lib/node_modules/@stdlib/math/base/special/roundb/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/roundb/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/roundb/include.gypi
  lib/node_modules/@stdlib/math/base/special/roundb/include/stdlib/math/base/special/roundb.h
  lib/node_modules/@stdlib/math/base/special/roundb/lib/native.js
  lib/node_modules/@stdlib/math/base/special/roundb/manifest.json
  lib/node_modules/@stdlib/math/base/special/roundb/src/Makefile
  lib/node_modules/@stdlib/math/base/special/roundb/src/addon.c
  lib/node_modules/@stdlib/math/base/special/roundb/src/main.c
  lib/node_modules/@stdlib/math/base/special/roundb/test/test.native.js
Labels: Math

#2256 feat: add `blas/base/csrot`
  lib/node_modules/@stdlib/blas/base/csrot/README.md
  lib/node_modules/@stdlib/blas/base/csrot/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/csrot/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/csrot/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/csrot/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/csrot/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/base/csrot/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/csrot/benchmark/fortran/Makefile
  lib/node_modules/@stdlib/blas/base/csrot/benchmark/fortran/benchmark.length.f
  lib/node_modules/@stdlib/blas/base/csrot/binding.gyp
  lib/node_modules/@stdlib/blas/base/csrot/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/csrot/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/csrot/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/csrot/examples/c/Makefile
  lib/node_modules/@stdlib/blas/base/csrot/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/csrot/examples/index.js
  lib/node_modules/@stdlib/blas/base/csrot/include.gypi
  lib/node_modules/@stdlib/blas/base/csrot/include/stdlib/blas/base/csrot.h
  lib/node_modules/@stdlib/blas/base/csrot/include/stdlib/blas/base/csrot_cblas.h
  lib/node_modules/@stdlib/blas/base/csrot/include/stdlib/blas/base/csrot_fortran.h
  lib/node_modules/@stdlib/blas/base/csrot/lib/csrot.js
  lib/node_modules/@stdlib/blas/base/csrot/lib/csrot.native.js
  lib/node_modules/@stdlib/blas/base/csrot/lib/index.js
  lib/node_modules/@stdlib/blas/base/csrot/lib/main.js
  lib/node_modules/@stdlib/blas/base/csrot/lib/native.js
  lib/node_modules/@stdlib/blas/base/csrot/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/csrot/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/csrot/manifest.json
  lib/node_modules/@stdlib/blas/base/csrot/package.json
  lib/node_modules/@stdlib/blas/base/csrot/src/Makefile
  lib/node_modules/@stdlib/blas/base/csrot/src/addon.c
  lib/node_modules/@stdlib/blas/base/csrot/src/csrot.c
  lib/node_modules/@stdlib/blas/base/csrot/src/csrot.f
  lib/node_modules/@stdlib/blas/base/csrot/src/csrot_cblas.c
  lib/node_modules/@stdlib/blas/base/csrot/src/csrot_f.c
  lib/node_modules/@stdlib/blas/base/csrot/test/test.csrot.js
  lib/node_modules/@stdlib/blas/base/csrot/test/test.csrot.native.js
  lib/node_modules/@stdlib/blas/base/csrot/test/test.js
  lib/node_modules/@stdlib/blas/base/csrot/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/csrot/test/test.ndarray.native.js
Labels: Feature, BLAS

#2121 feat: add `blas/base/caxpy`
  lib/node_modules/@stdlib/blas/base/caxpy/README.md
  lib/node_modules/@stdlib/blas/base/caxpy/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/caxpy/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/caxpy/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/caxpy/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/caxpy/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/caxpy/examples/index.js
  lib/node_modules/@stdlib/blas/base/caxpy/lib/caxpy.js
  lib/node_modules/@stdlib/blas/base/caxpy/lib/index.js
  lib/node_modules/@stdlib/blas/base/caxpy/lib/main.js
  lib/node_modules/@stdlib/blas/base/caxpy/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/caxpy/package.json
  lib/node_modules/@stdlib/blas/base/caxpy/test/test.caxpy.js
  lib/node_modules/@stdlib/blas/base/caxpy/test/test.js
  lib/node_modules/@stdlib/blas/base/caxpy/test/test.ndarray.js
Labels: Feature, BLAS

#2573 feat: add `blas/base/scasum`
  lib/node_modules/@stdlib/blas/base/scasum/README.md
  lib/node_modules/@stdlib/blas/base/scasum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/scasum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/scasum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/scasum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/scasum/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/base/scasum/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/scasum/benchmark/fortran/Makefile
  lib/node_modules/@stdlib/blas/base/scasum/benchmark/fortran/benchmark.length.f
  lib/node_modules/@stdlib/blas/base/scasum/binding.gyp
  lib/node_modules/@stdlib/blas/base/scasum/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/scasum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/scasum/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/scasum/examples/c/Makefile
  lib/node_modules/@stdlib/blas/base/scasum/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/scasum/examples/index.js
  lib/node_modules/@stdlib/blas/base/scasum/include.gypi
  lib/node_modules/@stdlib/blas/base/scasum/include/stdlib/blas/base/scasum.h
  lib/node_modules/@stdlib/blas/base/scasum/include/stdlib/blas/base/scasum_cblas.h
  lib/node_modules/@stdlib/blas/base/scasum/include/stdlib/blas/base/scasum_fortran.h
  lib/node_modules/@stdlib/blas/base/scasum/lib/index.js
  lib/node_modules/@stdlib/blas/base/scasum/lib/main.js
  lib/node_modules/@stdlib/blas/base/scasum/lib/native.js
  lib/node_modules/@stdlib/blas/base/scasum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/scasum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/scasum/lib/scasum.js
  lib/node_modules/@stdlib/blas/base/scasum/lib/scasum.native.js
  lib/node_modules/@stdlib/blas/base/scasum/manifest.json
  lib/node_modules/@stdlib/blas/base/scasum/package.json
  lib/node_modules/@stdlib/blas/base/scasum/src/Makefile
  lib/node_modules/@stdlib/blas/base/scasum/src/addon.c
  lib/node_modules/@stdlib/blas/base/scasum/src/scasum.c
  lib/node_modules/@stdlib/blas/base/scasum/src/scasum.f
  lib/node_modules/@stdlib/blas/base/scasum/src/scasum_cblas.c
  lib/node_modules/@stdlib/blas/base/scasum/src/scasum_f.c
  lib/node_modules/@stdlib/blas/base/scasum/src/scasumsub.f
  lib/node_modules/@stdlib/blas/base/scasum/test/test.js
  lib/node_modules/@stdlib/blas/base/scasum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/scasum/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/scasum/test/test.scasum.js
  lib/node_modules/@stdlib/blas/base/scasum/test/test.scasum.native.js
Labels: Feature, BLAS

#2562 feat: add `math/base/special/fmod`
  lib/node_modules/@stdlib/math/base/special/fmod/LICENSE
  lib/node_modules/@stdlib/math/base/special/fmod/README.md
  lib/node_modules/@stdlib/math/base/special/fmod/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/fmod/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fmod/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fmod/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fmod/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fmod/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/fmod/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/fmod/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/fmod/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fmod/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fmod/examples/index.js
  lib/node_modules/@stdlib/math/base/special/fmod/include.gypi
  lib/node_modules/@stdlib/math/base/special/fmod/include/stdlib/math/base/special/fmod.h
  lib/node_modules/@stdlib/math/base/special/fmod/lib/index.js
  lib/node_modules/@stdlib/math/base/special/fmod/lib/main.js
  lib/node_modules/@stdlib/math/base/special/fmod/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fmod/manifest.json
  lib/node_modules/@stdlib/math/base/special/fmod/package.json
  lib/node_modules/@stdlib/math/base/special/fmod/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fmod/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fmod/src/main.c
  lib/node_modules/@stdlib/math/base/special/fmod/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/fmod/test/fixtures/julia/large_small.json
  lib/node_modules/@stdlib/math/base/special/fmod/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/fmod/test/fixtures/julia/small_large.json
  lib/node_modules/@stdlib/math/base/special/fmod/test/fixtures/julia/small_small.json
  lib/node_modules/@stdlib/math/base/special/fmod/test/fixtures/julia/subnormal_results.json
  lib/node_modules/@stdlib/math/base/special/fmod/test/test.js
  lib/node_modules/@stdlib/math/base/special/fmod/test/test.native.js
Labels: Feature, Math

#2350 test: add tests to `@stdlib/ndarray/base/nullary`
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.0d.js
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.10d.js
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.1d.js
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.2d.js
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.3d.js
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.4d.js
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.5d.js
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.6d.js
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.7d.js
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.8d.js
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.9d.js
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.js
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.nd.js
Labels: Tests

#2597 build: run workflow step only if user has write access
  .github/workflows/process_metadata.yml
Labels: Tools, github_actions

#2600 test: add tests for negative values in `math/base/special/fmod`
  lib/node_modules/@stdlib/math/base/special/fmod/README.md
  lib/node_modules/@stdlib/math/base/special/fmod/src/main.c
  lib/node_modules/@stdlib/math/base/special/fmod/test/fixtures/julia/large_small.json
  lib/node_modules/@stdlib/math/base/special/fmod/test/fixtures/julia/negative_negative.json
  lib/node_modules/@stdlib/math/base/special/fmod/test/fixtures/julia/negative_positive.json
  lib/node_modules/@stdlib/math/base/special/fmod/test/fixtures/julia/positive_negative.json
  lib/node_modules/@stdlib/math/base/special/fmod/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/fmod/test/fixtures/julia/small_large.json
  lib/node_modules/@stdlib/math/base/special/fmod/test/fixtures/julia/small_small.json
  lib/node_modules/@stdlib/math/base/special/fmod/test/test.js
  lib/node_modules/@stdlib/math/base/special/fmod/test/test.native.js
Labels: Math, Tests

#2599 test: add tests to `@stdlib/ndarray/base/nullary/test/test.3d.js`
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.3d.js
Labels: Tests

#2603 feat: add C implementation for `math/base/special/floorsd`
  lib/node_modules/@stdlib/math/base/special/floorsd/README.md
  lib/node_modules/@stdlib/math/base/special/floorsd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/floorsd/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/floorsd/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/floorsd/binding.gyp
  lib/node_modules/@stdlib/math/base/special/floorsd/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/floorsd/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/floorsd/include.gypi
  lib/node_modules/@stdlib/math/base/special/floorsd/include/stdlib/math/base/special/floorsd.h
  lib/node_modules/@stdlib/math/base/special/floorsd/lib/native.js
  lib/node_modules/@stdlib/math/base/special/floorsd/manifest.json
  lib/node_modules/@stdlib/math/base/special/floorsd/src/Makefile
  lib/node_modules/@stdlib/math/base/special/floorsd/src/addon.c
  lib/node_modules/@stdlib/math/base/special/floorsd/src/main.c
  lib/node_modules/@stdlib/math/base/special/floorsd/test/test.native.js
Labels: Math, Ready to merge

#2602 feat: add C implementation for `math/base/special/ceil2`
  lib/node_modules/@stdlib/math/base/special/ceil2/README.md
  lib/node_modules/@stdlib/math/base/special/ceil2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ceil2/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/ceil2/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ceil2/binding.gyp
  lib/node_modules/@stdlib/math/base/special/ceil2/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/ceil2/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/ceil2/include.gypi
  lib/node_modules/@stdlib/math/base/special/ceil2/include/stdlib/math/base/special/ceil2.h
  lib/node_modules/@stdlib/math/base/special/ceil2/lib/native.js
  lib/node_modules/@stdlib/math/base/special/ceil2/manifest.json
  lib/node_modules/@stdlib/math/base/special/ceil2/src/Makefile
  lib/node_modules/@stdlib/math/base/special/ceil2/src/addon.c
  lib/node_modules/@stdlib/math/base/special/ceil2/src/main.c
  lib/node_modules/@stdlib/math/base/special/ceil2/test/test.native.js
Labels: Math

#2531 feat: allow cycling through multiline commands using up/down in the REPL
  lib/node_modules/@stdlib/repl/lib/multiline_handler.js
Labels: Enhancement, REPL

#2612 feat: add C implementation for `math/base/special/cospi`
  lib/node_modules/@stdlib/math/base/special/cospi/README.md
  lib/node_modules/@stdlib/math/base/special/cospi/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/cospi/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/cospi/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cospi/binding.gyp
  lib/node_modules/@stdlib/math/base/special/cospi/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/cospi/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/cospi/include.gypi
  lib/node_modules/@stdlib/math/base/special/cospi/include/stdlib/math/base/special/cospi.h
  lib/node_modules/@stdlib/math/base/special/cospi/lib/main.js
  lib/node_modules/@stdlib/math/base/special/cospi/lib/native.js
  lib/node_modules/@stdlib/math/base/special/cospi/manifest.json
  lib/node_modules/@stdlib/math/base/special/cospi/src/Makefile
  lib/node_modules/@stdlib/math/base/special/cospi/src/addon.c
  lib/node_modules/@stdlib/math/base/special/cospi/src/main.c
  lib/node_modules/@stdlib/math/base/special/cospi/test/test.native.js
Labels: Math

#2610 feat: add C implementation for `math/base/special/sinpi`
  lib/node_modules/@stdlib/math/base/special/sinpi/README.md
  lib/node_modules/@stdlib/math/base/special/sinpi/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sinpi/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/sinpi/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sinpi/binding.gyp
  lib/node_modules/@stdlib/math/base/special/sinpi/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/sinpi/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/sinpi/include.gypi
  lib/node_modules/@stdlib/math/base/special/sinpi/include/stdlib/math/base/special/sinpi.h
  lib/node_modules/@stdlib/math/base/special/sinpi/lib/main.js
  lib/node_modules/@stdlib/math/base/special/sinpi/lib/native.js
  lib/node_modules/@stdlib/math/base/special/sinpi/manifest.json
  lib/node_modules/@stdlib/math/base/special/sinpi/src/Makefile
  lib/node_modules/@stdlib/math/base/special/sinpi/src/addon.c
  lib/node_modules/@stdlib/math/base/special/sinpi/src/main.c
  lib/node_modules/@stdlib/math/base/special/sinpi/test/test.native.js
Labels: Math

#2619 feat: add C implementation for `math/base/special/floor10`
  lib/node_modules/@stdlib/math/base/special/floor10/README.md
  lib/node_modules/@stdlib/math/base/special/floor10/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/floor10/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/floor10/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/floor10/binding.gyp
  lib/node_modules/@stdlib/math/base/special/floor10/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/floor10/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/floor10/include.gypi
  lib/node_modules/@stdlib/math/base/special/floor10/include/stdlib/math/base/special/floor10.h
  lib/node_modules/@stdlib/math/base/special/floor10/lib/native.js
  lib/node_modules/@stdlib/math/base/special/floor10/manifest.json
  lib/node_modules/@stdlib/math/base/special/floor10/src/Makefile
  lib/node_modules/@stdlib/math/base/special/floor10/src/addon.c
  lib/node_modules/@stdlib/math/base/special/floor10/src/main.c
  lib/node_modules/@stdlib/math/base/special/floor10/test/test.native.js
Labels: Math, Ready to merge

#2618 feat: add C implementation for `math/base/special/factorial`
  lib/node_modules/@stdlib/math/base/special/factorial/README.md
  lib/node_modules/@stdlib/math/base/special/factorial/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/factorial/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/factorial/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/factorial/binding.gyp
  lib/node_modules/@stdlib/math/base/special/factorial/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/factorial/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/factorial/include.gypi
  lib/node_modules/@stdlib/math/base/special/factorial/include/stdlib/math/base/special/factorial.h
  lib/node_modules/@stdlib/math/base/special/factorial/lib/native.js
  lib/node_modules/@stdlib/math/base/special/factorial/manifest.json
  lib/node_modules/@stdlib/math/base/special/factorial/src/Makefile
  lib/node_modules/@stdlib/math/base/special/factorial/src/addon.c
  lib/node_modules/@stdlib/math/base/special/factorial/src/main.c
  lib/node_modules/@stdlib/math/base/special/factorial/test/test.native.js
Labels: Feature, Math, C, Needs Changes

#2620 feat: add C implementation for `math/base/special/floorb`
  lib/node_modules/@stdlib/math/base/special/floorb/README.md
  lib/node_modules/@stdlib/math/base/special/floorb/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/floorb/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/floorb/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/floorb/binding.gyp
  lib/node_modules/@stdlib/math/base/special/floorb/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/floorb/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/floorb/include.gypi
  lib/node_modules/@stdlib/math/base/special/floorb/include/stdlib/math/base/special/floorb.h
  lib/node_modules/@stdlib/math/base/special/floorb/lib/native.js
  lib/node_modules/@stdlib/math/base/special/floorb/manifest.json
  lib/node_modules/@stdlib/math/base/special/floorb/src/Makefile
  lib/node_modules/@stdlib/math/base/special/floorb/src/addon.c
  lib/node_modules/@stdlib/math/base/special/floorb/src/main.c
  lib/node_modules/@stdlib/math/base/special/floorb/test/test.native.js
Labels: Math

#2617 refactor: make base argument compulsory in `math/base/special/floorsd`
  lib/node_modules/@stdlib/math/base/special/floorsd/README.md
  lib/node_modules/@stdlib/math/base/special/floorsd/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/floorsd/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/floorsd/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/floorsd/examples/index.js
  lib/node_modules/@stdlib/math/base/special/floorsd/lib/index.js
  lib/node_modules/@stdlib/math/base/special/floorsd/lib/main.js
  lib/node_modules/@stdlib/math/base/special/floorsd/test/test.js
Labels: Math

#2623 docs: use correct notes in `math/base/special/cospi` function descriptions
  lib/node_modules/@stdlib/math/base/special/cospi/lib/main.js
  lib/node_modules/@stdlib/math/base/special/cospi/src/main.c
Labels: Documentation, Math

#2624 fix: remove unused include in `math/base/special/factorial`
  lib/node_modules/@stdlib/math/base/special/factorial/include/stdlib/math/base/special/factorial.h
Labels: Math

#2626 feat: add C implementation for `math/base/special/ceil10`
  lib/node_modules/@stdlib/math/base/special/ceil10/README.md
  lib/node_modules/@stdlib/math/base/special/ceil10/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ceil10/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/ceil10/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ceil10/binding.gyp
  lib/node_modules/@stdlib/math/base/special/ceil10/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/ceil10/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/ceil10/include.gypi
  lib/node_modules/@stdlib/math/base/special/ceil10/include/stdlib/math/base/special/ceil10.h
  lib/node_modules/@stdlib/math/base/special/ceil10/lib/native.js
  lib/node_modules/@stdlib/math/base/special/ceil10/manifest.json
  lib/node_modules/@stdlib/math/base/special/ceil10/src/Makefile
  lib/node_modules/@stdlib/math/base/special/ceil10/src/addon.c
  lib/node_modules/@stdlib/math/base/special/ceil10/src/main.c
  lib/node_modules/@stdlib/math/base/special/ceil10/test/test.native.js
Labels: Math, Ready to merge

#2627 feat: add C implementation for `math/base/special/ceilb`
  lib/node_modules/@stdlib/math/base/special/ceilb/README.md
  lib/node_modules/@stdlib/math/base/special/ceilb/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ceilb/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/ceilb/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ceilb/binding.gyp
  lib/node_modules/@stdlib/math/base/special/ceilb/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/ceilb/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/ceilb/include.gypi
  lib/node_modules/@stdlib/math/base/special/ceilb/include/stdlib/math/base/special/ceilb.h
  lib/node_modules/@stdlib/math/base/special/ceilb/lib/native.js
  lib/node_modules/@stdlib/math/base/special/ceilb/manifest.json
  lib/node_modules/@stdlib/math/base/special/ceilb/src/Makefile
  lib/node_modules/@stdlib/math/base/special/ceilb/src/addon.c
  lib/node_modules/@stdlib/math/base/special/ceilb/src/main.c
  lib/node_modules/@stdlib/math/base/special/ceilb/test/test.native.js
Labels: Math

#2609 test: add tests to `ndarray/base/nullary`
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.4d.js
Labels: Tests

#2611 feat: add `copyWithin`, `entries`, `forEach` to `array/bool`
  lib/node_modules/@stdlib/array/bool/README.md
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.copy_within.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.copy_within.length.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.entries.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.for_each.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.for_each.length.js
  lib/node_modules/@stdlib/array/bool/docs/repl.txt
  lib/node_modules/@stdlib/array/bool/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/bool/lib/main.js
  lib/node_modules/@stdlib/array/bool/test/test.copy_within.js
  lib/node_modules/@stdlib/array/bool/test/test.entries.js
  lib/node_modules/@stdlib/array/bool/test/test.for_each.js
Labels: Feature

#2635 fix: resolve bug in `string/truncate`
  lib/node_modules/@stdlib/string/truncate/lib/main.js
  lib/node_modules/@stdlib/string/truncate/test/test.js
Labels: Bug

#2632 refactor: remove extra `if` block, use `b` instead of `base` in `math/base/special/floorsd`
  lib/node_modules/@stdlib/math/base/special/floorsd/lib/main.js
  lib/node_modules/@stdlib/math/base/special/floorsd/src/main.c
Labels: Math

#2634 test: add tests to `ndarray/base/nullary`
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.5d.js
Labels: Tests

#2566 feat: add `fs/resolve-parent-paths`
  lib/node_modules/@stdlib/fs/resolve-parent-paths/README.md
  lib/node_modules/@stdlib/fs/resolve-parent-paths/benchmark/benchmark.js
  lib/node_modules/@stdlib/fs/resolve-parent-paths/bin/cli
  lib/node_modules/@stdlib/fs/resolve-parent-paths/docs/repl.txt
  lib/node_modules/@stdlib/fs/resolve-parent-paths/docs/types/index.d.ts
  lib/node_modules/@stdlib/fs/resolve-parent-paths/docs/types/test.ts
  lib/node_modules/@stdlib/fs/resolve-parent-paths/docs/usage.txt
  lib/node_modules/@stdlib/fs/resolve-parent-paths/etc/cli_opts.json
  lib/node_modules/@stdlib/fs/resolve-parent-paths/examples/index.js
  lib/node_modules/@stdlib/fs/resolve-parent-paths/lib/index.js
  lib/node_modules/@stdlib/fs/resolve-parent-paths/lib/main.js
  lib/node_modules/@stdlib/fs/resolve-parent-paths/lib/sync.js
  lib/node_modules/@stdlib/fs/resolve-parent-paths/lib/validate.js
  lib/node_modules/@stdlib/fs/resolve-parent-paths/package.json
  lib/node_modules/@stdlib/fs/resolve-parent-paths/test/fixtures/read_error.js.txt
  lib/node_modules/@stdlib/fs/resolve-parent-paths/test/test.cli.js
  lib/node_modules/@stdlib/fs/resolve-parent-paths/test/test.js
  lib/node_modules/@stdlib/fs/resolve-parent-paths/test/test.main.js
  lib/node_modules/@stdlib/fs/resolve-parent-paths/test/test.sync.js
  lib/node_modules/@stdlib/fs/resolve-parent-paths/test/test.validate.js
Labels: Feature, Utilities

#2641 test: fix tests for native implementation in `math/base/special/ceilsd`
  lib/node_modules/@stdlib/math/base/special/ceilsd/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/ceilsd/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/ceilsd/src/main.c
  lib/node_modules/@stdlib/math/base/special/ceilsd/test/test.native.js
Labels: Math

#2642 refactor: perform explicit cast
  lib/node_modules/@stdlib/math/base/special/floorsd/README.md
  lib/node_modules/@stdlib/math/base/special/floorsd/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/floorsd/src/main.c
Labels: Math

#2644 test: add tests to `ndarray/base/nullary`
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.6d.js
Labels: Tests

#2561 feat: add `iter/cusome`
  lib/node_modules/@stdlib/iter/cusome/README.md
  lib/node_modules/@stdlib/iter/cusome/benchmark/benchmark.js
  lib/node_modules/@stdlib/iter/cusome/docs/repl.txt
  lib/node_modules/@stdlib/iter/cusome/docs/types/index.d.ts
  lib/node_modules/@stdlib/iter/cusome/docs/types/test.ts
  lib/node_modules/@stdlib/iter/cusome/examples/index.js
  lib/node_modules/@stdlib/iter/cusome/lib/index.js
  lib/node_modules/@stdlib/iter/cusome/lib/main.js
  lib/node_modules/@stdlib/iter/cusome/package.json
  lib/node_modules/@stdlib/iter/cusome/test/test.js
Labels: Feature, Utilities

#2652 test: add tests to `ndarray/base/nullary`
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.8d.js
Labels: Tests

#2653 feat: add C implementation for `math/base/special/binet`
  lib/node_modules/@stdlib/math/base/special/binet/README.md
  lib/node_modules/@stdlib/math/base/special/binet/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/binet/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/binet/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/binet/binding.gyp
  lib/node_modules/@stdlib/math/base/special/binet/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/binet/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/binet/include.gypi
  lib/node_modules/@stdlib/math/base/special/binet/include/stdlib/math/base/special/binet.h
  lib/node_modules/@stdlib/math/base/special/binet/lib/native.js
  lib/node_modules/@stdlib/math/base/special/binet/manifest.json
  lib/node_modules/@stdlib/math/base/special/binet/src/Makefile
  lib/node_modules/@stdlib/math/base/special/binet/src/addon.c
  lib/node_modules/@stdlib/math/base/special/binet/src/main.c
  lib/node_modules/@stdlib/math/base/special/binet/test/test.native.js
Labels: Math, Ready to merge

#2657 docs: use correct comments for variables in `math/base/special/cosm1/test`
  lib/node_modules/@stdlib/math/base/special/cosm1/test/test.js
  lib/node_modules/@stdlib/math/base/special/cosm1/test/test.native.js
Labels: Math

#2655 test: add tests to `@stdlib/ndarray/base/nullary`
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.9d.js
Labels: Tests

#2663 test: add tests to `ndarray/base/nullary`
  lib/node_modules/@stdlib/ndarray/base/nullary/test/test.10d.js
Labels: Tests

#2646 feat: add C implementation for `math/base/special/sincos`
  lib/node_modules/@stdlib/math/base/special/sincos/README.md
  lib/node_modules/@stdlib/math/base/special/sincos/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sincos/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/sincos/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sincos/binding.gyp
  lib/node_modules/@stdlib/math/base/special/sincos/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/sincos/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/sincos/include.gypi
  lib/node_modules/@stdlib/math/base/special/sincos/include/stdlib/math/base/special/sincos.h
  lib/node_modules/@stdlib/math/base/special/sincos/lib/assign.js
  lib/node_modules/@stdlib/math/base/special/sincos/lib/native.js
  lib/node_modules/@stdlib/math/base/special/sincos/manifest.json
  lib/node_modules/@stdlib/math/base/special/sincos/src/Makefile
  lib/node_modules/@stdlib/math/base/special/sincos/src/addon.c
  lib/node_modules/@stdlib/math/base/special/sincos/src/main.c
  lib/node_modules/@stdlib/math/base/special/sincos/test/test.native.js
Labels: Math, Ready to merge

#2665 feat: add C implementation for `math/base/special/truncb`
  lib/node_modules/@stdlib/math/base/special/truncb/README.md
  lib/node_modules/@stdlib/math/base/special/truncb/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/truncb/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/truncb/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/truncb/binding.gyp
  lib/node_modules/@stdlib/math/base/special/truncb/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/truncb/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/truncb/include.gypi
  lib/node_modules/@stdlib/math/base/special/truncb/include/stdlib/math/base/special/truncb.h
  lib/node_modules/@stdlib/math/base/special/truncb/lib/native.js
  lib/node_modules/@stdlib/math/base/special/truncb/manifest.json
  lib/node_modules/@stdlib/math/base/special/truncb/src/Makefile
  lib/node_modules/@stdlib/math/base/special/truncb/src/addon.c
  lib/node_modules/@stdlib/math/base/special/truncb/src/main.c
  lib/node_modules/@stdlib/math/base/special/truncb/test/test.native.js
Labels: Math, Ready to merge

#2672 docs: add `@private` tag in `math/base/special/sincos/lib/native.js`
  lib/node_modules/@stdlib/math/base/special/sincos/lib/native.js
Labels: Math

#2676 refactor: use `max-safe-nth-factorial` package in `math/base/special/factorial`
  lib/node_modules/@stdlib/math/base/special/factorial/lib/main.js
  lib/node_modules/@stdlib/math/base/special/factorial/manifest.json
  lib/node_modules/@stdlib/math/base/special/factorial/src/main.c
Labels: Math

#2675 feat: add C implementation for `math/base/special/fresnels`
  lib/node_modules/@stdlib/math/base/special/fresnels/README.md
  lib/node_modules/@stdlib/math/base/special/fresnels/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fresnels/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fresnels/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fresnels/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fresnels/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fresnels/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fresnels/include.gypi
  lib/node_modules/@stdlib/math/base/special/fresnels/include/stdlib/math/base/special/fresnels.h
  lib/node_modules/@stdlib/math/base/special/fresnels/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fresnels/lib/rational_pfqf.js
  lib/node_modules/@stdlib/math/base/special/fresnels/lib/rational_pgqg.js
  lib/node_modules/@stdlib/math/base/special/fresnels/lib/rational_psqs.js
  lib/node_modules/@stdlib/math/base/special/fresnels/manifest.json
  lib/node_modules/@stdlib/math/base/special/fresnels/scripts/evalrational.js
  lib/node_modules/@stdlib/math/base/special/fresnels/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fresnels/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fresnels/src/main.c
  lib/node_modules/@stdlib/math/base/special/fresnels/test/test.native.js
Labels: Needs Review, Math

#2680 feat: add C implementation for `math/base/special/fresnelc`
  lib/node_modules/@stdlib/math/base/special/fresnelc/README.md
  lib/node_modules/@stdlib/math/base/special/fresnelc/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fresnelc/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fresnelc/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fresnelc/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fresnelc/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fresnelc/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fresnelc/include.gypi
  lib/node_modules/@stdlib/math/base/special/fresnelc/include/stdlib/math/base/special/fresnelc.h
  lib/node_modules/@stdlib/math/base/special/fresnelc/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fresnelc/lib/rational_pcqc.js
  lib/node_modules/@stdlib/math/base/special/fresnelc/lib/rational_pfqf.js
  lib/node_modules/@stdlib/math/base/special/fresnelc/lib/rational_pgqg.js
  lib/node_modules/@stdlib/math/base/special/fresnelc/manifest.json
  lib/node_modules/@stdlib/math/base/special/fresnelc/scripts/evalrational.js
  lib/node_modules/@stdlib/math/base/special/fresnelc/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fresnelc/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fresnelc/src/main.c
  lib/node_modules/@stdlib/math/base/special/fresnelc/test/test.native.js
Labels: Math, Ready to merge

#2548 feat: add `lapack/base/dlacpy`
  lib/node_modules/@stdlib/lapack/base/dlacpy/README.md
  lib/node_modules/@stdlib/lapack/base/dlacpy/benchmark/benchmark.js
  lib/node_modules/@stdlib/lapack/base/dlacpy/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/lapack/base/dlacpy/docs/repl.txt
  lib/node_modules/@stdlib/lapack/base/dlacpy/docs/types/index.d.ts
  lib/node_modules/@stdlib/lapack/base/dlacpy/docs/types/test.ts
  lib/node_modules/@stdlib/lapack/base/dlacpy/examples/index.js
  lib/node_modules/@stdlib/lapack/base/dlacpy/lib/base.js
  lib/node_modules/@stdlib/lapack/base/dlacpy/lib/dlacpy.js
  lib/node_modules/@stdlib/lapack/base/dlacpy/lib/index.js
  lib/node_modules/@stdlib/lapack/base/dlacpy/lib/main.js
  lib/node_modules/@stdlib/lapack/base/dlacpy/lib/ndarray.js
  lib/node_modules/@stdlib/lapack/base/dlacpy/package.json
  lib/node_modules/@stdlib/lapack/base/dlacpy/test/test.dlacpy.js
  lib/node_modules/@stdlib/lapack/base/dlacpy/test/test.js
  lib/node_modules/@stdlib/lapack/base/dlacpy/test/test.ndarray.js
Labels: Feature, LAPACK

#2578 feat: add `lapack/base/dpttrf`
  lib/node_modules/@stdlib/lapack/base/dpttrf/README.md
  lib/node_modules/@stdlib/lapack/base/dpttrf/benchmark/benchmark.js
  lib/node_modules/@stdlib/lapack/base/dpttrf/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/lapack/base/dpttrf/docs/repl.txt
  lib/node_modules/@stdlib/lapack/base/dpttrf/docs/types/index.d.ts
  lib/node_modules/@stdlib/lapack/base/dpttrf/docs/types/test.ts
  lib/node_modules/@stdlib/lapack/base/dpttrf/examples/index.js
  lib/node_modules/@stdlib/lapack/base/dpttrf/lib/base.js
  lib/node_modules/@stdlib/lapack/base/dpttrf/lib/dpttrf.js
  lib/node_modules/@stdlib/lapack/base/dpttrf/lib/index.js
  lib/node_modules/@stdlib/lapack/base/dpttrf/lib/main.js
  lib/node_modules/@stdlib/lapack/base/dpttrf/lib/ndarray.js
  lib/node_modules/@stdlib/lapack/base/dpttrf/package.json
  lib/node_modules/@stdlib/lapack/base/dpttrf/test/test.dpttrf.js
  lib/node_modules/@stdlib/lapack/base/dpttrf/test/test.js
  lib/node_modules/@stdlib/lapack/base/dpttrf/test/test.ndarray.js
Labels: Feature, LAPACK

#2687 feat: add C implementation for `math/base/special/sincospi`
  lib/node_modules/@stdlib/math/base/special/sincospi/README.md
  lib/node_modules/@stdlib/math/base/special/sincospi/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sincospi/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/sincospi/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sincospi/binding.gyp
  lib/node_modules/@stdlib/math/base/special/sincospi/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/sincospi/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/sincospi/include.gypi
  lib/node_modules/@stdlib/math/base/special/sincospi/include/stdlib/math/base/special/sincospi.h
  lib/node_modules/@stdlib/math/base/special/sincospi/lib/native.js
  lib/node_modules/@stdlib/math/base/special/sincospi/manifest.json
  lib/node_modules/@stdlib/math/base/special/sincospi/src/Makefile
  lib/node_modules/@stdlib/math/base/special/sincospi/src/addon.c
  lib/node_modules/@stdlib/math/base/special/sincospi/src/main.c
  lib/node_modules/@stdlib/math/base/special/sincospi/test/test.native.js
Labels: Math, Ready to merge

#2689 feat: add C implementation for `math/base/special/fresnel`
  lib/node_modules/@stdlib/math/base/special/fresnel/README.md
  lib/node_modules/@stdlib/math/base/special/fresnel/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fresnel/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fresnel/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fresnel/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fresnel/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fresnel/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fresnel/include.gypi
  lib/node_modules/@stdlib/math/base/special/fresnel/include/stdlib/math/base/special/fresnel.h
  lib/node_modules/@stdlib/math/base/special/fresnel/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fresnel/lib/rational_pcqc.js
  lib/node_modules/@stdlib/math/base/special/fresnel/lib/rational_pfqf.js
  lib/node_modules/@stdlib/math/base/special/fresnel/lib/rational_pgqg.js
  lib/node_modules/@stdlib/math/base/special/fresnel/lib/rational_psqs.js
  lib/node_modules/@stdlib/math/base/special/fresnel/manifest.json
  lib/node_modules/@stdlib/math/base/special/fresnel/scripts/evalrational.js
  lib/node_modules/@stdlib/math/base/special/fresnel/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fresnel/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fresnel/src/main.c
  lib/node_modules/@stdlib/math/base/special/fresnel/test/test.native.js
Labels: Math, Ready to merge

#2677 docs: remove unused include from example in `math/base/special/gamma/README.md`
  lib/node_modules/@stdlib/math/base/special/gamma/README.md
Labels: Math

#2668 feat: add `lapack/base/dlassq`
  lib/node_modules/@stdlib/lapack/base/dlassq/README.md
  lib/node_modules/@stdlib/lapack/base/dlassq/benchmark/benchmark.js
  lib/node_modules/@stdlib/lapack/base/dlassq/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/lapack/base/dlassq/docs/repl.txt
  lib/node_modules/@stdlib/lapack/base/dlassq/docs/types/index.d.ts
  lib/node_modules/@stdlib/lapack/base/dlassq/docs/types/test.ts
  lib/node_modules/@stdlib/lapack/base/dlassq/examples/index.js
  lib/node_modules/@stdlib/lapack/base/dlassq/lib/base.js
  lib/node_modules/@stdlib/lapack/base/dlassq/lib/dlassq.js
  lib/node_modules/@stdlib/lapack/base/dlassq/lib/index.js
  lib/node_modules/@stdlib/lapack/base/dlassq/lib/main.js
  lib/node_modules/@stdlib/lapack/base/dlassq/lib/ndarray.js
  lib/node_modules/@stdlib/lapack/base/dlassq/package.json
  lib/node_modules/@stdlib/lapack/base/dlassq/test/test.dlassq.js
  lib/node_modules/@stdlib/lapack/base/dlassq/test/test.js
  lib/node_modules/@stdlib/lapack/base/dlassq/test/test.ndarray.js
Labels: Feature, JavaScript, LAPACK

#2699 docs: remove `stdint` include, return `Float64Array` in `math/base/special/sincospi`
  lib/node_modules/@stdlib/math/base/special/sincospi/lib/native.js
  lib/node_modules/@stdlib/math/base/special/sincospi/src/main.c
Labels: Math

#2702 refactor: correct return value in `math/base/special/sincos`
  lib/node_modules/@stdlib/math/base/special/sincos/src/main.c
Labels: Math

#2701 test: add missing tests, return `NaN` in `math/base/special/powm1`
  lib/node_modules/@stdlib/math/base/special/powm1/lib/main.js
  lib/node_modules/@stdlib/math/base/special/powm1/test/test.js
  lib/node_modules/@stdlib/math/base/special/powm1/test/test.native.js
Labels: Math

#2700 style: correct spacing and return format in `math/base/special/fresnel`
  lib/node_modules/@stdlib/math/base/special/fresnel/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fresnel/lib/native.js
Labels: Math

#2709 docs: use `native` in `benchmark.native.js` in `math/base/special/gcd`
  lib/node_modules/@stdlib/math/base/special/gcd/benchmark/benchmark.native.js
Labels: Math

#2708 feat: add `blas/base/ssyr2`
  lib/node_modules/@stdlib/blas/base/ssyr2/README.md
  lib/node_modules/@stdlib/blas/base/ssyr2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/ssyr2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/ssyr2/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/ssyr2/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/ssyr2/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/ssyr2/examples/index.js
  lib/node_modules/@stdlib/blas/base/ssyr2/lib/base.js
  lib/node_modules/@stdlib/blas/base/ssyr2/lib/index.js
  lib/node_modules/@stdlib/blas/base/ssyr2/lib/main.js
  lib/node_modules/@stdlib/blas/base/ssyr2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/ssyr2/lib/ssyr2.js
  lib/node_modules/@stdlib/blas/base/ssyr2/package.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/column_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/column_major_l.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/column_major_oa.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/column_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/column_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/column_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/column_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/column_major_u.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/column_major_xnyn.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/column_major_xnyp.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/column_major_xpyn.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/column_major_xpyp.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/row_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/row_major_l.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/row_major_oa.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/row_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/row_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/row_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/row_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/row_major_u.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/row_major_xnyn.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/row_major_xnyp.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/row_major_xpyn.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/row_major_xpyp.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/test.js
  lib/node_modules/@stdlib/blas/base/ssyr2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/ssyr2/test/test.ssyr2.js
Labels: Feature, BLAS, JavaScript

#2712 feat: add `blas/base/dsyr2`
  lib/node_modules/@stdlib/blas/base/dsyr2/README.md
  lib/node_modules/@stdlib/blas/base/dsyr2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/dsyr2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/dsyr2/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/dsyr2/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/dsyr2/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/dsyr2/examples/index.js
  lib/node_modules/@stdlib/blas/base/dsyr2/lib/base.js
  lib/node_modules/@stdlib/blas/base/dsyr2/lib/dsyr2.js
  lib/node_modules/@stdlib/blas/base/dsyr2/lib/index.js
  lib/node_modules/@stdlib/blas/base/dsyr2/lib/main.js
  lib/node_modules/@stdlib/blas/base/dsyr2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/dsyr2/package.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/column_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/column_major_l.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/column_major_oa.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/column_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/column_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/column_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/column_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/column_major_u.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/column_major_xnyn.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/column_major_xnyp.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/column_major_xpyn.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/column_major_xpyp.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/row_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/row_major_l.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/row_major_oa.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/row_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/row_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/row_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/row_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/row_major_u.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/row_major_xnyn.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/row_major_xnyp.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/row_major_xpyn.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/row_major_xpyp.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/test.dsyr2.js
  lib/node_modules/@stdlib/blas/base/dsyr2/test/test.js
  lib/node_modules/@stdlib/blas/base/dsyr2/test/test.ndarray.js
Labels: Feature, BLAS

#2716 feat: add `lapack/base/slacpy`
  lib/node_modules/@stdlib/lapack/base/slacpy/README.md
  lib/node_modules/@stdlib/lapack/base/slacpy/benchmark/benchmark.js
  lib/node_modules/@stdlib/lapack/base/slacpy/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/lapack/base/slacpy/docs/repl.txt
  lib/node_modules/@stdlib/lapack/base/slacpy/docs/types/index.d.ts
  lib/node_modules/@stdlib/lapack/base/slacpy/docs/types/test.ts
  lib/node_modules/@stdlib/lapack/base/slacpy/examples/index.js
  lib/node_modules/@stdlib/lapack/base/slacpy/lib/base.js
  lib/node_modules/@stdlib/lapack/base/slacpy/lib/index.js
  lib/node_modules/@stdlib/lapack/base/slacpy/lib/main.js
  lib/node_modules/@stdlib/lapack/base/slacpy/lib/ndarray.js
  lib/node_modules/@stdlib/lapack/base/slacpy/lib/slacpy.js
  lib/node_modules/@stdlib/lapack/base/slacpy/package.json
  lib/node_modules/@stdlib/lapack/base/slacpy/test/test.js
  lib/node_modules/@stdlib/lapack/base/slacpy/test/test.ndarray.js
  lib/node_modules/@stdlib/lapack/base/slacpy/test/test.slacpy.js
Labels: Feature, Base, JavaScript, LAPACK
