Repository stdlib-js/stdlib, pull requests merged in 2024-11, with the labels that each got.

#3070 docs: correct the function description and indentation in `math/base/assert/is-odd`
  lib/node_modules/@stdlib/math/base/assert/is-odd/examples/c/example.c
  lib/node_modules/@stdlib/math/base/assert/is-odd/src/main.c
Labels: Math, Ready To Merge

#3078 docs: correct function description and indentation in `math/base/assert/is-even`
  lib/node_modules/@stdlib/math/base/assert/is-even/examples/c/example.c
  lib/node_modules/@stdlib/math/base/assert/is-even/src/main.c
Labels: Math, Ready To Merge

#3079 feat: add `constants/float32/ln-two`
  lib/node_modules/@stdlib/constants/float32/ln-two/README.md
  lib/node_modules/@stdlib/constants/float32/ln-two/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/ln-two/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/ln-two/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/ln-two/examples/index.js
  lib/node_modules/@stdlib/constants/float32/ln-two/include/stdlib/constants/float32/ln_two.h
  lib/node_modules/@stdlib/constants/float32/ln-two/lib/index.js
  lib/node_modules/@stdlib/constants/float32/ln-two/manifest.json
  lib/node_modules/@stdlib/constants/float32/ln-two/package.json
  lib/node_modules/@stdlib/constants/float32/ln-two/test/test.js
Labels: Math, Ready To Merge

#3077 feat: add `math/base/assert/is-evenf`
  lib/node_modules/@stdlib/math/base/assert/is-evenf/README.md
  lib/node_modules/@stdlib/math/base/assert/is-evenf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-evenf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-evenf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-evenf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-evenf/binding.gyp
  lib/node_modules/@stdlib/math/base/assert/is-evenf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/assert/is-evenf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/assert/is-evenf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/assert/is-evenf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-evenf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/assert/is-evenf/examples/index.js
  lib/node_modules/@stdlib/math/base/assert/is-evenf/include.gypi
  lib/node_modules/@stdlib/math/base/assert/is-evenf/include/stdlib/math/base/assert/is_evenf.h
  lib/node_modules/@stdlib/math/base/assert/is-evenf/lib/index.js
  lib/node_modules/@stdlib/math/base/assert/is-evenf/lib/main.js
  lib/node_modules/@stdlib/math/base/assert/is-evenf/lib/native.js
  lib/node_modules/@stdlib/math/base/assert/is-evenf/manifest.json
  lib/node_modules/@stdlib/math/base/assert/is-evenf/package.json
  lib/node_modules/@stdlib/math/base/assert/is-evenf/src/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-evenf/src/addon.c
  lib/node_modules/@stdlib/math/base/assert/is-evenf/src/main.c
  lib/node_modules/@stdlib/math/base/assert/is-evenf/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-evenf/test/test.native.js
Labels: Math, Ready To Merge

#3051 test: achieve 100% test coverage for `blas/ext/base/dnansumkbn`
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/test/test.dnansumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/test/test.dnansumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/test/test.ndarray.native.js
Labels: BLAS, Ready To Merge

#3082 refactor: use external constant and update license in `math/base/special/pow`
  lib/node_modules/@stdlib/math/base/special/pow/include/stdlib/math/base/special/pow.h
  lib/node_modules/@stdlib/math/base/special/pow/lib/log2ax.js
  lib/node_modules/@stdlib/math/base/special/pow/lib/pow2.js
  lib/node_modules/@stdlib/math/base/special/pow/manifest.json
  lib/node_modules/@stdlib/math/base/special/pow/src/main.c
Labels: Math, Ready To Merge

#3072 feat: add `math/base/special/ahavercosf`
  lib/node_modules/@stdlib/math/base/special/ahavercosf/README.md
  lib/node_modules/@stdlib/math/base/special/ahavercosf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/ahavercosf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ahavercosf/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/ahavercosf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ahavercosf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/ahavercosf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ahavercosf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/ahavercosf/docs/img/equation_archavercosine.svg
  lib/node_modules/@stdlib/math/base/special/ahavercosf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/ahavercosf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/ahavercosf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/ahavercosf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/ahavercosf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/ahavercosf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/ahavercosf/include.gypi
  lib/node_modules/@stdlib/math/base/special/ahavercosf/include/stdlib/math/base/special/ahavercosf.h
  lib/node_modules/@stdlib/math/base/special/ahavercosf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/ahavercosf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/ahavercosf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/ahavercosf/manifest.json
  lib/node_modules/@stdlib/math/base/special/ahavercosf/package.json
  lib/node_modules/@stdlib/math/base/special/ahavercosf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/ahavercosf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/ahavercosf/src/main.c
  lib/node_modules/@stdlib/math/base/special/ahavercosf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/ahavercosf/test/fixtures/julia/data.json
  lib/node_modules/@stdlib/math/base/special/ahavercosf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/ahavercosf/test/fixtures/julia/small_positive.json
  lib/node_modules/@stdlib/math/base/special/ahavercosf/test/test.js
  lib/node_modules/@stdlib/math/base/special/ahavercosf/test/test.native.js
Labels: Math, Ready To Merge

#3076 feat: add `math/base/special/ahaversinf`
  lib/node_modules/@stdlib/math/base/special/ahaversinf/README.md
  lib/node_modules/@stdlib/math/base/special/ahaversinf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/ahaversinf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ahaversinf/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/ahaversinf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ahaversinf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/ahaversinf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ahaversinf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/ahaversinf/docs/img/equation_archaversine.svg
  lib/node_modules/@stdlib/math/base/special/ahaversinf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/ahaversinf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/ahaversinf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/ahaversinf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/ahaversinf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/ahaversinf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/ahaversinf/include.gypi
  lib/node_modules/@stdlib/math/base/special/ahaversinf/include/stdlib/math/base/special/ahaversinf.h
  lib/node_modules/@stdlib/math/base/special/ahaversinf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/ahaversinf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/ahaversinf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/ahaversinf/manifest.json
  lib/node_modules/@stdlib/math/base/special/ahaversinf/package.json
  lib/node_modules/@stdlib/math/base/special/ahaversinf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/ahaversinf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/ahaversinf/src/main.c
  lib/node_modules/@stdlib/math/base/special/ahaversinf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/ahaversinf/test/fixtures/julia/data.json
  lib/node_modules/@stdlib/math/base/special/ahaversinf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/ahaversinf/test/fixtures/julia/small_positive.json
  lib/node_modules/@stdlib/math/base/special/ahaversinf/test/test.js
  lib/node_modules/@stdlib/math/base/special/ahaversinf/test/test.native.js
Labels: Math, Ready To Merge

#3059 feat: add `math/base/special/fmodf`
  lib/node_modules/@stdlib/math/base/special/fmodf/LICENSE
  lib/node_modules/@stdlib/math/base/special/fmodf/README.md
  lib/node_modules/@stdlib/math/base/special/fmodf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/fmodf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fmodf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fmodf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fmodf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fmodf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/fmodf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/fmodf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/fmodf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fmodf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fmodf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/fmodf/include.gypi
  lib/node_modules/@stdlib/math/base/special/fmodf/include/stdlib/math/base/special/fmodf.h
  lib/node_modules/@stdlib/math/base/special/fmodf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/fmodf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/fmodf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fmodf/manifest.json
  lib/node_modules/@stdlib/math/base/special/fmodf/package.json
  lib/node_modules/@stdlib/math/base/special/fmodf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fmodf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fmodf/src/main.c
  lib/node_modules/@stdlib/math/base/special/fmodf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/fmodf/test/fixtures/julia/large_small.json
  lib/node_modules/@stdlib/math/base/special/fmodf/test/fixtures/julia/negative_negative.json
  lib/node_modules/@stdlib/math/base/special/fmodf/test/fixtures/julia/negative_positive.json
  lib/node_modules/@stdlib/math/base/special/fmodf/test/fixtures/julia/positive_negative.json
  lib/node_modules/@stdlib/math/base/special/fmodf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/fmodf/test/fixtures/julia/small_large.json
  lib/node_modules/@stdlib/math/base/special/fmodf/test/fixtures/julia/small_small.json
  lib/node_modules/@stdlib/math/base/special/fmodf/test/fixtures/julia/subnormal_results.json
  lib/node_modules/@stdlib/math/base/special/fmodf/test/test.js
  lib/node_modules/@stdlib/math/base/special/fmodf/test/test.native.js
Labels: Math, Ready To Merge

#3058 feat: add `math/base/special/cfloorf`
  lib/node_modules/@stdlib/math/base/special/cfloorf/README.md
  lib/node_modules/@stdlib/math/base/special/cfloorf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/cfloorf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/cfloorf/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/cfloorf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cfloorf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/cfloorf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/cfloorf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/cfloorf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/cfloorf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/cfloorf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/cfloorf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/cfloorf/include.gypi
  lib/node_modules/@stdlib/math/base/special/cfloorf/include/stdlib/math/base/special/cfloorf.h
  lib/node_modules/@stdlib/math/base/special/cfloorf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/cfloorf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/cfloorf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/cfloorf/manifest.json
  lib/node_modules/@stdlib/math/base/special/cfloorf/package.json
  lib/node_modules/@stdlib/math/base/special/cfloorf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/cfloorf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/cfloorf/src/main.c
  lib/node_modules/@stdlib/math/base/special/cfloorf/test/test.js
  lib/node_modules/@stdlib/math/base/special/cfloorf/test/test.native.js
Labels: Math, Ready To Merge

#3087 test: achieve 100% test coverage for `blas/ext/base/dnansumors`
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/test/test.ndarray.js
Labels: BLAS, Ready To Merge

#2997 feat: add `math/base/special/gcdf`
  lib/node_modules/@stdlib/math/base/special/gcdf/README.md
  lib/node_modules/@stdlib/math/base/special/gcdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/gcdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/gcdf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/gcdf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/gcdf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/gcdf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/gcdf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/gcdf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/gcdf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/gcdf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/gcdf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/gcdf/include.gypi
  lib/node_modules/@stdlib/math/base/special/gcdf/include/stdlib/math/base/special/gcdf.h
  lib/node_modules/@stdlib/math/base/special/gcdf/lib/binary_gcd.js
  lib/node_modules/@stdlib/math/base/special/gcdf/lib/bitwise_binary_gcd.js
  lib/node_modules/@stdlib/math/base/special/gcdf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/gcdf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/gcdf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/gcdf/manifest.json
  lib/node_modules/@stdlib/math/base/special/gcdf/package.json
  lib/node_modules/@stdlib/math/base/special/gcdf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/gcdf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/gcdf/src/main.c
  lib/node_modules/@stdlib/math/base/special/gcdf/test/test.js
  lib/node_modules/@stdlib/math/base/special/gcdf/test/test.native.js
Labels: Math, Ready To Merge

#3091 feat: add `constants/float32/max-base10-exponent`
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent/README.md
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent/examples/index.js
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent/include/stdlib/constants/float32/max_base10_exponent.h
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent/lib/index.js
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent/manifest.json
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent/package.json
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent/test/test.js
Labels: Ready To Merge

#3092 feat: add `constants/float32/min-base10-exponent`
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent/README.md
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent/examples/index.js
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent/include/stdlib/constants/float32/min_base10_exponent.h
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent/lib/index.js
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent/manifest.json
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent/package.json
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent/test/test.js
Labels: Ready To Merge

#3061 feat: add `math/base/special/croundf`
  lib/node_modules/@stdlib/math/base/special/croundf/README.md
  lib/node_modules/@stdlib/math/base/special/croundf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/croundf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/croundf/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/croundf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/croundf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/croundf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/croundf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/croundf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/croundf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/croundf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/croundf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/croundf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/croundf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/croundf/include.gypi
  lib/node_modules/@stdlib/math/base/special/croundf/include/stdlib/math/base/special/croundf.h
  lib/node_modules/@stdlib/math/base/special/croundf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/croundf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/croundf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/croundf/manifest.json
  lib/node_modules/@stdlib/math/base/special/croundf/package.json
  lib/node_modules/@stdlib/math/base/special/croundf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/croundf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/croundf/src/main.c
  lib/node_modules/@stdlib/math/base/special/croundf/test/test.js
  lib/node_modules/@stdlib/math/base/special/croundf/test/test.native.js
Labels: Math, Ready To Merge

#2991 feat: add C `ndarray` API and refactor `blas/ext/base/dnannsumors`
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/include/stdlib/blas/ext/base/dnannsumors.h
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/lib/dnannsumors.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/src/dnannsumors.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/test/test.dnannsumors.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/test/test.dnannsumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/test/test.ndarray.native.js
Labels: Feature, BLAS, C, Ready To Merge

#3086 feat: add C `ndarray` API and refactor `blas/ext/base/dsnannsumors`
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/include/stdlib/blas/ext/base/dsnannsumors.h
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/lib/dsnannsumors.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/src/dsnannsumors.c
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/test/test.dsnannsumors.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/test/test.dsnannsumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/test/test.ndarray.native.js
Labels: BLAS, Ready To Merge

#3101 feat: add `constants/float32/e`
  lib/node_modules/@stdlib/constants/float32/e/README.md
  lib/node_modules/@stdlib/constants/float32/e/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/e/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/e/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/e/examples/index.js
  lib/node_modules/@stdlib/constants/float32/e/include/stdlib/constants/float32/e.h
  lib/node_modules/@stdlib/constants/float32/e/lib/index.js
  lib/node_modules/@stdlib/constants/float32/e/manifest.json
  lib/node_modules/@stdlib/constants/float32/e/package.json
  lib/node_modules/@stdlib/constants/float32/e/test/test.js
Labels: Ready To Merge

#1875 docs: improve README examples of `stats/base/dists/laplace` namespace
  lib/node_modules/@stdlib/stats/base/dists/laplace/README.md
  lib/node_modules/@stdlib/stats/base/dists/laplace/examples/index.js
Labels: Ready To Merge

#2990 feat: add C `ndarray` API and refactor `blas/ext/base/dnannsumkbn2`
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/include/stdlib/blas/ext/base/dnannsumkbn2.h
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/lib/dnannsumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/test/test.dnannsumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/test/test.dnannsumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/test/test.ndarray.native.js
Labels: Feature, BLAS, C, Ready To Merge

#2605 docs: improve examples of `stats/base/dists/kumaraswamy`
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/README.md
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/examples/index.js
Labels: Needs Review, Ready To Merge

#3100 feat: add `constants/float32/min-base10-exponent-subnormal`
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent-subnormal/README.md
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent-subnormal/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent-subnormal/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent-subnormal/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent-subnormal/examples/index.js
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent-subnormal/include/stdlib/constants/float32/min_base10_exponent_subnormal.h
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent-subnormal/lib/index.js
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent-subnormal/manifest.json
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent-subnormal/package.json
  lib/node_modules/@stdlib/constants/float32/min-base10-exponent-subnormal/test/test.js
Labels: Ready To Merge

#2868 refactor: use constant packages, `FI_F` for addon and style fixes in `math/base/special/ldexpf`
  lib/node_modules/@stdlib/math/base/special/ldexpf/README.md
  lib/node_modules/@stdlib/math/base/special/ldexpf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/ldexpf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/ldexpf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/ldexpf/manifest.json
  lib/node_modules/@stdlib/math/base/special/ldexpf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/ldexpf/src/main.c
  lib/node_modules/@stdlib/math/base/special/ldexpf/test/test.js
  lib/node_modules/@stdlib/math/base/special/ldexpf/test/test.native.js
Labels: Math, Ready To Merge

#3099 feat: add `constants/float32/max-base10-exponent-subnormal`
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent-subnormal/README.md
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent-subnormal/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent-subnormal/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent-subnormal/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent-subnormal/examples/index.js
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent-subnormal/include/stdlib/constants/float32/max_base10_exponent_subnormal.h
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent-subnormal/lib/index.js
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent-subnormal/manifest.json
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent-subnormal/package.json
  lib/node_modules/@stdlib/constants/float32/max-base10-exponent-subnormal/test/test.js
Labels: Ready To Merge

#3108 feat!: update the return value for `n=1` in `math/base/special/bernoulli`
  lib/node_modules/@stdlib/math/base/special/bernoulli/README.md
  lib/node_modules/@stdlib/math/base/special/bernoulli/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/bernoulli/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/bernoulli/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/bernoulli/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/bernoulli/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/bernoulli/lib/index.js
  lib/node_modules/@stdlib/math/base/special/bernoulli/lib/main.js
  lib/node_modules/@stdlib/math/base/special/bernoulli/lib/native.js
  lib/node_modules/@stdlib/math/base/special/bernoulli/manifest.json
  lib/node_modules/@stdlib/math/base/special/bernoulli/src/main.c
  lib/node_modules/@stdlib/math/base/special/bernoulli/test/test.js
  lib/node_modules/@stdlib/math/base/special/bernoulli/test/test.native.js
Labels: release: Major, Math

#3113 bench: generate numbers outside loops in `math/base/special/cfloorf`
  lib/node_modules/@stdlib/math/base/special/cfloorf/README.md
  lib/node_modules/@stdlib/math/base/special/cfloorf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/cfloorf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cfloorf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/cfloorf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/cfloorf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/cfloorf/include/stdlib/math/base/special/cfloorf.h
  lib/node_modules/@stdlib/math/base/special/cfloorf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/cfloorf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/cfloorf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/cfloorf/package.json
  lib/node_modules/@stdlib/math/base/special/cfloorf/src/main.c
Labels: Math

#3114 docs: update functions descriptions in `math/base/special/cceil`
  lib/node_modules/@stdlib/math/base/special/cceil/README.md
  lib/node_modules/@stdlib/math/base/special/cceil/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cceil/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cceil/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/cceil/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/cceil/include/stdlib/math/base/special/cceil.h
  lib/node_modules/@stdlib/math/base/special/cceil/lib/index.js
  lib/node_modules/@stdlib/math/base/special/cceil/lib/main.js
  lib/node_modules/@stdlib/math/base/special/cceil/lib/native.js
  lib/node_modules/@stdlib/math/base/special/cceil/package.json
  lib/node_modules/@stdlib/math/base/special/cceil/src/main.c
Labels: Math

#3115 refactor: use macros in addon and update examples in `math/base/assert/is-evenf`
  lib/node_modules/@stdlib/math/base/assert/is-evenf/README.md
  lib/node_modules/@stdlib/math/base/assert/is-evenf/examples/index.js
  lib/node_modules/@stdlib/math/base/assert/is-evenf/manifest.json
  lib/node_modules/@stdlib/math/base/assert/is-evenf/src/addon.c
Labels: Math

#3021 feat: add `blas/base/drotm-wasm`
  lib/node_modules/@stdlib/blas/base/drotm-wasm/README.md
  lib/node_modules/@stdlib/blas/base/drotm-wasm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/drotm-wasm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/drotm-wasm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/drotm-wasm/examples/index.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/examples/module.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/lib/binary.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/lib/index.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/lib/main.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/lib/module.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/lib/routine.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/manifest.json
  lib/node_modules/@stdlib/blas/base/drotm-wasm/package.json
  lib/node_modules/@stdlib/blas/base/drotm-wasm/scripts/build.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/drotm-wasm/src/Makefile
  lib/node_modules/@stdlib/blas/base/drotm-wasm/src/exports.json
  lib/node_modules/@stdlib/blas/base/drotm-wasm/src/main.wasm
  lib/node_modules/@stdlib/blas/base/drotm-wasm/src/main.wat
  lib/node_modules/@stdlib/blas/base/drotm-wasm/test/test.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/test/test.main.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/test/test.module.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/drotm-wasm/test/test.routine.js
  lib/node_modules/@stdlib/strided/base/strided2object/lib/main.js
Labels: Feature, WebAssembly, BLAS

#3105 test: achieve 100% test coverage for `blas/ext/base/dnansumkbn2`
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/test/test.dnansumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/test/test.dnansumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/test/test.ndarray.native.js
Labels: BLAS, Ready To Merge

#3123 refactor: update `offset` handling and function parameter description for `blas/ext/base/dnannsumkbn2`
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/lib/dnannsumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/test/test.dnannsumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/test/test.dnannsumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/test/test.ndarray.native.js
Labels: BLAS

#3120 refactor: use constant package in `math/base/special/fmodf`
  lib/node_modules/@stdlib/math/base/special/fmodf/manifest.json
  lib/node_modules/@stdlib/math/base/special/fmodf/src/main.c
  lib/node_modules/@stdlib/math/base/special/fmodf/test/fixtures/julia/runner.jl
Labels: Math

#3119 refactor: update benchmarks, test fixtures in `math/base/special/ahaversinf`
  lib/node_modules/@stdlib/math/base/special/ahaversinf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/ahaversinf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ahaversinf/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/ahaversinf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ahaversinf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ahaversinf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/ahaversinf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/ahaversinf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/ahaversinf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/ahaversinf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/ahaversinf/test/fixtures/julia/small_positive.json
  lib/node_modules/@stdlib/math/base/special/ahaversinf/test/test.js
  lib/node_modules/@stdlib/math/base/special/ahaversinf/test/test.native.js
Labels: Math

#3121 refactor: update benchmark, add `f` suffixes, missing spaces in `math/base/special/gcdf`
  lib/node_modules/@stdlib/math/base/special/gcdf/README.md
  lib/node_modules/@stdlib/math/base/special/gcdf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/gcdf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/gcdf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/gcdf/include/stdlib/math/base/special/gcdf.h
  lib/node_modules/@stdlib/math/base/special/gcdf/lib/binary_gcd.js
  lib/node_modules/@stdlib/math/base/special/gcdf/lib/bitwise_binary_gcd.js
  lib/node_modules/@stdlib/math/base/special/gcdf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/gcdf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/gcdf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/gcdf/package.json
  lib/node_modules/@stdlib/math/base/special/gcdf/src/main.c
Labels: Math

#3124 refactor: replace built-in with `fmod` in `math/base/assert/is-prime`
  lib/node_modules/@stdlib/math/base/assert/is-prime/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-prime/manifest.json
  lib/node_modules/@stdlib/math/base/assert/is-prime/src/main.c
Labels: Math

#2678 docs: improve examples of `stats/base/dists/chisquare` namespace
  lib/node_modules/@stdlib/stats/base/dists/chisquare/README.md
  lib/node_modules/@stdlib/stats/base/dists/chisquare/examples/index.js
Labels: Needs Review, Ready To Merge

#3127 refactor: remove explicit cast and update function parameter description in `blas/ext/base/drev`
  lib/node_modules/@stdlib/blas/ext/base/drev/README.md
  lib/node_modules/@stdlib/blas/ext/base/drev/lib/drev.js
  lib/node_modules/@stdlib/blas/ext/base/drev/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/drev/src/main.c
Labels: BLAS

#3130 feat: add C `ndarray` implementation for `blas/base/dznrm2`
  lib/node_modules/@stdlib/blas/base/dznrm2/README.md
  lib/node_modules/@stdlib/blas/base/dznrm2/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/dznrm2/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/dznrm2/include/stdlib/blas/base/dznrm2.h
  lib/node_modules/@stdlib/blas/base/dznrm2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/dznrm2/manifest.json
  lib/node_modules/@stdlib/blas/base/dznrm2/src/addon.c
  lib/node_modules/@stdlib/blas/base/dznrm2/src/dznrm2.c
  lib/node_modules/@stdlib/blas/base/dznrm2/src/dznrm2_cblas.c
  lib/node_modules/@stdlib/blas/base/dznrm2/src/dznrm2_f.c
  lib/node_modules/@stdlib/blas/base/dznrm2/src/dznrm2_ndarray.c
Labels: Feature, BLAS, C

#3133 feat: add C `ndarray` implementation for `blas/base/scnrm2`
  lib/node_modules/@stdlib/blas/base/scnrm2/README.md
  lib/node_modules/@stdlib/blas/base/scnrm2/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/scnrm2/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/scnrm2/include/stdlib/blas/base/scnrm2.h
  lib/node_modules/@stdlib/blas/base/scnrm2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/scnrm2/manifest.json
  lib/node_modules/@stdlib/blas/base/scnrm2/src/addon.c
  lib/node_modules/@stdlib/blas/base/scnrm2/src/scnrm2.c
  lib/node_modules/@stdlib/blas/base/scnrm2/src/scnrm2_cblas.c
  lib/node_modules/@stdlib/blas/base/scnrm2/src/scnrm2_f.c
  lib/node_modules/@stdlib/blas/base/scnrm2/src/scnrm2_ndarray.c
Labels: Feature, BLAS, C

#3056 test: add tests to `blas/ext/base/dnanasum`
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/test/test.dnanasum.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/test/test.dnanasum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/test/test.ndarray.native.js
Labels: Tests, BLAS

#3104 test: achieve 100% test coverage for `blas/ext/base/dnanasumors`
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/test/test.dnanasumors.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/test/test.dnanasumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/test/test.ndarray.native.js
Labels: Tests, BLAS, Needs Changes

#3185 refactor: remove unnecessary variable declaration from `blas/ext/base/dnannsumkbn2`
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/src/addon.c
Labels: BLAS

#3187 docs: update parameter descriptions and add missing header in C example in `blas/ext/base/cfill`
  lib/node_modules/@stdlib/blas/ext/base/cfill/README.md
  lib/node_modules/@stdlib/blas/ext/base/cfill/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/cfill/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/cfill/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/cfill/lib/cfill.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/lib/cfill.native.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/src/main.c
Labels: Documentation, BLAS

#3083 feat: add C `ndarray` API and refactor `blas/ext/base/dsapxsumpw`
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/include/stdlib/blas/ext/base/dsapxsumpw.h
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/lib/dsapxsumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/lib/dsapxsumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/src/dsapxsumpw.c
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/test/test.dsapxsumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/test/test.dsapxsumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/test/test.ndarray.native.js
Labels: Feature, BLAS, C

#2988 feat: add C `ndarray` API and refactor `blas/ext/base/dnannsumkbn`
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/include/stdlib/blas/ext/base/dnannsumkbn.h
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/lib/dnannsumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/src/dnannsumkbn.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/test/test.dnannsumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/test/test.dnannsumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/test/test.ndarray.native.js
Labels: Feature, BLAS, C

#3184 feat: add `at` method to `array/fixed-endian-factory`
  lib/node_modules/@stdlib/array/fixed-endian-factory/README.md
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.at.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/lib/main.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/test/test.at.js
Labels: Feature

#3194 docs: add Gunj Joshi as a core contributor
  CORE_CONTRIBUTORS.md
Labels: Documentation, Governance

#3209 chore: use correct `Makefile` and update benchmarks in `math/base/special/csch`
  lib/node_modules/@stdlib/math/base/special/csch/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/csch/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/csch/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/csch/src/Makefile
  lib/node_modules/@stdlib/math/base/special/csch/test/test.js
  lib/node_modules/@stdlib/math/base/special/csch/test/test.native.js
Labels: Math

#3193 feat: add `array/base/mskbinary3d`
  lib/node_modules/@stdlib/array/base/mskbinary3d/README.md
  lib/node_modules/@stdlib/array/base/mskbinary3d/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/mskbinary3d/docs/repl.txt
  lib/node_modules/@stdlib/array/base/mskbinary3d/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/mskbinary3d/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/mskbinary3d/examples/index.js
  lib/node_modules/@stdlib/array/base/mskbinary3d/lib/index.js
  lib/node_modules/@stdlib/array/base/mskbinary3d/lib/main.js
  lib/node_modules/@stdlib/array/base/mskbinary3d/package.json
  lib/node_modules/@stdlib/array/base/mskbinary3d/test/test.js
Labels: Feature

#3212 refactor: update docs and handling of zero stride of `blas/ext/base/dapxsumkbn`
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/lib/dapxsumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/lib/dapxsumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/test/test.dapxsumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/test/test.dapxsumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/test/test.ndarray.native.js
Labels: BLAS

#3213 chore: update docs and tests of `blas/ext/base/dapxsum`
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/lib/dapxsum.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/lib/dapxsum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/test/test.dapxsum.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/test/test.dapxsum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/test/test.ndarray.native.js
Labels: BLAS

#3214 refactor: replace `fabs` with `stdlib_base_abs` in C implementation of `blas/ext/base/dapxsumkbn`
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/src/main.c
Labels: BLAS, C

#3215 docs: fix missing license header for `blas/base/cscal-wasm`
  lib/node_modules/@stdlib/blas/base/cscal-wasm/src/main.wat
Labels: BLAS, Ready To Merge

#3217 refactor: remove unused header, update benchmarks in `math/base/special/croundf`
  lib/node_modules/@stdlib/math/base/special/croundf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/croundf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/croundf/src/main.c
Labels: Math, Ready To Merge

#3218 test: add tests to blas/ext/base/dnannsumkbn
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/test/test.dnannsumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/test/test.dnannsumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/test/test.ndarray.native.js
Labels: Tests, BLAS

#3216 refactor: use `stdlib_base_round` instead of builtin in `math/base/special/cround`
  lib/node_modules/@stdlib/math/base/special/cround/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cround/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cround/manifest.json
  lib/node_modules/@stdlib/math/base/special/cround/src/main.c
Labels: Math

#3197 feat: add C `ndarray` API and refactor `blas/ext/base/dnannsum`
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/include/stdlib/blas/ext/base/dnannsum.h
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/lib/dnannsum.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/test/test.dnannsum.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/test/test.dnannsum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/test/test.ndarray.native.js
Labels: Feature, BLAS, C

#3211 feat: add `wasm` support for `blas/base/cswap-wasm`
  lib/node_modules/@stdlib/blas/base/cswap-wasm/README.md
  lib/node_modules/@stdlib/blas/base/cswap-wasm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/cswap-wasm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/cswap-wasm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/cswap-wasm/examples/index.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/examples/module.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/lib/binary.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/lib/index.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/lib/main.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/lib/module.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/lib/routine.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/manifest.json
  lib/node_modules/@stdlib/blas/base/cswap-wasm/package.json
  lib/node_modules/@stdlib/blas/base/cswap-wasm/scripts/build.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/cswap-wasm/src/Makefile
  lib/node_modules/@stdlib/blas/base/cswap-wasm/src/exports.json
  lib/node_modules/@stdlib/blas/base/cswap-wasm/src/main.wasm
  lib/node_modules/@stdlib/blas/base/cswap-wasm/src/main.wat
  lib/node_modules/@stdlib/blas/base/cswap-wasm/test/test.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/test/test.main.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/test/test.module.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/cswap-wasm/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#2994 feat: add C `ndarray` API and refactor `blas/ext/base/dnannsumpw`
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/include/stdlib/blas/ext/base/dnannsumpw.h
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/lib/dnannsumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/lib/sumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/test/test.dnannsumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/test/test.dnannsumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/test/test.ndarray.native.js
Labels: Feature, BLAS, C

#3200 feat: add `every` method to `array/fixed-endian-factory`
  lib/node_modules/@stdlib/array/fixed-endian-factory/README.md
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.every.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.every.length.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/lib/main.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/test/test.every.js
Labels: Feature

#3163 feat: add `blas/base/ccopy-wasm`
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/README.md
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/examples/index.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/examples/module.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/lib/binary.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/lib/index.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/lib/main.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/lib/module.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/lib/routine.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/manifest.json
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/package.json
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/scripts/build.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/src/Makefile
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/src/exports.json
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/src/main.wasm
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/src/main.wat
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/test/test.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/test/test.main.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/test/test.module.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/ccopy-wasm/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#3203 feat: add `wasm` support for `blas/base/csrot-wasm`
  lib/node_modules/@stdlib/blas/base/csrot-wasm/README.md
  lib/node_modules/@stdlib/blas/base/csrot-wasm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/csrot-wasm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/csrot-wasm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/csrot-wasm/examples/index.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/examples/module.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/lib/binary.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/lib/index.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/lib/main.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/lib/module.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/lib/routine.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/manifest.json
  lib/node_modules/@stdlib/blas/base/csrot-wasm/package.json
  lib/node_modules/@stdlib/blas/base/csrot-wasm/scripts/build.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/csrot-wasm/src/Makefile
  lib/node_modules/@stdlib/blas/base/csrot-wasm/src/exports.json
  lib/node_modules/@stdlib/blas/base/csrot-wasm/src/main.wasm
  lib/node_modules/@stdlib/blas/base/csrot-wasm/src/main.wat
  lib/node_modules/@stdlib/blas/base/csrot-wasm/test/test.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/test/test.main.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/test/test.module.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/csrot-wasm/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#3204 feat: add `blas/ext/base/dapxsumkbn-wasm`
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/examples/module.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/lib/binary.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/lib/module.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/lib/routine.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/package.json
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/scripts/build.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/scripts/template.txt
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/src/Makefile
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/src/exports.json
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/src/main.wasm
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/src/main.wat
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/test/test.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/test/test.module.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn-wasm/test/test.routine.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/manifest.json
Labels: Feature, WebAssembly, BLAS

#3223 docs: add talk featuring stdlib
  docs/assets/talks/jsnation_us_2024_gunj_joshi.png
  docs/talks.md
Labels: Ready To Merge

#2739 feat: add support for custom keybindings and editor actions in the REPL
  lib/node_modules/@stdlib/repl/lib/defaults.js
  lib/node_modules/@stdlib/repl/lib/editor_actions.js
  lib/node_modules/@stdlib/repl/lib/keybindings.js
  lib/node_modules/@stdlib/repl/lib/main.js
  lib/node_modules/@stdlib/repl/lib/match_keybinding.js
  lib/node_modules/@stdlib/repl/lib/parse_key.js
  lib/node_modules/@stdlib/repl/lib/validate.js
  lib/node_modules/@stdlib/repl/lib/validate_keybindings.js
Labels: Feature, REPL, Ready To Merge

#3226 docs: update descriptions of the function and its parameters in `blas/ext/base/dapx`
  lib/node_modules/@stdlib/blas/ext/base/dapx/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapx/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dapx/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dapx/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dapx/lib/dapx.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/lib/dapx.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/src/main.c
Labels: Documentation, BLAS, Ready To Merge

#3227 refactor: update `stride` handling and function documentation for `blas/ext/base/dapxsumkbn2`
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/lib/dapxsumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/lib/dapxsumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/test/test.dapxsumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/test/test.dapxsumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/test/test.ndarray.native.js
Labels: BLAS, Ready To Merge

#3231 refactor: replace built-in with `stdlib_base_atan2` in `math/base/special/cphase`
  lib/node_modules/@stdlib/math/base/special/cphase/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cphase/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cphase/manifest.json
  lib/node_modules/@stdlib/math/base/special/cphase/src/main.c
  lib/node_modules/@stdlib/math/base/special/cphase/test/test.js
  lib/node_modules/@stdlib/math/base/special/cphase/test/test.native.js
Labels: Math, Ready To Merge

#3233 docs: use correct image link for the talk
  docs/talks.md
Labels: Ready To Merge

#3225 feat: add C `ndarray` API and refactor `blas/ext/base/dsapxsum`
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/include/stdlib/blas/ext/base/dsapxsum.h
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/lib/dsapxsum.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/lib/dsapxsum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/src/dsapxsum.c
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/test/test.dsapxsum.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/test/test.dsapxsum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/test/test.ndarray.native.js
Labels: Feature, BLAS, C, Ready To Merge

#3249 docs: fix C lint errors
  lib/node_modules/@stdlib/stats/base/scumax/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/snanmax/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/sstdevch/examples/c/example.c
Labels: Documentation

#3250 docs: remove stray character in `blas/ext/base/dapx` documentation
  lib/node_modules/@stdlib/blas/ext/base/dapx/README.md
Labels: BLAS, Ready To Merge

#3246 feat: add C `ndarray` API and refactor `blas/ext/base/dsnansumors`
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/include/stdlib/blas/ext/base/dsnansumors.h
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/lib/dsnansumors.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/lib/dsnansumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/src/dsnansumors.c
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/test/test.dsnansumors.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/test/test.dsnansumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/test/test.ndarray.native.js
Labels: Feature, BLAS, C, Ready To Merge

#3196 feat: add `array/base/mskbinary4d`
  lib/node_modules/@stdlib/array/base/mskbinary4d/README.md
  lib/node_modules/@stdlib/array/base/mskbinary4d/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/mskbinary4d/docs/repl.txt
  lib/node_modules/@stdlib/array/base/mskbinary4d/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/mskbinary4d/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/mskbinary4d/examples/index.js
  lib/node_modules/@stdlib/array/base/mskbinary4d/lib/index.js
  lib/node_modules/@stdlib/array/base/mskbinary4d/lib/main.js
  lib/node_modules/@stdlib/array/base/mskbinary4d/package.json
  lib/node_modules/@stdlib/array/base/mskbinary4d/test/test.js
Labels: Feature, Utilities

#3198 feat: add `array/base/mskbinary5d`
  lib/node_modules/@stdlib/array/base/mskbinary5d/README.md
  lib/node_modules/@stdlib/array/base/mskbinary5d/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/mskbinary5d/docs/repl.txt
  lib/node_modules/@stdlib/array/base/mskbinary5d/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/mskbinary5d/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/mskbinary5d/examples/index.js
  lib/node_modules/@stdlib/array/base/mskbinary5d/lib/index.js
  lib/node_modules/@stdlib/array/base/mskbinary5d/lib/main.js
  lib/node_modules/@stdlib/array/base/mskbinary5d/package.json
  lib/node_modules/@stdlib/array/base/mskbinary5d/test/test.js
Labels: Feature, Utilities

#3207 feat: add `array/base/mskunary5d`
  lib/node_modules/@stdlib/array/base/mskunary5d/README.md
  lib/node_modules/@stdlib/array/base/mskunary5d/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/mskunary5d/docs/repl.txt
  lib/node_modules/@stdlib/array/base/mskunary5d/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/mskunary5d/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/mskunary5d/examples/index.js
  lib/node_modules/@stdlib/array/base/mskunary5d/lib/index.js
  lib/node_modules/@stdlib/array/base/mskunary5d/lib/main.js
  lib/node_modules/@stdlib/array/base/mskunary5d/package.json
  lib/node_modules/@stdlib/array/base/mskunary5d/test/test.js
Labels: Feature, Utilities

#3255 fix: extract the scalar constant as a float in `blas/ext/base/dsapxsumpw`
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/src/addon.c
Labels: BLAS

#3252 refactor: update `offset` handling and function documentation for `blas/ext/base/dnannsumors`
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/src/main.c
Labels: BLAS

#3228 feat: add `array/base/braodcasted-ternary3d`
  lib/node_modules/@stdlib/array/base/broadcasted-ternary3d/README.md
  lib/node_modules/@stdlib/array/base/broadcasted-ternary3d/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/broadcasted-ternary3d/docs/repl.txt
  lib/node_modules/@stdlib/array/base/broadcasted-ternary3d/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/broadcasted-ternary3d/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/broadcasted-ternary3d/examples/index.js
  lib/node_modules/@stdlib/array/base/broadcasted-ternary3d/lib/index.js
  lib/node_modules/@stdlib/array/base/broadcasted-ternary3d/lib/main.js
  lib/node_modules/@stdlib/array/base/broadcasted-ternary3d/package.json
  lib/node_modules/@stdlib/array/base/broadcasted-ternary3d/test/test.js
Labels: Feature, Utilities

#3208 feat: add `array/base/mskunary4d`
  lib/node_modules/@stdlib/array/base/mskunary4d/README.md
  lib/node_modules/@stdlib/array/base/mskunary4d/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/mskunary4d/docs/repl.txt
  lib/node_modules/@stdlib/array/base/mskunary4d/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/mskunary4d/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/mskunary4d/examples/index.js
  lib/node_modules/@stdlib/array/base/mskunary4d/lib/index.js
  lib/node_modules/@stdlib/array/base/mskunary4d/lib/main.js
  lib/node_modules/@stdlib/array/base/mskunary4d/package.json
  lib/node_modules/@stdlib/array/base/mskunary4d/test/test.js
Labels: Feature, Utilities

#2781 bench: update benchmarks and examples in `math/base/special/ldexp`
  lib/node_modules/@stdlib/math/base/special/ldexp/README.md
  lib/node_modules/@stdlib/math/base/special/ldexp/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/ldexp/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ldexp/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ldexp/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ldexp/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ldexp/benchmark/cpp/benchmark.cpp
  lib/node_modules/@stdlib/math/base/special/ldexp/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/ldexp/manifest.json
Labels: Math, Ready To Merge

#3241 feat: add `some` method to `array/fixed-endian-factory`
  lib/node_modules/@stdlib/array/fixed-endian-factory/README.md
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.some.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.some.length.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/lib/main.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/test/test.some.js
Labels: Feature

#3262 feat: add C `ndarray` API and refactor `blas/ext/base/dsnansumpw`
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/include/stdlib/blas/ext/base/dsnansumpw.h
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/lib/dsnansumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/lib/dsnansumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/test/test.dsnansumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/test/test.dsnansumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/test/test.ndarray.native.js
Labels: Feature, BLAS, C, Ready To Merge

#3273 docs: fix incorrect punctuation in function description for `blas/ext/base/dsnansumpw`
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/include/stdlib/blas/ext/base/dsnansumpw.h
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/src/main.c
Labels: Documentation, BLAS

#3270 feat: add `map` method to `array/fixed-endian-factory`
  lib/node_modules/@stdlib/array/fixed-endian-factory/README.md
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.map.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.map.length.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/lib/main.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/test/test.map.js
Labels: Feature

#3266 test: add tests to `blas/ext/base/dnannsumors`
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/test/test.dnannsumors.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/test/test.dnannsumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/test/test.ndarray.native.js
Labels: Tests, BLAS

#3279 feat: add `indexOf` method to `array/fixed-endian-factory`
  lib/node_modules/@stdlib/array/fixed-endian-factory/README.md
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.index_of.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.index_of.length.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/lib/main.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/test/test.index_of.js
Labels: Feature

#3106 build: do not close tracking issues
  .github/workflows/generate_pr_commit_message.yml
  .github/workflows/scripts/generate_pr_commit_message
Labels: Ready To Merge

#3224 feat: add the `fixer` function to `eslint/rules/vars-order`
  lib/node_modules/@stdlib/_tools/eslint/rules/vars-order/lib/main.js
  lib/node_modules/@stdlib/_tools/eslint/rules/vars-order/test/fixtures/invalid.js
Labels: Feature, Tools, Ready To Merge

#3281 feat: add `lastIndexOf` method to `array/fixed-endian-factory`
  lib/node_modules/@stdlib/array/fixed-endian-factory/README.md
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.last-index-of.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.last-index-of.length.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/lib/main.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/test/test.last-index-of.js
Labels: Ready To Merge

#3287 feat: add `join` method to `array/fixed-endian-factory`
  lib/node_modules/@stdlib/array/fixed-endian-factory/README.md
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.join.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/benchmark/benchmark.join.length.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/lib/main.js
  lib/node_modules/@stdlib/array/fixed-endian-factory/test/test.join.js
Labels: Ready To Merge
