Repository stdlib-js/stdlib, pull requests merged in 2024-09, with the labels that each got.

#2852 feat: add `math/base/special/aversinf`
  lib/node_modules/@stdlib/math/base/special/aversinf/README.md
  lib/node_modules/@stdlib/math/base/special/aversinf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/aversinf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/aversinf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/aversinf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/aversinf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/aversinf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/aversinf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/aversinf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/aversinf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/aversinf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/aversinf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/aversinf/include.gypi
  lib/node_modules/@stdlib/math/base/special/aversinf/include/stdlib/math/base/special/aversinf.h
  lib/node_modules/@stdlib/math/base/special/aversinf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/aversinf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/aversinf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/aversinf/manifest.json
  lib/node_modules/@stdlib/math/base/special/aversinf/package.json
  lib/node_modules/@stdlib/math/base/special/aversinf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/aversinf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/aversinf/src/main.c
  lib/node_modules/@stdlib/math/base/special/aversinf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/aversinf/test/fixtures/julia/data.json
  lib/node_modules/@stdlib/math/base/special/aversinf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/aversinf/test/fixtures/julia/small_positive.json
  lib/node_modules/@stdlib/math/base/special/aversinf/test/test.js
  lib/node_modules/@stdlib/math/base/special/aversinf/test/test.native.js
Labels: Math, Ready To Merge

#2855 refactor: `blas/ext/base/dsnansumpw`
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/lib/dsnansumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/lib/dsnansumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/test/test.dsnansumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/test/test.dsnansumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumpw/test/test.ndarray.native.js
Labels: BLAS, Ready To Merge

#2857 feat: add `math/base/special/acovercosf`
  lib/node_modules/@stdlib/math/base/special/acovercosf/README.md
  lib/node_modules/@stdlib/math/base/special/acovercosf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acovercosf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acovercosf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/acovercosf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acovercosf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/acovercosf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/acovercosf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/acovercosf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/acovercosf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/acovercosf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/acovercosf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/acovercosf/include.gypi
  lib/node_modules/@stdlib/math/base/special/acovercosf/include/stdlib/math/base/special/acovercosf.h
  lib/node_modules/@stdlib/math/base/special/acovercosf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/acovercosf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/acovercosf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/acovercosf/manifest.json
  lib/node_modules/@stdlib/math/base/special/acovercosf/package.json
  lib/node_modules/@stdlib/math/base/special/acovercosf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/acovercosf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/acovercosf/src/main.c
  lib/node_modules/@stdlib/math/base/special/acovercosf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/acovercosf/test/fixtures/julia/data.json
  lib/node_modules/@stdlib/math/base/special/acovercosf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/acovercosf/test/fixtures/julia/small_negative.json
  lib/node_modules/@stdlib/math/base/special/acovercosf/test/test.js
  lib/node_modules/@stdlib/math/base/special/acovercosf/test/test.native.js
Labels: Math, Ready To Merge

#2851 feat: add `math/base/assert/is-nonnegative-integerf`
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/README.md
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/binding.gyp
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/examples/index.js
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/include.gypi
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/include/stdlib/math/base/assert/is_nonnegative_integerf.h
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/lib/index.js
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/lib/main.js
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/lib/native.js
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/manifest.json
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/package.json
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/src/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/src/addon.c
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/src/main.c
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/test/test.native.js
Labels: Math, Ready To Merge

#2804 refactor: update `blas/ext/base/dsnannsumors`
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/package.json
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/test/test.dsnannsumors.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/test/test.dsnannsumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnannsumors/test/test.ndarray.native.js
Labels: BLAS, Ready To Merge

#2862 refactor: update implementation for `blas/ext/base/sapxsumors`
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/lib/sapxsumors.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/lib/sapxsumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/test/test.sapxsumors.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/test/test.sapxsumors.native.js
Labels: BLAS, Ready To Merge

#2863 refactor: update implementation for `blas/ext/base/sdsnansumpw`
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/lib/sdsnansumpw.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/lib/sdsnansumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/test/test.sdsnansumpw.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/test/test.sdsnansumpw.native.js
Labels: BLAS, Ready To Merge

#2860 feat: add `math/base/special/acoversinf`
  lib/node_modules/@stdlib/math/base/special/acoversinf/README.md
  lib/node_modules/@stdlib/math/base/special/acoversinf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acoversinf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acoversinf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/acoversinf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acoversinf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/acoversinf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/acoversinf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/acoversinf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/acoversinf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/acoversinf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/acoversinf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/acoversinf/include.gypi
  lib/node_modules/@stdlib/math/base/special/acoversinf/include/stdlib/math/base/special/acoversinf.h
  lib/node_modules/@stdlib/math/base/special/acoversinf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/acoversinf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/acoversinf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/acoversinf/manifest.json
  lib/node_modules/@stdlib/math/base/special/acoversinf/package.json
  lib/node_modules/@stdlib/math/base/special/acoversinf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/acoversinf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/acoversinf/src/main.c
  lib/node_modules/@stdlib/math/base/special/acoversinf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/acoversinf/test/fixtures/julia/data.json
  lib/node_modules/@stdlib/math/base/special/acoversinf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/acoversinf/test/fixtures/julia/small_positive.json
  lib/node_modules/@stdlib/math/base/special/acoversinf/test/test.js
  lib/node_modules/@stdlib/math/base/special/acoversinf/test/test.native.js
Labels: Math, Ready To Merge

#2869 style: remove empty line in `math/base/special/xlogyf`
  lib/node_modules/@stdlib/math/base/special/xlogyf/lib/native.js
Labels: Math

#2872 style: use spaces correctly in `math/base/special/wrap`
  lib/node_modules/@stdlib/math/base/special/wrap/src/main.c
Labels: Math

#2870 docs: update function descriptions, style fixes in `math/base/special/atandf`
  lib/node_modules/@stdlib/math/base/special/atandf/README.md
  lib/node_modules/@stdlib/math/base/special/atandf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/atandf/package.json
  lib/node_modules/@stdlib/math/base/special/atandf/src/main.c
  lib/node_modules/@stdlib/math/base/special/atandf/test/fixtures/julia/REQUIRE
Labels: Math

#2873 docs: update examples in `math/base/special/minabsf`
  lib/node_modules/@stdlib/math/base/special/minabsf/README.md
  lib/node_modules/@stdlib/math/base/special/minabsf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/minabsf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/minabsf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/minabsf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/minabsf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/minabsf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/minabsf/src/main.c
Labels: Math

#2864 test: update exact equality, rather than approximate equality for `blas` level 2
  lib/node_modules/@stdlib/blas/base/dgemv/test/test.dgemv.js
  lib/node_modules/@stdlib/blas/base/dgemv/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/dsyr/test/test.dsyr.js
  lib/node_modules/@stdlib/blas/base/dsyr/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/dsyr2/test/test.dsyr2.js
  lib/node_modules/@stdlib/blas/base/dsyr2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/dtrmv/test/test.dtrmv.js
  lib/node_modules/@stdlib/blas/base/dtrmv/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/dtrsv/test/test.dtrsv.js
  lib/node_modules/@stdlib/blas/base/dtrsv/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/sgemv/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/sgemv/test/test.sgemv.js
  lib/node_modules/@stdlib/blas/base/ssyr/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/ssyr/test/test.ssyr.js
  lib/node_modules/@stdlib/blas/base/ssyr2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/ssyr2/test/test.ssyr2.js
  lib/node_modules/@stdlib/blas/base/strmv/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/strmv/test/test.strmv.js
  lib/node_modules/@stdlib/blas/base/strsv/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/strsv/test/test.strsv.js
Labels: Tests, BLAS

#2874 docs: fix line wrapping and description in `math/base/special/avercosf`
  lib/node_modules/@stdlib/math/base/special/avercosf/docs/repl.txt
Labels: Math

#2867 style: use correct heading, style fixes in `math/base/special/acoversinf`
  lib/node_modules/@stdlib/math/base/special/acoversinf/README.md
  lib/node_modules/@stdlib/math/base/special/acoversinf/docs/repl.txt
Labels: Math

#2865 docs: update examples and fix whitespace
  lib/node_modules/@stdlib/math/base/special/logf/README.md
  lib/node_modules/@stdlib/math/base/special/logf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/logf/src/main.c
Labels: Math

#2875 docs: update examples in `math/base/special/maxabsf`
  lib/node_modules/@stdlib/math/base/special/maxabsf/README.md
  lib/node_modules/@stdlib/math/base/special/maxabsf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/maxabsf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/maxabsf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/maxabsf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/maxabsf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/maxabsf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/maxabsf/src/main.c
Labels: Math

#2878 docs: remove `f` from equations, remove whitespace, fix line wrapping in `math/base/special/acovercosf`
  lib/node_modules/@stdlib/math/base/special/acovercosf/README.md
  lib/node_modules/@stdlib/math/base/special/acovercosf/docs/repl.txt
Labels: Math

#2876 docs: use operation name and style fixes in `math/base/special/aversinf`
  lib/node_modules/@stdlib/math/base/special/aversinf/README.md
  lib/node_modules/@stdlib/math/base/special/aversinf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/aversinf/src/main.c
Labels: Math

#2881 docs: include `stdbool`, remove backticks in `math/base/assert/is-nonnegative-integer`
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integer/README.md
Labels: Math

#2879 docs: include `stdbool`, remove backticks in `math/base/assert/is-nonnegative-integerf`
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/README.md
Labels: Math

#2021 docs: update examples of `array/base`
  lib/node_modules/@stdlib/array/base/README.md
  lib/node_modules/@stdlib/array/base/examples/index.js
Labels: Ready To Merge

#1952 docs: improve example code of `stats/base/dists/triangular` namespace
  lib/node_modules/@stdlib/stats/base/dists/triangular/README.md
  lib/node_modules/@stdlib/stats/base/dists/triangular/examples/index.js
Labels: Documentation, Ready To Merge

#1403 test: add missing tests to `utils/circular-buffer`
  lib/node_modules/@stdlib/utils/circular-buffer/docs/types/test.ts
Labels: Tests, TypeScript, Needs Changes

#1965 docs: improve examples of `random/array` namespace
  lib/node_modules/@stdlib/random/array/README.md
  lib/node_modules/@stdlib/random/array/examples/index.js
Labels: Ready To Merge

#2817 feat: add `ndarray/base/fill`
  lib/node_modules/@stdlib/ndarray/base/fill/README.md
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.10d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.10d_columnmajor_accessors.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.10d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.10d_rowmajor_accessors.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.1d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.1d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.2d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.2d_columnmajor_accessors.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.2d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.2d_rowmajor_accessors.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.3d_colummajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.3d_columnmajor_accessors.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.3d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.3d_rowmajor_accessors.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.4d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.4d_columnmajor_accessors.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.4d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.4d_rowmajor_accessors.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.5d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.5d_columnmajor_accessors.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.5d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.5d_rowmajor_accessors.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.6d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.6d_columnmajor_accessors.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.6d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.6d_rowmajor_accessors.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.7d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.7d_columnmajor_accessors.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.7d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.7d_rowmajor_accessors.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.8d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.8d_columnmajor_accessors.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.8d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.8d_rowmajor_accessors.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.9d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.9d_columnmajor_accessors.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.9d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/fill/benchmark/benchmark.9d_rowmajor_accessors.js
  lib/node_modules/@stdlib/ndarray/base/fill/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/base/fill/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/base/fill/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/base/fill/examples/index.js
  lib/node_modules/@stdlib/ndarray/base/fill/lib/index.js
  lib/node_modules/@stdlib/ndarray/base/fill/lib/main.js
  lib/node_modules/@stdlib/ndarray/base/fill/package.json
  lib/node_modules/@stdlib/ndarray/base/fill/test/test.js
Labels: Feature

#2883 fix: update completer to correctly generate completions for member expressions in the REPL
  lib/node_modules/@stdlib/repl/lib/regexp_reserved_syntax_characters.js
Labels: REPL

#2810 test: add tests to `ndarray/base/map`
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.10d_blocked_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.10d_blocked_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.10d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.10d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.11d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.11d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.1d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.1d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.2d_blocked_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.2d_blocked_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.2d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.2d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.2d_rowmajor_accessors.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.2d_rowmajor_accessors_complex.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.3d_blocked_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.3d_blocked_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.3d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.3d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.4d_blocked_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.4d_blocked_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.4d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.4d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.5d_blocked_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.5d_blocked_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.5d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.5d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.6d_blocked_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.6d_blocked_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.6d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.6d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.7d_blocked_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.7d_blocked_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.7d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.7d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.8d_blocked_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.8d_blocked_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.8d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.8d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.9d_blocked_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.9d_blocked_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.9d_columnmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/benchmark/benchmark.9d_rowmajor.js
  lib/node_modules/@stdlib/ndarray/base/map/test/test.0d.js
  lib/node_modules/@stdlib/ndarray/base/map/test/test.10d.js
  lib/node_modules/@stdlib/ndarray/base/map/test/test.1d.js
  lib/node_modules/@stdlib/ndarray/base/map/test/test.2d.js
  lib/node_modules/@stdlib/ndarray/base/map/test/test.3d.js
  lib/node_modules/@stdlib/ndarray/base/map/test/test.4d.js
  lib/node_modules/@stdlib/ndarray/base/map/test/test.5d.js
  lib/node_modules/@stdlib/ndarray/base/map/test/test.6d.js
  lib/node_modules/@stdlib/ndarray/base/map/test/test.7d.js
  lib/node_modules/@stdlib/ndarray/base/map/test/test.8d.js
  lib/node_modules/@stdlib/ndarray/base/map/test/test.9d.js
  lib/node_modules/@stdlib/ndarray/base/map/test/test.js
  lib/node_modules/@stdlib/ndarray/base/map/test/test.nd.js
Labels: Tests

#2900 fix: add the missing `.ndarray` to `blas/base/cscal` tests for argument validation
  lib/node_modules/@stdlib/blas/base/cscal/docs/types/test.ts
Labels: Tests, BLAS, TypeScript

#2901 feat: add `blas/ext/base/cfill`
  lib/node_modules/@stdlib/blas/ext/base/cfill/README.md
  lib/node_modules/@stdlib/blas/ext/base/cfill/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/ext/base/cfill/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/cfill/binding.gyp
  lib/node_modules/@stdlib/blas/ext/base/cfill/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/cfill/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/cfill/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/cfill/examples/c/Makefile
  lib/node_modules/@stdlib/blas/ext/base/cfill/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/cfill/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/cfill/include/stdlib/blas/ext/base/cfill.h
  lib/node_modules/@stdlib/blas/ext/base/cfill/lib/cfill.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/lib/cfill.native.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/lib/native.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/cfill/package.json
  lib/node_modules/@stdlib/blas/ext/base/cfill/src/Makefile
  lib/node_modules/@stdlib/blas/ext/base/cfill/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/cfill/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/cfill/test/test.cfill.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/test/test.cfill.native.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/test/test.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/test/test.ndarray.native.js
Labels: Feature, BLAS

#2889 feat: add `constants/float64/num-high-word-significand-bits`
  lib/node_modules/@stdlib/constants/float64/num-high-word-significand-bits/README.md
  lib/node_modules/@stdlib/constants/float64/num-high-word-significand-bits/docs/repl.txt
  lib/node_modules/@stdlib/constants/float64/num-high-word-significand-bits/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float64/num-high-word-significand-bits/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float64/num-high-word-significand-bits/examples/index.js
  lib/node_modules/@stdlib/constants/float64/num-high-word-significand-bits/include/stdlib/constants/float64/num_high_word_significand_bits.h
  lib/node_modules/@stdlib/constants/float64/num-high-word-significand-bits/lib/index.js
  lib/node_modules/@stdlib/constants/float64/num-high-word-significand-bits/manifest.json
  lib/node_modules/@stdlib/constants/float64/num-high-word-significand-bits/package.json
  lib/node_modules/@stdlib/constants/float64/num-high-word-significand-bits/test/test.js
Labels: Feature

#2904 feat: add `constants/float32/max-safe-fibonacci`
  lib/node_modules/@stdlib/constants/float32/max-safe-fibonacci/README.md
  lib/node_modules/@stdlib/constants/float32/max-safe-fibonacci/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/max-safe-fibonacci/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/max-safe-fibonacci/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/max-safe-fibonacci/examples/index.js
  lib/node_modules/@stdlib/constants/float32/max-safe-fibonacci/include/stdlib/constants/float32/max_safe_fibonacci.h
  lib/node_modules/@stdlib/constants/float32/max-safe-fibonacci/lib/index.js
  lib/node_modules/@stdlib/constants/float32/max-safe-fibonacci/manifest.json
  lib/node_modules/@stdlib/constants/float32/max-safe-fibonacci/package.json
  lib/node_modules/@stdlib/constants/float32/max-safe-fibonacci/test/test.js
Labels: Feature

#2903 feat: add `I_F` in `math/base/napi/unary`
  lib/node_modules/@stdlib/math/base/napi/unary/README.md
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary.h
  lib/node_modules/@stdlib/math/base/napi/unary/src/main.c
Labels: Feature, Math, C

#2893 chore: add structured package data for `math/base/special/exp`
  lib/node_modules/@stdlib/math/base/special/exp/package.json
Labels: Math

#2835 feat: add `array/base/cunone-by` package
  lib/node_modules/@stdlib/array/base/cunone-by/README.md
  lib/node_modules/@stdlib/array/base/cunone-by/benchmark/benchmark.assign.length.js
  lib/node_modules/@stdlib/array/base/cunone-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/cunone-by/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/array/base/cunone-by/docs/repl.txt
  lib/node_modules/@stdlib/array/base/cunone-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/cunone-by/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/cunone-by/examples/index.js
  lib/node_modules/@stdlib/array/base/cunone-by/lib/assign.js
  lib/node_modules/@stdlib/array/base/cunone-by/lib/index.js
  lib/node_modules/@stdlib/array/base/cunone-by/lib/main.js
  lib/node_modules/@stdlib/array/base/cunone-by/package.json
  lib/node_modules/@stdlib/array/base/cunone-by/test/test.assign.js
  lib/node_modules/@stdlib/array/base/cunone-by/test/test.js
  lib/node_modules/@stdlib/array/base/cunone-by/test/test.main.js
Labels: Needs Review

#2908 docs: update `resolve-parent-paths` examples
  lib/node_modules/@stdlib/fs/resolve-parent-paths/README.md
  lib/node_modules/@stdlib/fs/resolve-parent-paths/examples/index.js
Labels: Documentation

#2911 bench: remove `f` suffix in C benchmark in `math/base/special/erfcx`
  lib/node_modules/@stdlib/math/base/special/erfcx/benchmark/c/native/benchmark.c
Labels: Math, Benchmarks, C

#2909 chore: add structured package data for `math/base/special/cbrt`
  lib/node_modules/@stdlib/math/base/special/cbrt/package.json
Labels: Math

#2912 chore: add structured package data for `math/base/special/pow`
  lib/node_modules/@stdlib/math/base/special/pow/package.json
Labels: Math

#2914 docs: update descriptions and add structured package data for `math/base/special/gcd`
  lib/node_modules/@stdlib/math/base/special/gcd/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/gcd/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/gcd/lib/binary_gcd.js
  lib/node_modules/@stdlib/math/base/special/gcd/lib/bitwise_binary_gcd.js
  lib/node_modules/@stdlib/math/base/special/gcd/lib/main.js
  lib/node_modules/@stdlib/math/base/special/gcd/lib/native.js
  lib/node_modules/@stdlib/math/base/special/gcd/package.json
  lib/node_modules/@stdlib/math/base/special/gcd/src/main.c
Labels: Math

#2923 feat: add C `ndarray` API to `blas/ext/base/sfill`
  lib/node_modules/@stdlib/blas/ext/base/sfill/README.md
  lib/node_modules/@stdlib/blas/ext/base/sfill/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/sfill/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sfill/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/sfill/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/sfill/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/include/stdlib/blas/ext/base/sfill.h
  lib/node_modules/@stdlib/blas/ext/base/sfill/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/lib/sfill.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/lib/sfill.native.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sfill/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sfill/src/main.c
Labels: Feature, BLAS, C

#2925 feat: add C `ndarray` API to `blas/ext/base/cfill`
  lib/node_modules/@stdlib/blas/ext/base/cfill/README.md
  lib/node_modules/@stdlib/blas/ext/base/cfill/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/cfill/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/cfill/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/cfill/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/cfill/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/include/stdlib/blas/ext/base/cfill.h
  lib/node_modules/@stdlib/blas/ext/base/cfill/lib/cfill.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/lib/cfill.native.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/cfill/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/cfill/src/main.c
Labels: Feature, BLAS, C

#2924 feat: update JavaScript implementation and add C `ndarray` API for `blas/base/snrm2`
  lib/node_modules/@stdlib/blas/base/snrm2/README.md
  lib/node_modules/@stdlib/blas/base/snrm2/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/snrm2/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/snrm2/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/snrm2/include/stdlib/blas/base/snrm2.h
  lib/node_modules/@stdlib/blas/base/snrm2/include/stdlib/blas/base/snrm2_cblas.h
  lib/node_modules/@stdlib/blas/base/snrm2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/snrm2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/snrm2/lib/snrm2.js
  lib/node_modules/@stdlib/blas/base/snrm2/lib/snrm2.native.js
  lib/node_modules/@stdlib/blas/base/snrm2/manifest.json
  lib/node_modules/@stdlib/blas/base/snrm2/src/addon.c
  lib/node_modules/@stdlib/blas/base/snrm2/src/snrm2.c
  lib/node_modules/@stdlib/blas/base/snrm2/src/snrm2.f
  lib/node_modules/@stdlib/blas/base/snrm2/src/snrm2_cblas.c
  lib/node_modules/@stdlib/blas/base/snrm2/src/snrm2_f.c
  lib/node_modules/@stdlib/blas/base/snrm2/src/snrm2_ndarray.c
  lib/node_modules/@stdlib/blas/base/snrm2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/snrm2/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/snrm2/test/test.snrm2.js
  lib/node_modules/@stdlib/blas/base/snrm2/test/test.snrm2.native.js
Labels: Feature, BLAS, C

#2917 refactor: update `blas/ext/base/ssortins` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/ssortins/README.md
  lib/node_modules/@stdlib/blas/ext/base/ssortins/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/ssortins/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/ssortins/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/ssortins/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/ssortins/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssortins/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/ssortins/package.json
  lib/node_modules/@stdlib/blas/ext/base/ssortins/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/ssortins/src/addon.cpp
Labels: BLAS

#2928 feat: add C `ndarray` implementation for `blas/base/srotm`
  lib/node_modules/@stdlib/blas/base/srotm/README.md
  lib/node_modules/@stdlib/blas/base/srotm/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/srotm/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/srotm/include/stdlib/blas/base/srotm.h
  lib/node_modules/@stdlib/blas/base/srotm/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/srotm/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/srotm/lib/srotm.js
  lib/node_modules/@stdlib/blas/base/srotm/manifest.json
  lib/node_modules/@stdlib/blas/base/srotm/src/addon.c
  lib/node_modules/@stdlib/blas/base/srotm/src/srotm.c
  lib/node_modules/@stdlib/blas/base/srotm/src/srotm_cblas.c
  lib/node_modules/@stdlib/blas/base/srotm/src/srotm_f.c
  lib/node_modules/@stdlib/blas/base/srotm/src/srotm_ndarray.c
Labels: Feature, BLAS, C

#2929 feat: add C `ndarray` API and code refactor to `blas/ext/base/dapx`
  lib/node_modules/@stdlib/blas/ext/base/dapx/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapx/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dapx/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dapx/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dapx/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dapx/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/include/stdlib/blas/ext/base/dapx.h
  lib/node_modules/@stdlib/blas/ext/base/dapx/lib/dapx.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/lib/dapx.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dapx/package.json
  lib/node_modules/@stdlib/blas/ext/base/dapx/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dapx/src/dapx.c
  lib/node_modules/@stdlib/blas/ext/base/dapx/src/main.c
Labels: Feature, BLAS, C

#2140 docs: improve examples of `stats/base/dists/gumbel`
  lib/node_modules/@stdlib/stats/base/dists/gumbel/README.md
  lib/node_modules/@stdlib/stats/base/dists/gumbel/examples/index.js
Labels: Needs Changes

#2935 feat: add C `ndarray` implementation for `blas/base/drotm`
  lib/node_modules/@stdlib/blas/base/drotm/README.md
  lib/node_modules/@stdlib/blas/base/drotm/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/drotm/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/drotm/include/stdlib/blas/base/drotm.h
  lib/node_modules/@stdlib/blas/base/drotm/lib/drotm.js
  lib/node_modules/@stdlib/blas/base/drotm/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/drotm/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/drotm/manifest.json
  lib/node_modules/@stdlib/blas/base/drotm/src/addon.c
  lib/node_modules/@stdlib/blas/base/drotm/src/drotm.c
  lib/node_modules/@stdlib/blas/base/drotm/src/drotm_cblas.c
  lib/node_modules/@stdlib/blas/base/drotm/src/drotm_f.c
  lib/node_modules/@stdlib/blas/base/drotm/src/drotm_ndarray.c
Labels: Feature, BLAS, C

#2941 feat: refactor JavaScript implementation and add C `ndarray` implementation for `blas/base/dnrm2`
  lib/node_modules/@stdlib/blas/base/dnrm2/README.md
  lib/node_modules/@stdlib/blas/base/dnrm2/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/dnrm2/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/dnrm2/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/dnrm2/include/stdlib/blas/base/dnrm2.h
  lib/node_modules/@stdlib/blas/base/dnrm2/lib/dnrm2.js
  lib/node_modules/@stdlib/blas/base/dnrm2/lib/dnrm2.native.js
  lib/node_modules/@stdlib/blas/base/dnrm2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/dnrm2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/dnrm2/manifest.json
  lib/node_modules/@stdlib/blas/base/dnrm2/src/addon.c
  lib/node_modules/@stdlib/blas/base/dnrm2/src/dnrm2.c
  lib/node_modules/@stdlib/blas/base/dnrm2/src/dnrm2.f
  lib/node_modules/@stdlib/blas/base/dnrm2/src/dnrm2_cblas.c
  lib/node_modules/@stdlib/blas/base/dnrm2/src/dnrm2_f.c
  lib/node_modules/@stdlib/blas/base/dnrm2/src/dnrm2_ndarray.c
  lib/node_modules/@stdlib/blas/base/dnrm2/test/test.dnrm2.js
  lib/node_modules/@stdlib/blas/base/dnrm2/test/test.dnrm2.native.js
  lib/node_modules/@stdlib/blas/base/dnrm2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/dnrm2/test/test.ndarray.native.js
Labels: Feature, BLAS, C

#2930 feat: add C `ndarray` API and code refactor to `blas/ext/base/dapxsumkbn`
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/include/stdlib/blas/ext/base/dapxsumkbn.h
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/lib/dapxsumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/lib/dapxsumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/src/main.c
Labels: Feature, BLAS, C

#2934 feat: add C `ndarray` API and code refactor to `blas/ext/base/dapxsumors`
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/include/stdlib/blas/ext/base/dapxsumors.h
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/lib/dapxsumors.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/lib/dapxsumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/package.json
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/src/dapxsumors.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/src/main.c
Labels: Feature, BLAS, C

#2937 feat: add C `ndarray` API and code refactor to `blas/ext/base/dapxsumpw`
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/include/stdlib/blas/ext/base/dapxsumpw.h
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/lib/dapxsumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/lib/dapxsumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/package.json
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/src/dapxsumpw.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/src/main.c
Labels: Feature, BLAS, C

#2943 fix: update C function names in `blas/ext/base/cfill` to prevent name collisions
  lib/node_modules/@stdlib/blas/ext/base/cfill/README.md
  lib/node_modules/@stdlib/blas/ext/base/cfill/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/cfill/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/cfill/include/stdlib/blas/ext/base/cfill.h
  lib/node_modules/@stdlib/blas/ext/base/cfill/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/cfill/src/main.c
Labels: BLAS

#2944 fix: update C function names in `blas/ext/base/dfill` to prevent name collisions
  lib/node_modules/@stdlib/blas/ext/base/dfill/README.md
  lib/node_modules/@stdlib/blas/ext/base/dfill/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dfill/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dfill/include/stdlib/blas/ext/base/dfill.h
  lib/node_modules/@stdlib/blas/ext/base/dfill/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dfill/src/main.c
Labels: BLAS

#2945 fix: update C function names in `blas/ext/base/sfill` to prevent name collisions
  lib/node_modules/@stdlib/blas/ext/base/sfill/README.md
  lib/node_modules/@stdlib/blas/ext/base/sfill/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/sfill/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/sfill/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/include/stdlib/blas/ext/base/sfill.h
  lib/node_modules/@stdlib/blas/ext/base/sfill/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sfill/src/main.c
Labels: BLAS

#2818 feat: add `array/base/cuany-by`
  lib/node_modules/@stdlib/array/base/cuany-by/README.md
  lib/node_modules/@stdlib/array/base/cuany-by/benchmark/benchmark.assign.length.js
  lib/node_modules/@stdlib/array/base/cuany-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/cuany-by/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/array/base/cuany-by/docs/repl.txt
  lib/node_modules/@stdlib/array/base/cuany-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/cuany-by/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/cuany-by/examples/index.js
  lib/node_modules/@stdlib/array/base/cuany-by/lib/assign.js
  lib/node_modules/@stdlib/array/base/cuany-by/lib/index.js
  lib/node_modules/@stdlib/array/base/cuany-by/lib/main.js
  lib/node_modules/@stdlib/array/base/cuany-by/package.json
  lib/node_modules/@stdlib/array/base/cuany-by/test/test.assign.js
  lib/node_modules/@stdlib/array/base/cuany-by/test/test.js
  lib/node_modules/@stdlib/array/base/cuany-by/test/test.main.js
Labels: Ready To Merge

#2946 feat: add C `ndarray` API and code refactor to `blas/ext/base/dapxsum`
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/include/stdlib/blas/ext/base/dapxsum.h
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/lib/dapxsum.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/lib/dapxsum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/package.json
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/src/dapxsum.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/src/main.c
Labels: Feature, BLAS, C

#2667 feat: add `array/base/cuany-by-right`
  lib/node_modules/@stdlib/array/base/cuany-by-right/README.md
  lib/node_modules/@stdlib/array/base/cuany-by-right/benchmark/benchmark.assign.length.js
  lib/node_modules/@stdlib/array/base/cuany-by-right/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/cuany-by-right/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/array/base/cuany-by-right/docs/repl.txt
  lib/node_modules/@stdlib/array/base/cuany-by-right/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/cuany-by-right/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/cuany-by-right/examples/index.js
  lib/node_modules/@stdlib/array/base/cuany-by-right/lib/assign.js
  lib/node_modules/@stdlib/array/base/cuany-by-right/lib/index.js
  lib/node_modules/@stdlib/array/base/cuany-by-right/lib/main.js
  lib/node_modules/@stdlib/array/base/cuany-by-right/package.json
  lib/node_modules/@stdlib/array/base/cuany-by-right/test/test.assign.js
  lib/node_modules/@stdlib/array/base/cuany-by-right/test/test.js
  lib/node_modules/@stdlib/array/base/cuany-by-right/test/test.main.js
Labels: Feature, Ready To Merge

#2948 feat: add C `ndarray` API and refactor `blas/ext/base/dapxsumkbn2`
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/include/stdlib/blas/ext/base/dapxsumkbn2.h
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/lib/dapxsumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/lib/dapxsumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/package.json
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/src/dapxsumkbn2.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/src/main.c
Labels: Feature, BLAS, C

#2949 feat: add C `ndarray` API and refactor `blas/ext/base/dasumpw`
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/include/stdlib/blas/ext/base/dasumpw.h
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/lib/dasumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/lib/dasumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/src/dasumpw.c
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/src/main.c
Labels: Feature, BLAS, C

#2951 feat: add C `ndarray` API and refactor `blas/ext/base/dcusumkbn`
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/include/stdlib/blas/ext/base/dcusumkbn.h
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/lib/dcusumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/src/dcusumkbn.c
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/src/main.c
Labels: Feature, BLAS, C

#2953 feat: add `array/base/cusome-by`
  lib/node_modules/@stdlib/array/base/cusome-by/README.md
  lib/node_modules/@stdlib/array/base/cusome-by/benchmark/benchmark.assign.length.js
  lib/node_modules/@stdlib/array/base/cusome-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/cusome-by/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/array/base/cusome-by/docs/repl.txt
  lib/node_modules/@stdlib/array/base/cusome-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/cusome-by/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/cusome-by/examples/index.js
  lib/node_modules/@stdlib/array/base/cusome-by/lib/assign.js
  lib/node_modules/@stdlib/array/base/cusome-by/lib/index.js
  lib/node_modules/@stdlib/array/base/cusome-by/lib/main.js
  lib/node_modules/@stdlib/array/base/cusome-by/package.json
  lib/node_modules/@stdlib/array/base/cusome-by/test/test.assign.js
  lib/node_modules/@stdlib/array/base/cusome-by/test/test.js
  lib/node_modules/@stdlib/array/base/cusome-by/test/test.main.js
Labels: Ready To Merge

#2802 feat: add `array/base/cuevery-by-right`
  lib/node_modules/@stdlib/array/base/cuevery-by-right/README.md
  lib/node_modules/@stdlib/array/base/cuevery-by-right/benchmark/benchmark.assign.length.js
  lib/node_modules/@stdlib/array/base/cuevery-by-right/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/cuevery-by-right/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/array/base/cuevery-by-right/docs/repl.txt
  lib/node_modules/@stdlib/array/base/cuevery-by-right/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/cuevery-by-right/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/cuevery-by-right/examples/index.js
  lib/node_modules/@stdlib/array/base/cuevery-by-right/lib/assign.js
  lib/node_modules/@stdlib/array/base/cuevery-by-right/lib/index.js
  lib/node_modules/@stdlib/array/base/cuevery-by-right/lib/main.js
  lib/node_modules/@stdlib/array/base/cuevery-by-right/package.json
  lib/node_modules/@stdlib/array/base/cuevery-by-right/test/test.assign.js
  lib/node_modules/@stdlib/array/base/cuevery-by-right/test/test.js
  lib/node_modules/@stdlib/array/base/cuevery-by-right/test/test.main.js
Labels: Feature, Utilities, Ready To Merge

#2958 feat: add C `ndarray` API and refactor `blas/ext/base/dcusumkbn2`
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/include/stdlib/blas/ext/base/dcusumkbn2.h
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/lib/dcusumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/src/main.c
Labels: Feature, BLAS, C

#2954 feat: add C `ndarray` API and refactor `blas/ext/base/dcusum`
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dcusum/README.md
  lib/node_modules/@stdlib/blas/ext/base/dcusum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dcusum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dcusum/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dcusum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/include/stdlib/blas/ext/base/dcusum.h
  lib/node_modules/@stdlib/blas/ext/base/dcusum/lib/dcusum.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dcusum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dcusum/src/dcusum.c
  lib/node_modules/@stdlib/blas/ext/base/dcusum/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/examples/c/example.c
Labels: Feature, BLAS, C

#2956 feat: add `blas/base/saxpy-wasm`
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/README.md
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/examples/index.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/examples/module.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/lib/binary.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/lib/index.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/lib/main.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/lib/module.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/lib/routine.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/manifest.json
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/package.json
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/scripts/build.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/src/Makefile
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/src/main.wasm
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/src/main.wat
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/test/test.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/test/test.main.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/test/test.module.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/saxpy-wasm/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#2959 feat: add `blas/base/dcopy-wasm`
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/README.md
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/examples/index.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/examples/little_endian_array.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/examples/module.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/lib/binary.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/lib/index.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/lib/main.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/lib/module.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/lib/routine.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/manifest.json
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/package.json
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/scripts/build.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/src/Makefile
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/src/main.wasm
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/src/main.wat
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/test/test.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/test/test.main.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/test/test.module.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/dcopy-wasm/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#2957 refactor: updated `blas/ext/base/ssort2sh` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/ssort2sh/README.md
  lib/node_modules/@stdlib/blas/ext/base/ssort2sh/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/ssort2sh/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/ssort2sh/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/ssort2sh/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/ssort2sh/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/ssort2sh/package.json
  lib/node_modules/@stdlib/blas/ext/base/ssort2sh/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/ssort2sh/src/addon.cpp
Labels: BLAS, Ready To Merge

#2960 refactor: update `blas/ext/base/ssort2hp` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/ssort2hp/README.md
  lib/node_modules/@stdlib/blas/ext/base/ssort2hp/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/ssort2hp/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/ssort2hp/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/ssort2hp/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/ssort2hp/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/ssort2hp/package.json
  lib/node_modules/@stdlib/blas/ext/base/ssort2hp/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/ssort2hp/src/addon.cpp
Labels: BLAS, Ready To Merge

#2961 refactor: update `blas/ext/base/dsort2ins` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dsort2ins/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsort2ins/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsort2ins/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dsort2ins/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsort2ins/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dsort2ins/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsort2ins/package.json
  lib/node_modules/@stdlib/blas/ext/base/dsort2ins/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsort2ins/src/addon.cpp
Labels: BLAS, Ready To Merge
