Repository stdlib-js/stdlib, pull requests merged in 2024-06, with the labels that each got.

#2290 fix: resolve clashes between syntax-highlighter & auto-closer in the REPL
  lib/node_modules/@stdlib/repl/lib/syntax_highlighter.js
Labels: REPL

#2283 docs: update `repl.txt` for `array/uint8`, `array/uint8c`, `array/uint16` and `array/uint32`
  lib/node_modules/@stdlib/array/uint16/docs/repl.txt
  lib/node_modules/@stdlib/array/uint32/docs/repl.txt
  lib/node_modules/@stdlib/array/uint8/docs/repl.txt
  lib/node_modules/@stdlib/array/uint8c/docs/repl.txt
Labels: Documentation

#2282 docs: update `repl.txt` for `array/int8`, `array/int16` and `array/int32`
  lib/node_modules/@stdlib/array/int16/docs/repl.txt
  lib/node_modules/@stdlib/array/int32/docs/repl.txt
  lib/node_modules/@stdlib/array/int8/docs/repl.txt
Labels: Documentation

#2281 docs: update `repl.txt` for `array/float32` and `array/float64`
  lib/node_modules/@stdlib/array/float32/docs/repl.txt
  lib/node_modules/@stdlib/array/float64/docs/repl.txt
Labels: Documentation

#2280 docs: added `repl.txt` to `array/complex128`
  lib/node_modules/@stdlib/array/complex128/docs/repl.txt
Labels: Documentation

#2294 refactor: use signed integers for `math/base/special/log10`, as per `FreeBSD`
  lib/node_modules/@stdlib/math/base/special/log10/src/main.c
Labels: Math, C

#2295 refactor: use signed integers for `math/base/special/log2`, as per `FreeBSD`
  lib/node_modules/@stdlib/math/base/special/log2/src/main.c
Labels: Math, C

#2296 docs: style corrections for `math/base/special/lcm`
  lib/node_modules/@stdlib/math/base/special/lcm/src/main.c
Labels: Math

#1289 build: add tooling for changelog generation
  .github/workflows/standalone_publish.yml
  .github/workflows/standalone_publish_custom.yml
  lib/node_modules/@stdlib/_tools/changelog/README.md
  lib/node_modules/@stdlib/_tools/changelog/generate/README.md
  lib/node_modules/@stdlib/_tools/changelog/generate/examples/index.js
  lib/node_modules/@stdlib/_tools/changelog/generate/lib/breaking_changes.js
  lib/node_modules/@stdlib/_tools/changelog/generate/lib/closed_issues.js
  lib/node_modules/@stdlib/_tools/changelog/generate/lib/collect_field.js
  lib/node_modules/@stdlib/_tools/changelog/generate/lib/excluded_contributors.json
  lib/node_modules/@stdlib/_tools/changelog/generate/lib/format_commit_factory.js
  lib/node_modules/@stdlib/_tools/changelog/generate/lib/format_commits.js
  lib/node_modules/@stdlib/_tools/changelog/generate/lib/format_contributors.js
  lib/node_modules/@stdlib/_tools/changelog/generate/lib/heading.js
  lib/node_modules/@stdlib/_tools/changelog/generate/lib/index.js
  lib/node_modules/@stdlib/_tools/changelog/generate/lib/main.js
  lib/node_modules/@stdlib/_tools/changelog/generate/lib/npm_releases.js
  lib/node_modules/@stdlib/_tools/changelog/generate/lib/release_summary.js
  lib/node_modules/@stdlib/_tools/changelog/generate/lib/section_end.js
  lib/node_modules/@stdlib/_tools/changelog/generate/lib/section_start.js
  lib/node_modules/@stdlib/_tools/changelog/generate/package.json
  lib/node_modules/@stdlib/_tools/changelog/generate/test/test.js
  lib/node_modules/@stdlib/_tools/changelog/parse-commits/README.md
  lib/node_modules/@stdlib/_tools/changelog/parse-commits/examples/index.js
  lib/node_modules/@stdlib/_tools/changelog/parse-commits/lib/commits.js
  lib/node_modules/@stdlib/_tools/changelog/parse-commits/lib/conventional_changelog.js
  lib/node_modules/@stdlib/_tools/changelog/parse-commits/lib/defaults.js
  lib/node_modules/@stdlib/_tools/changelog/parse-commits/lib/index.js
  lib/node_modules/@stdlib/_tools/changelog/parse-commits/lib/main.js
  lib/node_modules/@stdlib/_tools/changelog/parse-commits/lib/validate.js
  lib/node_modules/@stdlib/_tools/changelog/parse-commits/package.json
  lib/node_modules/@stdlib/_tools/changelog/parse-commits/scripts/commits.sh
  lib/node_modules/@stdlib/_tools/changelog/parse-commits/test/test.js
  lib/node_modules/@stdlib/_tools/changelog/parse-commits/test/test.validate.js
  lib/node_modules/@stdlib/_tools/changelog/recommend-version-bump/README.md
  lib/node_modules/@stdlib/_tools/changelog/recommend-version-bump/examples/index.js
  lib/node_modules/@stdlib/_tools/changelog/recommend-version-bump/lib/index.js
  lib/node_modules/@stdlib/_tools/changelog/recommend-version-bump/lib/main.js
  lib/node_modules/@stdlib/_tools/changelog/recommend-version-bump/package.json
  lib/node_modules/@stdlib/_tools/changelog/recommend-version-bump/test/test.js
  lib/node_modules/@stdlib/_tools/scripts/publish_packages.js
  lib/node_modules/@stdlib/_tools/scripts/templates/workflow_publish.yml.txt
  lib/node_modules/@stdlib/_tools/scripts/templates/workflow_publish_toplevel.yml.txt
  package.json
Labels: Tools

#2299 feat: add `assert/is-booleanarray`
  lib/node_modules/@stdlib/assert/is-booleanarray/README.md
  lib/node_modules/@stdlib/assert/is-booleanarray/benchmark/benchmark.js
  lib/node_modules/@stdlib/assert/is-booleanarray/docs/repl.txt
  lib/node_modules/@stdlib/assert/is-booleanarray/docs/types/index.d.ts
  lib/node_modules/@stdlib/assert/is-booleanarray/docs/types/test.ts
  lib/node_modules/@stdlib/assert/is-booleanarray/examples/index.js
  lib/node_modules/@stdlib/assert/is-booleanarray/lib/index.js
  lib/node_modules/@stdlib/assert/is-booleanarray/lib/main.js
  lib/node_modules/@stdlib/assert/is-booleanarray/package.json
  lib/node_modules/@stdlib/assert/is-booleanarray/test/test.js
Labels: Feature, Utilities

#2297 feat: add `strided/base/reinterpret-boolean`
  lib/node_modules/@stdlib/strided/base/reinterpret-boolean/README.md
  lib/node_modules/@stdlib/strided/base/reinterpret-boolean/benchmark/benchmark.js
  lib/node_modules/@stdlib/strided/base/reinterpret-boolean/docs/repl.txt
  lib/node_modules/@stdlib/strided/base/reinterpret-boolean/docs/types/index.d.ts
  lib/node_modules/@stdlib/strided/base/reinterpret-boolean/docs/types/test.ts
  lib/node_modules/@stdlib/strided/base/reinterpret-boolean/examples/index.js
  lib/node_modules/@stdlib/strided/base/reinterpret-boolean/lib/index.js
  lib/node_modules/@stdlib/strided/base/reinterpret-boolean/lib/main.js
  lib/node_modules/@stdlib/strided/base/reinterpret-boolean/package.json
  lib/node_modules/@stdlib/strided/base/reinterpret-boolean/test/test.js
Labels: Feature, Utilities

#2292 feat: add `map` method to `array/bool`
  lib/node_modules/@stdlib/array/bool/README.md
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.map.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.map.length.js
  lib/node_modules/@stdlib/array/bool/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/bool/lib/main.js
  lib/node_modules/@stdlib/array/bool/test/test.map.js
Labels: Feature, Needs Changes

#2310 feat: add boolean datatype support in `array/mostly-safe-casts`
  lib/node_modules/@stdlib/array/mostly-safe-casts/lib/data.json
Labels: Enhancement

#2309 feat: add boolean datatype support in `array/defaults`
  lib/node_modules/@stdlib/array/defaults/README.md
  lib/node_modules/@stdlib/array/defaults/docs/repl.txt
  lib/node_modules/@stdlib/array/defaults/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/defaults/lib/get.js
  lib/node_modules/@stdlib/array/defaults/lib/main.js
  lib/node_modules/@stdlib/array/defaults/test/test.get.js
  lib/node_modules/@stdlib/array/defaults/test/test.main.js
Labels: Enhancement

#2308 feat: add boolean datatype support in `array/ctors`
  lib/node_modules/@stdlib/array/ctors/README.md
  lib/node_modules/@stdlib/array/ctors/docs/repl.txt
  lib/node_modules/@stdlib/array/ctors/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/ctors/docs/types/test.ts
  lib/node_modules/@stdlib/array/ctors/lib/ctors.js
  lib/node_modules/@stdlib/array/ctors/test/test.js
Labels: Enhancement

#2306 feat: add boolean datatype support in `array/dtype`
  lib/node_modules/@stdlib/array/dtype/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/dtype/docs/types/test.ts
  lib/node_modules/@stdlib/array/dtype/lib/ctor2dtype.js
  lib/node_modules/@stdlib/array/dtype/lib/ctors.js
  lib/node_modules/@stdlib/array/dtype/lib/dtypes.js
Labels: Enhancement

#2209 feat: add `blas/base/scabs1`
  lib/node_modules/@stdlib/blas/base/scabs1/README.md
  lib/node_modules/@stdlib/blas/base/scabs1/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/scabs1/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/scabs1/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/base/scabs1/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/blas/base/scabs1/benchmark/fortran/Makefile
  lib/node_modules/@stdlib/blas/base/scabs1/benchmark/fortran/benchmark.f
  lib/node_modules/@stdlib/blas/base/scabs1/binding.gyp
  lib/node_modules/@stdlib/blas/base/scabs1/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/scabs1/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/scabs1/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/scabs1/examples/c/Makefile
  lib/node_modules/@stdlib/blas/base/scabs1/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/scabs1/examples/index.js
  lib/node_modules/@stdlib/blas/base/scabs1/include.gypi
  lib/node_modules/@stdlib/blas/base/scabs1/include/stdlib/blas/base/scabs1.h
  lib/node_modules/@stdlib/blas/base/scabs1/include/stdlib/blas/base/scabs1_cblas.h
  lib/node_modules/@stdlib/blas/base/scabs1/include/stdlib/blas/base/scabs1_fortran.h
  lib/node_modules/@stdlib/blas/base/scabs1/lib/index.js
  lib/node_modules/@stdlib/blas/base/scabs1/lib/main.js
  lib/node_modules/@stdlib/blas/base/scabs1/lib/native.js
  lib/node_modules/@stdlib/blas/base/scabs1/manifest.json
  lib/node_modules/@stdlib/blas/base/scabs1/package.json
  lib/node_modules/@stdlib/blas/base/scabs1/src/Makefile
  lib/node_modules/@stdlib/blas/base/scabs1/src/addon.c
  lib/node_modules/@stdlib/blas/base/scabs1/src/scabs1.c
  lib/node_modules/@stdlib/blas/base/scabs1/src/scabs1.f
  lib/node_modules/@stdlib/blas/base/scabs1/src/scabs1_cblas.c
  lib/node_modules/@stdlib/blas/base/scabs1/src/scabs1_f.c
  lib/node_modules/@stdlib/blas/base/scabs1/src/scabs1sub.f
  lib/node_modules/@stdlib/blas/base/scabs1/test/test.js
  lib/node_modules/@stdlib/blas/base/scabs1/test/test.native.js
Labels: Feature, BLAS

#2204 feat: add `blas/base/dcabs1`
  lib/node_modules/@stdlib/blas/base/dcabs1/README.md
  lib/node_modules/@stdlib/blas/base/dcabs1/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/dcabs1/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/dcabs1/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/base/dcabs1/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/blas/base/dcabs1/benchmark/fortran/Makefile
  lib/node_modules/@stdlib/blas/base/dcabs1/benchmark/fortran/benchmark.f
  lib/node_modules/@stdlib/blas/base/dcabs1/binding.gyp
  lib/node_modules/@stdlib/blas/base/dcabs1/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/dcabs1/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/dcabs1/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/dcabs1/examples/c/Makefile
  lib/node_modules/@stdlib/blas/base/dcabs1/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/dcabs1/examples/index.js
  lib/node_modules/@stdlib/blas/base/dcabs1/include.gypi
  lib/node_modules/@stdlib/blas/base/dcabs1/include/stdlib/blas/base/dcabs1.h
  lib/node_modules/@stdlib/blas/base/dcabs1/include/stdlib/blas/base/dcabs1_fortran.h
  lib/node_modules/@stdlib/blas/base/dcabs1/include/stdlib/blas/base/dcabs_cblas.h
  lib/node_modules/@stdlib/blas/base/dcabs1/lib/index.js
  lib/node_modules/@stdlib/blas/base/dcabs1/lib/main.js
  lib/node_modules/@stdlib/blas/base/dcabs1/lib/native.js
  lib/node_modules/@stdlib/blas/base/dcabs1/manifest.json
  lib/node_modules/@stdlib/blas/base/dcabs1/package.json
  lib/node_modules/@stdlib/blas/base/dcabs1/src/Makefile
  lib/node_modules/@stdlib/blas/base/dcabs1/src/addon.c
  lib/node_modules/@stdlib/blas/base/dcabs1/src/dcabs1.c
  lib/node_modules/@stdlib/blas/base/dcabs1/src/dcabs1.f
  lib/node_modules/@stdlib/blas/base/dcabs1/src/dcabs1_cblas.c
  lib/node_modules/@stdlib/blas/base/dcabs1/src/dcabs1_f.c
  lib/node_modules/@stdlib/blas/base/dcabs1/src/dcabs1sub.f
  lib/node_modules/@stdlib/blas/base/dcabs1/test/test.js
  lib/node_modules/@stdlib/blas/base/dcabs1/test/test.native.js
Labels: Feature, BLAS

#1679 docs: improve README examples of `stats/base/dists/normal` namespace
  lib/node_modules/@stdlib/stats/base/dists/normal/README.md
  lib/node_modules/@stdlib/stats/base/dists/normal/examples/index.js
Labels: Needs Review, Documentation

#2104 feat: add `blas/base/cscal`
  lib/node_modules/@stdlib/blas/base/cscal/README.md
  lib/node_modules/@stdlib/blas/base/cscal/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/cscal/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/cscal/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/cscal/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/cscal/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/base/cscal/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/cscal/benchmark/fortran/Makefile
  lib/node_modules/@stdlib/blas/base/cscal/benchmark/fortran/benchmark.length.f
  lib/node_modules/@stdlib/blas/base/cscal/binding.gyp
  lib/node_modules/@stdlib/blas/base/cscal/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/cscal/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/cscal/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/cscal/examples/c/Makefile
  lib/node_modules/@stdlib/blas/base/cscal/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/cscal/examples/index.js
  lib/node_modules/@stdlib/blas/base/cscal/include.gypi
  lib/node_modules/@stdlib/blas/base/cscal/include/stdlib/blas/base/cscal.h
  lib/node_modules/@stdlib/blas/base/cscal/include/stdlib/blas/base/cscal_cblas.h
  lib/node_modules/@stdlib/blas/base/cscal/include/stdlib/blas/base/cscal_fortran.h
  lib/node_modules/@stdlib/blas/base/cscal/lib/cscal.js
  lib/node_modules/@stdlib/blas/base/cscal/lib/cscal.native.js
  lib/node_modules/@stdlib/blas/base/cscal/lib/index.js
  lib/node_modules/@stdlib/blas/base/cscal/lib/main.js
  lib/node_modules/@stdlib/blas/base/cscal/lib/native.js
  lib/node_modules/@stdlib/blas/base/cscal/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/cscal/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/cscal/manifest.json
  lib/node_modules/@stdlib/blas/base/cscal/package.json
  lib/node_modules/@stdlib/blas/base/cscal/src/Makefile
  lib/node_modules/@stdlib/blas/base/cscal/src/addon.c
  lib/node_modules/@stdlib/blas/base/cscal/src/cscal.c
  lib/node_modules/@stdlib/blas/base/cscal/src/cscal.f
  lib/node_modules/@stdlib/blas/base/cscal/src/cscal_cblas.c
  lib/node_modules/@stdlib/blas/base/cscal/src/cscal_f.c
  lib/node_modules/@stdlib/blas/base/cscal/test/test.cscal.js
  lib/node_modules/@stdlib/blas/base/cscal/test/test.cscal.native.js
  lib/node_modules/@stdlib/blas/base/cscal/test/test.js
  lib/node_modules/@stdlib/blas/base/cscal/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/cscal/test/test.ndarray.native.js
Labels: Feature, BLAS

#2315 feat: add `math/base/special/lnf`
  lib/node_modules/@stdlib/math/base/special/lnf/LICENSE
  lib/node_modules/@stdlib/math/base/special/lnf/README.md
  lib/node_modules/@stdlib/math/base/special/lnf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/lnf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/lnf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/lnf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/lnf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/lnf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/lnf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/lnf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/lnf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/lnf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/lnf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/lnf/include.gypi
  lib/node_modules/@stdlib/math/base/special/lnf/include/stdlib/math/base/special/lnf.h
  lib/node_modules/@stdlib/math/base/special/lnf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/lnf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/lnf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/lnf/lib/polyval_p.js
  lib/node_modules/@stdlib/math/base/special/lnf/lib/polyval_q.js
  lib/node_modules/@stdlib/math/base/special/lnf/manifest.json
  lib/node_modules/@stdlib/math/base/special/lnf/package.json
  lib/node_modules/@stdlib/math/base/special/lnf/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/lnf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/lnf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/lnf/src/main.c
  lib/node_modules/@stdlib/math/base/special/lnf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/lnf/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/lnf/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/lnf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/lnf/test/fixtures/julia/small_positive.json
  lib/node_modules/@stdlib/math/base/special/lnf/test/fixtures/julia/smaller.json
  lib/node_modules/@stdlib/math/base/special/lnf/test/fixtures/julia/subnormal.json
  lib/node_modules/@stdlib/math/base/special/lnf/test/fixtures/julia/tiny_positive.json
  lib/node_modules/@stdlib/math/base/special/lnf/test/fixtures/julia/very_large_positive.json
  lib/node_modules/@stdlib/math/base/special/lnf/test/test.js
  lib/node_modules/@stdlib/math/base/special/lnf/test/test.native.js
Labels: Feature, Math

#2349 feat: add C implementation for `math/base/special/sin`
  lib/node_modules/@stdlib/math/base/special/sin/README.md
  lib/node_modules/@stdlib/math/base/special/sin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sin/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/sin/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sin/binding.gyp
  lib/node_modules/@stdlib/math/base/special/sin/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/sin/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/sin/include.gypi
  lib/node_modules/@stdlib/math/base/special/sin/include/stdlib/math/base/special/sin.h
  lib/node_modules/@stdlib/math/base/special/sin/lib/native.js
  lib/node_modules/@stdlib/math/base/special/sin/manifest.json
  lib/node_modules/@stdlib/math/base/special/sin/src/Makefile
  lib/node_modules/@stdlib/math/base/special/sin/src/addon.c
  lib/node_modules/@stdlib/math/base/special/sin/src/main.c
  lib/node_modules/@stdlib/math/base/special/sin/test/test.native.js
Labels: Math

#2342 feat: add `math/base/special/nanmin`
  lib/node_modules/@stdlib/math/base/special/nanmin/README.md
  lib/node_modules/@stdlib/math/base/special/nanmin/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/nanmin/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/nanmin/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/nanmin/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/nanmin/examples/index.js
  lib/node_modules/@stdlib/math/base/special/nanmin/lib/index.js
  lib/node_modules/@stdlib/math/base/special/nanmin/lib/main.js
  lib/node_modules/@stdlib/math/base/special/nanmin/package.json
  lib/node_modules/@stdlib/math/base/special/nanmin/test/test.js
Labels: Feature, Math

#2355 refactor: use constant packages, remove stdint
  lib/node_modules/@stdlib/math/base/special/cos/include/stdlib/math/base/special/cos.h
  lib/node_modules/@stdlib/math/base/special/cos/lib/main.js
  lib/node_modules/@stdlib/math/base/special/cos/manifest.json
  lib/node_modules/@stdlib/math/base/special/cos/src/main.c
Labels: Math

#2356 refactor: reduce tolerance, correct castings for `math/base/special/lnf`
  lib/node_modules/@stdlib/math/base/special/lnf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/lnf/manifest.json
  lib/node_modules/@stdlib/math/base/special/lnf/src/main.c
  lib/node_modules/@stdlib/math/base/special/lnf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/lnf/test/fixtures/julia/subnormal.json
  lib/node_modules/@stdlib/math/base/special/lnf/test/test.js
  lib/node_modules/@stdlib/math/base/special/lnf/test/test.native.js
Labels: Math

#2253 feat: add `blas/base/zscal`
  lib/node_modules/@stdlib/blas/base/zscal/README.md
  lib/node_modules/@stdlib/blas/base/zscal/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/zscal/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/zscal/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/zscal/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/zscal/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/base/zscal/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/zscal/benchmark/fortran/Makefile
  lib/node_modules/@stdlib/blas/base/zscal/benchmark/fortran/benchmark.length.f
  lib/node_modules/@stdlib/blas/base/zscal/binding.gyp
  lib/node_modules/@stdlib/blas/base/zscal/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/zscal/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/zscal/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/zscal/examples/c/Makefile
  lib/node_modules/@stdlib/blas/base/zscal/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/zscal/examples/index.js
  lib/node_modules/@stdlib/blas/base/zscal/include.gypi
  lib/node_modules/@stdlib/blas/base/zscal/include/stdlib/blas/base/zscal.h
  lib/node_modules/@stdlib/blas/base/zscal/include/stdlib/blas/base/zscal_cblas.h
  lib/node_modules/@stdlib/blas/base/zscal/include/stdlib/blas/base/zscal_fortran.h
  lib/node_modules/@stdlib/blas/base/zscal/lib/index.js
  lib/node_modules/@stdlib/blas/base/zscal/lib/main.js
  lib/node_modules/@stdlib/blas/base/zscal/lib/native.js
  lib/node_modules/@stdlib/blas/base/zscal/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/zscal/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/zscal/lib/zscal.js
  lib/node_modules/@stdlib/blas/base/zscal/lib/zscal.native.js
  lib/node_modules/@stdlib/blas/base/zscal/manifest.json
  lib/node_modules/@stdlib/blas/base/zscal/package.json
  lib/node_modules/@stdlib/blas/base/zscal/src/Makefile
  lib/node_modules/@stdlib/blas/base/zscal/src/addon.c
  lib/node_modules/@stdlib/blas/base/zscal/src/zscal.c
  lib/node_modules/@stdlib/blas/base/zscal/src/zscal.f
  lib/node_modules/@stdlib/blas/base/zscal/src/zscal_cblas.c
  lib/node_modules/@stdlib/blas/base/zscal/src/zscal_f.c
  lib/node_modules/@stdlib/blas/base/zscal/test/test.js
  lib/node_modules/@stdlib/blas/base/zscal/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/zscal/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/zscal/test/test.zscal.js
  lib/node_modules/@stdlib/blas/base/zscal/test/test.zscal.native.js
Labels: Feature, BLAS

#2353 feat: add boolean dtype support in `array/safe-casts`
  lib/node_modules/@stdlib/array/safe-casts/lib/safe_casts.json
Labels: Enhancement

#2354 feat: add boolean datatype support in `array/same-kind-casts`
  lib/node_modules/@stdlib/array/same-kind-casts/lib/same_kind_casts.json
Labels: Enhancement

#2341 feat: add combined styles and inbuilt syntax highlighting themes in the REPL
  lib/node_modules/@stdlib/repl/lib/ansi_colors.js
  lib/node_modules/@stdlib/repl/lib/syntax_highlighter.js
  lib/node_modules/@stdlib/repl/lib/themes.js
Labels: Enhancement, REPL

#2358 feat: add `math/base/special/nanmax`
  lib/node_modules/@stdlib/math/base/special/nanmax/README.md
  lib/node_modules/@stdlib/math/base/special/nanmax/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/nanmax/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/nanmax/docs/types/repl.txt
  lib/node_modules/@stdlib/math/base/special/nanmax/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/nanmax/examples/index.js
  lib/node_modules/@stdlib/math/base/special/nanmax/lib/index.js
  lib/node_modules/@stdlib/math/base/special/nanmax/lib/main.js
  lib/node_modules/@stdlib/math/base/special/nanmax/package.json
  lib/node_modules/@stdlib/math/base/special/nanmax/test/test.js
Labels: Needs Review, Math

#2357 feat: add `array/base/assert/is-booleanarray`
  lib/node_modules/@stdlib/array/base/assert/is-booleanarray/README.md
  lib/node_modules/@stdlib/array/base/assert/is-booleanarray/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/assert/is-booleanarray/docs/repl.txt
  lib/node_modules/@stdlib/array/base/assert/is-booleanarray/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/assert/is-booleanarray/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/assert/is-booleanarray/examples/index.js
  lib/node_modules/@stdlib/array/base/assert/is-booleanarray/lib/index.js
  lib/node_modules/@stdlib/array/base/assert/is-booleanarray/lib/main.js
  lib/node_modules/@stdlib/array/base/assert/is-booleanarray/package.json
  lib/node_modules/@stdlib/array/base/assert/is-booleanarray/test/test.js
Labels: Feature

#2361 feat: add C implementation for `math/base/special/coversin`
  lib/node_modules/@stdlib/math/base/special/coversin/README.md
  lib/node_modules/@stdlib/math/base/special/coversin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/coversin/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/coversin/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/coversin/binding.gyp
  lib/node_modules/@stdlib/math/base/special/coversin/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/coversin/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/coversin/include.gypi
  lib/node_modules/@stdlib/math/base/special/coversin/include/stdlib/math/base/special/coversin.h
  lib/node_modules/@stdlib/math/base/special/coversin/lib/native.js
  lib/node_modules/@stdlib/math/base/special/coversin/manifest.json
  lib/node_modules/@stdlib/math/base/special/coversin/src/Makefile
  lib/node_modules/@stdlib/math/base/special/coversin/src/addon.c
  lib/node_modules/@stdlib/math/base/special/coversin/src/main.c
  lib/node_modules/@stdlib/math/base/special/coversin/test/test.native.js
Labels: Math

#2362 feat: add boolean dtype support in `array/next-dtype`
  lib/node_modules/@stdlib/array/next-dtype/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/next-dtype/docs/types/test.ts
  lib/node_modules/@stdlib/array/next-dtype/lib/next_dtypes.json
Labels: Feature

#2363 feat: add `sort` method to `array/bool`
  lib/node_modules/@stdlib/array/bool/README.md
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.sort.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.sort.length.js
  lib/node_modules/@stdlib/array/bool/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/bool/lib/main.js
  lib/node_modules/@stdlib/array/bool/test/test.sort.js
Labels: Feature

#2364 docs: remove long comment from `math/base/special/coversin`
  lib/node_modules/@stdlib/math/base/special/coversin/src/main.c
Labels: Math

#2366 docs: use significand mask in `math/base/special/rempio2`
  lib/node_modules/@stdlib/math/base/special/rempio2/manifest.json
  lib/node_modules/@stdlib/math/base/special/rempio2/src/main.c
Labels: Math

#2369 feat: add boolean dtype support in `array/promotion-rules`
  lib/node_modules/@stdlib/array/promotion-rules/lib/promotion_rules.json
Labels: Enhancement

#2307 feat: add boolean datatype support in `array/dtypes`
  lib/node_modules/@stdlib/array/dtypes/README.md
  lib/node_modules/@stdlib/array/dtypes/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/dtypes/docs/repl.txt
  lib/node_modules/@stdlib/array/dtypes/lib/dtypes.json
  lib/node_modules/@stdlib/array/dtypes/lib/index.js
  lib/node_modules/@stdlib/array/dtypes/test/test.js
Labels: Enhancement

#2373 docs: use descriptive variable names for `math/base/special/sin`
  lib/node_modules/@stdlib/math/base/special/sin/lib/main.js
Labels: Math

#2376 feat: add `find` and `findLast` method to `array/bool`
  lib/node_modules/@stdlib/array/bool/README.md
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.find.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.find.length.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.find_last.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.find_last.length.js
  lib/node_modules/@stdlib/array/bool/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/bool/lib/main.js
  lib/node_modules/@stdlib/array/bool/test/test.find.js
  lib/node_modules/@stdlib/array/bool/test/test.find_last.js
Labels: Feature

#2375 feat : add `array/base/cuany`
  lib/node_modules/@stdlib/array/base/cuany/README.md
  lib/node_modules/@stdlib/array/base/cuany/benchmark/benchmark.assign.length.js
  lib/node_modules/@stdlib/array/base/cuany/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/cuany/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/array/base/cuany/docs/repl.txt
  lib/node_modules/@stdlib/array/base/cuany/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/cuany/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/cuany/examples/index.js
  lib/node_modules/@stdlib/array/base/cuany/lib/assign.js
  lib/node_modules/@stdlib/array/base/cuany/lib/index.js
  lib/node_modules/@stdlib/array/base/cuany/lib/main.js
  lib/node_modules/@stdlib/array/base/cuany/package.json
  lib/node_modules/@stdlib/array/base/cuany/test/test.assign.js
  lib/node_modules/@stdlib/array/base/cuany/test/test.js
  lib/node_modules/@stdlib/array/base/cuany/test/test.main.js
Labels: Feature

#2374 feat: add C implementation for `math/base/special/cot`
  lib/node_modules/@stdlib/math/base/special/cot/README.md
  lib/node_modules/@stdlib/math/base/special/cot/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/cot/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/cot/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cot/binding.gyp
  lib/node_modules/@stdlib/math/base/special/cot/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/cot/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/cot/include.gypi
  lib/node_modules/@stdlib/math/base/special/cot/include/stdlib/math/base/special/cot.h
  lib/node_modules/@stdlib/math/base/special/cot/lib/native.js
  lib/node_modules/@stdlib/math/base/special/cot/manifest.json
  lib/node_modules/@stdlib/math/base/special/cot/src/Makefile
  lib/node_modules/@stdlib/math/base/special/cot/src/addon.c
  lib/node_modules/@stdlib/math/base/special/cot/src/main.c
  lib/node_modules/@stdlib/math/base/special/cot/test/test.native.js
Labels: Math, Ready to merge

#2378 feat: add C implementation for `math/base/special/cscd`
  lib/node_modules/@stdlib/math/base/special/cscd/README.md
  lib/node_modules/@stdlib/math/base/special/cscd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/cscd/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/cscd/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cscd/binding.gyp
  lib/node_modules/@stdlib/math/base/special/cscd/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/cscd/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/cscd/include.gypi
  lib/node_modules/@stdlib/math/base/special/cscd/include/stdlib/math/base/special/cscd.h
  lib/node_modules/@stdlib/math/base/special/cscd/lib/native.js
  lib/node_modules/@stdlib/math/base/special/cscd/manifest.json
  lib/node_modules/@stdlib/math/base/special/cscd/src/Makefile
  lib/node_modules/@stdlib/math/base/special/cscd/src/addon.c
  lib/node_modules/@stdlib/math/base/special/cscd/src/main.c
  lib/node_modules/@stdlib/math/base/special/cscd/test/test.native.js
Labels: Math

#2377 feat: add C implementation for `math/base/special/covercos`
  lib/node_modules/@stdlib/math/base/special/covercos/README.md
  lib/node_modules/@stdlib/math/base/special/covercos/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/covercos/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/covercos/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/covercos/binding.gyp
  lib/node_modules/@stdlib/math/base/special/covercos/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/covercos/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/covercos/include.gypi
  lib/node_modules/@stdlib/math/base/special/covercos/include/stdlib/math/base/special/covercos.h
  lib/node_modules/@stdlib/math/base/special/covercos/lib/native.js
  lib/node_modules/@stdlib/math/base/special/covercos/manifest.json
  lib/node_modules/@stdlib/math/base/special/covercos/src/Makefile
  lib/node_modules/@stdlib/math/base/special/covercos/src/addon.c
  lib/node_modules/@stdlib/math/base/special/covercos/src/main.c
  lib/node_modules/@stdlib/math/base/special/covercos/test/test.native.js
Labels: Math

#2380 feat: add `array/base/cuevery`
  lib/node_modules/@stdlib/array/base/cuevery/README.md
  lib/node_modules/@stdlib/array/base/cuevery/benchmark/benchmark.assign.length.js
  lib/node_modules/@stdlib/array/base/cuevery/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/cuevery/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/array/base/cuevery/docs/repl.txt
  lib/node_modules/@stdlib/array/base/cuevery/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/cuevery/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/cuevery/examples/index.js
  lib/node_modules/@stdlib/array/base/cuevery/lib/assign.js
  lib/node_modules/@stdlib/array/base/cuevery/lib/index.js
  lib/node_modules/@stdlib/array/base/cuevery/lib/main.js
  lib/node_modules/@stdlib/array/base/cuevery/package.json
  lib/node_modules/@stdlib/array/base/cuevery/test/test.assign.js
  lib/node_modules/@stdlib/array/base/cuevery/test/test.js
  lib/node_modules/@stdlib/array/base/cuevery/test/test.main.js
Labels: Feature

#2384 feat: add `findIndex` and `findLastIndex` method to `array/bool`
  lib/node_modules/@stdlib/array/bool/README.md
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.find_index.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.find_index.length.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.find_last_index.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.find_last_index.length.js
  lib/node_modules/@stdlib/array/bool/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/bool/lib/main.js
  lib/node_modules/@stdlib/array/bool/test/test.find_index.js
  lib/node_modules/@stdlib/array/bool/test/test.find_last_index.js
Labels: Feature

#2385 docs: add `repl.txt` to `array/bool`
  lib/node_modules/@stdlib/array/bool/docs/repl.txt
Labels: Documentation

#2388 feat: add C implementation for `math/base/special/hacovercos`
  lib/node_modules/@stdlib/math/base/special/hacovercos/README.md
  lib/node_modules/@stdlib/math/base/special/hacovercos/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/hacovercos/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/hacovercos/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/hacovercos/binding.gyp
  lib/node_modules/@stdlib/math/base/special/hacovercos/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/hacovercos/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/hacovercos/include.gypi
  lib/node_modules/@stdlib/math/base/special/hacovercos/include/stdlib/math/base/special/hacovercos.h
  lib/node_modules/@stdlib/math/base/special/hacovercos/lib/native.js
  lib/node_modules/@stdlib/math/base/special/hacovercos/manifest.json
  lib/node_modules/@stdlib/math/base/special/hacovercos/src/Makefile
  lib/node_modules/@stdlib/math/base/special/hacovercos/src/addon.c
  lib/node_modules/@stdlib/math/base/special/hacovercos/src/main.c
  lib/node_modules/@stdlib/math/base/special/hacovercos/test/test.native.js
Labels: Math

#2387 feat: add C implementation for `math/base/special/hacoversin`
  lib/node_modules/@stdlib/math/base/special/hacoversin/README.md
  lib/node_modules/@stdlib/math/base/special/hacoversin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/hacoversin/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/hacoversin/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/hacoversin/binding.gyp
  lib/node_modules/@stdlib/math/base/special/hacoversin/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/hacoversin/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/hacoversin/include.gypi
  lib/node_modules/@stdlib/math/base/special/hacoversin/include/stdlib/math/base/special/hacoversin.h
  lib/node_modules/@stdlib/math/base/special/hacoversin/lib/native.js
  lib/node_modules/@stdlib/math/base/special/hacoversin/manifest.json
  lib/node_modules/@stdlib/math/base/special/hacoversin/src/Makefile
  lib/node_modules/@stdlib/math/base/special/hacoversin/src/addon.c
  lib/node_modules/@stdlib/math/base/special/hacoversin/src/main.c
  lib/node_modules/@stdlib/math/base/special/hacoversin/test/test.native.js
Labels: Math

#2393 feat: add C implementation for `math/base/special/cosd`
  lib/node_modules/@stdlib/math/base/special/cosd/README.md
  lib/node_modules/@stdlib/math/base/special/cosd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/cosd/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/cosd/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cosd/binding.gyp
  lib/node_modules/@stdlib/math/base/special/cosd/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/cosd/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/cosd/include.gypi
  lib/node_modules/@stdlib/math/base/special/cosd/include/stdlib/math/base/special/cosd.h
  lib/node_modules/@stdlib/math/base/special/cosd/lib/native.js
  lib/node_modules/@stdlib/math/base/special/cosd/manifest.json
  lib/node_modules/@stdlib/math/base/special/cosd/src/Makefile
  lib/node_modules/@stdlib/math/base/special/cosd/src/addon.c
  lib/node_modules/@stdlib/math/base/special/cosd/src/main.c
  lib/node_modules/@stdlib/math/base/special/cosd/test/test.native.js
Labels: Math

#2391 feat: add boolean dtype support to `array/typed-ctors`
  lib/node_modules/@stdlib/array/typed-ctors/README.md
  lib/node_modules/@stdlib/array/typed-ctors/docs/repl.txt
  lib/node_modules/@stdlib/array/typed-ctors/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/typed-ctors/docs/types/test.ts
  lib/node_modules/@stdlib/array/typed-ctors/lib/ctors.js
  lib/node_modules/@stdlib/array/typed-ctors/test/test.js
Labels: Enhancement

#2392 feat: add boolean dtype support in `array/to-json`
  lib/node_modules/@stdlib/array/to-json/README.md
  lib/node_modules/@stdlib/array/to-json/docs/repl.txt
  lib/node_modules/@stdlib/array/to-json/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/to-json/examples/index.js
  lib/node_modules/@stdlib/array/to-json/lib/ctors.js
  lib/node_modules/@stdlib/array/to-json/lib/main.js
  lib/node_modules/@stdlib/array/to-json/test/test.js
  lib/node_modules/@stdlib/array/to-json/test/test.type.js
Labels: Enhancement

#2398 feat: add C implementation for `math/base/special/versin`
  lib/node_modules/@stdlib/math/base/special/versin/README.md
  lib/node_modules/@stdlib/math/base/special/versin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/versin/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/versin/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/versin/binding.gyp
  lib/node_modules/@stdlib/math/base/special/versin/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/versin/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/versin/include.gypi
  lib/node_modules/@stdlib/math/base/special/versin/include/stdlib/math/base/special/versin.h
  lib/node_modules/@stdlib/math/base/special/versin/lib/native.js
  lib/node_modules/@stdlib/math/base/special/versin/manifest.json
  lib/node_modules/@stdlib/math/base/special/versin/src/Makefile
  lib/node_modules/@stdlib/math/base/special/versin/src/addon.c
  lib/node_modules/@stdlib/math/base/special/versin/src/main.c
  lib/node_modules/@stdlib/math/base/special/versin/test/test.native.js
Labels: Math

#2397 feat: add C implementation for `math/base/special/vercos`
  lib/node_modules/@stdlib/math/base/special/vercos/README.md
  lib/node_modules/@stdlib/math/base/special/vercos/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/vercos/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/vercos/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/vercos/binding.gyp
  lib/node_modules/@stdlib/math/base/special/vercos/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/vercos/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/vercos/include.gypi
  lib/node_modules/@stdlib/math/base/special/vercos/include/stdlib/math/base/special/vercos.h
  lib/node_modules/@stdlib/math/base/special/vercos/lib/native.js
  lib/node_modules/@stdlib/math/base/special/vercos/manifest.json
  lib/node_modules/@stdlib/math/base/special/vercos/src/Makefile
  lib/node_modules/@stdlib/math/base/special/vercos/src/addon.c
  lib/node_modules/@stdlib/math/base/special/vercos/src/main.c
  lib/node_modules/@stdlib/math/base/special/vercos/test/test.native.js
Labels: Math

#2390 feat: add `reverse` and `toReversed` methods to `array/bool`
  lib/node_modules/@stdlib/array/bool/README.md
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.reverse.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.reverse.length.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.to_reversed.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.to_reversed.length.js
  lib/node_modules/@stdlib/array/bool/docs/repl.txt
  lib/node_modules/@stdlib/array/bool/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/bool/lib/main.js
  lib/node_modules/@stdlib/array/bool/test/test.reverse.js
  lib/node_modules/@stdlib/array/bool/test/test.to_reversed.js
Labels: Feature

#2404 feat: add boolean dtype support to `array/base/assert/has-same-values`
  lib/node_modules/@stdlib/array/base/assert/has-same-values/lib/main.js
  lib/node_modules/@stdlib/array/base/assert/has-same-values/test/test.js
Labels: Enhancement

#2156 feat: add C implementation for `math/base/assert/int32-is-even`
  lib/node_modules/@stdlib/math/base/assert/int32-is-even/README.md
  lib/node_modules/@stdlib/math/base/assert/int32-is-even/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/int32-is-even/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/assert/int32-is-even/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/int32-is-even/binding.gyp
  lib/node_modules/@stdlib/math/base/assert/int32-is-even/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/assert/int32-is-even/examples/c/example.c
  lib/node_modules/@stdlib/math/base/assert/int32-is-even/include.gypi
  lib/node_modules/@stdlib/math/base/assert/int32-is-even/include/stdlib/math/base/assert/int32_is_even.h
  lib/node_modules/@stdlib/math/base/assert/int32-is-even/lib/native.js
  lib/node_modules/@stdlib/math/base/assert/int32-is-even/manifest.json
  lib/node_modules/@stdlib/math/base/assert/int32-is-even/src/Makefile
  lib/node_modules/@stdlib/math/base/assert/int32-is-even/src/addon.c
  lib/node_modules/@stdlib/math/base/assert/int32-is-even/src/main.c
  lib/node_modules/@stdlib/math/base/assert/int32-is-even/test/test.native.js
Labels: Math

#2406 feat: add C implementation for `math/base/special/secd`
  lib/node_modules/@stdlib/math/base/special/secd/README.md
  lib/node_modules/@stdlib/math/base/special/secd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/secd/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/secd/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/secd/binding.gyp
  lib/node_modules/@stdlib/math/base/special/secd/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/secd/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/secd/include.gypi
  lib/node_modules/@stdlib/math/base/special/secd/include/stdlib/math/base/special/secd.h
  lib/node_modules/@stdlib/math/base/special/secd/lib/native.js
  lib/node_modules/@stdlib/math/base/special/secd/manifest.json
  lib/node_modules/@stdlib/math/base/special/secd/src/Makefile
  lib/node_modules/@stdlib/math/base/special/secd/src/addon.c
  lib/node_modules/@stdlib/math/base/special/secd/src/main.c
  lib/node_modules/@stdlib/math/base/special/secd/test/test.native.js
Labels: Math, Ready to merge

#731 feat: add C implementation for `math/base/special/erfinv`
  lib/node_modules/@stdlib/math/base/special/erfinv/README.md
  lib/node_modules/@stdlib/math/base/special/erfinv/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/erfinv/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/erfinv/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/erfinv/binding.gyp
  lib/node_modules/@stdlib/math/base/special/erfinv/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/erfinv/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/erfinv/include.gypi
  lib/node_modules/@stdlib/math/base/special/erfinv/include/stdlib/math/base/special/erfinv.h
  lib/node_modules/@stdlib/math/base/special/erfinv/lib/native.js
  lib/node_modules/@stdlib/math/base/special/erfinv/lib/rational_p1q1.js
  lib/node_modules/@stdlib/math/base/special/erfinv/lib/rational_p2q2.js
  lib/node_modules/@stdlib/math/base/special/erfinv/lib/rational_p3q3.js
  lib/node_modules/@stdlib/math/base/special/erfinv/lib/rational_p4q4.js
  lib/node_modules/@stdlib/math/base/special/erfinv/lib/rational_p5q5.js
  lib/node_modules/@stdlib/math/base/special/erfinv/manifest.json
  lib/node_modules/@stdlib/math/base/special/erfinv/scripts/evalrational.js
  lib/node_modules/@stdlib/math/base/special/erfinv/src/Makefile
  lib/node_modules/@stdlib/math/base/special/erfinv/src/addon.c
  lib/node_modules/@stdlib/math/base/special/erfinv/src/main.c
  lib/node_modules/@stdlib/math/base/special/erfinv/test/test.native.js
Labels: Feature, Needs Review, Math, C

#2411 feat: add C implementation for `math/base/special/tand`
  lib/node_modules/@stdlib/math/base/special/tand/README.md
  lib/node_modules/@stdlib/math/base/special/tand/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/tand/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/tand/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tand/binding.gyp
  lib/node_modules/@stdlib/math/base/special/tand/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/tand/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/tand/include.gypi
  lib/node_modules/@stdlib/math/base/special/tand/include/stdlib/math/base/special/tand.h
  lib/node_modules/@stdlib/math/base/special/tand/lib/native.js
  lib/node_modules/@stdlib/math/base/special/tand/manifest.json
  lib/node_modules/@stdlib/math/base/special/tand/src/Makefile
  lib/node_modules/@stdlib/math/base/special/tand/src/addon.c
  lib/node_modules/@stdlib/math/base/special/tand/src/main.c
  lib/node_modules/@stdlib/math/base/special/tand/test/test.native.js
Labels: Math

#2410 feat: add C implementation for `math/base/special/havercos`
  lib/node_modules/@stdlib/math/base/special/havercos/README.md
  lib/node_modules/@stdlib/math/base/special/havercos/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/havercos/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/havercos/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/havercos/binding.gyp
  lib/node_modules/@stdlib/math/base/special/havercos/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/havercos/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/havercos/include.gypi
  lib/node_modules/@stdlib/math/base/special/havercos/include/stdlib/math/base/special/havercos.h
  lib/node_modules/@stdlib/math/base/special/havercos/lib/native.js
  lib/node_modules/@stdlib/math/base/special/havercos/manifest.json
  lib/node_modules/@stdlib/math/base/special/havercos/src/Makefile
  lib/node_modules/@stdlib/math/base/special/havercos/src/addon.c
  lib/node_modules/@stdlib/math/base/special/havercos/src/main.c
  lib/node_modules/@stdlib/math/base/special/havercos/test/test.native.js
Labels: Math

#2409 docs: use correct function name in example in `math/base/special/hacoversin`
  lib/node_modules/@stdlib/math/base/special/hacoversin/src/main.c
Labels: Math

#2413 feat: add `toSorted` method to `array/bool`
  lib/node_modules/@stdlib/array/bool/README.md
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.to_sorted.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.to_sorted.length.js
  lib/node_modules/@stdlib/array/bool/docs/repl.txt
  lib/node_modules/@stdlib/array/bool/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/bool/lib/main.js
  lib/node_modules/@stdlib/array/bool/test/test.to_sorted.js
Labels: Feature

#2305 feat: add `blas/base/ssymv`
  lib/node_modules/@stdlib/blas/base/ssymv/README.md
  lib/node_modules/@stdlib/blas/base/ssymv/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/ssymv/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/ssymv/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/ssymv/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/ssymv/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/ssymv/examples/index.js
  lib/node_modules/@stdlib/blas/base/ssymv/lib/index.js
  lib/node_modules/@stdlib/blas/base/ssymv/lib/main.js
  lib/node_modules/@stdlib/blas/base/ssymv/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/ssymv/lib/ssymv.js
  lib/node_modules/@stdlib/blas/base/ssymv/package.json
  lib/node_modules/@stdlib/blas/base/ssymv/test/fixtures/column_major_xnyn.json
  lib/node_modules/@stdlib/blas/base/ssymv/test/fixtures/column_major_xnyp.json
  lib/node_modules/@stdlib/blas/base/ssymv/test/fixtures/column_major_xoyt.json
  lib/node_modules/@stdlib/blas/base/ssymv/test/fixtures/column_major_xpyn.json
  lib/node_modules/@stdlib/blas/base/ssymv/test/fixtures/column_major_xpyp.json
  lib/node_modules/@stdlib/blas/base/ssymv/test/fixtures/row_major_xnyn.json
  lib/node_modules/@stdlib/blas/base/ssymv/test/fixtures/row_major_xnyp.json
  lib/node_modules/@stdlib/blas/base/ssymv/test/fixtures/row_major_xoyt.json
  lib/node_modules/@stdlib/blas/base/ssymv/test/fixtures/row_major_xpyn.json
  lib/node_modules/@stdlib/blas/base/ssymv/test/fixtures/row_major_xpyp.json
  lib/node_modules/@stdlib/blas/base/ssymv/test/test.js
  lib/node_modules/@stdlib/blas/base/ssymv/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/ssymv/test/test.ssymv.js
  lib/node_modules/@stdlib/types/index.d.ts
  lib/node_modules/@stdlib/types/test.ts
Labels: Feature, BLAS, Needs Changes

#2417 test: add missing tests for `math/base/special/tand`
  lib/node_modules/@stdlib/math/base/special/tand/test/test.js
  lib/node_modules/@stdlib/math/base/special/tand/test/test.native.js
Labels: Math, Tests

#2418 test: add missing tests for `math/base/special/cosd`
  lib/node_modules/@stdlib/math/base/special/cosd/test/test.js
  lib/node_modules/@stdlib/math/base/special/cosd/test/test.native.js
Labels: Math, Tests

#2347 feat: add multiline editing in the REPL
  lib/node_modules/@stdlib/repl/lib/completer_preview.js
  lib/node_modules/@stdlib/repl/lib/main.js
  lib/node_modules/@stdlib/repl/lib/multiline_handler.js
  lib/node_modules/@stdlib/repl/lib/process_line.js
  lib/node_modules/@stdlib/repl/lib/syntax_highlighter.js
Labels: Enhancement, REPL

#2421 feat: add `every` and `some` methods to `array/bool`
  lib/node_modules/@stdlib/array/bool/README.md
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.every.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.every.length.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.some.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.some.length.js
  lib/node_modules/@stdlib/array/bool/docs/repl.txt
  lib/node_modules/@stdlib/array/bool/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/bool/lib/main.js
  lib/node_modules/@stdlib/array/bool/test/test.every.js
  lib/node_modules/@stdlib/array/bool/test/test.some.js
Labels: Feature

#2420 feat: add boolean dtype support to `array/reviver`
  lib/node_modules/@stdlib/array/reviver/lib/ctors.js
  lib/node_modules/@stdlib/array/reviver/test/test.js
Labels: Enhancement

#2419 feat: add boolean dtype support to `array/typed`
  lib/node_modules/@stdlib/array/typed/README.md
  lib/node_modules/@stdlib/array/typed/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/typed/benchmark/benchmark.length.bool.js
  lib/node_modules/@stdlib/array/typed/docs/repl.txt
  lib/node_modules/@stdlib/array/typed/lib/main.js
  lib/node_modules/@stdlib/array/typed/test/test.js
Labels: Enhancement

#2423 feat: add boolean dtype support to `array/base/every`
  lib/node_modules/@stdlib/array/base/every/lib/main.js
  lib/node_modules/@stdlib/array/base/every/test/test.js
Labels: Enhancement

#2422 feat: add boolean dtype support to `array/base/any`
  lib/node_modules/@stdlib/array/base/any/lib/main.js
  lib/node_modules/@stdlib/array/base/any/test/test.js
Labels: Enhancement

#2424 feat: add boolean dtype support to `array/base/none`
  lib/node_modules/@stdlib/array/base/none/lib/main.js
  lib/node_modules/@stdlib/array/base/none/test/test.js
Labels: Enhancement

#2401 feat: add `assert/is-same-booleanarray`
  lib/node_modules/@stdlib/assert/is-same-booleanarray/README.md
  lib/node_modules/@stdlib/assert/is-same-booleanarray/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/assert/is-same-booleanarray/docs/repl.txt
  lib/node_modules/@stdlib/assert/is-same-booleanarray/docs/types/index.d.ts
  lib/node_modules/@stdlib/assert/is-same-booleanarray/docs/types/test.ts
  lib/node_modules/@stdlib/assert/is-same-booleanarray/examples/index.js
  lib/node_modules/@stdlib/assert/is-same-booleanarray/lib/index.js
  lib/node_modules/@stdlib/assert/is-same-booleanarray/lib/main.js
  lib/node_modules/@stdlib/assert/is-same-booleanarray/package.json
  lib/node_modules/@stdlib/assert/is-same-booleanarray/test/test.js
Labels: Feature

#2430 fix: pass options when parsing to suppress warnings in the REPL
  lib/node_modules/@stdlib/repl/lib/acorn_detect_multiline_input.js
Labels: REPL

#2414 feat: add `blas/base/sspmv`
  lib/node_modules/@stdlib/blas/base/sspmv/README.md
  lib/node_modules/@stdlib/blas/base/sspmv/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/sspmv/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/sspmv/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/sspmv/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/sspmv/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/sspmv/examples/index.js
  lib/node_modules/@stdlib/blas/base/sspmv/lib/index.js
  lib/node_modules/@stdlib/blas/base/sspmv/lib/main.js
  lib/node_modules/@stdlib/blas/base/sspmv/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/sspmv/lib/sspmv.js
  lib/node_modules/@stdlib/blas/base/sspmv/package.json
  lib/node_modules/@stdlib/blas/base/sspmv/test/fixtures/column_major_xnyn.json
  lib/node_modules/@stdlib/blas/base/sspmv/test/fixtures/column_major_xnyp.json
  lib/node_modules/@stdlib/blas/base/sspmv/test/fixtures/column_major_xoyt.json
  lib/node_modules/@stdlib/blas/base/sspmv/test/fixtures/column_major_xpyn.json
  lib/node_modules/@stdlib/blas/base/sspmv/test/fixtures/column_major_xpyp.json
  lib/node_modules/@stdlib/blas/base/sspmv/test/fixtures/row_major_xnyn.json
  lib/node_modules/@stdlib/blas/base/sspmv/test/fixtures/row_major_xnyp.json
  lib/node_modules/@stdlib/blas/base/sspmv/test/fixtures/row_major_xoyt.json
  lib/node_modules/@stdlib/blas/base/sspmv/test/fixtures/row_major_xpyn.json
  lib/node_modules/@stdlib/blas/base/sspmv/test/fixtures/row_major_xpyp.json
  lib/node_modules/@stdlib/blas/base/sspmv/test/test.js
  lib/node_modules/@stdlib/blas/base/sspmv/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/sspmv/test/test.sspmv.js
Labels: BLAS

#2270 feat: add `blas/base/scnrm2`
  lib/node_modules/@stdlib/blas/base/scnrm2/README.md
  lib/node_modules/@stdlib/blas/base/scnrm2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/scnrm2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/scnrm2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/scnrm2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/scnrm2/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/base/scnrm2/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/scnrm2/benchmark/fortran/Makefile
  lib/node_modules/@stdlib/blas/base/scnrm2/benchmark/fortran/benchmark.length.f
  lib/node_modules/@stdlib/blas/base/scnrm2/binding.gyp
  lib/node_modules/@stdlib/blas/base/scnrm2/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/scnrm2/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/scnrm2/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/scnrm2/examples/c/Makefile
  lib/node_modules/@stdlib/blas/base/scnrm2/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/scnrm2/examples/index.js
  lib/node_modules/@stdlib/blas/base/scnrm2/include.gypi
  lib/node_modules/@stdlib/blas/base/scnrm2/include/stdlib/blas/base/scnrm2.h
  lib/node_modules/@stdlib/blas/base/scnrm2/include/stdlib/blas/base/scnrm2_cblas.h
  lib/node_modules/@stdlib/blas/base/scnrm2/include/stdlib/blas/base/scnrm2_fortran.h
  lib/node_modules/@stdlib/blas/base/scnrm2/lib/index.js
  lib/node_modules/@stdlib/blas/base/scnrm2/lib/main.js
  lib/node_modules/@stdlib/blas/base/scnrm2/lib/native.js
  lib/node_modules/@stdlib/blas/base/scnrm2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/scnrm2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/scnrm2/lib/scnrm2.js
  lib/node_modules/@stdlib/blas/base/scnrm2/lib/scnrm2.native.js
  lib/node_modules/@stdlib/blas/base/scnrm2/manifest.json
  lib/node_modules/@stdlib/blas/base/scnrm2/package.json
  lib/node_modules/@stdlib/blas/base/scnrm2/src/Makefile
  lib/node_modules/@stdlib/blas/base/scnrm2/src/addon.c
  lib/node_modules/@stdlib/blas/base/scnrm2/src/scnrm2.c
  lib/node_modules/@stdlib/blas/base/scnrm2/src/scnrm2.f
  lib/node_modules/@stdlib/blas/base/scnrm2/src/scnrm2_cblas.c
  lib/node_modules/@stdlib/blas/base/scnrm2/src/scnrm2_f.c
  lib/node_modules/@stdlib/blas/base/scnrm2/src/scnrm2sub.f
  lib/node_modules/@stdlib/blas/base/scnrm2/test/test.js
  lib/node_modules/@stdlib/blas/base/scnrm2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/scnrm2/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/scnrm2/test/test.scnrm2.js
  lib/node_modules/@stdlib/blas/base/scnrm2/test/test.scnrm2.native.js
Labels: Feature, BLAS

#2431 docs: update repl documentation for ComplexArray
  lib/node_modules/@stdlib/array/complex128/docs/repl.txt
  lib/node_modules/@stdlib/array/complex64/docs/repl.txt
Labels: Documentation

#2432 feat: add `indexOf` and `lastIndexOf` methods to `array/bool`
  lib/node_modules/@stdlib/array/bool/README.md
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.index_of.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.index_of.length.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.last_index_of.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.last_index_of.length.js
  lib/node_modules/@stdlib/array/bool/docs/repl.txt
  lib/node_modules/@stdlib/array/bool/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/bool/lib/main.js
  lib/node_modules/@stdlib/array/bool/test/test.index_of.js
  lib/node_modules/@stdlib/array/bool/test/test.last_index_of.js
Labels: Feature

#2435 feat: add REPL text lint rule to catch semicolon omission in examples
  lib/node_modules/@stdlib/_tools/repl-txt/rules/code-semicolons/lib/main.js
  lib/node_modules/@stdlib/_tools/repl-txt/rules/code-semicolons/package.json
Labels: Tools, REPL

#2267 feat: add `blas/base/srotm`
  lib/node_modules/@stdlib/blas/base/srotm/README.md
  lib/node_modules/@stdlib/blas/base/srotm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/srotm/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/srotm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/srotm/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/srotm/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/base/srotm/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/srotm/benchmark/fortran/Makefile
  lib/node_modules/@stdlib/blas/base/srotm/benchmark/fortran/benchmark.length.f
  lib/node_modules/@stdlib/blas/base/srotm/binding.gyp
  lib/node_modules/@stdlib/blas/base/srotm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/srotm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/srotm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/srotm/examples/c/Makefile
  lib/node_modules/@stdlib/blas/base/srotm/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/srotm/examples/index.js
  lib/node_modules/@stdlib/blas/base/srotm/include.gypi
  lib/node_modules/@stdlib/blas/base/srotm/include/stdlib/blas/base/srotm.h
  lib/node_modules/@stdlib/blas/base/srotm/include/stdlib/blas/base/srotm_cblas.h
  lib/node_modules/@stdlib/blas/base/srotm/include/stdlib/blas/base/srotm_fortran.h
  lib/node_modules/@stdlib/blas/base/srotm/lib/index.js
  lib/node_modules/@stdlib/blas/base/srotm/lib/main.js
  lib/node_modules/@stdlib/blas/base/srotm/lib/native.js
  lib/node_modules/@stdlib/blas/base/srotm/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/srotm/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/srotm/lib/srotm.js
  lib/node_modules/@stdlib/blas/base/srotm/lib/srotm.native.js
  lib/node_modules/@stdlib/blas/base/srotm/manifest.json
  lib/node_modules/@stdlib/blas/base/srotm/package.json
  lib/node_modules/@stdlib/blas/base/srotm/src/Makefile
  lib/node_modules/@stdlib/blas/base/srotm/src/addon.c
  lib/node_modules/@stdlib/blas/base/srotm/src/srotm.c
  lib/node_modules/@stdlib/blas/base/srotm/src/srotm.f
  lib/node_modules/@stdlib/blas/base/srotm/src/srotm_cblas.c
  lib/node_modules/@stdlib/blas/base/srotm/src/srotm_f.c
  lib/node_modules/@stdlib/blas/base/srotm/test/test.js
  lib/node_modules/@stdlib/blas/base/srotm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/srotm/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/srotm/test/test.srotm.js
  lib/node_modules/@stdlib/blas/base/srotm/test/test.srotm.native.js
Labels: BLAS

#2441 feat: add `includes` method to `array/bool`
  lib/node_modules/@stdlib/array/bool/README.md
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.includes.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.includes.length.js
  lib/node_modules/@stdlib/array/bool/docs/repl.txt
  lib/node_modules/@stdlib/array/bool/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/bool/lib/main.js
  lib/node_modules/@stdlib/array/bool/test/test.includes.js
Labels: Feature

#2445 refactor: perform float32 emulation for `blas/base/srotm`
  lib/node_modules/@stdlib/blas/base/srotm/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/srotm/lib/srotm.js
Labels: BLAS

#2436 feat: add C implementation for `math/base/special/trunc2`
  lib/node_modules/@stdlib/math/base/special/trunc2/README.md
  lib/node_modules/@stdlib/math/base/special/trunc2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/trunc2/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/trunc2/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/trunc2/binding.gyp
  lib/node_modules/@stdlib/math/base/special/trunc2/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/trunc2/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/trunc2/include.gypi
  lib/node_modules/@stdlib/math/base/special/trunc2/include/stdlib/math/base/special/trunc2.h
  lib/node_modules/@stdlib/math/base/special/trunc2/lib/native.js
  lib/node_modules/@stdlib/math/base/special/trunc2/manifest.json
  lib/node_modules/@stdlib/math/base/special/trunc2/src/Makefile
  lib/node_modules/@stdlib/math/base/special/trunc2/src/addon.c
  lib/node_modules/@stdlib/math/base/special/trunc2/src/main.c
  lib/node_modules/@stdlib/math/base/special/trunc2/test/test.native.js
Labels: Math

#2443 feat: add C implementation for `math/base/special/cotd`
  lib/node_modules/@stdlib/math/base/special/cotd/README.md
  lib/node_modules/@stdlib/math/base/special/cotd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/cotd/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/cotd/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cotd/binding.gyp
  lib/node_modules/@stdlib/math/base/special/cotd/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/cotd/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/cotd/include.gypi
  lib/node_modules/@stdlib/math/base/special/cotd/include/stdlib/math/base/special/cotd.h
  lib/node_modules/@stdlib/math/base/special/cotd/lib/native.js
  lib/node_modules/@stdlib/math/base/special/cotd/manifest.json
  lib/node_modules/@stdlib/math/base/special/cotd/src/Makefile
  lib/node_modules/@stdlib/math/base/special/cotd/src/addon.c
  lib/node_modules/@stdlib/math/base/special/cotd/src/main.c
  lib/node_modules/@stdlib/math/base/special/cotd/test/test.native.js
Labels: Math

#2448 fix: update C examples and description for `blas/base/srotm`
  lib/node_modules/@stdlib/blas/base/srotm/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/srotm/src/srotm.f
Labels: BLAS

#2447 feat: add boolean dtype support to `array/base/cuevery`
  lib/node_modules/@stdlib/array/base/cuevery/lib/assign.js
  lib/node_modules/@stdlib/array/base/cuevery/test/test.assign.js
  lib/node_modules/@stdlib/array/base/cuevery/test/test.main.js
Labels: Enhancement

#2446 feat: add boolean dtype support to `array/base/cuany`
  lib/node_modules/@stdlib/array/base/cuany/lib/assign.js
  lib/node_modules/@stdlib/array/base/cuany/test/test.assign.js
  lib/node_modules/@stdlib/array/base/cuany/test/test.main.js
Labels: Enhancement

#2440 feat: add `iter/cuany`
  lib/node_modules/@stdlib/iter/cuany/README.md
  lib/node_modules/@stdlib/iter/cuany/benchmark/benchmark.js
  lib/node_modules/@stdlib/iter/cuany/docs/repl.txt
  lib/node_modules/@stdlib/iter/cuany/docs/types/index.d.ts
  lib/node_modules/@stdlib/iter/cuany/docs/types/test.ts
  lib/node_modules/@stdlib/iter/cuany/examples/index.js
  lib/node_modules/@stdlib/iter/cuany/lib/index.js
  lib/node_modules/@stdlib/iter/cuany/lib/main.js
  lib/node_modules/@stdlib/iter/cuany/package.json
  lib/node_modules/@stdlib/iter/cuany/test/test.js
Labels: Feature

#2266 feat: add `blas/base/drotm`
  lib/node_modules/@stdlib/blas/base/drotm/README.md
  lib/node_modules/@stdlib/blas/base/drotm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/drotm/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/drotm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/drotm/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/drotm/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/base/drotm/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/drotm/benchmark/fortran/Makefile
  lib/node_modules/@stdlib/blas/base/drotm/benchmark/fortran/benchmark.length.f
  lib/node_modules/@stdlib/blas/base/drotm/binding.gyp
  lib/node_modules/@stdlib/blas/base/drotm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/drotm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/drotm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/drotm/examples/c/Makefile
  lib/node_modules/@stdlib/blas/base/drotm/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/drotm/examples/index.js
  lib/node_modules/@stdlib/blas/base/drotm/include.gypi
  lib/node_modules/@stdlib/blas/base/drotm/include/stdlib/blas/base/drotm.h
  lib/node_modules/@stdlib/blas/base/drotm/include/stdlib/blas/base/drotm_cblas.h
  lib/node_modules/@stdlib/blas/base/drotm/include/stdlib/blas/base/drotm_fortran.h
  lib/node_modules/@stdlib/blas/base/drotm/lib/drotm.js
  lib/node_modules/@stdlib/blas/base/drotm/lib/drotm.native.js
  lib/node_modules/@stdlib/blas/base/drotm/lib/index.js
  lib/node_modules/@stdlib/blas/base/drotm/lib/main.js
  lib/node_modules/@stdlib/blas/base/drotm/lib/native.js
  lib/node_modules/@stdlib/blas/base/drotm/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/drotm/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/drotm/manifest.json
  lib/node_modules/@stdlib/blas/base/drotm/package.json
  lib/node_modules/@stdlib/blas/base/drotm/src/Makefile
  lib/node_modules/@stdlib/blas/base/drotm/src/addon.c
  lib/node_modules/@stdlib/blas/base/drotm/src/drotm.c
  lib/node_modules/@stdlib/blas/base/drotm/src/drotm.f
  lib/node_modules/@stdlib/blas/base/drotm/src/drotm_cblas.c
  lib/node_modules/@stdlib/blas/base/drotm/src/drotm_f.c
  lib/node_modules/@stdlib/blas/base/drotm/test/test.drotm.js
  lib/node_modules/@stdlib/blas/base/drotm/test/test.drotm.native.js
  lib/node_modules/@stdlib/blas/base/drotm/test/test.js
  lib/node_modules/@stdlib/blas/base/drotm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/drotm/test/test.ndarray.native.js
Labels: Feature, BLAS

#2449 test: add missing test for `math/base/special/cotd`
  lib/node_modules/@stdlib/math/base/special/cotd/test/test.js
  lib/node_modules/@stdlib/math/base/special/cotd/test/test.native.js
Labels: Math

#1298 chore: minor clean-up of `math/base/special/acsc`
  lib/node_modules/@stdlib/math/base/special/acsc/README.md
  lib/node_modules/@stdlib/math/base/special/acsc/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acsc/include/stdlib/math/base/special/acsc.h
  lib/node_modules/@stdlib/math/base/special/acsc/lib/native.js
  lib/node_modules/@stdlib/math/base/special/acsc/src/main.c
Labels: Feature, Math, Native Addons, C, Needs Changes

#2453 feat: add boolean dtype support to `array/base/take`
  lib/node_modules/@stdlib/array/base/take/lib/assign.js
  lib/node_modules/@stdlib/array/base/take/test/test.assign.js
  lib/node_modules/@stdlib/array/base/take/test/test.main.js
Labels: Enhancement

#2450 feat: add boolean dtype support to `array/base/mskfilter`
  lib/node_modules/@stdlib/array/base/mskfilter/lib/assign.js
  lib/node_modules/@stdlib/array/base/mskfilter/test/test.assign.js
  lib/node_modules/@stdlib/array/base/mskfilter/test/test.main.js
Labels: Enhancement

#2455 test: add test cases to ensure complete code coverage for `blas/base/srotm`
  lib/node_modules/@stdlib/blas/base/srotm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/srotm/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/srotm/test/test.srotm.js
  lib/node_modules/@stdlib/blas/base/srotm/test/test.srotm.native.js
Labels: Tests, BLAS

#2452 feat: add boolean dtype support to `array/base/mskreject`
  lib/node_modules/@stdlib/array/base/mskreject/lib/assign.js
  lib/node_modules/@stdlib/array/base/mskreject/test/test.assign.js
  lib/node_modules/@stdlib/array/base/mskreject/test/test.main.js
Labels: Enhancement

#2454 test: add test cases to ensure full code coverage for `blas/base/drotm`
  lib/node_modules/@stdlib/blas/base/drotm/test/test.drotm.js
  lib/node_modules/@stdlib/blas/base/drotm/test/test.drotm.native.js
  lib/node_modules/@stdlib/blas/base/drotm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/drotm/test/test.ndarray.native.js
Labels: BLAS

#2461 feat: add boolean dtype support to `array/full`
  lib/node_modules/@stdlib/array/full/README.md
  lib/node_modules/@stdlib/array/full/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/full/benchmark/benchmark.length.bool.js
  lib/node_modules/@stdlib/array/full/docs/repl.txt
  lib/node_modules/@stdlib/array/full/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/full/docs/types/test.ts
  lib/node_modules/@stdlib/array/full/test/test.js
Labels: Enhancement

#2462 feat: add boolean dtype support to `array/full-like`
  lib/node_modules/@stdlib/array/full-like/README.md
  lib/node_modules/@stdlib/array/full-like/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/full-like/benchmark/benchmark.length.bool.js
  lib/node_modules/@stdlib/array/full-like/docs/repl.txt
  lib/node_modules/@stdlib/array/full-like/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/full-like/docs/types/test.ts
  lib/node_modules/@stdlib/array/full-like/test/test.js
Labels: Enhancement

#2459 feat: add boolean dtype support to `array/empty`
  lib/node_modules/@stdlib/array/empty/README.md
  lib/node_modules/@stdlib/array/empty/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/empty/benchmark/benchmark.length.bool.js
  lib/node_modules/@stdlib/array/empty/docs/repl.txt
  lib/node_modules/@stdlib/array/empty/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/empty/docs/types/test.ts
  lib/node_modules/@stdlib/array/empty/package.json
  lib/node_modules/@stdlib/array/empty/test/test.main.js
  lib/node_modules/@stdlib/array/empty/test/test.polyfill.js
Labels: Enhancement

#2460 feat: add boolean dtype support to `array/empty-like`
  lib/node_modules/@stdlib/array/empty-like/README.md
  lib/node_modules/@stdlib/array/empty-like/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/empty-like/benchmark/benchmark.length.bool.js
  lib/node_modules/@stdlib/array/empty-like/docs/repl.txt
  lib/node_modules/@stdlib/array/empty-like/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/empty-like/docs/types/test.ts
  lib/node_modules/@stdlib/array/empty-like/package.json
  lib/node_modules/@stdlib/array/empty-like/test/test.js
Labels: Enhancement

#2457 fix: update paths, descriptions, and examples for `blas/base/scnrm2`
  lib/node_modules/@stdlib/blas/base/scnrm2/README.md
  lib/node_modules/@stdlib/blas/base/scnrm2/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/scnrm2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/scnrm2/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/scnrm2/test/test.scnrm2.js
  lib/node_modules/@stdlib/blas/base/scnrm2/test/test.scnrm2.native.js
Labels: BLAS

#2458 feat: add `blas/base/dsymv`
  lib/node_modules/@stdlib/blas/base/dsymv/README.md
  lib/node_modules/@stdlib/blas/base/dsymv/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/dsymv/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/dsymv/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/dsymv/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/dsymv/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/dsymv/examples/index.js
  lib/node_modules/@stdlib/blas/base/dsymv/lib/dsymv.js
  lib/node_modules/@stdlib/blas/base/dsymv/lib/index.js
  lib/node_modules/@stdlib/blas/base/dsymv/lib/main.js
  lib/node_modules/@stdlib/blas/base/dsymv/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/dsymv/package.json
  lib/node_modules/@stdlib/blas/base/dsymv/test/fixtures/column_major_xnyn.json
  lib/node_modules/@stdlib/blas/base/dsymv/test/fixtures/column_major_xnyp.json
  lib/node_modules/@stdlib/blas/base/dsymv/test/fixtures/column_major_xoyt.json
  lib/node_modules/@stdlib/blas/base/dsymv/test/fixtures/column_major_xpyn.json
  lib/node_modules/@stdlib/blas/base/dsymv/test/fixtures/column_major_xpyp.json
  lib/node_modules/@stdlib/blas/base/dsymv/test/fixtures/row_major_xnyn.json
  lib/node_modules/@stdlib/blas/base/dsymv/test/fixtures/row_major_xnyp.json
  lib/node_modules/@stdlib/blas/base/dsymv/test/fixtures/row_major_xoyt.json
  lib/node_modules/@stdlib/blas/base/dsymv/test/fixtures/row_major_xpyn.json
  lib/node_modules/@stdlib/blas/base/dsymv/test/fixtures/row_major_xpyp.json
  lib/node_modules/@stdlib/blas/base/dsymv/test/test.dsymv.js
  lib/node_modules/@stdlib/blas/base/dsymv/test/test.js
  lib/node_modules/@stdlib/blas/base/dsymv/test/test.ndarray.js
Labels: Feature, BLAS

#2456 feat: add `blas/base/dspmv`
  lib/node_modules/@stdlib/blas/base/dspmv/README.md
  lib/node_modules/@stdlib/blas/base/dspmv/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/dspmv/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/dspmv/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/dspmv/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/dspmv/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/dspmv/examples/index.js
  lib/node_modules/@stdlib/blas/base/dspmv/lib/dspmv.js
  lib/node_modules/@stdlib/blas/base/dspmv/lib/index.js
  lib/node_modules/@stdlib/blas/base/dspmv/lib/main.js
  lib/node_modules/@stdlib/blas/base/dspmv/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/dspmv/package.json
  lib/node_modules/@stdlib/blas/base/dspmv/test/fixtures/column_major_xnyn.json
  lib/node_modules/@stdlib/blas/base/dspmv/test/fixtures/column_major_xnyp.json
  lib/node_modules/@stdlib/blas/base/dspmv/test/fixtures/column_major_xoyt.json
  lib/node_modules/@stdlib/blas/base/dspmv/test/fixtures/column_major_xpyn.json
  lib/node_modules/@stdlib/blas/base/dspmv/test/fixtures/column_major_xpyp.json
  lib/node_modules/@stdlib/blas/base/dspmv/test/fixtures/row_major_xnyn.json
  lib/node_modules/@stdlib/blas/base/dspmv/test/fixtures/row_major_xnyp.json
  lib/node_modules/@stdlib/blas/base/dspmv/test/fixtures/row_major_xoyt.json
  lib/node_modules/@stdlib/blas/base/dspmv/test/fixtures/row_major_xpyn.json
  lib/node_modules/@stdlib/blas/base/dspmv/test/fixtures/row_major_xpyp.json
  lib/node_modules/@stdlib/blas/base/dspmv/test/test.dspmv.js
  lib/node_modules/@stdlib/blas/base/dspmv/test/test.js
  lib/node_modules/@stdlib/blas/base/dspmv/test/test.ndarray.js
Labels: Feature, BLAS

#1896 feat: add `utils/async/parallel`
  lib/node_modules/@stdlib/utils/async/parallel/README.md
  lib/node_modules/@stdlib/utils/async/parallel/benchmark/benchmark.factory.js
  lib/node_modules/@stdlib/utils/async/parallel/benchmark/benchmark.js
  lib/node_modules/@stdlib/utils/async/parallel/docs/repl.txt
  lib/node_modules/@stdlib/utils/async/parallel/docs/types/index.d.ts
  lib/node_modules/@stdlib/utils/async/parallel/docs/types/test.ts
  lib/node_modules/@stdlib/utils/async/parallel/examples/index.js
  lib/node_modules/@stdlib/utils/async/parallel/lib/factory.js
  lib/node_modules/@stdlib/utils/async/parallel/lib/index.js
  lib/node_modules/@stdlib/utils/async/parallel/lib/limit.js
  lib/node_modules/@stdlib/utils/async/parallel/lib/main.js
  lib/node_modules/@stdlib/utils/async/parallel/lib/validate.js
  lib/node_modules/@stdlib/utils/async/parallel/package.json
  lib/node_modules/@stdlib/utils/async/parallel/test/test.factory.js
  lib/node_modules/@stdlib/utils/async/parallel/test/test.js
  lib/node_modules/@stdlib/utils/async/parallel/test/test.main.js
  lib/node_modules/@stdlib/utils/async/parallel/test/test.validate.js
Labels: Feature, Utilities

#2472 feat: add `slice` and `subarray` methods to `array/bool`
  lib/node_modules/@stdlib/array/bool/README.md
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.slice.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.slice.length.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.subarray.js
  lib/node_modules/@stdlib/array/bool/benchmark/benchmark.subarray.length.js
  lib/node_modules/@stdlib/array/bool/docs/repl.txt
  lib/node_modules/@stdlib/array/bool/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/bool/lib/main.js
  lib/node_modules/@stdlib/array/bool/test/test.slice.js
  lib/node_modules/@stdlib/array/bool/test/test.subarray.js
Labels: Feature

#2473 feat: add boolean dtype support to `array/base/count-same-value`
  lib/node_modules/@stdlib/array/base/count-same-value/lib/main.js
  lib/node_modules/@stdlib/array/base/count-same-value/test/test.js
Labels: Enhancement

#2474 feat: add boolean dtype support to `array/base/count-same-value-zero`
  lib/node_modules/@stdlib/array/base/count-same-value-zero/lib/main.js
  lib/node_modules/@stdlib/array/base/count-same-value-zero/test/test.js
Labels: Enhancement

#2471 feat: add boolean dtype support to `array/filled`
  lib/node_modules/@stdlib/array/filled/README.md
  lib/node_modules/@stdlib/array/filled/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/filled/benchmark/benchmark.length.bool.js
  lib/node_modules/@stdlib/array/filled/docs/repl.txt
  lib/node_modules/@stdlib/array/filled/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/filled/lib/main.js
  lib/node_modules/@stdlib/array/filled/test/test.js
Labels: Enhancement

#2470 feat: add boolean dtype support to `array/from-scalar`
  lib/node_modules/@stdlib/array/from-scalar/README.md
  lib/node_modules/@stdlib/array/from-scalar/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/from-scalar/docs/repl.txt
  lib/node_modules/@stdlib/array/from-scalar/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/from-scalar/docs/types/test.ts
  lib/node_modules/@stdlib/array/from-scalar/lib/main.js
  lib/node_modules/@stdlib/array/from-scalar/test/test.js
Labels: Enhancement
