Repository stdlib-js/stdlib, pull requests merged in 2024-05, with the labels that each got.

#2216 feat: add `values` method to `array/complex128`
  lib/node_modules/@stdlib/array/complex128/README.md
  lib/node_modules/@stdlib/array/complex128/benchmark/benchmark.values.js
  lib/node_modules/@stdlib/array/complex128/benchmark/benchmark.values.length.js
  lib/node_modules/@stdlib/array/complex128/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/complex128/lib/main.js
  lib/node_modules/@stdlib/array/complex128/test/test.values.js
Labels: Feature

#2208 feat: add `toLocaleString` method to `array/complex64`
  lib/node_modules/@stdlib/array/complex64/README.md
  lib/node_modules/@stdlib/array/complex64/benchmark/benchmark.to_locale_string.js
  lib/node_modules/@stdlib/array/complex64/benchmark/benchmark.to_locale_string.length.js
  lib/node_modules/@stdlib/array/complex64/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/complex64/lib/main.js
  lib/node_modules/@stdlib/array/complex64/test/test.to_locale_string.js
Labels: Feature

#2227 refactor: update `blas/ext/base/snansum` to follow current project convention
  lib/node_modules/@stdlib/blas/ext/base/snansum/README.md
  lib/node_modules/@stdlib/blas/ext/base/snansum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/snansum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/snansum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/lib/snansum.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/lib/snansum.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/snansum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/snansum/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/snansum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/test/test.snansum.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/test/test.snansum.native.js
Labels: BLAS

#1967 feat: add `fs/append-file`
  lib/node_modules/@stdlib/fs/append-file/README.md
  lib/node_modules/@stdlib/fs/append-file/benchmark/benchmark.js
  lib/node_modules/@stdlib/fs/append-file/benchmark/fixtures/temp.txt
  lib/node_modules/@stdlib/fs/append-file/bin/cli
  lib/node_modules/@stdlib/fs/append-file/docs/repl.txt
  lib/node_modules/@stdlib/fs/append-file/docs/types/index.d.ts
  lib/node_modules/@stdlib/fs/append-file/docs/types/test.ts
  lib/node_modules/@stdlib/fs/append-file/docs/usage.txt
  lib/node_modules/@stdlib/fs/append-file/etc/cli_opts.json
  lib/node_modules/@stdlib/fs/append-file/examples/fixtures/file.txt
  lib/node_modules/@stdlib/fs/append-file/examples/index.js
  lib/node_modules/@stdlib/fs/append-file/lib/async.js
  lib/node_modules/@stdlib/fs/append-file/lib/index.js
  lib/node_modules/@stdlib/fs/append-file/lib/sync.js
  lib/node_modules/@stdlib/fs/append-file/package.json
  lib/node_modules/@stdlib/fs/append-file/test/fixtures/file.txt
  lib/node_modules/@stdlib/fs/append-file/test/fixtures/stdin_error.js.txt
  lib/node_modules/@stdlib/fs/append-file/test/fixtures/write_error.js.txt
  lib/node_modules/@stdlib/fs/append-file/test/test.async.js
  lib/node_modules/@stdlib/fs/append-file/test/test.cli.js
  lib/node_modules/@stdlib/fs/append-file/test/test.js
  lib/node_modules/@stdlib/fs/append-file/test/test.sync.js
Labels: Feature, Utilities, Ready to merge

#1705 feat: add `array/base/mskfilter-map`
  lib/node_modules/@stdlib/array/base/mskfilter-map/README.md
  lib/node_modules/@stdlib/array/base/mskfilter-map/benchmark/benchmark.assign.length.js
  lib/node_modules/@stdlib/array/base/mskfilter-map/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/mskfilter-map/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/array/base/mskfilter-map/docs/repl.txt
  lib/node_modules/@stdlib/array/base/mskfilter-map/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/mskfilter-map/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/mskfilter-map/examples/index.js
  lib/node_modules/@stdlib/array/base/mskfilter-map/lib/assign.js
  lib/node_modules/@stdlib/array/base/mskfilter-map/lib/index.js
  lib/node_modules/@stdlib/array/base/mskfilter-map/lib/main.js
  lib/node_modules/@stdlib/array/base/mskfilter-map/package.json
  lib/node_modules/@stdlib/array/base/mskfilter-map/test/test.assign.js
  lib/node_modules/@stdlib/array/base/mskfilter-map/test/test.js
  lib/node_modules/@stdlib/array/base/mskfilter-map/test/test.main.js
Labels: Feature, Utilities, JavaScript, Needs Changes

#2252 feat: add `toLocaleString` method to `array/complex128`
  lib/node_modules/@stdlib/array/complex128/README.md
  lib/node_modules/@stdlib/array/complex128/benchmark/benchmark.to_locale_string.js
  lib/node_modules/@stdlib/array/complex128/benchmark/benchmark.to_locale_string.length.js
  lib/node_modules/@stdlib/array/complex128/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/complex128/lib/main.js
  lib/node_modules/@stdlib/array/complex128/test/test.to_locale_string.js
Labels: Feature

#2234 build: add cspell ESLint plugin for spellchecking
  etc/eslint/plugins/index.js
  etc/eslint/rules/index.js
  etc/eslint/rules/spellcheck.js
  lib/node_modules/@stdlib/stats/lowess/lib/lowess.js
  lib/node_modules/@stdlib/string/num2words/lib/int2words_de.js
  lib/node_modules/@stdlib/string/tools/grapheme-cluster-break/lib/break_property.js
  lib/node_modules/@stdlib/string/tools/grapheme-cluster-break/lib/emoji_property.js
  package.json
Labels: Tools

#2236 chore: upgrade OpenBLAS to v0.3.27
  deps/checksums/openblas_0_3_27_tar_gz/sha256
  tools/make/common.mk
  tools/make/lib/install/openblas.mk
Labels: Tools

#1753 docs: update examples in `stats/base/dists/uniform`
  lib/node_modules/@stdlib/stats/base/dists/uniform/README.md
  lib/node_modules/@stdlib/stats/base/dists/uniform/examples/index.js
Labels: Documentation, Needs Changes

#2259 feat: add `sort` method to `array/complex64`
  lib/node_modules/@stdlib/array/complex64/README.md
  lib/node_modules/@stdlib/array/complex64/benchmark/benchmark.sort.js
  lib/node_modules/@stdlib/array/complex64/benchmark/benchmark.sort.length.js
  lib/node_modules/@stdlib/array/complex64/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/complex64/lib/main.js
  lib/node_modules/@stdlib/array/complex64/test/test.sort.js
Labels: Feature

#2262 feat: add `sort` method to `array/complex128`
  lib/node_modules/@stdlib/array/complex128/README.md
  lib/node_modules/@stdlib/array/complex128/benchmark/benchmark.sort.js
  lib/node_modules/@stdlib/array/complex128/benchmark/benchmark.sort.length.js
  lib/node_modules/@stdlib/array/complex128/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/complex128/lib/main.js
  lib/node_modules/@stdlib/array/complex128/test/test.sort.js
Labels: Feature

#2263 feat: add `toSorted` method to `array/complex64`
  lib/node_modules/@stdlib/array/complex64/README.md
  lib/node_modules/@stdlib/array/complex64/benchmark/benchmark.to_sorted.js
  lib/node_modules/@stdlib/array/complex64/benchmark/benchmark.to_sorted.length.js
  lib/node_modules/@stdlib/array/complex64/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/complex64/lib/main.js
  lib/node_modules/@stdlib/array/complex64/test/test.to_sorted.js
Labels: Feature

#2265 feat: add `toSorted` method to `array/complex128`
  lib/node_modules/@stdlib/array/complex128/README.md
  lib/node_modules/@stdlib/array/complex128/benchmark/benchmark.to_sorted.js
  lib/node_modules/@stdlib/array/complex128/benchmark/benchmark.to_sorted.length.js
  lib/node_modules/@stdlib/array/complex128/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/complex128/lib/main.js
  lib/node_modules/@stdlib/array/complex128/test/test.to_sorted.js
Labels: Feature

#2272 feat: add C implementation for `math/base/special/fibonacci-index`
  lib/node_modules/@stdlib/math/base/special/fibonacci-index/README.md
  lib/node_modules/@stdlib/math/base/special/fibonacci-index/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fibonacci-index/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fibonacci-index/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fibonacci-index/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fibonacci-index/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fibonacci-index/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fibonacci-index/include.gypi
  lib/node_modules/@stdlib/math/base/special/fibonacci-index/include/stdlib/math/base/special/fibonacci_index.h
  lib/node_modules/@stdlib/math/base/special/fibonacci-index/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fibonacci-index/manifest.json
  lib/node_modules/@stdlib/math/base/special/fibonacci-index/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fibonacci-index/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fibonacci-index/src/main.c
  lib/node_modules/@stdlib/math/base/special/fibonacci-index/test/test.native.js
Labels: Math

#2275 docs: Added `repl.txt` to `array/complex64`
  lib/node_modules/@stdlib/array/complex64/docs/repl.txt
Labels: Documentation

#1813 feat: add C implementation for `math/base/special/negafibonacci`
  lib/node_modules/@stdlib/math/base/special/negafibonacci/README.md
  lib/node_modules/@stdlib/math/base/special/negafibonacci/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/negafibonacci/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/negafibonacci/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/negafibonacci/binding.gyp
  lib/node_modules/@stdlib/math/base/special/negafibonacci/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/negafibonacci/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/negafibonacci/include.gypi
  lib/node_modules/@stdlib/math/base/special/negafibonacci/include/stdlib/math/base/special/negafibonacci.h
  lib/node_modules/@stdlib/math/base/special/negafibonacci/lib/native.js
  lib/node_modules/@stdlib/math/base/special/negafibonacci/manifest.json
  lib/node_modules/@stdlib/math/base/special/negafibonacci/src/Makefile
  lib/node_modules/@stdlib/math/base/special/negafibonacci/src/addon.c
  lib/node_modules/@stdlib/math/base/special/negafibonacci/src/main.c
  lib/node_modules/@stdlib/math/base/special/negafibonacci/test/test.native.js
Labels: Feature, Math, Native Addons, C

#2215 refactor: update `math/base/special/log10` to follow FreeBSD version `12.2.0`
  lib/node_modules/@stdlib/math/base/special/log10/lib/main.js
  lib/node_modules/@stdlib/math/base/special/log10/manifest.json
  lib/node_modules/@stdlib/math/base/special/log10/src/main.c
  lib/node_modules/@stdlib/math/base/special/log10/test/test.native.js
Labels: Math, C

#2254 feat: add syntax highlighting in the REPL
  lib/node_modules/@stdlib/repl/lib/ansi_colors.js
  lib/node_modules/@stdlib/repl/lib/complete_expression.js
  lib/node_modules/@stdlib/repl/lib/main.js
  lib/node_modules/@stdlib/repl/lib/resolve_globals.js
  lib/node_modules/@stdlib/repl/lib/resolve_local_scopes.js
  lib/node_modules/@stdlib/repl/lib/syntax_highlighter.js
  lib/node_modules/@stdlib/repl/lib/themes.js
  lib/node_modules/@stdlib/repl/lib/tokenizer.js
Labels: Enhancement, REPL
