Repository stdlib-js/stdlib, pull requests merged in 2024-04, with the labels that each got.

#2111 feat: add `math/base/special/acscf`
  lib/node_modules/@stdlib/math/base/special/acscf/README.md
  lib/node_modules/@stdlib/math/base/special/acscf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acscf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acscf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/acscf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acscf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/acscf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/acscf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/acscf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/acscf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/acscf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/acscf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/acscf/include.gypi
  lib/node_modules/@stdlib/math/base/special/acscf/include/stdlib/math/base/special/acscf.h
  lib/node_modules/@stdlib/math/base/special/acscf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/acscf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/acscf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/acscf/manifest.json
  lib/node_modules/@stdlib/math/base/special/acscf/package.json
  lib/node_modules/@stdlib/math/base/special/acscf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/acscf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/acscf/src/main.c
  lib/node_modules/@stdlib/math/base/special/acscf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/acscf/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/acscf/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/acscf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/acscf/test/test.js
  lib/node_modules/@stdlib/math/base/special/acscf/test/test.native.js
Labels: Feature, Math

#2064 feat: add `blas/base/zcopy`
  lib/node_modules/@stdlib/blas/base/zcopy/README.md
  lib/node_modules/@stdlib/blas/base/zcopy/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/zcopy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/zcopy/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/zcopy/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/zcopy/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/base/zcopy/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/zcopy/benchmark/fortran/Makefile
  lib/node_modules/@stdlib/blas/base/zcopy/benchmark/fortran/benchmark.length.f
  lib/node_modules/@stdlib/blas/base/zcopy/binding.gyp
  lib/node_modules/@stdlib/blas/base/zcopy/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/zcopy/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/zcopy/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/zcopy/examples/c/Makefile
  lib/node_modules/@stdlib/blas/base/zcopy/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/zcopy/examples/index.js
  lib/node_modules/@stdlib/blas/base/zcopy/include.gypi
  lib/node_modules/@stdlib/blas/base/zcopy/include/stdlib/blas/base/zcopy.h
  lib/node_modules/@stdlib/blas/base/zcopy/include/stdlib/blas/base/zcopy_cblas.h
  lib/node_modules/@stdlib/blas/base/zcopy/include/stdlib/blas/base/zcopy_fortran.h
  lib/node_modules/@stdlib/blas/base/zcopy/lib/index.js
  lib/node_modules/@stdlib/blas/base/zcopy/lib/main.js
  lib/node_modules/@stdlib/blas/base/zcopy/lib/native.js
  lib/node_modules/@stdlib/blas/base/zcopy/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/zcopy/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/zcopy/lib/zcopy.js
  lib/node_modules/@stdlib/blas/base/zcopy/lib/zcopy.native.js
  lib/node_modules/@stdlib/blas/base/zcopy/manifest.json
  lib/node_modules/@stdlib/blas/base/zcopy/package.json
  lib/node_modules/@stdlib/blas/base/zcopy/src/Makefile
  lib/node_modules/@stdlib/blas/base/zcopy/src/addon.c
  lib/node_modules/@stdlib/blas/base/zcopy/src/zcopy.c
  lib/node_modules/@stdlib/blas/base/zcopy/src/zcopy.f
  lib/node_modules/@stdlib/blas/base/zcopy/src/zcopy_cblas.c
  lib/node_modules/@stdlib/blas/base/zcopy/src/zcopy_f.c
  lib/node_modules/@stdlib/blas/base/zcopy/test/test.js
  lib/node_modules/@stdlib/blas/base/zcopy/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/zcopy/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/zcopy/test/test.zcopy.js
  lib/node_modules/@stdlib/blas/base/zcopy/test/test.zcopy.native.js
Labels: Feature, BLAS

#2115 fix: correctly handle signed zeroes in `math/base/special/atanf`
  lib/node_modules/@stdlib/math/base/special/atanf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/atanf/src/main.c
  lib/node_modules/@stdlib/math/base/special/atanf/test/test.js
  lib/node_modules/@stdlib/math/base/special/atanf/test/test.native.js
Labels: Math

#2075 feat: add `blas/base/zswap`
  lib/node_modules/@stdlib/blas/base/zswap/README.md
  lib/node_modules/@stdlib/blas/base/zswap/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/zswap/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/zswap/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/zswap/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/zswap/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/base/zswap/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/zswap/benchmark/fortran/Makefile
  lib/node_modules/@stdlib/blas/base/zswap/benchmark/fortran/benchmark.length.f
  lib/node_modules/@stdlib/blas/base/zswap/binding.gyp
  lib/node_modules/@stdlib/blas/base/zswap/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/zswap/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/zswap/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/zswap/examples/c/Makefile
  lib/node_modules/@stdlib/blas/base/zswap/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/zswap/examples/index.js
  lib/node_modules/@stdlib/blas/base/zswap/include.gypi
  lib/node_modules/@stdlib/blas/base/zswap/include/stdlib/blas/base/zswap.h
  lib/node_modules/@stdlib/blas/base/zswap/include/stdlib/blas/base/zswap_cblas.h
  lib/node_modules/@stdlib/blas/base/zswap/include/stdlib/blas/base/zswap_fortran.h
  lib/node_modules/@stdlib/blas/base/zswap/lib/index.js
  lib/node_modules/@stdlib/blas/base/zswap/lib/main.js
  lib/node_modules/@stdlib/blas/base/zswap/lib/native.js
  lib/node_modules/@stdlib/blas/base/zswap/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/zswap/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/zswap/lib/zswap.js
  lib/node_modules/@stdlib/blas/base/zswap/lib/zswap.native.js
  lib/node_modules/@stdlib/blas/base/zswap/manifest.json
  lib/node_modules/@stdlib/blas/base/zswap/package.json
  lib/node_modules/@stdlib/blas/base/zswap/src/Makefile
  lib/node_modules/@stdlib/blas/base/zswap/src/addon.c
  lib/node_modules/@stdlib/blas/base/zswap/src/zswap.c
  lib/node_modules/@stdlib/blas/base/zswap/src/zswap.f
  lib/node_modules/@stdlib/blas/base/zswap/src/zswap_cblas.c
  lib/node_modules/@stdlib/blas/base/zswap/src/zswap_f.c
  lib/node_modules/@stdlib/blas/base/zswap/test/test.js
  lib/node_modules/@stdlib/blas/base/zswap/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/zswap/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/zswap/test/test.zswap.js
  lib/node_modules/@stdlib/blas/base/zswap/test/test.zswap.native.js
Labels: Feature, BLAS, Needs Changes

#2117 feat: add `math/base/special/acotf`
  lib/node_modules/@stdlib/math/base/special/acotf/README.md
  lib/node_modules/@stdlib/math/base/special/acotf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acotf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acotf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/acotf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acotf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/acotf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/acotf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/acotf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/acotf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/acotf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/acotf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/acotf/include.gypi
  lib/node_modules/@stdlib/math/base/special/acotf/include/stdlib/math/base/special/acotf.h
  lib/node_modules/@stdlib/math/base/special/acotf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/acotf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/acotf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/acotf/manifest.json
  lib/node_modules/@stdlib/math/base/special/acotf/package.json
  lib/node_modules/@stdlib/math/base/special/acotf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/acotf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/acotf/src/main.c
  lib/node_modules/@stdlib/math/base/special/acotf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/acotf/test/fixtures/julia/huge_negative.json
  lib/node_modules/@stdlib/math/base/special/acotf/test/fixtures/julia/huge_positive.json
  lib/node_modules/@stdlib/math/base/special/acotf/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/acotf/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/acotf/test/fixtures/julia/larger_negative.json
  lib/node_modules/@stdlib/math/base/special/acotf/test/fixtures/julia/larger_positive.json
  lib/node_modules/@stdlib/math/base/special/acotf/test/fixtures/julia/medium_negative.json
  lib/node_modules/@stdlib/math/base/special/acotf/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/acotf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/acotf/test/test.js
  lib/node_modules/@stdlib/math/base/special/acotf/test/test.native.js
Labels: Feature, Math, Native Addons, Base, C, Ready to merge

#2120 feat: add `math/base/special/asecf`
  lib/node_modules/@stdlib/math/base/special/asecf/README.md
  lib/node_modules/@stdlib/math/base/special/asecf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/asecf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/asecf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/asecf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/asecf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/asecf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/asecf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/asecf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/asecf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/asecf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/asecf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/asecf/include.gypi
  lib/node_modules/@stdlib/math/base/special/asecf/include/stdlib/math/base/special/asecf.h
  lib/node_modules/@stdlib/math/base/special/asecf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/asecf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/asecf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/asecf/manifest.json
  lib/node_modules/@stdlib/math/base/special/asecf/package.json
  lib/node_modules/@stdlib/math/base/special/asecf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/asecf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/asecf/src/main.c
  lib/node_modules/@stdlib/math/base/special/asecf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/asecf/test/fixtures/julia/huge_negative.json
  lib/node_modules/@stdlib/math/base/special/asecf/test/fixtures/julia/huge_positive.json
  lib/node_modules/@stdlib/math/base/special/asecf/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/asecf/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/asecf/test/fixtures/julia/larger_negative.json
  lib/node_modules/@stdlib/math/base/special/asecf/test/fixtures/julia/larger_positive.json
  lib/node_modules/@stdlib/math/base/special/asecf/test/fixtures/julia/medium_negative.json
  lib/node_modules/@stdlib/math/base/special/asecf/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/asecf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/asecf/test/test.js
  lib/node_modules/@stdlib/math/base/special/asecf/test/test.native.js
Labels: Feature, Math

#2123 refactor: generated fixtures using `asec`, updated `package.json`
  lib/node_modules/@stdlib/math/base/special/asec/package.json
  lib/node_modules/@stdlib/math/base/special/asec/test/fixtures/julia/runner.jl
Labels: Math

#2127 feat: add `math/base/special/rad2degf`
  lib/node_modules/@stdlib/math/base/special/rad2degf/README.md
  lib/node_modules/@stdlib/math/base/special/rad2degf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/rad2degf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/rad2degf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/rad2degf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/rad2degf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/rad2degf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/rad2degf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/rad2degf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/rad2degf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/rad2degf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/rad2degf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/rad2degf/include.gypi
  lib/node_modules/@stdlib/math/base/special/rad2degf/include/stdlib/math/base/special/rad2degf.h
  lib/node_modules/@stdlib/math/base/special/rad2degf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/rad2degf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/rad2degf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/rad2degf/manifest.json
  lib/node_modules/@stdlib/math/base/special/rad2degf/package.json
  lib/node_modules/@stdlib/math/base/special/rad2degf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/rad2degf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/rad2degf/src/main.c
  lib/node_modules/@stdlib/math/base/special/rad2degf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/rad2degf/test/fixtures/julia/data.json
  lib/node_modules/@stdlib/math/base/special/rad2degf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/rad2degf/test/test.js
  lib/node_modules/@stdlib/math/base/special/rad2degf/test/test.native.js
Labels: Math

#2132 feat: add `math/base/special/asindf`
  lib/node_modules/@stdlib/math/base/special/asindf/README.md
  lib/node_modules/@stdlib/math/base/special/asindf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/asindf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/asindf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/asindf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/asindf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/asindf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/asindf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/asindf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/asindf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/asindf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/asindf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/asindf/include.gypi
  lib/node_modules/@stdlib/math/base/special/asindf/include/stdlib/math/base/special/asindf.h
  lib/node_modules/@stdlib/math/base/special/asindf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/asindf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/asindf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/asindf/manifest.json
  lib/node_modules/@stdlib/math/base/special/asindf/package.json
  lib/node_modules/@stdlib/math/base/special/asindf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/asindf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/asindf/src/main.c
  lib/node_modules/@stdlib/math/base/special/asindf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/asindf/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/asindf/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/asindf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/asindf/test/test.js
  lib/node_modules/@stdlib/math/base/special/asindf/test/test.native.js
Labels: Math

#2138 refactor: decrease tolerance and clean-up `math/base/special/asind`
  lib/node_modules/@stdlib/math/base/special/asind/README.md
  lib/node_modules/@stdlib/math/base/special/asind/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/asind/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/asind/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/asind/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/asind/lib/index.js
  lib/node_modules/@stdlib/math/base/special/asind/lib/main.js
  lib/node_modules/@stdlib/math/base/special/asind/lib/native.js
  lib/node_modules/@stdlib/math/base/special/asind/src/main.c
  lib/node_modules/@stdlib/math/base/special/asind/test/test.js
  lib/node_modules/@stdlib/math/base/special/asind/test/test.native.js
Labels: Feature, Math

#2148 feat: add `math/base/special/acscdf`
  lib/node_modules/@stdlib/math/base/special/acscdf/README.md
  lib/node_modules/@stdlib/math/base/special/acscdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acscdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acscdf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/acscdf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acscdf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/acscdf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/acscdf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/acscdf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/acscdf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/acscdf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/acscdf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/acscdf/include.gypi
  lib/node_modules/@stdlib/math/base/special/acscdf/include/stdlib/math/base/special/acscdf.h
  lib/node_modules/@stdlib/math/base/special/acscdf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/acscdf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/acscdf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/acscdf/manifest.json
  lib/node_modules/@stdlib/math/base/special/acscdf/package.json
  lib/node_modules/@stdlib/math/base/special/acscdf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/acscdf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/acscdf/src/main.c
  lib/node_modules/@stdlib/math/base/special/acscdf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/acscdf/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/acscdf/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/acscdf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/acscdf/test/test.js
  lib/node_modules/@stdlib/math/base/special/acscdf/test/test.native.js
Labels: Needs Review, Math, Native Addons, C

#2144 feat: add `math/base/special/kernel-log1p`
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/LICENSE
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/README.md
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/binding.gyp
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/examples/index.js
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/include.gypi
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/include/stdlib/math/base/special/kernel_log1p.h
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/lib/index.js
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/lib/main.js
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/lib/native.js
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/lib/polyval_p.js
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/lib/polyval_q.js
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/manifest.json
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/package.json
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/src/Makefile
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/src/addon.c
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/src/main.c
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/test/test.js
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/test/test.native.js
Labels: Math

#1706 feat: add `values` method to `array/complex64`
  lib/node_modules/@stdlib/array/complex64/README.md
  lib/node_modules/@stdlib/array/complex64/benchmark/benchmark.values.js
  lib/node_modules/@stdlib/array/complex64/benchmark/benchmark.values.length.js
  lib/node_modules/@stdlib/array/complex64/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/complex64/lib/main.js
  lib/node_modules/@stdlib/array/complex64/test/test.values.js
Labels: Enhancement

#1773 refactor: update `blas/ext/base/sdsnansum` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/README.md
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/package.json
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/test/test.sdsnansum.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/test/test.sdsnansum.native.js
Labels: Needs Review, Native Addons, BLAS, C

#2077 update: refactor `blas/ext/base/dnanasumors` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/test/test.dnanasumors.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/test/test.dnanasumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/test/test.ndarray.native.js
Labels: Native Addons, BLAS, C, Ready to merge

#2001 refactor: update `blas/ext/base/dsnansum` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dsnansum/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsnansum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsnansum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansum/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dsnansum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsnansum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsnansum/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dsnansum/test/test.dsnansum.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansum/test/test.dsnansum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansum/test/test.ndarray.native.js
Labels: Enhancement, Native Addons, BLAS, C, Needs Changes

#2056 refactor update `blas/ext/base/dsnansumors` follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/test/test.dsnansumors.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/test/test.dsnansumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsnansumors/test/test.ndarray.native.js
Labels: Native Addons, BLAS, C, Ready to merge

#1994 refactor: update `blas/ext/base/dsumpw` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/test/test.dsumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/test/test.dsumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/test/test.ndarray.native.js
Labels: Native Addons, BLAS, C, Needs Changes

#1999 refactor: update `blas/ext/base/dssumpw` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/package.json
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/test/test.dssumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/test/test.dssumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dssumpw/test/test.ndarray.native.js
Labels: Enhancement, Native Addons, BLAS, C, Needs Changes

#2093 refactor: update `blas/ext/base/dsumkbn` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/package.json
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/test/test.dsumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/test/test.dsumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn/test/test.ndarray.native.js
Labels: BLAS

#1711 refactor: update `blas/ext/base/snansumpw` to follow current projects conventions
  lib/node_modules/@stdlib/blas/ext/base/snansumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/snansumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/snansumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/snansumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/snansumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/snansumpw/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/snansumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/snansumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/snansumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/snansumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/snansumpw/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/snansumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/snansumpw/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansumpw/test/test.snansumpw.js
  lib/node_modules/@stdlib/blas/ext/base/snansumpw/test/test.snansumpw.native.js
Labels: Needs Review, Native Addons, BLAS, C

#2053 refactor: update `blas/ext/base/dssumors` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dssumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dssumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dssumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dssumors/lib/dssumors.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/lib/dssumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dssumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dssumors/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dssumors/test/test.dssumors.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/test/test.dssumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dssumors/test/test.ndarray.native.js
Labels: Native Addons, BLAS, C, Ready to merge

#2080 refactor: update `blas/ext/base/sdssum` to follow current project conve…
  lib/node_modules/@stdlib/blas/ext/base/sdssum/README.md
  lib/node_modules/@stdlib/blas/ext/base/sdssum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sdssum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/sdssum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sdssum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sdssum/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/sdssum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/test/test.sdssum.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/test/test.sdssum.native.js
Labels: Native Addons, BLAS, C, Ready to merge

#2160 feat: add `keys` method to `array/complex64`
  lib/node_modules/@stdlib/array/complex64/README.md
  lib/node_modules/@stdlib/array/complex64/benchmark/benchmark.keys.js
  lib/node_modules/@stdlib/array/complex64/benchmark/benchmark.keys.length.js
  lib/node_modules/@stdlib/array/complex64/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/complex64/lib/main.js
  lib/node_modules/@stdlib/array/complex64/test/test.keys.js
Labels: Enhancement

#1740 refactor: update `blas/ext/base/sdssumpw` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/sdssumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/sdssumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sdssumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdssumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdssumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdssumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sdssumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sdssumpw/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/sdssumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/sdssumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdssumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdssumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sdssumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sdssumpw/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/sdssumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdssumpw/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdssumpw/test/test.sdssumpw.js
  lib/node_modules/@stdlib/blas/ext/base/sdssumpw/test/test.sdssumpw.native.js
Labels: Enhancement, Needs Review, Native Addons, BLAS, C, Ready to merge

#2019 refactor: update `blas/ext/base/dnannsum` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/test/test.dnannsum.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/test/test.dnannsum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/test/test.ndarray.native.js
Labels: Native Addons, BLAS, C, Needs Changes

#2057 refactor: update `blas/ext/base/dnansumors` follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/test/test.dnansumors.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/test/test.dnansumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/test/test.ndarray.native.js
Labels: Needs Review, Native Addons, BLAS, C

#2176 refactor: update `math/base/special/log10` to freeBSD version `12.2.0`
  lib/node_modules/@stdlib/math/base/special/log10/lib/klog.js
  lib/node_modules/@stdlib/math/base/special/log10/lib/main.js
  lib/node_modules/@stdlib/math/base/special/log10/lib/polyval_p.js
  lib/node_modules/@stdlib/math/base/special/log10/lib/polyval_q.js
  lib/node_modules/@stdlib/math/base/special/log10/package.json
  lib/node_modules/@stdlib/math/base/special/log10/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/log10/test/test.js
  lib/node_modules/@stdlib/math/base/special/log10/test/test.klog.js
Labels: Math

#2152 feat: add `blas/base/idamax`
  lib/node_modules/@stdlib/blas/base/idamax/README.md
  lib/node_modules/@stdlib/blas/base/idamax/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/idamax/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/idamax/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/idamax/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/idamax/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/base/idamax/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/idamax/benchmark/fortran/Makefile
  lib/node_modules/@stdlib/blas/base/idamax/benchmark/fortran/benchmark.length.f
  lib/node_modules/@stdlib/blas/base/idamax/binding.gyp
  lib/node_modules/@stdlib/blas/base/idamax/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/idamax/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/idamax/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/idamax/examples/c/Makefile
  lib/node_modules/@stdlib/blas/base/idamax/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/idamax/examples/index.js
  lib/node_modules/@stdlib/blas/base/idamax/include.gypi
  lib/node_modules/@stdlib/blas/base/idamax/include/stdlib/blas/base/idamax.h
  lib/node_modules/@stdlib/blas/base/idamax/include/stdlib/blas/base/idamax_cblas.h
  lib/node_modules/@stdlib/blas/base/idamax/include/stdlib/blas/base/idamax_fortran.h
  lib/node_modules/@stdlib/blas/base/idamax/lib/idamax.js
  lib/node_modules/@stdlib/blas/base/idamax/lib/idamax.native.js
  lib/node_modules/@stdlib/blas/base/idamax/lib/index.js
  lib/node_modules/@stdlib/blas/base/idamax/lib/main.js
  lib/node_modules/@stdlib/blas/base/idamax/lib/native.js
  lib/node_modules/@stdlib/blas/base/idamax/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/idamax/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/idamax/manifest.json
  lib/node_modules/@stdlib/blas/base/idamax/package.json
  lib/node_modules/@stdlib/blas/base/idamax/src/Makefile
  lib/node_modules/@stdlib/blas/base/idamax/src/addon.c
  lib/node_modules/@stdlib/blas/base/idamax/src/idamax.c
  lib/node_modules/@stdlib/blas/base/idamax/src/idamax.f
  lib/node_modules/@stdlib/blas/base/idamax/src/idamax_cblas.c
  lib/node_modules/@stdlib/blas/base/idamax/src/idamax_f.c
  lib/node_modules/@stdlib/blas/base/idamax/src/idamaxsub.f
  lib/node_modules/@stdlib/blas/base/idamax/test/test.idamax.js
  lib/node_modules/@stdlib/blas/base/idamax/test/test.idamax.native.js
  lib/node_modules/@stdlib/blas/base/idamax/test/test.js
  lib/node_modules/@stdlib/blas/base/idamax/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/idamax/test/test.ndarray.native.js
Labels: Feature, Native Addons, BLAS, Fortran, C

#2178 feat: add a stdlib ASCII art in REPL's default welcome message
  lib/node_modules/@stdlib/repl/lib/welcome_text.js
Labels: Enhancement, REPL

#2082 refactor: update `blas/ext/base/dnannsumors` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/test/test.dnannsumors.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/test/test.dnannsumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/test/test.ndarray.native.js
Labels: Needs Review, Native Addons, BLAS, C

#1809 refactor: update `blas/ext/base/sfill` to follow current projects conventions
  lib/node_modules/@stdlib/blas/ext/base/sfill/README.md
  lib/node_modules/@stdlib/blas/ext/base/sfill/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sfill/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/sfill/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/sfill/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sfill/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sfill/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/sfill/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/test/test.sfill.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/test/test.sfill.native.js
Labels: Enhancement, Native Addons, BLAS, C, Needs Changes

#1745 feat: add `napi/argv-complex128`
  lib/node_modules/@stdlib/napi/argv-complex128/README.md
  lib/node_modules/@stdlib/napi/argv-complex128/binding.gyp
  lib/node_modules/@stdlib/napi/argv-complex128/docs/types/index.d.ts
  lib/node_modules/@stdlib/napi/argv-complex128/docs/types/test.ts
  lib/node_modules/@stdlib/napi/argv-complex128/examples/index.js
  lib/node_modules/@stdlib/napi/argv-complex128/include.gypi
  lib/node_modules/@stdlib/napi/argv-complex128/include/stdlib/napi/argv_complex128.h
  lib/node_modules/@stdlib/napi/argv-complex128/lib/browser.js
  lib/node_modules/@stdlib/napi/argv-complex128/lib/index.js
  lib/node_modules/@stdlib/napi/argv-complex128/lib/main.js
  lib/node_modules/@stdlib/napi/argv-complex128/lib/native.js
  lib/node_modules/@stdlib/napi/argv-complex128/manifest.json
  lib/node_modules/@stdlib/napi/argv-complex128/package.json
  lib/node_modules/@stdlib/napi/argv-complex128/src/Makefile
  lib/node_modules/@stdlib/napi/argv-complex128/src/addon.c
  lib/node_modules/@stdlib/napi/argv-complex128/src/main.c
  lib/node_modules/@stdlib/napi/argv-complex128/test/test.browser.js
  lib/node_modules/@stdlib/napi/argv-complex128/test/test.js
  lib/node_modules/@stdlib/napi/argv-complex128/test/test.native.js
Labels: Feature, Native Addons, C

#1823 feat: add `blas/base/drot`
  lib/node_modules/@stdlib/blas/base/drot/README.md
  lib/node_modules/@stdlib/blas/base/drot/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/drot/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/drot/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/drot/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/drot/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/base/drot/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/drot/benchmark/fortran/Makefile
  lib/node_modules/@stdlib/blas/base/drot/benchmark/fortran/benchmark.length.f
  lib/node_modules/@stdlib/blas/base/drot/binding.gyp
  lib/node_modules/@stdlib/blas/base/drot/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/drot/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/drot/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/drot/examples/c/Makefile
  lib/node_modules/@stdlib/blas/base/drot/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/drot/examples/index.js
  lib/node_modules/@stdlib/blas/base/drot/include.gypi
  lib/node_modules/@stdlib/blas/base/drot/include/stdlib/blas/base/drot.h
  lib/node_modules/@stdlib/blas/base/drot/include/stdlib/blas/base/drot_cblas.h
  lib/node_modules/@stdlib/blas/base/drot/include/stdlib/blas/base/drot_fortran.h
  lib/node_modules/@stdlib/blas/base/drot/lib/drot.js
  lib/node_modules/@stdlib/blas/base/drot/lib/drot.native.js
  lib/node_modules/@stdlib/blas/base/drot/lib/index.js
  lib/node_modules/@stdlib/blas/base/drot/lib/main.js
  lib/node_modules/@stdlib/blas/base/drot/lib/native.js
  lib/node_modules/@stdlib/blas/base/drot/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/drot/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/drot/manifest.json
  lib/node_modules/@stdlib/blas/base/drot/package.json
  lib/node_modules/@stdlib/blas/base/drot/src/Makefile
  lib/node_modules/@stdlib/blas/base/drot/src/addon.c
  lib/node_modules/@stdlib/blas/base/drot/src/drot.c
  lib/node_modules/@stdlib/blas/base/drot/src/drot.f
  lib/node_modules/@stdlib/blas/base/drot/src/drot_cblas.c
  lib/node_modules/@stdlib/blas/base/drot/src/drot_f.c
  lib/node_modules/@stdlib/blas/base/drot/test/test.drot.js
  lib/node_modules/@stdlib/blas/base/drot/test/test.drot.native.js
  lib/node_modules/@stdlib/blas/base/drot/test/test.js
  lib/node_modules/@stdlib/blas/base/drot/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/drot/test/test.ndarray.native.js
Labels: Native Addons, BLAS, C

#2189 refactor: update `math/base/special/rcbrt`
  lib/node_modules/@stdlib/math/base/special/rcbrt/README.md
  lib/node_modules/@stdlib/math/base/special/rcbrt/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/rcbrt/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/rcbrt/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/rcbrt/examples/index.js
  lib/node_modules/@stdlib/math/base/special/rcbrt/manifest.json
  lib/node_modules/@stdlib/math/base/special/rcbrt/src/addon.c
  lib/node_modules/@stdlib/math/base/special/rcbrt/src/main.c
  lib/node_modules/@stdlib/math/base/special/rcbrt/test/test.js
  lib/node_modules/@stdlib/math/base/special/rcbrt/test/test.native.js
Labels: Math

#1844 feat: add `blas/base/srot`
  lib/node_modules/@stdlib/blas/base/srot/README.md
  lib/node_modules/@stdlib/blas/base/srot/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/srot/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/srot/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/srot/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/srot/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/base/srot/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/srot/benchmark/fortran/Makefile
  lib/node_modules/@stdlib/blas/base/srot/benchmark/fortran/benchmark.length.f
  lib/node_modules/@stdlib/blas/base/srot/binding.gyp
  lib/node_modules/@stdlib/blas/base/srot/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/srot/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/srot/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/srot/examples/c/Makefile
  lib/node_modules/@stdlib/blas/base/srot/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/srot/examples/index.js
  lib/node_modules/@stdlib/blas/base/srot/include.gypi
  lib/node_modules/@stdlib/blas/base/srot/include/stdlib/blas/base/srot.h
  lib/node_modules/@stdlib/blas/base/srot/include/stdlib/blas/base/srot_cblas.h
  lib/node_modules/@stdlib/blas/base/srot/include/stdlib/blas/base/srot_fortran.h
  lib/node_modules/@stdlib/blas/base/srot/lib/index.js
  lib/node_modules/@stdlib/blas/base/srot/lib/main.js
  lib/node_modules/@stdlib/blas/base/srot/lib/native.js
  lib/node_modules/@stdlib/blas/base/srot/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/srot/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/srot/lib/srot.js
  lib/node_modules/@stdlib/blas/base/srot/lib/srot.native.js
  lib/node_modules/@stdlib/blas/base/srot/manifest.json
  lib/node_modules/@stdlib/blas/base/srot/package.json
  lib/node_modules/@stdlib/blas/base/srot/src/Makefile
  lib/node_modules/@stdlib/blas/base/srot/src/addon.c
  lib/node_modules/@stdlib/blas/base/srot/src/srot.c
  lib/node_modules/@stdlib/blas/base/srot/src/srot.f
  lib/node_modules/@stdlib/blas/base/srot/src/srot_cblas.c
  lib/node_modules/@stdlib/blas/base/srot/src/srot_f.c
  lib/node_modules/@stdlib/blas/base/srot/test/test.js
  lib/node_modules/@stdlib/blas/base/srot/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/srot/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/srot/test/test.srot.js
  lib/node_modules/@stdlib/blas/base/srot/test/test.srot.native.js
Labels: Native Addons, BLAS, C

#2153 feat: add `blas/base/isamax`
  lib/node_modules/@stdlib/blas/base/isamax/README.md
  lib/node_modules/@stdlib/blas/base/isamax/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/isamax/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/isamax/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/isamax/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/isamax/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/base/isamax/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/isamax/benchmark/fortran/Makefile
  lib/node_modules/@stdlib/blas/base/isamax/benchmark/fortran/benchmark.length.f
  lib/node_modules/@stdlib/blas/base/isamax/binding.gyp
  lib/node_modules/@stdlib/blas/base/isamax/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/isamax/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/isamax/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/isamax/examples/c/Makefile
  lib/node_modules/@stdlib/blas/base/isamax/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/isamax/examples/index.js
  lib/node_modules/@stdlib/blas/base/isamax/include.gypi
  lib/node_modules/@stdlib/blas/base/isamax/include/stdlib/blas/base/isamax.h
  lib/node_modules/@stdlib/blas/base/isamax/include/stdlib/blas/base/isamax_cblas.h
  lib/node_modules/@stdlib/blas/base/isamax/include/stdlib/blas/base/isamax_fortran.h
  lib/node_modules/@stdlib/blas/base/isamax/lib/index.js
  lib/node_modules/@stdlib/blas/base/isamax/lib/isamax.js
  lib/node_modules/@stdlib/blas/base/isamax/lib/isamax.native.js
  lib/node_modules/@stdlib/blas/base/isamax/lib/main.js
  lib/node_modules/@stdlib/blas/base/isamax/lib/native.js
  lib/node_modules/@stdlib/blas/base/isamax/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/isamax/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/isamax/manifest.json
  lib/node_modules/@stdlib/blas/base/isamax/package.json
  lib/node_modules/@stdlib/blas/base/isamax/src/Makefile
  lib/node_modules/@stdlib/blas/base/isamax/src/addon.c
  lib/node_modules/@stdlib/blas/base/isamax/src/isamax.c
  lib/node_modules/@stdlib/blas/base/isamax/src/isamax.f
  lib/node_modules/@stdlib/blas/base/isamax/src/isamax_cblas.c
  lib/node_modules/@stdlib/blas/base/isamax/src/isamax_f.c
  lib/node_modules/@stdlib/blas/base/isamax/src/isamaxsub.f
  lib/node_modules/@stdlib/blas/base/isamax/test/test.isamax.js
  lib/node_modules/@stdlib/blas/base/isamax/test/test.isamax.native.js
  lib/node_modules/@stdlib/blas/base/isamax/test/test.js
  lib/node_modules/@stdlib/blas/base/isamax/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/isamax/test/test.ndarray.native.js
Labels: Feature, Native Addons, BLAS, Fortran, C

#2163 feat: add `string/base/for-each-code-point-right`
  lib/node_modules/@stdlib/string/base/for-each-code-point-right/README.md
  lib/node_modules/@stdlib/string/base/for-each-code-point-right/benchmark/benchmark.js
  lib/node_modules/@stdlib/string/base/for-each-code-point-right/docs/repl.txt
  lib/node_modules/@stdlib/string/base/for-each-code-point-right/docs/types/index.d.ts
  lib/node_modules/@stdlib/string/base/for-each-code-point-right/docs/types/test.ts
  lib/node_modules/@stdlib/string/base/for-each-code-point-right/examples/index.js
  lib/node_modules/@stdlib/string/base/for-each-code-point-right/lib/index.js
  lib/node_modules/@stdlib/string/base/for-each-code-point-right/lib/main.js
  lib/node_modules/@stdlib/string/base/for-each-code-point-right/package.json
  lib/node_modules/@stdlib/string/base/for-each-code-point-right/test/test.js
Labels: Feature, Utilities, JavaScript

#2151 feat: add `math/base/tools/normhermitepolyf`
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/README.md
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/benchmark/benchmark.factory.js
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/benchmark/python/scipy/benchmark.py
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/docs/img/equation_normalized_hermite_polynomials.svg
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/examples/index.js
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/lib/factory.js
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/lib/index.js
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/lib/main.js
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/package.json
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/fixtures/python/medium_negative_1.json
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/fixtures/python/medium_negative_2.json
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/fixtures/python/medium_negative_5.json
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/fixtures/python/medium_positive_1.json
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/fixtures/python/medium_positive_2.json
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/fixtures/python/medium_positive_5.json
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/fixtures/python/random2.json
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/fixtures/python/small_negative_1.json
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/fixtures/python/small_negative_2.json
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/fixtures/python/small_negative_5.json
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/fixtures/python/small_positive_1.json
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/fixtures/python/small_positive_2.json
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/fixtures/python/small_positive_5.json
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/fixtures/python/tiny_1.json
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/fixtures/python/tiny_2.json
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/fixtures/python/tiny_5.json
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/test.factory.js
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/test.js
Labels: Feature, Math

#2180 refactor: update `blas/ext/base/dnannsumpw` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/test/test.dnannsumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/test/test.dnannsumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/test/test.ndarray.native.js
Labels: Native Addons, BLAS, C, Ready to merge

#1924 refactor: update `blas/ext/base/dnanasum` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/lib/dnanasum.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/lib/dnanasum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/package.json
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/test/test.dnanasum.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/test/test.dnanasum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/test/test.ndarray.native.js
Labels: BLAS, C, Needs Changes

#1802 refactor: update `blas/ext/base/ssum` to follow current project convent…
  lib/node_modules/@stdlib/blas/ext/base/ssum/README.md
  lib/node_modules/@stdlib/blas/ext/base/ssum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/ssum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/ssum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/ssum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/ssum/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/ssum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/test/test.ssum.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/test/test.ssum.native.js
Labels: Enhancement, Native Addons, BLAS, Ready to merge

#2063 refactor: update `blas/ext/base/dnannsumkbn2` to follow current project…
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/package.json
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/test/test.dnannsumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/test/test.dnannsumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/test/test.ndarray.native.js
Labels: Needs Review, Native Addons, BLAS, C

#2079 update: refactor `blas/ext/base/dnannsumkbn` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/test/test.dnannsumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/test/test.dnannsumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/test/test.ndarray.native.js
Labels: Needs Review, Native Addons, BLAS, C

#2162 feat: add pager to allow scrolling of long outputs in the REPL
  lib/node_modules/@stdlib/repl/README.md
  lib/node_modules/@stdlib/repl/lib/auto_close_pairs.js
  lib/node_modules/@stdlib/repl/lib/commands.js
  lib/node_modules/@stdlib/repl/lib/commands/pager.js
  lib/node_modules/@stdlib/repl/lib/completer_preview.js
  lib/node_modules/@stdlib/repl/lib/defaults.js
  lib/node_modules/@stdlib/repl/lib/display_prompt.js
  lib/node_modules/@stdlib/repl/lib/main.js
  lib/node_modules/@stdlib/repl/lib/output_stream.js
  lib/node_modules/@stdlib/repl/lib/settings.js
  lib/node_modules/@stdlib/repl/package.json
  lib/node_modules/@stdlib/repl/test/integration/fixtures/repl.js
  lib/node_modules/@stdlib/repl/test/integration/test.auto_close_pairs.js
  lib/node_modules/@stdlib/repl/test/integration/test.auto_delete_pairs.js
  lib/node_modules/@stdlib/repl/test/integration/test.auto_page.js
  lib/node_modules/@stdlib/repl/test/integration/test.completion_previews.js
Labels: Enhancement, REPL

#2199 feat: add `math/base/special/asecdf`
  lib/node_modules/@stdlib/math/base/special/asecdf/README.md
  lib/node_modules/@stdlib/math/base/special/asecdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/asecdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/asecdf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/asecdf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/asecdf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/asecdf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/asecdf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/asecdf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/asecdf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/asecdf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/asecdf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/asecdf/include.gypi
  lib/node_modules/@stdlib/math/base/special/asecdf/include/stdlib/math/base/special/asecdf.h
  lib/node_modules/@stdlib/math/base/special/asecdf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/asecdf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/asecdf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/asecdf/manifest.json
  lib/node_modules/@stdlib/math/base/special/asecdf/package.json
  lib/node_modules/@stdlib/math/base/special/asecdf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/asecdf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/asecdf/src/main.c
  lib/node_modules/@stdlib/math/base/special/asecdf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/asecdf/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/asecdf/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/asecdf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/asecdf/test/test.js
  lib/node_modules/@stdlib/math/base/special/asecdf/test/test.native.js
Labels: Feature, Math, C

#1451 feat: add `array/base/mskreject-map`
  lib/node_modules/@stdlib/array/base/mskreject-map/README.md
  lib/node_modules/@stdlib/array/base/mskreject-map/benchmark/benchmark.assign.length.js
  lib/node_modules/@stdlib/array/base/mskreject-map/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/mskreject-map/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/array/base/mskreject-map/docs/repl.txt
  lib/node_modules/@stdlib/array/base/mskreject-map/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/mskreject-map/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/mskreject-map/examples/index.js
  lib/node_modules/@stdlib/array/base/mskreject-map/lib/assign.js
  lib/node_modules/@stdlib/array/base/mskreject-map/lib/index.js
  lib/node_modules/@stdlib/array/base/mskreject-map/lib/main.js
  lib/node_modules/@stdlib/array/base/mskreject-map/package.json
  lib/node_modules/@stdlib/array/base/mskreject-map/test/test.assign.js
  lib/node_modules/@stdlib/array/base/mskreject-map/test/test.js
  lib/node_modules/@stdlib/array/base/mskreject-map/test/test.main.js
Labels: Ready to merge

#2205 fix: remove `SIGWINCH` listener upon closing the REPL
  lib/node_modules/@stdlib/repl/lib/main.js
Labels: REPL

#743 feat: add C implementation for `math/base/special/log10`
  lib/node_modules/@stdlib/math/base/special/log10/README.md
  lib/node_modules/@stdlib/math/base/special/log10/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/log10/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/log10/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/log10/binding.gyp
  lib/node_modules/@stdlib/math/base/special/log10/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/log10/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/log10/include.gypi
  lib/node_modules/@stdlib/math/base/special/log10/include/stdlib/math/base/special/log10.h
  lib/node_modules/@stdlib/math/base/special/log10/lib/native.js
  lib/node_modules/@stdlib/math/base/special/log10/manifest.json
  lib/node_modules/@stdlib/math/base/special/log10/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/log10/src/Makefile
  lib/node_modules/@stdlib/math/base/special/log10/src/addon.c
  lib/node_modules/@stdlib/math/base/special/log10/src/main.c
  lib/node_modules/@stdlib/math/base/special/log10/test/test.native.js
Labels: Enhancement, Math, Native Addons, C

#1905 refactor: update `blas/ext/base/ssortsh` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/ssortsh/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/ssortsh/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/ssortsh/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssortsh/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/ssortsh/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/ssortsh/src/addon.cpp
Labels: Enhancement, Needs Review, Native Addons, BLAS, C

#2051 refactor: update `blas/ext/base/dsorthp` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/src/addon.cpp
Labels: BLAS

#2007 refactor update `blas/ext/base/dsortsh` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dsortsh/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsortsh/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsortsh/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dsortsh/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsortsh/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsortsh/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsortsh/src/addon.cpp
Labels: Native Addons, BLAS, C, Needs Changes

#1874 refactor: update `blas/ext/ssort2ins` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/README.md
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/package.json
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/src/addon.cpp
Labels: Enhancement, Native Addons, BLAS, C, Needs Changes

#2055 refactor: update `blas/ext/base/dsortins` to follow current project convention
  lib/node_modules/@stdlib/blas/ext/base/dsortins/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsortins/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsortins/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dsortins/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsortins/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsortins/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsortins/src/addon.cpp
Labels: Native Addons, BLAS, C, Ready to merge
