Repository stdlib-js/stdlib, pull requests merged in 2024-03, with the labels that each got.

#1419 Add C implementation for `@stdlib/math/base/special/ahavercos`
  lib/node_modules/@stdlib/math/base/special/ahavercos/README.md
  lib/node_modules/@stdlib/math/base/special/ahavercos/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ahavercos/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/ahavercos/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ahavercos/binding.gyp
  lib/node_modules/@stdlib/math/base/special/ahavercos/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/ahavercos/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/ahavercos/include.gypi
  lib/node_modules/@stdlib/math/base/special/ahavercos/include/stdlib/math/base/special/ahavercos.h
  lib/node_modules/@stdlib/math/base/special/ahavercos/lib/native.js
  lib/node_modules/@stdlib/math/base/special/ahavercos/manifest.json
  lib/node_modules/@stdlib/math/base/special/ahavercos/src/Makefile
  lib/node_modules/@stdlib/math/base/special/ahavercos/src/addon.c
  lib/node_modules/@stdlib/math/base/special/ahavercos/src/main.c
  lib/node_modules/@stdlib/math/base/special/ahavercos/test/test.native.js
Labels: Ready to merge

#1429 Add C implementation for `@stdlib/math/base/special/acoversin`
  lib/node_modules/@stdlib/math/base/special/acoversin/README.md
  lib/node_modules/@stdlib/math/base/special/acoversin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acoversin/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/acoversin/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acoversin/binding.gyp
  lib/node_modules/@stdlib/math/base/special/acoversin/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/acoversin/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/acoversin/include.gypi
  lib/node_modules/@stdlib/math/base/special/acoversin/include/stdlib/math/base/special/acoversin.h
  lib/node_modules/@stdlib/math/base/special/acoversin/lib/native.js
  lib/node_modules/@stdlib/math/base/special/acoversin/manifest.json
  lib/node_modules/@stdlib/math/base/special/acoversin/src/Makefile
  lib/node_modules/@stdlib/math/base/special/acoversin/src/addon.c
  lib/node_modules/@stdlib/math/base/special/acoversin/src/main.c
  lib/node_modules/@stdlib/math/base/special/acoversin/test/test.native.js
Labels: Ready to merge

#1375 refactor: improve type declarations by using generics in `utils/group`
  lib/node_modules/@stdlib/utils/group/docs/types/index.d.ts
Labels: Enhancement, Needs Review, TypeScript

#1443 Add C implementation for `@stdlib/math/base/special/min`
  lib/node_modules/@stdlib/math/base/special/min/README.md
  lib/node_modules/@stdlib/math/base/special/min/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/min/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/min/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/min/binding.gyp
  lib/node_modules/@stdlib/math/base/special/min/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/min/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/min/include.gypi
  lib/node_modules/@stdlib/math/base/special/min/include/stdlib/math/base/special/min.h
  lib/node_modules/@stdlib/math/base/special/min/lib/native.js
  lib/node_modules/@stdlib/math/base/special/min/manifest.json
  lib/node_modules/@stdlib/math/base/special/min/src/Makefile
  lib/node_modules/@stdlib/math/base/special/min/src/addon.c
  lib/node_modules/@stdlib/math/base/special/min/src/main.c
  lib/node_modules/@stdlib/math/base/special/min/test/test.native.js
Labels: Feature, C, Ready to merge

#1446 Add C implementation for `@stdlib/math/base/special/acovercos`
  lib/node_modules/@stdlib/math/base/special/acovercos/README.md
  lib/node_modules/@stdlib/math/base/special/acovercos/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acovercos/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/acovercos/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acovercos/binding.gyp
  lib/node_modules/@stdlib/math/base/special/acovercos/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/acovercos/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/acovercos/include.gypi
  lib/node_modules/@stdlib/math/base/special/acovercos/include/stdlib/math/base/special/acovercos.h
  lib/node_modules/@stdlib/math/base/special/acovercos/lib/native.js
  lib/node_modules/@stdlib/math/base/special/acovercos/manifest.json
  lib/node_modules/@stdlib/math/base/special/acovercos/src/Makefile
  lib/node_modules/@stdlib/math/base/special/acovercos/src/addon.c
  lib/node_modules/@stdlib/math/base/special/acovercos/src/main.c
  lib/node_modules/@stdlib/math/base/special/acovercos/test/test.native.js
Labels: Feature, C, Ready to merge

#1430 feat: add complex/parse-float32
  lib/node_modules/@stdlib/complex/parse-float32/README.md
  lib/node_modules/@stdlib/complex/parse-float32/benchmark/benchmark.js
  lib/node_modules/@stdlib/complex/parse-float32/docs/repl.txt
  lib/node_modules/@stdlib/complex/parse-float32/docs/types/index.d.ts
  lib/node_modules/@stdlib/complex/parse-float32/docs/types/test.ts
  lib/node_modules/@stdlib/complex/parse-float32/examples/index.js
  lib/node_modules/@stdlib/complex/parse-float32/lib/index.js
  lib/node_modules/@stdlib/complex/parse-float32/lib/main.js
  lib/node_modules/@stdlib/complex/parse-float32/package.json
  lib/node_modules/@stdlib/complex/parse-float32/test/test.js
Labels: Ready to merge

#1442 feat: add C implementation for `math/base/special/logaddexp`
  lib/node_modules/@stdlib/math/base/special/logaddexp/README.md
  lib/node_modules/@stdlib/math/base/special/logaddexp/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/logaddexp/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/logaddexp/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/logaddexp/binding.gyp
  lib/node_modules/@stdlib/math/base/special/logaddexp/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/logaddexp/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/logaddexp/include.gypi
  lib/node_modules/@stdlib/math/base/special/logaddexp/include/stdlib/math/base/special/logaddexp.h
  lib/node_modules/@stdlib/math/base/special/logaddexp/lib/native.js
  lib/node_modules/@stdlib/math/base/special/logaddexp/manifest.json
  lib/node_modules/@stdlib/math/base/special/logaddexp/src/Makefile
  lib/node_modules/@stdlib/math/base/special/logaddexp/src/addon.c
  lib/node_modules/@stdlib/math/base/special/logaddexp/src/main.c
  lib/node_modules/@stdlib/math/base/special/logaddexp/test/test.native.js
Labels: Feature, Math, C, Ready to merge

#1372 feat: add `array/base/count-if`
  lib/node_modules/@stdlib/array/base/count-if/README.md
  lib/node_modules/@stdlib/array/base/count-if/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/array/base/count-if/docs/repl.txt
  lib/node_modules/@stdlib/array/base/count-if/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/count-if/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/count-if/examples/index.js
  lib/node_modules/@stdlib/array/base/count-if/lib/index.js
  lib/node_modules/@stdlib/array/base/count-if/lib/main.js
  lib/node_modules/@stdlib/array/base/count-if/package.json
  lib/node_modules/@stdlib/array/base/count-if/test/test.js
Labels: Feature, Needs Review, Utilities

#1457 Add C implementation for `math/base/special/minabs`
  lib/node_modules/@stdlib/math/base/special/minabs/README.md
  lib/node_modules/@stdlib/math/base/special/minabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/minabs/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/minabs/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/minabs/binding.gyp
  lib/node_modules/@stdlib/math/base/special/minabs/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/minabs/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/minabs/include.gypi
  lib/node_modules/@stdlib/math/base/special/minabs/include/stdlib/math/base/special/minabs.h
  lib/node_modules/@stdlib/math/base/special/minabs/lib/native.js
  lib/node_modules/@stdlib/math/base/special/minabs/manifest.json
  lib/node_modules/@stdlib/math/base/special/minabs/src/Makefile
  lib/node_modules/@stdlib/math/base/special/minabs/src/addon.c
  lib/node_modules/@stdlib/math/base/special/minabs/src/main.c
  lib/node_modules/@stdlib/math/base/special/minabs/test/test.native.js
Labels: Feature, C, Ready to merge

#1454 Add C implementation for `@stdlib/math/base/special/log`
  lib/node_modules/@stdlib/math/base/special/log/README.md
  lib/node_modules/@stdlib/math/base/special/log/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/log/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/log/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/log/binding.gyp
  lib/node_modules/@stdlib/math/base/special/log/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/log/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/log/include.gypi
  lib/node_modules/@stdlib/math/base/special/log/include/stdlib/math/base/special/log.h
  lib/node_modules/@stdlib/math/base/special/log/lib/native.js
  lib/node_modules/@stdlib/math/base/special/log/manifest.json
  lib/node_modules/@stdlib/math/base/special/log/src/Makefile
  lib/node_modules/@stdlib/math/base/special/log/src/addon.c
  lib/node_modules/@stdlib/math/base/special/log/src/main.c
  lib/node_modules/@stdlib/math/base/special/log/test/test.native.js
Labels: Feature, Math, C, Ready to merge

#1667 Add C implementation for `@stdlib/math/base/assert/is-even`
  lib/node_modules/@stdlib/math/base/assert/is-even/README.md
  lib/node_modules/@stdlib/math/base/assert/is-even/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-even/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-even/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-even/binding.gyp
  lib/node_modules/@stdlib/math/base/assert/is-even/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-even/examples/c/example.c
  lib/node_modules/@stdlib/math/base/assert/is-even/include.gypi
  lib/node_modules/@stdlib/math/base/assert/is-even/include/stdlib/math/base/assert/is_even.h
  lib/node_modules/@stdlib/math/base/assert/is-even/lib/native.js
  lib/node_modules/@stdlib/math/base/assert/is-even/manifest.json
  lib/node_modules/@stdlib/math/base/assert/is-even/src/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-even/src/addon.c
  lib/node_modules/@stdlib/math/base/assert/is-even/src/main.c
  lib/node_modules/@stdlib/math/base/assert/is-even/test/test.native.js
Labels: Feature, C, Ready to merge

#1455 refactor: update `blas/ext/base/dfill` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dfill/README.md
  lib/node_modules/@stdlib/blas/ext/base/dfill/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dfill/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dfill/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dfill/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dfill/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dfill/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dfill/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dfill/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dfill/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dfill/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dfill/package.json
  lib/node_modules/@stdlib/blas/ext/base/dfill/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dfill/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dfill/test/test.dfill.js
  lib/node_modules/@stdlib/blas/ext/base/dfill/test/test.dfill.native.js
  lib/node_modules/@stdlib/blas/ext/base/dfill/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dfill/test/test.ndarray.native.js
Labels: Native Addons, BLAS, C

#1348 feat: add `assert/is-same-date-object`
  lib/node_modules/@stdlib/assert/is-same-date-object/README.md
  lib/node_modules/@stdlib/assert/is-same-date-object/benchmark/benchmark.js
  lib/node_modules/@stdlib/assert/is-same-date-object/docs/repl.txt
  lib/node_modules/@stdlib/assert/is-same-date-object/docs/types/index.d.ts
  lib/node_modules/@stdlib/assert/is-same-date-object/docs/types/test.ts
  lib/node_modules/@stdlib/assert/is-same-date-object/examples/index.js
  lib/node_modules/@stdlib/assert/is-same-date-object/lib/index.js
  lib/node_modules/@stdlib/assert/is-same-date-object/lib/main.js
  lib/node_modules/@stdlib/assert/is-same-date-object/package.json
  lib/node_modules/@stdlib/assert/is-same-date-object/test/test.js
Labels: Feature, Needs Review, Utilities, Needs Changes

#1683 feat: add C implementation for `constants/int32/max`
  lib/node_modules/@stdlib/constants/int32/max/README.md
  lib/node_modules/@stdlib/constants/int32/max/include/stdlib/constants/int32/max.h
  lib/node_modules/@stdlib/constants/int32/max/manifest.json
Labels: Feature, Utilities, C

#1673 refactor: update `blas/ext/base/ssumpw` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/test/test.ssumpw.js
  lib/node_modules/@stdlib/blas/ext/base/ssumpw/test/test.ssumpw.native.js
Labels: Enhancement, Native Addons, BLAS

#1411 feat: add `utils/any-in-by`
  lib/node_modules/@stdlib/utils/any-in-by/README.md
  lib/node_modules/@stdlib/utils/any-in-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/utils/any-in-by/benchmark/julia/REQUIRE
  lib/node_modules/@stdlib/utils/any-in-by/benchmark/julia/benchmark.jl
  lib/node_modules/@stdlib/utils/any-in-by/docs/repl.txt
  lib/node_modules/@stdlib/utils/any-in-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/utils/any-in-by/docs/types/test.ts
  lib/node_modules/@stdlib/utils/any-in-by/examples/index.js
  lib/node_modules/@stdlib/utils/any-in-by/lib/index.js
  lib/node_modules/@stdlib/utils/any-in-by/lib/main.js
  lib/node_modules/@stdlib/utils/any-in-by/package.json
  lib/node_modules/@stdlib/utils/any-in-by/test/test.js
Labels: Needs Changes

#1687 feat: add Node-API macros for binary functions
  lib/node_modules/@stdlib/math/base/napi/binary/README.md
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary.h
  lib/node_modules/@stdlib/math/base/napi/binary/src/main.c
Labels: Utilities, Native Addons, C, Ready to merge

#1692 refactor: update `blas/ext/base/ssumors` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/ssumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/ssumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/ssumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/ssumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/ssumors/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/ssumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/ssumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/ssumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/ssumors/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/ssumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssumors/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumors/test/test.ssumors.js
  lib/node_modules/@stdlib/blas/ext/base/ssumors/test/test.ssumors.native.js
Labels: Enhancement, Native Addons, BLAS, C, Ready to merge

#1700 refactor: update `blas/ext/base/srev` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/srev/README.md
  lib/node_modules/@stdlib/blas/ext/base/srev/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/srev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/srev/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/srev/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/srev/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/srev/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/srev/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/srev/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/srev/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/srev/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/srev/package.json
  lib/node_modules/@stdlib/blas/ext/base/srev/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/srev/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/srev/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/srev/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/srev/test/test.srev.js
  lib/node_modules/@stdlib/blas/ext/base/srev/test/test.srev.native.js
Labels: Enhancement, Native Addons, BLAS, C

#1691 fix: resolve miscellaneous errors in various C examples
  lib/node_modules/@stdlib/math/base/special/ceiln/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/ceiln/src/ceiln.c
  lib/node_modules/@stdlib/math/base/special/floorn/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/floorn/src/floorn.c
  lib/node_modules/@stdlib/math/base/special/min/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/minabs/examples/c/example.c
Labels: Needs Review, Documentation, priority: Urgent

#1685 feat: add C implementation for `math/base/special/coth`
  lib/node_modules/@stdlib/math/base/special/coth/README.md
  lib/node_modules/@stdlib/math/base/special/coth/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/coth/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/coth/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/coth/binding.gyp
  lib/node_modules/@stdlib/math/base/special/coth/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/coth/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/coth/include.gypi
  lib/node_modules/@stdlib/math/base/special/coth/include/stdlib/math/base/special/coth.h
  lib/node_modules/@stdlib/math/base/special/coth/lib/native.js
  lib/node_modules/@stdlib/math/base/special/coth/mainfest.json
  lib/node_modules/@stdlib/math/base/special/coth/package.json
  lib/node_modules/@stdlib/math/base/special/coth/src/Makefile
  lib/node_modules/@stdlib/math/base/special/coth/src/addon.c
  lib/node_modules/@stdlib/math/base/special/coth/src/main.c
  lib/node_modules/@stdlib/math/base/special/coth/test/test.native.js
Labels: Feature, C, Needs Changes

#1463 feat: add `array/base/join`
  lib/node_modules/@stdlib/array/base/join/README.md
  lib/node_modules/@stdlib/array/base/join/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/array/base/join/docs/repl.txt
  lib/node_modules/@stdlib/array/base/join/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/join/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/join/examples/index.js
  lib/node_modules/@stdlib/array/base/join/lib/index.js
  lib/node_modules/@stdlib/array/base/join/lib/main.js
  lib/node_modules/@stdlib/array/base/join/package.json
  lib/node_modules/@stdlib/array/base/join/test/test.js
Labels: Feature, Needs Review, Utilities, Needs Changes

#1730 fix: rename configuration file
  lib/node_modules/@stdlib/math/base/special/coth/manifest.json
Labels: priority: Urgent

#1452 feat: add C implementation for `math/base/special/ellipe`
  lib/node_modules/@stdlib/math/base/special/ellipe/README.md
  lib/node_modules/@stdlib/math/base/special/ellipe/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ellipe/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/ellipe/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ellipe/binding.gyp
  lib/node_modules/@stdlib/math/base/special/ellipe/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/ellipe/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/ellipe/include.gypi
  lib/node_modules/@stdlib/math/base/special/ellipe/include/stdlib/math/base/special/ellipe.h
  lib/node_modules/@stdlib/math/base/special/ellipe/lib/native.js
  lib/node_modules/@stdlib/math/base/special/ellipe/manifest.json
  lib/node_modules/@stdlib/math/base/special/ellipe/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/ellipe/src/Makefile
  lib/node_modules/@stdlib/math/base/special/ellipe/src/addon.c
  lib/node_modules/@stdlib/math/base/special/ellipe/src/main.c
  lib/node_modules/@stdlib/math/base/special/ellipe/test/test.native.js
Labels: Feature, Math, C

#1349 feat: add `array/base/take-map`
  lib/node_modules/@stdlib/array/base/take-map/README.md
  lib/node_modules/@stdlib/array/base/take-map/benchmark/benchmark.assign.length.js
  lib/node_modules/@stdlib/array/base/take-map/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/take-map/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/array/base/take-map/docs/repl.txt
  lib/node_modules/@stdlib/array/base/take-map/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/take-map/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/take-map/examples/index.js
  lib/node_modules/@stdlib/array/base/take-map/lib/assign.js
  lib/node_modules/@stdlib/array/base/take-map/lib/index.js
  lib/node_modules/@stdlib/array/base/take-map/lib/main.js
  lib/node_modules/@stdlib/array/base/take-map/package.json
  lib/node_modules/@stdlib/array/base/take-map/test/test.assign.js
  lib/node_modules/@stdlib/array/base/take-map/test/test.js
  lib/node_modules/@stdlib/array/base/take-map/test/test.main.js
Labels: Feature, Needs Review, Utilities, Needs Changes

#1719 feat: add C implementation for `math/base/special/avercos`
  lib/node_modules/@stdlib/math/base/special/avercos/README.md
  lib/node_modules/@stdlib/math/base/special/avercos/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/avercos/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/avercos/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/avercos/binding.gyp
  lib/node_modules/@stdlib/math/base/special/avercos/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/avercos/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/avercos/include.gypi
  lib/node_modules/@stdlib/math/base/special/avercos/include/stdlib/math/base/special/avercos.h
  lib/node_modules/@stdlib/math/base/special/avercos/lib/native.js
  lib/node_modules/@stdlib/math/base/special/avercos/manifest.json
  lib/node_modules/@stdlib/math/base/special/avercos/package.json
  lib/node_modules/@stdlib/math/base/special/avercos/src/Makefile
  lib/node_modules/@stdlib/math/base/special/avercos/src/addon.c
  lib/node_modules/@stdlib/math/base/special/avercos/src/main.c
  lib/node_modules/@stdlib/math/base/special/avercos/test/test.native.js
Labels: Feature, Math, C, Ready to merge

#1731 feat: add C implementation for `math/base/special/aversin`
  lib/node_modules/@stdlib/math/base/special/aversin/README.md
  lib/node_modules/@stdlib/math/base/special/aversin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/aversin/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/aversin/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/aversin/binding.gyp
  lib/node_modules/@stdlib/math/base/special/aversin/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/aversin/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/aversin/include.gypi
  lib/node_modules/@stdlib/math/base/special/aversin/include/stdlib/math/base/special/aversin.h
  lib/node_modules/@stdlib/math/base/special/aversin/lib/native.js
  lib/node_modules/@stdlib/math/base/special/aversin/manifest.json
  lib/node_modules/@stdlib/math/base/special/aversin/package.json
  lib/node_modules/@stdlib/math/base/special/aversin/src/Makefile
  lib/node_modules/@stdlib/math/base/special/aversin/src/addon.c
  lib/node_modules/@stdlib/math/base/special/aversin/src/main.c
  lib/node_modules/@stdlib/math/base/special/aversin/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1734 improve README examples of `stats/base/dists/poisson` namespace
  lib/node_modules/@stdlib/stats/base/dists/poisson/README.md
  lib/node_modules/@stdlib/stats/base/dists/poisson/examples/index.js
Labels: Needs Review, Documentation, JavaScript

#1748 improve README examples of `stats/base/dists/binomial` namespace
  lib/node_modules/@stdlib/stats/base/dists/binomial/README.md
  lib/node_modules/@stdlib/stats/base/dists/binomial/examples/index.js
Labels: Documentation, JavaScript, Ready to merge

#1722 docs(math/base/ops): improve `math/base/ops` README.md examples
  lib/node_modules/@stdlib/math/base/ops/README.md
  lib/node_modules/@stdlib/math/base/ops/examples/index.js
Labels: Needs Review, Documentation, JavaScript

#1437 feat: add `utils/some-own-by`
  lib/node_modules/@stdlib/utils/some-own-by/README.md
  lib/node_modules/@stdlib/utils/some-own-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/utils/some-own-by/docs/repl.txt
  lib/node_modules/@stdlib/utils/some-own-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/utils/some-own-by/docs/types/test.ts
  lib/node_modules/@stdlib/utils/some-own-by/examples/index.js
  lib/node_modules/@stdlib/utils/some-own-by/lib/index.js
  lib/node_modules/@stdlib/utils/some-own-by/lib/main.js
  lib/node_modules/@stdlib/utils/some-own-by/package.json
  lib/node_modules/@stdlib/utils/some-own-by/test/test.js
Labels: Feature, Utilities, Needs Changes

#1778 feat: add c implementation for `math/base/assert/is-negative-finite`
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/README.md
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/binding.gyp
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/examples/c/example.c
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/include.gypi
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/include/stdlib/math/base/assert/is_negative_finite.h
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/lib/native.js
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/manifest.json
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/src/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/src/addon.c
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/src/main.c
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/test/test.native.js
Labels: Math, Native Addons, C, Ready to merge

#1783 feat: add C implementation for `math/base/assert/is-nonpositive-integer`
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/README.md
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/binding.gyp
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/examples/c/example.c
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/include.gypi
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/include/stdlib/math/base/assert/is_nonpositive_integer.h
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/lib/native.js
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/manifest.json
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/src/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/src/addon.c
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/src/main.c
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/test/test.native.js
Labels: Math, Native Addons, C, Ready to merge

#1720 feat: add C implementation for `math/base/special/asec`
  lib/node_modules/@stdlib/math/base/special/asec/README.md
  lib/node_modules/@stdlib/math/base/special/asec/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/asec/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/asec/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/asec/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/asec/binding.gyp
  lib/node_modules/@stdlib/math/base/special/asec/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/asec/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/asec/include.gypi
  lib/node_modules/@stdlib/math/base/special/asec/include/stdlib/math/base/special/asec.h
  lib/node_modules/@stdlib/math/base/special/asec/lib/native.js
  lib/node_modules/@stdlib/math/base/special/asec/manifest.json
  lib/node_modules/@stdlib/math/base/special/asec/src/Makefile
  lib/node_modules/@stdlib/math/base/special/asec/src/addon.c
  lib/node_modules/@stdlib/math/base/special/asec/src/main.c
  lib/node_modules/@stdlib/math/base/special/asec/test/test.native.js
Labels: Feature, Math, C, Needs Changes

#1459 feat: add C implementation for `math/base/special/max`
  lib/node_modules/@stdlib/math/base/special/max/README.md
  lib/node_modules/@stdlib/math/base/special/max/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/max/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/max/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/max/binding.gyp
  lib/node_modules/@stdlib/math/base/special/max/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/max/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/max/include.gypi
  lib/node_modules/@stdlib/math/base/special/max/include/stdlib/math/base/special/max.h
  lib/node_modules/@stdlib/math/base/special/max/lib/native.js
  lib/node_modules/@stdlib/math/base/special/max/manifest.json
  lib/node_modules/@stdlib/math/base/special/max/src/Makefile
  lib/node_modules/@stdlib/math/base/special/max/src/addon.c
  lib/node_modules/@stdlib/math/base/special/max/src/main.c
  lib/node_modules/@stdlib/math/base/special/max/test/test.native.js
Labels: Feature, C, Needs Changes

#1675 feat: add `string/to-well-formed`
  lib/node_modules/@stdlib/string/to-well-formed/README.md
  lib/node_modules/@stdlib/string/to-well-formed/benchmark/benchmark.js
  lib/node_modules/@stdlib/string/to-well-formed/docs/repl.txt
  lib/node_modules/@stdlib/string/to-well-formed/docs/types/index.d.ts
  lib/node_modules/@stdlib/string/to-well-formed/docs/types/test.ts
  lib/node_modules/@stdlib/string/to-well-formed/examples/index.js
  lib/node_modules/@stdlib/string/to-well-formed/lib/index.js
  lib/node_modules/@stdlib/string/to-well-formed/lib/main.js
  lib/node_modules/@stdlib/string/to-well-formed/package.json
  lib/node_modules/@stdlib/string/to-well-formed/test/test.js
Labels: Needs Review

#1741 refactor: update `blas/ext/base/ssumkbn` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn/package.json
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn/test/test.ssumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn/test/test.ssumkbn.native.js
Labels: Native Addons, BLAS, C

#1671 feat: add C implementation for `math/base/special/maxabs`
  lib/node_modules/@stdlib/math/base/special/maxabs/README.md
  lib/node_modules/@stdlib/math/base/special/maxabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/maxabs/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/maxabs/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/maxabs/binding.gyp
  lib/node_modules/@stdlib/math/base/special/maxabs/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/maxabs/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/maxabs/include.gypi
  lib/node_modules/@stdlib/math/base/special/maxabs/include/stdlib/math/base/special/maxabs.h
  lib/node_modules/@stdlib/math/base/special/maxabs/lib/native.js
  lib/node_modules/@stdlib/math/base/special/maxabs/manifest.json
  lib/node_modules/@stdlib/math/base/special/maxabs/src/Makefile
  lib/node_modules/@stdlib/math/base/special/maxabs/src/addon.c
  lib/node_modules/@stdlib/math/base/special/maxabs/src/main.c
  lib/node_modules/@stdlib/math/base/special/maxabs/test/test.native.js
Labels: Feature, Math, C, Ready to merge

#1750 feat: add C implementation for `math/base/special/asech`
  lib/node_modules/@stdlib/math/base/special/asech/README.md
  lib/node_modules/@stdlib/math/base/special/asech/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/asech/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/asech/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/asech/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/asech/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/asech/binding.gyp
  lib/node_modules/@stdlib/math/base/special/asech/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/asech/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/asech/include.gypi
  lib/node_modules/@stdlib/math/base/special/asech/include/stdlib/math/base/special/asech.h
  lib/node_modules/@stdlib/math/base/special/asech/lib/native.js
  lib/node_modules/@stdlib/math/base/special/asech/manifest.json
  lib/node_modules/@stdlib/math/base/special/asech/src/Makefile
  lib/node_modules/@stdlib/math/base/special/asech/src/addon.c
  lib/node_modules/@stdlib/math/base/special/asech/src/main.c
  lib/node_modules/@stdlib/math/base/special/asech/test/test.native.js
Labels: Feature, Native Addons, C, Ready to merge

#1826 fix: failing build in `math/base/special/maxabs`
  lib/node_modules/@stdlib/math/base/special/maxabs/src/main.c
Labels: priority: Urgent

#1833 feat: add C implementation for `math/base/special/acsch`
  lib/node_modules/@stdlib/math/base/special/acsch/README.md
  lib/node_modules/@stdlib/math/base/special/acsch/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acsch/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/acsch/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acsch/binding.gyp
  lib/node_modules/@stdlib/math/base/special/acsch/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/acsch/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/acsch/include.gypi
  lib/node_modules/@stdlib/math/base/special/acsch/include/stdlib/math/base/special/acsch.h
  lib/node_modules/@stdlib/math/base/special/acsch/lib/native.js
  lib/node_modules/@stdlib/math/base/special/acsch/manifest.json
  lib/node_modules/@stdlib/math/base/special/acsch/package.json
  lib/node_modules/@stdlib/math/base/special/acsch/src/Makefile
  lib/node_modules/@stdlib/math/base/special/acsch/src/addon.c
  lib/node_modules/@stdlib/math/base/special/acsch/src/main.c
  lib/node_modules/@stdlib/math/base/special/acsch/test/test.native.js
Labels: Feature, Math, Native Addons, C

#1829 feat: add C implementation for `math/base/assert/is-nonnegative-finite`
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/README.md
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/binding.gyp
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/examples/c/example.c
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/include.gypi
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/include/stdlib/math/base/assert/is_nonnegative_finite.h
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/lib/native.js
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/manifest.json
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/src/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/src/addon.c
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/src/main.c
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/test/test.native.js
Labels: Needs Review, Native Addons, C

#1788 feat: add `math/base/special/asecd`
  lib/node_modules/@stdlib/math/base/special/asecd/README.md
  lib/node_modules/@stdlib/math/base/special/asecd/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/asecd/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/asecd/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/asecd/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/asecd/examples/index.js
  lib/node_modules/@stdlib/math/base/special/asecd/lib/index.js
  lib/node_modules/@stdlib/math/base/special/asecd/lib/main.js
  lib/node_modules/@stdlib/math/base/special/asecd/package.json
  lib/node_modules/@stdlib/math/base/special/asecd/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/asecd/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/asecd/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/asecd/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/asecd/test/test.js
Labels: Needs Review, Math, JavaScript

#1717 feat: add C implementation for `math/base/special/log2`
  lib/node_modules/@stdlib/math/base/special/log2/README.md
  lib/node_modules/@stdlib/math/base/special/log2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/log2/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/log2/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/log2/binding.gyp
  lib/node_modules/@stdlib/math/base/special/log2/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/log2/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/log2/include.gypi
  lib/node_modules/@stdlib/math/base/special/log2/include/stdlib/math/base/special/log2.h
  lib/node_modules/@stdlib/math/base/special/log2/lib/native.js
  lib/node_modules/@stdlib/math/base/special/log2/manifest.json
  lib/node_modules/@stdlib/math/base/special/log2/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/log2/src/Makefile
  lib/node_modules/@stdlib/math/base/special/log2/src/addon.c
  lib/node_modules/@stdlib/math/base/special/log2/src/main.c
  lib/node_modules/@stdlib/math/base/special/log2/test/test.native.js
Labels: Feature, Math, C

#1774 docs: improve README examples of `stats/base/dists/negative-binomial`
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/README.md
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/examples/index.js
Labels: Needs Review, Documentation, JavaScript

#1841 feat: add C implementation for `math/base/special/gammasgn`
  lib/node_modules/@stdlib/math/base/special/gammasgn/README.md
  lib/node_modules/@stdlib/math/base/special/gammasgn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/gammasgn/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/gammasgn/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/gammasgn/binding.gyp
  lib/node_modules/@stdlib/math/base/special/gammasgn/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/gammasgn/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/gammasgn/include.gypi
  lib/node_modules/@stdlib/math/base/special/gammasgn/include/stdlib/math/base/special/gammasgn.h
  lib/node_modules/@stdlib/math/base/special/gammasgn/lib/native.js
  lib/node_modules/@stdlib/math/base/special/gammasgn/manifest.json
  lib/node_modules/@stdlib/math/base/special/gammasgn/src/Makefile
  lib/node_modules/@stdlib/math/base/special/gammasgn/src/addon.c
  lib/node_modules/@stdlib/math/base/special/gammasgn/src/main.c
  lib/node_modules/@stdlib/math/base/special/gammasgn/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1840 feat: add C implementation for `math/base/special/ahaversin`
  lib/node_modules/@stdlib/math/base/special/ahaversin/README.md
  lib/node_modules/@stdlib/math/base/special/ahaversin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ahaversin/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/ahaversin/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ahaversin/binding.gyp
  lib/node_modules/@stdlib/math/base/special/ahaversin/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/ahaversin/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/ahaversin/include.gypi
  lib/node_modules/@stdlib/math/base/special/ahaversin/include/stdlib/math/base/special/ahaversin.h
  lib/node_modules/@stdlib/math/base/special/ahaversin/lib/native.js
  lib/node_modules/@stdlib/math/base/special/ahaversin/manifest.json
  lib/node_modules/@stdlib/math/base/special/ahaversin/src/Makefile
  lib/node_modules/@stdlib/math/base/special/ahaversin/src/addon.c
  lib/node_modules/@stdlib/math/base/special/ahaversin/src/main.c
  lib/node_modules/@stdlib/math/base/special/ahaversin/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1827 feat: add C implementation for `math/base/special/xlogy`
  lib/node_modules/@stdlib/math/base/special/xlogy/README.md
  lib/node_modules/@stdlib/math/base/special/xlogy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/xlogy/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/xlogy/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/xlogy/binding.gyp
  lib/node_modules/@stdlib/math/base/special/xlogy/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/xlogy/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/xlogy/include.gypi
  lib/node_modules/@stdlib/math/base/special/xlogy/include/stdlib/math/base/special/xlogy.h
  lib/node_modules/@stdlib/math/base/special/xlogy/lib/native.js
  lib/node_modules/@stdlib/math/base/special/xlogy/manifest.json
  lib/node_modules/@stdlib/math/base/special/xlogy/src/Makefile
  lib/node_modules/@stdlib/math/base/special/xlogy/src/addon.c
  lib/node_modules/@stdlib/math/base/special/xlogy/src/main.c
  lib/node_modules/@stdlib/math/base/special/xlogy/test/test.native.js
Labels: Feature, Math, C, Ready to merge

#1786 feat: add `math/base/special/cscd`
  lib/node_modules/@stdlib/math/base/special/cscd/README.md
  lib/node_modules/@stdlib/math/base/special/cscd/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/cscd/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/cscd/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/cscd/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/cscd/examples/index.js
  lib/node_modules/@stdlib/math/base/special/cscd/lib/index.js
  lib/node_modules/@stdlib/math/base/special/cscd/lib/main.js
  lib/node_modules/@stdlib/math/base/special/cscd/package.json
  lib/node_modules/@stdlib/math/base/special/cscd/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/cscd/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/cscd/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/cscd/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/cscd/test/test.js
Labels: Math, JavaScript, Ready to merge

#1785 feat: add `math/base/special/acotd`
  lib/node_modules/@stdlib/math/base/special/acotd/README.md
  lib/node_modules/@stdlib/math/base/special/acotd/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acotd/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/acotd/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/acotd/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/acotd/examples/index.js
  lib/node_modules/@stdlib/math/base/special/acotd/lib/index.js
  lib/node_modules/@stdlib/math/base/special/acotd/lib/main.js
  lib/node_modules/@stdlib/math/base/special/acotd/package.json
  lib/node_modules/@stdlib/math/base/special/acotd/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/acotd/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/acotd/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/acotd/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/acotd/test/test.js
Labels: Needs Review, Math, JavaScript

#1789 feat: add `math/base/special/acscd`
  lib/node_modules/@stdlib/math/base/special/acscd/README.md
  lib/node_modules/@stdlib/math/base/special/acscd/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acscd/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/acscd/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/acscd/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/acscd/examples/index.js
  lib/node_modules/@stdlib/math/base/special/acscd/lib/index.js
  lib/node_modules/@stdlib/math/base/special/acscd/lib/main.js
  lib/node_modules/@stdlib/math/base/special/acscd/package.json
  lib/node_modules/@stdlib/math/base/special/acscd/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/acscd/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/acscd/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/acscd/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/acscd/test/test.js
Labels: Needs Review, Math, JavaScript

#1782 feat: add `math/base/special/acosd`
  lib/node_modules/@stdlib/math/base/special/acosd/README.md
  lib/node_modules/@stdlib/math/base/special/acosd/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acosd/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/acosd/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/acosd/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/acosd/examples/index.js
  lib/node_modules/@stdlib/math/base/special/acosd/lib/index.js
  lib/node_modules/@stdlib/math/base/special/acosd/lib/main.js
  lib/node_modules/@stdlib/math/base/special/acosd/package.json
  lib/node_modules/@stdlib/math/base/special/acosd/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/acosd/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/acosd/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/acosd/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/acosd/test/test.js
Labels: Needs Review, Math, JavaScript

#1784 feat: add `math/base/special/atand`
  lib/node_modules/@stdlib/math/base/special/atand/README.md
  lib/node_modules/@stdlib/math/base/special/atand/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/atand/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/atand/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/atand/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/atand/examples/index.js
  lib/node_modules/@stdlib/math/base/special/atand/lib/index.js
  lib/node_modules/@stdlib/math/base/special/atand/lib/main.js
  lib/node_modules/@stdlib/math/base/special/atand/package.json
  lib/node_modules/@stdlib/math/base/special/atand/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/atand/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/atand/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/atand/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/atand/test/test.js
Labels: Needs Review, Math, JavaScript

#1781 feat: add `math/base/special/asind`
  lib/node_modules/@stdlib/math/base/special/asind/README.md
  lib/node_modules/@stdlib/math/base/special/asind/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/asind/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/asind/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/asind/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/asind/examples/index.js
  lib/node_modules/@stdlib/math/base/special/asind/lib/index.js
  lib/node_modules/@stdlib/math/base/special/asind/lib/main.js
  lib/node_modules/@stdlib/math/base/special/asind/package.json
  lib/node_modules/@stdlib/math/base/special/asind/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/asind/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/asind/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/asind/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/asind/test/test.js
Labels: Math, JavaScript, Ready to merge

#1755 feat: add `string/base/last-code-point`
  lib/node_modules/@stdlib/string/base/last-code-point/README.md
  lib/node_modules/@stdlib/string/base/last-code-point/benchmark/benchmark.js
  lib/node_modules/@stdlib/string/base/last-code-point/docs/repl.txt
  lib/node_modules/@stdlib/string/base/last-code-point/docs/types/index.d.ts
  lib/node_modules/@stdlib/string/base/last-code-point/docs/types/test.ts
  lib/node_modules/@stdlib/string/base/last-code-point/examples/index.js
  lib/node_modules/@stdlib/string/base/last-code-point/lib/index.js
  lib/node_modules/@stdlib/string/base/last-code-point/lib/main.js
  lib/node_modules/@stdlib/string/base/last-code-point/package.json
  lib/node_modules/@stdlib/string/base/last-code-point/test/test.js
Labels: Feature, JavaScript, Ready to merge

#1839 refactor: update `blas/ext/base/drev` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/drev/README.md
  lib/node_modules/@stdlib/blas/ext/base/drev/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/drev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/drev/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/drev/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/drev/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/drev/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/drev/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/drev/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/drev/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/drev/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/drev/package.json
  lib/node_modules/@stdlib/blas/ext/base/drev/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/drev/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/drev/test/test.drev.js
  lib/node_modules/@stdlib/blas/ext/base/drev/test/test.drev.native.js
  lib/node_modules/@stdlib/blas/ext/base/drev/test/test.js
  lib/node_modules/@stdlib/blas/ext/base/drev/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/drev/test/test.ndarray.native.js
Labels: Native Addons, BLAS, C

#1860 feat: add C implementation for `math/base/special/bernoulli`
  lib/node_modules/@stdlib/math/base/special/bernoulli/README.md
  lib/node_modules/@stdlib/math/base/special/bernoulli/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/bernoulli/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/bernoulli/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/bernoulli/binding.gyp
  lib/node_modules/@stdlib/math/base/special/bernoulli/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/bernoulli/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/bernoulli/include.gypi
  lib/node_modules/@stdlib/math/base/special/bernoulli/include/stdlib/math/base/special/bernoulli.h
  lib/node_modules/@stdlib/math/base/special/bernoulli/lib/native.js
  lib/node_modules/@stdlib/math/base/special/bernoulli/manifest.json
  lib/node_modules/@stdlib/math/base/special/bernoulli/src/Makefile
  lib/node_modules/@stdlib/math/base/special/bernoulli/src/addon.c
  lib/node_modules/@stdlib/math/base/special/bernoulli/src/main.c
  lib/node_modules/@stdlib/math/base/special/bernoulli/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1865 feat: add C implementation for `math/base/assert/int32-is-odd`
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/README.md
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/binding.gyp
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/examples/c/example.c
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/include.gypi
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/include/stdlib/math/base/assert/int32_is_odd.h
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/lib/native.js
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/manifest.json
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/src/Makefile
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/src/addon.c
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/src/main.c
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1859 feat: add C implementation for `math/base/assert/is-nonpositive-finite`
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/README.md
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/binding.gyp
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/examples/c/example.c
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/include.gypi
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/include/stdlib/math/base/assert/is_nonpositive_finite.h
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/lib/native.js
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/manifest.json
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/src/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/src/addon.c
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/src/main.c
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1847 feat: add C implementation for `math/base/special/xlog1py`
  lib/node_modules/@stdlib/math/base/special/xlog1py/README.md
  lib/node_modules/@stdlib/math/base/special/xlog1py/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/xlog1py/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/xlog1py/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/xlog1py/binding.gyp
  lib/node_modules/@stdlib/math/base/special/xlog1py/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/xlog1py/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/xlog1py/include.gypi
  lib/node_modules/@stdlib/math/base/special/xlog1py/include/stdlib/math/base/special/xlog1py.h
  lib/node_modules/@stdlib/math/base/special/xlog1py/lib/native.js
  lib/node_modules/@stdlib/math/base/special/xlog1py/manifest.json
  lib/node_modules/@stdlib/math/base/special/xlog1py/src/Makefile
  lib/node_modules/@stdlib/math/base/special/xlog1py/src/addon.c
  lib/node_modules/@stdlib/math/base/special/xlog1py/src/main.c
  lib/node_modules/@stdlib/math/base/special/xlog1py/test/test.native.js
Labels: Feature, Native Addons, C, Ready to merge

#1870 feat: add C implementation for `math/base/special/boxcox`
  lib/node_modules/@stdlib/math/base/special/boxcox/README.md
  lib/node_modules/@stdlib/math/base/special/boxcox/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/boxcox/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/boxcox/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/boxcox/binding.gyp
  lib/node_modules/@stdlib/math/base/special/boxcox/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/boxcox/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/boxcox/include.gypi
  lib/node_modules/@stdlib/math/base/special/boxcox/include/stdlib/math/base/special/boxcox.h
  lib/node_modules/@stdlib/math/base/special/boxcox/lib/native.js
  lib/node_modules/@stdlib/math/base/special/boxcox/manifest.json
  lib/node_modules/@stdlib/math/base/special/boxcox/src/Makefile
  lib/node_modules/@stdlib/math/base/special/boxcox/src/addon.c
  lib/node_modules/@stdlib/math/base/special/boxcox/src/main.c
  lib/node_modules/@stdlib/math/base/special/boxcox/test/test.native.js
Labels: Feature, Math, C

#1878 feat: add C implementation for `math/base/special/boxcoxinv`
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/README.md
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/binding.gyp
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/include.gypi
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/include/stdlib/math/base/special/boxcoxinv.h
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/lib/native.js
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/manifest.json
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/src/Makefile
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/src/addon.c
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/src/main.c
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/test/test.native.js
Labels: Feature, Math, C

#1883 feat: add C implementation for `math/base/special/boxcox1p`
  lib/node_modules/@stdlib/math/base/special/boxcox1p/README.md
  lib/node_modules/@stdlib/math/base/special/boxcox1p/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/boxcox1p/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/boxcox1p/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/boxcox1p/binding.gyp
  lib/node_modules/@stdlib/math/base/special/boxcox1p/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/boxcox1p/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/boxcox1p/include.gypi
  lib/node_modules/@stdlib/math/base/special/boxcox1p/include/stdlib/math/base/special/boxcox1p.h
  lib/node_modules/@stdlib/math/base/special/boxcox1p/lib/native.js
  lib/node_modules/@stdlib/math/base/special/boxcox1p/manifest.json
  lib/node_modules/@stdlib/math/base/special/boxcox1p/src/Makefile
  lib/node_modules/@stdlib/math/base/special/boxcox1p/src/addon.c
  lib/node_modules/@stdlib/math/base/special/boxcox1p/src/main.c
  lib/node_modules/@stdlib/math/base/special/boxcox1p/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1885 feat: add C implementation for `math/base/special/boxcox1pinv`
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/README.md
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/binding.gyp
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/include.gypi
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/include/stdlib/math/base/special/boxcox1pinv.h
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/lib/native.js
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/manifest.json
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/src/Makefile
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/src/addon.c
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/src/main.c
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/test/test.native.js
Labels: Feature, Native Addons, C, Ready to merge

#1886 feat: add C implementation for `math/base/assert/uint32-is-pow2`
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/README.md
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/binding.gyp
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/examples/c/example.c
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/include.gypi
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/include/stdlib/math/base/assert/uint32_is_pow2.h
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/lib/native.js
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/manifest.json
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/src/Makefile
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/src/addon.c
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/src/main.c
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/test/test.native.js
Labels: Math, Native Addons, C, Ready to merge

#1771 feat: add `math/base/special/tand`
  lib/node_modules/@stdlib/math/base/special/tand/README.md
  lib/node_modules/@stdlib/math/base/special/tand/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/tand/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/tand/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/tand/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/tand/examples/index.js
  lib/node_modules/@stdlib/math/base/special/tand/lib/index.js
  lib/node_modules/@stdlib/math/base/special/tand/lib/main.js
  lib/node_modules/@stdlib/math/base/special/tand/package.json
  lib/node_modules/@stdlib/math/base/special/tand/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/tand/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/tand/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/tand/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/tand/test/test.js
Labels: Documentation, Math, JavaScript, Ready to merge

#1772 feat: add `math/base/special/cotd`
  lib/node_modules/@stdlib/math/base/special/cotd/README.md
  lib/node_modules/@stdlib/math/base/special/cotd/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/cotd/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/cotd/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/cotd/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/cotd/examples/index.js
  lib/node_modules/@stdlib/math/base/special/cotd/lib/index.js
  lib/node_modules/@stdlib/math/base/special/cotd/lib/main.js
  lib/node_modules/@stdlib/math/base/special/cotd/package.json
  lib/node_modules/@stdlib/math/base/special/cotd/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/cotd/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/cotd/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/cotd/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/cotd/test/test.js
Labels: Needs Review, Documentation, Math, JavaScript

#1866 feat: add C implementation for `math/base/assert/is-prime`
  lib/node_modules/@stdlib/math/base/assert/is-prime/README.md
  lib/node_modules/@stdlib/math/base/assert/is-prime/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-prime/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-prime/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-prime/binding.gyp
  lib/node_modules/@stdlib/math/base/assert/is-prime/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-prime/examples/c/example.c
  lib/node_modules/@stdlib/math/base/assert/is-prime/include.gypi
  lib/node_modules/@stdlib/math/base/assert/is-prime/include/stdlib/math/base/assert/is_prime.h
  lib/node_modules/@stdlib/math/base/assert/is-prime/lib/native.js
  lib/node_modules/@stdlib/math/base/assert/is-prime/manifest.json
  lib/node_modules/@stdlib/math/base/assert/is-prime/src/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-prime/src/addon.c
  lib/node_modules/@stdlib/math/base/assert/is-prime/src/main.c
  lib/node_modules/@stdlib/math/base/assert/is-prime/test/test.native.js
Labels: Feature, Math, C

#1879 feat: add C implementation for `math/base/special/acotd`
  lib/node_modules/@stdlib/math/base/special/acotd/README.md
  lib/node_modules/@stdlib/math/base/special/acotd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acotd/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/acotd/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acotd/binding.gyp
  lib/node_modules/@stdlib/math/base/special/acotd/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/acotd/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/acotd/include.gypi
  lib/node_modules/@stdlib/math/base/special/acotd/include/stdlib/math/base/special/acotd.h
  lib/node_modules/@stdlib/math/base/special/acotd/lib/native.js
  lib/node_modules/@stdlib/math/base/special/acotd/manifest.json
  lib/node_modules/@stdlib/math/base/special/acotd/src/Makefile
  lib/node_modules/@stdlib/math/base/special/acotd/src/addon.c
  lib/node_modules/@stdlib/math/base/special/acotd/src/main.c
  lib/node_modules/@stdlib/math/base/special/acotd/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1880 feat: add C implementation for `math/base/special/asecd`
  lib/node_modules/@stdlib/math/base/special/asecd/README.md
  lib/node_modules/@stdlib/math/base/special/asecd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/asecd/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/asecd/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/asecd/binding.gyp
  lib/node_modules/@stdlib/math/base/special/asecd/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/asecd/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/asecd/include.gypi
  lib/node_modules/@stdlib/math/base/special/asecd/include/stdlib/math/base/special/asecd.h
  lib/node_modules/@stdlib/math/base/special/asecd/lib/native.js
  lib/node_modules/@stdlib/math/base/special/asecd/manifest.json
  lib/node_modules/@stdlib/math/base/special/asecd/src/Makefile
  lib/node_modules/@stdlib/math/base/special/asecd/src/addon.c
  lib/node_modules/@stdlib/math/base/special/asecd/src/main.c
  lib/node_modules/@stdlib/math/base/special/asecd/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1887 feat: add C implementation for `math/base/special/acsc`
  lib/node_modules/@stdlib/math/base/special/acsc/README.md
  lib/node_modules/@stdlib/math/base/special/acsc/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acsc/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/acsc/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acsc/binding.gyp
  lib/node_modules/@stdlib/math/base/special/acsc/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/acsc/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/acsc/include.gypi
  lib/node_modules/@stdlib/math/base/special/acsc/include/stdlib/math/base/special/acsc.h
  lib/node_modules/@stdlib/math/base/special/acsc/lib/native.js
  lib/node_modules/@stdlib/math/base/special/acsc/manifest.json
  lib/node_modules/@stdlib/math/base/special/acsc/src/Makefile
  lib/node_modules/@stdlib/math/base/special/acsc/src/addon.c
  lib/node_modules/@stdlib/math/base/special/acsc/src/main.c
  lib/node_modules/@stdlib/math/base/special/acsc/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1881 feat: add C implementation for `math/base/special/atand`
  lib/node_modules/@stdlib/math/base/special/atand/README.md
  lib/node_modules/@stdlib/math/base/special/atand/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/atand/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/atand/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/atand/binding.gyp
  lib/node_modules/@stdlib/math/base/special/atand/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/atand/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/atand/include.gypi
  lib/node_modules/@stdlib/math/base/special/atand/include/stdlib/math/base/special/atand.h
  lib/node_modules/@stdlib/math/base/special/atand/lib/native.js
  lib/node_modules/@stdlib/math/base/special/atand/manifest.json
  lib/node_modules/@stdlib/math/base/special/atand/src/Makefile
  lib/node_modules/@stdlib/math/base/special/atand/src/addon.c
  lib/node_modules/@stdlib/math/base/special/atand/src/main.c
  lib/node_modules/@stdlib/math/base/special/atand/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1871 feat: add C implementation for `math/base/special/acosd`
  lib/node_modules/@stdlib/math/base/special/acosd/README.md
  lib/node_modules/@stdlib/math/base/special/acosd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acosd/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/acosd/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acosd/binding.gyp
  lib/node_modules/@stdlib/math/base/special/acosd/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/acosd/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/acosd/include.gypi
  lib/node_modules/@stdlib/math/base/special/acosd/include/stdlib/math/base/special/acosd.h
  lib/node_modules/@stdlib/math/base/special/acosd/lib/native.js
  lib/node_modules/@stdlib/math/base/special/acosd/manifest.json
  lib/node_modules/@stdlib/math/base/special/acosd/src/Makefile
  lib/node_modules/@stdlib/math/base/special/acosd/src/addon.c
  lib/node_modules/@stdlib/math/base/special/acosd/src/main.c
  lib/node_modules/@stdlib/math/base/special/acosd/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1910 feat: add C implementation for `math/base/special/fast/hypot`
  lib/node_modules/@stdlib/math/base/special/fast/hypot/README.md
  lib/node_modules/@stdlib/math/base/special/fast/hypot/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/hypot/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/hypot/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/hypot/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fast/hypot/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/hypot/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fast/hypot/include.gypi
  lib/node_modules/@stdlib/math/base/special/fast/hypot/include/stdlib/math/base/special/fast/hypot.h
  lib/node_modules/@stdlib/math/base/special/fast/hypot/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fast/hypot/manifest.json
  lib/node_modules/@stdlib/math/base/special/fast/hypot/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/hypot/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fast/hypot/src/main.c
  lib/node_modules/@stdlib/math/base/special/fast/hypot/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1897 feat: add C implementation for `math/base/special/fast/acosh`
  lib/node_modules/@stdlib/math/base/special/fast/acosh/README.md
  lib/node_modules/@stdlib/math/base/special/fast/acosh/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/acosh/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/acosh/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/acosh/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fast/acosh/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/acosh/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fast/acosh/include.gypi
  lib/node_modules/@stdlib/math/base/special/fast/acosh/include/stdlib/math/base/special/fast/acosh.h
  lib/node_modules/@stdlib/math/base/special/fast/acosh/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fast/acosh/manifest.json
  lib/node_modules/@stdlib/math/base/special/fast/acosh/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/acosh/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fast/acosh/src/main.c
  lib/node_modules/@stdlib/math/base/special/fast/acosh/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1894 feat: add C implementation for `math/base/special/fast/abs`
  lib/node_modules/@stdlib/math/base/special/fast/abs/README.md
  lib/node_modules/@stdlib/math/base/special/fast/abs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/abs/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/abs/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/abs/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fast/abs/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/abs/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fast/abs/include.gypi
  lib/node_modules/@stdlib/math/base/special/fast/abs/include/stdlib/math/base/special/fast/abs.h
  lib/node_modules/@stdlib/math/base/special/fast/abs/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fast/abs/manifest.json
  lib/node_modules/@stdlib/math/base/special/fast/abs/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/abs/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fast/abs/src/main.c
  lib/node_modules/@stdlib/math/base/special/fast/abs/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1876 feat: add C implementation for `math/base/special/asind`
  lib/node_modules/@stdlib/math/base/special/asind/README.md
  lib/node_modules/@stdlib/math/base/special/asind/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/asind/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/asind/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/asind/binding.gyp
  lib/node_modules/@stdlib/math/base/special/asind/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/asind/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/asind/include.gypi
  lib/node_modules/@stdlib/math/base/special/asind/include/stdlib/math/base/special/asind.h
  lib/node_modules/@stdlib/math/base/special/asind/lib/native.js
  lib/node_modules/@stdlib/math/base/special/asind/manifest.json
  lib/node_modules/@stdlib/math/base/special/asind/src/Makefile
  lib/node_modules/@stdlib/math/base/special/asind/src/addon.c
  lib/node_modules/@stdlib/math/base/special/asind/src/main.c
  lib/node_modules/@stdlib/math/base/special/asind/test/test.native.js
Labels: Math

#1908 feat: add C implementation for `math/base/special/fast/asinh`
  lib/node_modules/@stdlib/math/base/special/fast/asinh/README.md
  lib/node_modules/@stdlib/math/base/special/fast/asinh/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/asinh/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/asinh/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/asinh/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fast/asinh/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/asinh/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fast/asinh/include.gypi
  lib/node_modules/@stdlib/math/base/special/fast/asinh/include/stdlib/math/base/special/fast/asinh.h
  lib/node_modules/@stdlib/math/base/special/fast/asinh/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fast/asinh/manifest.json
  lib/node_modules/@stdlib/math/base/special/fast/asinh/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/asinh/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fast/asinh/src/main.c
  lib/node_modules/@stdlib/math/base/special/fast/asinh/test/test.native.js
Labels: Math, Native Addons, C, Ready to merge

#1899 refactor: update `blas/ext/base/dnansum` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dnansum/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnansum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnansum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnansum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnansum/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dnansum/lib/dnansum.js
  lib/node_modules/@stdlib/blas/ext/base/dnansum/lib/dnansum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnansum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnansum/package.json
  lib/node_modules/@stdlib/blas/ext/base/dnansum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnansum/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dnansum/test/test.dnansum.js
  lib/node_modules/@stdlib/blas/ext/base/dnansum/test/test.dnansum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansum/test/test.ndarray.native.js
Labels: Native Addons, BLAS, Ready to merge

#1912 feat: add C implementation for `math/base/special/fast/max`
  lib/node_modules/@stdlib/math/base/special/fast/max/README.md
  lib/node_modules/@stdlib/math/base/special/fast/max/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/max/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/max/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/max/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fast/max/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/max/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fast/max/include.gypi
  lib/node_modules/@stdlib/math/base/special/fast/max/include/stdlib/math/base/special/fast/max.h
  lib/node_modules/@stdlib/math/base/special/fast/max/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fast/max/manifest.json
  lib/node_modules/@stdlib/math/base/special/fast/max/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/max/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fast/max/src/main.c
  lib/node_modules/@stdlib/math/base/special/fast/max/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1913 feat: add C implementation for `math/base/special/fast/min`
  lib/node_modules/@stdlib/math/base/special/fast/min/README.md
  lib/node_modules/@stdlib/math/base/special/fast/min/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/min/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/min/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/min/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fast/min/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/min/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fast/min/include.gypi
  lib/node_modules/@stdlib/math/base/special/fast/min/include/stdlib/math/base/special/fast/min.h
  lib/node_modules/@stdlib/math/base/special/fast/min/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fast/min/manifest.json
  lib/node_modules/@stdlib/math/base/special/fast/min/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/min/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fast/min/src/main.c
  lib/node_modules/@stdlib/math/base/special/fast/min/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1935 fix: variable type declarations in `math/base/assert/int32-is-odd`
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/README.md
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/lib/native.js
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/src/addon.c
Labels: Math, C, Ready to merge

#1851 feat: add `utils/any-own-by`
  lib/node_modules/@stdlib/utils/any-own-by/README.md
  lib/node_modules/@stdlib/utils/any-own-by/docs/repl.txt
  lib/node_modules/@stdlib/utils/any-own-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/utils/any-own-by/docs/types/test.ts
  lib/node_modules/@stdlib/utils/any-own-by/examples/index.js
  lib/node_modules/@stdlib/utils/any-own-by/lib/index.js
  lib/node_modules/@stdlib/utils/any-own-by/lib/main.js
  lib/node_modules/@stdlib/utils/any-own-by/package.json
  lib/node_modules/@stdlib/utils/any-own-by/test/test.js
Labels: Feature, Needs Review, Utilities, JavaScript

#1934 feat: add C implementation for `math/base/special/modf`
  lib/node_modules/@stdlib/math/base/special/modf/README.md
  lib/node_modules/@stdlib/math/base/special/modf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/modf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/modf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/modf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/modf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/modf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/modf/include.gypi
  lib/node_modules/@stdlib/math/base/special/modf/include/stdlib/math/base/special/modf.h
  lib/node_modules/@stdlib/math/base/special/modf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/modf/manifest.json
  lib/node_modules/@stdlib/math/base/special/modf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/modf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/modf/src/main.c
  lib/node_modules/@stdlib/math/base/special/modf/test/test.native.js
Labels: Feature, Math, C, Ready to merge

#1919 feat: add C implementation for `math/base/special/fast/pow-int`
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/README.md
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/include.gypi
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/include/stdlib/math/base/special/fast/pow.h
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/manifest.json
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/src/main.c
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1777 feat: add `math/base/special/cosd`
  lib/node_modules/@stdlib/math/base/special/cosd/README.md
  lib/node_modules/@stdlib/math/base/special/cosd/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/cosd/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/cosd/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/cosd/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/cosd/examples/index.js
  lib/node_modules/@stdlib/math/base/special/cosd/lib/index.js
  lib/node_modules/@stdlib/math/base/special/cosd/lib/main.js
  lib/node_modules/@stdlib/math/base/special/cosd/package.json
  lib/node_modules/@stdlib/math/base/special/cosd/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/cosd/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/cosd/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/cosd/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/cosd/test/test.js
Labels: Needs Review, Math, JavaScript, Needs Changes

#1909 feat: add C implementation for `math/base/special/fast/atanh`
  lib/node_modules/@stdlib/math/base/special/fast/atanh/README.md
  lib/node_modules/@stdlib/math/base/special/fast/atanh/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/atanh/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/atanh/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/atanh/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fast/atanh/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/atanh/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fast/atanh/include.gypi
  lib/node_modules/@stdlib/math/base/special/fast/atanh/include/stdlib/math/base/special/fast/atanh.h
  lib/node_modules/@stdlib/math/base/special/fast/atanh/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fast/atanh/manifest.json
  lib/node_modules/@stdlib/math/base/special/fast/atanh/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/atanh/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fast/atanh/src/main.c
  lib/node_modules/@stdlib/math/base/special/fast/atanh/test/test.native.js
Labels: Feature, Math, C, Ready to merge

#1918 feat: add C implementation for `math/base/assert/is-composite`
  lib/node_modules/@stdlib/math/base/assert/is-composite/README.md
  lib/node_modules/@stdlib/math/base/assert/is-composite/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-composite/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-composite/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-composite/binding.gyp
  lib/node_modules/@stdlib/math/base/assert/is-composite/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-composite/examples/c/example.c
  lib/node_modules/@stdlib/math/base/assert/is-composite/include.gypi
  lib/node_modules/@stdlib/math/base/assert/is-composite/include/stdlib/math/base/assert/is_composite.h
  lib/node_modules/@stdlib/math/base/assert/is-composite/lib/native.js
  lib/node_modules/@stdlib/math/base/assert/is-composite/manifest.json
  lib/node_modules/@stdlib/math/base/assert/is-composite/src/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-composite/src/addon.c
  lib/node_modules/@stdlib/math/base/assert/is-composite/src/main.c
  lib/node_modules/@stdlib/math/base/assert/is-composite/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1867 refactor: update `blas/ext/base/dcusum` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dcusum/README.md
  lib/node_modules/@stdlib/blas/ext/base/dcusum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dcusum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dcusum/lib/dcusum.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/lib/dcusum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dcusum/package.json
  lib/node_modules/@stdlib/blas/ext/base/dcusum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dcusum/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dcusum/test/test.dcusum.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/test/test.dcusum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/test/test.ndarray.native.js
Labels: Enhancement, Native Addons, BLAS, C, Needs Changes

#1958 fix: missing headers in math/base/fast/pow-int and math/base/special/bernoulli
  lib/node_modules/@stdlib/math/base/special/bernoulli/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/README.md
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/examples/c/example.c
Labels: Math, C, Ready to merge

#1953 feat: add `constants/float32/half-pi`
  lib/node_modules/@stdlib/constants/float32/half-pi/README.md
  lib/node_modules/@stdlib/constants/float32/half-pi/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/half-pi/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/half-pi/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/half-pi/examples/index.js
  lib/node_modules/@stdlib/constants/float32/half-pi/include/stdlib/constants/float64/half_pi.h
  lib/node_modules/@stdlib/constants/float32/half-pi/lib/index.js
  lib/node_modules/@stdlib/constants/float32/half-pi/manifest.json
  lib/node_modules/@stdlib/constants/float32/half-pi/package.json
  lib/node_modules/@stdlib/constants/float32/half-pi/test/test.js
Labels: Feature, Needs Changes

#1970 refactor: add support for ratios evaluating as infinity in `math/base/tools/evalrational-compile-c`
  lib/node_modules/@stdlib/math/base/tools/evalrational-compile-c/lib/main.js
  lib/node_modules/@stdlib/math/base/tools/evalrational-compile-c/test/fixtures/coefficient_ratio_negative_infinity.c.txt
  lib/node_modules/@stdlib/math/base/tools/evalrational-compile-c/test/fixtures/coefficient_ratio_negative_infinity_custom.c.txt
  lib/node_modules/@stdlib/math/base/tools/evalrational-compile-c/test/fixtures/coefficient_ratio_positive_infinity.c.txt
  lib/node_modules/@stdlib/math/base/tools/evalrational-compile-c/test/fixtures/coefficient_ratio_positive_infinity_custom.c.txt
  lib/node_modules/@stdlib/math/base/tools/evalrational-compile-c/test/fixtures/evalrational4.c.txt
  lib/node_modules/@stdlib/math/base/tools/evalrational-compile-c/test/fixtures/loop3.c.txt
  lib/node_modules/@stdlib/math/base/tools/evalrational-compile-c/test/test.js
Labels: Math

#1834 feat: add C implementation for `math/base/special/gamma-lanczos-sum`
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/README.md
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/binding.gyp
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/include.gypi
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/include/stdlib/math/base/special/gamma_lanczos_sum.h
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/lib/native.js
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/lib/rational_pq.js
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/manifest.json
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/scripts/evalrational.js
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/src/Makefile
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/src/addon.c
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/src/main.c
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/test/test.native.js
Labels: Feature, Math, Native Addons, C

#1864 refactor: update `blas/ext/base/scusum` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/scusum/README.md
  lib/node_modules/@stdlib/blas/ext/base/scusum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/scusum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/scusum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/scusum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/scusum/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/scusum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/scusum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/scusum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusum/lib/scusum.js
  lib/node_modules/@stdlib/blas/ext/base/scusum/lib/scusum.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/scusum/package.json
  lib/node_modules/@stdlib/blas/ext/base/scusum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/scusum/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/scusum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/scusum/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusum/test/test.scusum.js
  lib/node_modules/@stdlib/blas/ext/base/scusum/test/test.scusum.native.js
Labels: Enhancement, Native Addons, BLAS, C

#1929 refactor: update `blas/ext/base/scusumpw` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/scusumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/scusumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/scusumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/scusumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/scusumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/scusumpw/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/scusumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/scusumpw/package.json
  lib/node_modules/@stdlib/blas/ext/base/scusumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/scusumpw/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/scusumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/scusumpw/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumpw/test/test.scusumpw.js
  lib/node_modules/@stdlib/blas/ext/base/scusumpw/test/test.scusumpw.native.js
Labels: Enhancement, Needs Review, Native Addons, BLAS, C

#1954 refactor: update `blas/ext/base/dapx` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dapx/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapx/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dapx/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dapx/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dapx/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dapx/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dapx/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dapx/test/test.dapx.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/test/test.dapx.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/test/test.ndarray.native.js
Labels: Enhancement, Native Addons, BLAS, C

#1850 refactor: update `blas/ext/base/sapxsum` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/sapxsum/README.md
  lib/node_modules/@stdlib/blas/ext/base/sapxsum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sapxsum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsum/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/sapxsum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sapxsum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sapxsum/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/sapxsum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsum/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsum/test/test.sapxsum.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsum/test/test.sapxsum.native.js
Labels: Enhancement, Native Addons, BLAS, C, Needs Changes

#1824 refactor: update `blas/ext/base/sapx` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/sapx/README.md
  lib/node_modules/@stdlib/blas/ext/base/sapx/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sapx/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapx/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapx/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapx/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sapx/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sapx/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/sapx/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapx/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sapx/package.json
  lib/node_modules/@stdlib/blas/ext/base/sapx/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sapx/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/sapx/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapx/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapx/test/test.sapx.js
  lib/node_modules/@stdlib/blas/ext/base/sapx/test/test.sapx.native.js
Labels: Enhancement, Native Addons, BLAS, C

#1810 feat: add `string/base/last-grapheme-cluster`
  lib/node_modules/@stdlib/string/base/last-grapheme-cluster/README.md
  lib/node_modules/@stdlib/string/base/last-grapheme-cluster/benchmark/benchmark.js
  lib/node_modules/@stdlib/string/base/last-grapheme-cluster/docs/repl.txt
  lib/node_modules/@stdlib/string/base/last-grapheme-cluster/docs/types/index.d.ts
  lib/node_modules/@stdlib/string/base/last-grapheme-cluster/docs/types/test.ts
  lib/node_modules/@stdlib/string/base/last-grapheme-cluster/examples/index.js
  lib/node_modules/@stdlib/string/base/last-grapheme-cluster/lib/index.js
  lib/node_modules/@stdlib/string/base/last-grapheme-cluster/lib/main.js
  lib/node_modules/@stdlib/string/base/last-grapheme-cluster/package.json
  lib/node_modules/@stdlib/string/base/last-grapheme-cluster/test/test.js
Labels: Feature, Utilities

#1888 refactor: update `blas/ext/base/dsapxsum` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/lib/dsapxsum.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/lib/dsapxsum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/package.json
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/test/test.dsapxsum.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/test/test.dsapxsum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsum/test/test.ndarray.native.js
Labels: BLAS

#1925 refactor: update `blas/ext/base/sdsapxsumpw` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsumpw/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsumpw/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsumpw/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsumpw/test/test.sdsapxsumpw.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsumpw/test/test.sdsapxsumpw.native.js
Labels: Enhancement, Native Addons, BLAS, C, Needs Changes

#1906 refactor: update `blas/ext/base/dapxsumkbn` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/test/test.dapxsumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/test/test.dapxsumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/test/test.ndarray.native.js
Labels: BLAS, Needs Changes

#1807 refactor: update `blas/ext/base/dsum` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dsum/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dsum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsum/package.json
  lib/node_modules/@stdlib/blas/ext/base/dsum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsum/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dsum/test/test.dsum.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/test/test.dsum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/test/test.ndarray.native.js
Labels: Enhancement, Native Addons, BLAS, C, Needs Changes

#1873 refactor: update `blas/ext/base/ssumkbn2` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/package.json
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/test/test.ssumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/test/test.ssumkbn2.native.js
Labels: Enhancement, Native Addons, BLAS, C

#1904 feat: add C implementation for `math/base/special/acscd`
  lib/node_modules/@stdlib/math/base/special/acscd/README.md
  lib/node_modules/@stdlib/math/base/special/acscd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acscd/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/acscd/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acscd/binding.gyp
  lib/node_modules/@stdlib/math/base/special/acscd/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/acscd/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/acscd/include.gypi
  lib/node_modules/@stdlib/math/base/special/acscd/include/stdlib/math/base/special/acscd.h
  lib/node_modules/@stdlib/math/base/special/acscd/lib/native.js
  lib/node_modules/@stdlib/math/base/special/acscd/manifest.json
  lib/node_modules/@stdlib/math/base/special/acscd/src/Makefile
  lib/node_modules/@stdlib/math/base/special/acscd/src/addon.c
  lib/node_modules/@stdlib/math/base/special/acscd/src/main.c
  lib/node_modules/@stdlib/math/base/special/acscd/test/test.native.js
Labels: Feature, Needs Review, Math, C

#1964 feat: add C implementation for `math/base/special/nonfibonacci`
  lib/node_modules/@stdlib/math/base/special/nonfibonacci/README.md
  lib/node_modules/@stdlib/math/base/special/nonfibonacci/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/nonfibonacci/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/nonfibonacci/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/nonfibonacci/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/nonfibonacci/binding.gyp
  lib/node_modules/@stdlib/math/base/special/nonfibonacci/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/nonfibonacci/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/nonfibonacci/include.gypi
  lib/node_modules/@stdlib/math/base/special/nonfibonacci/include/stdlib/math/base/special/nonfibonacci.h
  lib/node_modules/@stdlib/math/base/special/nonfibonacci/lib/native.js
  lib/node_modules/@stdlib/math/base/special/nonfibonacci/manifest.json
  lib/node_modules/@stdlib/math/base/special/nonfibonacci/src/Makefile
  lib/node_modules/@stdlib/math/base/special/nonfibonacci/src/addon.c
  lib/node_modules/@stdlib/math/base/special/nonfibonacci/src/main.c
  lib/node_modules/@stdlib/math/base/special/nonfibonacci/test/test.native.js
Labels: Math, Native Addons, C, Ready to merge

#1895 refactor: update `blas/ext/base/sapxsumkbn` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/lib/sapxsumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/lib/sapxsumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/package.json
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/test/test.sapxsumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn/test/test.sapxsumkbn.native.js
Labels: Enhancement, Native Addons, BLAS, C

#1961 refactor: update `blas/ext/base/scusumkbn2` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/package.json
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/test/test.scusumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/test/test.scusumkbn2.native.js
Labels: Enhancement, Needs Review, Native Addons, BLAS, C

#1947 feat: add C implementation of `math/base/special/fast/alpha-max-plus-beta-min`
  lib/node_modules/@stdlib/math/base/special/fast/alpha-max-plus-beta-min/README.md
  lib/node_modules/@stdlib/math/base/special/fast/alpha-max-plus-beta-min/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/alpha-max-plus-beta-min/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/alpha-max-plus-beta-min/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/alpha-max-plus-beta-min/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fast/alpha-max-plus-beta-min/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/alpha-max-plus-beta-min/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fast/alpha-max-plus-beta-min/include.gypi
  lib/node_modules/@stdlib/math/base/special/fast/alpha-max-plus-beta-min/include/stdlib/math/base/special/fast/alpha_max_plus_beta_min.h
  lib/node_modules/@stdlib/math/base/special/fast/alpha-max-plus-beta-min/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fast/alpha-max-plus-beta-min/manifest.json
  lib/node_modules/@stdlib/math/base/special/fast/alpha-max-plus-beta-min/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/alpha-max-plus-beta-min/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fast/alpha-max-plus-beta-min/src/main.c
  lib/node_modules/@stdlib/math/base/special/fast/alpha-max-plus-beta-min/test/test.native.js
Labels: Feature, Math, Native Addons, C

#1946 feat: add C implementation for `math/base/special/fast/uint32-log2`
  lib/node_modules/@stdlib/math/base/special/fast/uint32-log2/README.md
  lib/node_modules/@stdlib/math/base/special/fast/uint32-log2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/uint32-log2/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/uint32-log2/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/uint32-log2/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fast/uint32-log2/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/uint32-log2/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fast/uint32-log2/include.gypi
  lib/node_modules/@stdlib/math/base/special/fast/uint32-log2/include/stdlib/math/base/special/fast/uint32_log2.h
  lib/node_modules/@stdlib/math/base/special/fast/uint32-log2/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fast/uint32-log2/manifest.json
  lib/node_modules/@stdlib/math/base/special/fast/uint32-log2/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/uint32-log2/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fast/uint32-log2/src/main.c
  lib/node_modules/@stdlib/math/base/special/fast/uint32-log2/test/test.native.js
Labels: Feature, Math, Native Addons, C

#1995 refactor update `blas/ext/base/dsumkbn2` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/test/test.dsumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/test/test.dsumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/test/test.ndarray.native.js
Labels: BLAS

#1962 refactor: update `blas/ext/base/sapxsumpw`
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/package.json
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/test/test.sapxsumpw.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/test/test.sapxsumpw.native.js
Labels: Enhancement, Native Addons, BLAS, C, Ready to merge

#1980 feat: add C implementation for `math/base/special/gamma-lanczos-sum-expg-scaled`
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/README.md
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/binding.gyp
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/include.gypi
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/include/stdlib/math/base/special/gamma_lanczos_sum_expg_scaled.h
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/lib/native.js
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/lib/rational_pq.js
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/manifest.json
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/scripts/evalrational.js
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/src/Makefile
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/src/addon.c
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/src/main.c
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/test/test.native.js
Labels: Needs Review, Math, Native Addons, C

#2012 refactor: update `blas/ext/base/scusumkbn` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/package.json
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/test/test.scusumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/test/test.scusumkbn.native.js
Labels: Enhancement, Native Addons, BLAS, C

#1996 refactor: update `blas/ext/base/dapxsumpw` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/test/test.dapxsumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/test/test.dapxsumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/test/test.ndarray.native.js
Labels: Native Addons, BLAS, C, Needs Changes

#1968 refactor: update `blas/ext/base/dsumors` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dsumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dsumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsumors/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dsumors/test/test.dsumors.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/test/test.dsumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/test/test.ndarray.native.js
Labels: Native Addons, BLAS, C, Needs Changes

#1966 refactor: `blas/ext/base/sapxsumkbn2` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/test/test.sapxsumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/test/test.sapxsumkbn2.native.js
Labels: Enhancement, Native Addons, BLAS, C, Needs Changes

#1969 refactor: update `blas/ext/base/sasumpw` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/test/test.sasumpw.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/test/test.sasumpw.native.js
Labels: Native Addons, BLAS, C, Needs Changes

#1993 refactor: update `blas/ext/base/dapxsumors` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/test/test.dapxsumors.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/test/test.dapxsumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/test/test.ndarray.native.js
Labels: Native Addons, BLAS, C, Ready to merge

#2020 refactor: update `blas/ext/base/dcusumkbn2` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/package.json
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/test/test.dcusumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/test/test.dcusumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/test/test.ndarray.native.js
Labels: Needs Review, Native Addons, BLAS, C

#1960 feat: add C implementation for `math/base/special/fast/uint32-sqrt`
  lib/node_modules/@stdlib/math/base/special/fast/uint32-sqrt/README.md
  lib/node_modules/@stdlib/math/base/special/fast/uint32-sqrt/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/uint32-sqrt/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/uint32-sqrt/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/uint32-sqrt/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fast/uint32-sqrt/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/uint32-sqrt/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fast/uint32-sqrt/include.gypi
  lib/node_modules/@stdlib/math/base/special/fast/uint32-sqrt/include/stdlib/math/base/special/fast/uint32_sqrt.h
  lib/node_modules/@stdlib/math/base/special/fast/uint32-sqrt/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fast/uint32-sqrt/manifest.json
  lib/node_modules/@stdlib/math/base/special/fast/uint32-sqrt/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/uint32-sqrt/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fast/uint32-sqrt/src/main.c
  lib/node_modules/@stdlib/math/base/special/fast/uint32-sqrt/test/test.native.js
Labels: Math, Native Addons, C, Ready to merge

#2024 Update ```blas/ext/base/dsapxsumpw``` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/test/test.dsapxsumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/test/test.dsapxsumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsapxsumpw/test/test.ndarray.native.js
Labels: Native Addons, BLAS, C, Ready to merge

#2030 feat: add `math/base/special/asinf`
  lib/node_modules/@stdlib/math/base/special/asinf/LICENSE
  lib/node_modules/@stdlib/math/base/special/asinf/README.md
  lib/node_modules/@stdlib/math/base/special/asinf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/asinf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/asinf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/asinf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/asinf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/asinf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/asinf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/asinf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/asinf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/asinf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/asinf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/asinf/include.gypi
  lib/node_modules/@stdlib/math/base/special/asinf/include/stdlib/math/base/special/asinf.h
  lib/node_modules/@stdlib/math/base/special/asinf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/asinf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/asinf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/asinf/lib/poly_p.js
  lib/node_modules/@stdlib/math/base/special/asinf/manifest.json
  lib/node_modules/@stdlib/math/base/special/asinf/package.json
  lib/node_modules/@stdlib/math/base/special/asinf/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/asinf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/asinf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/asinf/src/main.c
  lib/node_modules/@stdlib/math/base/special/asinf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/asinf/test/fixtures/julia/data.json
  lib/node_modules/@stdlib/math/base/special/asinf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/asinf/test/fixtures/julia/small_negative.json
  lib/node_modules/@stdlib/math/base/special/asinf/test/fixtures/julia/small_positive.json
  lib/node_modules/@stdlib/math/base/special/asinf/test/test.js
  lib/node_modules/@stdlib/math/base/special/asinf/test/test.native.js
Labels: Feature, Math, Native Addons, C

#2042 feat: add `constants/float32/pi`
  lib/node_modules/@stdlib/constants/float32/pi/README.md
  lib/node_modules/@stdlib/constants/float32/pi/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/pi/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/pi/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/pi/examples/index.js
  lib/node_modules/@stdlib/constants/float32/pi/include/stdlib/constants/float32/pi.h
  lib/node_modules/@stdlib/constants/float32/pi/lib/index.js
  lib/node_modules/@stdlib/constants/float32/pi/manifest.json
  lib/node_modules/@stdlib/constants/float32/pi/package.json
  lib/node_modules/@stdlib/constants/float32/pi/test/test.js
Labels: Feature, C

#1832 feat: add auto-completion preview for REPL
  lib/node_modules/@stdlib/repl/lib/complete_expression.js
  lib/node_modules/@stdlib/repl/lib/complete_walk_find_last.js
  lib/node_modules/@stdlib/repl/lib/completer_preview.js
  lib/node_modules/@stdlib/repl/lib/main.js
  lib/node_modules/@stdlib/repl/test/fixtures/repl.js
  lib/node_modules/@stdlib/repl/test/integration/test.completion_previews.js
Labels: REPL, Needs Changes

#1978 refactor: update `blas/ext/base/dapxsumkbn2` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/test/test.dapxsumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/test/test.dapxsumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn2/test/test.ndarray.native.js
Labels: Needs Review, Native Addons, BLAS, C

#1981 feat: add C implementation for `math/base/special/atan2`
  lib/node_modules/@stdlib/math/base/special/atan2/README.md
  lib/node_modules/@stdlib/math/base/special/atan2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/atan2/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/atan2/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/atan2/binding.gyp
  lib/node_modules/@stdlib/math/base/special/atan2/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/atan2/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/atan2/include.gypi
  lib/node_modules/@stdlib/math/base/special/atan2/include/stdlib/math/base/special/atan2.h
  lib/node_modules/@stdlib/math/base/special/atan2/lib/native.js
  lib/node_modules/@stdlib/math/base/special/atan2/manifest.json
  lib/node_modules/@stdlib/math/base/special/atan2/src/Makefile
  lib/node_modules/@stdlib/math/base/special/atan2/src/addon.c
  lib/node_modules/@stdlib/math/base/special/atan2/src/main.c
  lib/node_modules/@stdlib/math/base/special/atan2/test/test.native.js
Labels: Feature, Math, Native Addons, C, Ready to merge

#1992 refactor: update `blas/ext/base/dnansumkbn2` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/test/test.dnansumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/test/test.dnansumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/test/test.ndarray.native.js
Labels: Needs Review, Native Addons, BLAS, C

#2046 feat: add `constants/float32/fourth-pi`
  lib/node_modules/@stdlib/constants/float32/fourth-pi/README.md
  lib/node_modules/@stdlib/constants/float32/fourth-pi/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/fourth-pi/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/fourth-pi/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/fourth-pi/examples/index.js
  lib/node_modules/@stdlib/constants/float32/fourth-pi/include/stdlib/constants/float32/fourth_pi.h
  lib/node_modules/@stdlib/constants/float32/fourth-pi/lib/index.js
  lib/node_modules/@stdlib/constants/float32/fourth-pi/manifest.json
  lib/node_modules/@stdlib/constants/float32/fourth-pi/package.json
  lib/node_modules/@stdlib/constants/float32/fourth-pi/test/test.js
Labels: Feature

#1989 refactor: update `blas/ext/base/dnansumkbn` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/test/test.dnansumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/test/test.dnansumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/test/test.ndarray.native.js
Labels: BLAS

#1998 refactor: update `blas/ext/base/dasumpw` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/test/test.dasumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/test/test.dasumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/test/test.ndarray.native.js
Labels: Enhancement, Native Addons, BLAS, C, Needs Changes

#1793 refactor: update `blas/ext/base/dapxsum` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/test/test.dapxsum.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/test/test.dapxsum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/test/test.ndarray.native.js
Labels: Enhancement, Native Addons, BLAS, C, Needs Changes

#2041 refactor `blas/ext/base/dcusumors` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/lib/dcusumors.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/lib/dcusumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/package.json
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/test/test.dcusumors.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/test/test.dcusumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/test/test.ndarray.native.js
Labels: Native Addons, BLAS, Needs Changes

#2054 feat: add `math/base/special/atanf`
  lib/node_modules/@stdlib/math/base/special/atanf/LICENSE
  lib/node_modules/@stdlib/math/base/special/atanf/README.md
  lib/node_modules/@stdlib/math/base/special/atanf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/atanf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/atanf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/atanf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/atanf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/atanf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/atanf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/atanf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/atanf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/atanf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/atanf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/atanf/include.gypi
  lib/node_modules/@stdlib/math/base/special/atanf/include/stdlib/math/base/special/atanf.h
  lib/node_modules/@stdlib/math/base/special/atanf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/atanf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/atanf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/atanf/lib/poly_p.js
  lib/node_modules/@stdlib/math/base/special/atanf/manifest.json
  lib/node_modules/@stdlib/math/base/special/atanf/package.json
  lib/node_modules/@stdlib/math/base/special/atanf/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/atanf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/atanf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/atanf/src/main.c
  lib/node_modules/@stdlib/math/base/special/atanf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/atanf/test/fixtures/julia/huge_negative.json
  lib/node_modules/@stdlib/math/base/special/atanf/test/fixtures/julia/huge_positive.json
  lib/node_modules/@stdlib/math/base/special/atanf/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/atanf/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/atanf/test/fixtures/julia/larger_negative.json
  lib/node_modules/@stdlib/math/base/special/atanf/test/fixtures/julia/larger_positive.json
  lib/node_modules/@stdlib/math/base/special/atanf/test/fixtures/julia/medium_negative.json
  lib/node_modules/@stdlib/math/base/special/atanf/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/atanf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/atanf/test/fixtures/julia/small_negative.json
  lib/node_modules/@stdlib/math/base/special/atanf/test/fixtures/julia/small_positive.json
  lib/node_modules/@stdlib/math/base/special/atanf/test/fixtures/julia/smaller.json
  lib/node_modules/@stdlib/math/base/special/atanf/test/fixtures/julia/tiny_negative.json
  lib/node_modules/@stdlib/math/base/special/atanf/test/fixtures/julia/tiny_positive.json
  lib/node_modules/@stdlib/math/base/special/atanf/test/test.js
  lib/node_modules/@stdlib/math/base/special/atanf/test/test.native.js
Labels: Feature, Math

#2084 refactor `blas/ext/base/dcusumpw` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/lib/dcusumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/lib/dcusumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/package.json
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/test/test.dcusumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/test/test.dcusumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/test/test.ndarray.native.js
Labels: Native Addons, BLAS, C, Ready to merge

#2085 fix addon of `blas/ext/base/dcusumors`
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/src/addon.c
Labels: Native Addons, BLAS, C, Ready to merge

#2036 refactor `blas/ext/base/dcusumkbn` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/lib/dcusumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/lib/dcusumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/package.json
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/test/test.dcusumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/test/test.dcusumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/test/test.ndarray.native.js
Labels: Native Addons, BLAS, C, Needs Changes
