Repository stdlib-js/stdlib, pull requests merged in 2024-10, with the labels that each got.

#2966 feat: add `constants/float64/max-safe-nth-double-factorial`
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-double-factorial/README.md
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-double-factorial/docs/repl.txt
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-double-factorial/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-double-factorial/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-double-factorial/examples/index.js
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-double-factorial/include/stdlib/constants/float64/max_safe_nth_double_factorial.h
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-double-factorial/lib/index.js
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-double-factorial/manifest.json
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-double-factorial/package.json
  lib/node_modules/@stdlib/constants/float64/max-safe-nth-double-factorial/test/test.js
Labels: Feature

#2970 refactor: use `max-safe-nth-factorial` package in `math/base/special/falling-factorial`
  lib/node_modules/@stdlib/math/base/special/falling-factorial/lib/main.js
Labels: Math

#2975 chore: add missing `native.js` and fix indentation in `math/base/special/lucas`
  lib/node_modules/@stdlib/math/base/special/lucas/lib/native.js
  lib/node_modules/@stdlib/math/base/special/lucas/src/main.c
Labels: Math

#2968 feat: add C `ndarray` API and refactor `blas/ext/base/dcusumors`
  lib/node_modules/@stdlib/blas/ext/base/dcusum/README.md
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/include/stdlib/blas/ext/base/dcusumors.h
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/lib/dcusumors.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/src/dcusumors.c
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/src/main.c
Labels: Feature, BLAS, C

#2962 feat: add C `ndarray` API and refactor `blas/ext/base/zfill`
  lib/node_modules/@stdlib/blas/ext/base/cfill/README.md
  lib/node_modules/@stdlib/blas/ext/base/cfill/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/cfill/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dfill/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dfill/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sfill/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/zfill/README.md
  lib/node_modules/@stdlib/blas/ext/base/zfill/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/zfill/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/zfill/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/zfill/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/zfill/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/zfill/include/stdlib/blas/ext/base/zfill.h
  lib/node_modules/@stdlib/blas/ext/base/zfill/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/zfill/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/zfill/lib/zfill.js
  lib/node_modules/@stdlib/blas/ext/base/zfill/lib/zfill.native.js
  lib/node_modules/@stdlib/blas/ext/base/zfill/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/zfill/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/zfill/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/zfill/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/zfill/test/test.ndarray.native.js
Labels: Feature, BLAS, C

#2976 feat: add `blas/base/dswap-wasm`
  lib/node_modules/@stdlib/blas/base/dswap-wasm/README.md
  lib/node_modules/@stdlib/blas/base/dswap-wasm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/dswap-wasm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/dswap-wasm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/dswap-wasm/examples/index.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/examples/little_endian_array.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/examples/module.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/lib/binary.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/lib/index.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/lib/main.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/lib/module.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/lib/routine.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/manifest.json
  lib/node_modules/@stdlib/blas/base/dswap-wasm/package.json
  lib/node_modules/@stdlib/blas/base/dswap-wasm/scripts/build.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/dswap-wasm/src/Makefile
  lib/node_modules/@stdlib/blas/base/dswap-wasm/src/main.wasm
  lib/node_modules/@stdlib/blas/base/dswap-wasm/src/main.wat
  lib/node_modules/@stdlib/blas/base/dswap-wasm/test/test.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/test/test.main.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/test/test.module.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/dswap-wasm/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#2979 feat: add `blas/base/drot-wasm`
  lib/node_modules/@stdlib/blas/base/drot-wasm/README.md
  lib/node_modules/@stdlib/blas/base/drot-wasm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/drot-wasm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/drot-wasm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/drot-wasm/examples/index.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/examples/module.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/lib/binary.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/lib/index.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/lib/main.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/lib/module.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/lib/routine.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/manifest.json
  lib/node_modules/@stdlib/blas/base/drot-wasm/package.json
  lib/node_modules/@stdlib/blas/base/drot-wasm/scripts/build.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/drot-wasm/src/Makefile
  lib/node_modules/@stdlib/blas/base/drot-wasm/src/main.wasm
  lib/node_modules/@stdlib/blas/base/drot-wasm/src/main.wat
  lib/node_modules/@stdlib/blas/base/drot-wasm/test/test.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/test/test.main.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/test/test.module.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/drot-wasm/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#2981 feat: add C `ndarray` API and refactor `blas/ext/base/dcusumpw`
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/include/stdlib/blas/ext/base/dcusumpw.h
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/lib/dcusumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/src/main.c
Labels: Feature, BLAS, C

#2982 feat: add C `ndarray` API and refactor `blas/ext/base/dnanasumors`
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/include/stdlib/blas/ext/base/dnanasumors.h
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/lib/dnanasumors.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/lib/dnanasumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/src/dnanasumors.c
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/test/test.dnanasumors.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/test/test.dnanasumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/test/test.ndarray.native.js
Labels: Feature, BLAS, C

#2927 chore: add runner script to create packages in `math/iter/special`
  lib/node_modules/@stdlib/_tools/scaffold/math-iter-unary/data/README__md.txt
  lib/node_modules/@stdlib/_tools/scaffold/math-iter-unary/data/benchmark/benchmark__js.txt
  lib/node_modules/@stdlib/_tools/scaffold/math-iter-unary/data/docs/repl__txt.txt
  lib/node_modules/@stdlib/_tools/scaffold/math-iter-unary/data/docs/types/index__d__ts.txt
  lib/node_modules/@stdlib/_tools/scaffold/math-iter-unary/data/docs/types/test__ts.txt
  lib/node_modules/@stdlib/_tools/scaffold/math-iter-unary/data/examples/index__js.txt
  lib/node_modules/@stdlib/_tools/scaffold/math-iter-unary/data/lib/index__js.txt
  lib/node_modules/@stdlib/_tools/scaffold/math-iter-unary/data/lib/main__js.txt
  lib/node_modules/@stdlib/_tools/scaffold/math-iter-unary/data/package__json.txt
  lib/node_modules/@stdlib/_tools/scaffold/math-iter-unary/data/test/test__js.txt
  lib/node_modules/@stdlib/_tools/scaffold/math-iter-unary/scripts/runner.js
  lib/node_modules/@stdlib/_tools/scaffold/math-iter-unary/scripts/scaffold.sh
Labels: Math, Tools

#2989 build: add `WebAssembly` configuration for `math/base/special/abs2` and `math/base/special/sqrt`
  lib/node_modules/@stdlib/math/base/special/abs2/manifest.json
  lib/node_modules/@stdlib/math/base/special/sqrt/manifest.json
Labels: Math, WebAssembly

#1436 refactor: improve type specificity for `utils/group-own`
  lib/node_modules/@stdlib/utils/group-own/docs/types/index.d.ts
  lib/node_modules/@stdlib/utils/group-own/docs/types/test.ts
Labels: TypeScript, Needs Changes

#2939 feat: `add is-same-typed-array-like`
  lib/node_modules/@stdlib/assert/is-same-typed-array-like/README.md
  lib/node_modules/@stdlib/assert/is-same-typed-array-like/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/assert/is-same-typed-array-like/docs/repl.txt
  lib/node_modules/@stdlib/assert/is-same-typed-array-like/docs/types/index.d.ts
  lib/node_modules/@stdlib/assert/is-same-typed-array-like/docs/types/test.ts
  lib/node_modules/@stdlib/assert/is-same-typed-array-like/examples/index.js
  lib/node_modules/@stdlib/assert/is-same-typed-array-like/lib/index.js
  lib/node_modules/@stdlib/assert/is-same-typed-array-like/lib/main.js
  lib/node_modules/@stdlib/assert/is-same-typed-array-like/package.json
  lib/node_modules/@stdlib/assert/is-same-typed-array-like/test/test.js
Labels: Feature, Utilities, Ready To Merge

#2978 feat: add `iter/cunone`
  lib/node_modules/@stdlib/iter/cunone/README.md
  lib/node_modules/@stdlib/iter/cunone/benchmark/benchmark.js
  lib/node_modules/@stdlib/iter/cunone/docs/repl.txt
  lib/node_modules/@stdlib/iter/cunone/docs/types/index.d.ts
  lib/node_modules/@stdlib/iter/cunone/docs/types/test.ts
  lib/node_modules/@stdlib/iter/cunone/examples/index.js
  lib/node_modules/@stdlib/iter/cunone/lib/index.js
  lib/node_modules/@stdlib/iter/cunone/lib/main.js
  lib/node_modules/@stdlib/iter/cunone/package.json
  lib/node_modules/@stdlib/iter/cunone/test/test.js
Labels: Feature, Utilities, Ready To Merge

#2955 feat: add `iter/cuevery`
  lib/node_modules/@stdlib/iter/cuevery/README.md
  lib/node_modules/@stdlib/iter/cuevery/benchmark/benchmark.js
  lib/node_modules/@stdlib/iter/cuevery/docs/repl.txt
  lib/node_modules/@stdlib/iter/cuevery/docs/types/index.d.ts
  lib/node_modules/@stdlib/iter/cuevery/docs/types/test.ts
  lib/node_modules/@stdlib/iter/cuevery/examples/index.js
  lib/node_modules/@stdlib/iter/cuevery/lib/index.js
  lib/node_modules/@stdlib/iter/cuevery/lib/main.js
  lib/node_modules/@stdlib/iter/cuevery/package.json
  lib/node_modules/@stdlib/iter/cuevery/test/test.js
Labels: Feature, Utilities, Ready To Merge

#2838 feat: add `iter/cuevery-by` package
  lib/node_modules/@stdlib/iter/cuevery-by/README.md
  lib/node_modules/@stdlib/iter/cuevery-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/iter/cuevery-by/docs/repl.txt
  lib/node_modules/@stdlib/iter/cuevery-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/iter/cuevery-by/docs/types/test.ts
  lib/node_modules/@stdlib/iter/cuevery-by/examples/index.js
  lib/node_modules/@stdlib/iter/cuevery-by/lib/index.js
  lib/node_modules/@stdlib/iter/cuevery-by/lib/main.js
  lib/node_modules/@stdlib/iter/cuevery-by/package.json
  lib/node_modules/@stdlib/iter/cuevery-by/test/test.js
Labels: Ready To Merge

#2837 feat: add `iter/cuany-by`
  lib/node_modules/@stdlib/iter/cuany-by/README.md
  lib/node_modules/@stdlib/iter/cuany-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/iter/cuany-by/docs/repl.txt
  lib/node_modules/@stdlib/iter/cuany-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/iter/cuany-by/docs/types/test.ts
  lib/node_modules/@stdlib/iter/cuany-by/examples/index.js
  lib/node_modules/@stdlib/iter/cuany-by/lib/index.js
  lib/node_modules/@stdlib/iter/cuany-by/lib/main.js
  lib/node_modules/@stdlib/iter/cuany-by/package.json
  lib/node_modules/@stdlib/iter/cuany-by/test/test.js
Labels: Feature, Utilities, Ready To Merge

#2826 feat: add `iter/cusome-by`
  lib/node_modules/@stdlib/iter/cusome-by/README.md
  lib/node_modules/@stdlib/iter/cusome-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/iter/cusome-by/docs/repl.txt
  lib/node_modules/@stdlib/iter/cusome-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/iter/cusome-by/docs/types/test.ts
  lib/node_modules/@stdlib/iter/cusome-by/examples/index.js
  lib/node_modules/@stdlib/iter/cusome-by/lib/index.js
  lib/node_modules/@stdlib/iter/cusome-by/lib/main.js
  lib/node_modules/@stdlib/iter/cusome-by/package.json
  lib/node_modules/@stdlib/iter/cusome-by/test/test.js
Labels: Feature, Utilities, Ready To Merge

#1808 docs: improve README examples of `stats/base/dists/invgamma namespace`
  lib/node_modules/@stdlib/stats/base/dists/invgamma/README.md
  lib/node_modules/@stdlib/stats/base/dists/invgamma/examples/index.js
Labels: Ready To Merge

#1804 docs: improve README examples of `stats/base/dists/gamma` namespace
  lib/node_modules/@stdlib/stats/base/dists/gamma/README.md
  lib/node_modules/@stdlib/stats/base/dists/gamma/examples/index.js
Labels: Ready To Merge

#2999 docs: update function description in `math/base/special/max`
  lib/node_modules/@stdlib/math/base/special/max/lib/native.js
Labels: Math

#1801 docs: improve README examples of `stats/base/dists/geometric` namespace
  lib/node_modules/@stdlib/stats/base/dists/geometric/README.md
  lib/node_modules/@stdlib/stats/base/dists/geometric/examples/index.js
Labels: Ready To Merge

#1803 docs: improve README examples of `stats/base/dists/chi` namespace
  lib/node_modules/@stdlib/stats/base/dists/chi/README.md
  lib/node_modules/@stdlib/stats/base/dists/chi/examples/index.js
Labels: Ready To Merge

#3002 refactor: `blas/ext/base/snansumkbn2` according to current project conventions
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/lib/snansumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/lib/snansumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/src/addon.cpp
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/test/test.snansumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/test/test.snansumkbn2.native.js
Labels: BLAS, Ready To Merge

#2977 test: completes code coverage in `blas/base/dznrm2` and `blas/base/scnrm2`
  lib/node_modules/@stdlib/blas/base/dznrm2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/scnrm2/test/test.ndarray.js
Labels: Tests, BLAS, Ready To Merge

#2669 docs: improve README examples of `stats/base/dists/cosine` namespace
  lib/node_modules/@stdlib/stats/base/dists/cosine/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/examples/index.js
Labels: Ready To Merge

#2050 feat!: improve type declarations for `utils/map-arguments`
  lib/node_modules/@stdlib/utils/map-arguments/docs/types/index.d.ts
  lib/node_modules/@stdlib/utils/map-arguments/docs/types/test.ts
Labels: Ready To Merge

#3010 feat: add `constants/float32/half-ln-two`
  lib/node_modules/@stdlib/constants/float32/half-ln-two/README.md
  lib/node_modules/@stdlib/constants/float32/half-ln-two/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/half-ln-two/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/half-ln-two/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/half-ln-two/examples/index.js
  lib/node_modules/@stdlib/constants/float32/half-ln-two/include/stdlib/constants/float32/half_ln_two.h
  lib/node_modules/@stdlib/constants/float32/half-ln-two/lib/index.js
  lib/node_modules/@stdlib/constants/float32/half-ln-two/manifest.json
  lib/node_modules/@stdlib/constants/float32/half-ln-two/package.json
  lib/node_modules/@stdlib/constants/float32/half-ln-two/test/test.js
Labels: Ready To Merge

#3014 feat: add `wasm` support for `blas/base/dnrm2-wasm`
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/README.md
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/examples/index.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/examples/module.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/lib/binary.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/lib/index.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/lib/main.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/lib/module.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/lib/routine.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/manifest.json
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/package.json
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/scripts/build.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/src/Makefile
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/src/main.wasm
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/src/main.wat
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/test/test.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/test/test.main.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/test/test.module.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#3018 docs: fix examples in `blas/base/dnrm2-wasm`
  lib/node_modules/@stdlib/blas/base/dnrm2-wasm/docs/types/index.d.ts
Labels: BLAS

#2985 feat: add `wasm` support for `blas/base/dscal-wasm`
  lib/node_modules/@stdlib/blas/base/dscal-wasm/README.md
  lib/node_modules/@stdlib/blas/base/dscal-wasm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/dscal-wasm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/dscal-wasm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/dscal-wasm/examples/index.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/examples/module.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/lib/binary.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/lib/index.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/lib/main.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/lib/module.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/lib/routine.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/manifest.json
  lib/node_modules/@stdlib/blas/base/dscal-wasm/package.json
  lib/node_modules/@stdlib/blas/base/dscal-wasm/scripts/build.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/dscal-wasm/src/Makefile
  lib/node_modules/@stdlib/blas/base/dscal-wasm/src/main.wasm
  lib/node_modules/@stdlib/blas/base/dscal-wasm/src/main.wat
  lib/node_modules/@stdlib/blas/base/dscal-wasm/test/test.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/test/test.main.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/test/test.module.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/dscal-wasm/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#2986 feat: add `blas/base/ddot-wasm`
  lib/node_modules/@stdlib/blas/base/ddot-wasm/README.md
  lib/node_modules/@stdlib/blas/base/ddot-wasm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/ddot-wasm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/ddot-wasm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/ddot-wasm/examples/index.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/examples/module.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/lib/binary.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/lib/index.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/lib/main.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/lib/module.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/lib/routine.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/manifest.json
  lib/node_modules/@stdlib/blas/base/ddot-wasm/package.json
  lib/node_modules/@stdlib/blas/base/ddot-wasm/scripts/build.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/ddot-wasm/src/Makefile
  lib/node_modules/@stdlib/blas/base/ddot-wasm/src/main.wasm
  lib/node_modules/@stdlib/blas/base/ddot-wasm/src/main.wat
  lib/node_modules/@stdlib/blas/base/ddot-wasm/test/test.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/test/test.main.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/test/test.module.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/ddot-wasm/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#3016 feat: add `wasm` support for `blas/base/idamax-wasm`
  lib/node_modules/@stdlib/blas/base/idamax-wasm/README.md
  lib/node_modules/@stdlib/blas/base/idamax-wasm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/idamax-wasm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/idamax-wasm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/idamax-wasm/examples/index.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/examples/module.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/lib/binary.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/lib/index.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/lib/main.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/lib/module.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/lib/routine.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/manifest.json
  lib/node_modules/@stdlib/blas/base/idamax-wasm/package.json
  lib/node_modules/@stdlib/blas/base/idamax-wasm/scripts/build.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/idamax-wasm/src/Makefile
  lib/node_modules/@stdlib/blas/base/idamax-wasm/src/main.wasm
  lib/node_modules/@stdlib/blas/base/idamax-wasm/src/main.wat
  lib/node_modules/@stdlib/blas/base/idamax-wasm/test/test.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/test/test.main.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/test/test.module.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/idamax-wasm/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#2987 feat: add `blas/base/dasum-wasm`
  lib/node_modules/@stdlib/blas/base/dasum-wasm/README.md
  lib/node_modules/@stdlib/blas/base/dasum-wasm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/dasum-wasm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/dasum-wasm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/dasum-wasm/examples/index.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/examples/module.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/lib/binary.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/lib/index.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/lib/main.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/lib/module.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/lib/routine.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/manifest.json
  lib/node_modules/@stdlib/blas/base/dasum-wasm/package.json
  lib/node_modules/@stdlib/blas/base/dasum-wasm/scripts/build.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/dasum-wasm/src/Makefile
  lib/node_modules/@stdlib/blas/base/dasum-wasm/src/main.wasm
  lib/node_modules/@stdlib/blas/base/dasum-wasm/src/main.wat
  lib/node_modules/@stdlib/blas/base/dasum-wasm/test/test.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/test/test.main.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/test/test.module.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/dasum-wasm/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#3023 build: add WebAssembly configuration for `math/base/special/absf`
  lib/node_modules/@stdlib/math/base/special/absf/manifest.json
Labels: Math, WebAssembly

#3026 build: add WebAssembly configuration for `math/base/special/abs2f` and `math/base/special/sqrtf`
  lib/node_modules/@stdlib/math/base/special/abs2f/manifest.json
  lib/node_modules/@stdlib/math/base/special/sqrtf/manifest.json
Labels: Math, WebAssembly

#3022 feat: add `blas/base/scopy-wasm`
  lib/node_modules/@stdlib/blas/base/scopy-wasm/README.md
  lib/node_modules/@stdlib/blas/base/scopy-wasm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/scopy-wasm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/scopy-wasm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/scopy-wasm/examples/index.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/examples/little_endian_array.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/examples/module.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/lib/binary.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/lib/index.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/lib/main.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/lib/module.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/lib/routine.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/manifest.json
  lib/node_modules/@stdlib/blas/base/scopy-wasm/package.json
  lib/node_modules/@stdlib/blas/base/scopy-wasm/scripts/build.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/scopy-wasm/src/Makefile
  lib/node_modules/@stdlib/blas/base/scopy-wasm/src/main.wasm
  lib/node_modules/@stdlib/blas/base/scopy-wasm/src/main.wat
  lib/node_modules/@stdlib/blas/base/scopy-wasm/test/test.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/test/test.main.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/test/test.module.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/scopy-wasm/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#3025 feat: add `blas/base/sdot-wasm`
  lib/node_modules/@stdlib/blas/base/sdot-wasm/README.md
  lib/node_modules/@stdlib/blas/base/sdot-wasm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/sdot-wasm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/sdot-wasm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/sdot-wasm/examples/index.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/examples/module.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/lib/binary.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/lib/index.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/lib/main.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/lib/module.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/lib/routine.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/manifest.json
  lib/node_modules/@stdlib/blas/base/sdot-wasm/package.json
  lib/node_modules/@stdlib/blas/base/sdot-wasm/scripts/build.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/sdot-wasm/src/Makefile
  lib/node_modules/@stdlib/blas/base/sdot-wasm/src/main.wasm
  lib/node_modules/@stdlib/blas/base/sdot-wasm/src/main.wat
  lib/node_modules/@stdlib/blas/base/sdot-wasm/test/test.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/test/test.main.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/test/test.module.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/sdot-wasm/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#3028 feat: add `blas/base/srot-wasm`
  lib/node_modules/@stdlib/blas/base/srot-wasm/README.md
  lib/node_modules/@stdlib/blas/base/srot-wasm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/srot-wasm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/srot-wasm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/srot-wasm/examples/index.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/examples/module.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/lib/binary.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/lib/index.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/lib/main.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/lib/module.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/lib/routine.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/manifest.json
  lib/node_modules/@stdlib/blas/base/srot-wasm/package.json
  lib/node_modules/@stdlib/blas/base/srot-wasm/scripts/build.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/srot-wasm/src/Makefile
  lib/node_modules/@stdlib/blas/base/srot-wasm/src/main.wasm
  lib/node_modules/@stdlib/blas/base/srot-wasm/src/main.wat
  lib/node_modules/@stdlib/blas/base/srot-wasm/test/test.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/test/test.main.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/test/test.module.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/srot-wasm/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#3024 feat: add `blas/base/sasum-wasm`
  lib/node_modules/@stdlib/blas/base/sasum-wasm/README.md
  lib/node_modules/@stdlib/blas/base/sasum-wasm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/sasum-wasm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/sasum-wasm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/sasum-wasm/examples/index.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/examples/module.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/lib/binary.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/lib/index.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/lib/main.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/lib/module.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/lib/routine.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/manifest.json
  lib/node_modules/@stdlib/blas/base/sasum-wasm/package.json
  lib/node_modules/@stdlib/blas/base/sasum-wasm/scripts/build.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/sasum-wasm/src/Makefile
  lib/node_modules/@stdlib/blas/base/sasum-wasm/src/main.wasm
  lib/node_modules/@stdlib/blas/base/sasum-wasm/src/main.wat
  lib/node_modules/@stdlib/blas/base/sasum-wasm/test/test.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/test/test.main.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/test/test.module.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/sasum-wasm/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#3029 feat: add `blas/base/snrm2-wasm`
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/README.md
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/examples/index.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/examples/module.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/lib/binary.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/lib/index.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/lib/main.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/lib/module.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/lib/routine.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/manifest.json
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/package.json
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/scripts/build.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/src/Makefile
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/src/main.wasm
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/src/main.wat
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/test/test.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/test/test.main.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/test/test.module.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/snrm2-wasm/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#3032 docs: use correct function name in `math/base/special/nanmin`
  lib/node_modules/@stdlib/math/base/special/nanmin/docs/types/index.d.ts
Labels: Math

#3034 feat: add `math/base/special/nanminf`
  lib/node_modules/@stdlib/math/base/special/nanminf/README.md
  lib/node_modules/@stdlib/math/base/special/nanminf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/nanminf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/nanminf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/nanminf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/nanminf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/nanminf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/nanminf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/nanminf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/nanminf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/nanminf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/nanminf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/nanminf/include.gypi
  lib/node_modules/@stdlib/math/base/special/nanminf/include/stdlib/math/base/special/nanminf.h
  lib/node_modules/@stdlib/math/base/special/nanminf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/nanminf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/nanminf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/nanminf/manifest.json
  lib/node_modules/@stdlib/math/base/special/nanminf/package.json
  lib/node_modules/@stdlib/math/base/special/nanminf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/nanminf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/nanminf/src/main.c
  lib/node_modules/@stdlib/math/base/special/nanminf/test/test.js
  lib/node_modules/@stdlib/math/base/special/nanminf/test/test.native.js
Labels: Feature, Math

#2969 feat: add `fs/read-ndjson`
  lib/node_modules/@stdlib/_tools/lint/filenames/lib/extensions.json
  lib/node_modules/@stdlib/fs/read-ndjson/README.md
  lib/node_modules/@stdlib/fs/read-ndjson/benchmark/benchmark.js
  lib/node_modules/@stdlib/fs/read-ndjson/benchmark/fixtures/file.ndjson
  lib/node_modules/@stdlib/fs/read-ndjson/docs/repl.txt
  lib/node_modules/@stdlib/fs/read-ndjson/docs/types/index.d.ts
  lib/node_modules/@stdlib/fs/read-ndjson/docs/types/test.ts
  lib/node_modules/@stdlib/fs/read-ndjson/examples/fixtures/file.ndjson
  lib/node_modules/@stdlib/fs/read-ndjson/examples/index.js
  lib/node_modules/@stdlib/fs/read-ndjson/lib/async.js
  lib/node_modules/@stdlib/fs/read-ndjson/lib/index.js
  lib/node_modules/@stdlib/fs/read-ndjson/lib/sync.js
  lib/node_modules/@stdlib/fs/read-ndjson/package.json
  lib/node_modules/@stdlib/fs/read-ndjson/test/fixtures/bad.ndjson.txt
  lib/node_modules/@stdlib/fs/read-ndjson/test/fixtures/bom.ndjson.txt
  lib/node_modules/@stdlib/fs/read-ndjson/test/fixtures/good.ndjson
  lib/node_modules/@stdlib/fs/read-ndjson/test/test.async.js
  lib/node_modules/@stdlib/fs/read-ndjson/test/test.js
  lib/node_modules/@stdlib/fs/read-ndjson/test/test.sync.js
Labels: Feature, Utilities

#3001 feat: add C `ndarray` API and refactor `blas/ext/base/dnansumors`
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/include/stdlib/blas/ext/base/dnansumors.h
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/lib/dnansumors.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/lib/dnansumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/src/dnansumors.c
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/test/test.dnansumors.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/test/test.dnansumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumors/test/test.ndarray.native.js
Labels: Feature, BLAS, C

#3036 docs: add missing fields in `package.json` in `math/base/special/nanmax`
  lib/node_modules/@stdlib/math/base/special/nanmax/package.json
Labels: Math

#3035 feat: add `math/base/special/nanmaxf`
  lib/node_modules/@stdlib/math/base/special/nanmaxf/README.md
  lib/node_modules/@stdlib/math/base/special/nanmaxf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/nanmaxf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/nanmaxf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/nanmaxf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/nanmaxf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/nanmaxf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/nanmaxf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/nanmaxf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/nanmaxf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/nanmaxf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/nanmaxf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/nanmaxf/include.gypi
  lib/node_modules/@stdlib/math/base/special/nanmaxf/include/stdlib/math/base/special/nanmaxf.h
  lib/node_modules/@stdlib/math/base/special/nanmaxf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/nanmaxf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/nanmaxf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/nanmaxf/manifest.json
  lib/node_modules/@stdlib/math/base/special/nanmaxf/package.json
  lib/node_modules/@stdlib/math/base/special/nanmaxf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/nanmaxf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/nanmaxf/src/main.c
  lib/node_modules/@stdlib/math/base/special/nanmaxf/test/test.js
  lib/node_modules/@stdlib/math/base/special/nanmaxf/test/test.native.js
Labels: Feature, Math

#3039 docs: use correct operator for modulus in `math/base/special/fmod`
  lib/node_modules/@stdlib/math/base/special/fmod/README.md
  lib/node_modules/@stdlib/math/base/special/fmod/examples/index.js
  lib/node_modules/@stdlib/math/base/special/fmod/src/main.c
Labels: Math

#3040 feat: add `constants/float32/min-base2-exponent`
  lib/node_modules/@stdlib/constants/float32/min-base2-exponent/README.md
  lib/node_modules/@stdlib/constants/float32/min-base2-exponent/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/min-base2-exponent/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/min-base2-exponent/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/min-base2-exponent/examples/index.js
  lib/node_modules/@stdlib/constants/float32/min-base2-exponent/include/stdlib/constants/float32/min_base2_exponent.h
  lib/node_modules/@stdlib/constants/float32/min-base2-exponent/lib/index.js
  lib/node_modules/@stdlib/constants/float32/min-base2-exponent/manifest.json
  lib/node_modules/@stdlib/constants/float32/min-base2-exponent/package.json
  lib/node_modules/@stdlib/constants/float32/min-base2-exponent/test/test.js
Labels: Feature

#3015 feat: add `math/base/special/acosdf`
  lib/node_modules/@stdlib/math/base/special/acosdf/README.md
  lib/node_modules/@stdlib/math/base/special/acosdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acosdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acosdf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/acosdf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acosdf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/acosdf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/acosdf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/acosdf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/acosdf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/acosdf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/acosdf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/acosdf/include.gypi
  lib/node_modules/@stdlib/math/base/special/acosdf/include/stdlib/math/base/special/acosdf.h
  lib/node_modules/@stdlib/math/base/special/acosdf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/acosdf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/acosdf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/acosdf/manifest.json
  lib/node_modules/@stdlib/math/base/special/acosdf/package.json
  lib/node_modules/@stdlib/math/base/special/acosdf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/acosdf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/acosdf/src/main.c
  lib/node_modules/@stdlib/math/base/special/acosdf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/acosdf/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/acosdf/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/acosdf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/acosdf/test/test.js
  lib/node_modules/@stdlib/math/base/special/acosdf/test/test.native.js
Labels: Feature, Math, Ready To Merge

#3027 feat: add support for secant functionality `math/base/special/sec`
  lib/node_modules/@stdlib/math/base/special/sec/README.md
  lib/node_modules/@stdlib/math/base/special/sec/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sec/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sec/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/sec/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sec/binding.gyp
  lib/node_modules/@stdlib/math/base/special/sec/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/sec/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/sec/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/sec/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/sec/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/sec/examples/index.js
  lib/node_modules/@stdlib/math/base/special/sec/include.gypi
  lib/node_modules/@stdlib/math/base/special/sec/include/stdlib/math/base/special/sec.h
  lib/node_modules/@stdlib/math/base/special/sec/lib/index.js
  lib/node_modules/@stdlib/math/base/special/sec/lib/main.js
  lib/node_modules/@stdlib/math/base/special/sec/lib/native.js
  lib/node_modules/@stdlib/math/base/special/sec/manifest.json
  lib/node_modules/@stdlib/math/base/special/sec/package.json
  lib/node_modules/@stdlib/math/base/special/sec/src/Makefile
  lib/node_modules/@stdlib/math/base/special/sec/src/addon.c
  lib/node_modules/@stdlib/math/base/special/sec/src/main.c
  lib/node_modules/@stdlib/math/base/special/sec/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/sec/test/fixtures/julia/huge_negative.json
  lib/node_modules/@stdlib/math/base/special/sec/test/fixtures/julia/huge_positive.json
  lib/node_modules/@stdlib/math/base/special/sec/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/sec/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/sec/test/fixtures/julia/medium_negative.json
  lib/node_modules/@stdlib/math/base/special/sec/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/sec/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/sec/test/fixtures/julia/small_negative.json
  lib/node_modules/@stdlib/math/base/special/sec/test/fixtures/julia/small_positive.json
  lib/node_modules/@stdlib/math/base/special/sec/test/fixtures/julia/smaller.json
  lib/node_modules/@stdlib/math/base/special/sec/test/fixtures/julia/tiny_negative.json
  lib/node_modules/@stdlib/math/base/special/sec/test/fixtures/julia/tiny_positive.json
  lib/node_modules/@stdlib/math/base/special/sec/test/fixtures/julia/very_large_negative.json
  lib/node_modules/@stdlib/math/base/special/sec/test/fixtures/julia/very_large_positive.json
  lib/node_modules/@stdlib/math/base/special/sec/test/test.js
  lib/node_modules/@stdlib/math/base/special/sec/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge

#2996 feat: add C `ndarray` API and refactor `blas/ext/base/dnansumkbn`
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/include/stdlib/blas/ext/base/dnansumkbn.h
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/lib/dnansumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/lib/dnansumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/src/dnansumkbn.c
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/test/test.dnansumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/test/test.dnansumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn/test/test.ndarray.native.js
Labels: Feature, BLAS, C, Ready To Merge

#3000 feat: add C `ndarray` API and refactor `blas/ext/base/dnansumkbn2`
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/include/stdlib/blas/ext/base/dnansumkbn2.h
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/lib/dnansumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/lib/dnansumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/test/test.dnansumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/test/test.dnansumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/test/test.ndarray.native.js
Labels: Feature, BLAS, C, Ready To Merge

#1769 docs: update examples in `random/iter`
  lib/node_modules/@stdlib/random/iter/README.md
  lib/node_modules/@stdlib/random/iter/examples/index.js
Labels: Documentation, Ready To Merge

#2008 docs: improve `math/iter/ops` examples
  lib/node_modules/@stdlib/math/iter/ops/README.md
  lib/node_modules/@stdlib/math/iter/ops/examples/index.js
Labels: Documentation, Math, Ready To Merge

#1779 docs: improve README examples of `math/iter/sequences`
  lib/node_modules/@stdlib/math/iter/sequences/README.md
  lib/node_modules/@stdlib/math/iter/sequences/examples/index.js
Labels: Documentation, Math, JavaScript, Ready To Merge
