Repository stdlib-js/stdlib, pull requests merged in 2025-04, with the labels that each got.

#6468 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/inv/README.md
  lib/node_modules/@stdlib/math/base/special/inv/examples/index.js
  lib/node_modules/@stdlib/math/base/special/invf/README.md
  lib/node_modules/@stdlib/math/base/special/invf/examples/index.js
Labels: Documentation, Math

#6472 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/log10/README.md
  lib/node_modules/@stdlib/math/base/special/log10/examples/index.js
  lib/node_modules/@stdlib/math/base/special/log2/README.md
  lib/node_modules/@stdlib/math/base/special/log2/examples/index.js
  lib/node_modules/@stdlib/math/base/special/logf/README.md
  lib/node_modules/@stdlib/math/base/special/logf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/logit/README.md
  lib/node_modules/@stdlib/math/base/special/logit/examples/index.js
  lib/node_modules/@stdlib/math/base/special/maxabs/README.md
  lib/node_modules/@stdlib/math/base/special/maxabs/examples/index.js
  lib/node_modules/@stdlib/math/base/special/maxabsf/README.md
  lib/node_modules/@stdlib/math/base/special/maxabsf/examples/index.js
Labels: Documentation, Math

#6471 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/lcm/README.md
  lib/node_modules/@stdlib/math/base/special/lcm/examples/index.js
  lib/node_modules/@stdlib/math/base/special/lcmf/README.md
  lib/node_modules/@stdlib/math/base/special/lcmf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/ln/README.md
  lib/node_modules/@stdlib/math/base/special/ln/examples/index.js
  lib/node_modules/@stdlib/math/base/special/lnf/README.md
  lib/node_modules/@stdlib/math/base/special/lnf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/log/README.md
  lib/node_modules/@stdlib/math/base/special/log/examples/index.js
  lib/node_modules/@stdlib/math/base/special/log1p/README.md
  lib/node_modules/@stdlib/math/base/special/log1p/examples/index.js
Labels: Documentation, Math

#6481 fix: rename internal variable `fcn` to avoid shadowing and lint errors
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary/cc_c.h
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary/cf_c.h
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary/ci_c.h
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary/dd_d.h
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary/di_d.h
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary/dz_z.h
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary/fc_c.h
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary/ff_f.h
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary/fi_f.h
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary/id_d.h
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary/ii_d.h
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary/ii_f.h
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary/ii_i.h
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary/ll_d.h
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary/zd_z.h
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary/zi_z.h
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary/zz_z.h
  lib/node_modules/@stdlib/math/base/napi/quaternary/include/stdlib/math/base/napi/quaternary/dddd_d.h
  lib/node_modules/@stdlib/math/base/napi/quaternary/include/stdlib/math/base/napi/quaternary/diii_d.h
  lib/node_modules/@stdlib/math/base/napi/quaternary/include/stdlib/math/base/napi/quaternary/ffff_f.h
  lib/node_modules/@stdlib/math/base/napi/quinary/include/stdlib/math/base/napi/quinary/ddddd_d.h
  lib/node_modules/@stdlib/math/base/napi/quinary/include/stdlib/math/base/napi/quinary/fffff_f.h
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary/ccc_c.h
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary/ddd_d.h
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary/did_d.h
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary/dii_d.h
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary/fff_f.h
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary/iid_d.h
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary/iii_d.h
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary/zzz_z.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/c_c.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/c_f.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/d_d.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/d_f.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/f_f.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/f_i.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/i_d.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/i_f.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/i_i.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/z_d.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/z_z.h
Labels: Math, Native Addons, C

#6487 docs: remove outdated FAQ on shadowed declaration warning
  docs/contributing/FAQ.md
Labels: Documentation

#6467 bench: add missing `native.js` and fix variable range
  lib/node_modules/@stdlib/math/base/special/negalucas/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/negalucas/lib/native.js
Labels: Math, Benchmarks, JavaScript

#5798 feat: add `stats/incr/nanstdev`
  lib/node_modules/@stdlib/stats/incr/nanstdev/README.md
  lib/node_modules/@stdlib/stats/incr/nanstdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/incr/nanstdev/docs/img/equation_corrected_sample_standard_deviation.svg
  lib/node_modules/@stdlib/stats/incr/nanstdev/docs/repl.txt
  lib/node_modules/@stdlib/stats/incr/nanstdev/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/incr/nanstdev/docs/types/test.ts
  lib/node_modules/@stdlib/stats/incr/nanstdev/examples/index.js
  lib/node_modules/@stdlib/stats/incr/nanstdev/lib/index.js
  lib/node_modules/@stdlib/stats/incr/nanstdev/lib/main.js
  lib/node_modules/@stdlib/stats/incr/nanstdev/package.json
  lib/node_modules/@stdlib/stats/incr/nanstdev/test/test.js
Labels: Feature, Statistics, First-time Contributor, Good First PR

#4388 feat: add C implementation for `@stdlib/stats/base/dists/logistic/logpdf`
  lib/node_modules/@stdlib/stats/base/dists/logistic/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/logistic/logpdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/logpdf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/logistic/logpdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/logpdf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/logistic/logpdf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/logistic/logpdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/logpdf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/logistic/logpdf/include/stdlib/stats/base/dists/logistic/logpdf.h
  lib/node_modules/@stdlib/stats/base/dists/logistic/logpdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/logpdf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/logistic/logpdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/logistic/logpdf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/logistic/logpdf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/logpdf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/logpdf/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR, Potential Duplicate

#6488 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/maxabsn/README.md
  lib/node_modules/@stdlib/math/base/special/maxabsn/examples/index.js
  lib/node_modules/@stdlib/math/base/special/minabs/README.md
  lib/node_modules/@stdlib/math/base/special/minabs/examples/index.js
  lib/node_modules/@stdlib/math/base/special/minabsf/README.md
  lib/node_modules/@stdlib/math/base/special/minabsf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/minabsn/README.md
  lib/node_modules/@stdlib/math/base/special/minabsn/examples/index.js
Labels: Math, Ready To Merge

#6491 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/rcbrtf/README.md
  lib/node_modules/@stdlib/math/base/special/rcbrtf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/round/README.md
  lib/node_modules/@stdlib/math/base/special/round/examples/index.js
  lib/node_modules/@stdlib/math/base/special/round10/README.md
  lib/node_modules/@stdlib/math/base/special/round10/examples/index.js
  lib/node_modules/@stdlib/math/base/special/round2/README.md
  lib/node_modules/@stdlib/math/base/special/round2/examples/index.js
  lib/node_modules/@stdlib/math/base/special/roundf/README.md
  lib/node_modules/@stdlib/math/base/special/roundf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/roundn/README.md
  lib/node_modules/@stdlib/math/base/special/roundn/examples/index.js
Labels: Math, Ready To Merge

#6080 build: refactor workflow to create multiple declarations PRs
  .github/workflows/namespace_declarations.yml
Labels: CI

#6496 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/sqrt/README.md
  lib/node_modules/@stdlib/math/base/special/sqrt/examples/index.js
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/README.md
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/examples/index.js
  lib/node_modules/@stdlib/math/base/special/sqrtf/README.md
  lib/node_modules/@stdlib/math/base/special/sqrtf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/sqrtpi/README.md
  lib/node_modules/@stdlib/math/base/special/sqrtpi/examples/index.js
  lib/node_modules/@stdlib/math/base/special/sqrtpif/README.md
  lib/node_modules/@stdlib/math/base/special/sqrtpif/examples/index.js
  lib/node_modules/@stdlib/math/base/special/trigamma/README.md
  lib/node_modules/@stdlib/math/base/special/trigamma/examples/index.js
Labels: Documentation, Math

#6494 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/roundsd/README.md
  lib/node_modules/@stdlib/math/base/special/roundsd/examples/index.js
  lib/node_modules/@stdlib/math/base/special/rsqrt/README.md
  lib/node_modules/@stdlib/math/base/special/rsqrt/examples/index.js
  lib/node_modules/@stdlib/math/base/special/rsqrtf/README.md
  lib/node_modules/@stdlib/math/base/special/rsqrtf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/signum/README.md
  lib/node_modules/@stdlib/math/base/special/signum/examples/index.js
  lib/node_modules/@stdlib/math/base/special/signumf/README.md
  lib/node_modules/@stdlib/math/base/special/signumf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/spence/README.md
  lib/node_modules/@stdlib/math/base/special/spence/examples/index.js
Labels: Documentation, Math

#4557 feat(stats): add C implementation for `stats/base/dists/hypergeometric/variance`
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/variance/README.md
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/variance/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/variance/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/variance/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/variance/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/variance/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/variance/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/variance/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/variance/include/stdlib/stats/base/dists/hypergeometric/variance.h
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/variance/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/variance/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/variance/package.json
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/variance/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/variance/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/variance/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/variance/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#5821 test: add missing tests to `ndarray/base/unary`
  lib/node_modules/@stdlib/ndarray/base/unary/test/test.0d.js
  lib/node_modules/@stdlib/ndarray/base/unary/test/test.10d.js
  lib/node_modules/@stdlib/ndarray/base/unary/test/test.1d.js
  lib/node_modules/@stdlib/ndarray/base/unary/test/test.2d.js
  lib/node_modules/@stdlib/ndarray/base/unary/test/test.3d.js
  lib/node_modules/@stdlib/ndarray/base/unary/test/test.4d.js
  lib/node_modules/@stdlib/ndarray/base/unary/test/test.5d.js
  lib/node_modules/@stdlib/ndarray/base/unary/test/test.6d.js
  lib/node_modules/@stdlib/ndarray/base/unary/test/test.7d.js
  lib/node_modules/@stdlib/ndarray/base/unary/test/test.8d.js
  lib/node_modules/@stdlib/ndarray/base/unary/test/test.9d.js
  lib/node_modules/@stdlib/ndarray/base/unary/test/test.js
  lib/node_modules/@stdlib/ndarray/base/unary/test/test.nd.js
Labels: Tests

#5449 chore: address commit comment
  lib/node_modules/@stdlib/stats/base/dists/gumbel/entropy/src/main.c
Labels: Statistics, Ready To Merge

#5451 chore: address commit comment
  lib/node_modules/@stdlib/stats/base/dists/gumbel/cdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/cdf/src/main.c
Labels: Statistics, Ready To Merge

#5450 chore: address commit comment
  lib/node_modules/@stdlib/stats/base/dists/gumbel/pdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/gumbel/pdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/pdf/src/main.c
Labels: Statistics, Ready To Merge

#6393 bench: update random value generation
  lib/node_modules/@stdlib/math/base/special/pdifff/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/pdifff/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/pdifff/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/pdifff/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/pdifff/test/test.js
  lib/node_modules/@stdlib/math/base/special/pdifff/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/pow/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/pow/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/pow/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/pow/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/pow/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/pow/test/test.js
  lib/node_modules/@stdlib/math/base/special/pow/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/pow/test/test.x_is_zero.js
  lib/node_modules/@stdlib/math/base/special/powm1/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/powm1/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/powm1/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/powm1/test/test.js
  lib/node_modules/@stdlib/math/base/special/rad2deg/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/rad2deg/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/rad2deg/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/rad2deg/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/rad2deg/test/test.js
  lib/node_modules/@stdlib/math/base/special/rad2deg/test/test.native.js
Labels: Math, Benchmarks

#6023 feat: refactor and add protocol support to `stats/base/nanvariancewd`
  lib/node_modules/@stdlib/stats/base/nanvariancewd/README.md
  lib/node_modules/@stdlib/stats/base/nanvariancewd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/nanvariancewd/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/nanvariancewd/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/nanvariancewd/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/nanvariancewd/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/nanvariancewd/examples/index.js
  lib/node_modules/@stdlib/stats/base/nanvariancewd/lib/accessors.js
  lib/node_modules/@stdlib/stats/base/nanvariancewd/lib/index.js
  lib/node_modules/@stdlib/stats/base/nanvariancewd/lib/main.js
  lib/node_modules/@stdlib/stats/base/nanvariancewd/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/nanvariancewd/test/test.main.js
  lib/node_modules/@stdlib/stats/base/nanvariancewd/test/test.ndarray.js
Labels: Feature, Statistics, Good First PR

#6373 feat: add `constants/float32/fourth-root-eps`
  lib/node_modules/@stdlib/constants/float32/fourth-root-eps/README.md
  lib/node_modules/@stdlib/constants/float32/fourth-root-eps/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/fourth-root-eps/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/fourth-root-eps/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/fourth-root-eps/examples/index.js
  lib/node_modules/@stdlib/constants/float32/fourth-root-eps/include/stdlib/constants/float32/fourth_root_eps.h
  lib/node_modules/@stdlib/constants/float32/fourth-root-eps/lib/index.js
  lib/node_modules/@stdlib/constants/float32/fourth-root-eps/manifest.json
  lib/node_modules/@stdlib/constants/float32/fourth-root-eps/package.json
  lib/node_modules/@stdlib/constants/float32/fourth-root-eps/test/test.js
Labels: Feature

#6209 feat: add `constants/float32/eulergamma`
  lib/node_modules/@stdlib/constants/float32/eulergamma/README.md
  lib/node_modules/@stdlib/constants/float32/eulergamma/docs/img/equation_eulergamma_constant.svg
  lib/node_modules/@stdlib/constants/float32/eulergamma/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/eulergamma/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/eulergamma/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/eulergamma/examples/index.js
  lib/node_modules/@stdlib/constants/float32/eulergamma/include/stdlib/constants/float32/eulergamma.h
  lib/node_modules/@stdlib/constants/float32/eulergamma/lib/index.js
  lib/node_modules/@stdlib/constants/float32/eulergamma/manifest.json
  lib/node_modules/@stdlib/constants/float32/eulergamma/package.json
  lib/node_modules/@stdlib/constants/float32/eulergamma/test/test.js
Labels: Feature

#6361 feat: add `math/base/special/csignumf`
  lib/node_modules/@stdlib/math/base/special/csignumf/README.md
  lib/node_modules/@stdlib/math/base/special/csignumf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/csignumf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/csignumf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/csignumf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/csignumf/benchmark/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/csignumf/benchmark/julia/benchmark.jl
  lib/node_modules/@stdlib/math/base/special/csignumf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/csignumf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/csignumf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/csignumf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/csignumf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/csignumf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/csignumf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/csignumf/include.gypi
  lib/node_modules/@stdlib/math/base/special/csignumf/include/stdlib/math/base/special/csignumf.h
  lib/node_modules/@stdlib/math/base/special/csignumf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/csignumf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/csignumf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/csignumf/manifest.json
  lib/node_modules/@stdlib/math/base/special/csignumf/package.json
  lib/node_modules/@stdlib/math/base/special/csignumf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/csignumf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/csignumf/src/main.c
  lib/node_modules/@stdlib/math/base/special/csignumf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/csignumf/test/fixtures/julia/data.json
  lib/node_modules/@stdlib/math/base/special/csignumf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/csignumf/test/test.js
  lib/node_modules/@stdlib/math/base/special/csignumf/test/test.native.js
Labels: Feature, Math

#6261 feat: add `constants/float32/min-ln`
  lib/node_modules/@stdlib/constants/float32/min-ln/README.md
  lib/node_modules/@stdlib/constants/float32/min-ln/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/min-ln/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/min-ln/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/min-ln/examples/index.js
  lib/node_modules/@stdlib/constants/float32/min-ln/include/stdlib/constants/float32/min_ln.h
  lib/node_modules/@stdlib/constants/float32/min-ln/lib/index.js
  lib/node_modules/@stdlib/constants/float32/min-ln/manifest.json
  lib/node_modules/@stdlib/constants/float32/min-ln/package.json
  lib/node_modules/@stdlib/constants/float32/min-ln/test/test.js
Labels: Feature

#6256 feat: add `constants/float32/max-ln`
  lib/node_modules/@stdlib/constants/float32/max-ln/README.md
  lib/node_modules/@stdlib/constants/float32/max-ln/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/max-ln/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/max-ln/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/max-ln/examples/index.js
  lib/node_modules/@stdlib/constants/float32/max-ln/include/stdlib/constants/float32/max_ln.h
  lib/node_modules/@stdlib/constants/float32/max-ln/lib/index.js
  lib/node_modules/@stdlib/constants/float32/max-ln/mainfest.json
  lib/node_modules/@stdlib/constants/float32/max-ln/package.json
  lib/node_modules/@stdlib/constants/float32/max-ln/test/test.js
Labels: Feature

#6257 feat: add `math/base/special/fibonaccif`
  lib/node_modules/@stdlib/math/base/special/fibonaccif/README.md
  lib/node_modules/@stdlib/math/base/special/fibonaccif/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/fibonaccif/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fibonaccif/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fibonaccif/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fibonaccif/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fibonaccif/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fibonaccif/benchmark/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/fibonaccif/benchmark/julia/benchmark.jl
  lib/node_modules/@stdlib/math/base/special/fibonaccif/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fibonaccif/docs/img/equation_fibonacci_recurrence_relation.svg
  lib/node_modules/@stdlib/math/base/special/fibonaccif/docs/img/equation_fibonacci_sequence.svg
  lib/node_modules/@stdlib/math/base/special/fibonaccif/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/fibonaccif/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/fibonaccif/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/fibonaccif/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fibonaccif/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fibonaccif/examples/index.js
  lib/node_modules/@stdlib/math/base/special/fibonaccif/include.gypi
  lib/node_modules/@stdlib/math/base/special/fibonaccif/include/stdlib/math/base/special/fibonaccif.h
  lib/node_modules/@stdlib/math/base/special/fibonaccif/lib/fibonacci.json
  lib/node_modules/@stdlib/math/base/special/fibonaccif/lib/index.js
  lib/node_modules/@stdlib/math/base/special/fibonaccif/lib/main.js
  lib/node_modules/@stdlib/math/base/special/fibonaccif/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fibonaccif/manifest.json
  lib/node_modules/@stdlib/math/base/special/fibonaccif/package.json
  lib/node_modules/@stdlib/math/base/special/fibonaccif/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fibonaccif/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fibonaccif/src/main.c
  lib/node_modules/@stdlib/math/base/special/fibonaccif/test/test.js
  lib/node_modules/@stdlib/math/base/special/fibonaccif/test/test.native.js
Labels: Feature, Math

#6509 fix: update `hypot` to follow the IEEE 754-2019 standard
  lib/node_modules/@stdlib/math/base/special/hypot/README.md
  lib/node_modules/@stdlib/math/base/special/hypot/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/hypot/lib/main.js
  lib/node_modules/@stdlib/math/base/special/hypot/src/main.c
  lib/node_modules/@stdlib/math/base/special/hypot/test/test.js
  lib/node_modules/@stdlib/math/base/special/hypot/test/test.native.js
Labels: Math

#6511 fix: update `hypotf` to follow the IEEE 754-2019 standard
  lib/node_modules/@stdlib/math/base/special/hypotf/README.md
  lib/node_modules/@stdlib/math/base/special/hypotf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/hypotf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/hypotf/src/main.c
  lib/node_modules/@stdlib/math/base/special/hypotf/test/test.js
  lib/node_modules/@stdlib/math/base/special/hypotf/test/test.native.js
Labels: Math

#6273 feat: add `math/base/special/atan2d`
  lib/node_modules/@stdlib/math/base/special/atan2d/README.md
  lib/node_modules/@stdlib/math/base/special/atan2d/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/atan2d/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/atan2d/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/atan2d/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/atan2d/benchmark/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/atan2d/benchmark/julia/benchmark.jl
  lib/node_modules/@stdlib/math/base/special/atan2d/binding.gyp
  lib/node_modules/@stdlib/math/base/special/atan2d/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/atan2d/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/atan2d/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/atan2d/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/atan2d/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/atan2d/examples/index.js
  lib/node_modules/@stdlib/math/base/special/atan2d/include.gypi
  lib/node_modules/@stdlib/math/base/special/atan2d/include/stdlib/math/base/special/atan2d.h
  lib/node_modules/@stdlib/math/base/special/atan2d/lib/index.js
  lib/node_modules/@stdlib/math/base/special/atan2d/lib/main.js
  lib/node_modules/@stdlib/math/base/special/atan2d/lib/native.js
  lib/node_modules/@stdlib/math/base/special/atan2d/manifest.json
  lib/node_modules/@stdlib/math/base/special/atan2d/package.json
  lib/node_modules/@stdlib/math/base/special/atan2d/src/Makefile
  lib/node_modules/@stdlib/math/base/special/atan2d/src/addon.c
  lib/node_modules/@stdlib/math/base/special/atan2d/src/main.c
  lib/node_modules/@stdlib/math/base/special/atan2d/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/atan2d/test/fixtures/julia/negative_negative.json
  lib/node_modules/@stdlib/math/base/special/atan2d/test/fixtures/julia/negative_positive.json
  lib/node_modules/@stdlib/math/base/special/atan2d/test/fixtures/julia/positive_positive.json
  lib/node_modules/@stdlib/math/base/special/atan2d/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/atan2d/test/test.js
  lib/node_modules/@stdlib/math/base/special/atan2d/test/test.native.js
Labels: Feature, Math

#6246 chore: fix EditorConfig lint errors (issue #6236)
  lib/node_modules/@stdlib/ndarray/base/bytes-per-element/lib/bytes_per_element.json
  lib/node_modules/@stdlib/random/base/shared/manifest.json
Labels: Good First PR

#6178 chore: fix EditorConfig lint errors #5453
  lib/node_modules/@stdlib/ndarray/base/assert/is-allowed-data-type-cast/manifest.json
Labels: Good First PR

#6180 chore: fix EditorConfig lint error #5453
  lib/node_modules/@stdlib/ndarray/safe-casts/manifest.json
Labels: Good First PR

#6181 chore: fix EditorConfig lint errors #5453
  lib/node_modules/@stdlib/number/float64/base/signbit/manifest.json
Labels: Good First PR

#6203 feat: add `constants/float32/catalan`
  lib/node_modules/@stdlib/constants/float32/catalan/README.md
  lib/node_modules/@stdlib/constants/float32/catalan/docs/img/equation_catalan_constant.svg
  lib/node_modules/@stdlib/constants/float32/catalan/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/catalan/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/catalan/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/catalan/examples/index.js
  lib/node_modules/@stdlib/constants/float32/catalan/include/stdlib/constants/float32/catalan.h
  lib/node_modules/@stdlib/constants/float32/catalan/lib/index.js
  lib/node_modules/@stdlib/constants/float32/catalan/manifest.json
  lib/node_modules/@stdlib/constants/float32/catalan/package.json
  lib/node_modules/@stdlib/constants/float32/catalan/test/test.js
Labels: Feature

#4171 feat: add C implementation for `stats/base/dists/exponential/mgf`
  lib/node_modules/@stdlib/stats/base/dists/exponential/mgf/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/mgf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/mgf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/exponential/mgf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/mgf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/exponential/mgf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/exponential/mgf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/mgf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/exponential/mgf/include/stdlib/stats/base/dists/exponential/mgf.h
  lib/node_modules/@stdlib/stats/base/dists/exponential/mgf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/mgf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/exponential/mgf/package.json
  lib/node_modules/@stdlib/stats/base/dists/exponential/mgf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/exponential/mgf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/mgf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/mgf/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#6374 feat: add `constants/float32/max-safe-lucas`
  lib/node_modules/@stdlib/constants/float32/max-safe-lucas/README.md
  lib/node_modules/@stdlib/constants/float32/max-safe-lucas/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/max-safe-lucas/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/max-safe-lucas/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/max-safe-lucas/examples/index.js
  lib/node_modules/@stdlib/constants/float32/max-safe-lucas/include/stdlib/constants/float32/max_safe_lucas.h
  lib/node_modules/@stdlib/constants/float32/max-safe-lucas/lib/index.js
  lib/node_modules/@stdlib/constants/float32/max-safe-lucas/manifest.json
  lib/node_modules/@stdlib/constants/float32/max-safe-lucas/package.json
  lib/node_modules/@stdlib/constants/float32/max-safe-lucas/test/test.js
Labels: Feature

#6519 test: add tests for C99 edge cases
  lib/node_modules/@stdlib/math/base/special/cabsf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/cabsf/test/test.js
  lib/node_modules/@stdlib/math/base/special/cabsf/test/test.native.js
Labels: Math, Tests

#6495 docs: update example for `blas/base/wasm/cscal`
  lib/node_modules/@stdlib/blas/base/wasm/cscal/README.md
  lib/node_modules/@stdlib/blas/base/wasm/cscal/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/wasm/cscal/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/wasm/cscal/lib/index.js
  lib/node_modules/@stdlib/blas/base/wasm/cscal/lib/main.js
  lib/node_modules/@stdlib/blas/base/wasm/cscal/lib/routine.js
Labels: Documentation, BLAS, First-time Contributor, Good First PR

#6515 docs: fix parameter name
  lib/node_modules/@stdlib/blas/base/zdscal/docs/types/index.d.ts
Labels: Documentation, BLAS

#6193 chore: address C lint errors
  lib/node_modules/@stdlib/stats/base/smeanors/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/strided/base/dmskmap/examples/c/example.c
Labels: C

#5978 chore: address commit comments (#5894)
  lib/node_modules/@stdlib/array/filled/lib/main.js
Labels: Documentation, Good First PR

#5760 docs: update examples for `blas/base/wasm/csrot`
  lib/node_modules/@stdlib/blas/base/wasm/csrot/README.md
  lib/node_modules/@stdlib/blas/base/wasm/csrot/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/wasm/csrot/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/wasm/csrot/lib/index.js
  lib/node_modules/@stdlib/blas/base/wasm/csrot/lib/main.js
  lib/node_modules/@stdlib/blas/base/wasm/csrot/lib/routine.js
Labels: Documentation, BLAS, Good First PR

#5855 bench: refactor benchmarks in `math/base/special/exp`
  lib/node_modules/@stdlib/math/base/special/exp/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/exp/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/exp/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/exp/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/exp/benchmark/c/cephes/Makefile
  lib/node_modules/@stdlib/math/base/special/exp/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/exp/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/exp/benchmark/c/native/benchmark.c
Labels: Math, Benchmarks

#5888 bench: refactor random number generation `math/base/special/cexp*`
  lib/node_modules/@stdlib/math/base/special/cexp/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cexp/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cexp/test/test.js
  lib/node_modules/@stdlib/math/base/special/cexp/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/cflipsign/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cflipsignf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cfloor/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/cfloor/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cfloorn/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cinv/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cinv/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cinv/test/test.js
  lib/node_modules/@stdlib/math/base/special/cinv/test/test.native.js
Labels: Math, Benchmarks

#3983 feat: add C implementation for `stats/base/dists/cosine/variance`
  lib/node_modules/@stdlib/stats/base/dists/cosine/variance/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/variance/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/variance/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/cosine/variance/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/cosine/variance/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/cosine/variance/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/cosine/variance/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/cosine/variance/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/cosine/variance/include/stdlib/stats/base/dists/cosine/variance.h
  lib/node_modules/@stdlib/stats/base/dists/cosine/variance/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/variance/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/cosine/variance/package.json
  lib/node_modules/@stdlib/stats/base/dists/cosine/variance/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/cosine/variance/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/cosine/variance/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/cosine/variance/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4525 feat: add `stats/base/dists/kumaraswamy/kurtosis`
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/kurtosis/README.md
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/kurtosis/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/kurtosis/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/kurtosis/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/kurtosis/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/kurtosis/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/kurtosis/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/kurtosis/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/kurtosis/include/stdlib/stats/base/dists/kumaraswamy/kurtosis.h
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/kurtosis/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/kurtosis/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/kurtosis/package.json
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/kurtosis/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/kurtosis/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/kurtosis/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/kurtosis/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#6528 chore: address commit comments for commit `32bcc18` (issue #6500)
  lib/node_modules/@stdlib/stats/base/dists/betaprime/logpdf/README.md
Labels: Documentation, Statistics, First-time Contributor

#6529 chore: fix C lint error (issue #6523)
  lib/node_modules/@stdlib/strided/base/zmap/examples/c/example.c
Labels: Documentation

#4066 feat: add C implementation for `stats/base/dists/arcsine/median`
  lib/node_modules/@stdlib/stats/base/dists/arcsine/median/README.md
  lib/node_modules/@stdlib/stats/base/dists/arcsine/median/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/median/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/arcsine/median/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/median/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/arcsine/median/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/arcsine/median/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/median/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/arcsine/median/include/stdlib/stats/base/dists/arcsine/median.h
  lib/node_modules/@stdlib/stats/base/dists/arcsine/median/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/median/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/arcsine/median/package.json
  lib/node_modules/@stdlib/stats/base/dists/arcsine/median/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/arcsine/median/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/median/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/median/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#6536 docs: add FAQ on generating local test coverage report
  docs/contributing/FAQ.md
Labels: Documentation

#6535 fix: inconsistent anchor tag links for headings
  docs/contributing/FAQ.md
Labels: Documentation

#6532 fix: condition check in `blas/base/dsyr2` ndarray
  lib/node_modules/@stdlib/blas/base/dsyr2/lib/ndarray.js
Labels: BLAS

#6534 feat: add `FIF_F` macro in `math/base/napi/ternary`
  lib/node_modules/@stdlib/math/base/napi/ternary/README.md
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary.h
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary/fif_f.h
  lib/node_modules/@stdlib/math/base/napi/ternary/manifest.json
  lib/node_modules/@stdlib/math/base/napi/ternary/src/fif_f.c
Labels: Math, Native Addons, C

#6541 chore: fix EditorConfig lint errors (issue #6473)
  lib/node_modules/@stdlib/ndarray/safe-casts/lib/safe_casts.json
Labels: First-time Contributor, Good First PR

#4919 feat: add C implementation for `stats/base/dists/levy/entropy`
  lib/node_modules/@stdlib/stats/base/dists/levy/entropy/README.md
  lib/node_modules/@stdlib/stats/base/dists/levy/entropy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/levy/entropy/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/levy/entropy/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/levy/entropy/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/levy/entropy/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/levy/entropy/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/levy/entropy/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/levy/entropy/include/stdlib/stats/base/dists/levy/entropy.h
  lib/node_modules/@stdlib/stats/base/dists/levy/entropy/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/levy/entropy/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/levy/entropy/package.json
  lib/node_modules/@stdlib/stats/base/dists/levy/entropy/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/levy/entropy/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/levy/entropy/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/levy/entropy/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4902 feat: add C implementation for `stats/base/dists/planck/mean`
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/README.md
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/include/stdlib/stats/base/dists/planck/mean.h
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/package.json
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/planck/mean/test/test.native.js
Labels: Statistics, Ready To Merge

#4288 feat: add C implementation for `stats/base/dists/levy/cdf`
  lib/node_modules/@stdlib/stats/base/dists/levy/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/levy/cdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/levy/cdf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/levy/cdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/levy/cdf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/levy/cdf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/levy/cdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/levy/cdf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/levy/cdf/include/stdlib/stats/base/dists/levy/cdf.h
  lib/node_modules/@stdlib/stats/base/dists/levy/cdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/levy/cdf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/levy/cdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/levy/cdf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/levy/cdf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/levy/cdf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/levy/cdf/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#6542 feat: add `FII_F` macro in `math/base/napi/ternary`
  lib/node_modules/@stdlib/math/base/napi/ternary/README.md
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary.h
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary/fii_f.h
  lib/node_modules/@stdlib/math/base/napi/ternary/manifest.json
  lib/node_modules/@stdlib/math/base/napi/ternary/src/fii_f.c
Labels: Math, Native Addons, C

#6543 fix: condition check in `blas/base/ssyr2` ndarray
  lib/node_modules/@stdlib/blas/base/ssyr2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/ssyr2/lib/ssyr2.js
Labels: BLAS

#6549 chore: fix EditorConfig lint errors issue #6521
  lib/node_modules/@stdlib/ndarray/promotion-rules/manifest.json
Labels: Good First PR

#6550 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/trunc/README.md
  lib/node_modules/@stdlib/math/base/special/trunc/examples/index.js
  lib/node_modules/@stdlib/math/base/special/trunc10/README.md
  lib/node_modules/@stdlib/math/base/special/trunc10/examples/index.js
  lib/node_modules/@stdlib/math/base/special/trunc2/README.md
  lib/node_modules/@stdlib/math/base/special/trunc2/examples/index.js
  lib/node_modules/@stdlib/math/base/special/truncf/README.md
  lib/node_modules/@stdlib/math/base/special/truncf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/truncsd/README.md
  lib/node_modules/@stdlib/math/base/special/truncsd/examples/index.js
Labels: Documentation, Math

#6544 test: increase code coverage in `blas/base/ssyr2`
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/column_major_x0.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/fixtures/row_major_x0.json
  lib/node_modules/@stdlib/blas/base/ssyr2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/ssyr2/test/test.ssyr2.js
Labels: Tests, BLAS

#6564 test: add tests for IEEE 754-2019 compliance
  lib/node_modules/@stdlib/math/base/special/acosh/test/test.js
  lib/node_modules/@stdlib/math/base/special/acosh/test/test.native.js
Labels: Math, Tests

#6563 test: add tests for IEEE 754-2019 compliance
  lib/node_modules/@stdlib/math/base/special/atan2d/test/test.js
  lib/node_modules/@stdlib/math/base/special/atan2d/test/test.native.js
Labels: Math, Tests

#6562 test: add tests for IEEE 754-2019 compliance
  lib/node_modules/@stdlib/math/base/special/atan2/test/test.js
  lib/node_modules/@stdlib/math/base/special/atan2/test/test.native.js
Labels: Math, Tests

#6560 test: add tests for IEEE 754-2019 compliance
  lib/node_modules/@stdlib/math/base/special/cospi/test/test.js
  lib/node_modules/@stdlib/math/base/special/cospi/test/test.native.js
Labels: Math, Tests

#6559 test: add tests for IEEE 754-2019 compliance
  lib/node_modules/@stdlib/math/base/special/sinpi/test/test.js
  lib/node_modules/@stdlib/math/base/special/sinpi/test/test.native.js
Labels: Math, Tests

#6556 test: add tests for IEEE 754-2019 compliance
  lib/node_modules/@stdlib/math/base/special/sin/test/test.js
  lib/node_modules/@stdlib/math/base/special/sin/test/test.native.js
Labels: Math, Tests

#6558 test: add tests for IEEE 754-2019 compliance
  lib/node_modules/@stdlib/math/base/special/cos/test/test.js
  lib/node_modules/@stdlib/math/base/special/cos/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/cosh/test/test.js
  lib/node_modules/@stdlib/math/base/special/cosh/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/cospi/test/test.js
  lib/node_modules/@stdlib/math/base/special/cospi/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/exp/test/test.js
  lib/node_modules/@stdlib/math/base/special/exp/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/exp10/test/test.js
  lib/node_modules/@stdlib/math/base/special/exp10/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/exp2/test/test.js
  lib/node_modules/@stdlib/math/base/special/exp2/test/test.native.js
Labels: Math, Tests

#6565 chore: address commit comments for commit bb378ff (issue #6499)
  lib/node_modules/@stdlib/math/base/special/log10/README.md
  lib/node_modules/@stdlib/math/base/special/log10/examples/index.js
  lib/node_modules/@stdlib/math/base/special/log2/README.md
  lib/node_modules/@stdlib/math/base/special/log2/examples/index.js
  lib/node_modules/@stdlib/math/base/special/logf/README.md
  lib/node_modules/@stdlib/math/base/special/logf/examples/index.js
Labels: Math, Ready To Merge, First-time Contributor, Good First PR

#6557 test: add tests for IEEE 754-2019 compliance
  lib/node_modules/@stdlib/math/base/special/asin/test/test.js
  lib/node_modules/@stdlib/math/base/special/asin/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/sinpi/test/test.js
  lib/node_modules/@stdlib/math/base/special/sinpi/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/tan/test/test.js
  lib/node_modules/@stdlib/math/base/special/tan/test/test.native.js
Labels: Math, Tests, Ready To Merge

#6569 chore: fix EditorConfig lint errors (issue #6552)
  lib/node_modules/@stdlib/_tools/manifest-json/schema/test/fixtures/bad_confs4.json
Labels: Tools, Ready To Merge, First-time Contributor, Good First PR

#6570 test: add tests for IEEE 754-2019 compliance
  lib/node_modules/@stdlib/math/base/special/exp/test/test.js
  lib/node_modules/@stdlib/math/base/special/exp/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/exp10/test/test.js
  lib/node_modules/@stdlib/math/base/special/exp10/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/exp2/test/test.js
  lib/node_modules/@stdlib/math/base/special/exp2/test/test.native.js
Labels: Math, Ready To Merge

#6573 test: add tests for IEEE 754-2019 compliance
  lib/node_modules/@stdlib/math/base/special/rsqrt/test/test.js
  lib/node_modules/@stdlib/math/base/special/rsqrt/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/rsqrtf/test/test.js
  lib/node_modules/@stdlib/math/base/special/rsqrtf/test/test.native.js
Labels: Math, Ready To Merge

#3944 feat: add C implementation for `stats/base/dists/gamma/variance`
  lib/node_modules/@stdlib/stats/base/dists/gamma/variance/README.md
  lib/node_modules/@stdlib/stats/base/dists/gamma/variance/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/gamma/variance/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/gamma/variance/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/gamma/variance/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/gamma/variance/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/gamma/variance/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/gamma/variance/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/gamma/variance/include/stdlib/stats/base/dists/gamma/variance.h
  lib/node_modules/@stdlib/stats/base/dists/gamma/variance/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/gamma/variance/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/gamma/variance/package.json
  lib/node_modules/@stdlib/stats/base/dists/gamma/variance/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/gamma/variance/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/gamma/variance/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/gamma/variance/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4014 feat: add C implementation for `stats/base/dists/exponential/variance`
  lib/node_modules/@stdlib/stats/base/dists/exponential/variance/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/variance/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/variance/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/exponential/variance/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/variance/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/exponential/variance/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/exponential/variance/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/variance/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/exponential/variance/include/stdlib/stats/base/dists/exponential/variance.h
  lib/node_modules/@stdlib/stats/base/dists/exponential/variance/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/variance/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/exponential/variance/package.json
  lib/node_modules/@stdlib/stats/base/dists/exponential/variance/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/exponential/variance/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/variance/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/variance/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#3943 feat: add C implementation for `stats/base/dists/invgamma/variance`
  lib/node_modules/@stdlib/stats/base/dists/invgamma/variance/README.md
  lib/node_modules/@stdlib/stats/base/dists/invgamma/variance/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/variance/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/invgamma/variance/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/invgamma/variance/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/invgamma/variance/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/invgamma/variance/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/invgamma/variance/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/invgamma/variance/include/stdlib/stats/base/dists/invgamma/variance.h
  lib/node_modules/@stdlib/stats/base/dists/invgamma/variance/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/variance/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/invgamma/variance/package.json
  lib/node_modules/@stdlib/stats/base/dists/invgamma/variance/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/invgamma/variance/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/invgamma/variance/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/invgamma/variance/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#6581 docs: rename docs-src to src-docs for consistency
  tools/make/README.md
Labels: Ready To Merge, First-time Contributor

#3985 feat: add C implementation for `stats/base/dists/cosine/mean`
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/include/stdlib/stats/base/dists/cosine/mean.h
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/package.json
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#3993 feat: add C implementation for `stats/base/dists/laplace/mean`
  lib/node_modules/@stdlib/stats/base/dists/laplace/mean/README.md
  lib/node_modules/@stdlib/stats/base/dists/laplace/mean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/mean/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/laplace/mean/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/mean/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/laplace/mean/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/laplace/mean/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/mean/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/laplace/mean/include/stdlib/stats/base/dists/laplace/mean.h
  lib/node_modules/@stdlib/stats/base/dists/laplace/mean/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/mean/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/laplace/mean/package.json
  lib/node_modules/@stdlib/stats/base/dists/laplace/mean/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/laplace/mean/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/mean/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/mean/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#3997 feat: add C implementation for `stats/base/dists/laplace/median`
  lib/node_modules/@stdlib/stats/base/dists/laplace/median/README.md
  lib/node_modules/@stdlib/stats/base/dists/laplace/median/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/median/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/laplace/median/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/median/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/laplace/median/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/laplace/median/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/median/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/laplace/median/include/stdlib/stats/base/dists/laplace/median.h
  lib/node_modules/@stdlib/stats/base/dists/laplace/median/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/median/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/laplace/median/package.json
  lib/node_modules/@stdlib/stats/base/dists/laplace/median/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/laplace/median/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/median/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/median/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#3959 feat: add C implementation for `stats/base/dists/uniform/cdf`
  lib/node_modules/@stdlib/stats/base/dists/uniform/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/uniform/cdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/cdf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/uniform/cdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/cdf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/uniform/cdf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/uniform/cdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/cdf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/uniform/cdf/include/stdlib/stats/base/dists/uniform/cdf.h
  lib/node_modules/@stdlib/stats/base/dists/uniform/cdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/cdf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/uniform/cdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/uniform/cdf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/uniform/cdf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/cdf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/cdf/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4437 feat: add C implementation for `@stdlib/stats/base/dists/laplace/quantile`
  lib/node_modules/@stdlib/stats/base/dists/laplace/quantile/README.md
  lib/node_modules/@stdlib/stats/base/dists/laplace/quantile/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/quantile/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/laplace/quantile/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/quantile/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/laplace/quantile/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/laplace/quantile/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/quantile/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/laplace/quantile/include/stdlib/stats/base/dists/laplace/quantile.h
  lib/node_modules/@stdlib/stats/base/dists/laplace/quantile/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/quantile/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/laplace/quantile/package.json
  lib/node_modules/@stdlib/stats/base/dists/laplace/quantile/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/laplace/quantile/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/quantile/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/quantile/test/test.native..js
Labels: Statistics, Ready To Merge, Good First PR

#4324 feat: added C implementation for `stats/base/dists/weibull/mode`
  lib/node_modules/@stdlib/stats/base/dists/weibull/mode/README.md
  lib/node_modules/@stdlib/stats/base/dists/weibull/mode/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/mode/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/weibull/mode/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/weibull/mode/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/weibull/mode/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/weibull/mode/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/weibull/mode/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/weibull/mode/include/stdlib/stats/base/dists/weibull/mode.h
  lib/node_modules/@stdlib/stats/base/dists/weibull/mode/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/mode/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/weibull/mode/package.json
  lib/node_modules/@stdlib/stats/base/dists/weibull/mode/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/weibull/mode/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/weibull/mode/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/weibull/mode/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4422 feat: add C implementation for `stats/base/dists/laplace/logcdf`
  lib/node_modules/@stdlib/stats/base/dists/laplace/logcdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/laplace/logcdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/logcdf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/laplace/logcdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/logcdf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/laplace/logcdf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/laplace/logcdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/logcdf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/laplace/logcdf/include/stdlib/stats/base/dists/laplace/logcdf.h
  lib/node_modules/@stdlib/stats/base/dists/laplace/logcdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/logcdf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/laplace/logcdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/laplace/logcdf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/laplace/logcdf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/logcdf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/logcdf/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4352 feat: add C implementation for `stats/base/dists/logistic/quantile`
  lib/node_modules/@stdlib/stats/base/dists/logistic/quantile/README.md
  lib/node_modules/@stdlib/stats/base/dists/logistic/quantile/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/quantile/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/logistic/quantile/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/quantile/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/logistic/quantile/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/logistic/quantile/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/quantile/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/logistic/quantile/include/stdlib/stats/base/dists/logistic/quantile.h
  lib/node_modules/@stdlib/stats/base/dists/logistic/quantile/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/quantile/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/logistic/quantile/package.json
  lib/node_modules/@stdlib/stats/base/dists/logistic/quantile/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/logistic/quantile/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/quantile/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/quantile/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4440 feat: add C implementation for `stats/base/dists/laplace/cdf`
  lib/node_modules/@stdlib/stats/base/dists/laplace/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/laplace/cdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/cdf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/laplace/cdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/cdf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/laplace/cdf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/laplace/cdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/cdf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/laplace/cdf/include/stdlib/stats/base/dists/laplace/cdf.h
  lib/node_modules/@stdlib/stats/base/dists/laplace/cdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/cdf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/laplace/cdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/laplace/cdf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/laplace/cdf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/cdf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/cdf/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#6599 test: add tests for IEEE 754-2019 compliance
  lib/node_modules/@stdlib/math/base/special/acosd/test/test.js
  lib/node_modules/@stdlib/math/base/special/acosd/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/acosdf/test/test.js
  lib/node_modules/@stdlib/math/base/special/acosdf/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/acosf/test/test.js
  lib/node_modules/@stdlib/math/base/special/acosf/test/test.native.js
Labels: Math, Ready To Merge

#6595 test: add tests for IEEE 754-2019 compliance
  lib/node_modules/@stdlib/math/base/special/asind/test/test.js
  lib/node_modules/@stdlib/math/base/special/asind/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/asindf/test/test.js
  lib/node_modules/@stdlib/math/base/special/asindf/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/asinf/test/test.js
  lib/node_modules/@stdlib/math/base/special/asinf/test/test.native.js
Labels: Math, Ready To Merge

#6612 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/cosm1/README.md
  lib/node_modules/@stdlib/math/base/special/cosm1/examples/index.js
  lib/node_modules/@stdlib/math/base/special/cospi/README.md
  lib/node_modules/@stdlib/math/base/special/cospi/examples/index.js
  lib/node_modules/@stdlib/math/base/special/cot/README.md
  lib/node_modules/@stdlib/math/base/special/cot/examples/index.js
  lib/node_modules/@stdlib/math/base/special/cotd/README.md
  lib/node_modules/@stdlib/math/base/special/cotd/examples/index.js
  lib/node_modules/@stdlib/math/base/special/coth/README.md
  lib/node_modules/@stdlib/math/base/special/coth/examples/index.js
Labels: Documentation, Math

#6611 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/copysign/README.md
  lib/node_modules/@stdlib/math/base/special/copysign/examples/index.js
  lib/node_modules/@stdlib/math/base/special/copysignf/README.md
  lib/node_modules/@stdlib/math/base/special/copysignf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/cos/README.md
  lib/node_modules/@stdlib/math/base/special/cos/examples/index.js
  lib/node_modules/@stdlib/math/base/special/cosd/README.md
  lib/node_modules/@stdlib/math/base/special/cosd/examples/index.js
  lib/node_modules/@stdlib/math/base/special/cosh/README.md
  lib/node_modules/@stdlib/math/base/special/cosh/examples/index.js
Labels: Documentation, Math

#6607 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/cbrt/README.md
  lib/node_modules/@stdlib/math/base/special/cbrt/examples/index.js
  lib/node_modules/@stdlib/math/base/special/cbrtf/README.md
  lib/node_modules/@stdlib/math/base/special/cbrtf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/ceil/README.md
  lib/node_modules/@stdlib/math/base/special/ceil/examples/index.js
  lib/node_modules/@stdlib/math/base/special/ceilf/README.md
  lib/node_modules/@stdlib/math/base/special/ceilf/examples/index.js
Labels: Documentation, Math

#6608 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/ceil10/README.md
  lib/node_modules/@stdlib/math/base/special/ceil10/examples/index.js
  lib/node_modules/@stdlib/math/base/special/ceil2/README.md
  lib/node_modules/@stdlib/math/base/special/ceil2/examples/index.js
  lib/node_modules/@stdlib/math/base/special/ceilsd/README.md
  lib/node_modules/@stdlib/math/base/special/ceilsd/examples/index.js
  lib/node_modules/@stdlib/math/base/special/clamp/README.md
  lib/node_modules/@stdlib/math/base/special/clamp/examples/index.js
  lib/node_modules/@stdlib/math/base/special/clampf/README.md
  lib/node_modules/@stdlib/math/base/special/clampf/examples/index.js
Labels: Documentation, Math

#6587 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/vercos/README.md
  lib/node_modules/@stdlib/math/base/special/vercos/examples/index.js
  lib/node_modules/@stdlib/math/base/special/versin/README.md
  lib/node_modules/@stdlib/math/base/special/versin/examples/index.js
  lib/node_modules/@stdlib/math/base/special/wrap/README.md
  lib/node_modules/@stdlib/math/base/special/wrap/examples/index.js
Labels: Documentation, Math

#6596 chore: fix EditorConfig lint errors issue #6588
  lib/node_modules/@stdlib/number/float64/reviver/docs/types/test.ts
Labels: First-time Contributor, Good First PR

#5639 feat: add `array/base/reshape`
  lib/node_modules/@stdlib/array/base/reshape/README.md
  lib/node_modules/@stdlib/array/base/reshape/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/reshape/docs/repl.txt
  lib/node_modules/@stdlib/array/base/reshape/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/reshape/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/reshape/examples/index.js
  lib/node_modules/@stdlib/array/base/reshape/lib/index.js
  lib/node_modules/@stdlib/array/base/reshape/lib/main.js
  lib/node_modules/@stdlib/array/base/reshape/package.json
  lib/node_modules/@stdlib/array/base/reshape/test/test.js
Labels: Feature

#5464 feat: `add array/base/linspace2d`
  lib/node_modules/@stdlib/array/base/linspace2d/README.md
  lib/node_modules/@stdlib/array/base/linspace2d/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/linspace2d/benchmark/benchmark.size.js
  lib/node_modules/@stdlib/array/base/linspace2d/docs/repl.txt
  lib/node_modules/@stdlib/array/base/linspace2d/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/linspace2d/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/linspace2d/examples/index.js
  lib/node_modules/@stdlib/array/base/linspace2d/lib/index.js
  lib/node_modules/@stdlib/array/base/linspace2d/lib/main.js
  lib/node_modules/@stdlib/array/base/linspace2d/package.json
  lib/node_modules/@stdlib/array/base/linspace2d/test/test.js
Labels: Feature

#6568 test: increase code coverage in `blas/base/zaxpy`
  lib/node_modules/@stdlib/blas/base/zaxpy/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/zaxpy/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/zaxpy/test/test.zaxpy.js
Labels: Tests, BLAS

#5414 feat: add `string/base/slice-code-points`
  lib/node_modules/@stdlib/string/base/slice-code-points/README.md
  lib/node_modules/@stdlib/string/base/slice-code-points/benchmark/benchmark.js
  lib/node_modules/@stdlib/string/base/slice-code-points/docs/repl.txt
  lib/node_modules/@stdlib/string/base/slice-code-points/docs/types/index.d.ts
  lib/node_modules/@stdlib/string/base/slice-code-points/docs/types/test.ts
  lib/node_modules/@stdlib/string/base/slice-code-points/examples/index.js
  lib/node_modules/@stdlib/string/base/slice-code-points/lib/index.js
  lib/node_modules/@stdlib/string/base/slice-code-points/lib/main.js
  lib/node_modules/@stdlib/string/base/slice-code-points/package.json
  lib/node_modules/@stdlib/string/base/slice-code-points/test/test.js
Labels: Feature

#6592 fix: update `sind` to follow the IEEE 754-2019 standard
  lib/node_modules/@stdlib/math/base/special/sind/lib/main.js
  lib/node_modules/@stdlib/math/base/special/sind/src/main.c
  lib/node_modules/@stdlib/math/base/special/sind/test/test.js
  lib/node_modules/@stdlib/math/base/special/sind/test/test.native.js
Labels: Math, Tests

#6594 test: add tests for IEEE 754-2019 compliance
  lib/node_modules/@stdlib/math/base/special/tand/test/test.js
  lib/node_modules/@stdlib/math/base/special/tand/test/test.native.js
Labels: Math, Tests

#6620 test: add tests for IEEE 754-2019 compliance
  lib/node_modules/@stdlib/math/base/special/cot/test/test.js
  lib/node_modules/@stdlib/math/base/special/cot/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/cotd/test/test.js
  lib/node_modules/@stdlib/math/base/special/cotd/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/csc/test/test.js
  lib/node_modules/@stdlib/math/base/special/csc/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/sec/test/test.js
  lib/node_modules/@stdlib/math/base/special/sec/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/secd/test/test.js
  lib/node_modules/@stdlib/math/base/special/secd/test/test.native.js
Labels: Math, Tests

#6605 feat: add `every`, `includes`, `unaryAccumulate`, and `unaryReduceSubarray` to namespace
  lib/node_modules/@stdlib/_tools/github/subscriptions/README.md
  lib/node_modules/@stdlib/datasets/nightingales-rose/README.md
  lib/node_modules/@stdlib/ndarray/base/lib/index.js
Labels: Feature, First-time Contributor, Good First PR

#6571 test: add tests for IEEE 754-2019 compliance
  lib/node_modules/@stdlib/math/base/special/ln/test/test.js
  lib/node_modules/@stdlib/math/base/special/ln/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/lnf/test/test.js
  lib/node_modules/@stdlib/math/base/special/lnf/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/log/test/test.js
  lib/node_modules/@stdlib/math/base/special/log/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/log10/lib/main.js
  lib/node_modules/@stdlib/math/base/special/log10/test/test.js
  lib/node_modules/@stdlib/math/base/special/log10/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/log2/lib/main.js
  lib/node_modules/@stdlib/math/base/special/log2/test/test.js
  lib/node_modules/@stdlib/math/base/special/log2/test/test.native.js
Labels: Math, Tests

#5833 build: bring first-time greeting script in-house
  .github/workflows/first_time_greeting.yml
  .github/workflows/scripts/first_time_greeting
Labels: Tools, CI

#6102 build: add workflow to post comment on PRs accidentally closing tracking issues
  .github/workflows/check_tracking_issue_closure.yml
  .github/workflows/scripts/check_tracking_issue_closure
Labels: Tools, CI

#6546 test: increase code coverage in `blas/base/dsyr2`
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/column_major_x0.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/fixtures/row_major_x0.json
  lib/node_modules/@stdlib/blas/base/dsyr2/test/test.dsyr2.js
  lib/node_modules/@stdlib/blas/base/dsyr2/test/test.ndarray.js
Labels: Tests, BLAS

#6621 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/covercos/README.md
  lib/node_modules/@stdlib/math/base/special/covercos/examples/index.js
  lib/node_modules/@stdlib/math/base/special/coversin/README.md
  lib/node_modules/@stdlib/math/base/special/coversin/examples/index.js
  lib/node_modules/@stdlib/math/base/special/csc/README.md
  lib/node_modules/@stdlib/math/base/special/csc/examples/index.js
  lib/node_modules/@stdlib/math/base/special/cscd/README.md
  lib/node_modules/@stdlib/math/base/special/cscd/examples/index.js
  lib/node_modules/@stdlib/math/base/special/csch/README.md
  lib/node_modules/@stdlib/math/base/special/csch/examples/index.js
Labels: Documentation, Math

#6622 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/falling-factorial/README.md
  lib/node_modules/@stdlib/math/base/special/falling-factorial/examples/index.js
  lib/node_modules/@stdlib/math/base/special/flipsign/README.md
  lib/node_modules/@stdlib/math/base/special/flipsign/examples/index.js
  lib/node_modules/@stdlib/math/base/special/flipsignf/README.md
  lib/node_modules/@stdlib/math/base/special/flipsignf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/floor/README.md
  lib/node_modules/@stdlib/math/base/special/floor/examples/index.js
  lib/node_modules/@stdlib/math/base/special/floor2/README.md
  lib/node_modules/@stdlib/math/base/special/floor2/examples/index.js
Labels: Documentation, Math

#5952 feat: add `array/base/count-ifs`
  lib/node_modules/@stdlib/array/base/count-ifs/README.md
  lib/node_modules/@stdlib/array/base/count-ifs/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/array/base/count-ifs/docs/repl.txt
  lib/node_modules/@stdlib/array/base/count-ifs/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/count-ifs/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/count-ifs/examples/index.js
  lib/node_modules/@stdlib/array/base/count-ifs/lib/index.js
  lib/node_modules/@stdlib/array/base/count-ifs/lib/main.js
  lib/node_modules/@stdlib/array/base/count-ifs/package.json
  lib/node_modules/@stdlib/array/base/count-ifs/test/test.js
Labels: Feature

#6643 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/tan/README.md
  lib/node_modules/@stdlib/math/base/special/tan/examples/index.js
  lib/node_modules/@stdlib/math/base/special/tand/README.md
  lib/node_modules/@stdlib/math/base/special/tand/examples/index.js
  lib/node_modules/@stdlib/math/base/special/tanh/README.md
  lib/node_modules/@stdlib/math/base/special/tanh/examples/index.js
Labels: Documentation, Math

#6644 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/fast/abs/README.md
  lib/node_modules/@stdlib/math/base/special/fast/abs/examples/index.js
  lib/node_modules/@stdlib/math/base/special/fast/acosh/README.md
  lib/node_modules/@stdlib/math/base/special/fast/acosh/examples/index.js
  lib/node_modules/@stdlib/math/base/special/fast/alpha-max-plus-beta-min/README.md
  lib/node_modules/@stdlib/math/base/special/fast/alpha-max-plus-beta-min/examples/index.js
  lib/node_modules/@stdlib/math/base/special/fast/asinh/README.md
  lib/node_modules/@stdlib/math/base/special/fast/asinh/examples/index.js
  lib/node_modules/@stdlib/math/base/special/fast/atanh/README.md
  lib/node_modules/@stdlib/math/base/special/fast/atanh/examples/index.js
Labels: Documentation, Math

#6635 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/gamma-delta-ratio/README.md
  lib/node_modules/@stdlib/math/base/special/gamma-delta-ratio/examples/index.js
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/README.md
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaled/examples/index.js
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/README.md
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum/examples/index.js
  lib/node_modules/@stdlib/math/base/special/gamma/README.md
  lib/node_modules/@stdlib/math/base/special/gamma/examples/index.js
  lib/node_modules/@stdlib/math/base/special/gamma1pm1/README.md
  lib/node_modules/@stdlib/math/base/special/gamma1pm1/examples/index.js
Labels: Documentation, Math

#6645 bench: update random value generation
  lib/node_modules/@stdlib/math/base/special/fast/abs/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/fast/abs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/abs/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/abs/test/test.js
  lib/node_modules/@stdlib/math/base/special/fast/abs/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/fast/acosh/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/fast/acosh/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/acosh/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/acosh/test/test.js
  lib/node_modules/@stdlib/math/base/special/fast/acosh/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/fast/asinh/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/fast/asinh/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/asinh/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/asinh/test/test.js
  lib/node_modules/@stdlib/math/base/special/fast/asinh/test/test.native.js
Labels: Math, Benchmarks

#6641 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/sin/README.md
  lib/node_modules/@stdlib/math/base/special/sin/examples/index.js
  lib/node_modules/@stdlib/math/base/special/sinc/README.md
  lib/node_modules/@stdlib/math/base/special/sinc/examples/index.js
  lib/node_modules/@stdlib/math/base/special/sind/README.md
  lib/node_modules/@stdlib/math/base/special/sind/examples/index.js
  lib/node_modules/@stdlib/math/base/special/sinh/README.md
  lib/node_modules/@stdlib/math/base/special/sinh/examples/index.js
  lib/node_modules/@stdlib/math/base/special/sinpi/README.md
  lib/node_modules/@stdlib/math/base/special/sinpi/examples/index.js
Labels: Documentation, Math

#6640 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/ramp/README.md
  lib/node_modules/@stdlib/math/base/special/ramp/examples/index.js
  lib/node_modules/@stdlib/math/base/special/rampf/README.md
  lib/node_modules/@stdlib/math/base/special/rampf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/riemann-zeta/README.md
  lib/node_modules/@stdlib/math/base/special/riemann-zeta/examples/index.js
  lib/node_modules/@stdlib/math/base/special/sec/README.md
  lib/node_modules/@stdlib/math/base/special/sec/examples/index.js
  lib/node_modules/@stdlib/math/base/special/secd/README.md
  lib/node_modules/@stdlib/math/base/special/secd/examples/index.js
Labels: Documentation, Math

#6639 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/kernel-cos/README.md
  lib/node_modules/@stdlib/math/base/special/kernel-cos/examples/index.js
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/README.md
  lib/node_modules/@stdlib/math/base/special/kernel-log1p/examples/index.js
  lib/node_modules/@stdlib/math/base/special/kernel-sin/README.md
  lib/node_modules/@stdlib/math/base/special/kernel-sin/examples/index.js
  lib/node_modules/@stdlib/math/base/special/kronecker-delta/README.md
  lib/node_modules/@stdlib/math/base/special/kronecker-delta/examples/index.js
  lib/node_modules/@stdlib/math/base/special/kronecker-deltaf/README.md
  lib/node_modules/@stdlib/math/base/special/kronecker-deltaf/examples/index.js
Labels: Documentation, Math

#6638 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/heaviside/README.md
  lib/node_modules/@stdlib/math/base/special/heaviside/examples/index.js
  lib/node_modules/@stdlib/math/base/special/heavisidef/README.md
  lib/node_modules/@stdlib/math/base/special/heavisidef/examples/index.js
  lib/node_modules/@stdlib/math/base/special/hyp2f1/README.md
  lib/node_modules/@stdlib/math/base/special/hyp2f1/examples/index.js
  lib/node_modules/@stdlib/math/base/special/hypot/README.md
  lib/node_modules/@stdlib/math/base/special/hypot/examples/index.js
  lib/node_modules/@stdlib/math/base/special/hypotf/README.md
  lib/node_modules/@stdlib/math/base/special/hypotf/examples/index.js
Labels: Documentation, Math

#6637 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/gcdf/README.md
  lib/node_modules/@stdlib/math/base/special/gcdf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/hacovercos/README.md
  lib/node_modules/@stdlib/math/base/special/hacovercos/examples/index.js
  lib/node_modules/@stdlib/math/base/special/hacoversin/README.md
  lib/node_modules/@stdlib/math/base/special/hacoversin/examples/index.js
  lib/node_modules/@stdlib/math/base/special/havercos/README.md
  lib/node_modules/@stdlib/math/base/special/havercos/examples/index.js
  lib/node_modules/@stdlib/math/base/special/haversin/README.md
  lib/node_modules/@stdlib/math/base/special/haversin/examples/index.js
Labels: Documentation, Math

#6636 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/gammainc/README.md
  lib/node_modules/@stdlib/math/base/special/gammainc/examples/index.js
  lib/node_modules/@stdlib/math/base/special/gammaincinv/README.md
  lib/node_modules/@stdlib/math/base/special/gammaincinv/examples/index.js
  lib/node_modules/@stdlib/math/base/special/gammaln/README.md
  lib/node_modules/@stdlib/math/base/special/gammaln/examples/index.js
  lib/node_modules/@stdlib/math/base/special/gammasgn/README.md
  lib/node_modules/@stdlib/math/base/special/gammasgn/examples/index.js
  lib/node_modules/@stdlib/math/base/special/gcd/README.md
  lib/node_modules/@stdlib/math/base/special/gcd/examples/index.js
Labels: Documentation, Math

#6320 feat: add `math/base/special/fibonacci-indexf`
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/README.md
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/benchmark/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/benchmark/julia/benchmark.jl
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/include.gypi
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/include/stdlib/math/base/special/fibonacci_indexf.h
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/manifest.json
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/package.json
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/src/main.c
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/test/test.js
  lib/node_modules/@stdlib/math/base/special/fibonacci-indexf/test/test.native.js
Labels: Feature, Math

#6649 bench: update random value generation
  lib/node_modules/@stdlib/math/base/special/fast/atanh/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/fast/atanh/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/atanh/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/atanh/test/test.js
  lib/node_modules/@stdlib/math/base/special/fast/atanh/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/fast/max/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/fast/max/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/max/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/max/test/test.js
  lib/node_modules/@stdlib/math/base/special/fast/max/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/fast/min/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/fast/min/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/min/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/min/test/test.js
  lib/node_modules/@stdlib/math/base/special/fast/min/test/test.native.js
Labels: Math, Benchmarks

#6510 feat: add C ndarray interface and refactor implementation for `stats/base/dmeanpn`
  lib/node_modules/@stdlib/stats/base/dmeanpn/README.md
  lib/node_modules/@stdlib/stats/base/dmeanpn/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dmeanpn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dmeanpn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanpn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeanpn/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dmeanpn/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dmeanpn/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dmeanpn/include/stdlib/stats/base/dmeanpn.h
  lib/node_modules/@stdlib/stats/base/dmeanpn/lib/dmeanpn.js
  lib/node_modules/@stdlib/stats/base/dmeanpn/lib/dmeanpn.native.js
  lib/node_modules/@stdlib/stats/base/dmeanpn/lib/index.js
  lib/node_modules/@stdlib/stats/base/dmeanpn/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanpn/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeanpn/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeanpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeanpn/src/main.c
  lib/node_modules/@stdlib/stats/base/dmeanpn/test/test.dmeanpn.js
  lib/node_modules/@stdlib/stats/base/dmeanpn/test/test.dmeanpn.native.js
  lib/node_modules/@stdlib/stats/base/dmeanpn/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanpn/test/test.ndarray.native.js
Labels: Feature, Statistics

#6652 chore: fix EditorConfig lint errors (issue #6627)
  lib/node_modules/@stdlib/math/strided/special/drsqrt/manifest.json
Labels: Math, Good First PR

#6658 bench: updates random value generation and docs
  lib/node_modules/@stdlib/math/base/special/fast/hypot/README.md
  lib/node_modules/@stdlib/math/base/special/fast/hypot/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/fast/hypot/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/hypot/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/hypot/examples/index.js
  lib/node_modules/@stdlib/math/base/special/fast/hypot/test/test.js
  lib/node_modules/@stdlib/math/base/special/fast/hypot/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/test/test.js
  lib/node_modules/@stdlib/math/base/special/fast/pow-int/test/test.native.js
Labels: Math, Benchmarks

#6660 chore: fix EditorConfig lint errors (issue #6653)
  lib/node_modules/@stdlib/_tools/eslint/rules/jsdoc-list-item-spacing/README.md
Labels: Documentation, Tools, Good First PR

#6668 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/assert/int32-is-even/README.md
  lib/node_modules/@stdlib/math/base/assert/int32-is-even/examples/index.js
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/README.md
  lib/node_modules/@stdlib/math/base/assert/int32-is-odd/examples/index.js
Labels: Documentation, Math

#6531 test: completes code coverage in `blas/base/dnrm2`
  lib/node_modules/@stdlib/blas/base/dnrm2/test/test.dnrm2.js
  lib/node_modules/@stdlib/blas/base/dnrm2/test/test.dnrm2.native.js
  lib/node_modules/@stdlib/blas/base/dnrm2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/dnrm2/test/test.ndarray.native.js
Labels: Tests, BLAS

#6672 chore: fix EditorConfig lint errors (issue #6663)
  lib/node_modules/@stdlib/ndarray/base/ind/manifest.json
  lib/node_modules/@stdlib/random/streams/pareto-type1/lib/defaults.json
Labels: Ready To Merge, Good First PR

#6680 bench: update random value generation
  lib/node_modules/@stdlib/math/base/assert/is-integer/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-integer/test/test.native.js
  lib/node_modules/@stdlib/math/base/assert/is-integerf/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-integerf/test/test.native.js
  lib/node_modules/@stdlib/math/base/assert/is-nan/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-nan/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-nan/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-nan/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-nan/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-nan/test/test.native.js
  lib/node_modules/@stdlib/math/base/assert/is-nanf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-nanf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-nanf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-nanf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-nanf/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-nanf/test/test.native.js
Labels: Math, Benchmarks

#6679 bench: update random value generation
  lib/node_modules/@stdlib/math/base/assert/is-finitef/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-finitef/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-finitef/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-finitef/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-finitef/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-finitef/test/test.native.js
  lib/node_modules/@stdlib/math/base/assert/is-infinite/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-infinite/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-infinite/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-infinite/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-infinite/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-infinite/test/test.native.js
  lib/node_modules/@stdlib/math/base/assert/is-infinitef/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-infinitef/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-infinitef/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-infinitef/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-infinitef/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-infinitef/test/test.native.js
Labels: Math, Benchmarks

#6676 bench: update random value generation
  lib/node_modules/@stdlib/math/base/assert/is-even/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-even/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-even/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-even/test/test.native.js
  lib/node_modules/@stdlib/math/base/assert/is-evenf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-evenf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-evenf/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-evenf/test/test.native.js
  lib/node_modules/@stdlib/math/base/assert/is-finite/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-finite/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-finite/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-finite/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-finite/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-finite/test/test.native.js
Labels: Math, Benchmarks

#6675 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/assert/is-even/README.md
  lib/node_modules/@stdlib/math/base/assert/is-even/examples/index.js
  lib/node_modules/@stdlib/math/base/assert/is-evenf/README.md
  lib/node_modules/@stdlib/math/base/assert/is-evenf/examples/index.js
  lib/node_modules/@stdlib/math/base/assert/is-odd/README.md
  lib/node_modules/@stdlib/math/base/assert/is-odd/examples/index.js
  lib/node_modules/@stdlib/math/base/assert/is-oddf/README.md
  lib/node_modules/@stdlib/math/base/assert/is-oddf/examples/index.js
Labels: Documentation, Math

#6683 bench: update random value generation
  lib/node_modules/@stdlib/math/base/assert/is-negative-zero/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-negative-zero/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-negative-zero/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-negative-zero/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-negative-zero/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-negative-zero/test/test.native.js
  lib/node_modules/@stdlib/math/base/assert/is-negative-zerof/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-negative-zerof/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-negative-zerof/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-negative-zerof/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-negative-zerof/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-negative-zerof/test/test.native.js
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-finite/test/test.native.js
Labels: Math, Benchmarks

#6682 bench: update random value generation
  lib/node_modules/@stdlib/math/base/assert/is-composite/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-composite/test/test.native.js
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-negative-finite/test/test.native.js
  lib/node_modules/@stdlib/math/base/assert/is-negative-integer/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-negative-integer/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-negative-integer/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-negative-integer/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-negative-integer/test/test.native.js
Labels: Math, Benchmarks

#6677 chore: fix C lint errors (issue #6629)
  lib/node_modules/@stdlib/math/strided/special/sabs2/benchmark/c/benchmark.length.c
Labels: Math

#6692 bench: update random value generation
  lib/node_modules/@stdlib/math/base/assert/is-safe-integer/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-safe-integer/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-safe-integer/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-safe-integer/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-safe-integer/test/test.native.js
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/test/test.js
  lib/node_modules/@stdlib/math/base/assert/uint32-is-pow2/test/test.native.js
Labels: Math, Ready To Merge

#6691 bench: update random value generation
  lib/node_modules/@stdlib/math/base/assert/is-positive-zerof/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-positive-zerof/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-positive-zerof/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-positive-zerof/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-positive-zerof/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-positive-zerof/test/test.native.js
  lib/node_modules/@stdlib/math/base/assert/is-probability/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-probability/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/benchmark/benchmark.native.js
Labels: Math, Ready To Merge

#6690 bench: update random value generation
  lib/node_modules/@stdlib/math/base/assert/is-positive-finite/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-positive-finite/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-positive-finite/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-positive-finite/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-positive-finite/test/test.native.js
  lib/node_modules/@stdlib/math/base/assert/is-positive-integer/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-positive-integer/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-positive-integer/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-positive-integer/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-positive-integer/test/test.native.js
  lib/node_modules/@stdlib/math/base/assert/is-positive-zero/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-positive-zero/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-positive-zero/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-positive-zero/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-positive-zero/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-positive-zero/test/test.native.js
Labels: Math, Ready To Merge

#6687 bench: update random value generation
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-integer/test/test.native.js
  lib/node_modules/@stdlib/math/base/assert/is-odd/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-odd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-odd/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-oddf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-oddf/benchmark/benchmark.native.js
Labels: Math, Ready To Merge

#6686 bench: update random value generation
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integer/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integer/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integer/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integer/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integer/test/test.native.js
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-nonnegative-integerf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-nonpositive-finite/test/test.native.js
Labels: Math, Ready To Merge

#6689 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/assert/is-probability/README.md
  lib/node_modules/@stdlib/math/base/assert/is-probability/examples/index.js
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/README.md
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/examples/index.js
Labels: Math, Ready To Merge

#4368 feat: add C implementation for `stats/base/dists/frechet/mean`
  lib/node_modules/@stdlib/stats/base/dists/frechet/mean/README.md
  lib/node_modules/@stdlib/stats/base/dists/frechet/mean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/mean/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/frechet/mean/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/mean/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/frechet/mean/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/frechet/mean/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/mean/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/frechet/mean/include/stdlib/stats/base/dists/frechet/mean.h
  lib/node_modules/@stdlib/stats/base/dists/frechet/mean/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/mean/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/frechet/mean/package.json
  lib/node_modules/@stdlib/stats/base/dists/frechet/mean/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/frechet/mean/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/mean/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/mean/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4548 feat: add C implementation for `stats/base/dists/lognormal/kurtosis`
  lib/node_modules/@stdlib/stats/base/dists/lognormal/kurtosis/README.md
  lib/node_modules/@stdlib/stats/base/dists/lognormal/kurtosis/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/kurtosis/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/kurtosis/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/kurtosis/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/lognormal/kurtosis/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/kurtosis/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/kurtosis/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/lognormal/kurtosis/include/stdlib/stats/base/dists/lognormal/kurtosis.h
  lib/node_modules/@stdlib/stats/base/dists/lognormal/kurtosis/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/kurtosis/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/lognormal/kurtosis/package.json
  lib/node_modules/@stdlib/stats/base/dists/lognormal/kurtosis/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/kurtosis/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/kurtosis/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/kurtosis/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#6223 feat: add `math/base/special/lucasf`
  lib/node_modules/@stdlib/math/base/special/lucasf/README.md
  lib/node_modules/@stdlib/math/base/special/lucasf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/lucasf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/lucasf/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/lucasf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/lucasf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/lucasf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/lucasf/benchmark/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/lucasf/benchmark/julia/benchmark.jl
  lib/node_modules/@stdlib/math/base/special/lucasf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/lucasf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/lucasf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/lucasf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/lucasf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/lucasf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/lucasf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/lucasf/include.gypi
  lib/node_modules/@stdlib/math/base/special/lucasf/include/stdlib/math/base/special/lucasf.h
  lib/node_modules/@stdlib/math/base/special/lucasf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/lucasf/lib/lucas.json
  lib/node_modules/@stdlib/math/base/special/lucasf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/lucasf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/lucasf/manifest.json
  lib/node_modules/@stdlib/math/base/special/lucasf/package.json
  lib/node_modules/@stdlib/math/base/special/lucasf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/lucasf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/lucasf/src/main.c
  lib/node_modules/@stdlib/math/base/special/lucasf/test/test.js
  lib/node_modules/@stdlib/math/base/special/lucasf/test/test.native.js
Labels: Math, JavaScript, C, Ready To Merge

#6701 feat: add `stats/array/min`
  lib/node_modules/@stdlib/stats/array/min/README.md
  lib/node_modules/@stdlib/stats/array/min/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/min/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/min/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/min/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/min/examples/index.js
  lib/node_modules/@stdlib/stats/array/min/lib/index.js
  lib/node_modules/@stdlib/stats/array/min/lib/main.js
  lib/node_modules/@stdlib/stats/array/min/package.json
  lib/node_modules/@stdlib/stats/array/min/test/test.js
Labels: Feature, Statistics

#6081 build: add script and workflow to label potentially duplicate PRs
  .github/workflows/check_duplicate_prs.yml
  .github/workflows/scripts/check_duplicate_prs
Labels: Tools, CI

#6688 test: completes code coverage in `blas/base/snrm2`
  lib/node_modules/@stdlib/blas/base/snrm2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/snrm2/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/snrm2/test/test.snrm2.js
  lib/node_modules/@stdlib/blas/base/snrm2/test/test.snrm2.native.js
Labels: Tests, BLAS

#6708 test: add test cases for `blas/base/dtrsv`
  lib/node_modules/@stdlib/blas/base/dtrsv/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/dtrsv/test/test.ndarray.js
Labels: Tests, BLAS

#6693 chore: fix C lint errors (issue #6655)
  lib/node_modules/@stdlib/stats/base/smeanpn/benchmark/c/benchmark.length.c
Labels: Statistics
