Repository stdlib-js/stdlib, pull requests merged in 2025-10, with the labels that each got.

#8176 chore: fix JavaScript lint errors (issue #8169)
  lib/node_modules/@stdlib/assert/is-nonpositive-number/benchmark/benchmark.js
  lib/node_modules/@stdlib/utils/async/reduce-right/lib/limit.js
Labels: Ready To Merge, Good First PR

#8178 chore: fix EditorConfig lint errors (issue #8168)
  lib/node_modules/@stdlib/stats/base/dists/cosine/mode/src/main.c
Labels: Statistics, Ready To Merge, First-time Contributor, Good First PR

#8186 feat: add `ndarray/reverse-dimension`
  lib/node_modules/@stdlib/ndarray/reverse-dimension/README.md
  lib/node_modules/@stdlib/ndarray/reverse-dimension/benchmark/benchmark.js
  lib/node_modules/@stdlib/ndarray/reverse-dimension/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/reverse-dimension/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/reverse-dimension/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/reverse-dimension/examples/index.js
  lib/node_modules/@stdlib/ndarray/reverse-dimension/lib/index.js
  lib/node_modules/@stdlib/ndarray/reverse-dimension/lib/main.js
  lib/node_modules/@stdlib/ndarray/reverse-dimension/package.json
  lib/node_modules/@stdlib/ndarray/reverse-dimension/test/test.js
Labels: Feature

#8181 chore: fix C lint errors (issue #8159)
  lib/node_modules/@stdlib/ndarray/base/function-object/examples/c/example.c
Labels: First-time Contributor

#8184 chore: fix lint errors (#8183)
  lib/node_modules/@stdlib/stats/ztest/README.md
  lib/node_modules/@stdlib/stats/ztest/examples/index.js
  lib/node_modules/@stdlib/utils/nonenumerable-properties-in/lib/main.js
Labels: Good First PR

#8199 chore: fix C lint errors (issue #8196)
  lib/node_modules/@stdlib/ndarray/base/minmax-view-buffer-index/benchmark/c/benchmark.c
Labels: Needs Review

#8202 chore: fix C lint errors (issue #8201)
  lib/node_modules/@stdlib/math/strided/special/ddeg2rad/benchmark/c/benchmark.length.c
Labels: Math

#8210 chore: fix EditorConfig lint errors (issue #8194)
  lib/node_modules/@stdlib/plot/ctor/lib/props/x-axis-orient/orientations.json
Labels: Ready To Merge, Good First PR
