Repository stdlib-js/stdlib, pull requests merged in 2025-09, with the labels that each got.

#7999 chore: address EditorConfig lint errors
  lib/node_modules/@stdlib/plot/components/svg/axis/lib/defaults.json
Labels: First-time Contributor, Good First PR

#5751 build: ensure only errors are displayed in issue via log file
  .github/workflows/lint_random_files.yml
  .github/workflows/scripts/lint_javascript_files_error_log
  tools/make/lib/lint/javascript/eslint.mk
Labels: Tools, CI

#8012 chore: add structured package data for math/base/special/fibonacci
  lib/node_modules/@stdlib/math/base/special/fibonacci/package.json
Labels: Math

#8015 chore: fix C lint errors (issue #8014)
  lib/node_modules/@stdlib/math/strided/special/sinv/benchmark/c/benchmark.length.c
Labels: Math

#8018 chore: resolve JavaScript lint errors #8013
  lib/node_modules/@stdlib/assert/deep-equal/benchmark/benchmark.js
  lib/node_modules/@stdlib/fs/resolve-parent-path-by/lib/async.js
  lib/node_modules/@stdlib/stats/ranks/README.md
  lib/node_modules/@stdlib/stats/ranks/examples/index.js
Labels: First-time Contributor, Good First PR

#7853 feat: add `ndarray/base/broadcast-array-except-dimensions`
  lib/node_modules/@stdlib/ndarray/base/broadcast-array-except-dimensions/README.md
  lib/node_modules/@stdlib/ndarray/base/broadcast-array-except-dimensions/benchmark/benchmark.js
  lib/node_modules/@stdlib/ndarray/base/broadcast-array-except-dimensions/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/base/broadcast-array-except-dimensions/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/base/broadcast-array-except-dimensions/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/base/broadcast-array-except-dimensions/examples/index.js
  lib/node_modules/@stdlib/ndarray/base/broadcast-array-except-dimensions/lib/index.js
  lib/node_modules/@stdlib/ndarray/base/broadcast-array-except-dimensions/lib/main.js
  lib/node_modules/@stdlib/ndarray/base/broadcast-array-except-dimensions/package.json
  lib/node_modules/@stdlib/ndarray/base/broadcast-array-except-dimensions/test/test.js
Labels: Feature, GSoC, gsoc: 2025

#8025 chore: add structured package data for `math/base/special/factorialln`
  lib/node_modules/@stdlib/math/base/special/factorialln/package.json
Labels: Math

#8026 chore: add structured data package for `math/base/special/acsc`
  lib/node_modules/@stdlib/math/base/special/acsc/package.json
Labels: Math

#8022 chore: add structured package data for packages in `math/base/special`
  lib/node_modules/@stdlib/math/base/special/acscf/package.json
  lib/node_modules/@stdlib/math/base/special/acsch/package.json
  lib/node_modules/@stdlib/math/base/special/asin/package.json
  lib/node_modules/@stdlib/math/base/special/asinf/package.json
Labels: Math

#8029 refactor!: modify C implemenation to accept `double` instead of `int32` in `math/base/special/factorial2`
  lib/node_modules/@stdlib/math/base/special/factorial2/README.md
  lib/node_modules/@stdlib/math/base/special/factorial2/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/factorial2/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/factorial2/include/stdlib/math/base/special/factorial2.h
  lib/node_modules/@stdlib/math/base/special/factorial2/lib/main.js
  lib/node_modules/@stdlib/math/base/special/factorial2/manifest.json
  lib/node_modules/@stdlib/math/base/special/factorial2/src/addon.c
  lib/node_modules/@stdlib/math/base/special/factorial2/src/main.c
Labels: release: Major, Math

#8030 refactor!: modify C implementation to accept `float` instead of `int32` in `math/base/special/factorial2f`
  lib/node_modules/@stdlib/math/base/special/factorial2f/README.md
  lib/node_modules/@stdlib/math/base/special/factorial2f/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/factorial2f/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/factorial2f/include/stdlib/math/base/special/factorial2f.h
  lib/node_modules/@stdlib/math/base/special/factorial2f/lib/main.js
  lib/node_modules/@stdlib/math/base/special/factorial2f/manifest.json
  lib/node_modules/@stdlib/math/base/special/factorial2f/src/addon.c
  lib/node_modules/@stdlib/math/base/special/factorial2f/src/main.c
Labels: release: Major, Math

#5214 feat: add `complex/float32/base/mul-add`
  lib/node_modules/@stdlib/complex/float32/base/mul-add/README.md
  lib/node_modules/@stdlib/complex/float32/base/mul-add/benchmark/benchmark.assign.js
  lib/node_modules/@stdlib/complex/float32/base/mul-add/benchmark/benchmark.js
  lib/node_modules/@stdlib/complex/float32/base/mul-add/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/complex/float32/base/mul-add/benchmark/benchmark.strided.js
  lib/node_modules/@stdlib/complex/float32/base/mul-add/benchmark/c/Makefile
  lib/node_modules/@stdlib/complex/float32/base/mul-add/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/complex/float32/base/mul-add/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/complex/float32/base/mul-add/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/complex/float32/base/mul-add/benchmark/julia/REQUIRE
  lib/node_modules/@stdlib/complex/float32/base/mul-add/benchmark/julia/benchmark.jl
  lib/node_modules/@stdlib/complex/float32/base/mul-add/binding.gyp
  lib/node_modules/@stdlib/complex/float32/base/mul-add/docs/repl.txt
  lib/node_modules/@stdlib/complex/float32/base/mul-add/docs/types/index.d.ts
  lib/node_modules/@stdlib/complex/float32/base/mul-add/docs/types/test.ts
  lib/node_modules/@stdlib/complex/float32/base/mul-add/examples/c/Makefile
  lib/node_modules/@stdlib/complex/float32/base/mul-add/examples/c/example.c
  lib/node_modules/@stdlib/complex/float32/base/mul-add/examples/index.js
  lib/node_modules/@stdlib/complex/float32/base/mul-add/include.gypi
  lib/node_modules/@stdlib/complex/float32/base/mul-add/include/stdlib/complex/float32/base/mul_add.h
  lib/node_modules/@stdlib/complex/float32/base/mul-add/lib/assign.js
  lib/node_modules/@stdlib/complex/float32/base/mul-add/lib/index.js
  lib/node_modules/@stdlib/complex/float32/base/mul-add/lib/main.js
  lib/node_modules/@stdlib/complex/float32/base/mul-add/lib/native.js
  lib/node_modules/@stdlib/complex/float32/base/mul-add/lib/strided.js
  lib/node_modules/@stdlib/complex/float32/base/mul-add/manifest.json
  lib/node_modules/@stdlib/complex/float32/base/mul-add/package.json
  lib/node_modules/@stdlib/complex/float32/base/mul-add/src/Makefile
  lib/node_modules/@stdlib/complex/float32/base/mul-add/src/addon.c
  lib/node_modules/@stdlib/complex/float32/base/mul-add/src/main.c
  lib/node_modules/@stdlib/complex/float32/base/mul-add/test/test.assign.js
  lib/node_modules/@stdlib/complex/float32/base/mul-add/test/test.js
  lib/node_modules/@stdlib/complex/float32/base/mul-add/test/test.main.js
  lib/node_modules/@stdlib/complex/float32/base/mul-add/test/test.native.js
  lib/node_modules/@stdlib/complex/float32/base/mul-add/test/test.strided.js
Labels: Feature

#8032 refactor!: modify C implementation to accept `float` instead of `int32` in `math/base/special/tribonaccif`
  lib/node_modules/@stdlib/math/base/special/tribonaccif/README.md
  lib/node_modules/@stdlib/math/base/special/tribonaccif/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tribonaccif/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/tribonaccif/include/stdlib/math/base/special/tribonaccif.h
  lib/node_modules/@stdlib/math/base/special/tribonaccif/lib/main.js
  lib/node_modules/@stdlib/math/base/special/tribonaccif/manifest.json
  lib/node_modules/@stdlib/math/base/special/tribonaccif/src/addon.c
  lib/node_modules/@stdlib/math/base/special/tribonaccif/src/main.c
  lib/node_modules/@stdlib/math/base/special/tribonaccif/test/test.native.js
Labels: release: Major, Math

#8031 refactor!: modify C implementation to accept `double` instead of `int32` in `math/base/special/tribonacci`
  lib/node_modules/@stdlib/math/base/special/tribonacci/README.md
  lib/node_modules/@stdlib/math/base/special/tribonacci/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tribonacci/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/tribonacci/include/stdlib/math/base/special/tribonacci.h
  lib/node_modules/@stdlib/math/base/special/tribonacci/lib/main.js
  lib/node_modules/@stdlib/math/base/special/tribonacci/manifest.json
  lib/node_modules/@stdlib/math/base/special/tribonacci/src/addon.c
  lib/node_modules/@stdlib/math/base/special/tribonacci/src/main.c
  lib/node_modules/@stdlib/math/base/special/tribonacci/test/test.native.js
Labels: release: Major, Math

#8033 chore: add structured package data for packages in `math/base/special`
  lib/node_modules/@stdlib/math/base/special/acoversin/package.json
  lib/node_modules/@stdlib/math/base/special/acoversinf/package.json
  lib/node_modules/@stdlib/math/base/special/acscd/package.json
  lib/node_modules/@stdlib/math/base/special/acscdf/package.json
  lib/node_modules/@stdlib/math/base/special/ahavercos/package.json
  lib/node_modules/@stdlib/math/base/special/ahavercosf/package.json
  lib/node_modules/@stdlib/math/base/special/ahaversin/package.json
  lib/node_modules/@stdlib/math/base/special/ahaversinf/package.json
Labels: Math

#8034 feat: add `stats/base/ndarray/maxsorted`
  lib/node_modules/@stdlib/stats/base/ndarray/maxsorted/README.md
  lib/node_modules/@stdlib/stats/base/ndarray/maxsorted/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/ndarray/maxsorted/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/ndarray/maxsorted/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/ndarray/maxsorted/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/ndarray/maxsorted/examples/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/maxsorted/lib/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/maxsorted/lib/main.js
  lib/node_modules/@stdlib/stats/base/ndarray/maxsorted/package.json
  lib/node_modules/@stdlib/stats/base/ndarray/maxsorted/test/test.js
Labels: Feature, Statistics

#8036 feat: add `stats/base/ndarray/smaxsorted`
  lib/node_modules/@stdlib/stats/base/ndarray/smaxsorted/README.md
  lib/node_modules/@stdlib/stats/base/ndarray/smaxsorted/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/ndarray/smaxsorted/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/ndarray/smaxsorted/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/ndarray/smaxsorted/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/ndarray/smaxsorted/examples/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/smaxsorted/lib/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/smaxsorted/lib/main.js
  lib/node_modules/@stdlib/stats/base/ndarray/smaxsorted/package.json
  lib/node_modules/@stdlib/stats/base/ndarray/smaxsorted/test/test.js
Labels: Feature, Statistics

#8009 feat: implement `toLocaleString` method in `dstructs/named-typed-tuple`
  lib/node_modules/@stdlib/dstructs/named-typed-tuple/docs/repl.txt
  lib/node_modules/@stdlib/dstructs/named-typed-tuple/docs/types/index.d.ts
  lib/node_modules/@stdlib/dstructs/named-typed-tuple/lib/main.js
  lib/node_modules/@stdlib/dstructs/named-typed-tuple/test/test.to_locale_string.js
Labels: Good First PR, Potential Duplicate

#7904 feat: add `ndarray/base/binary-input-casting-dtype`
  lib/node_modules/@stdlib/ndarray/base/binary-input-casting-dtype/README.md
  lib/node_modules/@stdlib/ndarray/base/binary-input-casting-dtype/benchmark/benchmark.js
  lib/node_modules/@stdlib/ndarray/base/binary-input-casting-dtype/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/base/binary-input-casting-dtype/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/base/binary-input-casting-dtype/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/base/binary-input-casting-dtype/examples/index.js
  lib/node_modules/@stdlib/ndarray/base/binary-input-casting-dtype/lib/index.js
  lib/node_modules/@stdlib/ndarray/base/binary-input-casting-dtype/lib/main.js
  lib/node_modules/@stdlib/ndarray/base/binary-input-casting-dtype/package.json
  lib/node_modules/@stdlib/ndarray/base/binary-input-casting-dtype/test/test.js
Labels: Feature, GSoC, gsoc: 2025

#8046 chore: add structured package data for packages in `math/base/special`
  lib/node_modules/@stdlib/math/base/special/besselj0/package.json
  lib/node_modules/@stdlib/math/base/special/besselj1/package.json
  lib/node_modules/@stdlib/math/base/special/bessely0/package.json
  lib/node_modules/@stdlib/math/base/special/bessely1/package.json
  lib/node_modules/@stdlib/math/base/special/binet/package.json
  lib/node_modules/@stdlib/math/base/special/ceil2/package.json
  lib/node_modules/@stdlib/math/base/special/ceilf/package.json
Labels: Math

#7821 feat: add `ndarray/base/nullary-strided1d-dispatch`
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d-dispatch/README.md
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d-dispatch/benchmark/benchmark.assign.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d-dispatch/benchmark/benchmark.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d-dispatch/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d-dispatch/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d-dispatch/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d-dispatch/examples/index.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d-dispatch/lib/defaults.json
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d-dispatch/lib/index.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d-dispatch/lib/index_of_types.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d-dispatch/lib/main.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d-dispatch/lib/validate.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d-dispatch/package.json
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d-dispatch/test/test.js
Labels: Feature, GSoC, gsoc: 2025

#8049 test: add tests for `toJSON` method in `dstructs/named-typed-tuple`
  lib/node_modules/@stdlib/dstructs/named-typed-tuple/test/test.to_json.js
Labels: Tests

#8052 chore: add structured package data for packages in `math/base/special`
  lib/node_modules/@stdlib/math/base/special/cosh/package.json
  lib/node_modules/@stdlib/math/base/special/cosm1/package.json
  lib/node_modules/@stdlib/math/base/special/cospi/package.json
  lib/node_modules/@stdlib/math/base/special/cot/package.json
  lib/node_modules/@stdlib/math/base/special/cotd/package.json
  lib/node_modules/@stdlib/math/base/special/cotdf/package.json
  lib/node_modules/@stdlib/math/base/special/cotf/package.json
  lib/node_modules/@stdlib/math/base/special/coth/package.json
  lib/node_modules/@stdlib/math/base/special/covercos/package.json
  lib/node_modules/@stdlib/math/base/special/coversin/package.json
Labels: Math

#8053 chore: add structured package data for packages in `math/base/special`
  lib/node_modules/@stdlib/math/base/special/csc/package.json
  lib/node_modules/@stdlib/math/base/special/cscd/package.json
  lib/node_modules/@stdlib/math/base/special/cscdf/package.json
  lib/node_modules/@stdlib/math/base/special/cscf/package.json
  lib/node_modules/@stdlib/math/base/special/csch/package.json
  lib/node_modules/@stdlib/math/base/special/deg2rad/package.json
  lib/node_modules/@stdlib/math/base/special/deg2radf/package.json
  lib/node_modules/@stdlib/math/base/special/digamma/package.json
  lib/node_modules/@stdlib/math/base/special/dirac-delta/package.json
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/package.json
Labels: Math

#8054 chore: add structured package data for packages in `math/base/special`
  lib/node_modules/@stdlib/math/base/special/dirichlet-eta/package.json
  lib/node_modules/@stdlib/math/base/special/ellipe/package.json
  lib/node_modules/@stdlib/math/base/special/ellipk/package.json
  lib/node_modules/@stdlib/math/base/special/erf/package.json
  lib/node_modules/@stdlib/math/base/special/erfc/package.json
  lib/node_modules/@stdlib/math/base/special/erfcinv/package.json
  lib/node_modules/@stdlib/math/base/special/erfcx/package.json
  lib/node_modules/@stdlib/math/base/special/erfinv/package.json
  lib/node_modules/@stdlib/math/base/special/exp10/package.json
  lib/node_modules/@stdlib/math/base/special/exp2/package.json
Labels: Math

#8067 chore: address commit comments for commit
  lib/node_modules/@stdlib/stats/base/dists/lognormal/kurtosis/README.md
  lib/node_modules/@stdlib/stats/base/dists/lognormal/kurtosis/examples/c/example.c
Labels: Statistics, Good First PR

#8065 feat: add unary function database in `math/special/data`
  lib/node_modules/@stdlib/math/special/data/unary_function_database.json
  lib/node_modules/@stdlib/math/special/package.json
Labels: Math

#6807 feat: add `array/base/to-inserted-at`
  lib/node_modules/@stdlib/array/base/to-inserted-at/README.md
  lib/node_modules/@stdlib/array/base/to-inserted-at/benchmark/benchmark.assign.length.js
  lib/node_modules/@stdlib/array/base/to-inserted-at/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/array/base/to-inserted-at/docs/repl.txt
  lib/node_modules/@stdlib/array/base/to-inserted-at/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/to-inserted-at/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/to-inserted-at/examples/index.js
  lib/node_modules/@stdlib/array/base/to-inserted-at/lib/assign.js
  lib/node_modules/@stdlib/array/base/to-inserted-at/lib/index.js
  lib/node_modules/@stdlib/array/base/to-inserted-at/lib/main.js
  lib/node_modules/@stdlib/array/base/to-inserted-at/package.json
  lib/node_modules/@stdlib/array/base/to-inserted-at/test/test.assign.js
  lib/node_modules/@stdlib/array/base/to-inserted-at/test/test.js
  lib/node_modules/@stdlib/array/base/to-inserted-at/test/test.main.js
Labels: Feature

#8074 refactor: use explicit `float32` casting in `math/base/special/fast/absf`
  lib/node_modules/@stdlib/math/base/special/fast/absf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/fast/absf/test/test.js
  lib/node_modules/@stdlib/math/base/special/fast/absf/test/test.native.js
Labels: Math

#8071 chore: fix JavaScript lint errors (issue #8068)
  lib/node_modules/@stdlib/_tools/pkgs/entry-points/lib/resolve_files.js
Labels: Tools, Good First PR

#8073 chore: fix JavaScript lint errors (issue #8050)
  lib/node_modules/@stdlib/assert/has-bigint-support/lib/main.js
  lib/node_modules/@stdlib/assert/is-enumerable-property/lib/native.js
Labels: Good First PR

#8075 chore: fix JavaScript lint errors (issue #8043)
  lib/node_modules/@stdlib/assert/is-blank-string/lib/main.js
  lib/node_modules/@stdlib/cli/ctor/lib/index.js
  lib/node_modules/@stdlib/utils/zip/lib/main.js
Labels: Good First PR

#8081 chore: address JavaScript lint errors
  lib/node_modules/@stdlib/plot/components/svg/clip-path/lib/main.js
Labels: First-time Contributor, Good First PR

#8078 feat: add `ndarray/flatten-by`
  lib/node_modules/@stdlib/ndarray/flatten-by/README.md
  lib/node_modules/@stdlib/ndarray/flatten-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/ndarray/flatten-by/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/flatten-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/flatten-by/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/flatten-by/examples/index.js
  lib/node_modules/@stdlib/ndarray/flatten-by/lib/index.js
  lib/node_modules/@stdlib/ndarray/flatten-by/lib/main.js
  lib/node_modules/@stdlib/ndarray/flatten-by/package.json
  lib/node_modules/@stdlib/ndarray/flatten-by/test/test.js
Labels: Feature

#8090 chore: fix JavaScript lint errors (issue #8088)
  lib/node_modules/@stdlib/_tools/scripts/publish_packages.js
  lib/node_modules/@stdlib/assert/is-integer-array/examples/index.js
Labels: First-time Contributor, Good First PR

#8091 feat: add `dtype` option support in `ndarray/flatten`
  lib/node_modules/@stdlib/ndarray/flatten/README.md
  lib/node_modules/@stdlib/ndarray/flatten/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/flatten/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/flatten/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/flatten/lib/main.js
  lib/node_modules/@stdlib/ndarray/flatten/test/test.js
Labels: Feature

#8093 chore: address EditorConfig lint errors
  lib/node_modules/@stdlib/math/base/special/beta/manifest.json
Labels: Math, Good First PR

#8057 test: add tests for `slice` method in `dstructs/named-typed-tuple`
  lib/node_modules/@stdlib/dstructs/named-typed-tuple/test/test.slice.js
Labels: Tests

#8107 chore: fix EditorConfig lint errors (issue #8099)
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/fixtures/python/medium_positive_1.json
  lib/node_modules/@stdlib/plot/components/svg/background/lib/defaults.json
Labels: Good First PR

#8113 feat: add `ndarray/any`
  lib/node_modules/@stdlib/ndarray/any/README.md
  lib/node_modules/@stdlib/ndarray/any/benchmark/benchmark.1d.js
  lib/node_modules/@stdlib/ndarray/any/benchmark/benchmark.2d.js
  lib/node_modules/@stdlib/ndarray/any/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/any/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/any/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/any/examples/index.js
  lib/node_modules/@stdlib/ndarray/any/lib/assign.js
  lib/node_modules/@stdlib/ndarray/any/lib/defaults.json
  lib/node_modules/@stdlib/ndarray/any/lib/index.js
  lib/node_modules/@stdlib/ndarray/any/lib/main.js
  lib/node_modules/@stdlib/ndarray/any/lib/validate.js
  lib/node_modules/@stdlib/ndarray/any/package.json
  lib/node_modules/@stdlib/ndarray/any/test/test.assign.js
  lib/node_modules/@stdlib/ndarray/any/test/test.js
  lib/node_modules/@stdlib/ndarray/any/test/test.main.js
Labels: Feature

#8124 test: add tests to `ndarray/every` for complete test coverage
  lib/node_modules/@stdlib/ndarray/every/test/test.assign.js
  lib/node_modules/@stdlib/ndarray/every/test/test.main.js
Labels: Tests

#8111 refactor: move `onDrain` function to outer scope
  lib/node_modules/@stdlib/repl/presentation/lib/commands/first.js
Labels: REPL, Ready To Merge, Good First PR, Potential Duplicate

#8119 chore: fix JavaScript lint errors (issue #8114)
  lib/node_modules/@stdlib/_tools/remark/plugins/remark-run-javascript-examples/lib/main.js
  lib/node_modules/@stdlib/assert/is-complex-like/examples/index.js
  lib/node_modules/@stdlib/plot/ctor/lib/view/electron/js/debug.js
Labels: Good First PR

#8118 feat: add `ndarray/base/shift`
  lib/node_modules/@stdlib/ndarray/base/shift/README.md
  lib/node_modules/@stdlib/ndarray/base/shift/benchmark/benchmark.js
  lib/node_modules/@stdlib/ndarray/base/shift/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/base/shift/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/base/shift/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/base/shift/examples/index.js
  lib/node_modules/@stdlib/ndarray/base/shift/lib/index.js
  lib/node_modules/@stdlib/ndarray/base/shift/lib/main.js
  lib/node_modules/@stdlib/ndarray/base/shift/package.json
  lib/node_modules/@stdlib/ndarray/base/shift/test/test.js
Labels: Feature

#6027 feat: add `stats/incr/nanhmean`
  lib/node_modules/@stdlib/stats/incr/nanhmean/README.md
  lib/node_modules/@stdlib/stats/incr/nanhmean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/incr/nanhmean/docs/img/equation_harmonic_mean.svg
  lib/node_modules/@stdlib/stats/incr/nanhmean/docs/repl.txt
  lib/node_modules/@stdlib/stats/incr/nanhmean/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/incr/nanhmean/docs/types/test.ts
  lib/node_modules/@stdlib/stats/incr/nanhmean/examples/index.js
  lib/node_modules/@stdlib/stats/incr/nanhmean/lib/index.js
  lib/node_modules/@stdlib/stats/incr/nanhmean/lib/main.js
  lib/node_modules/@stdlib/stats/incr/nanhmean/package.json
  lib/node_modules/@stdlib/stats/incr/nanhmean/test/test.js
Labels: Statistics, Ready To Merge, Good First PR

#8152 chore: fix EditorConfig lint errors (issue #8120)
  lib/node_modules/@stdlib/math/base/special/sec/test/fixtures/julia/small_positive.json
Labels: Math, Good First PR

#8147 feat: add `ndarray/shift`
  lib/node_modules/@stdlib/ndarray/shift/README.md
  lib/node_modules/@stdlib/ndarray/shift/benchmark/benchmark.js
  lib/node_modules/@stdlib/ndarray/shift/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/shift/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/shift/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/shift/examples/index.js
  lib/node_modules/@stdlib/ndarray/shift/lib/index.js
  lib/node_modules/@stdlib/ndarray/shift/lib/main.js
  lib/node_modules/@stdlib/ndarray/shift/package.json
  lib/node_modules/@stdlib/ndarray/shift/test/test.js
Labels: Feature

#8148 feat: add `ndarray/reverse`
  lib/node_modules/@stdlib/ndarray/reverse/README.md
  lib/node_modules/@stdlib/ndarray/reverse/benchmark/benchmark.js
  lib/node_modules/@stdlib/ndarray/reverse/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/reverse/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/reverse/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/reverse/examples/index.js
  lib/node_modules/@stdlib/ndarray/reverse/lib/index.js
  lib/node_modules/@stdlib/ndarray/reverse/lib/main.js
  lib/node_modules/@stdlib/ndarray/reverse/package.json
  lib/node_modules/@stdlib/ndarray/reverse/test/test.js
Labels: Feature
