Repository stdlib-js/stdlib, pull requests merged in 2025-08, with the labels that each got.

#7778 chore: fix EditorConfig lint errors (issue #7774)
  lib/node_modules/@stdlib/strided/napi/binary/manifest.json
Labels: Good First PR

#7697 feat: add `blas/base/ggemv`
  lib/node_modules/@stdlib/blas/base/ggemv/README.md
  lib/node_modules/@stdlib/blas/base/ggemv/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/ggemv/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/ggemv/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/ggemv/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/ggemv/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/ggemv/examples/index.js
  lib/node_modules/@stdlib/blas/base/ggemv/lib/accessors.js
  lib/node_modules/@stdlib/blas/base/ggemv/lib/base.js
  lib/node_modules/@stdlib/blas/base/ggemv/lib/index.js
  lib/node_modules/@stdlib/blas/base/ggemv/lib/main.js
  lib/node_modules/@stdlib/blas/base/ggemv/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/ggemv/package.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/column_major_alpha_zero.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/column_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/column_major_nt.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/column_major_oa.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/column_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/column_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/column_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/column_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/column_major_t.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/column_major_x_zeros.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/column_major_x_zeros_beta_one.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/column_major_xnyn.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/column_major_xnyp.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/column_major_xpyn.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/column_major_xpyp.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/row_major_alpha_zero.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/row_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/row_major_nt.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/row_major_oa.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/row_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/row_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/row_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/row_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/row_major_t.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/row_major_x_zeros.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/row_major_x_zeros_beta_one.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/row_major_xnyn.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/row_major_xnyp.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/row_major_xpyn.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/fixtures/row_major_xpyp.json
  lib/node_modules/@stdlib/blas/base/ggemv/test/test.js
  lib/node_modules/@stdlib/blas/base/ggemv/test/test.main.js
  lib/node_modules/@stdlib/blas/base/ggemv/test/test.ndarray.js
Labels: Feature, BLAS, GSoC, gsoc: 2025

#7790 chore: fix EditorConfig lint errors (issue #7781)
  lib/node_modules/@stdlib/math/base/tools/normhermitepolyf/test/fixtures/python/medium_positive_2.json
Labels: Math, Good First PR

#7789 chore: fix JavaScript lint errors (issue #7782)
  lib/node_modules/@stdlib/_tools/pkgs/deps/lib/resolve.sync.js
Labels: Tools, First-time Contributor, Good First PR

#7727 feat: add `blas/ext/base/gfind-index`
  lib/node_modules/@stdlib/blas/ext/base/gfind-index/README.md
  lib/node_modules/@stdlib/blas/ext/base/gfind-index/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/gfind-index/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gfind-index/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/gfind-index/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/gfind-index/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/gfind-index/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/gfind-index/lib/accessors.js
  lib/node_modules/@stdlib/blas/ext/base/gfind-index/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/gfind-index/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/gfind-index/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gfind-index/package.json
  lib/node_modules/@stdlib/blas/ext/base/gfind-index/test/test.js
  lib/node_modules/@stdlib/blas/ext/base/gfind-index/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/gfind-index/test/test.ndarray.js
Labels: Feature, BLAS, GSoC, gsoc: 2025

#7791 feat: add `stats/min`
  lib/node_modules/@stdlib/stats/min/README.md
  lib/node_modules/@stdlib/stats/min/benchmark/benchmark.assign.js
  lib/node_modules/@stdlib/stats/min/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/min/docs/repl.txt
  lib/node_modules/@stdlib/stats/min/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/min/docs/types/test.ts
  lib/node_modules/@stdlib/stats/min/examples/index.js
  lib/node_modules/@stdlib/stats/min/lib/index.js
  lib/node_modules/@stdlib/stats/min/lib/main.js
  lib/node_modules/@stdlib/stats/min/package.json
  lib/node_modules/@stdlib/stats/min/test/test.assign.js
  lib/node_modules/@stdlib/stats/min/test/test.js
  lib/node_modules/@stdlib/stats/min/test/test.main.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7798 feat: add `stats/range`
  lib/node_modules/@stdlib/stats/range/README.md
  lib/node_modules/@stdlib/stats/range/benchmark/benchmark.assign.js
  lib/node_modules/@stdlib/stats/range/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/range/docs/repl.txt
  lib/node_modules/@stdlib/stats/range/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/range/docs/types/test.ts
  lib/node_modules/@stdlib/stats/range/examples/index.js
  lib/node_modules/@stdlib/stats/range/lib/index.js
  lib/node_modules/@stdlib/stats/range/lib/main.js
  lib/node_modules/@stdlib/stats/range/package.json
  lib/node_modules/@stdlib/stats/range/test/test.assign.js
  lib/node_modules/@stdlib/stats/range/test/test.js
  lib/node_modules/@stdlib/stats/range/test/test.main.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7807 chore: fix EditorConfig lint errors (issue #7802)
  lib/node_modules/@stdlib/_tools/markdown/to-vdom/examples/fixtures/fixture.md
Labels: Tools, First-time Contributor, Good First PR

#7809 feat: add `math/base/special/cosdf`
  lib/node_modules/@stdlib/math/base/special/cosdf/README.md
  lib/node_modules/@stdlib/math/base/special/cosdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/cosdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/cosdf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/cosdf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cosdf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/cosdf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/cosdf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/cosdf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/cosdf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/cosdf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/cosdf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/cosdf/include.gypi
  lib/node_modules/@stdlib/math/base/special/cosdf/include/stdlib/math/base/special/cosdf.h
  lib/node_modules/@stdlib/math/base/special/cosdf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/cosdf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/cosdf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/cosdf/manifest.json
  lib/node_modules/@stdlib/math/base/special/cosdf/package.json
  lib/node_modules/@stdlib/math/base/special/cosdf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/cosdf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/cosdf/src/main.c
  lib/node_modules/@stdlib/math/base/special/cosdf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/cosdf/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/cosdf/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/cosdf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/cosdf/test/test.js
  lib/node_modules/@stdlib/math/base/special/cosdf/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#7805 feat: add `math/base/special/absgammalnf`
  lib/node_modules/@stdlib/math/base/special/absgammalnf/LICENSE
  lib/node_modules/@stdlib/math/base/special/absgammalnf/README.md
  lib/node_modules/@stdlib/math/base/special/absgammalnf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/absgammalnf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/absgammalnf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/absgammalnf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/absgammalnf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/absgammalnf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/absgammalnf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/absgammalnf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/absgammalnf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/absgammalnf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/absgammalnf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/absgammalnf/include.gypi
  lib/node_modules/@stdlib/math/base/special/absgammalnf/include/stdlib/math/base/special/absgammalnf.h
  lib/node_modules/@stdlib/math/base/special/absgammalnf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/absgammalnf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/absgammalnf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/absgammalnf/lib/polyval_a0.js
  lib/node_modules/@stdlib/math/base/special/absgammalnf/lib/polyval_a1.js
  lib/node_modules/@stdlib/math/base/special/absgammalnf/lib/polyval_r.js
  lib/node_modules/@stdlib/math/base/special/absgammalnf/lib/polyval_s.js
  lib/node_modules/@stdlib/math/base/special/absgammalnf/lib/polyval_t2.js
  lib/node_modules/@stdlib/math/base/special/absgammalnf/lib/polyval_u.js
  lib/node_modules/@stdlib/math/base/special/absgammalnf/lib/polyval_v.js
  lib/node_modules/@stdlib/math/base/special/absgammalnf/lib/polyval_w.js
  lib/node_modules/@stdlib/math/base/special/absgammalnf/manifest.json
  lib/node_modules/@stdlib/math/base/special/absgammalnf/package.json
  lib/node_modules/@stdlib/math/base/special/absgammalnf/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/absgammalnf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/absgammalnf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/absgammalnf/src/main.c
  lib/node_modules/@stdlib/math/base/special/absgammalnf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/absgammalnf/test/fixtures/julia/decimals.json
  lib/node_modules/@stdlib/math/base/special/absgammalnf/test/fixtures/julia/integers.json
  lib/node_modules/@stdlib/math/base/special/absgammalnf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/absgammalnf/test/test.js
  lib/node_modules/@stdlib/math/base/special/absgammalnf/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#7818 docs: update jsnation talk image link
  docs/talks.md
Labels: Ready To Merge

#7707 feat: add `math/base/special/cotf`
  lib/node_modules/@stdlib/math/base/special/cotf/README.md
  lib/node_modules/@stdlib/math/base/special/cotf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/cotf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/cotf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/cotf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cotf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/cotf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/cotf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/cotf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/cotf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/cotf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/cotf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/cotf/include.gypi
  lib/node_modules/@stdlib/math/base/special/cotf/include/stdlib/math/base/special/cotf.h
  lib/node_modules/@stdlib/math/base/special/cotf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/cotf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/cotf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/cotf/manifest.json
  lib/node_modules/@stdlib/math/base/special/cotf/package.json
  lib/node_modules/@stdlib/math/base/special/cotf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/cotf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/cotf/src/main.c
  lib/node_modules/@stdlib/math/base/special/cotf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/cotf/test/fixtures/julia/huge_negative.json
  lib/node_modules/@stdlib/math/base/special/cotf/test/fixtures/julia/huge_positive.json
  lib/node_modules/@stdlib/math/base/special/cotf/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/cotf/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/cotf/test/fixtures/julia/medium_negative.json
  lib/node_modules/@stdlib/math/base/special/cotf/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/cotf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/cotf/test/fixtures/julia/small_negative.json
  lib/node_modules/@stdlib/math/base/special/cotf/test/fixtures/julia/small_positive.json
  lib/node_modules/@stdlib/math/base/special/cotf/test/fixtures/julia/smaller.json
  lib/node_modules/@stdlib/math/base/special/cotf/test/fixtures/julia/subnormal.json
  lib/node_modules/@stdlib/math/base/special/cotf/test/fixtures/julia/tiny_negative.json
  lib/node_modules/@stdlib/math/base/special/cotf/test/fixtures/julia/tiny_positive.json
  lib/node_modules/@stdlib/math/base/special/cotf/test/fixtures/julia/very_large_negative.json
  lib/node_modules/@stdlib/math/base/special/cotf/test/fixtures/julia/very_large_positive.json
  lib/node_modules/@stdlib/math/base/special/cotf/test/test.js
  lib/node_modules/@stdlib/math/base/special/cotf/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#7817 feat: add `math/base/special/factoriallnf`
  lib/node_modules/@stdlib/math/base/special/factoriallnf/README.md
  lib/node_modules/@stdlib/math/base/special/factoriallnf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/factoriallnf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/factoriallnf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/factoriallnf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/factoriallnf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/factoriallnf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/factoriallnf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/factoriallnf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/factoriallnf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/factoriallnf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/factoriallnf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/factoriallnf/include.gypi
  lib/node_modules/@stdlib/math/base/special/factoriallnf/include/stdlib/math/base/special/factoriallnf.h
  lib/node_modules/@stdlib/math/base/special/factoriallnf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/factoriallnf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/factoriallnf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/factoriallnf/manifest.json
  lib/node_modules/@stdlib/math/base/special/factoriallnf/package.json
  lib/node_modules/@stdlib/math/base/special/factoriallnf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/factoriallnf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/factoriallnf/src/main.c
  lib/node_modules/@stdlib/math/base/special/factoriallnf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/factoriallnf/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/factoriallnf/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/factoriallnf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/factoriallnf/test/fixtures/julia/small_positive.json
  lib/node_modules/@stdlib/math/base/special/factoriallnf/test/fixtures/julia/very_large_positive.json
  lib/node_modules/@stdlib/math/base/special/factoriallnf/test/test.js
  lib/node_modules/@stdlib/math/base/special/factoriallnf/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#7832 feat: add `math/base/special/tandf`
  lib/node_modules/@stdlib/math/base/special/tandf/README.md
  lib/node_modules/@stdlib/math/base/special/tandf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/tandf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/tandf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/tandf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tandf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/tandf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/tandf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/tandf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/tandf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/tandf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/tandf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/tandf/include.gypi
  lib/node_modules/@stdlib/math/base/special/tandf/include/stdlib/math/base/special/tandf.h
  lib/node_modules/@stdlib/math/base/special/tandf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/tandf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/tandf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/tandf/manifest.json
  lib/node_modules/@stdlib/math/base/special/tandf/package.json
  lib/node_modules/@stdlib/math/base/special/tandf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/tandf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/tandf/src/main.c
  lib/node_modules/@stdlib/math/base/special/tandf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/tandf/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/tandf/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/tandf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/tandf/test/test.js
  lib/node_modules/@stdlib/math/base/special/tandf/test/test.native.js
Labels: Math, Ready To Merge

#7835 feat: add `stats/base/ndarray/maxabs`
  lib/node_modules/@stdlib/stats/base/ndarray/maxabs/README.md
  lib/node_modules/@stdlib/stats/base/ndarray/maxabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/ndarray/maxabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/ndarray/maxabs/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/ndarray/maxabs/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/ndarray/maxabs/examples/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/maxabs/lib/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/maxabs/lib/main.js
  lib/node_modules/@stdlib/stats/base/ndarray/maxabs/package.json
  lib/node_modules/@stdlib/stats/base/ndarray/maxabs/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7823 feat: add `stats/base/ndarray/smean`
  lib/node_modules/@stdlib/stats/base/ndarray/smean/README.md
  lib/node_modules/@stdlib/stats/base/ndarray/smean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/ndarray/smean/docs/img/equation_arithmetic_mean.svg
  lib/node_modules/@stdlib/stats/base/ndarray/smean/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/ndarray/smean/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/ndarray/smean/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/ndarray/smean/examples/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/smean/lib/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/smean/lib/main.js
  lib/node_modules/@stdlib/stats/base/ndarray/smean/package.json
  lib/node_modules/@stdlib/stats/base/ndarray/smean/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7837 feat: add `stats/maxabs`
  lib/node_modules/@stdlib/stats/maxabs/README.md
  lib/node_modules/@stdlib/stats/maxabs/benchmark/benchmark.assign.js
  lib/node_modules/@stdlib/stats/maxabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/maxabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/maxabs/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/maxabs/docs/types/test.ts
  lib/node_modules/@stdlib/stats/maxabs/examples/index.js
  lib/node_modules/@stdlib/stats/maxabs/lib/index.js
  lib/node_modules/@stdlib/stats/maxabs/lib/main.js
  lib/node_modules/@stdlib/stats/maxabs/package.json
  lib/node_modules/@stdlib/stats/maxabs/test/test.assign.js
  lib/node_modules/@stdlib/stats/maxabs/test/test.js
  lib/node_modules/@stdlib/stats/maxabs/test/test.main.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7792 feat: add `stats/min-by`
  lib/node_modules/@stdlib/stats/min-by/README.md
  lib/node_modules/@stdlib/stats/min-by/benchmark/benchmark.assign.js
  lib/node_modules/@stdlib/stats/min-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/min-by/docs/repl.txt
  lib/node_modules/@stdlib/stats/min-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/min-by/docs/types/test.ts
  lib/node_modules/@stdlib/stats/min-by/examples/index.js
  lib/node_modules/@stdlib/stats/min-by/lib/index.js
  lib/node_modules/@stdlib/stats/min-by/lib/main.js
  lib/node_modules/@stdlib/stats/min-by/package.json
  lib/node_modules/@stdlib/stats/min-by/test/test.assign.js
  lib/node_modules/@stdlib/stats/min-by/test/test.js
  lib/node_modules/@stdlib/stats/min-by/test/test.main.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7799 feat: add `stats/cumin`
  lib/node_modules/@stdlib/stats/cumin/README.md
  lib/node_modules/@stdlib/stats/cumin/benchmark/benchmark.assign.js
  lib/node_modules/@stdlib/stats/cumin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/cumin/docs/repl.txt
  lib/node_modules/@stdlib/stats/cumin/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/cumin/docs/types/test.ts
  lib/node_modules/@stdlib/stats/cumin/examples/index.js
  lib/node_modules/@stdlib/stats/cumin/lib/index.js
  lib/node_modules/@stdlib/stats/cumin/lib/main.js
  lib/node_modules/@stdlib/stats/cumin/package.json
  lib/node_modules/@stdlib/stats/cumin/test/test.assign.js
  lib/node_modules/@stdlib/stats/cumin/test/test.js
  lib/node_modules/@stdlib/stats/cumin/test/test.main.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7743 feat: add `blas/ext/base/ndarray/gfind-index`
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-index/README.md
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-index/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-index/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-index/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-index/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-index/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-index/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-index/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-index/package.json
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-index/test/test.js
Labels: Feature, BLAS, GSoC, gsoc: 2025

#7843 chore: fix C lint errors (issue #7842)
  lib/node_modules/@stdlib/stats/base/snanvariancepn/src/snanvariancepn.c
Labels: Statistics

#7844 feat: add `number/uint32/base/identity`
  lib/node_modules/@stdlib/number/uint32/base/identity/README.md
  lib/node_modules/@stdlib/number/uint32/base/identity/benchmark/benchmark.js
  lib/node_modules/@stdlib/number/uint32/base/identity/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/number/uint32/base/identity/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/number/uint32/base/identity/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/number/uint32/base/identity/binding.gyp
  lib/node_modules/@stdlib/number/uint32/base/identity/docs/img/equation_identity_function.svg
  lib/node_modules/@stdlib/number/uint32/base/identity/docs/repl.txt
  lib/node_modules/@stdlib/number/uint32/base/identity/docs/types/index.d.ts
  lib/node_modules/@stdlib/number/uint32/base/identity/docs/types/test.ts
  lib/node_modules/@stdlib/number/uint32/base/identity/examples/c/Makefile
  lib/node_modules/@stdlib/number/uint32/base/identity/examples/c/example.c
  lib/node_modules/@stdlib/number/uint32/base/identity/examples/index.js
  lib/node_modules/@stdlib/number/uint32/base/identity/include.gypi
  lib/node_modules/@stdlib/number/uint32/base/identity/include/stdlib/number/uint32/base/identity.h
  lib/node_modules/@stdlib/number/uint32/base/identity/lib/index.js
  lib/node_modules/@stdlib/number/uint32/base/identity/lib/main.js
  lib/node_modules/@stdlib/number/uint32/base/identity/lib/native.js
  lib/node_modules/@stdlib/number/uint32/base/identity/manifest.json
  lib/node_modules/@stdlib/number/uint32/base/identity/package.json
  lib/node_modules/@stdlib/number/uint32/base/identity/src/Makefile
  lib/node_modules/@stdlib/number/uint32/base/identity/src/addon.c
  lib/node_modules/@stdlib/number/uint32/base/identity/src/main.c
  lib/node_modules/@stdlib/number/uint32/base/identity/test/test.js
  lib/node_modules/@stdlib/number/uint32/base/identity/test/test.native.js
Labels: Feature

#7848 feat: add `number/uint8/base/identity`
  lib/node_modules/@stdlib/number/uint8/base/identity/README.md
  lib/node_modules/@stdlib/number/uint8/base/identity/benchmark/benchmark.js
  lib/node_modules/@stdlib/number/uint8/base/identity/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/number/uint8/base/identity/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/number/uint8/base/identity/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/number/uint8/base/identity/binding.gyp
  lib/node_modules/@stdlib/number/uint8/base/identity/docs/img/equation_identity_function.svg
  lib/node_modules/@stdlib/number/uint8/base/identity/docs/repl.txt
  lib/node_modules/@stdlib/number/uint8/base/identity/docs/types/index.d.ts
  lib/node_modules/@stdlib/number/uint8/base/identity/docs/types/test.ts
  lib/node_modules/@stdlib/number/uint8/base/identity/examples/c/Makefile
  lib/node_modules/@stdlib/number/uint8/base/identity/examples/c/example.c
  lib/node_modules/@stdlib/number/uint8/base/identity/examples/index.js
  lib/node_modules/@stdlib/number/uint8/base/identity/include.gypi
  lib/node_modules/@stdlib/number/uint8/base/identity/include/stdlib/number/uint8/base/identity.h
  lib/node_modules/@stdlib/number/uint8/base/identity/lib/index.js
  lib/node_modules/@stdlib/number/uint8/base/identity/lib/main.js
  lib/node_modules/@stdlib/number/uint8/base/identity/lib/native.js
  lib/node_modules/@stdlib/number/uint8/base/identity/manifest.json
  lib/node_modules/@stdlib/number/uint8/base/identity/package.json
  lib/node_modules/@stdlib/number/uint8/base/identity/src/Makefile
  lib/node_modules/@stdlib/number/uint8/base/identity/src/addon.c
  lib/node_modules/@stdlib/number/uint8/base/identity/src/main.c
  lib/node_modules/@stdlib/number/uint8/base/identity/test/test.js
  lib/node_modules/@stdlib/number/uint8/base/identity/test/test.native.js
Labels: Feature

#7849 chore: fix EditorConfig lint errors (issue #7840)
  lib/node_modules/@stdlib/_tools/github/get/README.md
Labels: Tools, First-time Contributor, Good First PR

#7806 feat: add `math/base/special/kernel-sincosf`
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/LICENSE
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/README.md
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/include.gypi
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/include/stdlib/math/base/special/kernel_sincosf.h
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/lib/assign.js
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/lib/polyval_c23.js
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/lib/polyval_s12.js
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/lib/polyval_s34.js
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/manifest.json
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/package.json
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/src/main.c
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/test/fixtures/julia/small_range.json
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/test/test.assign.js
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/test/test.js
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/test/test.main.js
  lib/node_modules/@stdlib/math/base/special/kernel-sincosf/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#7814 feat: add `blas/ext/find-index`
  lib/node_modules/@stdlib/blas/ext/find-index/README.md
  lib/node_modules/@stdlib/blas/ext/find-index/benchmark/benchmark.assign.js
  lib/node_modules/@stdlib/blas/ext/find-index/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/find-index/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/find-index/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/find-index/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/find-index/examples/index.js
  lib/node_modules/@stdlib/blas/ext/find-index/lib/assign.js
  lib/node_modules/@stdlib/blas/ext/find-index/lib/base.js
  lib/node_modules/@stdlib/blas/ext/find-index/lib/index.js
  lib/node_modules/@stdlib/blas/ext/find-index/lib/main.js
  lib/node_modules/@stdlib/blas/ext/find-index/package.json
  lib/node_modules/@stdlib/blas/ext/find-index/test/test.assign.js
  lib/node_modules/@stdlib/blas/ext/find-index/test/test.js
  lib/node_modules/@stdlib/blas/ext/find-index/test/test.main.js
Labels: Feature, BLAS, GSoC, gsoc: 2025

#7786 feat: add `blas/ext/base/ndarray/gfind-last-index`
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-last-index/README.md
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-last-index/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-last-index/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-last-index/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-last-index/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-last-index/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-last-index/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-last-index/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-last-index/package.json
  lib/node_modules/@stdlib/blas/ext/base/ndarray/gfind-last-index/test/test.js
Labels: Feature, BLAS, GSoC, gsoc: 2025

#7827 feat: add `blas/ext/find-last-index`
  lib/node_modules/@stdlib/blas/ext/find-last-index/README.md
  lib/node_modules/@stdlib/blas/ext/find-last-index/benchmark/benchmark.assign.js
  lib/node_modules/@stdlib/blas/ext/find-last-index/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/find-last-index/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/find-last-index/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/find-last-index/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/find-last-index/examples/index.js
  lib/node_modules/@stdlib/blas/ext/find-last-index/lib/assign.js
  lib/node_modules/@stdlib/blas/ext/find-last-index/lib/base.js
  lib/node_modules/@stdlib/blas/ext/find-last-index/lib/index.js
  lib/node_modules/@stdlib/blas/ext/find-last-index/lib/main.js
  lib/node_modules/@stdlib/blas/ext/find-last-index/package.json
  lib/node_modules/@stdlib/blas/ext/find-last-index/test/test.assign.js
  lib/node_modules/@stdlib/blas/ext/find-last-index/test/test.js
  lib/node_modules/@stdlib/blas/ext/find-last-index/test/test.main.js
Labels: Feature, BLAS, GSoC, gsoc: 2025

#7705 feat: add C ndarray interface and refactor implementation for `stats/base/snanmean`
  lib/node_modules/@stdlib/stats/base/snanmean/README.md
  lib/node_modules/@stdlib/stats/base/snanmean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanmean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanmean/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmean/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmean/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/snanmean/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/snanmean/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/snanmean/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/snanmean/examples/index.js
  lib/node_modules/@stdlib/stats/base/snanmean/include/stdlib/stats/base/snanmean.h
  lib/node_modules/@stdlib/stats/base/snanmean/lib/index.js
  lib/node_modules/@stdlib/stats/base/snanmean/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmean/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmean/lib/snanmean.js
  lib/node_modules/@stdlib/stats/base/snanmean/lib/snanmean.native.js
  lib/node_modules/@stdlib/stats/base/snanmean/manifest.json
  lib/node_modules/@stdlib/stats/base/snanmean/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanmean/src/main.c
  lib/node_modules/@stdlib/stats/base/snanmean/src/snanmean.c
  lib/node_modules/@stdlib/stats/base/snanmean/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmean/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmean/test/test.snanmean.js
  lib/node_modules/@stdlib/stats/base/snanmean/test/test.snanmean.native.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7738 feat: add `blas/base/gsyr`
  lib/node_modules/@stdlib/blas/base/gsyr/README.md
  lib/node_modules/@stdlib/blas/base/gsyr/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/gsyr/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/gsyr/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/gsyr/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/gsyr/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/gsyr/examples/index.js
  lib/node_modules/@stdlib/blas/base/gsyr/lib/accessors.js
  lib/node_modules/@stdlib/blas/base/gsyr/lib/base.js
  lib/node_modules/@stdlib/blas/base/gsyr/lib/index.js
  lib/node_modules/@stdlib/blas/base/gsyr/lib/main.js
  lib/node_modules/@stdlib/blas/base/gsyr/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/gsyr/package.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/column_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/column_major_l.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/column_major_oa.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/column_major_ox.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/column_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/column_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/column_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/column_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/column_major_u.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/column_major_xn.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/column_major_xp.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/row_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/row_major_l.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/row_major_oa.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/row_major_ox.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/row_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/row_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/row_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/row_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/row_major_u.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/row_major_xn.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/fixtures/row_major_xp.json
  lib/node_modules/@stdlib/blas/base/gsyr/test/test.js
  lib/node_modules/@stdlib/blas/base/gsyr/test/test.main.js
  lib/node_modules/@stdlib/blas/base/gsyr/test/test.ndarray.js
Labels: Feature, BLAS, GSoC, gsoc: 2025

#7862 feat: add `number/int16/base/identity`
  lib/node_modules/@stdlib/number/int16/base/identity/README.md
  lib/node_modules/@stdlib/number/int16/base/identity/benchmark/benchmark.js
  lib/node_modules/@stdlib/number/int16/base/identity/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/number/int16/base/identity/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/number/int16/base/identity/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/number/int16/base/identity/binding.gyp
  lib/node_modules/@stdlib/number/int16/base/identity/docs/img/equation_identity_function.svg
  lib/node_modules/@stdlib/number/int16/base/identity/docs/repl.txt
  lib/node_modules/@stdlib/number/int16/base/identity/docs/types/index.d.ts
  lib/node_modules/@stdlib/number/int16/base/identity/docs/types/test.ts
  lib/node_modules/@stdlib/number/int16/base/identity/examples/c/Makefile
  lib/node_modules/@stdlib/number/int16/base/identity/examples/c/example.c
  lib/node_modules/@stdlib/number/int16/base/identity/examples/index.js
  lib/node_modules/@stdlib/number/int16/base/identity/include.gypi
  lib/node_modules/@stdlib/number/int16/base/identity/include/stdlib/number/int16/base/identity.h
  lib/node_modules/@stdlib/number/int16/base/identity/lib/index.js
  lib/node_modules/@stdlib/number/int16/base/identity/lib/main.js
  lib/node_modules/@stdlib/number/int16/base/identity/lib/native.js
  lib/node_modules/@stdlib/number/int16/base/identity/manifest.json
  lib/node_modules/@stdlib/number/int16/base/identity/package.json
  lib/node_modules/@stdlib/number/int16/base/identity/src/Makefile
  lib/node_modules/@stdlib/number/int16/base/identity/src/addon.c
  lib/node_modules/@stdlib/number/int16/base/identity/src/main.c
  lib/node_modules/@stdlib/number/int16/base/identity/test/test.js
  lib/node_modules/@stdlib/number/int16/base/identity/test/test.native.js
Labels: Feature

#7863 feat: add `number/int8/base/identity`
  lib/node_modules/@stdlib/number/int8/base/identity/README.md
  lib/node_modules/@stdlib/number/int8/base/identity/benchmark/benchmark.js
  lib/node_modules/@stdlib/number/int8/base/identity/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/number/int8/base/identity/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/number/int8/base/identity/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/number/int8/base/identity/binding.gyp
  lib/node_modules/@stdlib/number/int8/base/identity/docs/img/equation_identity_function.svg
  lib/node_modules/@stdlib/number/int8/base/identity/docs/repl.txt
  lib/node_modules/@stdlib/number/int8/base/identity/docs/types/index.d.ts
  lib/node_modules/@stdlib/number/int8/base/identity/docs/types/test.ts
  lib/node_modules/@stdlib/number/int8/base/identity/examples/c/Makefile
  lib/node_modules/@stdlib/number/int8/base/identity/examples/c/example.c
  lib/node_modules/@stdlib/number/int8/base/identity/examples/index.js
  lib/node_modules/@stdlib/number/int8/base/identity/include.gypi
  lib/node_modules/@stdlib/number/int8/base/identity/include/stdlib/number/int8/base/identity.h
  lib/node_modules/@stdlib/number/int8/base/identity/lib/index.js
  lib/node_modules/@stdlib/number/int8/base/identity/lib/main.js
  lib/node_modules/@stdlib/number/int8/base/identity/lib/native.js
  lib/node_modules/@stdlib/number/int8/base/identity/manifest.json
  lib/node_modules/@stdlib/number/int8/base/identity/package.json
  lib/node_modules/@stdlib/number/int8/base/identity/src/Makefile
  lib/node_modules/@stdlib/number/int8/base/identity/src/addon.c
  lib/node_modules/@stdlib/number/int8/base/identity/src/main.c
  lib/node_modules/@stdlib/number/int8/base/identity/test/test.js
  lib/node_modules/@stdlib/number/int8/base/identity/test/test.native.js
Labels: Feature

#7864 bench: fix types in C benchmarks
  lib/node_modules/@stdlib/number/uint32/base/mul/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/number/uint32/base/mul/benchmark/c/native/benchmark.c
Labels: Benchmarks

#7869 test: use `ulpdiff` for floating-point comparisons
  lib/node_modules/@stdlib/math/base/special/tan/test/test.js
  lib/node_modules/@stdlib/math/base/special/tan/test/test.native.js
Labels: Math, Tests, GSoC, gsoc: 2025

#7867 chore: address comments from commit d269f48
  lib/node_modules/@stdlib/stats/base/dists/geometric/logcdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/geometric/logcdf/examples/c/example.c
Labels: Statistics, Good First PR

#7871 test: use `ulpdiff` for floating-point comparisons
  lib/node_modules/@stdlib/math/base/special/tanf/test/test.js
  lib/node_modules/@stdlib/math/base/special/tanf/test/test.native.js
Labels: Math, Tests, GSoC, gsoc: 2025

#7878 chore: fix C lint errors (issue #7877)
  lib/node_modules/@stdlib/blas/ext/base/dnansum/benchmark/c/benchmark.length.c
Labels: BLAS

#7882 feat: add `stats/base/ndarray/minabs`
  lib/node_modules/@stdlib/stats/base/ndarray/minabs/README.md
  lib/node_modules/@stdlib/stats/base/ndarray/minabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/ndarray/minabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/ndarray/minabs/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/ndarray/minabs/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/ndarray/minabs/examples/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/minabs/lib/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/minabs/lib/main.js
  lib/node_modules/@stdlib/stats/base/ndarray/minabs/package.json
  lib/node_modules/@stdlib/stats/base/ndarray/minabs/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7895 test: add user reference matrix
  lib/node_modules/@stdlib/blas/base/ggemm/test/fixtures/column_major_nta_tb.json
Labels: BLAS, GSoC, gsoc: 2025

#7893 feat: add `math/base/special/secdf`
  lib/node_modules/@stdlib/math/base/special/secdf/README.md
  lib/node_modules/@stdlib/math/base/special/secdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/secdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/secdf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/secdf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/secdf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/secdf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/secdf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/secdf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/secdf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/secdf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/secdf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/secdf/include.gypi
  lib/node_modules/@stdlib/math/base/special/secdf/include/stdlib/math/base/special/secdf.h
  lib/node_modules/@stdlib/math/base/special/secdf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/secdf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/secdf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/secdf/manifest.json
  lib/node_modules/@stdlib/math/base/special/secdf/package.json
  lib/node_modules/@stdlib/math/base/special/secdf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/secdf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/secdf/src/main.c
  lib/node_modules/@stdlib/math/base/special/secdf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/secdf/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/secdf/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/secdf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/secdf/test/test.js
  lib/node_modules/@stdlib/math/base/special/secdf/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#7897 feat: add `math/base/special/cotdf`
  lib/node_modules/@stdlib/math/base/special/cotdf/README.md
  lib/node_modules/@stdlib/math/base/special/cotdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/cotdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/cotdf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/cotdf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cotdf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/cotdf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/cotdf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/cotdf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/cotdf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/cotdf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/cotdf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/cotdf/include.gypi
  lib/node_modules/@stdlib/math/base/special/cotdf/include/stdlib/math/base/special/cotdf.h
  lib/node_modules/@stdlib/math/base/special/cotdf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/cotdf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/cotdf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/cotdf/manifest.json
  lib/node_modules/@stdlib/math/base/special/cotdf/package.json
  lib/node_modules/@stdlib/math/base/special/cotdf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/cotdf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/cotdf/src/main.c
  lib/node_modules/@stdlib/math/base/special/cotdf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/cotdf/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/cotdf/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/cotdf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/cotdf/test/test.js
  lib/node_modules/@stdlib/math/base/special/cotdf/test/test.native.js
Labels: Math, Ready To Merge

#7901 chore: fix C lint errors (issue #7899)
  lib/node_modules/@stdlib/math/strided/special/smsktrunc/benchmark/c/benchmark.length.c
Labels: Math, Ready To Merge

#7892 feat: add `math/base/special/sincosf`
  lib/node_modules/@stdlib/math/base/special/sincosf/LICENSE
  lib/node_modules/@stdlib/math/base/special/sincosf/README.md
  lib/node_modules/@stdlib/math/base/special/sincosf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sincosf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sincosf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/sincosf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sincosf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/sincosf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/sincosf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/sincosf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/sincosf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/sincosf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/sincosf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/sincosf/include.gypi
  lib/node_modules/@stdlib/math/base/special/sincosf/include/stdlib/math/base/special/sincosf.h
  lib/node_modules/@stdlib/math/base/special/sincosf/lib/assign.js
  lib/node_modules/@stdlib/math/base/special/sincosf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/sincosf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/sincosf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/sincosf/manifest.json
  lib/node_modules/@stdlib/math/base/special/sincosf/package.json
  lib/node_modules/@stdlib/math/base/special/sincosf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/sincosf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/sincosf/src/main.c
  lib/node_modules/@stdlib/math/base/special/sincosf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/sincosf/test/fixtures/julia/huge_negative.json
  lib/node_modules/@stdlib/math/base/special/sincosf/test/fixtures/julia/huge_positive.json
  lib/node_modules/@stdlib/math/base/special/sincosf/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/sincosf/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/sincosf/test/fixtures/julia/medium_negative.json
  lib/node_modules/@stdlib/math/base/special/sincosf/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/sincosf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/sincosf/test/test.assign.js
  lib/node_modules/@stdlib/math/base/special/sincosf/test/test.js
  lib/node_modules/@stdlib/math/base/special/sincosf/test/test.main.js
  lib/node_modules/@stdlib/math/base/special/sincosf/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#7917 chore: address commit comments for commit 1acd7fc (issue #7914)
  lib/node_modules/@stdlib/utils/none-own-by/lib/index.js
Labels: Ready To Merge, First-time Contributor, Good First PR

#7948 chore: add structured package data for `math/base/special/acovercos`
  lib/node_modules/@stdlib/math/base/special/acovercos/package.json
Labels: Math

#7947 refactor!: modify C implementation to accept `double` values instead of `int64` in `math/base/special/binomcoefln`
  lib/node_modules/@stdlib/math/base/special/binomcoefln/README.md
  lib/node_modules/@stdlib/math/base/special/binomcoefln/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/binomcoefln/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/binomcoefln/include/stdlib/math/base/special/binomcoefln.h
  lib/node_modules/@stdlib/math/base/special/binomcoefln/manifest.json
  lib/node_modules/@stdlib/math/base/special/binomcoefln/src/addon.c
  lib/node_modules/@stdlib/math/base/special/binomcoefln/src/main.c
Labels: release: Major, Math

#7945 refactor!: modify C implementation to accept `double` values instead of `int64` in `math/base/special/binomcoef`
  lib/node_modules/@stdlib/math/base/special/binomcoef/README.md
  lib/node_modules/@stdlib/math/base/special/binomcoef/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/binomcoef/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/binomcoef/include/stdlib/math/base/special/binomcoef.h
  lib/node_modules/@stdlib/math/base/special/binomcoef/manifest.json
  lib/node_modules/@stdlib/math/base/special/binomcoef/src/addon.c
  lib/node_modules/@stdlib/math/base/special/binomcoef/src/main.c
Labels: release: Major, Math

#7941 refactor!: modify C implementation to accept `float` instead of `int32` in `math/base/special/bernoullif`
  lib/node_modules/@stdlib/math/base/special/bernoullif/README.md
  lib/node_modules/@stdlib/math/base/special/bernoullif/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/bernoullif/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/bernoullif/include/stdlib/math/base/special/bernoullif.h
  lib/node_modules/@stdlib/math/base/special/bernoullif/lib/main.js
  lib/node_modules/@stdlib/math/base/special/bernoullif/manifest.json
  lib/node_modules/@stdlib/math/base/special/bernoullif/src/addon.c
  lib/node_modules/@stdlib/math/base/special/bernoullif/src/main.c
Labels: release: Major, Math

#7951 chore: fix duplicate example value in `math/base/special/cbrt`
  lib/node_modules/@stdlib/math/base/special/cbrt/package.json
Labels: Math

#7949 chore: add structured package data for `math/base/special/cbrtf`
  lib/node_modules/@stdlib/math/base/special/cbrtf/package.json
Labels: Math

#7955 refactor!: modify C implementation to accept `double` value instead of `int32` in `math/base/special/negalucas`
  lib/node_modules/@stdlib/math/base/special/negalucas/README.md
  lib/node_modules/@stdlib/math/base/special/negalucas/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/negalucas/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/negalucas/include/stdlib/math/base/special/negalucas.h
  lib/node_modules/@stdlib/math/base/special/negalucas/manifest.json
  lib/node_modules/@stdlib/math/base/special/negalucas/src/addon.c
  lib/node_modules/@stdlib/math/base/special/negalucas/src/main.c
Labels: release: Major, Math

#7960 refactor!: modify C implementation to accept `float` instead of `int32` in `math/base/special/nonfibonaccif`
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/README.md
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/include/stdlib/math/base/special/nonfibonaccif.h
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/manifest.json
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/src/addon.c
  lib/node_modules/@stdlib/math/base/special/nonfibonaccif/src/main.c
Labels: release: Major, Math

#7962 chore: add structured package data for `math/base/special/cos`
  lib/node_modules/@stdlib/math/base/special/cos/package.json
Labels: Math

#7963 chore: add structured package data for `math/base/special/cosd`
  lib/node_modules/@stdlib/math/base/special/cosd/package.json
Labels: Math

#7974 chore: fix C lint errors (issue #7973)
  lib/node_modules/@stdlib/ndarray/base/ind2sub/benchmark/c/benchmark.c
Labels: Benchmarks

#7967 feat: add `stats/base/ndarray/nanmean`
  lib/node_modules/@stdlib/stats/base/ndarray/nanmean/README.md
  lib/node_modules/@stdlib/stats/base/ndarray/nanmean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/ndarray/nanmean/docs/img/equation_arithmetic_mean.svg
  lib/node_modules/@stdlib/stats/base/ndarray/nanmean/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/ndarray/nanmean/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/ndarray/nanmean/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/ndarray/nanmean/examples/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/nanmean/lib/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/nanmean/lib/main.js
  lib/node_modules/@stdlib/stats/base/ndarray/nanmean/package.json
  lib/node_modules/@stdlib/stats/base/ndarray/nanmean/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7965 feat: add `stats/base/ndarray/dnanmean`
  lib/node_modules/@stdlib/stats/base/ndarray/dnanmean/README.md
  lib/node_modules/@stdlib/stats/base/ndarray/dnanmean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/ndarray/dnanmean/docs/img/equation_arithmetic_mean.svg
  lib/node_modules/@stdlib/stats/base/ndarray/dnanmean/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/ndarray/dnanmean/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/ndarray/dnanmean/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/ndarray/dnanmean/examples/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/dnanmean/lib/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/dnanmean/lib/main.js
  lib/node_modules/@stdlib/stats/base/ndarray/dnanmean/package.json
  lib/node_modules/@stdlib/stats/base/ndarray/dnanmean/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7970 chore: add structured package data for `math/base/special/cosdf`
  lib/node_modules/@stdlib/math/base/special/cosdf/package.json
Labels: Math

#7968 feat: add `stats/nanmean`
  lib/node_modules/@stdlib/stats/nanmean/README.md
  lib/node_modules/@stdlib/stats/nanmean/benchmark/benchmark.assign.js
  lib/node_modules/@stdlib/stats/nanmean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/nanmean/docs/repl.txt
  lib/node_modules/@stdlib/stats/nanmean/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/nanmean/docs/types/test.ts
  lib/node_modules/@stdlib/stats/nanmean/examples/index.js
  lib/node_modules/@stdlib/stats/nanmean/lib/index.js
  lib/node_modules/@stdlib/stats/nanmean/lib/main.js
  lib/node_modules/@stdlib/stats/nanmean/package.json
  lib/node_modules/@stdlib/stats/nanmean/test/test.assign.js
  lib/node_modules/@stdlib/stats/nanmean/test/test.js
  lib/node_modules/@stdlib/stats/nanmean/test/test.main.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7979 chore: add structured package data for `math/base/special/ceil10`
  lib/node_modules/@stdlib/math/base/special/ceil10/package.json
Labels: Math

#7980 bench: fix failing C benchmarks by using `round` and `roundf`
  lib/node_modules/@stdlib/math/base/special/bernoulli/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/bernoullif/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/lucas/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/lucasf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/negalucas/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/negalucasf/benchmark/c/native/benchmark.c
Labels: Math, Benchmarks

#7983 feat: add `math/base/special/fast/absf`
  lib/node_modules/@stdlib/math/base/special/fast/absf/README.md
  lib/node_modules/@stdlib/math/base/special/fast/absf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/fast/absf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/fast/absf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/absf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/fast/absf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/fast/absf/docs/img/equation_absolute_value.svg
  lib/node_modules/@stdlib/math/base/special/fast/absf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/fast/absf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/fast/absf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/fast/absf/examples/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/absf/examples/c/native/example.c
  lib/node_modules/@stdlib/math/base/special/fast/absf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/fast/absf/include.gypi
  lib/node_modules/@stdlib/math/base/special/fast/absf/include/stdlib/math/base/special/fast/absf.h
  lib/node_modules/@stdlib/math/base/special/fast/absf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/fast/absf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/fast/absf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/fast/absf/manifest.json
  lib/node_modules/@stdlib/math/base/special/fast/absf/package.json
  lib/node_modules/@stdlib/math/base/special/fast/absf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/fast/absf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/fast/absf/src/main.c
  lib/node_modules/@stdlib/math/base/special/fast/absf/test/test.js
  lib/node_modules/@stdlib/math/base/special/fast/absf/test/test.native.js
Labels: Feature, Math

#7952 chore: fix JavaScript lint errors
  lib/node_modules/@stdlib/plot/components/svg/marks/lib/main.js
Labels: Good First PR, Potential Duplicate

#7540 feat: add `lapack/base/dlarf1f`
  lib/node_modules/@stdlib/lapack/base/dlarf1f/README.md
  lib/node_modules/@stdlib/lapack/base/dlarf1f/benchmark/benchmark.js
  lib/node_modules/@stdlib/lapack/base/dlarf1f/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/lapack/base/dlarf1f/docs/repl.txt
  lib/node_modules/@stdlib/lapack/base/dlarf1f/docs/types/index.d.ts
  lib/node_modules/@stdlib/lapack/base/dlarf1f/docs/types/test.ts
  lib/node_modules/@stdlib/lapack/base/dlarf1f/examples/index.js
  lib/node_modules/@stdlib/lapack/base/dlarf1f/lib/base.js
  lib/node_modules/@stdlib/lapack/base/dlarf1f/lib/dlarf1f.js
  lib/node_modules/@stdlib/lapack/base/dlarf1f/lib/index.js
  lib/node_modules/@stdlib/lapack/base/dlarf1f/lib/main.js
  lib/node_modules/@stdlib/lapack/base/dlarf1f/lib/ndarray.js
  lib/node_modules/@stdlib/lapack/base/dlarf1f/package.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/large_strides/left_lastv_eq_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/large_strides/left_lastv_eq_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/large_strides/left_lastv_gt_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/large_strides/left_lastv_gt_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/large_strides/right_lastv_eq_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/large_strides/right_lastv_eq_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/large_strides/right_lastv_gt_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/large_strides/right_lastv_gt_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/left_lastv_eq_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/left_lastv_eq_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/left_lastv_gt_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/left_lastv_gt_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/mixed_strides/left_lastv_eq_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/mixed_strides/left_lastv_eq_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/mixed_strides/left_lastv_gt_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/mixed_strides/left_lastv_gt_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/mixed_strides/right_lastv_eq_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/mixed_strides/right_lastv_eq_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/mixed_strides/right_lastv_gt_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/mixed_strides/right_lastv_gt_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/negative_strides/left_lastv_eq_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/negative_strides/left_lastv_eq_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/negative_strides/left_lastv_gt_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/negative_strides/left_lastv_gt_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/negative_strides/right_lastv_eq_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/negative_strides/right_lastv_eq_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/negative_strides/right_lastv_gt_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/negative_strides/right_lastv_gt_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/offsets/left_lastv_eq_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/offsets/left_lastv_eq_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/offsets/left_lastv_gt_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/offsets/left_lastv_gt_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/offsets/right_lastv_eq_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/offsets/right_lastv_eq_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/offsets/right_lastv_gt_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/offsets/right_lastv_gt_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/right_lastv_eq_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/right_lastv_eq_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/right_lastv_gt_zero_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/right_lastv_gt_zero_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/fixtures/tau_eq_zero.json
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/test.dlarf1f.js
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/test.js
  lib/node_modules/@stdlib/lapack/base/dlarf1f/test/test.ndarray.js
Labels: Feature, LAPACK, GSoC, gsoc: 2025

#7772 feat: add `ndarray/base/nullary-strided1d`
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/README.md
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/examples/index.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/0d.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/10d.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/10d_blocked.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/1d.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/2d.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/2d_blocked.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/3d.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/3d_blocked.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/4d.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/4d_blocked.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/5d.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/5d_blocked.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/6d.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/6d_blocked.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/7d.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/7d_blocked.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/8d.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/8d_blocked.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/9d.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/9d_blocked.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/defaults.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/factory.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/increment_offsets.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/index.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/initialize_array_views.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/main.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/main_factory.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/nd.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/offsets.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/set_view_offsets.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/strategy.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/lib/validate.js
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/package.json
  lib/node_modules/@stdlib/ndarray/base/nullary-strided1d/test/test.js
Labels: Feature, GSoC, gsoc: 2025

#7986 chore: add structured package data for `math/base/special/sec`
  lib/node_modules/@stdlib/math/base/special/sec/package.json
Labels: Math

#7971 feat: add `ndarray/with`
  lib/node_modules/@stdlib/ndarray/with/README.md
  lib/node_modules/@stdlib/ndarray/with/benchmark/benchmark.js
  lib/node_modules/@stdlib/ndarray/with/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/with/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/with/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/with/examples/index.js
  lib/node_modules/@stdlib/ndarray/with/lib/index.js
  lib/node_modules/@stdlib/ndarray/with/lib/main.js
  lib/node_modules/@stdlib/ndarray/with/package.json
  lib/node_modules/@stdlib/ndarray/with/test/test.js
Labels: Feature, GSoC, gsoc: 2025
