Repository stdlib-js/stdlib, pull requests merged in 2025-03, with the labels that each got.

#5528 bench: update random value generation
  lib/node_modules/@stdlib/math/base/special/tan/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/tan/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/tan/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tan/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tan/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tan/test/test.js
  lib/node_modules/@stdlib/math/base/special/tan/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/tand/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/tand/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/tand/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tand/test/test.js
  lib/node_modules/@stdlib/math/base/special/tanh/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/tanh/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/tanh/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tanh/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tanh/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tanh/test/test.js
  lib/node_modules/@stdlib/math/base/special/tanh/test/test.native.js
Labels: Math, Ready To Merge

#5518 chore(geometric-variance): address commit comments (docs update & bench refactor)
  lib/node_modules/@stdlib/stats/base/dists/geometric/variance/README.md
  lib/node_modules/@stdlib/stats/base/dists/geometric/variance/benchmark/benchmark.native.js
Labels: Statistics, Ready To Merge, First-time Contributor, Good First PR

#5492 chore: address commit comment
  lib/node_modules/@stdlib/stats/base/dnanvariancech/README.md
  lib/node_modules/@stdlib/stats/base/dnanvariancech/examples/index.js
Labels: Statistics, Ready To Merge, Good First PR

#5522 feat: add C ndarray interface and refactor implementation for `stats/base/dvariance`
  lib/node_modules/@stdlib/stats/base/dvariance/README.md
  lib/node_modules/@stdlib/stats/base/dvariance/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dvariance/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dvariance/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dvariance/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dvariance/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dvariance/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dvariance/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dvariance/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dvariance/examples/index.js
  lib/node_modules/@stdlib/stats/base/dvariance/include/stdlib/stats/base/dvariance.h
  lib/node_modules/@stdlib/stats/base/dvariance/lib/dvariance.js
  lib/node_modules/@stdlib/stats/base/dvariance/lib/dvariance.native.js
  lib/node_modules/@stdlib/stats/base/dvariance/lib/index.js
  lib/node_modules/@stdlib/stats/base/dvariance/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dvariance/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dvariance/manifest.json
  lib/node_modules/@stdlib/stats/base/dvariance/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvariance/src/dvariance.c
  lib/node_modules/@stdlib/stats/base/dvariance/src/main.c
  lib/node_modules/@stdlib/stats/base/dvariance/test/test.dvariance.js
  lib/node_modules/@stdlib/stats/base/dvariance/test/test.dvariance.native.js
  lib/node_modules/@stdlib/stats/base/dvariance/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dvariance/test/test.ndarray.native.js
Labels: Statistics, Ready To Merge

#5471 bench: update random value generation
  lib/node_modules/@stdlib/math/base/special/tribonacci/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/tribonacci/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/tribonacci/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tribonacci/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tribonacci/test/test.js
  lib/node_modules/@stdlib/math/base/special/tribonacci/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/trigamma/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/trigamma/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/trigamma/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/trigamma/benchmark/cpp/boost/benchmark.cpp
  lib/node_modules/@stdlib/math/base/special/trigamma/test/test.js
  lib/node_modules/@stdlib/math/base/special/trigamma/test/test.native.js
Labels: Math, Benchmarks, Ready To Merge

#5514 chore: fix EditorConfig lint errors
  lib/node_modules/@stdlib/blas/ext/base/dsort2sh/manifest.json
  lib/node_modules/@stdlib/number/float64/base/to-words/manifest.json
Labels: Ready To Merge, First-time Contributor, Good First PR

#5491 chore: address commit comment
  lib/node_modules/@stdlib/stats/base/dists/gumbel/mgf/README.md
  lib/node_modules/@stdlib/stats/base/dists/gumbel/mgf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/mgf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/mgf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/gumbel/mgf/include/stdlib/stats/base/dists/gumbel/mgf.h
Labels: Statistics, Ready To Merge, Good First PR

#5461 chore: address commit comment
  lib/node_modules/@stdlib/stats/base/dists/cauchy/logpdf/README.md
Labels: Statistics, Ready To Merge

#5460 chore: address commit comment
  lib/node_modules/@stdlib/stats/base/dists/gumbel/logcdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/gumbel/logcdf/benchmark/benchmark.native.js
Labels: Statistics, Ready To Merge

#4203 feat: add C implementation for `stats/base/dists/geometric/cdf`
  lib/node_modules/@stdlib/stats/base/dists/geometric/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/geometric/cdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/cdf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/geometric/cdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/cdf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/geometric/cdf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/geometric/cdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/cdf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/geometric/cdf/include/stdlib/stats/base/dists/geometric/cdf.h
  lib/node_modules/@stdlib/stats/base/dists/geometric/cdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/cdf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/geometric/cdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/geometric/cdf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/geometric/cdf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/cdf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/cdf/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4221 feat: add C implementation for `stats/base/dists/geometric/logpmf`
  lib/node_modules/@stdlib/stats/base/dists/geometric/logpmf/README.md
  lib/node_modules/@stdlib/stats/base/dists/geometric/logpmf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/logpmf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/geometric/logpmf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/logpmf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/geometric/logpmf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/geometric/logpmf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/logpmf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/geometric/logpmf/include/stdlib/stats/base/dists/geometric/logpmf.h
  lib/node_modules/@stdlib/stats/base/dists/geometric/logpmf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/logpmf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/geometric/logpmf/package.json
  lib/node_modules/@stdlib/stats/base/dists/geometric/logpmf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/geometric/logpmf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/logpmf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/logpmf/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#5452 fix: update C implementation for `stats/base/dists/kumaraswamy/median`
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/median/README.md
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/median/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/median/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/median/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/median/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/median/include/stdlib/stats/base/dists/kumaraswamy/median.h
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/median/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/median/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/median/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/median/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/median/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/kumaraswamy/median/test/test.native.js
Labels: Statistics, Ready To Merge, First-time Contributor

#5523 bench: suppress uninitialized variable warning
  lib/node_modules/@stdlib/math/strided/special/smskceil/benchmark/c/benchmark.length.c
Labels: Math, First-time Contributor

#5540 refactor: move implementations and macros to separate files
  lib/node_modules/@stdlib/math/base/napi/quaternary/README.md
  lib/node_modules/@stdlib/math/base/napi/quaternary/include/stdlib/math/base/napi/quaternary.h
  lib/node_modules/@stdlib/math/base/napi/quaternary/include/stdlib/math/base/napi/quaternary/dddd_d.h
  lib/node_modules/@stdlib/math/base/napi/quaternary/include/stdlib/math/base/napi/quaternary/ffff_f.h
  lib/node_modules/@stdlib/math/base/napi/quaternary/manifest.json
  lib/node_modules/@stdlib/math/base/napi/quaternary/src/dddd_d.c
  lib/node_modules/@stdlib/math/base/napi/quaternary/src/ffff_f.c
Labels: Math, Native Addons, C

#5541 refactor: move implementations and macros to separate files
  lib/node_modules/@stdlib/math/base/napi/quinary/README.md
  lib/node_modules/@stdlib/math/base/napi/quinary/include/stdlib/math/base/napi/quinary.h
  lib/node_modules/@stdlib/math/base/napi/quinary/include/stdlib/math/base/napi/quinary/ddddd_d.h
  lib/node_modules/@stdlib/math/base/napi/quinary/include/stdlib/math/base/napi/quinary/fffff_f.h
  lib/node_modules/@stdlib/math/base/napi/quinary/manifest.json
  lib/node_modules/@stdlib/math/base/napi/quinary/src/ddddd_d.c
  lib/node_modules/@stdlib/math/base/napi/quinary/src/fffff_f.c
Labels: Needs Review, Math, Native Addons, C

#5544 refactor: move implementations and macros to separate files
  lib/node_modules/@stdlib/math/base/napi/unary/README.md
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/c_c.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/c_f.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/d_d.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/f_f.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/f_i.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/i_d.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/i_f.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/i_i.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/z_d.h
  lib/node_modules/@stdlib/math/base/napi/unary/include/stdlib/math/base/napi/unary/z_z.h
  lib/node_modules/@stdlib/math/base/napi/unary/manifest.json
  lib/node_modules/@stdlib/math/base/napi/unary/src/c_c.c
  lib/node_modules/@stdlib/math/base/napi/unary/src/c_f.c
  lib/node_modules/@stdlib/math/base/napi/unary/src/d_d.c
  lib/node_modules/@stdlib/math/base/napi/unary/src/f_f.c
  lib/node_modules/@stdlib/math/base/napi/unary/src/f_i.c
  lib/node_modules/@stdlib/math/base/napi/unary/src/i_d.c
  lib/node_modules/@stdlib/math/base/napi/unary/src/i_f.c
  lib/node_modules/@stdlib/math/base/napi/unary/src/i_i.c
  lib/node_modules/@stdlib/math/base/napi/unary/src/main.c
  lib/node_modules/@stdlib/math/base/napi/unary/src/z_d.c
  lib/node_modules/@stdlib/math/base/napi/unary/src/z_z.c
Labels: Math, Native Addons, C

#5545 feat: add `DIII_D` macro in `math/base/napi/quaternary`
  lib/node_modules/@stdlib/math/base/napi/quaternary/README.md
  lib/node_modules/@stdlib/math/base/napi/quaternary/include/stdlib/math/base/napi/quaternary.h
  lib/node_modules/@stdlib/math/base/napi/quaternary/include/stdlib/math/base/napi/quaternary/diii_d.h
  lib/node_modules/@stdlib/math/base/napi/quaternary/manifest.json
  lib/node_modules/@stdlib/math/base/napi/quaternary/src/diii_d.c
Labels: Math, Native Addons, C

#5546 docs: fix typo by replacing `int_32` with `int32_t`
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary/did_d.h
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary/dii_d.h
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary/iid_d.h
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary/iii_d.h
Labels: Math, Native Addons, C

#5397 bench: refactor random number generation
  lib/node_modules/@stdlib/math/base/special/besselj0/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/besselj0/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/besselj0/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/besselj0/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/besselj0/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/besselj0/test/test.js
  lib/node_modules/@stdlib/math/base/special/besselj1/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/besselj1/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/besselj1/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/besselj1/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/besselj1/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/besselj1/test/test.js
  lib/node_modules/@stdlib/math/base/special/bessely0/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/bessely0/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/bessely0/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/bessely0/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/bessely0/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/bessely0/test/test.js
  lib/node_modules/@stdlib/math/base/special/bessely1/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/bessely1/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/bessely1/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/bessely1/test/test.js
  lib/node_modules/@stdlib/math/base/special/beta/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/beta/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/beta/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/beta/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/beta/test/test.js
Labels: Math, Benchmarks, Ready To Merge

#4560 feat(stats): add C implementation for `stats/base/dists/hypergeometric/skewness`
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/skewness/README.md
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/skewness/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/skewness/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/skewness/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/skewness/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/skewness/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/skewness/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/skewness/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/skewness/include/stdlib/stats/base/dists/hypergeometric/skewness.h
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/skewness/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/skewness/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/skewness/package.json
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/skewness/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/skewness/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/skewness/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/skewness/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4898 feat: add C implementation for `stats/base/dists/planck/entropy`
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/README.md
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/include/stdlib/stats/base/dists/planck/entropy.h
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/package.json
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/test/test.native.js
Labels: Statistics, Ready To Merge

#5638 test: add tests to achieve 100% code coverage
  lib/node_modules/@stdlib/stats/base/dists/triangular/mgf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/triangular/mgf/test/test.mgf.js
  lib/node_modules/@stdlib/stats/base/dists/triangular/mgf/test/test.native.js
Labels: Statistics, Ready To Merge

#5636 test: add tests to achieve 100% code coverage
  lib/node_modules/@stdlib/stats/base/dists/triangular/median/test/fixtures/julia/data.json
  lib/node_modules/@stdlib/stats/base/dists/triangular/median/test/fixtures/julia/data1.json
  lib/node_modules/@stdlib/stats/base/dists/triangular/median/test/fixtures/julia/data2.json
  lib/node_modules/@stdlib/stats/base/dists/triangular/median/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/stats/base/dists/triangular/median/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/triangular/median/test/test.native.js
Labels: Statistics, Ready To Merge

#5693 test: add tests to achieve 100% code coverage
  lib/node_modules/@stdlib/stats/base/dists/triangular/ctor/test/test.js
Labels: Statistics, Ready To Merge

#4565 feat(stats): add C implementation for `stats/base/dists/hypergeometric/pmf`
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/pmf/README.md
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/pmf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/pmf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/pmf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/pmf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/pmf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/pmf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/pmf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/pmf/include/stdlib/stats/base/dists/hypergeometric/pmf.h
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/pmf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/pmf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/pmf/package.json
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/pmf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/pmf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/pmf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/pmf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/pmf/test/test.native.js
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/pmf/test/test.pmf.js
Labels: Statistics, Ready To Merge, Good First PR

#5696 build: add workflow to validate local dev setup via commit metadata
  .github/workflows/check_commit_metadata.yml
  .github/workflows/scripts/check_commit_metadata
Labels: Tools, CI

#5642 feat: add `blas/ext/base/wasm/dapxsumpw`
  lib/node_modules/@stdlib/blas/ext/base/dapxsumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/examples/module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/lib/binary.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/lib/module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/lib/routine.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/package.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/scripts/build.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/scripts/template.txt
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/src/Makefile
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/src/exports.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/src/main.wasm
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/src/main.wat
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/test/test.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/test/test.module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/test/test.module.main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumpw/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#5728 chore: address commit comment
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/manifest.json
Labels: Statistics, Ready To Merge, First-time Contributor, Good First PR

#5725 chore: address commit comment
  lib/node_modules/@stdlib/stats/base/dists/triangular/median/test/fixtures/julia/runner.jl
Labels: Statistics, Ready To Merge, Good First PR

#5731 chore: address commit comment
  lib/node_modules/@stdlib/stats/base/dists/normal/pdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/normal/pdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/normal/pdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/normal/pdf/examples/c/example.c
Labels: Statistics, Ready To Merge, Good First PR

#5416 style: fix lint errors
  lib/node_modules/@stdlib/math/base/special/logit/README.md
Labels: Math, Ready To Merge

#5408 docs: fix C lint errors
  lib/node_modules/@stdlib/math/base/special/nonfibonacci/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvarm/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/svariance/benchmark/c/benchmark.length.c
Labels: Ready To Merge

#5757 chore: address commit comment
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/logpmf/README.md
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/logpmf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/logpmf/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#5758 chore: address commit comment
  lib/node_modules/@stdlib/stats/base/dvariance/README.md
Labels: Statistics, Ready To Merge, Good First PR

#5770 docs: update examples for `blas/base/wasm/zswap`
  lib/node_modules/@stdlib/blas/base/wasm/zswap/README.md
  lib/node_modules/@stdlib/blas/base/wasm/zswap/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/wasm/zswap/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/wasm/zswap/lib/index.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/lib/main.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/lib/routine.js
Labels: BLAS, Ready To Merge, Good First PR

#5736 chore: address commit comment
  lib/node_modules/@stdlib/stats/base/dists/geometric/variance/README.md
Labels: Statistics, Ready To Merge, Good First PR

#5543 chore: fix EditorConfig lint errors
  lib/node_modules/@stdlib/_tools/eslint/rules/no-nested-require/examples/index.js
  lib/node_modules/@stdlib/_tools/github/user-details/lib/defaults.json
  lib/node_modules/@stdlib/error/reviver/examples/index.js
  lib/node_modules/@stdlib/math/base/special/rsqrt/manifest.json
  lib/node_modules/@stdlib/ndarray/base/strides2offset/manifest.json
  lib/node_modules/@stdlib/strided/napi/smskmap/manifest.json
Labels: Ready To Merge, First-time Contributor, Good First PR

#5762 fix(buffer): remove unused eslint-disable directives in polyfill.js
  lib/node_modules/@stdlib/buffer/from-string/lib/polyfill.js
Labels: Ready To Merge, First-time Contributor, Good First PR

#5473 fix: update `math/base/special/cosd` to match correct reference implementation
  lib/node_modules/@stdlib/math/base/special/cosd/lib/main.js
  lib/node_modules/@stdlib/math/base/special/cosd/manifest.json
  lib/node_modules/@stdlib/math/base/special/cosd/src/main.c
  lib/node_modules/@stdlib/math/base/special/cosd/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/cosd/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/cosd/test/fixtures/julia/runner.jl
Labels: Math, Ready To Merge

#5775 chore: fix JavaScript lint errors
  lib/node_modules/@stdlib/buffer/from-arraybuffer/lib/main.js
Labels: Ready To Merge, Good First PR

#5744 chore: address commit comments
  lib/node_modules/@stdlib/stats/base/dnanvariancech/README.md
Labels: Statistics, Ready To Merge, First-time Contributor, Good First PR

#5787 bench: update random value generation
  lib/node_modules/@stdlib/math/base/special/spence/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/spence/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/spence/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/spence/benchmark/c/native/benchmark.c
Labels: Math, Ready To Merge

#5763 chore: address commit comments in README, benchmark, and main.c
  lib/node_modules/@stdlib/stats/base/dists/normal/quantile/README.md
  lib/node_modules/@stdlib/stats/base/dists/normal/quantile/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/normal/quantile/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/normal/quantile/src/main.c
Labels: Statistics, Ready To Merge, First-time Contributor, Good First PR

#5270 bench: refactor random number generation in `stats/base/dists/laplace`
  lib/node_modules/@stdlib/stats/base/dists/laplace/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/entropy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/kurtosis/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/logcdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/logpdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/median/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/mgf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/mode/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/mode/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/pdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/skewness/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/stdev/benchmark/benchmark.native.js
Labels: Statistics, Ready To Merge, Good First PR

#5517 feat: add C implementation for `@stdlib/stats/base/dists/frechet/logcdf`
  lib/node_modules/@stdlib/stats/base/dists/frechet/logcdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/frechet/logcdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/logcdf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/frechet/logcdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/logcdf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/frechet/logcdf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/frechet/logcdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/logcdf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/frechet/logcdf/include/stdlib/stats/base/dists/frechet/logcdf.h
  lib/node_modules/@stdlib/stats/base/dists/frechet/logcdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/logcdf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/frechet/logcdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/frechet/logcdf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/frechet/logcdf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/logcdf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/logcdf/test/test.native.js
Labels: Statistics, Ready To Merge, First-time Contributor, Good First PR

#5786 bench: update random value generation
  lib/node_modules/@stdlib/math/base/special/sqrt/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sqrt/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sqrt/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sqrt/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sqrt/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sqrt/test/test.js
  lib/node_modules/@stdlib/math/base/special/sqrt/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/benchmark/cpp/boost/benchmark.cpp
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/test/test.js
  lib/node_modules/@stdlib/math/base/special/sqrt1pm1/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/sqrtf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sqrtf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sqrtf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sqrtf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sqrtf/test/test.js
  lib/node_modules/@stdlib/math/base/special/sqrtf/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/sqrtpi/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sqrtpi/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sqrtpi/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sqrtpi/test/test.js
  lib/node_modules/@stdlib/math/base/special/sqrtpi/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/sqrtpif/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sqrtpif/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sqrtpif/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sqrtpif/test/test.js
  lib/node_modules/@stdlib/math/base/special/sqrtpif/test/test.native.js
Labels: Math, Ready To Merge

#5465 bench: refactor random value generation
  lib/node_modules/@stdlib/math/base/special/binet/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/binet/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/binet/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/binet/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/binet/test/test.js
  lib/node_modules/@stdlib/math/base/special/binomcoef/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/binomcoef/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/binomcoef/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/binomcoef/test/test.js
  lib/node_modules/@stdlib/math/base/special/boxcox/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/boxcox/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/boxcox/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/boxcox/test/test.js
  lib/node_modules/@stdlib/math/base/special/boxcox/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/boxcox1p/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/boxcox1p/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/boxcox1p/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/boxcox1p/test/test.js
  lib/node_modules/@stdlib/math/base/special/boxcox1p/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/test/test.js
  lib/node_modules/@stdlib/math/base/special/boxcox1pinv/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/test/test.js
  lib/node_modules/@stdlib/math/base/special/boxcoxinv/test/test.native.js
Labels: Math, Ready To Merge

#5794 test: pass in missing `opts` argument
  lib/node_modules/@stdlib/stats/base/dists/uniform/stdev/test/test.native.js
Labels: Statistics, Ready To Merge

#4142 feat: add C implementation for `stats/base/dists/uniform/mgf`
  lib/node_modules/@stdlib/stats/base/dists/uniform/mgf/README.md
  lib/node_modules/@stdlib/stats/base/dists/uniform/mgf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/mgf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/uniform/mgf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/mgf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/uniform/mgf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/uniform/mgf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/mgf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/uniform/mgf/include/stdlib/stats/base/dists/uniform/mgf.h
  lib/node_modules/@stdlib/stats/base/dists/uniform/mgf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/mgf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/uniform/mgf/package.json
  lib/node_modules/@stdlib/stats/base/dists/uniform/mgf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/uniform/mgf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/mgf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/mgf/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4869 feat: add C implementation for `stats/base/dists/bernoulli/quantile`
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/quantile/README.md
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/quantile/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/quantile/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/quantile/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/quantile/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/quantile/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/quantile/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/quantile/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/quantile/include/stdlib/stats/base/dists/bernoulli/quantile.h
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/quantile/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/quantile/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/quantile/package.json
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/quantile/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/quantile/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/quantile/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/quantile/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#5515 chore: fix JavaScript lint errors
  lib/node_modules/@stdlib/_tools/github/get/lib/cache.js
  lib/node_modules/@stdlib/_tools/pkgs/browser-entry-points/lib/sync.js
Labels: Tools, Ready To Merge, Good First PR

#5342 bench: refactor random number generation in `stats/base/dists/weibull`
  lib/node_modules/@stdlib/stats/base/dists/weibull/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/cdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/logcdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/logcdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/logpdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/logpdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/mean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/median/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/median/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/mgf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/mode/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/pdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/pdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/weibull/variance/benchmark/benchmark.js
Labels: Statistics, Ready To Merge

#5295 feat: add `stats/base/dists/bradford/quantile`
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/README.md
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/docs/img/equation_bradford_quantile_function.svg
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/lib/factory.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/lib/index.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/lib/main.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/package.json
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/test/fixtures/python/large_c.json
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/test/fixtures/python/medium_c.json
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/test/fixtures/python/small_c.json
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/test/test.quantile.js
Labels: Statistics, Ready To Merge

#5799 Address commit comments (commit cdcb256)
  lib/node_modules/@stdlib/stats/base/dists/normal/pdf/README.md
Labels: Statistics, Ready To Merge, First-time Contributor, Good First PR

#5435 feat: add `math/base/special/sind`
  lib/node_modules/@stdlib/math/base/special/sind/README.md
  lib/node_modules/@stdlib/math/base/special/sind/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sind/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sind/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/sind/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sind/binding.gyp
  lib/node_modules/@stdlib/math/base/special/sind/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/sind/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/sind/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/sind/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/sind/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/sind/examples/index.js
  lib/node_modules/@stdlib/math/base/special/sind/include.gypi
  lib/node_modules/@stdlib/math/base/special/sind/include/stdlib/math/base/special/sind.h
  lib/node_modules/@stdlib/math/base/special/sind/lib/index.js
  lib/node_modules/@stdlib/math/base/special/sind/lib/main.js
  lib/node_modules/@stdlib/math/base/special/sind/lib/native.js
  lib/node_modules/@stdlib/math/base/special/sind/manifest.json
  lib/node_modules/@stdlib/math/base/special/sind/package.json
  lib/node_modules/@stdlib/math/base/special/sind/src/Makefile
  lib/node_modules/@stdlib/math/base/special/sind/src/addon.c
  lib/node_modules/@stdlib/math/base/special/sind/src/main.c
  lib/node_modules/@stdlib/math/base/special/sind/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/sind/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/sind/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/sind/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/sind/test/test.js
  lib/node_modules/@stdlib/math/base/special/sind/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge

#5810 fix: update `math/base/special/secd` to match correct reference implementation
  lib/node_modules/@stdlib/math/base/special/secd/README.md
  lib/node_modules/@stdlib/math/base/special/secd/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/secd/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/secd/lib/index.js
  lib/node_modules/@stdlib/math/base/special/secd/lib/main.js
  lib/node_modules/@stdlib/math/base/special/secd/lib/native.js
  lib/node_modules/@stdlib/math/base/special/secd/manifest.json
  lib/node_modules/@stdlib/math/base/special/secd/src/main.c
  lib/node_modules/@stdlib/math/base/special/secd/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/secd/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/secd/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/secd/test/test.js
  lib/node_modules/@stdlib/math/base/special/secd/test/test.native.js
Labels: Math, Ready To Merge

#5811 fix: update `math/base/special/cscd` to match correct reference implementation
  lib/node_modules/@stdlib/math/base/special/cscd/README.md
  lib/node_modules/@stdlib/math/base/special/cscd/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/cscd/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/cscd/lib/index.js
  lib/node_modules/@stdlib/math/base/special/cscd/lib/main.js
  lib/node_modules/@stdlib/math/base/special/cscd/lib/native.js
  lib/node_modules/@stdlib/math/base/special/cscd/manifest.json
  lib/node_modules/@stdlib/math/base/special/cscd/src/main.c
  lib/node_modules/@stdlib/math/base/special/cscd/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/cscd/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/cscd/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/cscd/test/test.js
  lib/node_modules/@stdlib/math/base/special/cscd/test/test.native.js
Labels: Math, Ready To Merge

#5742 build: add an `ESLint` rule to disallow global `BigInt` literal and constructor
  etc/eslint/rules/stdlib.js
  lib/node_modules/@stdlib/_tools/eslint/rules/lib/index.js
  lib/node_modules/@stdlib/_tools/eslint/rules/no-builtin-big-int/README.md
  lib/node_modules/@stdlib/_tools/eslint/rules/no-builtin-big-int/examples/index.js
  lib/node_modules/@stdlib/_tools/eslint/rules/no-builtin-big-int/lib/index.js
  lib/node_modules/@stdlib/_tools/eslint/rules/no-builtin-big-int/lib/main.js
  lib/node_modules/@stdlib/_tools/eslint/rules/no-builtin-big-int/package.json
  lib/node_modules/@stdlib/_tools/eslint/rules/no-builtin-big-int/test/fixtures/invalid.js
  lib/node_modules/@stdlib/_tools/eslint/rules/no-builtin-big-int/test/fixtures/unvalidated.js
  lib/node_modules/@stdlib/_tools/eslint/rules/no-builtin-big-int/test/fixtures/valid.js
  lib/node_modules/@stdlib/_tools/eslint/rules/no-builtin-big-int/test/test.js
Labels: Tools, Ready To Merge

#5320 chore: address commit comments
  lib/node_modules/@stdlib/stats/base/dists/uniform/stdev/lib/main.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/stdev/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/stdev/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/stdev/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#5804 chore: fix C lint errors
  lib/node_modules/@stdlib/math/strided/special/sramp/benchmark/c/benchmark.length.c
Labels: Math, Ready To Merge, First-time Contributor

#5827 chore: address commit comment
  lib/node_modules/@stdlib/stats/base/dists/geometric/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/geometric/cdf/src/main.c
Labels: Statistics, Ready To Merge, Good First PR

#5819 chore: require process module to resolve lint error
  lib/node_modules/@stdlib/assert/is-electron-main/lib/process.js
Labels: Ready To Merge, First-time Contributor, Good First PR

#5838 bench: replace custom `sincos` function with built-in Julia implementation
  lib/node_modules/@stdlib/math/base/special/sincos/benchmark/julia/benchmark.jl
Labels: Math, Ready To Merge

#4091 feat: add C implementation for `stats/base/dists/geometric/median`
  lib/node_modules/@stdlib/stats/base/dists/geometric/median/README.md
  lib/node_modules/@stdlib/stats/base/dists/geometric/median/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/median/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/geometric/median/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/median/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/geometric/median/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/geometric/median/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/median/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/geometric/median/include/stdlib/stats/base/dists/geometric/median.h
  lib/node_modules/@stdlib/stats/base/dists/geometric/median/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/median/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/geometric/median/package.json
  lib/node_modules/@stdlib/stats/base/dists/geometric/median/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/geometric/median/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/median/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/median/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#5834 bench: refactor random generation in `math/base/special/ceil*`
  lib/node_modules/@stdlib/math/base/special/ccis/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ccis/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ccis/test/test.js
  lib/node_modules/@stdlib/math/base/special/ccis/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/ceil/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/ceil/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ceil/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ceil/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ceil/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ceil/test/test.js
  lib/node_modules/@stdlib/math/base/special/ceil/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/ceil10/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/ceil10/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ceil10/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ceil10/test/test.js
  lib/node_modules/@stdlib/math/base/special/ceil2/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/ceil2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ceil2/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ceil2/test/test.js
  lib/node_modules/@stdlib/math/base/special/ceilb/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/ceilb/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ceilb/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ceilb/test/test.js
  lib/node_modules/@stdlib/math/base/special/ceilb/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/ceilf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/ceilf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ceilf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ceilf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ceilf/test/test.js
  lib/node_modules/@stdlib/math/base/special/ceilf/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/ceiln/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/ceiln/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ceiln/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ceiln/test/test.js
  lib/node_modules/@stdlib/math/base/special/ceiln/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/ceilsd/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/ceilsd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/ceilsd/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/ceilsd/test/test.js
Labels: Math, Ready To Merge

#4094 feat: add C implementation for `stats/base/dists/geometric/quantile`
  lib/node_modules/@stdlib/stats/base/dists/geometric/quantile/README.md
  lib/node_modules/@stdlib/stats/base/dists/geometric/quantile/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/quantile/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/geometric/quantile/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/quantile/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/geometric/quantile/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/geometric/quantile/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/quantile/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/geometric/quantile/include/stdlib/stats/base/dists/geometric/quantile.h
  lib/node_modules/@stdlib/stats/base/dists/geometric/quantile/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/quantile/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/geometric/quantile/package.json
  lib/node_modules/@stdlib/stats/base/dists/geometric/quantile/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/geometric/quantile/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/quantile/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/quantile/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#5813 fix: update `math/base/special/cotd` to match correct reference implementation
  lib/node_modules/@stdlib/math/base/special/cotd/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/cotd/lib/main.js
  lib/node_modules/@stdlib/math/base/special/cotd/manifest.json
  lib/node_modules/@stdlib/math/base/special/cotd/src/main.c
  lib/node_modules/@stdlib/math/base/special/cotd/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/cotd/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/cotd/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/cotd/test/test.js
  lib/node_modules/@stdlib/math/base/special/cotd/test/test.native.js
Labels: Math, Ready To Merge

#5845 chore: remove duplicate keywords
  lib/node_modules/@stdlib/stats/base/dists/bradford/cdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/bradford/entropy/package.json
  lib/node_modules/@stdlib/stats/base/dists/bradford/mean/package.json
  lib/node_modules/@stdlib/stats/base/dists/bradford/median/package.json
  lib/node_modules/@stdlib/stats/base/dists/bradford/mode/package.json
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/package.json
  lib/node_modules/@stdlib/stats/base/dists/bradford/stdev/package.json
  lib/node_modules/@stdlib/stats/base/dists/bradford/variance/package.json
Labels: Statistics, Ready To Merge

#5844 chore(array): fix incorrect JSDoc type
  lib/node_modules/@stdlib/array/filled/lib/main.js
Labels: Ready To Merge, Good First PR

#5846 docs: fix example values in `stats/base/dists/bradford/quantile`
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/lib/index.js
Labels: Statistics, Ready To Merge

#5852 chore(plot): replace array pre-allocation with push
  lib/node_modules/@stdlib/plot/components/svg/symbols/lib/render/closed_circles.js
Labels: Ready To Merge, Good First PR

#5837 feat: add `math/base/special/sincosd`
  lib/node_modules/@stdlib/math/base/special/sincosd/README.md
  lib/node_modules/@stdlib/math/base/special/sincosd/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sincosd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sincosd/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/sincosd/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sincosd/benchmark/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/sincosd/benchmark/julia/benchmark.jl
  lib/node_modules/@stdlib/math/base/special/sincosd/binding.gyp
  lib/node_modules/@stdlib/math/base/special/sincosd/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/sincosd/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/sincosd/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/sincosd/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/sincosd/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/sincosd/examples/index.js
  lib/node_modules/@stdlib/math/base/special/sincosd/include.gypi
  lib/node_modules/@stdlib/math/base/special/sincosd/include/stdlib/math/base/special/sincosd.h
  lib/node_modules/@stdlib/math/base/special/sincosd/lib/assign.js
  lib/node_modules/@stdlib/math/base/special/sincosd/lib/index.js
  lib/node_modules/@stdlib/math/base/special/sincosd/lib/main.js
  lib/node_modules/@stdlib/math/base/special/sincosd/lib/native.js
  lib/node_modules/@stdlib/math/base/special/sincosd/manifest.json
  lib/node_modules/@stdlib/math/base/special/sincosd/package.json
  lib/node_modules/@stdlib/math/base/special/sincosd/src/Makefile
  lib/node_modules/@stdlib/math/base/special/sincosd/src/addon.c
  lib/node_modules/@stdlib/math/base/special/sincosd/src/main.c
  lib/node_modules/@stdlib/math/base/special/sincosd/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/sincosd/test/fixtures/julia/huge_negative.json
  lib/node_modules/@stdlib/math/base/special/sincosd/test/fixtures/julia/huge_positive.json
  lib/node_modules/@stdlib/math/base/special/sincosd/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/sincosd/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/sincosd/test/fixtures/julia/medium_negative.json
  lib/node_modules/@stdlib/math/base/special/sincosd/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/sincosd/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/sincosd/test/test.assign.js
  lib/node_modules/@stdlib/math/base/special/sincosd/test/test.js
  lib/node_modules/@stdlib/math/base/special/sincosd/test/test.main.js
  lib/node_modules/@stdlib/math/base/special/sincosd/test/test.native.js
Labels: Math, Ready To Merge

#5266 feat: update random number generation function in `triangular/logpdf`
  lib/node_modules/@stdlib/stats/base/dists/triangular/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/triangular/logpdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/triangular/logpdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/triangular/logpdf/examples/index.js
Labels: Statistics, Benchmarks, Ready To Merge

#5280 feat: add `stats/base/dists/bradford/pdf`
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/docs/img/equation_bradford_pdf.svg
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/lib/factory.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/lib/index.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/lib/main.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/test/fixtures/python/large_c.json
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/test/fixtures/python/medium_c.json
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/test/fixtures/python/small_c.json
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/test/test.pdf.js
Labels: Statistics, Ready To Merge

#5866 docs: update function descriptions
  lib/node_modules/@stdlib/math/base/special/sincos/README.md
  lib/node_modules/@stdlib/math/base/special/sincos/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/sincos/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/sincos/include/stdlib/math/base/special/sincos.h
  lib/node_modules/@stdlib/math/base/special/sincos/lib/assign.js
  lib/node_modules/@stdlib/math/base/special/sincos/lib/index.js
  lib/node_modules/@stdlib/math/base/special/sincos/lib/main.js
  lib/node_modules/@stdlib/math/base/special/sincos/lib/native.js
  lib/node_modules/@stdlib/math/base/special/sincos/package.json
  lib/node_modules/@stdlib/math/base/special/sincos/src/main.c
Labels: Math, Ready To Merge

#5737 remove: remove `addf` from namespace
  lib/node_modules/@stdlib/math/base/ops/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/ops/lib/index.js
Labels: release: Major, Math

#5872 test: fix use of `tape.skip`
  lib/node_modules/@stdlib/math/base/special/cscd/test/test.native.js
Labels: Math, Tests

#5875 chore: address commit comments
  lib/node_modules/@stdlib/math/base/special/sincos/README.md
  lib/node_modules/@stdlib/math/base/special/sincos/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sincos/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/sincos/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/sincos/test/test.assign.js
  lib/node_modules/@stdlib/math/base/special/sincos/test/test.main.js
Labels: Math

#5918 bench: suppress uninitialized variable warning
  lib/node_modules/@stdlib/blas/base/sdot/benchmark/c/benchmark.length.c
Labels: BLAS

#5824 feat: add `blas/base/wasm/srotm`
  lib/node_modules/@stdlib/blas/base/wasm/srotm/README.md
  lib/node_modules/@stdlib/blas/base/wasm/srotm/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/wasm/srotm/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/wasm/srotm/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/wasm/srotm/examples/index.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/examples/module.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/lib/binary.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/lib/index.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/lib/main.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/lib/module.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/lib/routine.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/manifest.json
  lib/node_modules/@stdlib/blas/base/wasm/srotm/package.json
  lib/node_modules/@stdlib/blas/base/wasm/srotm/scripts/build.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/wasm/srotm/src/Makefile
  lib/node_modules/@stdlib/blas/base/wasm/srotm/src/exports.json
  lib/node_modules/@stdlib/blas/base/wasm/srotm/src/main.wasm
  lib/node_modules/@stdlib/blas/base/wasm/srotm/src/main.wat
  lib/node_modules/@stdlib/blas/base/wasm/srotm/test/test.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/test/test.main.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/test/test.module.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/srotm/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#5910 chore: fix EditorConfig lint errors by replacing tabs with spaces
  lib/node_modules/@stdlib/datasets/sotu/lib/party.json
  lib/node_modules/@stdlib/math/strided/special/dmskabs2/manifest.json
Labels: Ready To Merge, First-time Contributor

#5929 docs(bradford): update readme to fix typo
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/README.md
Labels: Statistics, Ready To Merge, First-time Contributor, Good First PR

#5927 chore: address commit comments
  lib/node_modules/@stdlib/stats/base/dists/triangular/logcdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/triangular/logcdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/triangular/logcdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/triangular/logcdf/src/main.c
Labels: Statistics, Ready To Merge, First-time Contributor, Good First PR

#5931 feat!: migrate `math/base/ops/umuldw` to `number/uint32/base/muldw`
  lib/node_modules/@stdlib/math/base/ops/README.md
  lib/node_modules/@stdlib/math/base/ops/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/ops/lib/index.js
  lib/node_modules/@stdlib/namespace/alias2pkg/data/data.csv
  lib/node_modules/@stdlib/namespace/alias2pkg/data/data.json
  lib/node_modules/@stdlib/namespace/alias2standalone/data/data.csv
  lib/node_modules/@stdlib/namespace/alias2standalone/data/data.json
  lib/node_modules/@stdlib/namespace/lib/namespace/base/u.js
  lib/node_modules/@stdlib/namespace/pkg2alias/data/data.csv
  lib/node_modules/@stdlib/namespace/pkg2alias/data/data.json
  lib/node_modules/@stdlib/namespace/pkg2related/data/data.csv
  lib/node_modules/@stdlib/namespace/pkg2related/data/data.json
  lib/node_modules/@stdlib/namespace/pkg2standalone/data/data.csv
  lib/node_modules/@stdlib/namespace/pkg2standalone/data/data.json
  lib/node_modules/@stdlib/namespace/standalone2pkg/data/data.csv
  lib/node_modules/@stdlib/namespace/standalone2pkg/data/data.json
  lib/node_modules/@stdlib/number/uint32/base/muldw/README.md
  lib/node_modules/@stdlib/number/uint32/base/muldw/benchmark/benchmark.js
  lib/node_modules/@stdlib/number/uint32/base/muldw/docs/repl.txt
  lib/node_modules/@stdlib/number/uint32/base/muldw/docs/types/index.d.ts
  lib/node_modules/@stdlib/number/uint32/base/muldw/docs/types/test.ts
  lib/node_modules/@stdlib/number/uint32/base/muldw/examples/index.js
  lib/node_modules/@stdlib/number/uint32/base/muldw/lib/assign.js
  lib/node_modules/@stdlib/number/uint32/base/muldw/lib/index.js
  lib/node_modules/@stdlib/number/uint32/base/muldw/lib/main.js
  lib/node_modules/@stdlib/number/uint32/base/muldw/package.json
  lib/node_modules/@stdlib/number/uint32/base/muldw/test/fixtures/c/Makefile
  lib/node_modules/@stdlib/number/uint32/base/muldw/test/fixtures/c/data.json
  lib/node_modules/@stdlib/number/uint32/base/muldw/test/fixtures/c/runner.c
  lib/node_modules/@stdlib/number/uint32/base/muldw/test/test.assign.js
  lib/node_modules/@stdlib/number/uint32/base/muldw/test/test.js
  lib/node_modules/@stdlib/number/uint32/base/muldw/test/test.main.js
  lib/node_modules/@stdlib/repl/data/contributor.json
Labels: release: Major, Math

#5805 docs: update examples for `blas/base/wasm/zdrot`
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/README.md
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/lib/index.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/lib/main.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/lib/routine.js
Labels: Documentation, BLAS

#5944 test: validate implementation against Julia test fixtures
  lib/node_modules/@stdlib/math/base/special/kernel-tan/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/kernel-tan/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/kernel-tan/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/kernel-tan/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/kernel-tan/test/fixtures/julia/small_range.json
  lib/node_modules/@stdlib/math/base/special/kernel-tan/test/test.js
  lib/node_modules/@stdlib/math/base/special/kernel-tan/test/test.native.js
Labels: Math, Tests

#5942 test: validate implementation against Julia test fixtures
  lib/node_modules/@stdlib/math/base/special/kernel-sin/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/kernel-sin/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/kernel-sin/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/kernel-sin/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/kernel-sin/test/fixtures/julia/small_range.json
  lib/node_modules/@stdlib/math/base/special/kernel-sin/test/test.js
  lib/node_modules/@stdlib/math/base/special/kernel-sin/test/test.native.js
Labels: Math, Tests

#5847 test: validate implementation against Julia test fixtures
  lib/node_modules/@stdlib/math/base/special/kernel-cos/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/kernel-cos/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/kernel-cos/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/kernel-cos/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/kernel-cos/test/fixtures/julia/small_range.json
  lib/node_modules/@stdlib/math/base/special/kernel-cos/test/test.js
  lib/node_modules/@stdlib/math/base/special/kernel-cos/test/test.native.js
Labels: Math, Tests

#5884 bench: refactor benchmarks in `math/base/special/gamma`
  lib/node_modules/@stdlib/math/base/special/gamma/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/gamma/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/gamma/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/gamma/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/gamma/benchmark/c/cephes/Makefile
  lib/node_modules/@stdlib/math/base/special/gamma/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/gamma/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/gamma/benchmark/c/native/benchmark.c
Labels: Math, Benchmarks

#5807 fix: update `math/base/special/tand` to match correct reference implementation
  lib/node_modules/@stdlib/math/base/special/tand/lib/main.js
  lib/node_modules/@stdlib/math/base/special/tand/manifest.json
  lib/node_modules/@stdlib/math/base/special/tand/src/main.c
  lib/node_modules/@stdlib/math/base/special/tand/test/fixtures/julia/negative.json
  lib/node_modules/@stdlib/math/base/special/tand/test/fixtures/julia/positive.json
  lib/node_modules/@stdlib/math/base/special/tand/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/tand/test/test.js
  lib/node_modules/@stdlib/math/base/special/tand/test/test.native.js
Labels: Math, Ready To Merge

#5413 feat: add C ndarray interface and refactor implementation for `stats/base/dnanstdevtk`
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/README.md
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/examples/index.js
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/include/stdlib/stats/base/dnanstdevtk.h
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/lib/dnanstdevtk.js
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/lib/dnanstdevtk.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/lib/index.js
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/src/dnanstdevtk.c
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/src/main.c
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/test/test.dnanstdevtk.js
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/test/test.dnanstdevtk.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/test/test.ndarray.native.js
Labels: Statistics, Ready To Merge

#5955 chore(sincosd): address commit comments in 6d7317a #5893
  lib/node_modules/@stdlib/math/base/special/sincosd/README.md
  lib/node_modules/@stdlib/math/base/special/sincosd/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sincosd/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/sincosd/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/dists/levy/median/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/levy/median/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/levy/median/test/test.native.js
Labels: Ready To Merge, First-time Contributor, Good First PR

#5406 feat: add C ndarray interface and refactor implementation for `stats/base/dnanstdevwd`
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/README.md
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/examples/index.js
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/include/stdlib/stats/base/dnanstdevwd.h
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/lib/dnanstdevwd.js
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/lib/dnanstdevwd.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/lib/index.js
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/src/dnanstdevwd.c
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/src/main.c
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/test/test.dnanstdevwd.js
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/test/test.dnanstdevwd.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/test/test.ndarray.native.js
Labels: Statistics, Ready To Merge

#5972 chore: address commit comment
  lib/node_modules/@stdlib/stats/base/dists/geometric/quantile/src/main.c
Labels: Statistics, Ready To Merge, Good First PR

#5970 chore: fix EditorConfig lint errors
  lib/node_modules/@stdlib/math/strided/special/deg2rad/manifest.json
  lib/node_modules/@stdlib/ndarray/base/napi/manifest.json
Labels: Ready To Merge, First-time Contributor, Good First PR

#5976 feat(stats): add nanmean package
  lib/node_modules/@stdlib/stats/incr/nanmean/README.md
  lib/node_modules/@stdlib/stats/incr/nanmean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/incr/nanmean/docs/img/equation_arithmetic_mean.svg
  lib/node_modules/@stdlib/stats/incr/nanmean/docs/repl.txt
  lib/node_modules/@stdlib/stats/incr/nanmean/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/incr/nanmean/docs/types/test.ts
  lib/node_modules/@stdlib/stats/incr/nanmean/examples/index.js
  lib/node_modules/@stdlib/stats/incr/nanmean/lib/index.js
  lib/node_modules/@stdlib/stats/incr/nanmean/lib/main.js
  lib/node_modules/@stdlib/stats/incr/nanmean/package.json
  lib/node_modules/@stdlib/stats/incr/nanmean/test/test.js
Labels: Feature, Statistics, Good First PR

#5988 chore: update `runner.jl` to follow current project conventions
  lib/node_modules/@stdlib/math/base/special/sincos/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/sincosd/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/sincospi/test/fixtures/julia/runner.jl
Labels: Math

#5958 remove: remove `divf` from namespace
  lib/node_modules/@stdlib/math/base/ops/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/ops/lib/index.js
Labels: release: Major, Math

#5959 bench: refactor benchmarks in `math/base/special/asec`
  lib/node_modules/@stdlib/math/base/special/asec/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/asec/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/asec/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/asec/benchmark/c/native/benchmark.c
Labels: Math, Benchmarks

#5987 bench: update random value generation
  lib/node_modules/@stdlib/math/base/special/sincos/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sincos/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sincos/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sincos/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sincos/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sincosd/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sincospi/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sincospi/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sincospi/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sincospi/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sincospi/test/test.assign.js
  lib/node_modules/@stdlib/math/base/special/sincospi/test/test.main.js
  lib/node_modules/@stdlib/math/base/special/sincospi/test/test.native.js
Labels: Math, Benchmarks

#5968 feat: add `blas/ext/base/wasm/dnansumpw`
  lib/node_modules/@stdlib/blas/ext/base/dnansumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/examples/module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/lib/binary.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/lib/module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/lib/routine.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/package.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/scripts/build.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/scripts/template.txt
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/src/Makefile
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/src/exports.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/src/main.wasm
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/src/main.wat
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/test/test.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/test/test.module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/test/test.module.main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dnansumpw/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#4395 feat: add C `ndarray` interface and refactor implementation for `stats/base/dsnanmean`
  lib/node_modules/@stdlib/stats/base/dsnanmean/README.md
  lib/node_modules/@stdlib/stats/base/dsnanmean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dsnanmean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmean/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dsnanmean/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmean/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dsnanmean/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dsnanmean/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dsnanmean/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dsnanmean/include/stdlib/stats/base/dsnanmean.h
  lib/node_modules/@stdlib/stats/base/dsnanmean/lib/dsnanmean.js
  lib/node_modules/@stdlib/stats/base/dsnanmean/lib/dsnanmean.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmean/lib/index.js
  lib/node_modules/@stdlib/stats/base/dsnanmean/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dsnanmean/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmean/manifest.json
  lib/node_modules/@stdlib/stats/base/dsnanmean/src/addon.c
  lib/node_modules/@stdlib/stats/base/dsnanmean/src/dsnanmean.c
  lib/node_modules/@stdlib/stats/base/dsnanmean/src/main.c
  lib/node_modules/@stdlib/stats/base/dsnanmean/test/test.dsnanmean.js
  lib/node_modules/@stdlib/stats/base/dsnanmean/test/test.dsnanmean.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmean/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dsnanmean/test/test.ndarray.native.js
Labels: Feature, Statistics, C

#4766 feat: add C ndarray interface and refactor implementation for `stats/base/svariancepn`
  lib/node_modules/@stdlib/stats/base/svariancepn/README.md
  lib/node_modules/@stdlib/stats/base/svariancepn/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/svariancepn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/svariancepn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/svariancepn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/svariancepn/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/svariancepn/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/svariancepn/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/svariancepn/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/svariancepn/include/stdlib/stats/base/svariancepn.h
  lib/node_modules/@stdlib/stats/base/svariancepn/lib/index.js
  lib/node_modules/@stdlib/stats/base/svariancepn/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/svariancepn/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/svariancepn/lib/svariancepn.js
  lib/node_modules/@stdlib/stats/base/svariancepn/lib/svariancepn.native.js
  lib/node_modules/@stdlib/stats/base/svariancepn/manifest.json
  lib/node_modules/@stdlib/stats/base/svariancepn/src/addon.c
  lib/node_modules/@stdlib/stats/base/svariancepn/src/main.c
  lib/node_modules/@stdlib/stats/base/svariancepn/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/svariancepn/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/svariancepn/test/test.svariancepn.js
  lib/node_modules/@stdlib/stats/base/svariancepn/test/test.svariancepn.native.js
Labels: Feature, Statistics

#4687 feat: add C ndarray interface and refactor implementation for `stats/base/dstdevpn`
  lib/node_modules/@stdlib/stats/base/dstdevpn/README.md
  lib/node_modules/@stdlib/stats/base/dstdevpn/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dstdevpn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dstdevpn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dstdevpn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dstdevpn/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dstdevpn/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dstdevpn/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dstdevpn/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dstdevpn/examples/index.js
  lib/node_modules/@stdlib/stats/base/dstdevpn/include/stdlib/stats/base/dstdevpn.h
  lib/node_modules/@stdlib/stats/base/dstdevpn/lib/dstdevpn.js
  lib/node_modules/@stdlib/stats/base/dstdevpn/lib/dstdevpn.native.js
  lib/node_modules/@stdlib/stats/base/dstdevpn/lib/index.js
  lib/node_modules/@stdlib/stats/base/dstdevpn/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dstdevpn/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dstdevpn/manifest.json
  lib/node_modules/@stdlib/stats/base/dstdevpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dstdevpn/src/dstdevpn.c
  lib/node_modules/@stdlib/stats/base/dstdevpn/src/main.c
  lib/node_modules/@stdlib/stats/base/dstdevpn/test/test.dstdevpn.js
  lib/node_modules/@stdlib/stats/base/dstdevpn/test/test.dstdevpn.native.js
  lib/node_modules/@stdlib/stats/base/dstdevpn/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dstdevpn/test/test.ndarray.native.js
Labels: Feature, Statistics, C

#5394 feat: add C ndarray interface and refactor implementation for `stats/base/dnanstdevyc`
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/README.md
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/examples/index.js
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/include/stdlib/stats/base/dnanstdevyc.h
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/lib/dnanstdevyc.js
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/lib/dnanstdevyc.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/lib/index.js
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/src/dnanstdevyc.c
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/src/main.c
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/test/test.dnanstdevyc.js
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/test/test.dnanstdevyc.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/test/test.ndarray.native.js
Labels: Feature, Statistics, C

#5634 feat: add `blas/ext/base/wasm/dapxsum`
  lib/node_modules/@stdlib/blas/ext/base/dapxsum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/README.md
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/examples/module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/lib/binary.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/lib/module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/lib/routine.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/package.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/scripts/build.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/scripts/template.txt
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/src/Makefile
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/src/exports.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/src/main.wasm
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/src/main.wat
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/test/test.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/test/test.module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/test/test.module.main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsum/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#5953 chore: address commit comment
  lib/node_modules/@stdlib/stats/base/dists/normal/mgf/README.md
  lib/node_modules/@stdlib/stats/base/dists/normal/mgf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/normal/mgf/benchmark/c/benchmark.c
Labels: Statistics, Ready To Merge, Good First PR

#5986 chore: resolve EditorConfig lint error
  lib/node_modules/@stdlib/strided/napi/README.md
Labels: Ready To Merge, Good First PR

#6015 chore: address commit comments
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/README.md
  lib/node_modules/@stdlib/stats/base/dnanstdevtk/src/main.c
Labels: Statistics, Ready To Merge, First-time Contributor, Good First PR

#6011 chore: address commit comments
  lib/node_modules/@stdlib/stats/base/dnanstdevwd/README.md
Labels: Statistics, Ready To Merge, Good First PR

#6037 bench: update random value generation
  lib/node_modules/@stdlib/math/base/special/sici/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sici/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sici/test/test.assign.js
  lib/node_modules/@stdlib/math/base/special/sici/test/test.main.js
  lib/node_modules/@stdlib/math/base/special/signum/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/signum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/signum/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/signum/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/signum/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/signum/test/test.js
  lib/node_modules/@stdlib/math/base/special/signum/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/signumf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/signumf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/signumf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/signumf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/signumf/test/test.js
  lib/node_modules/@stdlib/math/base/special/signumf/test/test.native.js
Labels: Math, Benchmarks

#6036 bench: update random value generation
  lib/node_modules/@stdlib/math/base/special/sin/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sin/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sin/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sin/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sin/test/test.js
  lib/node_modules/@stdlib/math/base/special/sin/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/sinc/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sinc/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sinc/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sinc/test/test.js
  lib/node_modules/@stdlib/math/base/special/sinc/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/sinh/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sinh/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sinh/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sinh/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sinh/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sinh/test/test.js
  lib/node_modules/@stdlib/math/base/special/sinh/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/sinpi/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sinpi/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sinpi/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sinpi/test/test.js
  lib/node_modules/@stdlib/math/base/special/sinpi/test/test.native.js
Labels: Math, Benchmarks

#5494 feat: add C ndarray interface and refactor implementation for `stats/base/dnanstdevpn`
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/README.md
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/examples/index.js
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/include/stdlib/stats/base/dnanstdevpn.h
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/lib/dnanstdevpn.js
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/lib/dnanstdevpn.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/lib/index.js
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/src/dnanstdevpn.c
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/src/main.c
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/test/test.dnanstdevpn.js
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/test/test.dnanstdevpn.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/test/test.ndarray.native.js
Labels: Feature, Statistics

#5422 feat: add C ndarray interface and refactor implementation for `stats/base/dnanstdevch`
  lib/node_modules/@stdlib/stats/base/dnanstdevch/README.md
  lib/node_modules/@stdlib/stats/base/dnanstdevch/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanstdevch/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevch/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanstdevch/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevch/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dnanstdevch/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dnanstdevch/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dnanstdevch/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dnanstdevch/examples/index.js
  lib/node_modules/@stdlib/stats/base/dnanstdevch/include/stdlib/stats/base/dnanstdevch.h
  lib/node_modules/@stdlib/stats/base/dnanstdevch/lib/dnanstdevch.js
  lib/node_modules/@stdlib/stats/base/dnanstdevch/lib/dnanstdevch.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevch/lib/index.js
  lib/node_modules/@stdlib/stats/base/dnanstdevch/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanstdevch/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevch/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanstdevch/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanstdevch/src/dnanstdevch.c
  lib/node_modules/@stdlib/stats/base/dnanstdevch/src/main.c
  lib/node_modules/@stdlib/stats/base/dnanstdevch/test/test.dnanstdevch.js
  lib/node_modules/@stdlib/stats/base/dnanstdevch/test/test.dnanstdevch.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdevch/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanstdevch/test/test.ndarray.native.js
Labels: Feature, Statistics

#6052 remove: remove `div` from namespace
  lib/node_modules/@stdlib/math/base/ops/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/ops/lib/index.js
Labels: release: Major, Math

#5644 feat: add `blas/ext/base/wasm/dapxsumors`
  lib/node_modules/@stdlib/blas/ext/base/dapxsumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/examples/module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/lib/binary.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/lib/module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/lib/routine.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/package.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/scripts/build.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/scripts/template.txt
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/src/Makefile
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/src/exports.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/src/main.wasm
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/src/main.wat
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/test/test.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/test/test.module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/test/test.module.main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dapxsumors/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#5547 feat: add C ndarray interface and refactor implementation for `stats/base/dsvariancepn`
  lib/node_modules/@stdlib/stats/base/dsvariancepn/README.md
  lib/node_modules/@stdlib/stats/base/dsvariancepn/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dsvariancepn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dsvariancepn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dsvariancepn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dsvariancepn/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dsvariancepn/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dsvariancepn/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dsvariancepn/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dsvariancepn/examples/index.js
  lib/node_modules/@stdlib/stats/base/dsvariancepn/include/stdlib/stats/base/dsvariancepn.h
  lib/node_modules/@stdlib/stats/base/dsvariancepn/lib/dsvariancepn.js
  lib/node_modules/@stdlib/stats/base/dsvariancepn/lib/dsvariancepn.native.js
  lib/node_modules/@stdlib/stats/base/dsvariancepn/lib/index.js
  lib/node_modules/@stdlib/stats/base/dsvariancepn/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dsvariancepn/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dsvariancepn/manifest.json
  lib/node_modules/@stdlib/stats/base/dsvariancepn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dsvariancepn/src/main.c
  lib/node_modules/@stdlib/stats/base/dsvariancepn/test/test.dsvariancepn.js
  lib/node_modules/@stdlib/stats/base/dsvariancepn/test/test.dsvariancepn.native.js
  lib/node_modules/@stdlib/stats/base/dsvariancepn/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dsvariancepn/test/test.ndarray.native.js
Labels: Statistics, C

#5396 feat: add C ndarray interface and refactor implementation for `stats/base/dnanvariance`
  lib/node_modules/@stdlib/stats/base/dnanvariance/README.md
  lib/node_modules/@stdlib/stats/base/dnanvariance/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanvariance/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanvariance/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanvariance/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanvariance/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dnanvariance/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dnanvariance/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dnanvariance/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dnanvariance/examples/index.js
  lib/node_modules/@stdlib/stats/base/dnanvariance/include/stdlib/stats/base/dnanvariance.h
  lib/node_modules/@stdlib/stats/base/dnanvariance/lib/dnanvariance.js
  lib/node_modules/@stdlib/stats/base/dnanvariance/lib/dnanvariance.native.js
  lib/node_modules/@stdlib/stats/base/dnanvariance/lib/index.js
  lib/node_modules/@stdlib/stats/base/dnanvariance/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanvariance/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanvariance/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanvariance/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanvariance/src/dnanvariance.c
  lib/node_modules/@stdlib/stats/base/dnanvariance/src/main.c
  lib/node_modules/@stdlib/stats/base/dnanvariance/test/test.dnanvariance.js
  lib/node_modules/@stdlib/stats/base/dnanvariance/test/test.dnanvariance.native.js
  lib/node_modules/@stdlib/stats/base/dnanvariance/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanvariance/test/test.ndarray.native.js
Labels: Feature, Statistics, C

#4777 feat: add C ndarray interface and refactor implementation for `stats/base/snanmeanpn`
  lib/node_modules/@stdlib/stats/base/snanmeanpn/README.md
  lib/node_modules/@stdlib/stats/base/snanmeanpn/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanmeanpn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanmeanpn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmeanpn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmeanpn/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/snanmeanpn/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/snanmeanpn/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/snanmeanpn/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/snanmeanpn/examples/index.js
  lib/node_modules/@stdlib/stats/base/snanmeanpn/include/stdlib/stats/base/snanmeanpn.h
  lib/node_modules/@stdlib/stats/base/snanmeanpn/lib/index.js
  lib/node_modules/@stdlib/stats/base/snanmeanpn/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmeanpn/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmeanpn/lib/snanmeanpn.js
  lib/node_modules/@stdlib/stats/base/snanmeanpn/lib/snanmeanpn.native.js
  lib/node_modules/@stdlib/stats/base/snanmeanpn/manifest.json
  lib/node_modules/@stdlib/stats/base/snanmeanpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanmeanpn/src/main.c
  lib/node_modules/@stdlib/stats/base/snanmeanpn/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmeanpn/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmeanpn/test/test.snanmeanpn.js
  lib/node_modules/@stdlib/stats/base/snanmeanpn/test/test.snanmeanpn.native.js
Labels: Feature, Statistics, C

#4802 feat: add C ndarray interface and refactor implementation for `stats/base/snanmeanwd`
  lib/node_modules/@stdlib/stats/base/snanmeanwd/README.md
  lib/node_modules/@stdlib/stats/base/snanmeanwd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanmeanwd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanmeanwd/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmeanwd/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmeanwd/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/snanmeanwd/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/snanmeanwd/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/snanmeanwd/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/snanmeanwd/examples/index.js
  lib/node_modules/@stdlib/stats/base/snanmeanwd/include.gypi
  lib/node_modules/@stdlib/stats/base/snanmeanwd/include/stdlib/stats/base/snanmeanwd.h
  lib/node_modules/@stdlib/stats/base/snanmeanwd/lib/index.js
  lib/node_modules/@stdlib/stats/base/snanmeanwd/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmeanwd/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmeanwd/lib/snanmeanwd.js
  lib/node_modules/@stdlib/stats/base/snanmeanwd/lib/snanmeanwd.native.js
  lib/node_modules/@stdlib/stats/base/snanmeanwd/manifest.json
  lib/node_modules/@stdlib/stats/base/snanmeanwd/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanmeanwd/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/snanmeanwd/src/main.c
  lib/node_modules/@stdlib/stats/base/snanmeanwd/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmeanwd/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmeanwd/test/test.snanmeanwd.js
  lib/node_modules/@stdlib/stats/base/snanmeanwd/test/test.snanmeanwd.native.js
Labels: Feature, Statistics, C

#6049 feat: add `constants/float32/max-safe-nth-tribonacci`
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-tribonacci/README.md
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-tribonacci/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-tribonacci/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-tribonacci/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-tribonacci/examples/index.js
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-tribonacci/include/stdlib/constants/float32/max_safe_nth_tribonacci.h
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-tribonacci/lib/index.js
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-tribonacci/manifest.json
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-tribonacci/package.json
  lib/node_modules/@stdlib/constants/float32/max-safe-nth-tribonacci/test/test.js
Labels: Feature

#5549 feat: add `blas/ext/base/wasm/dasumpw`
  lib/node_modules/@stdlib/blas/ext/base/dasumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/examples/module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/lib/binary.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/lib/module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/lib/routine.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/package.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/scripts/build.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/scripts/template.txt
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/src/Makefile
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/src/exports.json
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/src/main.wasm
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/src/main.wat
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/test/test.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/test/test.module.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/test/test.module.main.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/wasm/dasumpw/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#5355 feat: add C ndarray interface and refactor implementation for `stats/base/sstdevpn`
  lib/node_modules/@stdlib/stats/base/sstdevpn/README.md
  lib/node_modules/@stdlib/stats/base/sstdevpn/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/sstdevpn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/sstdevpn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/sstdevpn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sstdevpn/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/sstdevpn/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/sstdevpn/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/sstdevpn/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/sstdevpn/examples/index.js
  lib/node_modules/@stdlib/stats/base/sstdevpn/include/stdlib/stats/base/sstdevpn.h
  lib/node_modules/@stdlib/stats/base/sstdevpn/lib/index.js
  lib/node_modules/@stdlib/stats/base/sstdevpn/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/sstdevpn/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sstdevpn/lib/sstdevpn.js
  lib/node_modules/@stdlib/stats/base/sstdevpn/lib/sstdevpn.native.js
  lib/node_modules/@stdlib/stats/base/sstdevpn/manifest.json
  lib/node_modules/@stdlib/stats/base/sstdevpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/sstdevpn/src/main.c
  lib/node_modules/@stdlib/stats/base/sstdevpn/src/sstdevpn.c
  lib/node_modules/@stdlib/stats/base/sstdevpn/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/sstdevpn/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sstdevpn/test/test.sstdevpn.js
  lib/node_modules/@stdlib/stats/base/sstdevpn/test/test.sstdevpn.native.js
Labels: Feature, Statistics, C

#4753 feat: add C ndarray interface and refactor implementation for `stats/base/smeanpw`
  lib/node_modules/@stdlib/stats/base/smeanpw/README.md
  lib/node_modules/@stdlib/stats/base/smeanpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/smeanpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/smeanpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/smeanpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smeanpw/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/smeanpw/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/smeanpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/smeanpw/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/smeanpw/include/stdlib/stats/base/smeanpw.h
  lib/node_modules/@stdlib/stats/base/smeanpw/lib/index.js
  lib/node_modules/@stdlib/stats/base/smeanpw/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/smeanpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smeanpw/lib/smeanpw.js
  lib/node_modules/@stdlib/stats/base/smeanpw/lib/smeanpw.native.js
  lib/node_modules/@stdlib/stats/base/smeanpw/manifest.json
  lib/node_modules/@stdlib/stats/base/smeanpw/src/addon.c
  lib/node_modules/@stdlib/stats/base/smeanpw/src/main.c
  lib/node_modules/@stdlib/stats/base/smeanpw/src/smeanpw.c
  lib/node_modules/@stdlib/stats/base/smeanpw/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/smeanpw/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smeanpw/test/test.smeanpw.js
  lib/node_modules/@stdlib/stats/base/smeanpw/test/test.smeanpw.native.js
Labels: Feature, Statistics, C

#5395 feat: add `string/base/slice`
  lib/node_modules/@stdlib/string/base/slice/README.md
  lib/node_modules/@stdlib/string/base/slice/benchmark/benchmark.js
  lib/node_modules/@stdlib/string/base/slice/docs/repl.txt
  lib/node_modules/@stdlib/string/base/slice/docs/types/index.d.ts
  lib/node_modules/@stdlib/string/base/slice/docs/types/test.ts
  lib/node_modules/@stdlib/string/base/slice/examples/index.js
  lib/node_modules/@stdlib/string/base/slice/lib/index.js
  lib/node_modules/@stdlib/string/base/slice/lib/main.js
  lib/node_modules/@stdlib/string/base/slice/package.json
  lib/node_modules/@stdlib/string/base/slice/test/test.js
Labels: Feature

#5456 feat: add `string/num-code-points`
  lib/node_modules/@stdlib/string/num-code-points/README.md
  lib/node_modules/@stdlib/string/num-code-points/benchmark/benchmark.js
  lib/node_modules/@stdlib/string/num-code-points/bin/cli
  lib/node_modules/@stdlib/string/num-code-points/docs/repl.txt
  lib/node_modules/@stdlib/string/num-code-points/docs/types/index.d.ts
  lib/node_modules/@stdlib/string/num-code-points/docs/types/test.ts
  lib/node_modules/@stdlib/string/num-code-points/docs/usage.txt
  lib/node_modules/@stdlib/string/num-code-points/etc/cli_opts.json
  lib/node_modules/@stdlib/string/num-code-points/examples/index.js
  lib/node_modules/@stdlib/string/num-code-points/lib/index.js
  lib/node_modules/@stdlib/string/num-code-points/lib/main.js
  lib/node_modules/@stdlib/string/num-code-points/package.json
  lib/node_modules/@stdlib/string/num-code-points/test/fixtures/stdin_error.js.txt
  lib/node_modules/@stdlib/string/num-code-points/test/test.cli.js
  lib/node_modules/@stdlib/string/num-code-points/test/test.js
Labels: Feature

#5457 feat: add `string/base/slice-grapheme-clusters`
  lib/node_modules/@stdlib/string/base/slice-grapheme-clusters/README.md
  lib/node_modules/@stdlib/string/base/slice-grapheme-clusters/benchmark/benchmark.js
  lib/node_modules/@stdlib/string/base/slice-grapheme-clusters/docs/repl.txt
  lib/node_modules/@stdlib/string/base/slice-grapheme-clusters/docs/types/index.d.ts
  lib/node_modules/@stdlib/string/base/slice-grapheme-clusters/docs/types/test.ts
  lib/node_modules/@stdlib/string/base/slice-grapheme-clusters/examples/index.js
  lib/node_modules/@stdlib/string/base/slice-grapheme-clusters/lib/index.js
  lib/node_modules/@stdlib/string/base/slice-grapheme-clusters/lib/main.js
  lib/node_modules/@stdlib/string/base/slice-grapheme-clusters/package.json
  lib/node_modules/@stdlib/string/base/slice-grapheme-clusters/test/test.js
Labels: Feature

#6091 remove: remove `sub` from namespace
  lib/node_modules/@stdlib/math/base/ops/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/ops/lib/index.js
Labels: release: Major, Math

#6071 feat: add `constants/float32/ln-two-pi`
  lib/node_modules/@stdlib/constants/float32/ln-two-pi/README.md
  lib/node_modules/@stdlib/constants/float32/ln-two-pi/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/ln-two-pi/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/ln-two-pi/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/ln-two-pi/examples/index.js
  lib/node_modules/@stdlib/constants/float32/ln-two-pi/include/stdlib/constants/float32/ln_two_pi.h
  lib/node_modules/@stdlib/constants/float32/ln-two-pi/lib/index.js
  lib/node_modules/@stdlib/constants/float32/ln-two-pi/manifest.json
  lib/node_modules/@stdlib/constants/float32/ln-two-pi/package.json
  lib/node_modules/@stdlib/constants/float32/ln-two-pi/test/test.js
Labels: Feature

#5357 feat: add `@stdlib/console/log-each-map`
  lib/node_modules/@stdlib/console/log-each-map/README.md
  lib/node_modules/@stdlib/console/log-each-map/benchmark/benchmark.js
  lib/node_modules/@stdlib/console/log-each-map/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/console/log-each-map/docs/repl.txt
  lib/node_modules/@stdlib/console/log-each-map/docs/types/index.d.ts
  lib/node_modules/@stdlib/console/log-each-map/docs/types/test.ts
  lib/node_modules/@stdlib/console/log-each-map/examples/index.js
  lib/node_modules/@stdlib/console/log-each-map/lib/index.js
  lib/node_modules/@stdlib/console/log-each-map/lib/main.js
  lib/node_modules/@stdlib/console/log-each-map/package.json
  lib/node_modules/@stdlib/console/log-each-map/test/test.js
Labels: Feature

#6064 chore: resolve javascript lint error
  lib/node_modules/@stdlib/napi/argv-complex128/lib/native.js
Labels: Good First PR

#5874 docs(stats): fix commented return value
  lib/node_modules/@stdlib/stats/base/dists/geometric/kurtosis/README.md
Labels: Statistics, Good First PR

#5940 chore: fix EditorConfig lint errors
  lib/node_modules/@stdlib/random/streams/laplace/lib/defaults.json
Labels: First-time Contributor, Good First PR

#6086 chore: fix EditorConfig lint errors
  lib/node_modules/@stdlib/math/strided/special/dmskinv/manifest.json
  lib/node_modules/@stdlib/ml/incr/binary-classification/lib/loss_functions.json
Labels: First-time Contributor, Good First PR

#6029 chore: fix JavaScript lint errors
  lib/node_modules/@stdlib/_tools/pkgs/deps/lib/sync.js
  lib/node_modules/@stdlib/utils/get-prototype-of/lib/polyfill.js
Labels: First-time Contributor, Good First PR

#5947 chore: fix javascript linting error
  lib/node_modules/@stdlib/_tools/makie/plugins/makie-install-node-addons/lib/index.js
Labels: Tools, Ready To Merge, Good First PR

#6057 chore: fix EditorConfig lint errors #6053
  lib/node_modules/@stdlib/ndarray/base/bytes-per-element/manifest.json
  lib/node_modules/@stdlib/strided/napi/addon-arguments/manifest.json
Labels: Ready To Merge, Good First PR

#6113 chore: update `randu` to `uniform` for consistency
  lib/node_modules/@stdlib/math/base/special/abs2/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/abs2/benchmark/benchmark.native.js
Labels: Math

#6124 remove: remove `cmulf` from namespace
  lib/node_modules/@stdlib/math/base/ops/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/ops/lib/index.js
Labels: release: Major, Math

#5346 feat: add `array/base/map`
  lib/node_modules/@stdlib/array/base/map/README.md
  lib/node_modules/@stdlib/array/base/map/benchmark/benchmark.assign.js
  lib/node_modules/@stdlib/array/base/map/benchmark/benchmark.js
  lib/node_modules/@stdlib/array/base/map/docs/repl.txt
  lib/node_modules/@stdlib/array/base/map/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/map/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/map/examples/index.js
  lib/node_modules/@stdlib/array/base/map/lib/assign.js
  lib/node_modules/@stdlib/array/base/map/lib/index.js
  lib/node_modules/@stdlib/array/base/map/lib/main.js
  lib/node_modules/@stdlib/array/base/map/package.json
  lib/node_modules/@stdlib/array/base/map/test/test.assign.js
  lib/node_modules/@stdlib/array/base/map/test/test.js
  lib/node_modules/@stdlib/array/base/map/test/test.main.js
Labels: Feature

#6046 feat(stats): add nanskewness package
  lib/node_modules/@stdlib/stats/incr/nanskewness/README.md
  lib/node_modules/@stdlib/stats/incr/nanskewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/incr/nanskewness/docs/img/equation_adjusted_sample_skewness.svg
  lib/node_modules/@stdlib/stats/incr/nanskewness/docs/img/equation_sample_skewness.svg
  lib/node_modules/@stdlib/stats/incr/nanskewness/docs/img/equation_skewness.svg
  lib/node_modules/@stdlib/stats/incr/nanskewness/docs/repl.txt
  lib/node_modules/@stdlib/stats/incr/nanskewness/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/incr/nanskewness/docs/types/test.ts
  lib/node_modules/@stdlib/stats/incr/nanskewness/examples/index.js
  lib/node_modules/@stdlib/stats/incr/nanskewness/lib/index.js
  lib/node_modules/@stdlib/stats/incr/nanskewness/lib/main.js
  lib/node_modules/@stdlib/stats/incr/nanskewness/package.json
  lib/node_modules/@stdlib/stats/incr/nanskewness/test/test.js
Labels: Statistics, First-time Contributor, Good First PR

#6135 chore: fix EditorConfig lint error #6130
  lib/node_modules/@stdlib/ndarray/base/minmax-view-buffer-index/manifest.json
Labels: First-time Contributor, Good First PR

#6134 chore: fix EditorConfig lint error #6130
  lib/node_modules/@stdlib/_tools/pkgs/clis/lib/config.json
Labels: Tools, Good First PR

#6144 remove: remove `cadd` from namespace
  lib/node_modules/@stdlib/math/base/ops/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/ops/lib/index.js
Labels: release: Major, Math

#6068 feat: add `stats/incr/nanmeanabs`
  lib/node_modules/@stdlib/stats/incr/nanmeanabs/README.md
  lib/node_modules/@stdlib/stats/incr/nanmeanabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/incr/nanmeanabs/docs/img/equation_arithmetic_mean_absolute_values.svg
  lib/node_modules/@stdlib/stats/incr/nanmeanabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/incr/nanmeanabs/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/incr/nanmeanabs/docs/types/test.ts
  lib/node_modules/@stdlib/stats/incr/nanmeanabs/examples/index.js
  lib/node_modules/@stdlib/stats/incr/nanmeanabs/lib/index.js
  lib/node_modules/@stdlib/stats/incr/nanmeanabs/lib/main.js
  lib/node_modules/@stdlib/stats/incr/nanmeanabs/package.json
  lib/node_modules/@stdlib/stats/incr/nanmeanabs/test/test.js
Labels: Feature, Statistics, Good First PR

#6096 feat: add `constants/float32/gamma-lanczos-g`
  lib/node_modules/@stdlib/constants/float32/gamma-lanczos-g/README.md
  lib/node_modules/@stdlib/constants/float32/gamma-lanczos-g/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/gamma-lanczos-g/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/gamma-lanczos-g/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/gamma-lanczos-g/examples/index.js
  lib/node_modules/@stdlib/constants/float32/gamma-lanczos-g/include/stdlib/constants/float32/gamma_lanczos_g.h
  lib/node_modules/@stdlib/constants/float32/gamma-lanczos-g/lib/index.js
  lib/node_modules/@stdlib/constants/float32/gamma-lanczos-g/manifest.json
  lib/node_modules/@stdlib/constants/float32/gamma-lanczos-g/package.json
  lib/node_modules/@stdlib/constants/float32/gamma-lanczos-g/test/test.js
Labels: Feature

#6075 feat: add `constants/float32/ln-sqrt-two-pi`
  lib/node_modules/@stdlib/constants/float32/ln-sqrt-two-pi/README.md
  lib/node_modules/@stdlib/constants/float32/ln-sqrt-two-pi/docs/repl.txt
  lib/node_modules/@stdlib/constants/float32/ln-sqrt-two-pi/docs/types/index.d.ts
  lib/node_modules/@stdlib/constants/float32/ln-sqrt-two-pi/docs/types/test.ts
  lib/node_modules/@stdlib/constants/float32/ln-sqrt-two-pi/examples/index.js
  lib/node_modules/@stdlib/constants/float32/ln-sqrt-two-pi/include/stdlib/constants/float32/ln_sqrt_two_pi.h
  lib/node_modules/@stdlib/constants/float32/ln-sqrt-two-pi/lib/index.js
  lib/node_modules/@stdlib/constants/float32/ln-sqrt-two-pi/manifest.json
  lib/node_modules/@stdlib/constants/float32/ln-sqrt-two-pi/package.json
  lib/node_modules/@stdlib/constants/float32/ln-sqrt-two-pi/test/test.js
Labels: Feature

#6194 chore: fixed C lint errors
  lib/node_modules/@stdlib/math/base/special/roundn/src/addon.c
Labels: Math, Ready To Merge

#6204 bench: update random value generation
  lib/node_modules/@stdlib/math/base/special/floorb/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/floorb/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/floorb/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/floorb/test/test.js
  lib/node_modules/@stdlib/math/base/special/floorb/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/floorn/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/floorn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/floorn/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/floorn/test/test.js
  lib/node_modules/@stdlib/math/base/special/floorn/test/test.native.js
Labels: Math, Ready To Merge

#6199 bench: update random value generation
  lib/node_modules/@stdlib/math/base/special/floor10/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/floor10/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/floor10/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/floor10/test/test.js
  lib/node_modules/@stdlib/math/base/special/floor10/test/test.native.js
  lib/node_modules/@stdlib/math/base/special/floor2/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/floor2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/floor2/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/floor2/test/test.js
  lib/node_modules/@stdlib/math/base/special/floor2/test/test.native.js
Labels: Math, Benchmarks
