Repository stdlib-js/stdlib, pull requests merged in 2025-02, with the labels that each got.

#4974 bench: refactor random number generation in `stats/base/dists/invgamma`
  lib/node_modules/@stdlib/stats/base/dists/invgamma/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/entropy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/kurtosis/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/logpdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/mean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/mode/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/mode/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/pdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/skewness/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/stdev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/variance/benchmark/benchmark.js
Labels: Statistics, Benchmarks

#4973 docs: add Muhammad Haris as a core contributor
  CORE_CONTRIBUTORS.md
Labels: Documentation, Ready To Merge, Governance

#5007 docs: update examples of `blas/base/cswap`
  lib/node_modules/@stdlib/blas/base/cswap/README.md
  lib/node_modules/@stdlib/blas/base/cswap/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/cswap/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/cswap/lib/cswap.js
  lib/node_modules/@stdlib/blas/base/cswap/lib/cswap.native.js
  lib/node_modules/@stdlib/blas/base/cswap/lib/index.js
  lib/node_modules/@stdlib/blas/base/cswap/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/cswap/lib/ndarray.native.js
Labels: Documentation, BLAS

#4277 feat: add logic for eager evaluation in REPL
  lib/node_modules/@stdlib/repl/lib/defaults.js
  lib/node_modules/@stdlib/repl/lib/eager_evaluator.js
  lib/node_modules/@stdlib/repl/lib/main.js
  lib/node_modules/@stdlib/repl/lib/settings.js
  lib/node_modules/@stdlib/repl/test/integration/test.auto_close_pairs.js
  lib/node_modules/@stdlib/repl/test/integration/test.completer_engine.js
  lib/node_modules/@stdlib/repl/test/integration/test.completion_previews.js
Labels: Feature, REPL

#4994 docs: update examples of `stats/base/dnanmeanwd` to show proper handling of `NaN` elements
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/README.md
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/lib/index.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/lib/ndarray.native.js
Labels: Documentation, Statistics

#4882 feat: add C `ndarray` API and refactor `blas/ext/base/sdsnansum`
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/README.md
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/include/stdlib/blas/ext/base/sdsnansum.h
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/lib/sdsnansum.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/lib/sdsnansum.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/src/sdsnansum.c
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/test/test.sdsnansum.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansum/test/test.sdsnansum.native.js
Labels: Feature, BLAS, C

#4870 feat: add C `ndarray` API and refactor `blas/ext/base/ssumkbn2`
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/include/stdlib/blas/ext/base/ssumkbn2.h
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/lib/ssumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/lib/ssumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/src/ssumkbn2.c
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/test/test.ssumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/ssumkbn2/test/test.ssumkbn2.native.js
Labels: Feature, BLAS, C

#4871 feat: add C `ndarray` API and refactor `blas/ext/base/ssum`
  lib/node_modules/@stdlib/blas/ext/base/ssum/README.md
  lib/node_modules/@stdlib/blas/ext/base/ssum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/ssum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/ssum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/ssum/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/ssum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/include/stdlib/blas/ext/base/ssum.h
  lib/node_modules/@stdlib/blas/ext/base/ssum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/lib/ssum.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/lib/ssum.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/ssum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/ssum/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/ssum/src/ssum.c
  lib/node_modules/@stdlib/blas/ext/base/ssum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/test/test.ssum.js
  lib/node_modules/@stdlib/blas/ext/base/ssum/test/test.ssum.native.js
Labels: Feature, BLAS, C

#4873 feat: add C `ndarray` API and refactor `blas/ext/base/sdssum`
  lib/node_modules/@stdlib/blas/ext/base/sdssum/README.md
  lib/node_modules/@stdlib/blas/ext/base/sdssum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/sdssum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sdssum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/sdssum/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/sdssum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/include/stdlib/blas/ext/base/sdssum.h
  lib/node_modules/@stdlib/blas/ext/base/sdssum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/lib/sdssum.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/lib/sdssum.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sdssum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sdssum/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/sdssum/src/sdssum.c
  lib/node_modules/@stdlib/blas/ext/base/sdssum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/test/test.sdssum.js
  lib/node_modules/@stdlib/blas/ext/base/sdssum/test/test.sdssum.native.js
Labels: Feature, Needs Review, BLAS, C

#5031 docs: update docs of `stats/base/*`
  lib/node_modules/@stdlib/stats/base/dmaxabs/README.md
  lib/node_modules/@stdlib/stats/base/dminsorted/README.md
Labels: Statistics, Ready To Merge

#4885 feat: add C `ndarray` API and refactor `blas/ext/base/sdsapxsum`
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/README.md
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/include/stdlib/blas/ext/base/sdsapxsum.h
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/lib/sdsapxsum.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/lib/sdsapxsum.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/package.json
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/src/sdsapxsum.c
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/test/test.sdsapxsum.js
  lib/node_modules/@stdlib/blas/ext/base/sdsapxsum/test/test.sdsapxsum.native.js
Labels: Feature, BLAS, C

#5014 refactor: remove redundant code in accessor functions
  lib/node_modules/@stdlib/blas/ext/base/gsumkbn/lib/accessors.js
  lib/node_modules/@stdlib/blas/ext/base/gsumpw/lib/accessors.js
Labels: BLAS

#5008 feat: add support for accessor arrays and refactor `stats/base/max`
  lib/node_modules/@stdlib/stats/base/max/README.md
  lib/node_modules/@stdlib/stats/base/max/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/max/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/max/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/max/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/max/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/max/examples/index.js
  lib/node_modules/@stdlib/stats/base/max/lib/accessors.js
  lib/node_modules/@stdlib/stats/base/max/lib/index.js
  lib/node_modules/@stdlib/stats/base/max/lib/main.js
  lib/node_modules/@stdlib/stats/base/max/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/max/test/test.main.js
  lib/node_modules/@stdlib/stats/base/max/test/test.ndarray.js
Labels: Feature, Statistics

#4926 feat: add accessor arrays support to `blas/ext/base/gapx`
  lib/node_modules/@stdlib/blas/ext/base/gapx/README.md
  lib/node_modules/@stdlib/blas/ext/base/gapx/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/gapx/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/gapx/lib/accessors.js
  lib/node_modules/@stdlib/blas/ext/base/gapx/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gapx/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/gapx/test/test.ndarray.js
Labels: Feature, BLAS

#4927 feat: add accessor arrays support to `blas/ext/base/gapxsum`
  lib/node_modules/@stdlib/blas/ext/base/gapxsum/README.md
  lib/node_modules/@stdlib/blas/ext/base/gapxsum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/gapxsum/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/gapxsum/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/gapxsum/test/test.ndarray.js
Labels: Feature, BLAS

#4872 feat: add C `ndarray` API and refactor `blas/ext/base/snansum`
  lib/node_modules/@stdlib/blas/ext/base/snansum/README.md
  lib/node_modules/@stdlib/blas/ext/base/snansum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/snansum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/snansum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/snansum/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/snansum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/include/stdlib/blas/ext/base/snansum.h
  lib/node_modules/@stdlib/blas/ext/base/snansum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/lib/snansum.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/lib/snansum.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/snansum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/snansum/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/snansum/src/snansum.c
  lib/node_modules/@stdlib/blas/ext/base/snansum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/test/test.snansum.js
  lib/node_modules/@stdlib/blas/ext/base/snansum/test/test.snansum.native.js
Labels: Feature, Needs Review, BLAS, C

#5043 docs: minor changes in docs of `stats/base/max`
  lib/node_modules/@stdlib/stats/base/max/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/max/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/max/lib/accessors.js
  lib/node_modules/@stdlib/stats/base/max/lib/index.js
Labels: Documentation, Statistics

#4688 feat: add C ndarray interface and refactor implementation for `stats/base/dvariancepn`
  lib/node_modules/@stdlib/stats/base/dvariancepn/README.md
  lib/node_modules/@stdlib/stats/base/dvariancepn/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dvariancepn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dvariancepn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dvariancepn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dvariancepn/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dvariancepn/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dvariancepn/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dvariancepn/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dvariancepn/examples/index.js
  lib/node_modules/@stdlib/stats/base/dvariancepn/include/stdlib/stats/base/dvariancepn.h
  lib/node_modules/@stdlib/stats/base/dvariancepn/lib/dvariancepn.js
  lib/node_modules/@stdlib/stats/base/dvariancepn/lib/dvariancepn.native.js
  lib/node_modules/@stdlib/stats/base/dvariancepn/lib/index.js
  lib/node_modules/@stdlib/stats/base/dvariancepn/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dvariancepn/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dvariancepn/manifest.json
  lib/node_modules/@stdlib/stats/base/dvariancepn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvariancepn/src/main.c
  lib/node_modules/@stdlib/stats/base/dvariancepn/test/test.dvariancepn.js
  lib/node_modules/@stdlib/stats/base/dvariancepn/test/test.dvariancepn.native.js
  lib/node_modules/@stdlib/stats/base/dvariancepn/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dvariancepn/test/test.ndarray.native.js
Labels: Feature, Statistics, C

#5053 feat: add logic for eager evaluation of additional expression types
  lib/node_modules/@stdlib/repl/lib/eager_evaluator.js
Labels: Enhancement, REPL

#5055 docs: fix require paths and add missing semicolon
  lib/node_modules/@stdlib/lapack/base/claset/lib/index.js
Labels: Ready To Merge, LAPACK, First-time Contributor

#5028 feat: add C ndarray API and refactor `blas/ext/base/dsortins`
  lib/node_modules/@stdlib/blas/ext/base/dsortins/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsortins/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/ext/base/dsortins/benchmark/c/benchmark.unsorted_random.length.c
  lib/node_modules/@stdlib/blas/ext/base/dsortins/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsortins/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dsortins/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dsortins/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsortins/include/stdlib/blas/ext/base/dsortins.h
  lib/node_modules/@stdlib/blas/ext/base/dsortins/lib/dsortins.js
  lib/node_modules/@stdlib/blas/ext/base/dsortins/lib/dsortins.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsortins/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsortins/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsortins/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsortins/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsortins/src/main.c
Labels: Feature, BLAS, C, Ready To Merge

#5018 feat: add C ndarray API and refactor `blas/ext/base/dsorthp`
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/benchmark/c/benchmark.unsorted_random.length.c
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/include/stdlib/blas/ext/base/dsorthp.h
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/lib/dsorthp.js
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/lib/dsorthp.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/src/main.c
Labels: Feature, BLAS, C, Ready To Merge

#5042 feat: add support for accessor arrays and refactor `stats/base/min`
  lib/node_modules/@stdlib/stats/base/min/README.md
  lib/node_modules/@stdlib/stats/base/min/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/min/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/min/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/min/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/min/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/min/examples/index.js
  lib/node_modules/@stdlib/stats/base/min/lib/accessors.js
  lib/node_modules/@stdlib/stats/base/min/lib/index.js
  lib/node_modules/@stdlib/stats/base/min/lib/main.js
  lib/node_modules/@stdlib/stats/base/min/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/min/test/test.main.js
  lib/node_modules/@stdlib/stats/base/min/test/test.ndarray.js
Labels: Feature, Statistics

#5044 bench: update `NaN` generation in `stats/base/*`
  lib/node_modules/@stdlib/stats/base/dnanmax/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmax/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmax/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmax/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmin/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmin/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanrange/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanrange/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanrange/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanrange/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmax/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanmax/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanmax/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmax/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmeanors/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanmeanors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanmeanors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmeanors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanmin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanmin/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmin/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanminabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanminabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanminabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanminabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanrange/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanrange/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanrange/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanrange/benchmark/benchmark.ndarray.native.js
Labels: Needs Review, Statistics, Benchmarks

#5054 bench: refactor benchmarks in `math/base/special/rsqrt`
  lib/node_modules/@stdlib/math/base/special/rsqrt/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/rsqrt/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/rsqrt/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/rsqrt/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/rsqrt/benchmark/c/cephes/Makefile
  lib/node_modules/@stdlib/math/base/special/rsqrt/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/rsqrt/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/rsqrt/benchmark/c/native/benchmark.c
Labels: Needs Review, Math

#5064 fix: update return value and tests for `blas/ext/base/gcusumkbn`
  lib/node_modules/@stdlib/blas/ext/base/gcusumkbn/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/gcusumkbn/lib/accessors.js
  lib/node_modules/@stdlib/blas/ext/base/gcusumkbn/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gcusumkbn/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/gcusumkbn/test/test.ndarray.js
Labels: BLAS

#5065 feat: add accessor arrays support to `blas/ext/base/gcusum`
  lib/node_modules/@stdlib/blas/ext/base/gcusum/README.md
  lib/node_modules/@stdlib/blas/ext/base/gcusum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/gcusum/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/gcusum/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/gcusum/test/test.ndarray.js
Labels: Feature, BLAS

#5066 feat: add accessor arrays support to `blas/ext/base/gnansum`
  lib/node_modules/@stdlib/blas/ext/base/gnansum/README.md
  lib/node_modules/@stdlib/blas/ext/base/gnansum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/gnansum/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/gnansum/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/gnansum/test/test.ndarray.js
Labels: Feature, BLAS

#5017 refactor: update `math/base/special/kernel-tan`
  lib/node_modules/@stdlib/math/base/special/kernel-tan/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/kernel-tan/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/kernel-tan/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/kernel-tan/manifest.json
  lib/node_modules/@stdlib/math/base/special/kernel-tan/src/addon.c
  lib/node_modules/@stdlib/math/base/special/kernel-tan/test/test.js
  lib/node_modules/@stdlib/math/base/special/kernel-tan/test/test.native.js
Labels: Math

#5078 chore: address commit comment feedback
  lib/node_modules/@stdlib/blas/ext/base/dsortins/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsortins/src/main.c
Labels: BLAS, Ready To Merge

#5099 chore: refactor according to commit comments
  lib/node_modules/@stdlib/stats/base/dists/beta/pdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/beta/pdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/beta/pdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/beta/pdf/src/main.c
Labels: Statistics, Ready To Merge

#5101 chore: refractor acc to cc `degenerate-entropy`
  lib/node_modules/@stdlib/stats/base/dists/degenerate/entropy/README.md
  lib/node_modules/@stdlib/stats/base/dists/degenerate/entropy/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/degenerate/entropy/examples/c/example.c
Labels: Statistics, Ready To Merge

#5106 bench: refactor random number generation in stats/base/dists/poisson
  lib/node_modules/@stdlib/stats/base/dists/poisson/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/logpmf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/mean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/median/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/mgf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/mode/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/pmf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/variance/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/variance/benchmark/benchmark.native.js
Labels: Statistics, Ready To Merge, First-time Contributor

#5098 chore: refactor according to commit comments
  lib/node_modules/@stdlib/stats/base/dists/beta/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/beta/logpdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/beta/logpdf/src/main.c
Labels: Statistics, Ready To Merge

#5104 chore: refactor random number generation in `stats/base/dists/rayleigh`
  lib/node_modules/@stdlib/stats/base/dists/rayleigh/cdf/benchmark/benchmark.js
Labels: Statistics, Ready To Merge, First-time Contributor

#5097 chore: address commit comments
  lib/node_modules/@stdlib/stats/base/dists/beta/entropy/README.md
  lib/node_modules/@stdlib/stats/base/dists/beta/entropy/examples/c/example.c
Labels: Statistics, Ready To Merge

#5107 chore: fix C linting errors in `math/base/ops/imuldw`
  lib/node_modules/@stdlib/math/base/ops/imuldw/test/fixtures/c/runner.c
Labels: Math, Ready To Merge

#5082 chore: address commit comments for `bernulli/skewness`
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/skewness/README.md
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/skewness/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/skewness/include/stdlib/stats/base/dists/bernoulli/skewness.h
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/skewness/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/skewness/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/skewness/src/main.c
Labels: Statistics, Ready To Merge

#5081 chore: address commit comments for `betaprime/mean`
  lib/node_modules/@stdlib/stats/base/dists/betaprime/mean/README.md
  lib/node_modules/@stdlib/stats/base/dists/betaprime/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/betaprime/mean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/betaprime/mean/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/betaprime/mean/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/betaprime/mean/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/betaprime/mean/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/betaprime/mean/test/test.native.js
Labels: Statistics, Ready To Merge

#5080 chore: address commit comments for `betaprime/mode`
  lib/node_modules/@stdlib/stats/base/dists/betaprime/mode/README.md
  lib/node_modules/@stdlib/stats/base/dists/betaprime/mode/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/betaprime/mode/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/betaprime/mode/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/betaprime/mode/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/betaprime/mode/src/main.c
Labels: Statistics, Ready To Merge

#5110 test: update function signatures
  lib/node_modules/@stdlib/math/base/ops/imuldw/test/fixtures/c/runner.c
Labels: Math

#5085 feat: add support for accessor arrays and refactor `stats/base/minabs`
  lib/node_modules/@stdlib/stats/base/minabs/README.md
  lib/node_modules/@stdlib/stats/base/minabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/minabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/minabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/minabs/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/minabs/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/minabs/examples/index.js
  lib/node_modules/@stdlib/stats/base/minabs/lib/accessors.js
  lib/node_modules/@stdlib/stats/base/minabs/lib/index.js
  lib/node_modules/@stdlib/stats/base/minabs/lib/main.js
  lib/node_modules/@stdlib/stats/base/minabs/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/minabs/test/test.main.js
  lib/node_modules/@stdlib/stats/base/minabs/test/test.ndarray.js
Labels: Needs Review, Statistics

#4890 feat: add C ndarray interface and refactor implementation for `stats/base/sdsmean`
  lib/node_modules/@stdlib/stats/base/sdsmean/README.md
  lib/node_modules/@stdlib/stats/base/sdsmean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/sdsmean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/sdsmean/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/sdsmean/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sdsmean/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/sdsmean/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/sdsmean/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/sdsmean/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/sdsmean/examples/index.js
  lib/node_modules/@stdlib/stats/base/sdsmean/include/stdlib/stats/base/sdsmean.h
  lib/node_modules/@stdlib/stats/base/sdsmean/lib/index.js
  lib/node_modules/@stdlib/stats/base/sdsmean/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/sdsmean/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sdsmean/lib/sdsmean.js
  lib/node_modules/@stdlib/stats/base/sdsmean/lib/sdsmean.native.js
  lib/node_modules/@stdlib/stats/base/sdsmean/manifest.json
  lib/node_modules/@stdlib/stats/base/sdsmean/src/addon.c
  lib/node_modules/@stdlib/stats/base/sdsmean/src/main.c
  lib/node_modules/@stdlib/stats/base/sdsmean/src/sdsmean.c
  lib/node_modules/@stdlib/stats/base/sdsmean/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/sdsmean/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sdsmean/test/test.sdsmean.js
  lib/node_modules/@stdlib/stats/base/sdsmean/test/test.sdsmean.native.js
Labels: Statistics

#4011 feat: add `blas/base/wasm/zswap`
  lib/node_modules/@stdlib/blas/base/wasm/zswap/README.md
  lib/node_modules/@stdlib/blas/base/wasm/zswap/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/wasm/zswap/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/wasm/zswap/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/wasm/zswap/examples/index.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/examples/module.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/lib/binary.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/lib/index.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/lib/main.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/lib/module.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/lib/routine.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/manifest.json
  lib/node_modules/@stdlib/blas/base/wasm/zswap/package.json
  lib/node_modules/@stdlib/blas/base/wasm/zswap/scripts/build.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/wasm/zswap/src/Makefile
  lib/node_modules/@stdlib/blas/base/wasm/zswap/src/exports.json
  lib/node_modules/@stdlib/blas/base/wasm/zswap/src/main.wasm
  lib/node_modules/@stdlib/blas/base/wasm/zswap/src/main.wat
  lib/node_modules/@stdlib/blas/base/wasm/zswap/test/test.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/test/test.main.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/test/test.module.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/zswap/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#4496 feat: add C `ndarray` interface and refactor implementation for `stats/base/dsnanmeanwd`
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/README.md
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/include/stdlib/stats/base/dsnanmeanwd.h
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/lib/dsnanmeanwd.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/lib/dsnanmeanwd.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/lib/index.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/manifest.json
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/src/addon.c
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/src/main.c
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/test/test.dsnanmeanwd.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/test/test.dsnanmeanwd.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/test/test.ndarray.native.js
Labels: Needs Review, Statistics

#3982 feat: add `blas/base/wasm/zcopy`
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/README.md
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/examples/index.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/examples/module.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/lib/binary.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/lib/index.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/lib/main.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/lib/module.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/lib/routine.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/manifest.json
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/package.json
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/scripts/build.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/src/Makefile
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/src/exports.json
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/src/main.wasm
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/src/main.wat
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/test/test.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/test/test.main.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/test/test.module.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/zcopy/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#3984 feat: add `blas/base/wasm/isamax`
  lib/node_modules/@stdlib/blas/base/wasm/isamax/README.md
  lib/node_modules/@stdlib/blas/base/wasm/isamax/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/wasm/isamax/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/wasm/isamax/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/wasm/isamax/examples/index.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/examples/module.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/lib/binary.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/lib/index.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/lib/main.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/lib/module.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/lib/routine.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/manifest.json
  lib/node_modules/@stdlib/blas/base/wasm/isamax/package.json
  lib/node_modules/@stdlib/blas/base/wasm/isamax/scripts/build.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/wasm/isamax/src/Makefile
  lib/node_modules/@stdlib/blas/base/wasm/isamax/src/exports.json
  lib/node_modules/@stdlib/blas/base/wasm/isamax/src/main.wasm
  lib/node_modules/@stdlib/blas/base/wasm/isamax/src/main.wat
  lib/node_modules/@stdlib/blas/base/wasm/isamax/test/test.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/test/test.main.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/test/test.module.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/isamax/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#5079 refactor: address unnecessary casting and fix docs
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsorthp/src/main.c
Labels: BLAS

#2877 feat: add C implementation for `blas/base/ssyr`
  lib/node_modules/@stdlib/blas/base/ssyr/README.md
  lib/node_modules/@stdlib/blas/base/ssyr/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/ssyr/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/ssyr/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/base/ssyr/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/blas/base/ssyr/binding.gyp
  lib/node_modules/@stdlib/blas/base/ssyr/examples/c/Makefile
  lib/node_modules/@stdlib/blas/base/ssyr/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/ssyr/include.gypi
  lib/node_modules/@stdlib/blas/base/ssyr/include/stdlib/blas/base/ssyr.h
  lib/node_modules/@stdlib/blas/base/ssyr/include/stdlib/blas/base/ssyr_cblas.h
  lib/node_modules/@stdlib/blas/base/ssyr/lib/native.js
  lib/node_modules/@stdlib/blas/base/ssyr/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/ssyr/lib/ssyr.native.js
  lib/node_modules/@stdlib/blas/base/ssyr/manifest.json
  lib/node_modules/@stdlib/blas/base/ssyr/package.json
  lib/node_modules/@stdlib/blas/base/ssyr/src/Makefile
  lib/node_modules/@stdlib/blas/base/ssyr/src/addon.c
  lib/node_modules/@stdlib/blas/base/ssyr/src/ssyr.c
  lib/node_modules/@stdlib/blas/base/ssyr/src/ssyr_cblas.c
  lib/node_modules/@stdlib/blas/base/ssyr/test/test.js
  lib/node_modules/@stdlib/blas/base/ssyr/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/ssyr/test/test.ssyr.native.js
Labels: Feature, BLAS, C

#5084 feat: add support for accessor arrays and refactor `stats/base/maxabs`
  lib/node_modules/@stdlib/stats/base/maxabs/README.md
  lib/node_modules/@stdlib/stats/base/maxabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/maxabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/maxabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/maxabs/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/maxabs/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/maxabs/examples/index.js
  lib/node_modules/@stdlib/stats/base/maxabs/lib/accessors.js
  lib/node_modules/@stdlib/stats/base/maxabs/lib/index.js
  lib/node_modules/@stdlib/stats/base/maxabs/lib/main.js
  lib/node_modules/@stdlib/stats/base/maxabs/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/maxabs/test/test.main.js
  lib/node_modules/@stdlib/stats/base/maxabs/test/test.ndarray.js
Labels: Needs Review, Statistics

#4921 bench: refactor random number generation in `stats/base/dists/f`
  lib/node_modules/@stdlib/stats/base/dists/f/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/f/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/f/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/f/entropy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/f/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/f/kurtosis/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/f/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/f/mean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/f/mode/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/f/mode/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/f/pdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/f/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/f/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/f/skewness/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/f/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/f/stdev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/f/variance/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/f/variance/benchmark/benchmark.native.js
Labels: Statistics, Benchmarks

#4922 bench: refactor random number generation in `stats/base/dists/frechet`
  lib/node_modules/@stdlib/stats/base/dists/frechet/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/logcdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/logpdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/median/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/mode/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/pdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/skewness/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/stdev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/variance/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/variance/benchmark/benchmark.native.js
Labels: Statistics, Benchmarks

#4933 bench: refactor random number generation in `stats/base/dists/gumbel`
  lib/node_modules/@stdlib/stats/base/dists/gumbel/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/kurtosis/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/logcdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/logpdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/median/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/mgf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/mode/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/mode/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/pdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/stdev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/variance/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/variance/benchmark/benchmark.native.js
Labels: Statistics, Benchmarks

#4931 bench: refactor random number generation in `stats/base/dists/geometric`
  lib/node_modules/@stdlib/stats/base/dists/geometric/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/entropy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/logcdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/logpmf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/mean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/median/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/mgf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/mode/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/pmf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/pmf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/skewness/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/variance/benchmark/benchmark.js
Labels: Statistics, Benchmarks

#3681 feat: add C implementation for `stats/base/dists/binomial/mean`
  lib/node_modules/@stdlib/stats/base/dists/binomial/mean/README.md
  lib/node_modules/@stdlib/stats/base/dists/binomial/mean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/binomial/mean/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/binomial/mean/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/mean/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/binomial/mean/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/binomial/mean/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/mean/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/binomial/mean/include/stdlib/stats/base/dists/binomial/mean.h
  lib/node_modules/@stdlib/stats/base/dists/binomial/mean/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/binomial/mean/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/binomial/mean/package.json
  lib/node_modules/@stdlib/stats/base/dists/binomial/mean/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/binomial/mean/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/mean/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/mean/test/test.native.js
Labels: Statistics, Ready To Merge

#5121 docs: update examples for `blas/base/zcopy`
  lib/node_modules/@stdlib/blas/base/zcopy/README.md
  lib/node_modules/@stdlib/blas/base/zcopy/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/zcopy/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/zcopy/lib/index.js
  lib/node_modules/@stdlib/blas/base/zcopy/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/zcopy/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/zcopy/lib/zcopy.js
  lib/node_modules/@stdlib/blas/base/zcopy/lib/zcopy.native.js
Labels: BLAS

#4095 feat: add C implementation for `stats/base/dists/geometric/stdev`
  lib/node_modules/@stdlib/stats/base/dists/geometric/stdev/README.md
  lib/node_modules/@stdlib/stats/base/dists/geometric/stdev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/stdev/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/geometric/stdev/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/stdev/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/geometric/stdev/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/geometric/stdev/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/stdev/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/geometric/stdev/include/stdlib/stats/base/dists/geometric/stdev.h
  lib/node_modules/@stdlib/stats/base/dists/geometric/stdev/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/stdev/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/geometric/stdev/package.json
  lib/node_modules/@stdlib/stats/base/dists/geometric/stdev/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/geometric/stdev/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/stdev/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/stdev/test/test.native.js
Labels: Statistics, Ready To Merge

#4176 feat: add C implementation for `stats/base/dists/exponential/logpdf`
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/include/stdlib/stats/base/dists/exponential/logpdf.h
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/test/test.native.js
Labels: Statistics, Ready To Merge

#4173 feat: add C implementation for `stats/base/dists/exponential/cdf`
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/include/stdlib/stats/base/dists/exponential/cdf.h
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/test/test.native.js
Labels: Statistics, Ready To Merge

#5134 feat: add accessor arrays support to `blas/ext/base/gsum`
  lib/node_modules/@stdlib/blas/ext/base/gsum/README.md
  lib/node_modules/@stdlib/blas/ext/base/gsum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/gsum/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/gsum/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/gsum/test/test.ndarray.js
Labels: Feature, BLAS

#4248 feat: add C ndarray interface and refactor implementation for `stats/base/dnanmeanors`
  lib/node_modules/@stdlib/stats/base/dnanmeanors/README.md
  lib/node_modules/@stdlib/stats/base/dnanmeanors/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmeanors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmeanors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanors/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dnanmeanors/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dnanmeanors/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dnanmeanors/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dnanmeanors/include/stdlib/stats/base/dnanmeanors.h
  lib/node_modules/@stdlib/stats/base/dnanmeanors/lib/dnanmeanors.js
  lib/node_modules/@stdlib/stats/base/dnanmeanors/lib/dnanmeanors.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanors/lib/index.js
  lib/node_modules/@stdlib/stats/base/dnanmeanors/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmeanors/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanors/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanmeanors/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmeanors/src/dnanmeanors.c
  lib/node_modules/@stdlib/stats/base/dnanmeanors/src/main.c
  lib/node_modules/@stdlib/stats/base/dnanmeanors/test/test.dnanmeanors.js
  lib/node_modules/@stdlib/stats/base/dnanmeanors/test/test.dnanmeanors.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanors/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmeanors/test/test.ndarray.native.js
Labels: Feature, Statistics, C

#4405 feat: add C `ndarray` interface and refactor implementation for `stats/base/dsnanmeanpn`
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/README.md
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/include/stdlib/stats/base/dsnanmeanpn.h
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/lib/dsnanmeanpn.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/lib/dsnanmeanpn.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/lib/index.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/manifest.json
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/src/main.c
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/test/test.dsnanmeanpn.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/test/test.dsnanmeanpn.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/test/test.ndarray.native.js
Labels: Feature, Statistics, C

#5135 docs: update function description in JS benchmarks in `stats/base/*`
  lib/node_modules/@stdlib/stats/base/dnanmax/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmax/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmax/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmax/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmin/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmin/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanminabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanrange/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanrange/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanrange/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanrange/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmax/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanmax/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanmax/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmax/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmaxabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmeanors/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanmeanors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanmeanors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmeanors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanmin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanmin/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmin/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanminabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanminabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanminabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanminabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanrange/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanrange/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanrange/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanrange/benchmark/benchmark.ndarray.native.js
Labels: Documentation, Statistics

#5138 docs: fix errors in the structure of READMEs in `stats/base/*`
  lib/node_modules/@stdlib/stats/base/dists/binomial/skewness/README.md
  lib/node_modules/@stdlib/stats/base/dists/binomial/variance/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/kurtosis/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/logcdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/median/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/mgf/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/mode/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/pdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/skewness/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/stdev/README.md
  lib/node_modules/@stdlib/stats/base/dists/discrete-uniform/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/discrete-uniform/entropy/README.md
  lib/node_modules/@stdlib/stats/base/dists/discrete-uniform/kurtosis/README.md
  lib/node_modules/@stdlib/stats/base/dists/discrete-uniform/mean/README.md
  lib/node_modules/@stdlib/stats/base/dists/discrete-uniform/median/README.md
  lib/node_modules/@stdlib/stats/base/dists/discrete-uniform/mgf/README.md
  lib/node_modules/@stdlib/stats/base/dists/discrete-uniform/skewness/README.md
  lib/node_modules/@stdlib/stats/base/dists/discrete-uniform/stdev/README.md
  lib/node_modules/@stdlib/stats/base/dists/discrete-uniform/variance/README.md
  lib/node_modules/@stdlib/stats/base/dists/logistic/mode/README.md
  lib/node_modules/@stdlib/stats/base/dmeankbn/README.md
  lib/node_modules/@stdlib/stats/base/dmeankbn2/README.md
  lib/node_modules/@stdlib/stats/base/dmeanli/README.md
  lib/node_modules/@stdlib/stats/base/dmeanors/README.md
  lib/node_modules/@stdlib/stats/base/dmeanpw/README.md
  lib/node_modules/@stdlib/stats/base/dmidrange/README.md
  lib/node_modules/@stdlib/stats/base/dmin/README.md
  lib/node_modules/@stdlib/stats/base/dminabs/README.md
  lib/node_modules/@stdlib/stats/base/dminsorted/README.md
  lib/node_modules/@stdlib/stats/base/dmskmax/README.md
  lib/node_modules/@stdlib/stats/base/dmskmin/README.md
  lib/node_modules/@stdlib/stats/base/dmskrange/README.md
  lib/node_modules/@stdlib/stats/base/dnanmax/README.md
  lib/node_modules/@stdlib/stats/base/dnanmeanors/README.md
  lib/node_modules/@stdlib/stats/base/dnanmeanpw/README.md
  lib/node_modules/@stdlib/stats/base/dsmean/README.md
  lib/node_modules/@stdlib/stats/base/dsmeanors/README.md
  lib/node_modules/@stdlib/stats/base/dsmeanpw/README.md
  lib/node_modules/@stdlib/stats/base/dsmeanwd/README.md
  lib/node_modules/@stdlib/stats/base/dsnanmeanpn/README.md
  lib/node_modules/@stdlib/stats/base/dsnanmeanwd/README.md
  lib/node_modules/@stdlib/stats/base/smskmax/README.md
  lib/node_modules/@stdlib/stats/base/smskmin/README.md
  lib/node_modules/@stdlib/stats/base/smskrange/README.md
Labels: Statistics, Ready To Merge

#5137 bench: chore: address commit comments (commit 28b78a0)
  lib/node_modules/@stdlib/stats/base/dists/poisson/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/mode/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/stdev/benchmark/benchmark.js
Labels: Statistics, Ready To Merge

#5111 feat: add support for accessor arrays and refactor `stats/base/nanmax`
  lib/node_modules/@stdlib/stats/base/nanmax/README.md
  lib/node_modules/@stdlib/stats/base/nanmax/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/nanmax/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/nanmax/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/nanmax/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/nanmax/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/nanmax/examples/index.js
  lib/node_modules/@stdlib/stats/base/nanmax/lib/accessors.js
  lib/node_modules/@stdlib/stats/base/nanmax/lib/index.js
  lib/node_modules/@stdlib/stats/base/nanmax/lib/main.js
  lib/node_modules/@stdlib/stats/base/nanmax/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/nanmax/test/test.main.js
  lib/node_modules/@stdlib/stats/base/nanmax/test/test.ndarray.js
Labels: Feature, Statistics

#5160 bench: remove duplicate logic
  lib/node_modules/@stdlib/stats/base/dists/gamma/mgf/benchmark/benchmark.js
Labels: Statistics, Benchmarks

#5163 docs: fix incorrect structure in READMEs of `blas/ext/base/*`
  lib/node_modules/@stdlib/blas/ext/base/cfill/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsortins/README.md
  lib/node_modules/@stdlib/blas/ext/base/zfill/README.md
Labels: Documentation, BLAS

#5159 bench: remove duplicate variable declaration
  lib/node_modules/@stdlib/stats/base/dists/arcsine/mean/benchmark/benchmark.js
Labels: Statistics, Benchmarks

#5172 docs: update `blas/ext/base/dnanasum` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasum/src/main.c
Labels: BLAS, Ready To Merge

#5170 docs: update `blas/ext/base/dcusumpw` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/lib/dcusumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/lib/dcusumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumpw/src/main.c
Labels: BLAS, Ready To Merge

#5166 docs: update `blas/ext/base/dcusum` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dcusum/README.md
  lib/node_modules/@stdlib/blas/ext/base/dcusum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dcusum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dcusum/lib/dcusum.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/lib/dcusum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusum/src/main.c
Labels: BLAS, Ready To Merge

#5114 feat: add C ndarray API and refactor `blas/ext/base/ssort2ins`
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/README.md
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/benchmark/c/benchmark.unsorted_random.length.c
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/include/stdlib/blas/ext/base/ssort2ins.h
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/lib/ssort2ins.js
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/lib/ssort2ins.native.js
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/src/main.c
Labels: Feature, BLAS, Ready To Merge

#5168 docs: update `blas/ext/base/dcusumkbn2` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/lib/dcusumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/lib/dcusumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn2/src/main.c
Labels: BLAS, Ready To Merge

#5198 bench: refactor number generation
  lib/node_modules/@stdlib/stats/base/dists/binomial/skewness/benchmark/benchmark.native.js
Labels: Statistics, Ready To Merge, First-time Contributor

#5176 bench: refactor random number generation in JS benchmarks for `stats/base/dists/uniform`
  lib/node_modules/@stdlib/stats/base/dists/uniform/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/entropy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/kurtosis/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/logcdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/logpdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/mean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/median/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/median/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/mgf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/pdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/pdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/variance/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/variance/benchmark/benchmark.native.js
Labels: Statistics, Ready To Merge, First-time Contributor

#5202 chore: address commit comments
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/src/main.c
Labels: Statistics, Ready To Merge

#5184 docs: fix return value
  lib/node_modules/@stdlib/stats/base/dists/geometric/stdev/src/main.c
Labels: Statistics, Ready To Merge

#4226 feat: add C implementation for `stats/base/dists/geometric/mgf`
  lib/node_modules/@stdlib/stats/base/dists/geometric/mgf/README.md
  lib/node_modules/@stdlib/stats/base/dists/geometric/mgf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/mgf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/geometric/mgf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/mgf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/geometric/mgf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/geometric/mgf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/mgf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/geometric/mgf/include/stdlib/stats/base/dists/geometric/mgf.h
  lib/node_modules/@stdlib/stats/base/dists/geometric/mgf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/mgf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/geometric/mgf/package.json
  lib/node_modules/@stdlib/stats/base/dists/geometric/mgf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/geometric/mgf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/mgf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/geometric/mgf/test/test.native.js
Labels: Statistics, Ready To Merge

#5212 bench: refactor number generation
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/benchmark/c/benchmark.c
Labels: Statistics, Ready To Merge

#4397 feat: add C `ndarray` interface and refactor implementation for `stats/base/dsnanmeanors`
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/README.md
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/include/stdlib/stats/base/dsnanmeanors.h
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/lib/dsnanmeanors.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/lib/dsnanmeanors.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/lib/index.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/manifest.json
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/src/addon.c
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/src/main.c
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/test/test.dsnanmeanors.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/test/test.dsnanmeanors.native.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dsnanmeanors/test/test.ndarray.native.js
Labels: Statistics, Ready To Merge

#4250 feat: add C `ndarray` interface and refactor implementation for `stats/base/dnanmeanpn`
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/README.md
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/include/stdlib/stats/base/dnanmeanpn.h
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/lib/dnanmeanpn.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/lib/dnanmeanpn.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/lib/index.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/src/main.c
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/test/test.dnanmeanpn.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/test/test.dnanmeanpn.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmeanpn/test/test.ndarray.native.js
Labels: Feature, Statistics, C, Ready To Merge

#4733 feat: add C ndarray interface and refactor implementation for `stats/base/dmeanlipw`
  lib/node_modules/@stdlib/stats/base/dmeanlipw/README.md
  lib/node_modules/@stdlib/stats/base/dmeanlipw/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dmeanlipw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dmeanlipw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanlipw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeanlipw/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dmeanlipw/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dmeanlipw/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dmeanlipw/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dmeanlipw/examples/index.js
  lib/node_modules/@stdlib/stats/base/dmeanlipw/include/stdlib/stats/base/dmeanlipw.h
  lib/node_modules/@stdlib/stats/base/dmeanlipw/lib/dmeanlipw.js
  lib/node_modules/@stdlib/stats/base/dmeanlipw/lib/dmeanlipw.native.js
  lib/node_modules/@stdlib/stats/base/dmeanlipw/lib/index.js
  lib/node_modules/@stdlib/stats/base/dmeanlipw/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanlipw/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeanlipw/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeanlipw/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeanlipw/src/main.c
  lib/node_modules/@stdlib/stats/base/dmeanlipw/test/test.dmeanlipw.js
  lib/node_modules/@stdlib/stats/base/dmeanlipw/test/test.dmeanlipw.native.js
  lib/node_modules/@stdlib/stats/base/dmeanlipw/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanlipw/test/test.ndarray.native.js
Labels: Statistics, Ready To Merge

#4141 feat: add C implementation for `stats/base/dists/uniform/logpdf`
  lib/node_modules/@stdlib/stats/base/dists/uniform/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/uniform/logpdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/logpdf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/uniform/logpdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/logpdf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/uniform/logpdf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/uniform/logpdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/logpdf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/uniform/logpdf/include/stdlib/stats/base/dists/uniform/logpdf.h
  lib/node_modules/@stdlib/stats/base/dists/uniform/logpdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/logpdf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/uniform/logpdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/uniform/logpdf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/uniform/logpdf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/logpdf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/logpdf/test/test.native.js
Labels: Statistics, Ready To Merge

#4140 feat: add C implementation for `stats/base/dists/uniform/logcdf`
  lib/node_modules/@stdlib/stats/base/dists/uniform/logcdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/uniform/logcdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/logcdf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/uniform/logcdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/logcdf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/uniform/logcdf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/uniform/logcdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/logcdf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/uniform/logcdf/include/stdlib/stats/base/dists/uniform/logcdf.h
  lib/node_modules/@stdlib/stats/base/dists/uniform/logcdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/logcdf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/uniform/logcdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/uniform/logcdf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/uniform/logcdf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/logcdf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/logcdf/test/test.native.js
Labels: Statistics, Ready To Merge

#4393 feat: add C implementation of `stats/base/dists/cauchy/pdf`
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/include/stdlib/stats/base/dists/cauchy/pdf.h
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/test/test.native.js
Labels: Statistics, Ready To Merge

#4143 feat: add C implementation for `stats/base/dists/uniform/quantile`
  lib/node_modules/@stdlib/stats/base/dists/uniform/quantile/README.md
  lib/node_modules/@stdlib/stats/base/dists/uniform/quantile/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/quantile/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/uniform/quantile/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/quantile/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/uniform/quantile/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/uniform/quantile/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/quantile/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/uniform/quantile/include/stdlib/stats/base/dists/uniform/quantile.h
  lib/node_modules/@stdlib/stats/base/dists/uniform/quantile/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/quantile/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/uniform/quantile/package.json
  lib/node_modules/@stdlib/stats/base/dists/uniform/quantile/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/uniform/quantile/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/quantile/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/uniform/quantile/test/test.native.js
Labels: Statistics, Ready To Merge

#4145 feat: add C implementation for `stats/base/dists/exponential/quantile`
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/include/stdlib/stats/base/dists/exponential/quantile.h
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/package.json
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/test/test.native.js
Labels: Statistics, Ready To Merge

#5190 docs: update `blas/ext/base/dnannsumpw` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/lib/dnannsumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/lib/dnannsumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumpw/lib/sumpw.js
Labels: BLAS, Ready To Merge

#5188 docs: update `blas/ext/base/dnannsumkbn2` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/lib/dnannsumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/lib/dnannsumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn2/lib/ndarray.native.js
Labels: BLAS, Ready To Merge

#5187 docs: update `blas/ext/base/dnannsumkbn` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/lib/dnannsumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/lib/dnannsumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumkbn/lib/ndarray.native.js
Labels: BLAS, Ready To Merge

#5186 docs: update `blas/ext/base/dnannsum` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/lib/dnannsum.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/lib/dnannsum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsum/lib/ndarray.native.js
Labels: BLAS, Ready To Merge

#5185 docs: update `blas/ext/base/dnanasumors` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/lib/dnanasumors.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/lib/dnanasumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnanasumors/src/main.c
Labels: BLAS, Ready To Merge

#5189 docs: update `blas/ext/base/dnannsumors` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/lib/dnannsumors.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/lib/dnannsumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dnannsumors/lib/ndarray.native.js
Labels: BLAS, Ready To Merge

#5169 docs: update `blas/ext/base/dcusumors` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/lib/dcusumors.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/lib/dcusumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumors/src/main.c
Labels: BLAS, Ready To Merge

#5167 docs: update `blas/ext/base/dcusumkbn` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/lib/dcusumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/lib/dcusumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dcusumkbn/src/main.c
Labels: BLAS, Ready To Merge

#4177 feat: add C implementation for `stats/base/dists/exponential/entropy`
  lib/node_modules/@stdlib/stats/base/dists/exponential/entropy/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/entropy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/entropy/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/exponential/entropy/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/entropy/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/exponential/entropy/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/exponential/entropy/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/entropy/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/exponential/entropy/include/stdlib/stats/base/dists/exponential/entropy.h
  lib/node_modules/@stdlib/stats/base/dists/exponential/entropy/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/entropy/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/exponential/entropy/package.json
  lib/node_modules/@stdlib/stats/base/dists/exponential/entropy/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/exponential/entropy/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/entropy/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/exponential/entropy/test/test.native.js
Labels: Statistics, Ready To Merge

#5171 docs: update `blas/ext/base/dfill` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dfill/README.md
  lib/node_modules/@stdlib/blas/ext/base/dfill/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dfill/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dfill/lib/dfill.js
  lib/node_modules/@stdlib/blas/ext/base/dfill/lib/dfill.native.js
  lib/node_modules/@stdlib/blas/ext/base/dfill/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dfill/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dfill/src/main.c
Labels: BLAS

#5173 docs: update examples for `blas/base/zaxpy`
  lib/node_modules/@stdlib/blas/base/zaxpy/README.md
  lib/node_modules/@stdlib/blas/base/zaxpy/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/zaxpy/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/zaxpy/lib/index.js
  lib/node_modules/@stdlib/blas/base/zaxpy/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/zaxpy/lib/zaxpy.js
Labels: Documentation, BLAS

#5218 docs: update examples for `blas/base/zswap`
  lib/node_modules/@stdlib/blas/base/zswap/README.md
  lib/node_modules/@stdlib/blas/base/zswap/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/zswap/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/zswap/lib/index.js
  lib/node_modules/@stdlib/blas/base/zswap/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/zswap/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/zswap/lib/zswap.js
  lib/node_modules/@stdlib/blas/base/zswap/lib/zswap.native.js
Labels: Documentation, BLAS

#5223 bench: refactor benchmarks in `math/base/special/rsqrtf`
  lib/node_modules/@stdlib/math/base/special/rsqrtf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/rsqrtf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/rsqrtf/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/rsqrtf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/rsqrtf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/rsqrtf/benchmark/c/native/benchmark.c
Labels: Math, Benchmarks

#5226 docs: update examples for `blas/base/zscal`
  lib/node_modules/@stdlib/blas/base/zscal/README.md
  lib/node_modules/@stdlib/blas/base/zscal/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/zscal/docs/types/index.d.ts
Labels: Documentation, BLAS

#5209 docs: update examples for `blas/base/zdrot`
  lib/node_modules/@stdlib/blas/base/zdrot/README.md
  lib/node_modules/@stdlib/blas/base/zdrot/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/zdrot/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/zdrot/lib/index.js
  lib/node_modules/@stdlib/blas/base/zdrot/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/zdrot/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/zdrot/lib/zdrot.js
  lib/node_modules/@stdlib/blas/base/zdrot/lib/zdrot.native.js
Labels: Documentation, BLAS

#5224 feat: add `blas/base/wasm/sscal`
  lib/node_modules/@stdlib/blas/base/wasm/sscal/README.md
  lib/node_modules/@stdlib/blas/base/wasm/sscal/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/wasm/sscal/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/wasm/sscal/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/wasm/sscal/examples/index.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/examples/module.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/lib/binary.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/lib/index.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/lib/main.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/lib/module.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/lib/routine.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/manifest.json
  lib/node_modules/@stdlib/blas/base/wasm/sscal/package.json
  lib/node_modules/@stdlib/blas/base/wasm/sscal/scripts/build.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/wasm/sscal/src/Makefile
  lib/node_modules/@stdlib/blas/base/wasm/sscal/src/exports.json
  lib/node_modules/@stdlib/blas/base/wasm/sscal/src/main.wasm
  lib/node_modules/@stdlib/blas/base/wasm/sscal/src/main.wat
  lib/node_modules/@stdlib/blas/base/wasm/sscal/test/test.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/test/test.main.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/test/test.module.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/sscal/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#5205 feat: add `strided` and `assign` APIs to `complex/float32/base/mul`
  lib/node_modules/@stdlib/complex/float32/base/mul/README.md
  lib/node_modules/@stdlib/complex/float32/base/mul/benchmark/benchmark.assign.js
  lib/node_modules/@stdlib/complex/float32/base/mul/benchmark/benchmark.strided.js
  lib/node_modules/@stdlib/complex/float32/base/mul/docs/repl.txt
  lib/node_modules/@stdlib/complex/float32/base/mul/docs/types/index.d.ts
  lib/node_modules/@stdlib/complex/float32/base/mul/docs/types/test.ts
  lib/node_modules/@stdlib/complex/float32/base/mul/lib/assign.js
  lib/node_modules/@stdlib/complex/float32/base/mul/lib/index.js
  lib/node_modules/@stdlib/complex/float32/base/mul/lib/strided.js
  lib/node_modules/@stdlib/complex/float32/base/mul/test/test.assign.js
  lib/node_modules/@stdlib/complex/float32/base/mul/test/test.js
  lib/node_modules/@stdlib/complex/float32/base/mul/test/test.main.js
  lib/node_modules/@stdlib/complex/float32/base/mul/test/test.strided.js
Labels: Feature, First-time Contributor

#5219 chore: address commit comments
  lib/node_modules/@stdlib/stats/base/dists/binomial/mean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/binomial/mean/test/test.native.js
Labels: Statistics

#5247 chore: fix copy & paste error
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/benchmark/c/benchmark.c
Labels: Statistics, Ready To Merge

#5193 bench: refactor random number generation in `stats/base/dists/negative-binomial`
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/logpmf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/mgf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/mode/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/pmf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/variance/benchmark/benchmark.js
Labels: Statistics, Ready To Merge

#4411 feat: add C implementation for `stats/base/dists/binomial/kurtosis`
  lib/node_modules/@stdlib/stats/base/dists/binomial/kurtosis/README.md
  lib/node_modules/@stdlib/stats/base/dists/binomial/kurtosis/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/binomial/kurtosis/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/binomial/kurtosis/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/kurtosis/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/binomial/kurtosis/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/binomial/kurtosis/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/kurtosis/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/binomial/kurtosis/include/stdlib/stats/base/dists/binomial/kurtosis.h
  lib/node_modules/@stdlib/stats/base/dists/binomial/kurtosis/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/binomial/kurtosis/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/binomial/kurtosis/package.json
  lib/node_modules/@stdlib/stats/base/dists/binomial/kurtosis/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/binomial/kurtosis/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/kurtosis/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/kurtosis/test/test.native.js
Labels: Statistics, Ready To Merge

#5206 chore: fix C lint errors
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dsnanmean/benchmark/c/benchmark.length.c
Labels: Statistics, Ready To Merge

#5258 bench: refactor benchmarks and update test messages in `math/base/special/abs2f`
  lib/node_modules/@stdlib/math/base/special/abs2f/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/abs2f/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/abs2f/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/abs2f/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/abs2f/test/test.js
  lib/node_modules/@stdlib/math/base/special/abs2f/test/test.native.js
Labels: Math, Ready To Merge

#5259 bench: refactor benchmarks and update test messages in `math/base/special/absf`
  lib/node_modules/@stdlib/math/base/special/absf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/absf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/absf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/absf/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/absf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/absf/test/test.abs.js
  lib/node_modules/@stdlib/math/base/special/absf/test/test.js
  lib/node_modules/@stdlib/math/base/special/absf/test/test.native.js
Labels: Math, Ready To Merge

#4972 bench: refactor benchmarks and update test messages in `math/base/special/abs2`
  lib/node_modules/@stdlib/math/base/special/abs2/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/abs2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/abs2/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/abs2/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/abs2/test/test.js
  lib/node_modules/@stdlib/math/base/special/abs2/test/test.native.js
Labels: Math, Benchmarks, Ready To Merge

#5265 chore: addresses commit comments
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/test/test.cdf.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/test/test.native.js
Labels: Statistics, Ready To Merge

#5264 chore: addresses commit comments
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/test/test.native.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/test/test.pdf.js
Labels: Statistics, Ready To Merge

#5263 chore: address commit comments regarding typo and refactor
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/README.md
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/benchmark/c/benchmark.unsorted_random.length.c
  lib/node_modules/@stdlib/blas/ext/base/ssort2ins/src/main.c
Labels: BLAS, Ready To Merge, First-time Contributor

#5175 bench: refactor random number generation in `stats/base/dists/studentized-range`
  lib/node_modules/@stdlib/stats/base/dists/studentized-range/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/studentized-range/quantile/benchmark/benchmark.js
Labels: Statistics, Ready To Merge

#4408 feat: add C implementation for `stats/base/dists/binomial/stdev`
  lib/node_modules/@stdlib/stats/base/dists/binomial/stdev/README.md
  lib/node_modules/@stdlib/stats/base/dists/binomial/stdev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/binomial/stdev/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/binomial/stdev/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/stdev/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/binomial/stdev/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/binomial/stdev/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/stdev/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/binomial/stdev/include/stdlib/stats/base/dists/binomial/stdev.h
  lib/node_modules/@stdlib/stats/base/dists/binomial/stdev/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/binomial/stdev/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/binomial/stdev/package.json
  lib/node_modules/@stdlib/stats/base/dists/binomial/stdev/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/binomial/stdev/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/stdev/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/stdev/test/test.native.js
Labels: Statistics, Ready To Merge

#5260 bench: refactor random number generation in JS benchmarks for `stats/base/dists/pareto-type1`
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/logcdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/logpdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/median/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/mode/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/pdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/skewness/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/stdev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/variance/benchmark/benchmark.js
Labels: Statistics, Ready To Merge

#5164 bench: refactor random number generation in `stats/base/dists/lognormal`
  lib/node_modules/@stdlib/stats/base/dists/lognormal/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/logcdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/logpdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/median/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mode/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/pdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/variance/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/variance/benchmark/benchmark.native.js
Labels: Statistics, Ready To Merge

#3950 feat: add C implementation for `stats/base/dists/binomial/median`
  lib/node_modules/@stdlib/stats/base/dists/binomial/median/README.md
  lib/node_modules/@stdlib/stats/base/dists/binomial/median/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/binomial/median/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/binomial/median/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/median/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/binomial/median/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/binomial/median/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/median/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/binomial/median/include/stdlib/stats/base/dists/binomial/median.h
  lib/node_modules/@stdlib/stats/base/dists/binomial/median/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/binomial/median/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/binomial/median/package.json
  lib/node_modules/@stdlib/stats/base/dists/binomial/median/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/binomial/median/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/median/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/median/test/test.native.js
Labels: Statistics, Ready To Merge

#5139 bench: refactor random number generation in JS benchmarks for `stats/base/dists/logistic`
  lib/node_modules/@stdlib/stats/base/dists/logistic/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/logcdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/logpdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/mean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/median/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/mgf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/mode/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/mode/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/pdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/skewness/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/stdev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/variance/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/variance/benchmark/benchmark.native.js
Labels: Statistics, Ready To Merge

#5268 bench: refactor benchmarks and update test messages in `math/base/special/acosd`
  lib/node_modules/@stdlib/math/base/special/acosd/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acosd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acosd/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acosd/test/test.js
  lib/node_modules/@stdlib/math/base/special/acosd/test/test.native.js
Labels: Math, Benchmarks

#5267 bench: refactor benchmarks and update test messages in `math/base/special/acos`
  lib/node_modules/@stdlib/math/base/special/acos/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acos/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acos/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acos/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acos/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acos/test/test.js
  lib/node_modules/@stdlib/math/base/special/acos/test/test.native.js
Labels: Math, Benchmarks

#5269 bench: refactor benchmarks in `math/base/special/acosf`
  lib/node_modules/@stdlib/math/base/special/acosf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acosf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acosf/benchmark/c/native/benchmark.c
Labels: Math, Benchmarks

#5140 feat: add `math/base/special/hyp2f1`
  lib/node_modules/@stdlib/math/base/special/hyp2f1/README.md
  lib/node_modules/@stdlib/math/base/special/hyp2f1/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/hyp2f1/docs/img/equation_hypergeometric_function.svg
  lib/node_modules/@stdlib/math/base/special/hyp2f1/docs/img/equation_pochhammer_symbol.svg
  lib/node_modules/@stdlib/math/base/special/hyp2f1/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/hyp2f1/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/hyp2f1/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/hyp2f1/examples/index.js
  lib/node_modules/@stdlib/math/base/special/hyp2f1/lib/config.json
  lib/node_modules/@stdlib/math/base/special/hyp2f1/lib/hys2f1.js
  lib/node_modules/@stdlib/math/base/special/hyp2f1/lib/hyt2f1.js
  lib/node_modules/@stdlib/math/base/special/hyp2f1/lib/index.js
  lib/node_modules/@stdlib/math/base/special/hyp2f1/lib/isinteger.js
  lib/node_modules/@stdlib/math/base/special/hyp2f1/lib/isnonpositiveinteger.js
  lib/node_modules/@stdlib/math/base/special/hyp2f1/lib/main.js
  lib/node_modules/@stdlib/math/base/special/hyp2f1/package.json
  lib/node_modules/@stdlib/math/base/special/hyp2f1/test/fixtures/python/basic.json
  lib/node_modules/@stdlib/math/base/special/hyp2f1/test/fixtures/python/edge_cases1.json
  lib/node_modules/@stdlib/math/base/special/hyp2f1/test/fixtures/python/edge_cases2.json
  lib/node_modules/@stdlib/math/base/special/hyp2f1/test/fixtures/python/edge_cases3.json
  lib/node_modules/@stdlib/math/base/special/hyp2f1/test/fixtures/python/edge_cases4.json
  lib/node_modules/@stdlib/math/base/special/hyp2f1/test/fixtures/python/outliers.json
  lib/node_modules/@stdlib/math/base/special/hyp2f1/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/math/base/special/hyp2f1/test/test.js
Labels: Feature, Math

#5301 build: include comments and code snippets in created issues
  .github/workflows/scripts/create_address_commit_comments_issues
Labels: Tools

#5294 feat!: migrate `math/base/ops/mul` to `number/float64/base/mul`
  docs/migration-guides/mathjs/benchmark/benchmark.multiply.number.js
  lib/node_modules/@stdlib/math/base/ops/README.md
  lib/node_modules/@stdlib/math/base/ops/div/README.md
  lib/node_modules/@stdlib/math/base/ops/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/ops/lib/index.js
  lib/node_modules/@stdlib/math/base/ops/mulf/README.md
  lib/node_modules/@stdlib/math/base/ops/sub/README.md
  lib/node_modules/@stdlib/math/strided/ops/mul-by/README.md
  lib/node_modules/@stdlib/math/strided/ops/mul-by/lib/main.js
  lib/node_modules/@stdlib/math/strided/ops/mul-by/lib/ndarray.js
  lib/node_modules/@stdlib/math/strided/ops/mul-by/test/test.main.js
  lib/node_modules/@stdlib/math/strided/ops/mul-by/test/test.ndarray.js
  lib/node_modules/@stdlib/math/strided/ops/mul/lib/data.js
  lib/node_modules/@stdlib/math/strided/ops/mul/manifest.json
  lib/node_modules/@stdlib/math/strided/ops/mul/src/addon.c
  lib/node_modules/@stdlib/math/strided/ops/mul/test/test.mul.js
  lib/node_modules/@stdlib/math/strided/ops/mul/test/test.mul.native.js
  lib/node_modules/@stdlib/math/strided/ops/mul/test/test.ndarray.js
  lib/node_modules/@stdlib/math/strided/ops/mul/test/test.ndarray.native.js
  lib/node_modules/@stdlib/namespace/alias2pkg/data/data.csv
  lib/node_modules/@stdlib/namespace/lib/namespace/base/a.js
  lib/node_modules/@stdlib/namespace/lib/namespace/base/d.js
  lib/node_modules/@stdlib/namespace/lib/namespace/base/m.js
  lib/node_modules/@stdlib/namespace/lib/namespace/base/s.js
  lib/node_modules/@stdlib/namespace/pkg2alias/data/data.csv
  lib/node_modules/@stdlib/namespace/pkg2related/data/data.csv
  lib/node_modules/@stdlib/namespace/pkg2standalone/data/data.csv
  lib/node_modules/@stdlib/namespace/standalone2pkg/data/data.csv
  lib/node_modules/@stdlib/number/float64/base/add/README.md
  lib/node_modules/@stdlib/number/float64/base/mul/README.md
  lib/node_modules/@stdlib/number/float64/base/mul/benchmark/benchmark.js
  lib/node_modules/@stdlib/number/float64/base/mul/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/number/float64/base/mul/benchmark/c/Makefile
  lib/node_modules/@stdlib/number/float64/base/mul/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/number/float64/base/mul/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/number/float64/base/mul/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/number/float64/base/mul/binding.gyp
  lib/node_modules/@stdlib/number/float64/base/mul/docs/repl.txt
  lib/node_modules/@stdlib/number/float64/base/mul/docs/types/index.d.ts
  lib/node_modules/@stdlib/number/float64/base/mul/docs/types/test.ts
  lib/node_modules/@stdlib/number/float64/base/mul/examples/c/Makefile
  lib/node_modules/@stdlib/number/float64/base/mul/examples/c/example.c
  lib/node_modules/@stdlib/number/float64/base/mul/examples/index.js
  lib/node_modules/@stdlib/number/float64/base/mul/include.gypi
  lib/node_modules/@stdlib/number/float64/base/mul/include/stdlib/number/float64/base/mul.h
  lib/node_modules/@stdlib/number/float64/base/mul/lib/index.js
  lib/node_modules/@stdlib/number/float64/base/mul/lib/main.js
  lib/node_modules/@stdlib/number/float64/base/mul/lib/native.js
  lib/node_modules/@stdlib/number/float64/base/mul/manifest.json
  lib/node_modules/@stdlib/number/float64/base/mul/package.json
  lib/node_modules/@stdlib/number/float64/base/mul/src/Makefile
  lib/node_modules/@stdlib/number/float64/base/mul/src/addon.c
  lib/node_modules/@stdlib/number/float64/base/mul/src/mul.c
  lib/node_modules/@stdlib/number/float64/base/mul/test/test.js
  lib/node_modules/@stdlib/number/float64/base/mul/test/test.native.js
Labels: release: Major, Math

#5292 docs: fix missing ending `section` in various READMEs
  lib/node_modules/@stdlib/stats/base/dists/triangular/entropy/README.md
  lib/node_modules/@stdlib/stats/base/dists/triangular/kurtosis/README.md
  lib/node_modules/@stdlib/stats/base/dists/triangular/logcdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/triangular/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/triangular/mean/README.md
  lib/node_modules/@stdlib/stats/base/dists/triangular/median/README.md
  lib/node_modules/@stdlib/stats/base/dists/triangular/mgf/README.md
  lib/node_modules/@stdlib/stats/base/dists/triangular/mode/README.md
  lib/node_modules/@stdlib/stats/base/dists/triangular/pdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/triangular/skewness/README.md
  lib/node_modules/@stdlib/stats/base/dists/triangular/stdev/README.md
  lib/node_modules/@stdlib/stats/base/dists/uniform/logcdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/uniform/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/uniform/pdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/uniform/stdev/README.md
Labels: Documentation, Statistics

#5290 docs: fix typos in `math/base/ops/subf`
  lib/node_modules/@stdlib/math/base/ops/subf/README.md
Labels: Math

#5283 chore: address commit comments
  lib/node_modules/@stdlib/stats/base/dists/planck/stdev/README.md
  lib/node_modules/@stdlib/stats/base/dists/planck/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/planck/stdev/lib/native.js
Labels: Statistics, First-time Contributor

#5287 style: add missing space
  lib/node_modules/@stdlib/stats/base/dists/uniform/logpdf/src/main.c
Labels: Statistics

#4847 feat: add C ndarray interface and refactor implementation for `stats/base/dnanvariancetk`
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/README.md
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/examples/index.js
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/include/stdlib/stats/base/dnanvariancetk.h
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/lib/dnanvariancetk.js
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/lib/dnanvariancetk.native.js
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/lib/index.js
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/src/main.c
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/test/test.dnanvariancetk.js
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/test/test.dnanvariancetk.native.js
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanvariancetk/test/test.ndarray.native.js
Labels: Feature, Needs Review, Statistics

#5285 refactor: update `stats/base/snanstdev` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/snanstdev/include.gypi
  lib/node_modules/@stdlib/stats/base/snanstdev/manifest.json
  lib/node_modules/@stdlib/stats/base/snanstdev/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanstdev/src/addon.cpp
Labels: Statistics

#5293 feat: add `blas/base/wasm/zdrot`
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/README.md
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/examples/index.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/examples/module.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/lib/binary.browser.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/lib/binary.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/lib/index.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/lib/main.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/lib/module.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/lib/routine.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/manifest.json
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/package.json
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/scripts/build.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/scripts/template.txt
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/src/Makefile
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/src/exports.json
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/src/main.wasm
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/src/main.wat
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/test/test.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/test/test.main.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/test/test.module.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/zdrot/test/test.routine.js
Labels: Feature, WebAssembly, BLAS

#5323 feat!: migrate `math/base/ops/div` to `number/float64/base/div`
  lib/node_modules/@stdlib/math/base/ops/README.md
  lib/node_modules/@stdlib/math/base/ops/divf/README.md
  lib/node_modules/@stdlib/math/base/ops/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/ops/lib/index.js
  lib/node_modules/@stdlib/math/base/ops/sub/README.md
  lib/node_modules/@stdlib/namespace/alias2pkg/data/data.csv
  lib/node_modules/@stdlib/namespace/alias2pkg/data/data.json
  lib/node_modules/@stdlib/namespace/lib/namespace/base/a.js
  lib/node_modules/@stdlib/namespace/lib/namespace/base/d.js
  lib/node_modules/@stdlib/namespace/lib/namespace/base/m.js
  lib/node_modules/@stdlib/namespace/lib/namespace/base/s.js
  lib/node_modules/@stdlib/namespace/pkg2alias/data/data.csv
  lib/node_modules/@stdlib/namespace/pkg2alias/data/data.json
  lib/node_modules/@stdlib/namespace/pkg2related/data/data.csv
  lib/node_modules/@stdlib/namespace/pkg2related/data/data.json
  lib/node_modules/@stdlib/namespace/pkg2standalone/data/data.csv
  lib/node_modules/@stdlib/namespace/pkg2standalone/data/data.json
  lib/node_modules/@stdlib/namespace/standalone2pkg/data/data.csv
  lib/node_modules/@stdlib/namespace/standalone2pkg/data/data.json
  lib/node_modules/@stdlib/number/float64/base/add/README.md
  lib/node_modules/@stdlib/number/float64/base/div/README.md
  lib/node_modules/@stdlib/number/float64/base/div/benchmark/benchmark.js
  lib/node_modules/@stdlib/number/float64/base/div/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/number/float64/base/div/benchmark/c/Makefile
  lib/node_modules/@stdlib/number/float64/base/div/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/number/float64/base/div/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/number/float64/base/div/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/number/float64/base/div/binding.gyp
  lib/node_modules/@stdlib/number/float64/base/div/docs/repl.txt
  lib/node_modules/@stdlib/number/float64/base/div/docs/types/index.d.ts
  lib/node_modules/@stdlib/number/float64/base/div/docs/types/test.ts
  lib/node_modules/@stdlib/number/float64/base/div/examples/c/Makefile
  lib/node_modules/@stdlib/number/float64/base/div/examples/c/example.c
  lib/node_modules/@stdlib/number/float64/base/div/examples/index.js
  lib/node_modules/@stdlib/number/float64/base/div/include.gypi
  lib/node_modules/@stdlib/number/float64/base/div/include/stdlib/number/float64/base/div.h
  lib/node_modules/@stdlib/number/float64/base/div/lib/index.js
  lib/node_modules/@stdlib/number/float64/base/div/lib/main.js
  lib/node_modules/@stdlib/number/float64/base/div/lib/native.js
  lib/node_modules/@stdlib/number/float64/base/div/manifest.json
  lib/node_modules/@stdlib/number/float64/base/div/package.json
  lib/node_modules/@stdlib/number/float64/base/div/src/Makefile
  lib/node_modules/@stdlib/number/float64/base/div/src/addon.c
  lib/node_modules/@stdlib/number/float64/base/div/src/main.c
  lib/node_modules/@stdlib/number/float64/base/div/test/test.js
  lib/node_modules/@stdlib/number/float64/base/div/test/test.native.js
  lib/node_modules/@stdlib/number/float64/base/mul/README.md
Labels: release: Major, Math

#5318 refactor: update benchmarks and tests in `math/base/special/acosh`
  lib/node_modules/@stdlib/math/base/special/acosh/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acosh/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acosh/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acosh/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acosh/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acosh/benchmark/cpp/boost/benchmark.cpp
  lib/node_modules/@stdlib/math/base/special/acosh/test/test.js
  lib/node_modules/@stdlib/math/base/special/acosh/test/test.native.js
Labels: Math, Benchmarks

#5319 feat: add `array/base/for-each`
  lib/node_modules/@stdlib/array/base/for-each/README.md
  lib/node_modules/@stdlib/array/base/for-each/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/array/base/for-each/docs/repl.txt
  lib/node_modules/@stdlib/array/base/for-each/docs/types/index.d.ts
  lib/node_modules/@stdlib/array/base/for-each/docs/types/test.ts
  lib/node_modules/@stdlib/array/base/for-each/examples/index.js
  lib/node_modules/@stdlib/array/base/for-each/lib/index.js
  lib/node_modules/@stdlib/array/base/for-each/lib/main.js
  lib/node_modules/@stdlib/array/base/for-each/package.json
  lib/node_modules/@stdlib/array/base/for-each/test/test.js
Labels: Feature

#5296 bench: fix `isnan` checks in `stats/base/dists`
  lib/node_modules/@stdlib/stats/base/dists/arcsine/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/beta/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/betaprime/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/binomial/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chi/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/degenerate/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/discrete-uniform/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/erlang/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/f/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/gamma/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/geometric/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/hypergeometric/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/uniform/ctor/benchmark/benchmark.js
Labels: Statistics, Benchmarks

#4237 feat: add C ndarray interface and refactor implementation for `stats/base/dnanmean`
  lib/node_modules/@stdlib/stats/base/dnanmean/README.md
  lib/node_modules/@stdlib/stats/base/dnanmean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmean/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmean/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmean/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dnanmean/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dnanmean/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dnanmean/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dnanmean/include/stdlib/stats/base/dnanmean.h
  lib/node_modules/@stdlib/stats/base/dnanmean/lib/dnanmean.js
  lib/node_modules/@stdlib/stats/base/dnanmean/lib/dnanmean.native.js
  lib/node_modules/@stdlib/stats/base/dnanmean/lib/index.js
  lib/node_modules/@stdlib/stats/base/dnanmean/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmean/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmean/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanmean/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmean/src/dnanmean.c
  lib/node_modules/@stdlib/stats/base/dnanmean/src/main.c
  lib/node_modules/@stdlib/stats/base/dnanmean/test/test.dnanmean.js
  lib/node_modules/@stdlib/stats/base/dnanmean/test/test.dnanmean.native.js
  lib/node_modules/@stdlib/stats/base/dnanmean/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmean/test/test.ndarray.native.js
Labels: Feature, Statistics

#5286 refactor: update `stats/base/snanvariancepn` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/snanvariancepn/include.gypi
  lib/node_modules/@stdlib/stats/base/snanvariancepn/manifest.json
  lib/node_modules/@stdlib/stats/base/snanvariancepn/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanvariancepn/src/addon.cpp
Labels: Statistics

#5281 feat: add `STDLIB_MATH_BASE_NAPI_MODULE_DID_D` macro in `math/base/napi/ternary`
  lib/node_modules/@stdlib/math/base/napi/ternary/README.md
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary.h
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary/did_d.h
  lib/node_modules/@stdlib/math/base/napi/ternary/manifest.json
  lib/node_modules/@stdlib/math/base/napi/ternary/src/did_d.c
Labels: Feature, Math, Native Addons, C

#5325 build: refactor rule to disallow tabs in entire JSDoc comment
  lib/node_modules/@stdlib/_tools/eslint/rules/jsdoc-no-tabs/README.md
  lib/node_modules/@stdlib/_tools/eslint/rules/jsdoc-no-tabs/lib/main.js
  lib/node_modules/@stdlib/_tools/eslint/rules/jsdoc-no-tabs/test/fixtures/invalid.js
  lib/node_modules/@stdlib/_tools/eslint/rules/jsdoc-no-tabs/test/fixtures/valid.js
Labels: Tools

#5340 bench: update random value generation
  lib/node_modules/@stdlib/math/base/special/acotdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acotdf/benchmark/benchmark.native.js
Labels: Needs Review, Math

#5339 bench: update random value generation
  lib/node_modules/@stdlib/math/base/special/acosdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acosdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acosdf/benchmark/c/native/benchmark.c
Labels: Needs Review, Math

#5338 bench: update random value generation
  lib/node_modules/@stdlib/math/base/special/acotf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acotf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acotf/benchmark/c/native/benchmark.c
Labels: Needs Review, Math

#5337 bench: update random value generation
  lib/node_modules/@stdlib/math/base/special/acotd/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acotd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acotd/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acotd/test/test.js
  lib/node_modules/@stdlib/math/base/special/acotd/test/test.native.js
Labels: Needs Review, Math

#5336 bench: update random value generation
  lib/node_modules/@stdlib/math/base/special/acot/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acot/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acot/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acot/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acot/test/test.js
  lib/node_modules/@stdlib/math/base/special/acot/test/test.native.js
Labels: Needs Review, Math

#5341 bench: update random value generation
  lib/node_modules/@stdlib/math/base/special/acoth/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/acoth/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/acoth/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acoth/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/acoth/test/test.js
  lib/node_modules/@stdlib/math/base/special/acoth/test/test.native.js
Labels: Needs Review, Math

#5334 docs: add Aman Bhansali as a core contributor
  CORE_CONTRIBUTORS.md
Labels: Documentation, Ready To Merge, Governance
