Repository stdlib-js/stdlib, pull requests merged in 2025-07, with the labels that each got.

#7529 feat: add `blas/ext/base/ndarray/sindex-of`
  lib/node_modules/@stdlib/blas/ext/base/ndarray/sindex-of/README.md
  lib/node_modules/@stdlib/blas/ext/base/ndarray/sindex-of/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/ndarray/sindex-of/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/ndarray/sindex-of/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/ndarray/sindex-of/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/ndarray/sindex-of/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/ndarray/sindex-of/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/ndarray/sindex-of/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/ndarray/sindex-of/package.json
  lib/node_modules/@stdlib/blas/ext/base/ndarray/sindex-of/test/test.js
Labels: Feature, BLAS, GSoC, gsoc: 2025

#7545 chore: fix C lint errors (issue #7544)
  lib/node_modules/@stdlib/math/strided/special/dabs/benchmark/c/benchmark.length.c
Labels: Math

#7550 chore: fix C lint errors (issue #7549)
  lib/node_modules/@stdlib/math/strided/special/dmskramp/benchmark/c/benchmark.length.c
Labels: Math

#5914 feat: add accessor protocol support to `stats/base/range-by`
  lib/node_modules/@stdlib/stats/base/range-by/README.md
  lib/node_modules/@stdlib/stats/base/range-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/range-by/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/range-by/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/range-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/range-by/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/range-by/examples/index.js
  lib/node_modules/@stdlib/stats/base/range-by/lib/accessors.js
  lib/node_modules/@stdlib/stats/base/range-by/lib/index.js
  lib/node_modules/@stdlib/stats/base/range-by/lib/main.js
  lib/node_modules/@stdlib/stats/base/range-by/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/range-by/test/test.main.js
  lib/node_modules/@stdlib/stats/base/range-by/test/test.ndarray.js
Labels: Feature, Statistics, Good First PR

#7562 chore: fix C lint errors (issue #7561)
  lib/node_modules/@stdlib/math/strided/special/dsqrt/benchmark/c/benchmark.length.c
Labels: Math

#7566 feat: refactor and add protocol support to `stats/base/stdevtk`
  lib/node_modules/@stdlib/stats/base/stdevtk/README.md
  lib/node_modules/@stdlib/stats/base/stdevtk/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/stdevtk/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/stdevtk/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/stdevtk/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/stdevtk/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/stdevtk/examples/index.js
  lib/node_modules/@stdlib/stats/base/stdevtk/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/stdevtk/lib/stdevtk.js
  lib/node_modules/@stdlib/stats/base/stdevtk/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/stdevtk/test/test.stdevtk.js
Labels: Statistics, GSoC, gsoc: 2025

#7564 feat: add `stats/array/nanrange-by`
  lib/node_modules/@stdlib/stats/array/nanrange-by/README.md
  lib/node_modules/@stdlib/stats/array/nanrange-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanrange-by/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanrange-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanrange-by/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanrange-by/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanrange-by/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanrange-by/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanrange-by/package.json
  lib/node_modules/@stdlib/stats/array/nanrange-by/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7573 feat: add `stats/base/ndarray/drange`
  lib/node_modules/@stdlib/stats/base/ndarray/drange/README.md
  lib/node_modules/@stdlib/stats/base/ndarray/drange/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/ndarray/drange/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/ndarray/drange/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/ndarray/drange/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/ndarray/drange/examples/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/drange/lib/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/drange/lib/main.js
  lib/node_modules/@stdlib/stats/base/ndarray/drange/package.json
  lib/node_modules/@stdlib/stats/base/ndarray/drange/test/test.js
Labels: Statistics, GSoC, gsoc: 2025

#7556 feat: add `stats/array/stdevpn`
  lib/node_modules/@stdlib/stats/array/stdevpn/README.md
  lib/node_modules/@stdlib/stats/array/stdevpn/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/stdevpn/docs/img/equation_corrected_sample_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/stdevpn/docs/img/equation_population_mean.svg
  lib/node_modules/@stdlib/stats/array/stdevpn/docs/img/equation_population_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/stdevpn/docs/img/equation_sample_mean.svg
  lib/node_modules/@stdlib/stats/array/stdevpn/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/stdevpn/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/stdevpn/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/stdevpn/examples/index.js
  lib/node_modules/@stdlib/stats/array/stdevpn/lib/index.js
  lib/node_modules/@stdlib/stats/array/stdevpn/lib/main.js
  lib/node_modules/@stdlib/stats/array/stdevpn/package.json
  lib/node_modules/@stdlib/stats/array/stdevpn/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7582 feat: add `stats/array/stdevwd`
  lib/node_modules/@stdlib/stats/array/stdevwd/README.md
  lib/node_modules/@stdlib/stats/array/stdevwd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/stdevwd/docs/img/equation_corrected_sample_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/stdevwd/docs/img/equation_population_mean.svg
  lib/node_modules/@stdlib/stats/array/stdevwd/docs/img/equation_population_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/stdevwd/docs/img/equation_sample_mean.svg
  lib/node_modules/@stdlib/stats/array/stdevwd/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/stdevwd/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/stdevwd/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/stdevwd/examples/index.js
  lib/node_modules/@stdlib/stats/array/stdevwd/lib/index.js
  lib/node_modules/@stdlib/stats/array/stdevwd/lib/main.js
  lib/node_modules/@stdlib/stats/array/stdevwd/package.json
  lib/node_modules/@stdlib/stats/array/stdevwd/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7581 feat: add `stats/array/stdevtk`
  lib/node_modules/@stdlib/stats/array/stdevtk/README.md
  lib/node_modules/@stdlib/stats/array/stdevtk/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/stdevtk/docs/img/equation_corrected_sample_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/stdevtk/docs/img/equation_population_mean.svg
  lib/node_modules/@stdlib/stats/array/stdevtk/docs/img/equation_population_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/stdevtk/docs/img/equation_sample_mean.svg
  lib/node_modules/@stdlib/stats/array/stdevtk/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/stdevtk/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/stdevtk/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/stdevtk/examples/index.js
  lib/node_modules/@stdlib/stats/array/stdevtk/lib/index.js
  lib/node_modules/@stdlib/stats/array/stdevtk/lib/main.js
  lib/node_modules/@stdlib/stats/array/stdevtk/package.json
  lib/node_modules/@stdlib/stats/array/stdevtk/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7580 feat: add `stats/array/stdevch`
  lib/node_modules/@stdlib/stats/array/stdevch/README.md
  lib/node_modules/@stdlib/stats/array/stdevch/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/stdevch/docs/img/equation_corrected_sample_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/stdevch/docs/img/equation_population_mean.svg
  lib/node_modules/@stdlib/stats/array/stdevch/docs/img/equation_population_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/stdevch/docs/img/equation_sample_mean.svg
  lib/node_modules/@stdlib/stats/array/stdevch/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/stdevch/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/stdevch/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/stdevch/examples/index.js
  lib/node_modules/@stdlib/stats/array/stdevch/lib/index.js
  lib/node_modules/@stdlib/stats/array/stdevch/lib/main.js
  lib/node_modules/@stdlib/stats/array/stdevch/package.json
  lib/node_modules/@stdlib/stats/array/stdevch/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7475 feat: add `stats/array/stdev`
  lib/node_modules/@stdlib/stats/array/stdev/README.md
  lib/node_modules/@stdlib/stats/array/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/stdev/docs/img/equation_corrected_sample_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/stdev/docs/img/equation_population_mean.svg
  lib/node_modules/@stdlib/stats/array/stdev/docs/img/equation_population_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/stdev/docs/img/equation_sample_mean.svg
  lib/node_modules/@stdlib/stats/array/stdev/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/stdev/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/stdev/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/stdev/examples/index.js
  lib/node_modules/@stdlib/stats/array/stdev/lib/index.js
  lib/node_modules/@stdlib/stats/array/stdev/lib/main.js
  lib/node_modules/@stdlib/stats/array/stdev/package.json
  lib/node_modules/@stdlib/stats/array/stdev/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7273 feat: add `assert/is-float16array`
  lib/node_modules/@stdlib/assert/is-float16array/README.md
  lib/node_modules/@stdlib/assert/is-float16array/benchmark/benchmark.js
  lib/node_modules/@stdlib/assert/is-float16array/docs/repl.txt
  lib/node_modules/@stdlib/assert/is-float16array/docs/types/index.d.ts
  lib/node_modules/@stdlib/assert/is-float16array/docs/types/test.ts
  lib/node_modules/@stdlib/assert/is-float16array/examples/index.js
  lib/node_modules/@stdlib/assert/is-float16array/lib/index.js
  lib/node_modules/@stdlib/assert/is-float16array/lib/main.js
  lib/node_modules/@stdlib/assert/is-float16array/package.json
  lib/node_modules/@stdlib/assert/is-float16array/test/test.js
Labels: Feature

#7589 feat: add support for accessor arrays and refactor `stats/base/nanstdevtk`
  lib/node_modules/@stdlib/stats/base/nanstdevtk/README.md
  lib/node_modules/@stdlib/stats/base/nanstdevtk/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/nanstdevtk/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/nanstdevtk/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/nanstdevtk/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/nanstdevtk/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/nanstdevtk/examples/index.js
  lib/node_modules/@stdlib/stats/base/nanstdevtk/lib/index.js
  lib/node_modules/@stdlib/stats/base/nanstdevtk/lib/nanstdevtk.js
  lib/node_modules/@stdlib/stats/base/nanstdevtk/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/nanstdevtk/test/test.nanstdevtk.js
  lib/node_modules/@stdlib/stats/base/nanstdevtk/test/test.ndarray.js
Labels: Statistics, Good First PR, GSoC, gsoc: 2025

#7588 feat: add support for accessor arrays and refactor `stats/base/nanstdevch`
  lib/node_modules/@stdlib/stats/base/nanstdevch/README.md
  lib/node_modules/@stdlib/stats/base/nanstdevch/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/nanstdevch/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/nanstdevch/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/nanstdevch/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/nanstdevch/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/nanstdevch/examples/index.js
  lib/node_modules/@stdlib/stats/base/nanstdevch/lib/index.js
  lib/node_modules/@stdlib/stats/base/nanstdevch/lib/nanstdevch.js
  lib/node_modules/@stdlib/stats/base/nanstdevch/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/nanstdevch/test/test.nanstdevch.js
  lib/node_modules/@stdlib/stats/base/nanstdevch/test/test.ndarray.js
Labels: Statistics, Good First PR, GSoC, gsoc: 2025

#7467 feat: add `lapack/base/dlaset`
  lib/node_modules/@stdlib/lapack/base/dlaset/README.md
  lib/node_modules/@stdlib/lapack/base/dlaset/benchmark/benchmark.js
  lib/node_modules/@stdlib/lapack/base/dlaset/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/lapack/base/dlaset/docs/repl.txt
  lib/node_modules/@stdlib/lapack/base/dlaset/docs/types/index.d.ts
  lib/node_modules/@stdlib/lapack/base/dlaset/docs/types/test.ts
  lib/node_modules/@stdlib/lapack/base/dlaset/examples/index.js
  lib/node_modules/@stdlib/lapack/base/dlaset/lib/base.js
  lib/node_modules/@stdlib/lapack/base/dlaset/lib/dlaset.js
  lib/node_modules/@stdlib/lapack/base/dlaset/lib/index.js
  lib/node_modules/@stdlib/lapack/base/dlaset/lib/main.js
  lib/node_modules/@stdlib/lapack/base/dlaset/lib/ndarray.js
  lib/node_modules/@stdlib/lapack/base/dlaset/package.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/all_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/all_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/large_strides/all_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/large_strides/all_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/large_strides/lower_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/large_strides/lower_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/large_strides/upper_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/large_strides/upper_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/lower_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/lower_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/mixed_strides/all_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/mixed_strides/all_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/mixed_strides/lower_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/mixed_strides/lower_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/mixed_strides/upper_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/mixed_strides/upper_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/negative_strides/all_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/negative_strides/all_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/negative_strides/lower_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/negative_strides/lower_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/negative_strides/upper_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/negative_strides/upper_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/offsets/all_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/offsets/all_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/offsets/lower_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/offsets/lower_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/offsets/upper_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/offsets/upper_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/upper_col_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/fixtures/upper_row_major.json
  lib/node_modules/@stdlib/lapack/base/dlaset/test/test.dlaset.js
  lib/node_modules/@stdlib/lapack/base/dlaset/test/test.js
  lib/node_modules/@stdlib/lapack/base/dlaset/test/test.ndarray.js
Labels: Feature, LAPACK, GSoC, gsoc: 2025

#7587 feat: add `blas/ext/base/dlast-index-of`
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/README.md
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/binding.gyp
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/examples/c/Makefile
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/include/stdlib/blas/ext/base/dlast_index_of.h
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/lib/dlast_index_of.js
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/lib/dlast_index_of.native.js
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/lib/native.js
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/package.json
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/src/Makefile
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/test/test.dindex_of.native.js
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/test/test.dlast_index_of.js
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/test/test.js
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dlast-index-of/test/test.ndarray.native.js
Labels: Feature, BLAS, GSoC, gsoc: 2025

#6401 feat: add `stats/base/dists/bradford/skewness`
  lib/node_modules/@stdlib/stats/base/dists/bradford/skewness/README.md
  lib/node_modules/@stdlib/stats/base/dists/bradford/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/skewness/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dists/bradford/skewness/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dists/bradford/skewness/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/dists/bradford/skewness/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/skewness/lib/index.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/skewness/lib/main.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/skewness/package.json
  lib/node_modules/@stdlib/stats/base/dists/bradford/skewness/test/fixtures/python/data.json
  lib/node_modules/@stdlib/stats/base/dists/bradford/skewness/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/stats/base/dists/bradford/skewness/test/test.js
Labels: Statistics, Ready To Merge

#4152 feat: add C implementation for `stats/base/dists/gumbel/median`
  lib/node_modules/@stdlib/stats/base/dists/gumbel/median/README.md
  lib/node_modules/@stdlib/stats/base/dists/gumbel/median/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/median/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/gumbel/median/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/gumbel/median/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/gumbel/median/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/gumbel/median/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/gumbel/median/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/gumbel/median/include/stdlib/stats/base/dists/gumbel/median.h
  lib/node_modules/@stdlib/stats/base/dists/gumbel/median/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/gumbel/median/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/gumbel/median/package.json
  lib/node_modules/@stdlib/stats/base/dists/gumbel/median/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/gumbel/median/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/gumbel/median/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/gumbel/median/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#7609 test: update type expectations in `stats/base/cumax` tests to match generic return type
  lib/node_modules/@stdlib/stats/base/cumax/docs/types/test.ts
Labels: Statistics, Tests

#7597 feat: add `blas/ext/base/slast-index-of`
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/README.md
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/binding.gyp
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/examples/c/Makefile
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/include/stdlib/blas/ext/base/slast_index_of.h
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/lib/native.js
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/lib/slast_index_of.js
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/lib/slast_index_of.native.js
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/package.json
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/src/Makefile
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/test/test.js
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/test/test.sindex_of.native.js
  lib/node_modules/@stdlib/blas/ext/base/slast-index-of/test/test.slast_index_of.js
Labels: Feature, BLAS, GSoC, gsoc: 2025

#7603 feat: add `blas/ext/base/ndarray/dlast-index-of`
  lib/node_modules/@stdlib/blas/ext/base/ndarray/dlast-index-of/README.md
  lib/node_modules/@stdlib/blas/ext/base/ndarray/dlast-index-of/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/ndarray/dlast-index-of/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/ndarray/dlast-index-of/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/ndarray/dlast-index-of/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/ndarray/dlast-index-of/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/ndarray/dlast-index-of/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/ndarray/dlast-index-of/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/ndarray/dlast-index-of/package.json
  lib/node_modules/@stdlib/blas/ext/base/ndarray/dlast-index-of/test/test.js
Labels: Feature, BLAS, GSoC, gsoc: 2025

#7285 feat: add missing tests to `ndarray/base/every-by`
  lib/node_modules/@stdlib/ndarray/base/every-by/test/test.0d.js
  lib/node_modules/@stdlib/ndarray/base/every-by/test/test.10d.js
  lib/node_modules/@stdlib/ndarray/base/every-by/test/test.1d.js
  lib/node_modules/@stdlib/ndarray/base/every-by/test/test.2d.js
  lib/node_modules/@stdlib/ndarray/base/every-by/test/test.3d.js
  lib/node_modules/@stdlib/ndarray/base/every-by/test/test.4d.js
  lib/node_modules/@stdlib/ndarray/base/every-by/test/test.5d.js
  lib/node_modules/@stdlib/ndarray/base/every-by/test/test.6d.js
  lib/node_modules/@stdlib/ndarray/base/every-by/test/test.7d.js
  lib/node_modules/@stdlib/ndarray/base/every-by/test/test.8d.js
  lib/node_modules/@stdlib/ndarray/base/every-by/test/test.9d.js
  lib/node_modules/@stdlib/ndarray/base/every-by/test/test.js
  lib/node_modules/@stdlib/ndarray/base/every-by/test/test.nd.js
Labels: Tests, GSoC, gsoc: 2025

#7620 feat: add `complex/float64/base/assert/is-almost-equal`
  lib/node_modules/@stdlib/complex/float64/base/assert/is-almost-equal/README.md
  lib/node_modules/@stdlib/complex/float64/base/assert/is-almost-equal/benchmark/benchmark.js
  lib/node_modules/@stdlib/complex/float64/base/assert/is-almost-equal/docs/repl.txt
  lib/node_modules/@stdlib/complex/float64/base/assert/is-almost-equal/docs/types/index.d.ts
  lib/node_modules/@stdlib/complex/float64/base/assert/is-almost-equal/docs/types/test.ts
  lib/node_modules/@stdlib/complex/float64/base/assert/is-almost-equal/examples/index.js
  lib/node_modules/@stdlib/complex/float64/base/assert/is-almost-equal/lib/index.js
  lib/node_modules/@stdlib/complex/float64/base/assert/is-almost-equal/lib/main.js
  lib/node_modules/@stdlib/complex/float64/base/assert/is-almost-equal/package.json
  lib/node_modules/@stdlib/complex/float64/base/assert/is-almost-equal/test/test.js
Labels: Feature, GSoC, gsoc: 2025

#7621 chore: address commit comments for commit 18e1770 (issue #7614)
  lib/node_modules/@stdlib/stats/base/dists/bradford/skewness/README.md
Labels: Statistics, First-time Contributor, Good First PR

#7628 chore: fix EditorConfig lint errors (issue #7623)
  lib/node_modules/@stdlib/math/strided/special/dmskramp/manifest.json
Labels: Math, First-time Contributor, Good First PR

#7633 chore: address commit comments for commit `e711bd7` (issue #7613)
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/mean/benchmark/benchmark.native.js
Labels: Statistics, Ready To Merge, Good First PR

#7631 docs: use appropriate data type in string interpolation
  lib/node_modules/@stdlib/blas/base/dsyr/README.md
  lib/node_modules/@stdlib/blas/base/dsyr/examples/c/example.c
Labels: BLAS, GSoC, gsoc: 2025

#7646 chore: fix C lint errors (issue #7645)
  lib/node_modules/@stdlib/blas/ext/base/dnansumkbn2/benchmark/c/benchmark.length.c
Labels: BLAS, Ready To Merge

#7649 feat: add `assert/is-almost-equal`
  lib/node_modules/@stdlib/assert/is-almost-equal/README.md
  lib/node_modules/@stdlib/assert/is-almost-equal/benchmark/benchmark.js
  lib/node_modules/@stdlib/assert/is-almost-equal/docs/repl.txt
  lib/node_modules/@stdlib/assert/is-almost-equal/docs/types/index.d.ts
  lib/node_modules/@stdlib/assert/is-almost-equal/docs/types/test.ts
  lib/node_modules/@stdlib/assert/is-almost-equal/examples/index.js
  lib/node_modules/@stdlib/assert/is-almost-equal/lib/index.js
  lib/node_modules/@stdlib/assert/is-almost-equal/lib/main.js
  lib/node_modules/@stdlib/assert/is-almost-equal/package.json
  lib/node_modules/@stdlib/assert/is-almost-equal/test/test.js
Labels: Feature, GSoC, gsoc: 2025

#7669 feat: add `stats/array/nanvariancetk`
  lib/node_modules/@stdlib/stats/array/nanvariancetk/README.md
  lib/node_modules/@stdlib/stats/array/nanvariancetk/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanvariancetk/docs/img/equation_population_mean.svg
  lib/node_modules/@stdlib/stats/array/nanvariancetk/docs/img/equation_population_variance.svg
  lib/node_modules/@stdlib/stats/array/nanvariancetk/docs/img/equation_sample_mean.svg
  lib/node_modules/@stdlib/stats/array/nanvariancetk/docs/img/equation_unbiased_sample_variance.svg
  lib/node_modules/@stdlib/stats/array/nanvariancetk/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanvariancetk/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanvariancetk/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanvariancetk/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanvariancetk/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanvariancetk/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanvariancetk/package.json
  lib/node_modules/@stdlib/stats/array/nanvariancetk/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7671 feat: add `stats/array/nanvarianceyc`
  lib/node_modules/@stdlib/stats/array/nanvarianceyc/README.md
  lib/node_modules/@stdlib/stats/array/nanvarianceyc/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanvarianceyc/docs/img/equation_population_mean.svg
  lib/node_modules/@stdlib/stats/array/nanvarianceyc/docs/img/equation_population_variance.svg
  lib/node_modules/@stdlib/stats/array/nanvarianceyc/docs/img/equation_sample_mean.svg
  lib/node_modules/@stdlib/stats/array/nanvarianceyc/docs/img/equation_unbiased_sample_variance.svg
  lib/node_modules/@stdlib/stats/array/nanvarianceyc/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanvarianceyc/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanvarianceyc/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanvarianceyc/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanvarianceyc/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanvarianceyc/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanvarianceyc/package.json
  lib/node_modules/@stdlib/stats/array/nanvarianceyc/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7670 feat: add `stats/array/nanvariancewd`
  lib/node_modules/@stdlib/stats/array/nanvariancewd/README.md
  lib/node_modules/@stdlib/stats/array/nanvariancewd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanvariancewd/docs/img/equation_population_mean.svg
  lib/node_modules/@stdlib/stats/array/nanvariancewd/docs/img/equation_population_variance.svg
  lib/node_modules/@stdlib/stats/array/nanvariancewd/docs/img/equation_sample_mean.svg
  lib/node_modules/@stdlib/stats/array/nanvariancewd/docs/img/equation_unbiased_sample_variance.svg
  lib/node_modules/@stdlib/stats/array/nanvariancewd/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanvariancewd/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanvariancewd/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanvariancewd/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanvariancewd/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanvariancewd/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanvariancewd/package.json
  lib/node_modules/@stdlib/stats/array/nanvariancewd/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7668 feat: add `stats/array/nanvariancech`
  lib/node_modules/@stdlib/stats/array/nanvariancech/README.md
  lib/node_modules/@stdlib/stats/array/nanvariancech/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanvariancech/docs/img/equation_population_mean.svg
  lib/node_modules/@stdlib/stats/array/nanvariancech/docs/img/equation_population_variance.svg
  lib/node_modules/@stdlib/stats/array/nanvariancech/docs/img/equation_sample_mean.svg
  lib/node_modules/@stdlib/stats/array/nanvariancech/docs/img/equation_unbiased_sample_variance.svg
  lib/node_modules/@stdlib/stats/array/nanvariancech/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanvariancech/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanvariancech/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanvariancech/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanvariancech/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanvariancech/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanvariancech/package.json
  lib/node_modules/@stdlib/stats/array/nanvariancech/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7667 feat: add `stats/array/nanvariance`
  lib/node_modules/@stdlib/stats/array/nanvariance/README.md
  lib/node_modules/@stdlib/stats/array/nanvariance/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanvariance/docs/img/equation_population_mean.svg
  lib/node_modules/@stdlib/stats/array/nanvariance/docs/img/equation_population_variance.svg
  lib/node_modules/@stdlib/stats/array/nanvariance/docs/img/equation_sample_mean.svg
  lib/node_modules/@stdlib/stats/array/nanvariance/docs/img/equation_unbiased_sample_variance.svg
  lib/node_modules/@stdlib/stats/array/nanvariance/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanvariance/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanvariance/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanvariance/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanvariance/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanvariance/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanvariance/package.json
  lib/node_modules/@stdlib/stats/array/nanvariance/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7654 feat: add `stats/array/nanstdevch`
  lib/node_modules/@stdlib/stats/array/nanstdevch/README.md
  lib/node_modules/@stdlib/stats/array/nanstdevch/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanstdevch/docs/img/equation_corrected_sample_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/nanstdevch/docs/img/equation_population_mean.svg
  lib/node_modules/@stdlib/stats/array/nanstdevch/docs/img/equation_population_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/nanstdevch/docs/img/equation_sample_mean.svg
  lib/node_modules/@stdlib/stats/array/nanstdevch/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanstdevch/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanstdevch/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanstdevch/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanstdevch/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanstdevch/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanstdevch/package.json
  lib/node_modules/@stdlib/stats/array/nanstdevch/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7652 feat: add `stats/array/nanstdev`
  lib/node_modules/@stdlib/stats/array/nanstdev/README.md
  lib/node_modules/@stdlib/stats/array/nanstdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanstdev/docs/img/equation_corrected_sample_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/nanstdev/docs/img/equation_population_mean.svg
  lib/node_modules/@stdlib/stats/array/nanstdev/docs/img/equation_population_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/nanstdev/docs/img/equation_sample_mean.svg
  lib/node_modules/@stdlib/stats/array/nanstdev/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanstdev/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanstdev/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanstdev/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanstdev/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanstdev/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanstdev/package.json
  lib/node_modules/@stdlib/stats/array/nanstdev/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7651 chore: minor cleanup in `stats/strided/dcovarmtk`
  lib/node_modules/@stdlib/stats/strided/dcovarmtk/README.md
  lib/node_modules/@stdlib/stats/strided/dcovarmtk/docs/repl.txt
  lib/node_modules/@stdlib/stats/strided/dcovarmtk/docs/types/test.ts
  lib/node_modules/@stdlib/stats/strided/dcovarmtk/src/addon.c
Labels: Statistics, GSoC, gsoc: 2025

#7650 feat: add `stats/strided/scovarmtk`
  lib/node_modules/@stdlib/stats/strided/scovarmtk/README.md
  lib/node_modules/@stdlib/stats/strided/scovarmtk/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/strided/scovarmtk/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/strided/scovarmtk/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/strided/scovarmtk/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/strided/scovarmtk/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/strided/scovarmtk/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/strided/scovarmtk/binding.gyp
  lib/node_modules/@stdlib/stats/strided/scovarmtk/docs/repl.txt
  lib/node_modules/@stdlib/stats/strided/scovarmtk/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/strided/scovarmtk/docs/types/test.ts
  lib/node_modules/@stdlib/stats/strided/scovarmtk/examples/c/Makefile
  lib/node_modules/@stdlib/stats/strided/scovarmtk/examples/c/example.c
  lib/node_modules/@stdlib/stats/strided/scovarmtk/examples/index.js
  lib/node_modules/@stdlib/stats/strided/scovarmtk/include.gypi
  lib/node_modules/@stdlib/stats/strided/scovarmtk/include/stdlib/stats/strided/scovarmtk.h
  lib/node_modules/@stdlib/stats/strided/scovarmtk/lib/index.js
  lib/node_modules/@stdlib/stats/strided/scovarmtk/lib/main.js
  lib/node_modules/@stdlib/stats/strided/scovarmtk/lib/native.js
  lib/node_modules/@stdlib/stats/strided/scovarmtk/lib/ndarray.js
  lib/node_modules/@stdlib/stats/strided/scovarmtk/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/strided/scovarmtk/lib/scovarmtk.js
  lib/node_modules/@stdlib/stats/strided/scovarmtk/lib/scovarmtk.native.js
  lib/node_modules/@stdlib/stats/strided/scovarmtk/manifest.json
  lib/node_modules/@stdlib/stats/strided/scovarmtk/package.json
  lib/node_modules/@stdlib/stats/strided/scovarmtk/src/Makefile
  lib/node_modules/@stdlib/stats/strided/scovarmtk/src/addon.c
  lib/node_modules/@stdlib/stats/strided/scovarmtk/src/main.c
  lib/node_modules/@stdlib/stats/strided/scovarmtk/test/test.js
  lib/node_modules/@stdlib/stats/strided/scovarmtk/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/strided/scovarmtk/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/strided/scovarmtk/test/test.scovarmtk.js
  lib/node_modules/@stdlib/stats/strided/scovarmtk/test/test.scovarmtk.native.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7659 feat: add `stats/strided/covarmtk`
  lib/node_modules/@stdlib/stats/strided/covarmtk/README.md
  lib/node_modules/@stdlib/stats/strided/covarmtk/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/strided/covarmtk/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/strided/covarmtk/docs/repl.txt
  lib/node_modules/@stdlib/stats/strided/covarmtk/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/strided/covarmtk/docs/types/test.ts
  lib/node_modules/@stdlib/stats/strided/covarmtk/examples/index.js
  lib/node_modules/@stdlib/stats/strided/covarmtk/lib/accessors.js
  lib/node_modules/@stdlib/stats/strided/covarmtk/lib/index.js
  lib/node_modules/@stdlib/stats/strided/covarmtk/lib/main.js
  lib/node_modules/@stdlib/stats/strided/covarmtk/lib/ndarray.js
  lib/node_modules/@stdlib/stats/strided/covarmtk/package.json
  lib/node_modules/@stdlib/stats/strided/covarmtk/test/test.js
  lib/node_modules/@stdlib/stats/strided/covarmtk/test/test.main.js
  lib/node_modules/@stdlib/stats/strided/covarmtk/test/test.ndarray.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7679 chore: address commit comments for commit 75a786a (issue #7452)
  lib/node_modules/@stdlib/stats/base/dists/lognormal/pdf/README.md
Labels: Statistics, Ready To Merge, Good First PR

#7127 refactor: implementation of `blas/base/ssyr`
  lib/node_modules/@stdlib/blas/base/ssyr/README.md
  lib/node_modules/@stdlib/blas/base/ssyr/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/blas/base/ssyr/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/ssyr/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/ssyr/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/ssyr/examples/index.js
  lib/node_modules/@stdlib/blas/base/ssyr/include/stdlib/blas/base/ssyr.h
  lib/node_modules/@stdlib/blas/base/ssyr/include/stdlib/blas/base/ssyr_cblas.h
  lib/node_modules/@stdlib/blas/base/ssyr/lib/base.js
  lib/node_modules/@stdlib/blas/base/ssyr/lib/index.js
  lib/node_modules/@stdlib/blas/base/ssyr/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/ssyr/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/ssyr/lib/ssyr.js
  lib/node_modules/@stdlib/blas/base/ssyr/lib/ssyr.native.js
  lib/node_modules/@stdlib/blas/base/ssyr/manifest.json
  lib/node_modules/@stdlib/blas/base/ssyr/src/addon.c
  lib/node_modules/@stdlib/blas/base/ssyr/src/ssyr.c
  lib/node_modules/@stdlib/blas/base/ssyr/src/ssyr_cblas.c
  lib/node_modules/@stdlib/blas/base/ssyr/src/ssyr_ndarray.c
  lib/node_modules/@stdlib/blas/base/ssyr/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/ssyr/test/test.ssyr.native.js
Labels: Feature, BLAS, GSoC, gsoc: 2025

#7691 docs: fix method invocation in example
  lib/node_modules/@stdlib/blas/base/dgemv/docs/types/index.d.ts
Labels: Documentation, BLAS, GSoC, gsoc: 2025

#7682 feat: add `assert/is-almost-equal-float32array`
  lib/node_modules/@stdlib/assert/is-almost-equal-float32array/README.md
  lib/node_modules/@stdlib/assert/is-almost-equal-float32array/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/assert/is-almost-equal-float32array/docs/repl.txt
  lib/node_modules/@stdlib/assert/is-almost-equal-float32array/docs/types/index.d.ts
  lib/node_modules/@stdlib/assert/is-almost-equal-float32array/docs/types/test.ts
  lib/node_modules/@stdlib/assert/is-almost-equal-float32array/examples/index.js
  lib/node_modules/@stdlib/assert/is-almost-equal-float32array/lib/index.js
  lib/node_modules/@stdlib/assert/is-almost-equal-float32array/lib/main.js
  lib/node_modules/@stdlib/assert/is-almost-equal-float32array/package.json
  lib/node_modules/@stdlib/assert/is-almost-equal-float32array/test/test.js
Labels: Ready To Merge, GSoC, gsoc: 2025

#7687 feat: add `assert/is-almost-equal-complex128array`
  lib/node_modules/@stdlib/assert/is-almost-equal-complex128array/README.md
  lib/node_modules/@stdlib/assert/is-almost-equal-complex128array/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/assert/is-almost-equal-complex128array/docs/repl.txt
  lib/node_modules/@stdlib/assert/is-almost-equal-complex128array/docs/types/index.d.ts
  lib/node_modules/@stdlib/assert/is-almost-equal-complex128array/docs/types/test.ts
  lib/node_modules/@stdlib/assert/is-almost-equal-complex128array/examples/index.js
  lib/node_modules/@stdlib/assert/is-almost-equal-complex128array/lib/index.js
  lib/node_modules/@stdlib/assert/is-almost-equal-complex128array/lib/main.js
  lib/node_modules/@stdlib/assert/is-almost-equal-complex128array/package.json
  lib/node_modules/@stdlib/assert/is-almost-equal-complex128array/test/test.js
Labels: Ready To Merge, GSoC, gsoc: 2025

#7690 feat: add `assert/is-almost-equal-array`
  lib/node_modules/@stdlib/assert/is-almost-equal-array/README.md
  lib/node_modules/@stdlib/assert/is-almost-equal-array/benchmark/benchmark.length.js
  lib/node_modules/@stdlib/assert/is-almost-equal-array/docs/repl.txt
  lib/node_modules/@stdlib/assert/is-almost-equal-array/docs/types/index.d.ts
  lib/node_modules/@stdlib/assert/is-almost-equal-array/docs/types/test.ts
  lib/node_modules/@stdlib/assert/is-almost-equal-array/examples/index.js
  lib/node_modules/@stdlib/assert/is-almost-equal-array/lib/index.js
  lib/node_modules/@stdlib/assert/is-almost-equal-array/lib/main.js
  lib/node_modules/@stdlib/assert/is-almost-equal-array/package.json
  lib/node_modules/@stdlib/assert/is-almost-equal-array/test/test.js
Labels: Ready To Merge, GSoC, gsoc: 2025

#7656 feat: add `stats/array/nanstdevtk`
  lib/node_modules/@stdlib/stats/array/nanstdevtk/README.md
  lib/node_modules/@stdlib/stats/array/nanstdevtk/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanstdevtk/docs/img/equation_corrected_sample_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/nanstdevtk/docs/img/equation_population_mean.svg
  lib/node_modules/@stdlib/stats/array/nanstdevtk/docs/img/equation_population_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/nanstdevtk/docs/img/equation_sample_mean.svg
  lib/node_modules/@stdlib/stats/array/nanstdevtk/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanstdevtk/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanstdevtk/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanstdevtk/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanstdevtk/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanstdevtk/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanstdevtk/package.json
  lib/node_modules/@stdlib/stats/array/nanstdevtk/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7657 feat: add `stats/array/nanstdevwd`
  lib/node_modules/@stdlib/stats/array/nanstdevwd/README.md
  lib/node_modules/@stdlib/stats/array/nanstdevwd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanstdevwd/docs/img/equation_corrected_sample_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/nanstdevwd/docs/img/equation_population_mean.svg
  lib/node_modules/@stdlib/stats/array/nanstdevwd/docs/img/equation_population_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/nanstdevwd/docs/img/equation_sample_mean.svg
  lib/node_modules/@stdlib/stats/array/nanstdevwd/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanstdevwd/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanstdevwd/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanstdevwd/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanstdevwd/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanstdevwd/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanstdevwd/package.json
  lib/node_modules/@stdlib/stats/array/nanstdevwd/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7658 feat: add `stats/array/nanstdevyc`
  lib/node_modules/@stdlib/stats/array/nanstdevyc/README.md
  lib/node_modules/@stdlib/stats/array/nanstdevyc/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanstdevyc/docs/img/equation_corrected_sample_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/nanstdevyc/docs/img/equation_population_mean.svg
  lib/node_modules/@stdlib/stats/array/nanstdevyc/docs/img/equation_population_standard_deviation.svg
  lib/node_modules/@stdlib/stats/array/nanstdevyc/docs/img/equation_sample_mean.svg
  lib/node_modules/@stdlib/stats/array/nanstdevyc/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanstdevyc/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanstdevyc/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanstdevyc/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanstdevyc/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanstdevyc/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanstdevyc/package.json
  lib/node_modules/@stdlib/stats/array/nanstdevyc/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7703 feat: add `stats/base/ndarray/sztest2`
  lib/node_modules/@stdlib/stats/base/ndarray/sztest2/README.md
  lib/node_modules/@stdlib/stats/base/ndarray/sztest2/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/ndarray/sztest2/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/ndarray/sztest2/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/ndarray/sztest2/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/ndarray/sztest2/examples/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/sztest2/lib/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/sztest2/lib/main.js
  lib/node_modules/@stdlib/stats/base/ndarray/sztest2/package.json
  lib/node_modules/@stdlib/stats/base/ndarray/sztest2/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7710 refactor: update include header guards for single precision real package
  lib/node_modules/@stdlib/blas/base/isamax/include/stdlib/blas/base/isamax.h
  lib/node_modules/@stdlib/blas/base/isamax/include/stdlib/blas/base/isamax_cblas.h
  lib/node_modules/@stdlib/blas/base/isamax/include/stdlib/blas/base/isamax_fortran.h
  lib/node_modules/@stdlib/blas/base/sasum/include/stdlib/blas/base/sasum.h
  lib/node_modules/@stdlib/blas/base/sasum/include/stdlib/blas/base/sasum_cblas.h
  lib/node_modules/@stdlib/blas/base/sasum/include/stdlib/blas/base/sasum_fortran.h
  lib/node_modules/@stdlib/blas/base/saxpy/include/stdlib/blas/base/saxpy.h
  lib/node_modules/@stdlib/blas/base/saxpy/include/stdlib/blas/base/saxpy_cblas.h
  lib/node_modules/@stdlib/blas/base/saxpy/include/stdlib/blas/base/saxpy_fortran.h
  lib/node_modules/@stdlib/blas/base/scabs1/include/stdlib/blas/base/scabs1.h
  lib/node_modules/@stdlib/blas/base/scabs1/include/stdlib/blas/base/scabs1_cblas.h
  lib/node_modules/@stdlib/blas/base/scabs1/include/stdlib/blas/base/scabs1_fortran.h
  lib/node_modules/@stdlib/blas/base/scnrm2/include/stdlib/blas/base/scnrm2.h
  lib/node_modules/@stdlib/blas/base/scnrm2/include/stdlib/blas/base/scnrm2_cblas.h
  lib/node_modules/@stdlib/blas/base/scnrm2/include/stdlib/blas/base/scnrm2_fortran.h
  lib/node_modules/@stdlib/blas/base/scopy/include/stdlib/blas/base/scopy.h
  lib/node_modules/@stdlib/blas/base/scopy/include/stdlib/blas/base/scopy_cblas.h
  lib/node_modules/@stdlib/blas/base/scopy/include/stdlib/blas/base/scopy_fortran.h
  lib/node_modules/@stdlib/blas/base/sdot/include/stdlib/blas/base/sdot.h
  lib/node_modules/@stdlib/blas/base/sdot/include/stdlib/blas/base/sdot_cblas.h
  lib/node_modules/@stdlib/blas/base/sdot/include/stdlib/blas/base/sdot_fortran.h
  lib/node_modules/@stdlib/blas/base/sdsdot/include/stdlib/blas/base/sdsdot.h
  lib/node_modules/@stdlib/blas/base/sdsdot/include/stdlib/blas/base/sdsdot_cblas.h
  lib/node_modules/@stdlib/blas/base/sdsdot/include/stdlib/blas/base/sdsdot_fortran.h
  lib/node_modules/@stdlib/blas/base/sgemv/include/stdlib/blas/base/sgemv.h
  lib/node_modules/@stdlib/blas/base/sgemv/include/stdlib/blas/base/sgemv_cblas.h
  lib/node_modules/@stdlib/blas/base/sger/include/stdlib/blas/base/sger.h
  lib/node_modules/@stdlib/blas/base/sger/include/stdlib/blas/base/sger_cblas.h
  lib/node_modules/@stdlib/blas/base/sger/include/stdlib/blas/base/sger_fortran.h
  lib/node_modules/@stdlib/blas/base/snrm2/include/stdlib/blas/base/snrm2.h
  lib/node_modules/@stdlib/blas/base/snrm2/include/stdlib/blas/base/snrm2_cblas.h
  lib/node_modules/@stdlib/blas/base/snrm2/include/stdlib/blas/base/snrm2_fortran.h
  lib/node_modules/@stdlib/blas/base/srot/include/stdlib/blas/base/srot.h
  lib/node_modules/@stdlib/blas/base/srot/include/stdlib/blas/base/srot_cblas.h
  lib/node_modules/@stdlib/blas/base/srot/include/stdlib/blas/base/srot_fortran.h
  lib/node_modules/@stdlib/blas/base/srotm/include/stdlib/blas/base/srotm.h
  lib/node_modules/@stdlib/blas/base/srotm/include/stdlib/blas/base/srotm_cblas.h
  lib/node_modules/@stdlib/blas/base/srotm/include/stdlib/blas/base/srotm_fortran.h
  lib/node_modules/@stdlib/blas/base/sscal/include/stdlib/blas/base/sscal.h
  lib/node_modules/@stdlib/blas/base/sscal/include/stdlib/blas/base/sscal_cblas.h
  lib/node_modules/@stdlib/blas/base/sscal/include/stdlib/blas/base/sscal_fortran.h
  lib/node_modules/@stdlib/blas/base/sspr/include/stdlib/blas/base/sspr.h
  lib/node_modules/@stdlib/blas/base/sspr/include/stdlib/blas/base/sspr_cblas.h
  lib/node_modules/@stdlib/blas/base/sswap/include/stdlib/blas/base/sswap.h
  lib/node_modules/@stdlib/blas/base/sswap/include/stdlib/blas/base/sswap_cblas.h
  lib/node_modules/@stdlib/blas/base/sswap/include/stdlib/blas/base/sswap_fortran.h
  lib/node_modules/@stdlib/blas/base/ssyr/include/stdlib/blas/base/ssyr.h
  lib/node_modules/@stdlib/blas/base/ssyr/include/stdlib/blas/base/ssyr_cblas.h
Labels: BLAS, GSoC, gsoc: 2025

#7709 refactor: update include header guards for double precision complex package
  lib/node_modules/@stdlib/blas/base/zcopy/include/stdlib/blas/base/zcopy.h
  lib/node_modules/@stdlib/blas/base/zcopy/include/stdlib/blas/base/zcopy_cblas.h
  lib/node_modules/@stdlib/blas/base/zcopy/include/stdlib/blas/base/zcopy_fortran.h
  lib/node_modules/@stdlib/blas/base/zdrot/include/stdlib/blas/base/zdrot.h
  lib/node_modules/@stdlib/blas/base/zdrot/include/stdlib/blas/base/zdrot_cblas.h
  lib/node_modules/@stdlib/blas/base/zdrot/include/stdlib/blas/base/zdrot_fortran.h
  lib/node_modules/@stdlib/blas/base/zscal/include/stdlib/blas/base/zscal.h
  lib/node_modules/@stdlib/blas/base/zscal/include/stdlib/blas/base/zscal_cblas.h
  lib/node_modules/@stdlib/blas/base/zscal/include/stdlib/blas/base/zscal_fortran.h
  lib/node_modules/@stdlib/blas/base/zswap/include/stdlib/blas/base/zswap.h
  lib/node_modules/@stdlib/blas/base/zswap/include/stdlib/blas/base/zswap_cblas.h
  lib/node_modules/@stdlib/blas/base/zswap/include/stdlib/blas/base/zswap_fortran.h
Labels: BLAS, GSoC, gsoc: 2025

#7698 feat: add `stats/base/ndarray/ztest2`
  lib/node_modules/@stdlib/stats/base/ndarray/ztest2/README.md
  lib/node_modules/@stdlib/stats/base/ndarray/ztest2/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/ndarray/ztest2/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/ndarray/ztest2/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/ndarray/ztest2/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/ndarray/ztest2/examples/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/ztest2/lib/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/ztest2/lib/main.js
  lib/node_modules/@stdlib/stats/base/ndarray/ztest2/package.json
  lib/node_modules/@stdlib/stats/base/ndarray/ztest2/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7716 chore: fix C lint errors (issue #7714)
  lib/node_modules/@stdlib/math/strided/special/dtrunc/benchmark/c/benchmark.length.c
Labels: Math

#7711 refactor: update include header guards for double precision real package
  lib/node_modules/@stdlib/blas/base/dasum/include/stdlib/blas/base/dasum.h
  lib/node_modules/@stdlib/blas/base/dasum/include/stdlib/blas/base/dasum_cblas.h
  lib/node_modules/@stdlib/blas/base/dasum/include/stdlib/blas/base/dasum_fortran.h
  lib/node_modules/@stdlib/blas/base/daxpy/include/stdlib/blas/base/daxpy.h
  lib/node_modules/@stdlib/blas/base/daxpy/include/stdlib/blas/base/daxpy_cblas.h
  lib/node_modules/@stdlib/blas/base/daxpy/include/stdlib/blas/base/daxpy_fortran.h
  lib/node_modules/@stdlib/blas/base/dcabs1/include/stdlib/blas/base/dcabs1.h
  lib/node_modules/@stdlib/blas/base/dcabs1/include/stdlib/blas/base/dcabs1_cblas.h
  lib/node_modules/@stdlib/blas/base/dcabs1/include/stdlib/blas/base/dcabs1_fortran.h
  lib/node_modules/@stdlib/blas/base/dcopy/include/stdlib/blas/base/dcopy.h
  lib/node_modules/@stdlib/blas/base/dcopy/include/stdlib/blas/base/dcopy_cblas.h
  lib/node_modules/@stdlib/blas/base/dcopy/include/stdlib/blas/base/dcopy_fortran.h
  lib/node_modules/@stdlib/blas/base/ddot/include/stdlib/blas/base/ddot.h
  lib/node_modules/@stdlib/blas/base/ddot/include/stdlib/blas/base/ddot_cblas.h
  lib/node_modules/@stdlib/blas/base/ddot/include/stdlib/blas/base/ddot_fortran.h
  lib/node_modules/@stdlib/blas/base/dgemv/include/stdlib/blas/base/dgemv.h
  lib/node_modules/@stdlib/blas/base/dgemv/include/stdlib/blas/base/dgemv_cblas.h
  lib/node_modules/@stdlib/blas/base/dger/include/stdlib/blas/base/dger.h
  lib/node_modules/@stdlib/blas/base/dger/include/stdlib/blas/base/dger_cblas.h
  lib/node_modules/@stdlib/blas/base/dger/include/stdlib/blas/base/dger_fortran.h
  lib/node_modules/@stdlib/blas/base/dnrm2/include/stdlib/blas/base/dnrm2.h
  lib/node_modules/@stdlib/blas/base/dnrm2/include/stdlib/blas/base/dnrm2_cblas.h
  lib/node_modules/@stdlib/blas/base/dnrm2/include/stdlib/blas/base/dnrm2_fortran.h
  lib/node_modules/@stdlib/blas/base/drot/include/stdlib/blas/base/drot.h
  lib/node_modules/@stdlib/blas/base/drot/include/stdlib/blas/base/drot_cblas.h
  lib/node_modules/@stdlib/blas/base/drot/include/stdlib/blas/base/drot_fortran.h
  lib/node_modules/@stdlib/blas/base/drotm/include/stdlib/blas/base/drotm.h
  lib/node_modules/@stdlib/blas/base/drotm/include/stdlib/blas/base/drotm_cblas.h
  lib/node_modules/@stdlib/blas/base/drotm/include/stdlib/blas/base/drotm_fortran.h
  lib/node_modules/@stdlib/blas/base/dscal/include/stdlib/blas/base/dscal.h
  lib/node_modules/@stdlib/blas/base/dscal/include/stdlib/blas/base/dscal_cblas.h
  lib/node_modules/@stdlib/blas/base/dscal/include/stdlib/blas/base/dscal_fortran.h
  lib/node_modules/@stdlib/blas/base/dsdot/include/stdlib/blas/base/dsdot.h
  lib/node_modules/@stdlib/blas/base/dsdot/include/stdlib/blas/base/dsdot_cblas.h
  lib/node_modules/@stdlib/blas/base/dsdot/include/stdlib/blas/base/dsdot_fortran.h
  lib/node_modules/@stdlib/blas/base/dswap/include/stdlib/blas/base/dswap.h
  lib/node_modules/@stdlib/blas/base/dswap/include/stdlib/blas/base/dswap_cblas.h
  lib/node_modules/@stdlib/blas/base/dswap/include/stdlib/blas/base/dswap_fortran.h
  lib/node_modules/@stdlib/blas/base/dsyr2/include/stdlib/blas/base/dsyr2.h
  lib/node_modules/@stdlib/blas/base/dsyr2/include/stdlib/blas/base/dsyr2_cblas.h
  lib/node_modules/@stdlib/blas/base/dznrm2/include/stdlib/blas/base/dznrm2.h
  lib/node_modules/@stdlib/blas/base/dznrm2/include/stdlib/blas/base/dznrm2_cblas.h
  lib/node_modules/@stdlib/blas/base/dznrm2/include/stdlib/blas/base/dznrm2_fortran.h
  lib/node_modules/@stdlib/blas/base/idamax/include/stdlib/blas/base/idamax.h
  lib/node_modules/@stdlib/blas/base/idamax/include/stdlib/blas/base/idamax_cblas.h
  lib/node_modules/@stdlib/blas/base/idamax/include/stdlib/blas/base/idamax_fortran.h
Labels: BLAS, GSoC, gsoc: 2025

#7732 bench: update parameters for ndarray benchmarking
  lib/node_modules/@stdlib/blas/base/gger/benchmark/benchmark.ndarray.js
Labels: BLAS, Ready To Merge, GSoC, gsoc: 2025

#7720 feat: add `math/base/special/sinpif`
  lib/node_modules/@stdlib/math/base/special/sinpif/README.md
  lib/node_modules/@stdlib/math/base/special/sinpif/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sinpif/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sinpif/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/sinpif/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sinpif/binding.gyp
  lib/node_modules/@stdlib/math/base/special/sinpif/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/sinpif/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/sinpif/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/sinpif/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/sinpif/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/sinpif/examples/index.js
  lib/node_modules/@stdlib/math/base/special/sinpif/include.gypi
  lib/node_modules/@stdlib/math/base/special/sinpif/include/stdlib/math/base/special/sinpif.h
  lib/node_modules/@stdlib/math/base/special/sinpif/lib/index.js
  lib/node_modules/@stdlib/math/base/special/sinpif/lib/main.js
  lib/node_modules/@stdlib/math/base/special/sinpif/lib/native.js
  lib/node_modules/@stdlib/math/base/special/sinpif/manifest.json
  lib/node_modules/@stdlib/math/base/special/sinpif/package.json
  lib/node_modules/@stdlib/math/base/special/sinpif/src/Makefile
  lib/node_modules/@stdlib/math/base/special/sinpif/src/addon.c
  lib/node_modules/@stdlib/math/base/special/sinpif/src/main.c
  lib/node_modules/@stdlib/math/base/special/sinpif/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/sinpif/test/fixtures/julia/decimals.json
  lib/node_modules/@stdlib/math/base/special/sinpif/test/fixtures/julia/integers.json
  lib/node_modules/@stdlib/math/base/special/sinpif/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/sinpif/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/sinpif/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/sinpif/test/fixtures/julia/small_negative.json
  lib/node_modules/@stdlib/math/base/special/sinpif/test/fixtures/julia/small_positive.json
  lib/node_modules/@stdlib/math/base/special/sinpif/test/test.js
  lib/node_modules/@stdlib/math/base/special/sinpif/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#4016 feat: add C implementation for `dist/binomial/entropy`
  lib/node_modules/@stdlib/stats/base/dists/binomial/entropy/README.md
  lib/node_modules/@stdlib/stats/base/dists/binomial/entropy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/binomial/entropy/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/binomial/entropy/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/entropy/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/binomial/entropy/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/binomial/entropy/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/entropy/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/binomial/entropy/include/stdlib/stats/base/dists/binomial/entropy.h
  lib/node_modules/@stdlib/stats/base/dists/binomial/entropy/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/binomial/entropy/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/binomial/entropy/package.json
  lib/node_modules/@stdlib/stats/base/dists/binomial/entropy/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/binomial/entropy/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/entropy/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/entropy/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#7747 chore: fix JavaScript lint errors (issue #7744)
  lib/node_modules/@stdlib/plot/ctor/lib/props/x-max/get.js
Labels: First-time Contributor, Good First PR

#7693 feat: add `stats/base/ndarray/scovarmtk`
  lib/node_modules/@stdlib/stats/base/ndarray/scovarmtk/README.md
  lib/node_modules/@stdlib/stats/base/ndarray/scovarmtk/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/ndarray/scovarmtk/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/ndarray/scovarmtk/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/ndarray/scovarmtk/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/ndarray/scovarmtk/examples/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/scovarmtk/lib/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/scovarmtk/lib/main.js
  lib/node_modules/@stdlib/stats/base/ndarray/scovarmtk/package.json
  lib/node_modules/@stdlib/stats/base/ndarray/scovarmtk/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7712 feat: add `stats/base/ndarray/covarmtk`
  lib/node_modules/@stdlib/stats/base/ndarray/covarmtk/README.md
  lib/node_modules/@stdlib/stats/base/ndarray/covarmtk/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/ndarray/covarmtk/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/ndarray/covarmtk/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/ndarray/covarmtk/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/ndarray/covarmtk/examples/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/covarmtk/lib/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/covarmtk/lib/main.js
  lib/node_modules/@stdlib/stats/base/ndarray/covarmtk/package.json
  lib/node_modules/@stdlib/stats/base/ndarray/covarmtk/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7721 feat: add C ndarray interface and refactor implementation for `stats/base/sstdevwd`
  lib/node_modules/@stdlib/stats/base/sstdevwd/README.md
  lib/node_modules/@stdlib/stats/base/sstdevwd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/sstdevwd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/sstdevwd/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/sstdevwd/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sstdevwd/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/sstdevwd/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/sstdevwd/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/sstdevwd/examples/index.js
  lib/node_modules/@stdlib/stats/base/sstdevwd/include/stdlib/stats/base/sstdevwd.h
  lib/node_modules/@stdlib/stats/base/sstdevwd/lib/index.js
  lib/node_modules/@stdlib/stats/base/sstdevwd/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/sstdevwd/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sstdevwd/lib/sstdevwd.js
  lib/node_modules/@stdlib/stats/base/sstdevwd/lib/sstdevwd.native.js
  lib/node_modules/@stdlib/stats/base/sstdevwd/manifest.json
  lib/node_modules/@stdlib/stats/base/sstdevwd/src/addon.c
  lib/node_modules/@stdlib/stats/base/sstdevwd/src/main.c
  lib/node_modules/@stdlib/stats/base/sstdevwd/src/sstdevwd.c
  lib/node_modules/@stdlib/stats/base/sstdevwd/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/sstdevwd/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sstdevwd/test/test.sstdevwd.js
  lib/node_modules/@stdlib/stats/base/sstdevwd/test/test.sstdevwd.native.js
Labels: Statistics, GSoC, gsoc: 2025

#7740 feat: add `blas/base/ndarray/gdot`
  lib/node_modules/@stdlib/blas/base/ndarray/gdot/README.md
  lib/node_modules/@stdlib/blas/base/ndarray/gdot/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/ndarray/gdot/docs/img/equation_dot_product.svg
  lib/node_modules/@stdlib/blas/base/ndarray/gdot/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/ndarray/gdot/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/ndarray/gdot/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/ndarray/gdot/examples/index.js
  lib/node_modules/@stdlib/blas/base/ndarray/gdot/lib/index.js
  lib/node_modules/@stdlib/blas/base/ndarray/gdot/lib/main.js
  lib/node_modules/@stdlib/blas/base/ndarray/gdot/package.json
  lib/node_modules/@stdlib/blas/base/ndarray/gdot/test/test.js
Labels: Feature, BLAS, GSoC, gsoc: 2025

#7741 feat: add `math/base/special/sincf`
  lib/node_modules/@stdlib/math/base/special/sincf/README.md
  lib/node_modules/@stdlib/math/base/special/sincf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/sincf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/sincf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/sincf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/sincf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/sincf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/sincf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/sincf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/sincf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/sincf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/sincf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/sincf/include.gypi
  lib/node_modules/@stdlib/math/base/special/sincf/include/stdlib/math/base/special/sincf.h
  lib/node_modules/@stdlib/math/base/special/sincf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/sincf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/sincf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/sincf/manifest.json
  lib/node_modules/@stdlib/math/base/special/sincf/package.json
  lib/node_modules/@stdlib/math/base/special/sincf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/sincf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/sincf/src/main.c
  lib/node_modules/@stdlib/math/base/special/sincf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/sincf/test/fixtures/julia/data.json
  lib/node_modules/@stdlib/math/base/special/sincf/test/fixtures/julia/huge_negative.json
  lib/node_modules/@stdlib/math/base/special/sincf/test/fixtures/julia/huge_positive.json
  lib/node_modules/@stdlib/math/base/special/sincf/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/sincf/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/sincf/test/fixtures/julia/medium_negative.json
  lib/node_modules/@stdlib/math/base/special/sincf/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/sincf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/sincf/test/fixtures/julia/tiny_negative.json
  lib/node_modules/@stdlib/math/base/special/sincf/test/fixtures/julia/tiny_positive.json
  lib/node_modules/@stdlib/math/base/special/sincf/test/test.js
  lib/node_modules/@stdlib/math/base/special/sincf/test/test.native.js
Labels: Feature, Needs Review, Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#7763 fix(docs): lowercase 'binomial' in entropy package heading
  lib/node_modules/@stdlib/stats/base/dists/binomial/entropy/README.md
Labels: Needs Review, Statistics, First-time Contributor, Good First PR

#7764 chore: fix EditorConfig lint errors (#7750)
  lib/node_modules/@stdlib/stats/levene-test/README.md
Labels: Statistics, First-time Contributor, Good First PR
