Repository stdlib-js/stdlib, pull requests merged in 2025-01, with the labels that each got.

#4376 feat: add C ndarray interface and refactor implementation for `stats/base/dmskrange`
  lib/node_modules/@stdlib/stats/base/dmskrange/README.md
  lib/node_modules/@stdlib/stats/base/dmskrange/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dmskrange/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dmskrange/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmskrange/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmskrange/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dmskrange/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dmskrange/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dmskrange/examples/index.js
  lib/node_modules/@stdlib/stats/base/dmskrange/include.gypi
  lib/node_modules/@stdlib/stats/base/dmskrange/include/stdlib/stats/base/dmskrange.h
  lib/node_modules/@stdlib/stats/base/dmskrange/lib/dmskrange.js
  lib/node_modules/@stdlib/stats/base/dmskrange/lib/index.js
  lib/node_modules/@stdlib/stats/base/dmskrange/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dmskrange/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmskrange/manifest.json
  lib/node_modules/@stdlib/stats/base/dmskrange/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmskrange/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/dmskrange/src/main.c
  lib/node_modules/@stdlib/stats/base/dmskrange/test/test.dmskrange.js
  lib/node_modules/@stdlib/stats/base/dmskrange/test/test.dmskrange.native.js
  lib/node_modules/@stdlib/stats/base/dmskrange/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmskrange/test/test.ndarray.native.js
Labels: Feature, Statistics

#4342 fix: add support for handling `NewExpression` in `_tools/eslint/rules/eol-open-bracket-spacing`
  lib/node_modules/@stdlib/_tools/eslint/rules/eol-open-bracket-spacing/lib/main.js
  lib/node_modules/@stdlib/_tools/eslint/rules/eol-open-bracket-spacing/test/fixtures/invalid.js
  lib/node_modules/@stdlib/_tools/eslint/rules/eol-open-bracket-spacing/test/fixtures/unvalidated.js
  lib/node_modules/@stdlib/_tools/eslint/rules/eol-open-bracket-spacing/test/fixtures/valid.js
Labels: Tools

#4367 docs: fix errors in examples and docs for `stats/base/dmin`
  lib/node_modules/@stdlib/stats/base/dmin/README.md
Labels: Statistics, Ready To Merge

#4406 refactor: update `stats/base/dvarmpn` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dvarmpn/include.gypi
  lib/node_modules/@stdlib/stats/base/dvarmpn/manifest.json
  lib/node_modules/@stdlib/stats/base/dvarmpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvarmpn/src/addon.cpp
Labels: Needs Review, Statistics

#4407 refactor: update `stats/base/dvarmtk` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dvarmtk/include.gypi
  lib/node_modules/@stdlib/stats/base/dvarmtk/manifest.json
  lib/node_modules/@stdlib/stats/base/dvarmtk/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvarmtk/src/addon.cpp
Labels: Needs Review, Statistics

#4409 refactor: update `stats/base/scumaxabs` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/scumaxabs/include.gypi
  lib/node_modules/@stdlib/stats/base/scumaxabs/manifest.json
  lib/node_modules/@stdlib/stats/base/scumaxabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/scumaxabs/src/addon.cpp
Labels: Statistics

#4156 feat: add C ndarray interface and refactor implementation for `stats/base/dcuminabs`
  lib/node_modules/@stdlib/stats/base/dcuminabs/README.md
  lib/node_modules/@stdlib/stats/base/dcuminabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dcuminabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dcuminabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dcuminabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dcuminabs/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dcuminabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dcuminabs/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dcuminabs/examples/index.js
  lib/node_modules/@stdlib/stats/base/dcuminabs/include/stdlib/stats/base/dcuminabs.h
  lib/node_modules/@stdlib/stats/base/dcuminabs/lib/dcuminabs.js
  lib/node_modules/@stdlib/stats/base/dcuminabs/lib/dcuminabs.native.js
  lib/node_modules/@stdlib/stats/base/dcuminabs/lib/index.js
  lib/node_modules/@stdlib/stats/base/dcuminabs/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dcuminabs/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dcuminabs/manifest.json
  lib/node_modules/@stdlib/stats/base/dcuminabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/dcuminabs/src/main.c
  lib/node_modules/@stdlib/stats/base/dcuminabs/test/test.dcuminabs.js
  lib/node_modules/@stdlib/stats/base/dcuminabs/test/test.dcuminabs.native.js
  lib/node_modules/@stdlib/stats/base/dcuminabs/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dcuminabs/test/test.ndarray.native.js
Labels: Statistics, Ready To Merge

#4434 refactor: update `stats/base/sdsmeanors` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/sdsmeanors/include.gypi
  lib/node_modules/@stdlib/stats/base/sdsmeanors/manifest.json
  lib/node_modules/@stdlib/stats/base/sdsmeanors/src/addon.c
  lib/node_modules/@stdlib/stats/base/sdsmeanors/src/addon.cpp
Labels: Needs Review, Statistics

#4343 fix: add support for handling `NewExpression` in `_tools/eslint/rules/line-closing-bracket-spacing`
  lib/node_modules/@stdlib/_tools/eslint/rules/line-closing-bracket-spacing/lib/main.js
  lib/node_modules/@stdlib/_tools/eslint/rules/line-closing-bracket-spacing/test/fixtures/invalid.js
  lib/node_modules/@stdlib/_tools/eslint/rules/line-closing-bracket-spacing/test/fixtures/unvalidated.js
  lib/node_modules/@stdlib/_tools/eslint/rules/line-closing-bracket-spacing/test/fixtures/valid.js
Labels: Tools

#4312 feat: add C `ndarray` API and refactor `blas/ext/base/dsum`
  lib/node_modules/@stdlib/blas/ext/base/dsum/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dsum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dsum/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dsum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/include/stdlib/blas/ext/base/dsum.h
  lib/node_modules/@stdlib/blas/ext/base/dsum/lib/dsum.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/lib/dsum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsum/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsum/src/dsum.c
  lib/node_modules/@stdlib/blas/ext/base/dsum/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dsum/test/test.dsum.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/test/test.dsum.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsum/test/test.ndarray.native.js
Labels: Feature, BLAS, C, Ready To Merge

#4316 feat: add C `ndarray` API and refactor `blas/ext/base/dsumkbn2`
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/include/stdlib/blas/ext/base/dsumkbn2.h
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/lib/dsumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/lib/dsumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/test/test.dsumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/test/test.dsumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumkbn2/test/test.ndarray.native.js
Labels: Feature, BLAS, C

#4412 refactor: update `blas/ext/base/gcusumkbn` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/gcusumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/gcusumkbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/gcusumkbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gcusumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/gcusumkbn/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/gcusumkbn/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/gcusumkbn/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/gcusumkbn/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/gcusumkbn/lib/ndarray.js
Labels: BLAS, Ready To Merge

#4358 refactor: update `blas/ext/base/gapxsumkbn` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/gapxsumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/gapxsumkbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/gapxsumkbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gapxsumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/gapxsumkbn/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/gapxsumkbn/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/gapxsumkbn/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/gapxsumkbn/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/gapxsumkbn/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gapxsumkbn/package.json
  lib/node_modules/@stdlib/blas/ext/base/gapxsumkbn/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/gapxsumkbn/test/test.ndarray.js
Labels: BLAS, Ready To Merge

#4433 refactor: update `stats/base/scumin` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/scumin/include.gypi
  lib/node_modules/@stdlib/stats/base/scumin/manifest.json
  lib/node_modules/@stdlib/stats/base/scumin/src/addon.c
  lib/node_modules/@stdlib/stats/base/scumin/src/addon.cpp
Labels: Statistics

#4227 feat: add `stats/base/dists/planck/logcdf`
  lib/node_modules/@stdlib/stats/base/dists/planck/logcdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/planck/logcdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/planck/logcdf/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dists/planck/logcdf/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/logcdf/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/logcdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/logcdf/lib/factory.js
  lib/node_modules/@stdlib/stats/base/dists/planck/logcdf/lib/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/logcdf/lib/main.js
  lib/node_modules/@stdlib/stats/base/dists/planck/logcdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/planck/logcdf/test/fixtures/python/large_lambda.json
  lib/node_modules/@stdlib/stats/base/dists/planck/logcdf/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/stats/base/dists/planck/logcdf/test/fixtures/python/small_lambda.json
  lib/node_modules/@stdlib/stats/base/dists/planck/logcdf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/planck/logcdf/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/planck/logcdf/test/test.logcdf.js
Labels: Feature, Statistics

#4346 feat: add `stats/base/dists/planck/median`
  lib/node_modules/@stdlib/stats/base/dists/planck/median/README.md
  lib/node_modules/@stdlib/stats/base/dists/planck/median/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/planck/median/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dists/planck/median/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/median/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/median/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/median/lib/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/median/lib/main.js
  lib/node_modules/@stdlib/stats/base/dists/planck/median/package.json
  lib/node_modules/@stdlib/stats/base/dists/planck/median/test/fixtures/python/data.json
  lib/node_modules/@stdlib/stats/base/dists/planck/median/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/stats/base/dists/planck/median/test/test.js
Labels: Feature, Statistics

#4353 feat: add `stats/base/dists/planck/skewness`
  lib/node_modules/@stdlib/stats/base/dists/planck/skewness/README.md
  lib/node_modules/@stdlib/stats/base/dists/planck/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/planck/skewness/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dists/planck/skewness/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/skewness/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/skewness/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/skewness/lib/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/skewness/lib/main.js
  lib/node_modules/@stdlib/stats/base/dists/planck/skewness/package.json
  lib/node_modules/@stdlib/stats/base/dists/planck/skewness/test/fixtures/python/data.json
  lib/node_modules/@stdlib/stats/base/dists/planck/skewness/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/stats/base/dists/planck/skewness/test/test.js
Labels: Feature, Statistics

#4355 feat: add `stats/base/dists/planck/kurtosis`
  lib/node_modules/@stdlib/stats/base/dists/planck/kurtosis/README.md
  lib/node_modules/@stdlib/stats/base/dists/planck/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/planck/kurtosis/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dists/planck/kurtosis/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/kurtosis/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/kurtosis/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/kurtosis/lib/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/kurtosis/lib/main.js
  lib/node_modules/@stdlib/stats/base/dists/planck/kurtosis/package.json
  lib/node_modules/@stdlib/stats/base/dists/planck/kurtosis/test/fixtures/python/data.json
  lib/node_modules/@stdlib/stats/base/dists/planck/kurtosis/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/stats/base/dists/planck/kurtosis/test/test.js
Labels: Feature, Statistics

#4350 feat: add `stats/base/dists/planck/mode`
  lib/node_modules/@stdlib/stats/base/dists/planck/mode/README.md
  lib/node_modules/@stdlib/stats/base/dists/planck/mode/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/planck/mode/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dists/planck/mode/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/mode/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/mode/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/mode/lib/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/mode/lib/main.js
  lib/node_modules/@stdlib/stats/base/dists/planck/mode/package.json
  lib/node_modules/@stdlib/stats/base/dists/planck/mode/test/test.js
Labels: Feature, Statistics

#4182 feat: add `stats/base/dists/planck/logpmf`
  lib/node_modules/@stdlib/stats/base/dists/planck/logpmf/README.md
  lib/node_modules/@stdlib/stats/base/dists/planck/logpmf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/planck/logpmf/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dists/planck/logpmf/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/logpmf/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/logpmf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/logpmf/lib/factory.js
  lib/node_modules/@stdlib/stats/base/dists/planck/logpmf/lib/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/logpmf/lib/main.js
  lib/node_modules/@stdlib/stats/base/dists/planck/logpmf/package.json
  lib/node_modules/@stdlib/stats/base/dists/planck/logpmf/test/fixtures/python/large_lambda.json
  lib/node_modules/@stdlib/stats/base/dists/planck/logpmf/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/stats/base/dists/planck/logpmf/test/fixtures/python/small_lambda.json
  lib/node_modules/@stdlib/stats/base/dists/planck/logpmf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/planck/logpmf/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/planck/logpmf/test/test.logpmf.js
Labels: Feature, Statistics

#4325 feat: add `stats/base/dists/planck/entropy`
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/README.md
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/lib/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/lib/main.js
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/package.json
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/test/fixtures/python/data.json
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/stats/base/dists/planck/entropy/test/test.js
Labels: Feature, Statistics

#4392 feat: add `stats/base/dists/planck/quantile`
  lib/node_modules/@stdlib/stats/base/dists/planck/quantile/README.md
  lib/node_modules/@stdlib/stats/base/dists/planck/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/planck/quantile/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dists/planck/quantile/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/quantile/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/dists/planck/quantile/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/quantile/lib/factory.js
  lib/node_modules/@stdlib/stats/base/dists/planck/quantile/lib/index.js
  lib/node_modules/@stdlib/stats/base/dists/planck/quantile/lib/main.js
  lib/node_modules/@stdlib/stats/base/dists/planck/quantile/package.json
  lib/node_modules/@stdlib/stats/base/dists/planck/quantile/test/fixtures/python/large_lambda.json
  lib/node_modules/@stdlib/stats/base/dists/planck/quantile/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/stats/base/dists/planck/quantile/test/fixtures/python/small_lambda.json
  lib/node_modules/@stdlib/stats/base/dists/planck/quantile/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/planck/quantile/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/planck/quantile/test/test.quantile.js
Labels: Feature, Statistics

#4404 feat: add C ndarray interface and refactor implementation for `stats/base/smskrange`
  lib/node_modules/@stdlib/stats/base/smskrange/README.md
  lib/node_modules/@stdlib/stats/base/smskrange/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/smskrange/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/smskrange/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/smskrange/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smskrange/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/smskrange/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/smskrange/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/smskrange/examples/index.js
  lib/node_modules/@stdlib/stats/base/smskrange/include.gypi
  lib/node_modules/@stdlib/stats/base/smskrange/include/stdlib/stats/base/smskrange.h
  lib/node_modules/@stdlib/stats/base/smskrange/lib/index.js
  lib/node_modules/@stdlib/stats/base/smskrange/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/smskrange/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smskrange/lib/smskrange.js
  lib/node_modules/@stdlib/stats/base/smskrange/manifest.json
  lib/node_modules/@stdlib/stats/base/smskrange/src/addon.c
  lib/node_modules/@stdlib/stats/base/smskrange/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/smskrange/src/main.c
  lib/node_modules/@stdlib/stats/base/smskrange/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/smskrange/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smskrange/test/test.smskrange.js
  lib/node_modules/@stdlib/stats/base/smskrange/test/test.smskrange.native.js
Labels: Statistics, Ready To Merge

#4371 feat: add C ndarray interface and refactor implementation for `stats/base/dmskmin`
  lib/node_modules/@stdlib/stats/base/dmskmin/README.md
  lib/node_modules/@stdlib/stats/base/dmskmin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dmskmin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dmskmin/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmskmin/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmskmin/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dmskmin/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dmskmin/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dmskmin/examples/index.js
  lib/node_modules/@stdlib/stats/base/dmskmin/include.gypi
  lib/node_modules/@stdlib/stats/base/dmskmin/include/stdlib/stats/base/dmskmin.h
  lib/node_modules/@stdlib/stats/base/dmskmin/lib/dmskmin.js
  lib/node_modules/@stdlib/stats/base/dmskmin/lib/index.js
  lib/node_modules/@stdlib/stats/base/dmskmin/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dmskmin/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmskmin/manifest.json
  lib/node_modules/@stdlib/stats/base/dmskmin/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmskmin/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/dmskmin/src/main.c
  lib/node_modules/@stdlib/stats/base/dmskmin/test/test.dmskmin.js
  lib/node_modules/@stdlib/stats/base/dmskmin/test/test.dmskmin.native.js
  lib/node_modules/@stdlib/stats/base/dmskmin/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmskmin/test/test.ndarray.native.js
Labels: Feature, Statistics

#4456 feat: add C ndarray interface and refactor implementation for `stats/base/dmaxsorted`
  lib/node_modules/@stdlib/stats/base/dmaxsorted/README.md
  lib/node_modules/@stdlib/stats/base/dmaxsorted/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dmaxsorted/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dmaxsorted/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmaxsorted/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmaxsorted/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dmaxsorted/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dmaxsorted/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dmaxsorted/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dmaxsorted/examples/index.js
  lib/node_modules/@stdlib/stats/base/dmaxsorted/include/stdlib/stats/base/dmaxsorted.h
  lib/node_modules/@stdlib/stats/base/dmaxsorted/lib/dmaxsorted.js
  lib/node_modules/@stdlib/stats/base/dmaxsorted/lib/dmaxsorted.native.js
  lib/node_modules/@stdlib/stats/base/dmaxsorted/lib/index.js
  lib/node_modules/@stdlib/stats/base/dmaxsorted/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dmaxsorted/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmaxsorted/manifest.json
  lib/node_modules/@stdlib/stats/base/dmaxsorted/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmaxsorted/src/main.c
  lib/node_modules/@stdlib/stats/base/dmaxsorted/test/test.dmaxsorted.js
  lib/node_modules/@stdlib/stats/base/dmaxsorted/test/test.dmaxsorted.native.js
  lib/node_modules/@stdlib/stats/base/dmaxsorted/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmaxsorted/test/test.ndarray.native.js
Labels: Feature, Statistics

#4457 fix: guard against proxy traps raising exceptions in REPL tokenizer
  lib/node_modules/@stdlib/repl/lib/tokenizer.js
Labels: REPL

#4465 refactor: update `stats/base/smeanli` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/smeanli/include.gypi
  lib/node_modules/@stdlib/stats/base/smeanli/manifest.json
  lib/node_modules/@stdlib/stats/base/smeanli/src/addon.c
  lib/node_modules/@stdlib/stats/base/smeanli/src/addon.cpp
Labels: Statistics

#4464 refactor: update `stats/base/smeankbn2` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/smeankbn2/include.gypi
  lib/node_modules/@stdlib/stats/base/smeankbn2/manifest.json
  lib/node_modules/@stdlib/stats/base/smeankbn2/src/addon.c
  lib/node_modules/@stdlib/stats/base/smeankbn2/src/addon.cpp
Labels: Needs Review, Statistics

#4463 refactor: update `stats/base/smeankbn` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/smeankbn/include.gypi
  lib/node_modules/@stdlib/stats/base/smeankbn/manifest.json
  lib/node_modules/@stdlib/stats/base/smeankbn/src/addon.c
  lib/node_modules/@stdlib/stats/base/smeankbn/src/addon.cpp
Labels: Needs Review, Statistics

#4462 refactor: update `stats/base/smean` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/smean/include.gypi
  lib/node_modules/@stdlib/stats/base/smean/manifest.json
  lib/node_modules/@stdlib/stats/base/smean/src/addon.c
  lib/node_modules/@stdlib/stats/base/smean/src/addon.cpp
Labels: Needs Review, Statistics

#4201 feat: add C ndarray interface and refactor implementation for `stats/base/dminsorted`
  lib/node_modules/@stdlib/stats/base/dminsorted/README.md
  lib/node_modules/@stdlib/stats/base/dminsorted/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dminsorted/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dminsorted/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dminsorted/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dminsorted/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dminsorted/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dminsorted/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dminsorted/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dminsorted/examples/index.js
  lib/node_modules/@stdlib/stats/base/dminsorted/include.gypi
  lib/node_modules/@stdlib/stats/base/dminsorted/include/stdlib/stats/base/dminsorted.h
  lib/node_modules/@stdlib/stats/base/dminsorted/lib/dminsorted.js
  lib/node_modules/@stdlib/stats/base/dminsorted/lib/dminsorted.native.js
  lib/node_modules/@stdlib/stats/base/dminsorted/lib/index.js
  lib/node_modules/@stdlib/stats/base/dminsorted/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dminsorted/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dminsorted/manifest.json
  lib/node_modules/@stdlib/stats/base/dminsorted/src/addon.c
  lib/node_modules/@stdlib/stats/base/dminsorted/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/dminsorted/src/main.c
  lib/node_modules/@stdlib/stats/base/dminsorted/test/test.dminsorted.js
  lib/node_modules/@stdlib/stats/base/dminsorted/test/test.dminsorted.native.js
  lib/node_modules/@stdlib/stats/base/dminsorted/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dminsorted/test/test.ndarray.native.js
Labels: Needs Review, Statistics

#4459 refactor: update `stats/base/sdsnanmeanors` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/sdsnanmeanors/include.gypi
  lib/node_modules/@stdlib/stats/base/sdsnanmeanors/manifest.json
  lib/node_modules/@stdlib/stats/base/sdsnanmeanors/src/addon.c
  lib/node_modules/@stdlib/stats/base/sdsnanmeanors/src/addon.cpp
Labels: Needs Review, Statistics

#4458 refactor: update `stats/base/sdsnanmean` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/sdsnanmean/include.gypi
  lib/node_modules/@stdlib/stats/base/sdsnanmean/manifest.json
  lib/node_modules/@stdlib/stats/base/sdsnanmean/src/addon.c
  lib/node_modules/@stdlib/stats/base/sdsnanmean/src/addon.cpp
Labels: Needs Review, Statistics

#4484 refactor: update `stats/base/sstdevtk` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/sstdevtk/include.gypi
  lib/node_modules/@stdlib/stats/base/sstdevtk/manifest.json
  lib/node_modules/@stdlib/stats/base/sstdevtk/src/addon.c
  lib/node_modules/@stdlib/stats/base/sstdevtk/src/addon.cpp
Labels: Needs Review, Statistics

#4474 refactor: update `stats/base/snanstdevtk` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/snanstdevtk/include.gypi
  lib/node_modules/@stdlib/stats/base/snanstdevtk/manifest.json
  lib/node_modules/@stdlib/stats/base/snanstdevtk/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanstdevtk/src/addon.cpp
Labels: Needs Review, Statistics

#4475 refactor: update `stats/base/snanstdevpn` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/snanstdevpn/include.gypi
  lib/node_modules/@stdlib/stats/base/snanstdevpn/manifest.json
  lib/node_modules/@stdlib/stats/base/snanstdevpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanstdevpn/src/addon.cpp
Labels: Needs Review, Statistics

#4472 refactor: update `stats/base/snanstdevyc` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/snanstdevyc/include.gypi
  lib/node_modules/@stdlib/stats/base/snanstdevyc/manifest.json
  lib/node_modules/@stdlib/stats/base/snanstdevyc/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanstdevyc/src/addon.cpp
Labels: Needs Review, Statistics

#4483 refactor: update `stats/base/snanvariancech` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/snanvariancech/include.gypi
  lib/node_modules/@stdlib/stats/base/snanvariancech/manifest.json
  lib/node_modules/@stdlib/stats/base/snanvariancech/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanvariancech/src/addon.cpp
Labels: Statistics, Needs Changes

#4144 feat: add C ndarray interface and refactor implementation for `stats/base/dcumin`
  lib/node_modules/@stdlib/stats/base/dcumin/README.md
  lib/node_modules/@stdlib/stats/base/dcumin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dcumin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dcumin/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dcumin/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dcumin/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dcumin/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dcumin/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dcumin/examples/index.js
  lib/node_modules/@stdlib/stats/base/dcumin/include/stdlib/stats/base/dcumin.h
  lib/node_modules/@stdlib/stats/base/dcumin/lib/dcumin.js
  lib/node_modules/@stdlib/stats/base/dcumin/lib/dcumin.native.js
  lib/node_modules/@stdlib/stats/base/dcumin/lib/index.js
  lib/node_modules/@stdlib/stats/base/dcumin/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dcumin/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dcumin/manifest.json
  lib/node_modules/@stdlib/stats/base/dcumin/src/addon.c
  lib/node_modules/@stdlib/stats/base/dcumin/src/main.c
  lib/node_modules/@stdlib/stats/base/dcumin/test/test.dcumin.js
  lib/node_modules/@stdlib/stats/base/dcumin/test/test.dcumin.native.js
  lib/node_modules/@stdlib/stats/base/dcumin/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dcumin/test/test.ndarray.native.js
Labels: Needs Review, Statistics

#4139 feat: add C ndarray interface and refactor implementation for `stats/base/dcumaxabs`
  lib/node_modules/@stdlib/stats/base/dcumaxabs/README.md
  lib/node_modules/@stdlib/stats/base/dcumaxabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dcumaxabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dcumaxabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dcumaxabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dcumaxabs/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dcumaxabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dcumaxabs/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dcumaxabs/examples/index.js
  lib/node_modules/@stdlib/stats/base/dcumaxabs/include/stdlib/stats/base/dcumaxabs.h
  lib/node_modules/@stdlib/stats/base/dcumaxabs/lib/dcumaxabs.js
  lib/node_modules/@stdlib/stats/base/dcumaxabs/lib/dcumaxabs.native.js
  lib/node_modules/@stdlib/stats/base/dcumaxabs/lib/index.js
  lib/node_modules/@stdlib/stats/base/dcumaxabs/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dcumaxabs/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dcumaxabs/manifest.json
  lib/node_modules/@stdlib/stats/base/dcumaxabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/dcumaxabs/src/main.c
  lib/node_modules/@stdlib/stats/base/dcumaxabs/test/test.dcumaxabs.js
  lib/node_modules/@stdlib/stats/base/dcumaxabs/test/test.dcumaxabs.native.js
  lib/node_modules/@stdlib/stats/base/dcumaxabs/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dcumaxabs/test/test.ndarray.native.js
Labels: Feature, Statistics

#4251 feat: add C `ndarray` interface and refactor implementation for `stats/base/dnanmeanwd`
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/README.md
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/include/stdlib/stats/base/dnanmeanwd.h
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/lib/dnanmeanwd.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/lib/dnanmeanwd.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/lib/index.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/src/main.c
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/test/test.dnanmeanwd.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/test/test.dnanmeanwd.native.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/test/test.ndarray.native.js
Labels: Feature, Statistics

#4183 refactor: update `math/base/assert/is-even` to follow latest project conventions
  lib/node_modules/@stdlib/math/base/assert/is-even/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-even/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-even/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-even/manifest.json
  lib/node_modules/@stdlib/math/base/assert/is-even/src/addon.c
Labels: Math, Ready To Merge

#4470 refactor: update `stats/base/snanstdevch` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/snanstdevch/include.gypi
  lib/node_modules/@stdlib/stats/base/snanstdevch/manifest.json
  lib/node_modules/@stdlib/stats/base/snanstdevch/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanstdevch/src/addon.cpp
Labels: Statistics, Needs Changes

#4504 refactor: update `stats/base/snanvariancewd` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/snanvariancewd/include.gypi
  lib/node_modules/@stdlib/stats/base/snanvariancewd/manifest.json
  lib/node_modules/@stdlib/stats/base/snanvariancewd/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanvariancewd/src/addon.cpp
Labels: Needs Review, Statistics

#4505 refactor: update `stats/base/snanvariancetk` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/snanvariancetk/include.gypi
  lib/node_modules/@stdlib/stats/base/snanvariancetk/manifest.json
  lib/node_modules/@stdlib/stats/base/snanvariancetk/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanvariancetk/src/addon.cpp
Labels: Needs Review, Statistics

#4507 refactor: update `stats/base/sstdev` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/sstdev/include.gypi
  lib/node_modules/@stdlib/stats/base/sstdev/manifest.json
  lib/node_modules/@stdlib/stats/base/sstdev/src/addon.c
  lib/node_modules/@stdlib/stats/base/sstdev/src/addon.cpp
Labels: Needs Review, Statistics

#4509 refactor: update `stats/base/sstdevpn` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/sstdevpn/include.gypi
  lib/node_modules/@stdlib/stats/base/sstdevpn/manifest.json
  lib/node_modules/@stdlib/stats/base/sstdevpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/sstdevpn/src/addon.cpp
Labels: Needs Review, Statistics

#4511 refactor: update `stats/base/snanvarianceyc` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/snanvarianceyc/include.gypi
  lib/node_modules/@stdlib/stats/base/snanvarianceyc/manifest.json
  lib/node_modules/@stdlib/stats/base/snanvarianceyc/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanvarianceyc/src/addon.cpp
Labels: Needs Review, Statistics

#4508 refactor: update `stats/base/sstdevch` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/sstdevch/include.gypi
  lib/node_modules/@stdlib/stats/base/sstdevch/manifest.json
  lib/node_modules/@stdlib/stats/base/sstdevch/src/addon.c
  lib/node_modules/@stdlib/stats/base/sstdevch/src/addon.cpp
Labels: Needs Review, Statistics

#4497 chore: remove unused header in `stats/base/dnanmeanwd`
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/README.md
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/src/main.c
Labels: Statistics

#4492 feat: add C ndarray interface and refactor implementation for `stats/base/sminsorted`
  lib/node_modules/@stdlib/stats/base/sminsorted/README.md
  lib/node_modules/@stdlib/stats/base/sminsorted/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/sminsorted/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/sminsorted/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/sminsorted/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sminsorted/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/sminsorted/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/sminsorted/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/sminsorted/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/sminsorted/examples/index.js
  lib/node_modules/@stdlib/stats/base/sminsorted/include.gypi
  lib/node_modules/@stdlib/stats/base/sminsorted/include/stdlib/stats/base/sminsorted.h
  lib/node_modules/@stdlib/stats/base/sminsorted/lib/index.js
  lib/node_modules/@stdlib/stats/base/sminsorted/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/sminsorted/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sminsorted/lib/sminsorted.js
  lib/node_modules/@stdlib/stats/base/sminsorted/lib/sminsorted.native.js
  lib/node_modules/@stdlib/stats/base/sminsorted/manifest.json
  lib/node_modules/@stdlib/stats/base/sminsorted/src/addon.c
  lib/node_modules/@stdlib/stats/base/sminsorted/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/sminsorted/src/main.c
  lib/node_modules/@stdlib/stats/base/sminsorted/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/sminsorted/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sminsorted/test/test.sminsorted.js
  lib/node_modules/@stdlib/stats/base/sminsorted/test/test.sminsorted.native.js
Labels: Feature, Statistics, C

#4490 feat: add C ndarray interface and refactor implementation for `stats/base/smediansorted`
  lib/node_modules/@stdlib/stats/base/smediansorted/README.md
  lib/node_modules/@stdlib/stats/base/smediansorted/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/smediansorted/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/smediansorted/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/smediansorted/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smediansorted/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/smediansorted/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/smediansorted/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/smediansorted/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/smediansorted/examples/index.js
  lib/node_modules/@stdlib/stats/base/smediansorted/include.gypi
  lib/node_modules/@stdlib/stats/base/smediansorted/include/stdlib/stats/base/smediansorted.h
  lib/node_modules/@stdlib/stats/base/smediansorted/lib/index.js
  lib/node_modules/@stdlib/stats/base/smediansorted/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/smediansorted/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smediansorted/lib/smediansorted.js
  lib/node_modules/@stdlib/stats/base/smediansorted/lib/smediansorted.native.js
  lib/node_modules/@stdlib/stats/base/smediansorted/manifest.json
  lib/node_modules/@stdlib/stats/base/smediansorted/src/addon.c
  lib/node_modules/@stdlib/stats/base/smediansorted/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/smediansorted/src/main.c
  lib/node_modules/@stdlib/stats/base/smediansorted/src/smediansorted.c
  lib/node_modules/@stdlib/stats/base/smediansorted/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/smediansorted/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smediansorted/test/test.smediansorted.js
  lib/node_modules/@stdlib/stats/base/smediansorted/test/test.smediansorted.native.js
Labels: Feature, Statistics, C

#4535 refactor: update `stats/base/dnanvarianceyc` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dnanvarianceyc/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanvarianceyc/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanvarianceyc/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanvarianceyc/src/addon.cpp
Labels: Statistics

#4536 refactor: update `stats/base/dnanstdevyc` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanstdevyc/src/addon.cpp
Labels: Statistics

#4539 refactor: update `stats/base/dnanstdevch` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dnanstdevch/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanstdevch/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanstdevch/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanstdevch/src/addon.cpp
Labels: Statistics

#4538 refactor: update `stats/base/dnanvariancepn` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dnanvariancepn/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanvariancepn/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanvariancepn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanvariancepn/src/addon.cpp
Labels: Statistics

#4537 refactor: update `stats/base/dnanstdevpn` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/include.gypi
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanstdevpn/src/addon.cpp
Labels: Statistics

#4570 feat: add C ndarray interface and refactor implementation for `stats/base/svariancetk`
  lib/node_modules/@stdlib/stats/base/svariancetk/README.md
  lib/node_modules/@stdlib/stats/base/svariancetk/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/svariancetk/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/svariancetk/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/svariancetk/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/svariancetk/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/svariancetk/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/svariancetk/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/svariancetk/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/svariancetk/examples/index.js
  lib/node_modules/@stdlib/stats/base/svariancetk/include/stdlib/stats/base/svariancetk.h
  lib/node_modules/@stdlib/stats/base/svariancetk/lib/index.js
  lib/node_modules/@stdlib/stats/base/svariancetk/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/svariancetk/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/svariancetk/lib/svariancetk.js
  lib/node_modules/@stdlib/stats/base/svariancetk/lib/svariancetk.native.js
  lib/node_modules/@stdlib/stats/base/svariancetk/manifest.json
  lib/node_modules/@stdlib/stats/base/svariancetk/src/addon.c
  lib/node_modules/@stdlib/stats/base/svariancetk/src/main.c
  lib/node_modules/@stdlib/stats/base/svariancetk/src/svariancetk.c
  lib/node_modules/@stdlib/stats/base/svariancetk/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/svariancetk/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/svariancetk/test/test.svariancetk.js
  lib/node_modules/@stdlib/stats/base/svariancetk/test/test.svariancetk.native.js
Labels: Statistics

#4534 feat: add C ndarray interface and refactor implementation for `stats/base/dvariancetk`
  lib/node_modules/@stdlib/stats/base/dvariancetk/README.md
  lib/node_modules/@stdlib/stats/base/dvariancetk/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dvariancetk/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dvariancetk/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dvariancetk/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dvariancetk/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dvariancetk/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dvariancetk/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dvariancetk/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dvariancetk/examples/index.js
  lib/node_modules/@stdlib/stats/base/dvariancetk/include/stdlib/stats/base/dvariancetk.h
  lib/node_modules/@stdlib/stats/base/dvariancetk/lib/dvariancetk.js
  lib/node_modules/@stdlib/stats/base/dvariancetk/lib/dvariancetk.native.js
  lib/node_modules/@stdlib/stats/base/dvariancetk/lib/index.js
  lib/node_modules/@stdlib/stats/base/dvariancetk/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dvariancetk/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dvariancetk/manifest.json
  lib/node_modules/@stdlib/stats/base/dvariancetk/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvariancetk/src/dvariancetk.c
  lib/node_modules/@stdlib/stats/base/dvariancetk/src/main.c
  lib/node_modules/@stdlib/stats/base/dvariancetk/test/test.dvariancetk.js
  lib/node_modules/@stdlib/stats/base/dvariancetk/test/test.dvariancetk.native.js
  lib/node_modules/@stdlib/stats/base/dvariancetk/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dvariancetk/test/test.ndarray.native.js
Labels: Feature, Statistics, C

#4524 feat: add C ndarray interface and refactor implementation for `stats/base/dvariancech`
  lib/node_modules/@stdlib/stats/base/dvariancech/README.md
  lib/node_modules/@stdlib/stats/base/dvariancech/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dvariancech/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dvariancech/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dvariancech/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dvariancech/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dvariancech/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dvariancech/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dvariancech/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dvariancech/examples/index.js
  lib/node_modules/@stdlib/stats/base/dvariancech/include/stdlib/stats/base/dvariancech.h
  lib/node_modules/@stdlib/stats/base/dvariancech/lib/dvariancech.js
  lib/node_modules/@stdlib/stats/base/dvariancech/lib/dvariancech.native.js
  lib/node_modules/@stdlib/stats/base/dvariancech/lib/index.js
  lib/node_modules/@stdlib/stats/base/dvariancech/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dvariancech/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dvariancech/manifest.json
  lib/node_modules/@stdlib/stats/base/dvariancech/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvariancech/src/main.c
  lib/node_modules/@stdlib/stats/base/dvariancech/test/test.dvariancech.js
  lib/node_modules/@stdlib/stats/base/dvariancech/test/test.dvariancech.native.js
  lib/node_modules/@stdlib/stats/base/dvariancech/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dvariancech/test/test.ndarray.native.js
Labels: Feature, Needs Review, Statistics, C

#4503 feat: add C ndarray interface and refactor implementation for `stats/base/smeanwd`
  lib/node_modules/@stdlib/stats/base/smeanwd/README.md
  lib/node_modules/@stdlib/stats/base/smeanwd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/smeanwd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/smeanwd/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/smeanwd/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smeanwd/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/smeanwd/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/smeanwd/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/smeanwd/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/smeanwd/examples/index.js
  lib/node_modules/@stdlib/stats/base/smeanwd/include.gypi
  lib/node_modules/@stdlib/stats/base/smeanwd/include/stdlib/stats/base/smeanwd.h
  lib/node_modules/@stdlib/stats/base/smeanwd/lib/index.js
  lib/node_modules/@stdlib/stats/base/smeanwd/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/smeanwd/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smeanwd/lib/smeanwd.js
  lib/node_modules/@stdlib/stats/base/smeanwd/lib/smeanwd.native.js
  lib/node_modules/@stdlib/stats/base/smeanwd/manifest.json
  lib/node_modules/@stdlib/stats/base/smeanwd/src/addon.c
  lib/node_modules/@stdlib/stats/base/smeanwd/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/smeanwd/src/main.c
  lib/node_modules/@stdlib/stats/base/smeanwd/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/smeanwd/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smeanwd/test/test.smeanwd.js
  lib/node_modules/@stdlib/stats/base/smeanwd/test/test.smeanwd.native.js
Labels: Feature, Needs Review, Statistics, C

#4501 feat: add C ndarray interface and refactor implementation for `stats/base/dvariancewd`
  lib/node_modules/@stdlib/stats/base/dvariancewd/README.md
  lib/node_modules/@stdlib/stats/base/dvariancewd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dvariancewd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dvariancewd/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dvariancewd/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dvariancewd/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dvariancewd/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dvariancewd/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dvariancewd/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dvariancewd/examples/index.js
  lib/node_modules/@stdlib/stats/base/dvariancewd/include/stdlib/stats/base/dvariancewd.h
  lib/node_modules/@stdlib/stats/base/dvariancewd/lib/dvariancewd.js
  lib/node_modules/@stdlib/stats/base/dvariancewd/lib/dvariancewd.native.js
  lib/node_modules/@stdlib/stats/base/dvariancewd/lib/index.js
  lib/node_modules/@stdlib/stats/base/dvariancewd/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dvariancewd/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dvariancewd/manifest.json
  lib/node_modules/@stdlib/stats/base/dvariancewd/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvariancewd/src/main.c
  lib/node_modules/@stdlib/stats/base/dvariancewd/test/test.dvariancewd.js
  lib/node_modules/@stdlib/stats/base/dvariancewd/test/test.dvariancewd.native.js
  lib/node_modules/@stdlib/stats/base/dvariancewd/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dvariancewd/test/test.ndarray.native.js
Labels: Feature, Needs Review, Statistics, C

#4547 feat: add C ndarray interface and refactor implementation for `stats/base/svariancech`
  lib/node_modules/@stdlib/stats/base/svariancech/README.md
  lib/node_modules/@stdlib/stats/base/svariancech/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/svariancech/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/svariancech/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/svariancech/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/svariancech/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/svariancech/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/svariancech/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/svariancech/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/svariancech/examples/index.js
  lib/node_modules/@stdlib/stats/base/svariancech/include/stdlib/stats/base/svariancech.h
  lib/node_modules/@stdlib/stats/base/svariancech/lib/index.js
  lib/node_modules/@stdlib/stats/base/svariancech/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/svariancech/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/svariancech/lib/svariancech.js
  lib/node_modules/@stdlib/stats/base/svariancech/lib/svariancech.native.js
  lib/node_modules/@stdlib/stats/base/svariancech/manifest.json
  lib/node_modules/@stdlib/stats/base/svariancech/src/addon.c
  lib/node_modules/@stdlib/stats/base/svariancech/src/main.c
  lib/node_modules/@stdlib/stats/base/svariancech/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/svariancech/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/svariancech/test/test.svariancech.js
  lib/node_modules/@stdlib/stats/base/svariancech/test/test.svariancech.native.js
Labels: Feature, Needs Review, Statistics, C

#4541 feat: add C ndarray interface and refactor implementation for `stats/base/dvarmtk`
  lib/node_modules/@stdlib/stats/base/dvarmtk/README.md
  lib/node_modules/@stdlib/stats/base/dvarmtk/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dvarmtk/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dvarmtk/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dvarmtk/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dvarmtk/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dvarmtk/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dvarmtk/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dvarmtk/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dvarmtk/examples/index.js
  lib/node_modules/@stdlib/stats/base/dvarmtk/include/stdlib/stats/base/dvarmtk.h
  lib/node_modules/@stdlib/stats/base/dvarmtk/lib/dvarmtk.js
  lib/node_modules/@stdlib/stats/base/dvarmtk/lib/dvarmtk.native.js
  lib/node_modules/@stdlib/stats/base/dvarmtk/lib/index.js
  lib/node_modules/@stdlib/stats/base/dvarmtk/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dvarmtk/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dvarmtk/manifest.json
  lib/node_modules/@stdlib/stats/base/dvarmtk/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvarmtk/src/dvarmtk.c
  lib/node_modules/@stdlib/stats/base/dvarmtk/src/main.c
  lib/node_modules/@stdlib/stats/base/dvarmtk/test/test.dvarmtk.js
  lib/node_modules/@stdlib/stats/base/dvarmtk/test/test.dvarmtk.native.js
  lib/node_modules/@stdlib/stats/base/dvarmtk/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dvarmtk/test/test.ndarray.native.js
Labels: Feature, Needs Review, Statistics, C

#4521 feat: add C ndarray interface and refactor implementation for `stats/base/dvarianceyc`
  lib/node_modules/@stdlib/stats/base/dvarianceyc/README.md
  lib/node_modules/@stdlib/stats/base/dvarianceyc/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dvarianceyc/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dvarianceyc/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dvarianceyc/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dvarianceyc/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dvarianceyc/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dvarianceyc/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dvarianceyc/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dvarianceyc/examples/index.js
  lib/node_modules/@stdlib/stats/base/dvarianceyc/include/stdlib/stats/base/dvarianceyc.h
  lib/node_modules/@stdlib/stats/base/dvarianceyc/lib/dvarianceyc.js
  lib/node_modules/@stdlib/stats/base/dvarianceyc/lib/dvarianceyc.native.js
  lib/node_modules/@stdlib/stats/base/dvarianceyc/lib/index.js
  lib/node_modules/@stdlib/stats/base/dvarianceyc/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dvarianceyc/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dvarianceyc/manifest.json
  lib/node_modules/@stdlib/stats/base/dvarianceyc/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvarianceyc/src/main.c
  lib/node_modules/@stdlib/stats/base/dvarianceyc/test/test.dvarianceyc.js
  lib/node_modules/@stdlib/stats/base/dvarianceyc/test/test.dvarianceyc.native.js
  lib/node_modules/@stdlib/stats/base/dvarianceyc/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dvarianceyc/test/test.ndarray.native.js
Labels: Feature, Needs Review, Statistics, C

#4522 feat: add `STDLIB_MATH_BASE_NAPI_MODULE_ID_D` macro in `math/base/napi/binary`
  lib/node_modules/@stdlib/math/base/napi/binary/README.md
  lib/node_modules/@stdlib/math/base/napi/binary/include/stdlib/math/base/napi/binary.h
  lib/node_modules/@stdlib/math/base/napi/binary/src/main.c
Labels: Feature, Math, C

#4523 feat: add `STDLIB_MATH_BASE_NAPI_MODULE_IID_D` macro in `math/base/napi/ternary`
  lib/node_modules/@stdlib/math/base/napi/ternary/README.md
  lib/node_modules/@stdlib/math/base/napi/ternary/include/stdlib/math/base/napi/ternary.h
  lib/node_modules/@stdlib/math/base/napi/ternary/src/main.c
Labels: Feature, Math, C

#4599 style: fix indentation in manifest.json files
  lib/node_modules/@stdlib/stats/base/dvariancech/manifest.json
  lib/node_modules/@stdlib/stats/base/dvariancetk/manifest.json
  lib/node_modules/@stdlib/stats/base/svariancetk/manifest.json
Labels: Needs Review, Statistics

#4603 fix: wrap void function call in `API_SUFFIX`
  lib/node_modules/@stdlib/stats/base/dcumax/src/addon.c
  lib/node_modules/@stdlib/stats/base/dcumaxabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/dcumin/src/addon.c
  lib/node_modules/@stdlib/stats/base/dcuminabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/scumax/src/addon.c
Labels: Statistics

#4608 refactor: update `stats/base/smeanpw` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/smeanpw/include.gypi
  lib/node_modules/@stdlib/stats/base/smeanpw/manifest.json
  lib/node_modules/@stdlib/stats/base/smeanpw/src/addon.c
  lib/node_modules/@stdlib/stats/base/smeanpw/src/addon.cpp
Labels: Needs Review, Statistics

#4609 refactor: update `stats/base/snanmean` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/snanmean/include.gypi
  lib/node_modules/@stdlib/stats/base/snanmean/manifest.json
  lib/node_modules/@stdlib/stats/base/snanmean/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanmean/src/addon.cpp
Labels: Needs Review, Statistics

#4611 refactor: update `stats/base/snanmeanpn` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/snanmeanpn/include.gypi
  lib/node_modules/@stdlib/stats/base/snanmeanpn/manifest.json
  lib/node_modules/@stdlib/stats/base/snanmeanpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanmeanpn/src/addon.cpp
Labels: Statistics

#4607 refactor: update `stats/base/smeanpn` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/smeanpn/include.gypi
  lib/node_modules/@stdlib/stats/base/smeanpn/manifest.json
  lib/node_modules/@stdlib/stats/base/smeanpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/smeanpn/src/addon.cpp
Labels: Statistics

#4606 refactor: update `stats/base/smeanors` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/smeanors/include.gypi
  lib/node_modules/@stdlib/stats/base/smeanors/manifest.json
  lib/node_modules/@stdlib/stats/base/smeanors/src/addon.c
  lib/node_modules/@stdlib/stats/base/smeanors/src/addon.cpp
Labels: Needs Review, Statistics

#4605 refactor: update `stats/base/smeanlipw` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/smeanlipw/include.gypi
  lib/node_modules/@stdlib/stats/base/smeanlipw/manifest.json
  lib/node_modules/@stdlib/stats/base/smeanlipw/src/addon.c
  lib/node_modules/@stdlib/stats/base/smeanlipw/src/addon.cpp
Labels: Needs Review, Statistics

#4320 feat: add C `ndarray` API and refactor `blas/ext/base/dsumors`
  lib/node_modules/@stdlib/blas/ext/base/dsumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dsumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsumors/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dsumors/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dsumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/include/stdlib/blas/ext/base/dsumors.h
  lib/node_modules/@stdlib/blas/ext/base/dsumors/lib/dsumors.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/lib/dsumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsumors/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dsumors/test/test.dsumors.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/test/test.dsumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumors/test/test.ndarray.native.js
Labels: Feature, Needs Review, BLAS, C

#4632 refactor: update `blas/ext/base/gnansumkbn` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn/test/test.ndarray.js
Labels: BLAS

#4634 refactor: update `blas/ext/base/gnansumkbn2` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn2/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn2/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn2/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn2/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn2/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumkbn2/test/test.ndarray.js
Labels: BLAS, Needs Changes

#4619 feat: add C ndarray interface and refactor implementation for `stats/base/dstdevch`
  lib/node_modules/@stdlib/stats/base/dstdevch/README.md
  lib/node_modules/@stdlib/stats/base/dstdevch/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dstdevch/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dstdevch/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dstdevch/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dstdevch/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dstdevch/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dstdevch/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dstdevch/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dstdevch/examples/index.js
  lib/node_modules/@stdlib/stats/base/dstdevch/include/stdlib/stats/base/dstdevch.h
  lib/node_modules/@stdlib/stats/base/dstdevch/lib/dstdevch.js
  lib/node_modules/@stdlib/stats/base/dstdevch/lib/dstdevch.native.js
  lib/node_modules/@stdlib/stats/base/dstdevch/lib/index.js
  lib/node_modules/@stdlib/stats/base/dstdevch/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dstdevch/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dstdevch/manifest.json
  lib/node_modules/@stdlib/stats/base/dstdevch/src/addon.c
  lib/node_modules/@stdlib/stats/base/dstdevch/src/dstdevch.c
  lib/node_modules/@stdlib/stats/base/dstdevch/src/main.c
  lib/node_modules/@stdlib/stats/base/dstdevch/test/test.dstdevch.js
  lib/node_modules/@stdlib/stats/base/dstdevch/test/test.dstdevch.native.js
  lib/node_modules/@stdlib/stats/base/dstdevch/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dstdevch/test/test.ndarray.native.js
Labels: Statistics

#4641 refactor: update `blas/ext/base/gnansumpw` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/gnansumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/gnansumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/gnansumpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/gnansumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumpw/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumpw/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumpw/test/test.ndarray.js
Labels: BLAS

#4639 refactor: update `blas/ext/base/gnansum` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/gnansum/README.md
  lib/node_modules/@stdlib/blas/ext/base/gnansum/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/gnansum/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gnansum/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/gnansum/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/gnansum/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/gnansum/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/gnansum/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/gnansum/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gnansum/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/gnansum/test/test.ndarray.js
Labels: Needs Review, BLAS

#4640 refactor: update `blas/ext/base/gnansumors` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/gnansumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/gnansumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/gnansumors/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/gnansumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumors/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumors/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/gnansumors/test/test.ndarray.js
Labels: BLAS

#4642 docs: fix examples require path for `blas/ext/base/gnansumpw`
  lib/node_modules/@stdlib/blas/ext/base/gnansumpw/examples/index.js
Labels: Needs Review, BLAS

#4620 feat: add C ndarray interface and refactor implementation for `stats/base/dstdevwd`
  lib/node_modules/@stdlib/stats/base/dstdevwd/README.md
  lib/node_modules/@stdlib/stats/base/dstdevwd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dstdevwd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dstdevwd/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dstdevwd/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dstdevwd/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dstdevwd/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dstdevwd/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dstdevwd/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dstdevwd/examples/index.js
  lib/node_modules/@stdlib/stats/base/dstdevwd/include/stdlib/stats/base/dstdevwd.h
  lib/node_modules/@stdlib/stats/base/dstdevwd/lib/dstdevwd.js
  lib/node_modules/@stdlib/stats/base/dstdevwd/lib/dstdevwd.native.js
  lib/node_modules/@stdlib/stats/base/dstdevwd/lib/index.js
  lib/node_modules/@stdlib/stats/base/dstdevwd/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dstdevwd/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dstdevwd/manifest.json
  lib/node_modules/@stdlib/stats/base/dstdevwd/src/addon.c
  lib/node_modules/@stdlib/stats/base/dstdevwd/src/dstdevwd.c
  lib/node_modules/@stdlib/stats/base/dstdevwd/src/main.c
  lib/node_modules/@stdlib/stats/base/dstdevwd/test/test.dstdevwd.js
  lib/node_modules/@stdlib/stats/base/dstdevwd/test/test.dstdevwd.native.js
  lib/node_modules/@stdlib/stats/base/dstdevwd/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dstdevwd/test/test.ndarray.native.js
Labels: Statistics

#4621 feat: add C ndarray interface and refactor implementation for `stats/base/dstdevtk`
  lib/node_modules/@stdlib/stats/base/dstdevtk/README.md
  lib/node_modules/@stdlib/stats/base/dstdevtk/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dstdevtk/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dstdevtk/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dstdevtk/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dstdevtk/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dstdevtk/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dstdevtk/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dstdevtk/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dstdevtk/examples/index.js
  lib/node_modules/@stdlib/stats/base/dstdevtk/include/stdlib/stats/base/dstdevtk.h
  lib/node_modules/@stdlib/stats/base/dstdevtk/lib/dstdevtk.js
  lib/node_modules/@stdlib/stats/base/dstdevtk/lib/dstdevtk.native.js
  lib/node_modules/@stdlib/stats/base/dstdevtk/lib/index.js
  lib/node_modules/@stdlib/stats/base/dstdevtk/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dstdevtk/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dstdevtk/manifest.json
  lib/node_modules/@stdlib/stats/base/dstdevtk/src/addon.c
  lib/node_modules/@stdlib/stats/base/dstdevtk/src/dstdevtk.c
  lib/node_modules/@stdlib/stats/base/dstdevtk/src/main.c
  lib/node_modules/@stdlib/stats/base/dstdevtk/test/test.dstdevtk.js
  lib/node_modules/@stdlib/stats/base/dstdevtk/test/test.dstdevtk.native.js
  lib/node_modules/@stdlib/stats/base/dstdevtk/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dstdevtk/test/test.ndarray.native.js
Labels: Statistics

#4329 feat: add C `ndarray` API and refactor `blas/ext/base/dsumpw`
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/include/stdlib/blas/ext/base/dsumpw.h
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/lib/dsumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/lib/dsumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/test/test.dsumpw.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/test/test.dsumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dsumpw/test/test.ndarray.native.js
Labels: Feature, Needs Review, BLAS, C, Needs Changes

#4593 feat(stats): add C implementation for `stats/base/dists/chisquare/mgf`
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/README.md
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/include/stdlib/stats/base/dists/chisquare/mgf.h
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/package.json
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/test/test.native.js
Labels: Statistics, Ready To Merge

#4646 fix: wrap function calls in `API_SUFFIX` in native addons
  lib/node_modules/@stdlib/stats/base/dmax/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmaxabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmaxabssorted/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmaxsorted/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmediansorted/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmidrange/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmin/src/addon.c
  lib/node_modules/@stdlib/stats/base/dminabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/dminsorted/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmskmax/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmskmin/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmskrange/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmax/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmaxabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmeanwd/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmin/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanminabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanrange/src/addon.c
  lib/node_modules/@stdlib/stats/base/drange/src/addon.c
  lib/node_modules/@stdlib/stats/base/dstdevch/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvariancech/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvariancetk/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvariancewd/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvarianceyc/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvarmtk/src/addon.c
  lib/node_modules/@stdlib/stats/base/smax/src/addon.c
  lib/node_modules/@stdlib/stats/base/smaxabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/smaxabssorted/src/addon.c
  lib/node_modules/@stdlib/stats/base/smaxsorted/src/addon.c
  lib/node_modules/@stdlib/stats/base/smeanwd/src/addon.c
  lib/node_modules/@stdlib/stats/base/smediansorted/src/addon.c
  lib/node_modules/@stdlib/stats/base/smidrange/src/addon.c
  lib/node_modules/@stdlib/stats/base/smin/src/addon.c
  lib/node_modules/@stdlib/stats/base/sminabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/sminsorted/src/addon.c
  lib/node_modules/@stdlib/stats/base/smskmax/src/addon.c
  lib/node_modules/@stdlib/stats/base/smskmin/src/addon.c
  lib/node_modules/@stdlib/stats/base/smskrange/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanmax/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanmaxabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanmin/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanminabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanrange/src/addon.c
  lib/node_modules/@stdlib/stats/base/srange/src/addon.c
  lib/node_modules/@stdlib/stats/base/svariancech/src/addon.c
  lib/node_modules/@stdlib/stats/base/svariancetk/src/addon.c
Labels: Statistics, Native Addons, C

#4493 feat: add C ndarray interface and refactor implementation for `stats/base/dmeanwd`
  lib/node_modules/@stdlib/stats/base/dmeanwd/README.md
  lib/node_modules/@stdlib/stats/base/dmeanwd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dmeanwd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dmeanwd/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanwd/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeanwd/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dmeanwd/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dmeanwd/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dmeanwd/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dmeanwd/examples/index.js
  lib/node_modules/@stdlib/stats/base/dmeanwd/include.gypi
  lib/node_modules/@stdlib/stats/base/dmeanwd/include/stdlib/stats/base/dmeanwd.h
  lib/node_modules/@stdlib/stats/base/dmeanwd/lib/dmeanwd.js
  lib/node_modules/@stdlib/stats/base/dmeanwd/lib/dmeanwd.native.js
  lib/node_modules/@stdlib/stats/base/dmeanwd/lib/index.js
  lib/node_modules/@stdlib/stats/base/dmeanwd/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanwd/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeanwd/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeanwd/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeanwd/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/dmeanwd/src/main.c
  lib/node_modules/@stdlib/stats/base/dmeanwd/test/test.dmeanwd.js
  lib/node_modules/@stdlib/stats/base/dmeanwd/test/test.dmeanwd.native.js
  lib/node_modules/@stdlib/stats/base/dmeanwd/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanwd/test/test.ndarray.native.js
Labels: Feature, Needs Review, Statistics, C

#4628 feat: add C ndarray interface and refactor implementation for `stats/base/dstdevyc`
  lib/node_modules/@stdlib/stats/base/dstdevyc/README.md
  lib/node_modules/@stdlib/stats/base/dstdevyc/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dstdevyc/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dstdevyc/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dstdevyc/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dstdevyc/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dstdevyc/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dstdevyc/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dstdevyc/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/dstdevyc/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dstdevyc/examples/index.js
  lib/node_modules/@stdlib/stats/base/dstdevyc/include/stdlib/stats/base/dstdevyc.h
  lib/node_modules/@stdlib/stats/base/dstdevyc/lib/dstdevyc.js
  lib/node_modules/@stdlib/stats/base/dstdevyc/lib/dstdevyc.native.js
  lib/node_modules/@stdlib/stats/base/dstdevyc/lib/index.js
  lib/node_modules/@stdlib/stats/base/dstdevyc/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dstdevyc/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dstdevyc/manifest.json
  lib/node_modules/@stdlib/stats/base/dstdevyc/src/addon.c
  lib/node_modules/@stdlib/stats/base/dstdevyc/src/dstdevyc.c
  lib/node_modules/@stdlib/stats/base/dstdevyc/src/main.c
  lib/node_modules/@stdlib/stats/base/dstdevyc/test/test.dstdevyc.js
  lib/node_modules/@stdlib/stats/base/dstdevyc/test/test.dstdevyc.native.js
  lib/node_modules/@stdlib/stats/base/dstdevyc/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dstdevyc/test/test.ndarray.native.js
Labels: Needs Review, Statistics

#3363 feat: add `math/base/special/dirac-deltaf`
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/README.md
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/docs/img/equation_dirac_delta.svg
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/docs/img/equation_dirac_delta_integral.svg
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/include.gypi
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/include/stdlib/math/base/special/dirac_deltaf.h
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/manifest.json
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/package.json
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/src/main.c
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/test/test.js
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/test/test.native.js
Labels: Needs Review, Math, Ready To Merge

#4679 refactor: update `blas/ext/base/gsumors` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/gsumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/gsumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/gsumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gsumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/gsumors/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/gsumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/gsumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/gsumors/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/gsumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gsumors/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/gsumors/test/test.ndarray.js
Labels: BLAS, Ready To Merge

#4678 refactor: update `blas/ext/base/gsumkbn2` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/gsumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/gsumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/gsumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gsumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/gsumkbn2/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/gsumkbn2/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/gsumkbn2/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/gsumkbn2/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/gsumkbn2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gsumkbn2/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/gsumkbn2/test/test.ndarray.js
Labels: BLAS, Ready To Merge

#4662 feat: add C ndarray interface and refactor implementation for `stats/base/dsemwd`
  lib/node_modules/@stdlib/stats/base/dsemwd/README.md
  lib/node_modules/@stdlib/stats/base/dsemwd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dsemwd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dsemwd/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dsemwd/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dsemwd/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dsemwd/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dsemwd/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dsemwd/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dsemwd/examples/index.js
  lib/node_modules/@stdlib/stats/base/dsemwd/include/stdlib/stats/base/dsemwd.h
  lib/node_modules/@stdlib/stats/base/dsemwd/lib/dsemwd.js
  lib/node_modules/@stdlib/stats/base/dsemwd/lib/dsemwd.native.js
  lib/node_modules/@stdlib/stats/base/dsemwd/lib/index.js
  lib/node_modules/@stdlib/stats/base/dsemwd/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dsemwd/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dsemwd/manifest.json
  lib/node_modules/@stdlib/stats/base/dsemwd/src/addon.c
  lib/node_modules/@stdlib/stats/base/dsemwd/src/dsemwd.c
  lib/node_modules/@stdlib/stats/base/dsemwd/src/main.c
  lib/node_modules/@stdlib/stats/base/dsemwd/test/test.dsemwd.js
  lib/node_modules/@stdlib/stats/base/dsemwd/test/test.dsemwd.native.js
  lib/node_modules/@stdlib/stats/base/dsemwd/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dsemwd/test/test.ndarray.native.js
Labels: Statistics, Ready To Merge

#4631 refactor: update `blas/ext/base/gnannsumkbn` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/gnannsumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/gnannsumkbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/gnannsumkbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gnannsumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/gnannsumkbn/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/gnannsumkbn/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/gnannsumkbn/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/gnannsumkbn/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/gnannsumkbn/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gnannsumkbn/test/test.main.js
  lib/node_modules/@stdlib/blas/ext/base/gnannsumkbn/test/test.ndarray.js
Labels: BLAS, Ready To Merge

#4580 feat(stats): add C implementation for `stats/base/dists/degenerate/mode`
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mode/README.md
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mode/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mode/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mode/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mode/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mode/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mode/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mode/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mode/include/stdlib/stats/base/dists/degenerate/mode.h
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mode/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mode/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mode/package.json
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mode/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mode/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mode/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mode/test/test.native.js
Labels: Statistics, Ready To Merge

#4684 feat: add C ndarray interface and refactor implementation for `stats/base/scumaxabs`
  lib/node_modules/@stdlib/stats/base/scumaxabs/README.md
  lib/node_modules/@stdlib/stats/base/scumaxabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/scumaxabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/scumaxabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/scumaxabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/scumaxabs/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/scumaxabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/scumaxabs/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/scumaxabs/examples/index.js
  lib/node_modules/@stdlib/stats/base/scumaxabs/include/stdlib/stats/base/scumaxabs.h
  lib/node_modules/@stdlib/stats/base/scumaxabs/lib/index.js
  lib/node_modules/@stdlib/stats/base/scumaxabs/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/scumaxabs/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/scumaxabs/lib/scumaxabs.js
  lib/node_modules/@stdlib/stats/base/scumaxabs/lib/scumaxabs.native.js
  lib/node_modules/@stdlib/stats/base/scumaxabs/manifest.json
  lib/node_modules/@stdlib/stats/base/scumaxabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/scumaxabs/src/main.c
  lib/node_modules/@stdlib/stats/base/scumaxabs/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/scumaxabs/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/scumaxabs/test/test.scumaxabs.js
  lib/node_modules/@stdlib/stats/base/scumaxabs/test/test.scumaxabs.native.js
Labels: Statistics, Ready To Merge

#4588 feat(stats): add C implementation for `stats/base/dists/degenerate/stdev`
  lib/node_modules/@stdlib/stats/base/dists/degenerate/stdev/README.md
  lib/node_modules/@stdlib/stats/base/dists/degenerate/stdev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/degenerate/stdev/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/degenerate/stdev/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/degenerate/stdev/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/degenerate/stdev/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/degenerate/stdev/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/degenerate/stdev/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/degenerate/stdev/include/stdlib/stats/base/dists/degenerate/stdev.h
  lib/node_modules/@stdlib/stats/base/dists/degenerate/stdev/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/degenerate/stdev/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/degenerate/stdev/package.json
  lib/node_modules/@stdlib/stats/base/dists/degenerate/stdev/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/degenerate/stdev/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/degenerate/stdev/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/degenerate/stdev/test/test.native.js
Labels: Statistics, Ready To Merge

#4648 refactor: update `stats/base/dmeanvar` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dmeanvar/include.gypi
  lib/node_modules/@stdlib/stats/base/dmeanvar/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeanvar/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeanvar/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/dmeanvar/src/main.c
Labels: Statistics, Ready To Merge

#4651 refactor: update `stats/base/dmeanvarpn` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dmeanvarpn/include.gypi
  lib/node_modules/@stdlib/stats/base/dmeanvarpn/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeanvarpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeanvarpn/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/dmeanvarpn/src/main.c
Labels: Statistics, Ready To Merge

#4647 refactor: update `stats/base/dmeanstdevpn` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/include.gypi
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/src/main.c
Labels: Statistics, Ready To Merge

#4612 refactor: update `stats/base/dmeanstdev` native addon from C++ to C
  lib/node_modules/@stdlib/stats/base/dmeanstdev/include.gypi
  lib/node_modules/@stdlib/stats/base/dmeanstdev/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeanstdev/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeanstdev/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/dmeanstdev/src/main.c
Labels: Statistics, Ready To Merge

#4694 feat: add C ndarray interface and refactor implementation for `stats/base/scumin`
  lib/node_modules/@stdlib/stats/base/scumin/README.md
  lib/node_modules/@stdlib/stats/base/scumin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/scumin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/scumin/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/scumin/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/scumin/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/scumin/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/scumin/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/scumin/examples/index.js
  lib/node_modules/@stdlib/stats/base/scumin/include/stdlib/stats/base/scumin.h
  lib/node_modules/@stdlib/stats/base/scumin/lib/index.js
  lib/node_modules/@stdlib/stats/base/scumin/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/scumin/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/scumin/lib/scumin.js
  lib/node_modules/@stdlib/stats/base/scumin/lib/scumin.native.js
  lib/node_modules/@stdlib/stats/base/scumin/manifest.json
  lib/node_modules/@stdlib/stats/base/scumin/src/addon.c
  lib/node_modules/@stdlib/stats/base/scumin/src/main.c
  lib/node_modules/@stdlib/stats/base/scumin/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/scumin/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/scumin/test/test.scumin.js
  lib/node_modules/@stdlib/stats/base/scumin/test/test.scumin.native.js
Labels: Statistics, Ready To Merge

#4695 docs: update examples in `stats/base/scumaxabs`
  lib/node_modules/@stdlib/stats/base/scumaxabs/README.md
  lib/node_modules/@stdlib/stats/base/scumaxabs/examples/c/example.c
Labels: Statistics, Ready To Merge

#4453 refactor: update `blas/ext/base/gcusumors` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/gcusumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/gcusumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/gcusumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gcusumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/gcusumors/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/gcusumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/gcusumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/gcusumors/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/gcusumors/lib/ndarray.js
Labels: BLAS, Ready To Merge

#4659 refactor: update `blas/ext/base/grev` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/grev/README.md
  lib/node_modules/@stdlib/blas/ext/base/grev/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/grev/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/grev/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/grev/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/grev/lib/accessors.js
  lib/node_modules/@stdlib/blas/ext/base/grev/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/grev/lib/ndarray.js
Labels: BLAS, Ready To Merge

#4214 feat: add `math/base/assert/is-probabilityf`
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/README.md
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/binding.gyp
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/examples/index.js
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/include.gypi
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/include/stdlib/math/base/assert/is_probabilityf.h
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/lib/index.js
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/lib/main.js
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/lib/native.js
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/manifest.json
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/package.json
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/src/Makefile
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/src/addon.c
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/src/main.c
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-probabilityf/test/test.native.js
Labels: Math, Ready To Merge

#4682 feat: add C ndarray interface and refactor implementation for `stats/base/sstdevch`
  lib/node_modules/@stdlib/stats/base/sstdevch/README.md
  lib/node_modules/@stdlib/stats/base/sstdevch/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/sstdevch/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/sstdevch/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/sstdevch/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sstdevch/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/sstdevch/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/sstdevch/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/sstdevch/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/sstdevch/examples/index.js
  lib/node_modules/@stdlib/stats/base/sstdevch/include/stdlib/stats/base/sstdevch.h
  lib/node_modules/@stdlib/stats/base/sstdevch/lib/index.js
  lib/node_modules/@stdlib/stats/base/sstdevch/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/sstdevch/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sstdevch/lib/sstdevch.js
  lib/node_modules/@stdlib/stats/base/sstdevch/lib/sstdevch.native.js
  lib/node_modules/@stdlib/stats/base/sstdevch/manifest.json
  lib/node_modules/@stdlib/stats/base/sstdevch/src/addon.c
  lib/node_modules/@stdlib/stats/base/sstdevch/src/main.c
  lib/node_modules/@stdlib/stats/base/sstdevch/src/sstdevch.c
  lib/node_modules/@stdlib/stats/base/sstdevch/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/sstdevch/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sstdevch/test/test.sstdevch.js
  lib/node_modules/@stdlib/stats/base/sstdevch/test/test.sstdevch.native.js
Labels: Statistics, Ready To Merge

#4699 fix: use stdlib dependencies instead of math.h in `stats/base/dcuminabs`
  lib/node_modules/@stdlib/stats/base/dcuminabs/src/main.c
Labels: Statistics, Ready To Merge

#3350 feat: add `fixer` function `eslint/rules/repl-namespace-order`
  lib/node_modules/@stdlib/_tools/eslint/rules/repl-namespace-order/README.md
  lib/node_modules/@stdlib/_tools/eslint/rules/repl-namespace-order/examples/index.js
  lib/node_modules/@stdlib/_tools/eslint/rules/repl-namespace-order/lib/main.js
  lib/node_modules/@stdlib/_tools/eslint/rules/repl-namespace-order/test/fixtures/invalid.js
Labels: Feature, Tools, Ready To Merge

#4701 refactor: update `math/base/assert/is-prime` to follow latest project conventions
  lib/node_modules/@stdlib/math/base/assert/is-prime/manifest.json
  lib/node_modules/@stdlib/math/base/assert/is-prime/src/addon.c
  lib/node_modules/@stdlib/math/base/assert/is-prime/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-prime/test/test.native.js
Labels: Math, Ready To Merge

#4700 refactor: update `math/base/assert/is-probability` to follow latest project conventions
  lib/node_modules/@stdlib/math/base/assert/is-probability/README.md
  lib/node_modules/@stdlib/math/base/assert/is-probability/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/assert/is-probability/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/assert/is-probability/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/assert/is-probability/examples/index.js
  lib/node_modules/@stdlib/math/base/assert/is-probability/manifest.json
  lib/node_modules/@stdlib/math/base/assert/is-probability/src/addon.c
  lib/node_modules/@stdlib/math/base/assert/is-probability/test/test.js
  lib/node_modules/@stdlib/math/base/assert/is-probability/test/test.native.js
Labels: Math, Ready To Merge

#4703 feat: add `lapack/base/zlacpy`
  lib/node_modules/@stdlib/lapack/base/zlacpy/README.md
  lib/node_modules/@stdlib/lapack/base/zlacpy/benchmark/benchmark.js
  lib/node_modules/@stdlib/lapack/base/zlacpy/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/lapack/base/zlacpy/docs/repl.txt
  lib/node_modules/@stdlib/lapack/base/zlacpy/docs/types/index.d.ts
  lib/node_modules/@stdlib/lapack/base/zlacpy/docs/types/test.ts
  lib/node_modules/@stdlib/lapack/base/zlacpy/examples/index.js
  lib/node_modules/@stdlib/lapack/base/zlacpy/lib/base.js
  lib/node_modules/@stdlib/lapack/base/zlacpy/lib/index.js
  lib/node_modules/@stdlib/lapack/base/zlacpy/lib/main.js
  lib/node_modules/@stdlib/lapack/base/zlacpy/lib/ndarray.js
  lib/node_modules/@stdlib/lapack/base/zlacpy/lib/zlacpy.js
  lib/node_modules/@stdlib/lapack/base/zlacpy/package.json
  lib/node_modules/@stdlib/lapack/base/zlacpy/test/test.js
  lib/node_modules/@stdlib/lapack/base/zlacpy/test/test.ndarray.js
  lib/node_modules/@stdlib/lapack/base/zlacpy/test/test.zlacpy.js
Labels: Feature, LAPACK

#4732 fix: add `math/base/speical/abs` in manifest.json of `blas/ext/base/dapxsumkbn`
  lib/node_modules/@stdlib/blas/ext/base/dapxsumkbn/manifest.json
Labels: BLAS, Ready To Merge

#4713 docs: update examples of `stats/base/dmin`
  lib/node_modules/@stdlib/stats/base/dmin/README.md
  lib/node_modules/@stdlib/stats/base/dmin/examples/c/example.c
Labels: Statistics, Ready To Merge

#4715 feat: add C ndarray interface and refactor implementation for `stats/base/dmeankbn2`
  lib/node_modules/@stdlib/stats/base/dmeankbn2/README.md
  lib/node_modules/@stdlib/stats/base/dmeankbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dmeankbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dmeankbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeankbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeankbn2/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dmeankbn2/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dmeankbn2/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dmeankbn2/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dmeankbn2/examples/index.js
  lib/node_modules/@stdlib/stats/base/dmeankbn2/include/stdlib/stats/base/dmeankbn2.h
  lib/node_modules/@stdlib/stats/base/dmeankbn2/lib/dmeankbn2.js
  lib/node_modules/@stdlib/stats/base/dmeankbn2/lib/dmeankbn2.native.js
  lib/node_modules/@stdlib/stats/base/dmeankbn2/lib/index.js
  lib/node_modules/@stdlib/stats/base/dmeankbn2/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeankbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeankbn2/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeankbn2/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeankbn2/src/main.c
  lib/node_modules/@stdlib/stats/base/dmeankbn2/test/test.dmeankbn2.js
  lib/node_modules/@stdlib/stats/base/dmeankbn2/test/test.dmeankbn2.native.js
  lib/node_modules/@stdlib/stats/base/dmeankbn2/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeankbn2/test/test.ndarray.native.js
Labels: Statistics, Ready To Merge

#4737 refactor: update `blas/ext/base/dapx` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/dapx/README.md
  lib/node_modules/@stdlib/blas/ext/base/dapx/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/dapx/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/dapx/include/stdlib/blas/ext/base/dapx.h
  lib/node_modules/@stdlib/blas/ext/base/dapx/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/dapx/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/dapx/src/main.c
Labels: BLAS, Ready To Merge

#4744 bench: refactor random number generation in `stats/base/dists/arcsine`
  lib/node_modules/@stdlib/stats/base/dists/arcsine/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/cdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/entropy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/kurtosis/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/logcdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/logpdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/logpdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/median/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/mode/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/pdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/pdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/variance/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/variance/benchmark/benchmark.native.js
Labels: Statistics, Benchmarks

#4746 feat: add C `ndarray` API and refactor `blas/ext/base/sapxsumors`
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/README.md
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/include/stdlib/blas/ext/base/sapxsumors.h
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/lib/sapxsumors.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/lib/sapxsumors.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/package.json
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/src/sapxsumors.c
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/test/test.sapxsumors.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumors/test/test.sapxsumors.native.js
Labels: Feature, BLAS, C

#4751 docs: update examples of `stats/base/smeanwd`
  lib/node_modules/@stdlib/stats/base/smeanwd/README.md
Labels: Statistics

#4361 feat(stats): add C implementation for `stats/base/dists/arcsine/skewness`
  lib/node_modules/@stdlib/stats/base/dists/arcsine/skewness/README.md
  lib/node_modules/@stdlib/stats/base/dists/arcsine/skewness/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/skewness/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/arcsine/skewness/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/skewness/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/arcsine/skewness/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/arcsine/skewness/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/skewness/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/arcsine/skewness/include/stdlib/stats/base/dists/arcsine/skewness.h
  lib/node_modules/@stdlib/stats/base/dists/arcsine/skewness/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/skewness/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/arcsine/skewness/package.json
  lib/node_modules/@stdlib/stats/base/dists/arcsine/skewness/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/arcsine/skewness/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/skewness/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/skewness/test/test.native.js
Labels: Statistics, Ready To Merge

#4236 feat(stats): add C implementation for `stats/base/dists/arcsine/mode`
  lib/node_modules/@stdlib/stats/base/dists/arcsine/mode/README.md
  lib/node_modules/@stdlib/stats/base/dists/arcsine/mode/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/mode/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/arcsine/mode/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/mode/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/arcsine/mode/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/arcsine/mode/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/mode/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/arcsine/mode/include/stdlib/stats/base/dists/arcsine/mode.h
  lib/node_modules/@stdlib/stats/base/dists/arcsine/mode/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/mode/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/arcsine/mode/package.json
  lib/node_modules/@stdlib/stats/base/dists/arcsine/mode/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/arcsine/mode/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/mode/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/mode/test/test.native.js
Labels: Statistics, Ready To Merge

#4241 feat(stats): add C Implementation for `stats/base/dists/arcsine/stdev`
  lib/node_modules/@stdlib/stats/base/dists/arcsine/stdev/README.md
  lib/node_modules/@stdlib/stats/base/dists/arcsine/stdev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/stdev/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/arcsine/stdev/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/stdev/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/arcsine/stdev/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/arcsine/stdev/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/stdev/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/arcsine/stdev/include/stdlib/stats/base/dists/arcsine/stdev.h
  lib/node_modules/@stdlib/stats/base/dists/arcsine/stdev/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/arcsine/stdev/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/arcsine/stdev/package.json
  lib/node_modules/@stdlib/stats/base/dists/arcsine/stdev/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/arcsine/stdev/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/stdev/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/arcsine/stdev/test/test.native.js
Labels: Statistics, Ready To Merge

#4781 docs: refactor examples of `stats/base/dnanmax`
  lib/node_modules/@stdlib/stats/base/dnanmax/README.md
  lib/node_modules/@stdlib/stats/base/dnanmax/examples/index.js
Labels: Statistics

#4780 docs: fix grammar typo in `stats/base/*`
  lib/node_modules/@stdlib/stats/base/dcumax/README.md
  lib/node_modules/@stdlib/stats/base/dcumaxabs/README.md
  lib/node_modules/@stdlib/stats/base/dcumin/README.md
  lib/node_modules/@stdlib/stats/base/dcuminabs/README.md
  lib/node_modules/@stdlib/stats/base/scumax/README.md
  lib/node_modules/@stdlib/stats/base/scumaxabs/README.md
  lib/node_modules/@stdlib/stats/base/scumin/README.md
  lib/node_modules/@stdlib/stats/base/scuminabs/README.md
  lib/node_modules/@stdlib/stats/base/sstdevtk/README.md
Labels: Statistics

#4778 docs: update function description and cleanup for `math/base/special/dirac-deltaf`
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/README.md
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/include/stdlib/math/base/special/dirac_deltaf.h
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/package.json
  lib/node_modules/@stdlib/math/base/special/dirac-deltaf/src/main.c
Labels: Needs Review, Math

#4765 refactor: update `math/base/special/hypot` to follow latest project conventions
  lib/node_modules/@stdlib/math/base/special/hypot/README.md
  lib/node_modules/@stdlib/math/base/special/hypot/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/hypot/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/hypot/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/hypot/examples/index.js
  lib/node_modules/@stdlib/math/base/special/hypot/manifest.json
  lib/node_modules/@stdlib/math/base/special/hypot/src/main.c
  lib/node_modules/@stdlib/math/base/special/hypot/test/test.js
  lib/node_modules/@stdlib/math/base/special/hypot/test/test.native.js
Labels: Math

#4788 feat: add C `ndarray` API and refactor `blas/ext/base/scusumkbn2`
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/include/stdlib/blas/ext/base/scusumkbn2.h
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/lib/scusumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/lib/scusumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/src/main.c
Labels: Feature, BLAS, C

#4731 feat: add C ndarray interface and refactor implementation for `stats/base/dmeanli`
  lib/node_modules/@stdlib/stats/base/dmeanli/README.md
  lib/node_modules/@stdlib/stats/base/dmeanli/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dmeanli/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dmeanli/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanli/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeanli/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dmeanli/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dmeanli/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dmeanli/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dmeanli/examples/index.js
  lib/node_modules/@stdlib/stats/base/dmeanli/include/stdlib/stats/base/dmeanli.h
  lib/node_modules/@stdlib/stats/base/dmeanli/lib/dmeanli.js
  lib/node_modules/@stdlib/stats/base/dmeanli/lib/dmeanli.native.js
  lib/node_modules/@stdlib/stats/base/dmeanli/lib/index.js
  lib/node_modules/@stdlib/stats/base/dmeanli/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanli/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeanli/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeanli/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeanli/src/main.c
  lib/node_modules/@stdlib/stats/base/dmeanli/test/test.dmeanli.js
  lib/node_modules/@stdlib/stats/base/dmeanli/test/test.dmeanli.native.js
  lib/node_modules/@stdlib/stats/base/dmeanli/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanli/test/test.ndarray.native.js
Labels: Feature, Needs Review, Statistics, C

#4712 feat: add C ndarray interface and refactor implementation for `stats/base/dmeankbn`
  lib/node_modules/@stdlib/stats/base/dmeankbn/README.md
  lib/node_modules/@stdlib/stats/base/dmeankbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dmeankbn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dmeankbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeankbn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeankbn/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dmeankbn/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dmeankbn/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dmeankbn/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dmeankbn/examples/index.js
  lib/node_modules/@stdlib/stats/base/dmeankbn/include/stdlib/stats/base/dmeankbn.h
  lib/node_modules/@stdlib/stats/base/dmeankbn/lib/dmeankbn.js
  lib/node_modules/@stdlib/stats/base/dmeankbn/lib/dmeankbn.native.js
  lib/node_modules/@stdlib/stats/base/dmeankbn/lib/index.js
  lib/node_modules/@stdlib/stats/base/dmeankbn/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeankbn/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeankbn/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeankbn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeankbn/src/main.c
  lib/node_modules/@stdlib/stats/base/dmeankbn/test/test.dmeankbn.js
  lib/node_modules/@stdlib/stats/base/dmeankbn/test/test.dmeankbn.native.js
  lib/node_modules/@stdlib/stats/base/dmeankbn/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeankbn/test/test.ndarray.native.js
Labels: Feature, Statistics, C

#4665 feat: add C ndarray interface and refactor implementation for `stats/base/dsemyc`
  lib/node_modules/@stdlib/stats/base/dsemyc/README.md
  lib/node_modules/@stdlib/stats/base/dsemyc/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dsemyc/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dsemyc/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dsemyc/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dsemyc/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dsemyc/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dsemyc/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dsemyc/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dsemyc/examples/index.js
  lib/node_modules/@stdlib/stats/base/dsemyc/include/stdlib/stats/base/dsemyc.h
  lib/node_modules/@stdlib/stats/base/dsemyc/lib/dsemyc.js
  lib/node_modules/@stdlib/stats/base/dsemyc/lib/dsemyc.native.js
  lib/node_modules/@stdlib/stats/base/dsemyc/lib/index.js
  lib/node_modules/@stdlib/stats/base/dsemyc/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dsemyc/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dsemyc/manifest.json
  lib/node_modules/@stdlib/stats/base/dsemyc/src/addon.c
  lib/node_modules/@stdlib/stats/base/dsemyc/src/dsemyc.c
  lib/node_modules/@stdlib/stats/base/dsemyc/src/main.c
  lib/node_modules/@stdlib/stats/base/dsemyc/test/test.dsemyc.js
  lib/node_modules/@stdlib/stats/base/dsemyc/test/test.dsemyc.native.js
  lib/node_modules/@stdlib/stats/base/dsemyc/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dsemyc/test/test.ndarray.native.js
Labels: Needs Review, Statistics

#4661 feat: add C ndarray interface and refactor implementation for `stats/base/dsemtk`
  lib/node_modules/@stdlib/stats/base/dsemtk/README.md
  lib/node_modules/@stdlib/stats/base/dsemtk/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dsemtk/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dsemtk/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dsemtk/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dsemtk/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dsemtk/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dsemtk/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dsemtk/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dsemtk/examples/index.js
  lib/node_modules/@stdlib/stats/base/dsemtk/include/stdlib/stats/base/dsemtk.h
  lib/node_modules/@stdlib/stats/base/dsemtk/lib/dsemtk.js
  lib/node_modules/@stdlib/stats/base/dsemtk/lib/dsemtk.native.js
  lib/node_modules/@stdlib/stats/base/dsemtk/lib/index.js
  lib/node_modules/@stdlib/stats/base/dsemtk/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dsemtk/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dsemtk/manifest.json
  lib/node_modules/@stdlib/stats/base/dsemtk/src/addon.c
  lib/node_modules/@stdlib/stats/base/dsemtk/src/dsemtk.c
  lib/node_modules/@stdlib/stats/base/dsemtk/src/main.c
  lib/node_modules/@stdlib/stats/base/dsemtk/test/test.dsemtk.js
  lib/node_modules/@stdlib/stats/base/dsemtk/test/test.dsemtk.native.js
  lib/node_modules/@stdlib/stats/base/dsemtk/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dsemtk/test/test.ndarray.native.js
Labels: Feature, Statistics, C

#4653 feat: add C ndarray interface and refactor implementation for `stats/base/dsemch`
  lib/node_modules/@stdlib/stats/base/dsemch/README.md
  lib/node_modules/@stdlib/stats/base/dsemch/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dsemch/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dsemch/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dsemch/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dsemch/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dsemch/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dsemch/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dsemch/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dsemch/examples/index.js
  lib/node_modules/@stdlib/stats/base/dsemch/include/stdlib/stats/base/dsemch.h
  lib/node_modules/@stdlib/stats/base/dsemch/lib/dsemch.js
  lib/node_modules/@stdlib/stats/base/dsemch/lib/dsemch.native.js
  lib/node_modules/@stdlib/stats/base/dsemch/lib/index.js
  lib/node_modules/@stdlib/stats/base/dsemch/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dsemch/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dsemch/manifest.json
  lib/node_modules/@stdlib/stats/base/dsemch/src/addon.c
  lib/node_modules/@stdlib/stats/base/dsemch/src/dsemch.c
  lib/node_modules/@stdlib/stats/base/dsemch/src/main.c
  lib/node_modules/@stdlib/stats/base/dsemch/test/test.dsemch.js
  lib/node_modules/@stdlib/stats/base/dsemch/test/test.dsemch.native.js
  lib/node_modules/@stdlib/stats/base/dsemch/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dsemch/test/test.ndarray.native.js
Labels: Statistics

#3331 feat(repl): add settings and prototype methods for keybindings
  lib/node_modules/@stdlib/repl/lib/actions.js
  lib/node_modules/@stdlib/repl/lib/commands.js
  lib/node_modules/@stdlib/repl/lib/commands/keybindings.js
  lib/node_modules/@stdlib/repl/lib/commands/set_keybinding.js
  lib/node_modules/@stdlib/repl/lib/default_keybindings.js
  lib/node_modules/@stdlib/repl/lib/defaults.js
  lib/node_modules/@stdlib/repl/lib/display_prompt.js
  lib/node_modules/@stdlib/repl/lib/editor_actions.js
  lib/node_modules/@stdlib/repl/lib/help_text.js
  lib/node_modules/@stdlib/repl/lib/keybindings.js
  lib/node_modules/@stdlib/repl/lib/main.js
  lib/node_modules/@stdlib/repl/lib/match_keybinding.js
  lib/node_modules/@stdlib/repl/lib/validate_keybindings.js
Labels: Feature, REPL

#4698 feat: add C ndarray interface and refactor implementation for `stats/base/scuminabs`
  lib/node_modules/@stdlib/stats/base/scuminabs/README.md
  lib/node_modules/@stdlib/stats/base/scuminabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/scuminabs/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/scuminabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/scuminabs/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/scuminabs/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/scuminabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/scuminabs/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/scuminabs/examples/index.js
  lib/node_modules/@stdlib/stats/base/scuminabs/include/stdlib/stats/base/scuminabs.h
  lib/node_modules/@stdlib/stats/base/scuminabs/lib/index.js
  lib/node_modules/@stdlib/stats/base/scuminabs/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/scuminabs/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/scuminabs/lib/scuminabs.js
  lib/node_modules/@stdlib/stats/base/scuminabs/lib/scuminabs.native.js
  lib/node_modules/@stdlib/stats/base/scuminabs/manifest.json
  lib/node_modules/@stdlib/stats/base/scuminabs/src/addon.c
  lib/node_modules/@stdlib/stats/base/scuminabs/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/scuminabs/src/main.c
  lib/node_modules/@stdlib/stats/base/scuminabs/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/scuminabs/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/scuminabs/test/test.scuminabs.js
  lib/node_modules/@stdlib/stats/base/scuminabs/test/test.scuminabs.native.js
Labels: Feature, Statistics, C

#4764 feat: add C `ndarray` API and refactor `blas/ext/base/sasumpw`
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/include/stdlib/blas/ext/base/sasumpw.h
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/lib/sasumpw.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/lib/sasumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/src/sasumpw.c
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/test/test.sasumpw.js
  lib/node_modules/@stdlib/blas/ext/base/sasumpw/test/test.sasumpw.native.js
Labels: Feature, BLAS, C

#4372 feat: add C ndarray interface and refactor implementation for `stats/base/svarianceyc`
  lib/node_modules/@stdlib/stats/base/svarianceyc/README.md
  lib/node_modules/@stdlib/stats/base/svarianceyc/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/svarianceyc/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/svarianceyc/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/svarianceyc/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/svarianceyc/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/svarianceyc/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/svarianceyc/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/svarianceyc/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/svarianceyc/examples/index.js
  lib/node_modules/@stdlib/stats/base/svarianceyc/include/stdlib/stats/base/svarianceyc.h
  lib/node_modules/@stdlib/stats/base/svarianceyc/lib/index.js
  lib/node_modules/@stdlib/stats/base/svarianceyc/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/svarianceyc/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/svarianceyc/lib/svarianceyc.js
  lib/node_modules/@stdlib/stats/base/svarianceyc/lib/svarianceyc.native.js
  lib/node_modules/@stdlib/stats/base/svarianceyc/manifest.json
  lib/node_modules/@stdlib/stats/base/svarianceyc/src/addon.c
  lib/node_modules/@stdlib/stats/base/svarianceyc/src/main.c
  lib/node_modules/@stdlib/stats/base/svarianceyc/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/svarianceyc/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/svarianceyc/test/test.svarianceyc.js
  lib/node_modules/@stdlib/stats/base/svarianceyc/test/test.svarianceyc.native.js
Labels: Feature, Statistics, C

#4743 feat: add C ndarray interface and refactor implementation for `stats/base/dmeanpw`
  lib/node_modules/@stdlib/stats/base/dmeanpw/README.md
  lib/node_modules/@stdlib/stats/base/dmeanpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dmeanpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dmeanpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeanpw/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dmeanpw/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dmeanpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dmeanpw/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dmeanpw/examples/index.js
  lib/node_modules/@stdlib/stats/base/dmeanpw/include/stdlib/stats/base/dmeanpw.h
  lib/node_modules/@stdlib/stats/base/dmeanpw/lib/dmeanpw.js
  lib/node_modules/@stdlib/stats/base/dmeanpw/lib/dmeanpw.native.js
  lib/node_modules/@stdlib/stats/base/dmeanpw/lib/index.js
  lib/node_modules/@stdlib/stats/base/dmeanpw/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeanpw/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeanpw/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeanpw/src/dmeanpw.c
  lib/node_modules/@stdlib/stats/base/dmeanpw/src/main.c
  lib/node_modules/@stdlib/stats/base/dmeanpw/test/test.dmeanpw.js
  lib/node_modules/@stdlib/stats/base/dmeanpw/test/test.dmeanpw.native.js
  lib/node_modules/@stdlib/stats/base/dmeanpw/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanpw/test/test.ndarray.native.js
Labels: Feature, Needs Review, Statistics, C

#4782 feat: add C `ndarray` API and refactor `blas/ext/base/scusumkbn`
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/README.md
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/include/stdlib/blas/ext/base/scusumkbn.h
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/lib/scusumkbn.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/lib/scusumkbn.native.js
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn/src/main.c
Labels: Feature, Needs Review, BLAS, C

#4783 refactor: update `math/base/special/hypotf` to follow latest project conventions
  lib/node_modules/@stdlib/math/base/special/hypotf/README.md
  lib/node_modules/@stdlib/math/base/special/hypotf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/hypotf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/hypotf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/hypotf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/hypotf/manifest.json
  lib/node_modules/@stdlib/math/base/special/hypotf/src/main.c
  lib/node_modules/@stdlib/math/base/special/hypotf/test/test.js
  lib/node_modules/@stdlib/math/base/special/hypotf/test/test.native.js
Labels: Math

#4745 feat: add C ndarray interface and refactor implementation for `stats/base/sdsmeanors`
  lib/node_modules/@stdlib/stats/base/sdsmeanors/README.md
  lib/node_modules/@stdlib/stats/base/sdsmeanors/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/sdsmeanors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/sdsmeanors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/sdsmeanors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sdsmeanors/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/sdsmeanors/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/sdsmeanors/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/sdsmeanors/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/sdsmeanors/examples/index.js
  lib/node_modules/@stdlib/stats/base/sdsmeanors/include/stdlib/stats/base/sdsmeanors.h
  lib/node_modules/@stdlib/stats/base/sdsmeanors/lib/index.js
  lib/node_modules/@stdlib/stats/base/sdsmeanors/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/sdsmeanors/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sdsmeanors/lib/sdsmeanors.js
  lib/node_modules/@stdlib/stats/base/sdsmeanors/lib/sdsmeanors.native.js
  lib/node_modules/@stdlib/stats/base/sdsmeanors/manifest.json
  lib/node_modules/@stdlib/stats/base/sdsmeanors/src/addon.c
  lib/node_modules/@stdlib/stats/base/sdsmeanors/src/main.c
  lib/node_modules/@stdlib/stats/base/sdsmeanors/src/sdsmeanors.c
  lib/node_modules/@stdlib/stats/base/sdsmeanors/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/sdsmeanors/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sdsmeanors/test/test.sdsmeanors.js
  lib/node_modules/@stdlib/stats/base/sdsmeanors/test/test.sdsmeanors.native.js
Labels: Needs Review, Statistics

#4735 feat: add C ndarray interface and refactor implementation for `stats/base/dmeanors`
  lib/node_modules/@stdlib/stats/base/dmeanors/README.md
  lib/node_modules/@stdlib/stats/base/dmeanors/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dmeanors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dmeanors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeanors/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/dmeanors/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dmeanors/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dmeanors/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dmeanors/examples/index.js
  lib/node_modules/@stdlib/stats/base/dmeanors/include/stdlib/stats/base/dmeanors.h
  lib/node_modules/@stdlib/stats/base/dmeanors/lib/dmeanors.js
  lib/node_modules/@stdlib/stats/base/dmeanors/lib/dmeanors.native.js
  lib/node_modules/@stdlib/stats/base/dmeanors/lib/index.js
  lib/node_modules/@stdlib/stats/base/dmeanors/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanors/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeanors/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeanors/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeanors/src/dmeanors.c
  lib/node_modules/@stdlib/stats/base/dmeanors/src/main.c
  lib/node_modules/@stdlib/stats/base/dmeanors/test/test.dmeanors.js
  lib/node_modules/@stdlib/stats/base/dmeanors/test/test.dmeanors.native.js
  lib/node_modules/@stdlib/stats/base/dmeanors/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanors/test/test.ndarray.native.js
Labels: Feature, Statistics, C

#4730 feat: add C `ndarray` API and refactor `blas/ext/base/sapxsumkbn2`
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/README.md
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/include/stdlib/blas/ext/base/sapxsumkbn2.h
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/lib/sapxsumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/lib/sapxsumkbn2.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/package.json
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/test/test.sapxsumkbn2.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumkbn2/test/test.sapxsumkbn2.native.js
Labels: Feature, BLAS, C

#4747 feat: add C `ndarray` API and refactor `blas/ext/base/sapxsumpw`
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/README.md
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/include/stdlib/blas/ext/base/sapxsumpw.h
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/lib/sapxsumpw.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/lib/sapxsumpw.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/package.json
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/src/sapxsumpw.c
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/test/test.sapxsumpw.js
  lib/node_modules/@stdlib/blas/ext/base/sapxsumpw/test/test.sapxsumpw.native.js
Labels: Feature, BLAS, C

#3374 feat: add `math/base/special/heavisidef`
  lib/node_modules/@stdlib/math/base/special/heavisidef/README.md
  lib/node_modules/@stdlib/math/base/special/heavisidef/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/heavisidef/docs/img/equation_heaviside_function.svg
  lib/node_modules/@stdlib/math/base/special/heavisidef/docs/img/equation_heaviside_function_half_maximum.svg
  lib/node_modules/@stdlib/math/base/special/heavisidef/docs/img/equation_heaviside_function_left_continuous.svg
  lib/node_modules/@stdlib/math/base/special/heavisidef/docs/img/equation_heaviside_function_right_continuous.svg
  lib/node_modules/@stdlib/math/base/special/heavisidef/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/heavisidef/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/heavisidef/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/heavisidef/examples/index.js
  lib/node_modules/@stdlib/math/base/special/heavisidef/lib/index.js
  lib/node_modules/@stdlib/math/base/special/heavisidef/lib/main.js
  lib/node_modules/@stdlib/math/base/special/heavisidef/package.json
  lib/node_modules/@stdlib/math/base/special/heavisidef/test/test.js
Labels: Feature, Math

#4772 feat: add `lapack/base/zrot`
  lib/node_modules/@stdlib/lapack/base/zrot/README.md
  lib/node_modules/@stdlib/lapack/base/zrot/benchmark/benchmark.js
  lib/node_modules/@stdlib/lapack/base/zrot/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/lapack/base/zrot/docs/repl.txt
  lib/node_modules/@stdlib/lapack/base/zrot/docs/types/index.d.ts
  lib/node_modules/@stdlib/lapack/base/zrot/docs/types/test.ts
  lib/node_modules/@stdlib/lapack/base/zrot/examples/index.js
  lib/node_modules/@stdlib/lapack/base/zrot/lib/index.js
  lib/node_modules/@stdlib/lapack/base/zrot/lib/main.js
  lib/node_modules/@stdlib/lapack/base/zrot/lib/ndarray.js
  lib/node_modules/@stdlib/lapack/base/zrot/lib/zrot.js
  lib/node_modules/@stdlib/lapack/base/zrot/package.json
  lib/node_modules/@stdlib/lapack/base/zrot/test/test.js
  lib/node_modules/@stdlib/lapack/base/zrot/test/test.ndarray.js
  lib/node_modules/@stdlib/lapack/base/zrot/test/test.zrot.js
Labels: Feature, LAPACK

#4725 feat: add `lapack/base/zlacgv`
  lib/node_modules/@stdlib/lapack/base/zlacgv/README.md
  lib/node_modules/@stdlib/lapack/base/zlacgv/benchmark/benchmark.js
  lib/node_modules/@stdlib/lapack/base/zlacgv/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/lapack/base/zlacgv/docs/repl.txt
  lib/node_modules/@stdlib/lapack/base/zlacgv/docs/types/index.d.ts
  lib/node_modules/@stdlib/lapack/base/zlacgv/docs/types/test.ts
  lib/node_modules/@stdlib/lapack/base/zlacgv/examples/index.js
  lib/node_modules/@stdlib/lapack/base/zlacgv/lib/index.js
  lib/node_modules/@stdlib/lapack/base/zlacgv/lib/main.js
  lib/node_modules/@stdlib/lapack/base/zlacgv/lib/ndarray.js
  lib/node_modules/@stdlib/lapack/base/zlacgv/lib/zlacgv.js
  lib/node_modules/@stdlib/lapack/base/zlacgv/package.json
  lib/node_modules/@stdlib/lapack/base/zlacgv/test/test.js
  lib/node_modules/@stdlib/lapack/base/zlacgv/test/test.ndarray.js
  lib/node_modules/@stdlib/lapack/base/zlacgv/test/test.zlacgv.js
Labels: Feature, LAPACK

#4552 refactor: update `blas/ext/base/gfill` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/gfill/README.md
  lib/node_modules/@stdlib/blas/ext/base/gfill/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/gfill/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/gfill/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/gfill/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/gfill/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/gfill/lib/accessors.js
  lib/node_modules/@stdlib/blas/ext/base/gfill/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/gfill/lib/ndarray.js
Labels: BLAS

#4553 refactor: update `blas/ext/base/gfill-by` to follow current project conventions
  lib/node_modules/@stdlib/blas/ext/base/gfill-by/README.md
  lib/node_modules/@stdlib/blas/ext/base/gfill-by/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/gfill-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/gfill-by/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/gfill-by/lib/accessors.js
  lib/node_modules/@stdlib/blas/ext/base/gfill-by/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/gfill-by/lib/ndarray.js
Labels: BLAS

#4775 bench: refactor random number generation in `stats/base/dists/bernoulli`
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/mean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/median/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/mgf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/mode/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/mode/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/pmf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bernoulli/variance/benchmark/benchmark.js
Labels: Statistics, Benchmarks
