Repository stdlib-js/stdlib, pull requests merged in 2025-06, with the labels that each got.

#5754 feat: add `lapack/base/dgttrf`
  lib/node_modules/@stdlib/lapack/base/dgttrf/README.md
  lib/node_modules/@stdlib/lapack/base/dgttrf/benchmark/benchmark.js
  lib/node_modules/@stdlib/lapack/base/dgttrf/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/lapack/base/dgttrf/docs/repl.txt
  lib/node_modules/@stdlib/lapack/base/dgttrf/docs/types/index.d.ts
  lib/node_modules/@stdlib/lapack/base/dgttrf/docs/types/test.ts
  lib/node_modules/@stdlib/lapack/base/dgttrf/examples/index.js
  lib/node_modules/@stdlib/lapack/base/dgttrf/lib/base.js
  lib/node_modules/@stdlib/lapack/base/dgttrf/lib/dgttrf.js
  lib/node_modules/@stdlib/lapack/base/dgttrf/lib/index.js
  lib/node_modules/@stdlib/lapack/base/dgttrf/lib/main.js
  lib/node_modules/@stdlib/lapack/base/dgttrf/lib/ndarray.js
  lib/node_modules/@stdlib/lapack/base/dgttrf/package.json
  lib/node_modules/@stdlib/lapack/base/dgttrf/test/fixtures/large_positive_stride_1.json
  lib/node_modules/@stdlib/lapack/base/dgttrf/test/fixtures/large_positive_stride_2.json
  lib/node_modules/@stdlib/lapack/base/dgttrf/test/fixtures/mixed_strides.json
  lib/node_modules/@stdlib/lapack/base/dgttrf/test/fixtures/negative_strides.json
  lib/node_modules/@stdlib/lapack/base/dgttrf/test/fixtures/positive_stride_no_offset_1.json
  lib/node_modules/@stdlib/lapack/base/dgttrf/test/fixtures/positive_stride_no_offset_2.json
  lib/node_modules/@stdlib/lapack/base/dgttrf/test/fixtures/positive_stride_offset_1.json
  lib/node_modules/@stdlib/lapack/base/dgttrf/test/fixtures/positive_stride_offset_2.json
  lib/node_modules/@stdlib/lapack/base/dgttrf/test/test.dgttrf.js
  lib/node_modules/@stdlib/lapack/base/dgttrf/test/test.js
  lib/node_modules/@stdlib/lapack/base/dgttrf/test/test.ndarray.js
Labels: Feature, LAPACK

#7131 test: add test cases for `blas/base/ssyr`
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/column_major_ox.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/fixtures/row_major_ox.json
  lib/node_modules/@stdlib/blas/base/ssyr/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/ssyr/test/test.ndarray.native.js
Labels: Tests, BLAS, GSoC, gsoc: 2025

#6796 docs: change variable naming in `blas/base/caxpy`
  lib/node_modules/@stdlib/blas/base/caxpy/README.md
  lib/node_modules/@stdlib/blas/base/caxpy/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/caxpy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/caxpy/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/caxpy/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/caxpy/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/caxpy/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/caxpy/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/caxpy/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/caxpy/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/caxpy/examples/index.js
  lib/node_modules/@stdlib/blas/base/caxpy/include/stdlib/blas/base/caxpy.h
  lib/node_modules/@stdlib/blas/base/caxpy/include/stdlib/blas/base/caxpy_cblas.h
  lib/node_modules/@stdlib/blas/base/caxpy/lib/caxpy.js
  lib/node_modules/@stdlib/blas/base/caxpy/lib/caxpy.native.js
  lib/node_modules/@stdlib/blas/base/caxpy/lib/index.js
  lib/node_modules/@stdlib/blas/base/caxpy/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/caxpy/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/caxpy/src/addon.c
  lib/node_modules/@stdlib/blas/base/caxpy/src/caxpy.c
  lib/node_modules/@stdlib/blas/base/caxpy/src/caxpy_cblas.c
  lib/node_modules/@stdlib/blas/base/caxpy/src/caxpy_ndarray.c
  lib/node_modules/@stdlib/blas/base/caxpy/test/test.caxpy.js
  lib/node_modules/@stdlib/blas/base/caxpy/test/test.caxpy.native.js
  lib/node_modules/@stdlib/blas/base/caxpy/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/caxpy/test/test.ndarray.native.js
Labels: BLAS

#6881 docs: change variable naming in `blas/base/cscal`
  lib/node_modules/@stdlib/blas/base/cscal/README.md
  lib/node_modules/@stdlib/blas/base/cscal/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/cscal/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/cscal/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/cscal/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/cscal/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/cscal/benchmark/fortran/benchmark.length.f
  lib/node_modules/@stdlib/blas/base/cscal/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/cscal/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/cscal/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/cscal/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/cscal/examples/index.js
  lib/node_modules/@stdlib/blas/base/cscal/include/stdlib/blas/base/cscal.h
  lib/node_modules/@stdlib/blas/base/cscal/include/stdlib/blas/base/cscal_cblas.h
  lib/node_modules/@stdlib/blas/base/cscal/lib/cscal.js
  lib/node_modules/@stdlib/blas/base/cscal/lib/cscal.native.js
  lib/node_modules/@stdlib/blas/base/cscal/lib/index.js
  lib/node_modules/@stdlib/blas/base/cscal/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/cscal/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/cscal/src/addon.c
  lib/node_modules/@stdlib/blas/base/cscal/src/cscal.c
  lib/node_modules/@stdlib/blas/base/cscal/src/cscal.f
  lib/node_modules/@stdlib/blas/base/cscal/src/cscal_cblas.c
  lib/node_modules/@stdlib/blas/base/cscal/src/cscal_f.c
  lib/node_modules/@stdlib/blas/base/cscal/src/cscal_ndarray.c
  lib/node_modules/@stdlib/blas/base/cscal/test/test.cscal.js
  lib/node_modules/@stdlib/blas/base/cscal/test/test.cscal.native.js
  lib/node_modules/@stdlib/blas/base/cscal/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/cscal/test/test.ndarray.native.js
Labels: BLAS

#6815 docs: change variable naming in `blas/base/zaxpy`
  lib/node_modules/@stdlib/blas/base/zaxpy/README.md
  lib/node_modules/@stdlib/blas/base/zaxpy/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/zaxpy/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/zaxpy/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/zaxpy/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/zaxpy/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/zaxpy/examples/index.js
  lib/node_modules/@stdlib/blas/base/zaxpy/lib/index.js
  lib/node_modules/@stdlib/blas/base/zaxpy/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/zaxpy/lib/zaxpy.js
  lib/node_modules/@stdlib/blas/base/zaxpy/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/zaxpy/test/test.zaxpy.js
Labels: BLAS

#6879 docs: change variable naming in `blas/base/zdrot`
  lib/node_modules/@stdlib/blas/base/zdrot/README.md
  lib/node_modules/@stdlib/blas/base/zdrot/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/zdrot/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/zdrot/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/zdrot/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/zdrot/benchmark/fortran/benchmark.length.f
  lib/node_modules/@stdlib/blas/base/zdrot/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/zdrot/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/zdrot/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/zdrot/examples/index.js
  lib/node_modules/@stdlib/blas/base/zdrot/include/stdlib/blas/base/zdrot.h
  lib/node_modules/@stdlib/blas/base/zdrot/include/stdlib/blas/base/zdrot_cblas.h
  lib/node_modules/@stdlib/blas/base/zdrot/lib/index.js
  lib/node_modules/@stdlib/blas/base/zdrot/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/zdrot/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/zdrot/lib/zdrot.js
  lib/node_modules/@stdlib/blas/base/zdrot/lib/zdrot.native.js
  lib/node_modules/@stdlib/blas/base/zdrot/src/zdrot.c
  lib/node_modules/@stdlib/blas/base/zdrot/src/zdrot.f
  lib/node_modules/@stdlib/blas/base/zdrot/src/zdrot_cblas.c
  lib/node_modules/@stdlib/blas/base/zdrot/src/zdrot_f.c
  lib/node_modules/@stdlib/blas/base/zdrot/src/zdrot_ndarray.c
  lib/node_modules/@stdlib/blas/base/zdrot/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/zdrot/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/zdrot/test/test.zdrot.js
  lib/node_modules/@stdlib/blas/base/zdrot/test/test.zdrot.native.js
Labels: BLAS

#6736 feat: add `math/base/special/factorial2f`
  lib/node_modules/@stdlib/math/base/special/factorial2f/README.md
  lib/node_modules/@stdlib/math/base/special/factorial2f/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/factorial2f/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/factorial2f/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/factorial2f/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/factorial2f/binding.gyp
  lib/node_modules/@stdlib/math/base/special/factorial2f/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/factorial2f/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/factorial2f/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/factorial2f/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/factorial2f/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/factorial2f/examples/index.js
  lib/node_modules/@stdlib/math/base/special/factorial2f/include.gypi
  lib/node_modules/@stdlib/math/base/special/factorial2f/include/stdlib/math/base/special/factorial2f.h
  lib/node_modules/@stdlib/math/base/special/factorial2f/lib/index.js
  lib/node_modules/@stdlib/math/base/special/factorial2f/lib/main.js
  lib/node_modules/@stdlib/math/base/special/factorial2f/lib/native.js
  lib/node_modules/@stdlib/math/base/special/factorial2f/manifest.json
  lib/node_modules/@stdlib/math/base/special/factorial2f/package.json
  lib/node_modules/@stdlib/math/base/special/factorial2f/src/Makefile
  lib/node_modules/@stdlib/math/base/special/factorial2f/src/addon.c
  lib/node_modules/@stdlib/math/base/special/factorial2f/src/main.c
  lib/node_modules/@stdlib/math/base/special/factorial2f/test/fixtures/python/data.json
  lib/node_modules/@stdlib/math/base/special/factorial2f/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/math/base/special/factorial2f/test/test.js
  lib/node_modules/@stdlib/math/base/special/factorial2f/test/test.native.js
Labels: Feature, Math, JavaScript, C

#7081 feat: add `math/base/special/atan2f`
  lib/node_modules/@stdlib/math/base/special/atan2f/LICENSE
  lib/node_modules/@stdlib/math/base/special/atan2f/README.md
  lib/node_modules/@stdlib/math/base/special/atan2f/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/atan2f/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/atan2f/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/atan2f/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/atan2f/benchmark/c/cephes/Makefile
  lib/node_modules/@stdlib/math/base/special/atan2f/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/atan2f/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/atan2f/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/atan2f/binding.gyp
  lib/node_modules/@stdlib/math/base/special/atan2f/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/atan2f/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/atan2f/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/atan2f/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/atan2f/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/atan2f/examples/index.js
  lib/node_modules/@stdlib/math/base/special/atan2f/include.gypi
  lib/node_modules/@stdlib/math/base/special/atan2f/include/stdlib/math/base/special/atan2f.h
  lib/node_modules/@stdlib/math/base/special/atan2f/lib/index.js
  lib/node_modules/@stdlib/math/base/special/atan2f/lib/main.js
  lib/node_modules/@stdlib/math/base/special/atan2f/lib/native.js
  lib/node_modules/@stdlib/math/base/special/atan2f/manifest.json
  lib/node_modules/@stdlib/math/base/special/atan2f/package.json
  lib/node_modules/@stdlib/math/base/special/atan2f/src/Makefile
  lib/node_modules/@stdlib/math/base/special/atan2f/src/addon.c
  lib/node_modules/@stdlib/math/base/special/atan2f/src/main.c
  lib/node_modules/@stdlib/math/base/special/atan2f/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/atan2f/test/fixtures/julia/negative_negative.json
  lib/node_modules/@stdlib/math/base/special/atan2f/test/fixtures/julia/negative_positive.json
  lib/node_modules/@stdlib/math/base/special/atan2f/test/fixtures/julia/positive_positive.json
  lib/node_modules/@stdlib/math/base/special/atan2f/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/atan2f/test/test.js
  lib/node_modules/@stdlib/math/base/special/atan2f/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#7156 feat: add `complex/float32/base/scale`
  lib/node_modules/@stdlib/complex/float32/base/scale/README.md
  lib/node_modules/@stdlib/complex/float32/base/scale/benchmark/benchmark.assign.js
  lib/node_modules/@stdlib/complex/float32/base/scale/benchmark/benchmark.js
  lib/node_modules/@stdlib/complex/float32/base/scale/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/complex/float32/base/scale/benchmark/benchmark.strided.js
  lib/node_modules/@stdlib/complex/float32/base/scale/benchmark/c/Makefile
  lib/node_modules/@stdlib/complex/float32/base/scale/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/complex/float32/base/scale/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/complex/float32/base/scale/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/complex/float32/base/scale/benchmark/julia/REQUIRE
  lib/node_modules/@stdlib/complex/float32/base/scale/benchmark/julia/benchmark.jl
  lib/node_modules/@stdlib/complex/float32/base/scale/binding.gyp
  lib/node_modules/@stdlib/complex/float32/base/scale/docs/repl.txt
  lib/node_modules/@stdlib/complex/float32/base/scale/docs/types/index.d.ts
  lib/node_modules/@stdlib/complex/float32/base/scale/docs/types/test.ts
  lib/node_modules/@stdlib/complex/float32/base/scale/examples/c/Makefile
  lib/node_modules/@stdlib/complex/float32/base/scale/examples/c/example.c
  lib/node_modules/@stdlib/complex/float32/base/scale/examples/index.js
  lib/node_modules/@stdlib/complex/float32/base/scale/include.gypi
  lib/node_modules/@stdlib/complex/float32/base/scale/include/stdlib/complex/float32/base/scale.h
  lib/node_modules/@stdlib/complex/float32/base/scale/lib/assign.js
  lib/node_modules/@stdlib/complex/float32/base/scale/lib/index.js
  lib/node_modules/@stdlib/complex/float32/base/scale/lib/main.js
  lib/node_modules/@stdlib/complex/float32/base/scale/lib/native.js
  lib/node_modules/@stdlib/complex/float32/base/scale/lib/strided.js
  lib/node_modules/@stdlib/complex/float32/base/scale/manifest.json
  lib/node_modules/@stdlib/complex/float32/base/scale/package.json
  lib/node_modules/@stdlib/complex/float32/base/scale/src/Makefile
  lib/node_modules/@stdlib/complex/float32/base/scale/src/addon.c
  lib/node_modules/@stdlib/complex/float32/base/scale/src/main.c
  lib/node_modules/@stdlib/complex/float32/base/scale/test/test.assign.js
  lib/node_modules/@stdlib/complex/float32/base/scale/test/test.js
  lib/node_modules/@stdlib/complex/float32/base/scale/test/test.main.js
  lib/node_modules/@stdlib/complex/float32/base/scale/test/test.native.js
  lib/node_modules/@stdlib/complex/float32/base/scale/test/test.strided.js
Labels: Feature

#7155 feat: add `stats/array/min-by`
  lib/node_modules/@stdlib/stats/array/min-by/README.md
  lib/node_modules/@stdlib/stats/array/min-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/min-by/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/min-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/min-by/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/min-by/examples/index.js
  lib/node_modules/@stdlib/stats/array/min-by/lib/index.js
  lib/node_modules/@stdlib/stats/array/min-by/lib/main.js
  lib/node_modules/@stdlib/stats/array/min-by/package.json
  lib/node_modules/@stdlib/stats/array/min-by/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#6513 feat: add `blas/base/csscal`
  lib/node_modules/@stdlib/blas/base/csscal/README.md
  lib/node_modules/@stdlib/blas/base/csscal/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/csscal/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/csscal/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/csscal/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/csscal/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/csscal/examples/index.js
  lib/node_modules/@stdlib/blas/base/csscal/lib/csscal.js
  lib/node_modules/@stdlib/blas/base/csscal/lib/index.js
  lib/node_modules/@stdlib/blas/base/csscal/lib/main.js
  lib/node_modules/@stdlib/blas/base/csscal/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/csscal/package.json
  lib/node_modules/@stdlib/blas/base/csscal/test/test.csscal.js
  lib/node_modules/@stdlib/blas/base/csscal/test/test.js
  lib/node_modules/@stdlib/blas/base/csscal/test/test.ndarray.js
Labels: Feature, BLAS

#7167 docs: change package naming and examples for `complex/float32/base/mul`
  lib/node_modules/@stdlib/complex/float32/base/mul/README.md
  lib/node_modules/@stdlib/complex/float32/base/mul/examples/index.js
  lib/node_modules/@stdlib/complex/float32/base/mul/lib/assign.js
  lib/node_modules/@stdlib/complex/float32/base/mul/lib/main.js
  lib/node_modules/@stdlib/complex/float32/base/mul/lib/strided.js
Labels: Ready To Merge

#7181 docs: change examples for `complex/float64/base/mul`
  lib/node_modules/@stdlib/complex/float64/base/mul/README.md
  lib/node_modules/@stdlib/complex/float64/base/mul/examples/index.js
Labels: Ready To Merge

#7170 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/stats/base/dists/erlang/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/erlang/cdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/erlang/entropy/README.md
  lib/node_modules/@stdlib/stats/base/dists/erlang/entropy/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/erlang/kurtosis/README.md
  lib/node_modules/@stdlib/stats/base/dists/erlang/kurtosis/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/erlang/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/erlang/logpdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/erlang/mean/README.md
  lib/node_modules/@stdlib/stats/base/dists/erlang/mean/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/erlang/mode/README.md
  lib/node_modules/@stdlib/stats/base/dists/erlang/mode/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/erlang/pdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/erlang/pdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/erlang/quantile/README.md
  lib/node_modules/@stdlib/stats/base/dists/erlang/quantile/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/erlang/skewness/README.md
  lib/node_modules/@stdlib/stats/base/dists/erlang/skewness/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/erlang/stdev/README.md
  lib/node_modules/@stdlib/stats/base/dists/erlang/stdev/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/erlang/variance/README.md
  lib/node_modules/@stdlib/stats/base/dists/erlang/variance/examples/index.js
Labels: Documentation, Statistics

#7179 chore: fix EditorConfig lint errors (issue #7148)
  lib/node_modules/@stdlib/random/base/randi/lib/defaults.json
Labels: Good First PR

#7174 docs: change variable naming for `blas/base/dznrm2`
  lib/node_modules/@stdlib/blas/base/dznrm2/README.md
  lib/node_modules/@stdlib/blas/base/dznrm2/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/dznrm2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/base/dznrm2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/dznrm2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/dznrm2/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/base/dznrm2/benchmark/fortran/benchmark.length.f
  lib/node_modules/@stdlib/blas/base/dznrm2/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/dznrm2/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/dznrm2/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/dznrm2/examples/c/example.c
  lib/node_modules/@stdlib/blas/base/dznrm2/examples/index.js
  lib/node_modules/@stdlib/blas/base/dznrm2/include/stdlib/blas/base/dznrm2.h
  lib/node_modules/@stdlib/blas/base/dznrm2/include/stdlib/blas/base/dznrm2_cblas.h
  lib/node_modules/@stdlib/blas/base/dznrm2/lib/dznrm2.js
  lib/node_modules/@stdlib/blas/base/dznrm2/lib/dznrm2.native.js
  lib/node_modules/@stdlib/blas/base/dznrm2/lib/index.js
  lib/node_modules/@stdlib/blas/base/dznrm2/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/dznrm2/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/base/dznrm2/src/addon.c
  lib/node_modules/@stdlib/blas/base/dznrm2/src/dznrm2.c
  lib/node_modules/@stdlib/blas/base/dznrm2/src/dznrm2.f
  lib/node_modules/@stdlib/blas/base/dznrm2/src/dznrm2_cblas.c
  lib/node_modules/@stdlib/blas/base/dznrm2/src/dznrm2_f.c
  lib/node_modules/@stdlib/blas/base/dznrm2/src/dznrm2_ndarray.c
  lib/node_modules/@stdlib/blas/base/dznrm2/src/dznrm2sub.f
  lib/node_modules/@stdlib/blas/base/dznrm2/test/test.dznrm2.js
  lib/node_modules/@stdlib/blas/base/dznrm2/test/test.dznrm2.native.js
  lib/node_modules/@stdlib/blas/base/dznrm2/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/dznrm2/test/test.ndarray.native.js
Labels: BLAS

#7178 feat: add `stats/array/nanrange`
  lib/node_modules/@stdlib/stats/array/nanrange/README.md
  lib/node_modules/@stdlib/stats/array/nanrange/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanrange/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanrange/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanrange/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanrange/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanrange/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanrange/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanrange/package.json
  lib/node_modules/@stdlib/stats/array/nanrange/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7120 feat: add `lapack/base/dlapy2`
  lib/node_modules/@stdlib/lapack/base/dlapy2/README.md
  lib/node_modules/@stdlib/lapack/base/dlapy2/benchmark/benchmark.js
  lib/node_modules/@stdlib/lapack/base/dlapy2/docs/repl.txt
  lib/node_modules/@stdlib/lapack/base/dlapy2/docs/types/index.d.ts
  lib/node_modules/@stdlib/lapack/base/dlapy2/docs/types/test.ts
  lib/node_modules/@stdlib/lapack/base/dlapy2/examples/index.js
  lib/node_modules/@stdlib/lapack/base/dlapy2/lib/index.js
  lib/node_modules/@stdlib/lapack/base/dlapy2/lib/main.js
  lib/node_modules/@stdlib/lapack/base/dlapy2/package.json
  lib/node_modules/@stdlib/lapack/base/dlapy2/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/lapack/base/dlapy2/test/fixtures/julia/data.json
  lib/node_modules/@stdlib/lapack/base/dlapy2/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/lapack/base/dlapy2/test/test.js
Labels: Feature, LAPACK, GSoC, gsoc: 2025

#7144 feat: add `lapack/base/dlapy3`
  lib/node_modules/@stdlib/lapack/base/dlapy3/README.md
  lib/node_modules/@stdlib/lapack/base/dlapy3/benchmark/benchmark.js
  lib/node_modules/@stdlib/lapack/base/dlapy3/docs/repl.txt
  lib/node_modules/@stdlib/lapack/base/dlapy3/docs/types/index.d.ts
  lib/node_modules/@stdlib/lapack/base/dlapy3/docs/types/test.ts
  lib/node_modules/@stdlib/lapack/base/dlapy3/examples/index.js
  lib/node_modules/@stdlib/lapack/base/dlapy3/lib/index.js
  lib/node_modules/@stdlib/lapack/base/dlapy3/lib/main.js
  lib/node_modules/@stdlib/lapack/base/dlapy3/package.json
  lib/node_modules/@stdlib/lapack/base/dlapy3/test/test.js
Labels: Feature, LAPACK, GSoC, gsoc: 2025

#6142 feat: add `math/base/special/rempio2f`
  lib/node_modules/@stdlib/math/base/special/rempio2f/LICENSE
  lib/node_modules/@stdlib/math/base/special/rempio2f/README.md
  lib/node_modules/@stdlib/math/base/special/rempio2f/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/rempio2f/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/rempio2f/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/rempio2f/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/rempio2f/binding.gyp
  lib/node_modules/@stdlib/math/base/special/rempio2f/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/rempio2f/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/rempio2f/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/rempio2f/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/rempio2f/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/rempio2f/examples/index.js
  lib/node_modules/@stdlib/math/base/special/rempio2f/include.gypi
  lib/node_modules/@stdlib/math/base/special/rempio2f/include/stdlib/math/base/special/rempio2f.h
  lib/node_modules/@stdlib/math/base/special/rempio2f/lib/index.js
  lib/node_modules/@stdlib/math/base/special/rempio2f/lib/kernel_rempio2f.js
  lib/node_modules/@stdlib/math/base/special/rempio2f/lib/main.js
  lib/node_modules/@stdlib/math/base/special/rempio2f/lib/native.js
  lib/node_modules/@stdlib/math/base/special/rempio2f/manifest.json
  lib/node_modules/@stdlib/math/base/special/rempio2f/package.json
  lib/node_modules/@stdlib/math/base/special/rempio2f/src/Makefile
  lib/node_modules/@stdlib/math/base/special/rempio2f/src/addon.c
  lib/node_modules/@stdlib/math/base/special/rempio2f/src/main.c
  lib/node_modules/@stdlib/math/base/special/rempio2f/test/test.js
  lib/node_modules/@stdlib/math/base/special/rempio2f/test/test.native.js
Labels: Feature, Math, Ready To Merge

#7192 docs: change examples for `complex/float64/base/sub`
  lib/node_modules/@stdlib/complex/float64/base/sub/README.md
  lib/node_modules/@stdlib/complex/float64/base/sub/examples/index.js
Labels: Ready To Merge, GSoC, gsoc: 2025

#7194 feat: add `stats/base/ndarray/max-by`
  lib/node_modules/@stdlib/stats/base/ndarray/max-by/README.md
  lib/node_modules/@stdlib/stats/base/ndarray/max-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/ndarray/max-by/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/ndarray/max-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/ndarray/max-by/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/ndarray/max-by/examples/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/max-by/lib/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/max-by/lib/main.js
  lib/node_modules/@stdlib/stats/base/ndarray/max-by/package.json
  lib/node_modules/@stdlib/stats/base/ndarray/max-by/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7175 feat: add support for accessor arrays and refactor `stats/base/nanmaxabs`
  lib/node_modules/@stdlib/stats/base/nanmaxabs/README.md
  lib/node_modules/@stdlib/stats/base/nanmaxabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/nanmaxabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/nanmaxabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/nanmaxabs/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/nanmaxabs/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/nanmaxabs/examples/index.js
  lib/node_modules/@stdlib/stats/base/nanmaxabs/lib/accessors.js
  lib/node_modules/@stdlib/stats/base/nanmaxabs/lib/index.js
  lib/node_modules/@stdlib/stats/base/nanmaxabs/lib/main.js
  lib/node_modules/@stdlib/stats/base/nanmaxabs/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/nanmaxabs/test/test.nanmaxabs.js
  lib/node_modules/@stdlib/stats/base/nanmaxabs/test/test.ndarray.js
Labels: Statistics, GSoC, gsoc: 2025

#7196 docs: update examples for `complex/float64/base/scale`
  lib/node_modules/@stdlib/complex/float64/base/scale/README.md
  lib/node_modules/@stdlib/complex/float64/base/scale/docs/repl.txt
  lib/node_modules/@stdlib/complex/float64/base/scale/docs/types/index.d.ts
  lib/node_modules/@stdlib/complex/float64/base/scale/lib/index.js
  lib/node_modules/@stdlib/complex/float64/base/scale/lib/main.js
  lib/node_modules/@stdlib/complex/float64/base/scale/lib/native.js
Labels: Documentation, GSoC, gsoc: 2025

#7188 feat: add `stats/strided/wasm/dmeanwd`
  lib/node_modules/@stdlib/stats/strided/dmeanwd/manifest.json
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/README.md
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/benchmark/benchmark.module.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/benchmark/benchmark.module.main.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/benchmark/benchmark.module.ndarray.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/docs/repl.txt
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/docs/types/test.ts
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/examples/index.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/examples/little_endian_arrays.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/examples/module.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/lib/binary.browser.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/lib/binary.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/lib/index.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/lib/main.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/lib/module.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/lib/routine.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/manifest.json
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/package.json
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/scripts/build.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/scripts/template.txt
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/src/Makefile
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/src/exports.json
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/src/main.wasm
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/src/main.wat
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/test/test.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/test/test.main.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/test/test.module.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/test/test.module.main.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/test/test.module.ndarray.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/strided/wasm/dmeanwd/test/test.routine.js
Labels: Feature, Statistics, WebAssembly

#7098 feat: add support for accessor arrays and refactor `stats/base/nanmeanpn`
  lib/node_modules/@stdlib/stats/base/nanmeanpn/README.md
  lib/node_modules/@stdlib/stats/base/nanmeanpn/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/nanmeanpn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/nanmeanpn/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/nanmeanpn/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/nanmeanpn/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/nanmeanpn/examples/index.js
  lib/node_modules/@stdlib/stats/base/nanmeanpn/lib/accessors.js
  lib/node_modules/@stdlib/stats/base/nanmeanpn/lib/index.js
  lib/node_modules/@stdlib/stats/base/nanmeanpn/lib/main.js
  lib/node_modules/@stdlib/stats/base/nanmeanpn/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/nanmeanpn/test/test.nanmeanpn.js
  lib/node_modules/@stdlib/stats/base/nanmeanpn/test/test.ndarray.js
Labels: Statistics, GSoC, gsoc: 2025

#6191 feat: add `math/base/special/kernel-sinf`
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/LICENSE
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/README.md
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/include.gypi
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/include/stdlib/math/base/special/kernel_sinf.h
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/lib/polyval_s12.js
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/lib/polyval_s34.js
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/manifest.json
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/package.json
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/src/main.c
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/test/fixtures/julia/small_range.json
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/test/test.js
  lib/node_modules/@stdlib/math/base/special/kernel-sinf/test/test.native.js
Labels: Feature, Math, priority: High, JavaScript, C, Ready To Merge

#7201 feat: add `math/base/special/kernel-cosf`
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/LICENSE
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/README.md
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/include.gypi
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/include/stdlib/math/base/special/kernel_cosf.h
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/lib/polyval_c23.js
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/manifest.json
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/package.json
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/scripts/evalpoly.js
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/src/main.c
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/test/fixtures/julia/small_range.json
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/test/test.js
  lib/node_modules/@stdlib/math/base/special/kernel-cosf/test/test.native.js
Labels: Feature, Math, priority: High, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#7211 chore: fix EditorConfig lint errors #7182
  lib/node_modules/@stdlib/strided/napi/smap2/manifest.json
Labels: Good First PR

#7208 refactor: rename variable in `blas/base/sdsdot`
  lib/node_modules/@stdlib/blas/base/sdsdot/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/sdsdot/lib/sdsdot.js
  lib/node_modules/@stdlib/blas/base/sdsdot/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/base/sdsdot/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/base/sdsdot/test/test.sdsdot.js
  lib/node_modules/@stdlib/blas/base/sdsdot/test/test.sdsdot.native.js
Labels: BLAS, GSoC, gsoc: 2025

#7207 refactor: rename variable in `blas/base/saxpy`
  lib/node_modules/@stdlib/blas/base/saxpy/lib/ndarray.js
Labels: BLAS, GSoC, gsoc: 2025

#7172 feat: add `stats/array/nanmaxabs`
  lib/node_modules/@stdlib/stats/array/nanmaxabs/README.md
  lib/node_modules/@stdlib/stats/array/nanmaxabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanmaxabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanmaxabs/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanmaxabs/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanmaxabs/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanmaxabs/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanmaxabs/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanmaxabs/package.json
  lib/node_modules/@stdlib/stats/array/nanmaxabs/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7204 feat: add `stats/array/nanmax-by`
  lib/node_modules/@stdlib/stats/array/nanmax-by/README.md
  lib/node_modules/@stdlib/stats/array/nanmax-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanmax-by/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanmax-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanmax-by/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanmax-by/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanmax-by/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanmax-by/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanmax-by/package.json
  lib/node_modules/@stdlib/stats/array/nanmax-by/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#6345 feat: refactor and add protocol support to `stats/base/nanminabs`
  lib/node_modules/@stdlib/stats/base/nanminabs/README.md
  lib/node_modules/@stdlib/stats/base/nanminabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/nanminabs/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/nanminabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/nanminabs/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/nanminabs/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/nanminabs/examples/index.js
  lib/node_modules/@stdlib/stats/base/nanminabs/lib/accessors.js
  lib/node_modules/@stdlib/stats/base/nanminabs/lib/index.js
  lib/node_modules/@stdlib/stats/base/nanminabs/lib/main.js
  lib/node_modules/@stdlib/stats/base/nanminabs/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/nanminabs/test/test.nanminabs.js
  lib/node_modules/@stdlib/stats/base/nanminabs/test/test.ndarray.js
Labels: Statistics, Good First PR

#7076 feat: add `lapack/base/iladlr`
  lib/node_modules/@stdlib/lapack/base/iladlr/README.md
  lib/node_modules/@stdlib/lapack/base/iladlr/benchmark/benchmark.js
  lib/node_modules/@stdlib/lapack/base/iladlr/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/lapack/base/iladlr/docs/repl.txt
  lib/node_modules/@stdlib/lapack/base/iladlr/docs/types/index.d.ts
  lib/node_modules/@stdlib/lapack/base/iladlr/docs/types/test.ts
  lib/node_modules/@stdlib/lapack/base/iladlr/examples/index.js
  lib/node_modules/@stdlib/lapack/base/iladlr/lib/base.js
  lib/node_modules/@stdlib/lapack/base/iladlr/lib/iladlr.js
  lib/node_modules/@stdlib/lapack/base/iladlr/lib/index.js
  lib/node_modules/@stdlib/lapack/base/iladlr/lib/main.js
  lib/node_modules/@stdlib/lapack/base/iladlr/lib/ndarray.js
  lib/node_modules/@stdlib/lapack/base/iladlr/package.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/column_major.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/column_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/large_strides/column_major.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/large_strides/column_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/large_strides/row_major.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/large_strides/row_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/mixed_strides/column_major.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/mixed_strides/column_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/mixed_strides/row_major.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/mixed_strides/row_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/negative_strides/column_major.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/negative_strides/column_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/negative_strides/row_major.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/negative_strides/row_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/offsets/column_major.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/offsets/column_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/offsets/row_major.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/offsets/row_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/row_major.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/fixtures/row_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlr/test/test.iladlr.js
  lib/node_modules/@stdlib/lapack/base/iladlr/test/test.js
  lib/node_modules/@stdlib/lapack/base/iladlr/test/test.ndarray.js
Labels: Feature, LAPACK, GSoC, gsoc: 2025

#7198 feat: add C ndarray interface and refactor implementation for `stats/base/dnanmskmin`
  lib/node_modules/@stdlib/stats/base/dnanmskmin/README.md
  lib/node_modules/@stdlib/stats/base/dnanmskmin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanmskmin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanmskmin/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmskmin/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmskmin/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dnanmskmin/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dnanmskmin/examples/index.js
  lib/node_modules/@stdlib/stats/base/dnanmskmin/include/stdlib/stats/base/dnanmskmin.h
  lib/node_modules/@stdlib/stats/base/dnanmskmin/lib/dnanmskmin.js
  lib/node_modules/@stdlib/stats/base/dnanmskmin/lib/index.js
  lib/node_modules/@stdlib/stats/base/dnanmskmin/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmskmin/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanmskmin/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanmskmin/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanmskmin/src/main.c
  lib/node_modules/@stdlib/stats/base/dnanmskmin/test/test.dnanmskmin.js
  lib/node_modules/@stdlib/stats/base/dnanmskmin/test/test.dnanmskmin.native.js
  lib/node_modules/@stdlib/stats/base/dnanmskmin/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanmskmin/test/test.ndarray.native.js
Labels: Statistics, GSoC, gsoc: 2025

#7225 feat: add `stats/array/nanminabs`
  lib/node_modules/@stdlib/stats/array/nanminabs/README.md
  lib/node_modules/@stdlib/stats/array/nanminabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanminabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanminabs/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanminabs/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanminabs/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanminabs/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanminabs/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanminabs/package.json
  lib/node_modules/@stdlib/stats/array/nanminabs/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#6066 feat: add `math/base/special/tribonaccif`
  lib/node_modules/@stdlib/math/base/special/tribonaccif/README.md
  lib/node_modules/@stdlib/math/base/special/tribonaccif/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/tribonaccif/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/tribonaccif/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/tribonaccif/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tribonaccif/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/tribonaccif/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tribonaccif/binding.gyp
  lib/node_modules/@stdlib/math/base/special/tribonaccif/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/tribonaccif/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/tribonaccif/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/tribonaccif/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/tribonaccif/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/tribonaccif/examples/index.js
  lib/node_modules/@stdlib/math/base/special/tribonaccif/include.gypi
  lib/node_modules/@stdlib/math/base/special/tribonaccif/include/stdlib/math/base/special/tribonaccif.h
  lib/node_modules/@stdlib/math/base/special/tribonaccif/lib/index.js
  lib/node_modules/@stdlib/math/base/special/tribonaccif/lib/main.js
  lib/node_modules/@stdlib/math/base/special/tribonaccif/lib/native.js
  lib/node_modules/@stdlib/math/base/special/tribonaccif/lib/tribonaccif.json
  lib/node_modules/@stdlib/math/base/special/tribonaccif/manifest.json
  lib/node_modules/@stdlib/math/base/special/tribonaccif/package.json
  lib/node_modules/@stdlib/math/base/special/tribonaccif/src/Makefile
  lib/node_modules/@stdlib/math/base/special/tribonaccif/src/addon.c
  lib/node_modules/@stdlib/math/base/special/tribonaccif/src/main.c
  lib/node_modules/@stdlib/math/base/special/tribonaccif/test/test.js
  lib/node_modules/@stdlib/math/base/special/tribonaccif/test/test.native.js
Labels: Feature, Math

#7007 feat: add `math/base/special/cinvf`
  lib/node_modules/@stdlib/math/base/special/cinvf/README.md
  lib/node_modules/@stdlib/math/base/special/cinvf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/cinvf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/cinvf/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/cinvf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cinvf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/cinvf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cinvf/benchmark/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/cinvf/benchmark/julia/benchmark.jl
  lib/node_modules/@stdlib/math/base/special/cinvf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/cinvf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/cinvf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/cinvf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/cinvf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/cinvf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/cinvf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/cinvf/include.gypi
  lib/node_modules/@stdlib/math/base/special/cinvf/include/stdlib/math/base/special/cinvf.h
  lib/node_modules/@stdlib/math/base/special/cinvf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/cinvf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/cinvf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/cinvf/manifest.json
  lib/node_modules/@stdlib/math/base/special/cinvf/package.json
  lib/node_modules/@stdlib/math/base/special/cinvf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/cinvf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/cinvf/src/main.c
  lib/node_modules/@stdlib/math/base/special/cinvf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/cinvf/test/fixtures/julia/data.json
  lib/node_modules/@stdlib/math/base/special/cinvf/test/fixtures/julia/large_negative_imaginary_components.json
  lib/node_modules/@stdlib/math/base/special/cinvf/test/fixtures/julia/large_negative_real_components.json
  lib/node_modules/@stdlib/math/base/special/cinvf/test/fixtures/julia/large_positive_imaginary_components.json
  lib/node_modules/@stdlib/math/base/special/cinvf/test/fixtures/julia/large_positive_real_components.json
  lib/node_modules/@stdlib/math/base/special/cinvf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/cinvf/test/fixtures/julia/tiny_negative_imaginary_components.json
  lib/node_modules/@stdlib/math/base/special/cinvf/test/fixtures/julia/tiny_negative_real_components.json
  lib/node_modules/@stdlib/math/base/special/cinvf/test/fixtures/julia/tiny_positive_imaginary_components.json
  lib/node_modules/@stdlib/math/base/special/cinvf/test/fixtures/julia/tiny_positive_real_components.json
  lib/node_modules/@stdlib/math/base/special/cinvf/test/test.js
  lib/node_modules/@stdlib/math/base/special/cinvf/test/test.native.js
Labels: Feature, Math, JavaScript, C, GSoC, gsoc: 2025

#7226 chore: fix EditorConfig lint errors (issue #7215)
  lib/node_modules/@stdlib/_tools/benchmarks/browser-build/lib/defaults.json
  lib/node_modules/@stdlib/ndarray/base/napi/typedarray-type-to-dtype/manifest.json
Labels: Good First PR

#7238 feat: add C ndarray interface and refactor implementation for `stats/base/snanmskrange`
  lib/node_modules/@stdlib/stats/base/snanmskrange/README.md
  lib/node_modules/@stdlib/stats/base/snanmskrange/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanmskrange/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanmskrange/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmskrange/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmskrange/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/snanmskrange/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/snanmskrange/examples/index.js
  lib/node_modules/@stdlib/stats/base/snanmskrange/include.gypi
  lib/node_modules/@stdlib/stats/base/snanmskrange/include/stdlib/stats/base/snanmskrange.h
  lib/node_modules/@stdlib/stats/base/snanmskrange/lib/index.js
  lib/node_modules/@stdlib/stats/base/snanmskrange/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmskrange/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmskrange/lib/snanmskrange.js
  lib/node_modules/@stdlib/stats/base/snanmskrange/manifest.json
  lib/node_modules/@stdlib/stats/base/snanmskrange/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanmskrange/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/snanmskrange/src/main.c
  lib/node_modules/@stdlib/stats/base/snanmskrange/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmskrange/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmskrange/test/test.snanmskrange.js
  lib/node_modules/@stdlib/stats/base/snanmskrange/test/test.snanmskrange.native.js
Labels: Statistics, GSoC, gsoc: 2025

#7237 feat: add C ndarray interface and refactor implementation for `stats/base/snanmskmin` and update c++ native addons to c
  lib/node_modules/@stdlib/stats/base/snanmskmin/README.md
  lib/node_modules/@stdlib/stats/base/snanmskmin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/snanmskmin/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/snanmskmin/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmskmin/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmskmin/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/snanmskmin/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/snanmskmin/examples/index.js
  lib/node_modules/@stdlib/stats/base/snanmskmin/include.gypi
  lib/node_modules/@stdlib/stats/base/snanmskmin/include/stdlib/stats/base/snanmskmin.h
  lib/node_modules/@stdlib/stats/base/snanmskmin/lib/index.js
  lib/node_modules/@stdlib/stats/base/snanmskmin/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmskmin/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmskmin/lib/snanmskmin.js
  lib/node_modules/@stdlib/stats/base/snanmskmin/manifest.json
  lib/node_modules/@stdlib/stats/base/snanmskmin/src/addon.c
  lib/node_modules/@stdlib/stats/base/snanmskmin/src/addon.cpp
  lib/node_modules/@stdlib/stats/base/snanmskmin/src/main.c
  lib/node_modules/@stdlib/stats/base/snanmskmin/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/snanmskmin/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/snanmskmin/test/test.snanmskmin.js
  lib/node_modules/@stdlib/stats/base/snanmskmin/test/test.snanmskmin.native.js
Labels: Statistics, GSoC, gsoc: 2025

#5730 feat: add support for accessor arrays and refactor `stats/base/mean`
  lib/node_modules/@stdlib/stats/base/mean/README.md
  lib/node_modules/@stdlib/stats/base/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/mean/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/mean/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/mean/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/mean/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/mean/examples/index.js
  lib/node_modules/@stdlib/stats/base/mean/lib/index.js
  lib/node_modules/@stdlib/stats/base/mean/lib/mean.js
  lib/node_modules/@stdlib/stats/base/mean/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/mean/test/test.mean.js
  lib/node_modules/@stdlib/stats/base/mean/test/test.ndarray.js
Labels: Statistics, First-time Contributor, Good First PR

#7083 feat: add `lapack/base/iladlc`
  lib/node_modules/@stdlib/lapack/base/iladlc/README.md
  lib/node_modules/@stdlib/lapack/base/iladlc/benchmark/benchmark.js
  lib/node_modules/@stdlib/lapack/base/iladlc/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/lapack/base/iladlc/docs/repl.txt
  lib/node_modules/@stdlib/lapack/base/iladlc/docs/types/index.d.ts
  lib/node_modules/@stdlib/lapack/base/iladlc/docs/types/test.ts
  lib/node_modules/@stdlib/lapack/base/iladlc/examples/index.js
  lib/node_modules/@stdlib/lapack/base/iladlc/lib/base.js
  lib/node_modules/@stdlib/lapack/base/iladlc/lib/iladlc.js
  lib/node_modules/@stdlib/lapack/base/iladlc/lib/index.js
  lib/node_modules/@stdlib/lapack/base/iladlc/lib/main.js
  lib/node_modules/@stdlib/lapack/base/iladlc/lib/ndarray.js
  lib/node_modules/@stdlib/lapack/base/iladlc/package.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/column_major.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/column_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/large_strides/column_major.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/large_strides/column_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/large_strides/row_major.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/large_strides/row_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/mixed_strides/column_major.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/mixed_strides/column_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/mixed_strides/row_major.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/mixed_strides/row_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/negative_strides/column_major.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/negative_strides/column_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/negative_strides/row_major.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/negative_strides/row_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/offsets/column_major.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/offsets/column_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/offsets/row_major.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/offsets/row_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/row_major.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/fixtures/row_major_zeros.json
  lib/node_modules/@stdlib/lapack/base/iladlc/test/test.iladlc.js
  lib/node_modules/@stdlib/lapack/base/iladlc/test/test.js
  lib/node_modules/@stdlib/lapack/base/iladlc/test/test.ndarray.js
Labels: LAPACK, GSoC, gsoc: 2025

#7164 test: add test cases for `blas/base/strmv`
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_ox.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_ox.json
  lib/node_modules/@stdlib/blas/base/strmv/test/test.ndarray.js
Labels: Tests, BLAS, GSoC, gsoc: 2025

#7165 test: add test cases for `blas/base/dtrsv`
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/column_major_ox.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/fixtures/row_major_ox.json
  lib/node_modules/@stdlib/blas/base/dtrsv/test/test.ndarray.js
Labels: Tests, BLAS, GSoC, gsoc: 2025

#7245 refactor: rename variable in `blas/ext/base/scusumkbn2`
  lib/node_modules/@stdlib/blas/ext/base/scusumkbn2/lib/ndarray.js
Labels: BLAS

#7247 refactor: rename variable in `blas/ext/base/snansumpw`
  lib/node_modules/@stdlib/blas/ext/base/snansumpw/lib/ndarray.js
Labels: BLAS

#7248 refactor: rename variable in `blas/ext/base/snansumkbn`
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn/lib/ndarray.js
Labels: BLAS, GSoC, gsoc: 2025

#7249 refactor: rename variable in `blas/ext/base/snansumkbn2`
  lib/node_modules/@stdlib/blas/ext/base/snansumkbn2/lib/ndarray.js
Labels: BLAS, GSoC, gsoc: 2025

#7250 refactor: rename variable in `blas/ext/base/`
  lib/node_modules/@stdlib/blas/ext/base/scusumors/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/scusumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdsnansumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sdssumpw/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/snansumors/lib/ndarray.js
Labels: BLAS, GSoC, gsoc: 2025

#7253 docs: update examples for `complex/float64/base/add`
  lib/node_modules/@stdlib/complex/float64/base/add/README.md
  lib/node_modules/@stdlib/complex/float64/base/add/docs/types/index.d.ts
  lib/node_modules/@stdlib/complex/float64/base/add/lib/index.js
  lib/node_modules/@stdlib/complex/float64/base/add/lib/main.js
  lib/node_modules/@stdlib/complex/float64/base/add/lib/native.js
Labels: Documentation, GSoC, gsoc: 2025

#6706 feat: add `stats/array/range`
  lib/node_modules/@stdlib/stats/array/range/README.md
  lib/node_modules/@stdlib/stats/array/range/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/range/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/range/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/range/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/range/examples/index.js
  lib/node_modules/@stdlib/stats/array/range/lib/index.js
  lib/node_modules/@stdlib/stats/array/range/lib/main.js
  lib/node_modules/@stdlib/stats/array/range/package.json
  lib/node_modules/@stdlib/stats/array/range/test/test.js
Labels: Feature, Statistics

#7255 feat: add `stats/array/nanmin-by`
  lib/node_modules/@stdlib/stats/array/nanmin-by/README.md
  lib/node_modules/@stdlib/stats/array/nanmin-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanmin-by/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanmin-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanmin-by/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanmin-by/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanmin-by/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanmin-by/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanmin-by/package.json
  lib/node_modules/@stdlib/stats/array/nanmin-by/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7252 test: change structure of fixtures for `blas/base/strmv`
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_l_nt_nu.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_l_nt_u.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_l_t_nu.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_l_t_u.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_oa.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_ox.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_u_nt_nu.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_u_nt_u.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_u_t_nu.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_u_t_u.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_xn.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/column_major_xt.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_complex_access_pattern.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_l_nt_nu.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_l_nt_u.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_l_t_nu.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_l_t_u.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_oa.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_ox.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_sa1_sa2.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_sa1_sa2n.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_sa1n_sa2.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_sa1n_sa2n.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_u_nt_nu.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_u_nt_u.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_u_t_nu.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_u_t_u.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_xn.json
  lib/node_modules/@stdlib/blas/base/strmv/test/fixtures/row_major_xt.json
Labels: Tests, BLAS, GSoC, gsoc: 2025

#7244 feat: add support for accessor arrays `blas/base/gaxpy`
  lib/node_modules/@stdlib/blas/base/gaxpy/README.md
  lib/node_modules/@stdlib/blas/base/gaxpy/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/gaxpy/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/base/gaxpy/docs/types/test.ts
  lib/node_modules/@stdlib/blas/base/gaxpy/lib/accessors.js
  lib/node_modules/@stdlib/blas/base/gaxpy/lib/main.js
  lib/node_modules/@stdlib/blas/base/gaxpy/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/gaxpy/test/test.main.js
  lib/node_modules/@stdlib/blas/base/gaxpy/test/test.ndarray.js
Labels: BLAS, GSoC, gsoc: 2025

#7262 chore: address commit comments for commit 391830c (issue #7183)
  lib/node_modules/@stdlib/stats/base/dists/erlang/kurtosis/README.md
  lib/node_modules/@stdlib/stats/base/dists/erlang/kurtosis/examples/index.js
Labels: Statistics, Good First PR

#7264 docs: update examples for `complex/float64/base/identity`
  lib/node_modules/@stdlib/complex/float64/base/identity/README.md
  lib/node_modules/@stdlib/complex/float64/base/identity/docs/types/index.d.ts
  lib/node_modules/@stdlib/complex/float64/base/identity/lib/index.js
  lib/node_modules/@stdlib/complex/float64/base/identity/lib/main.js
  lib/node_modules/@stdlib/complex/float64/base/identity/lib/native.js
Labels: Documentation, GSoC, gsoc: 2025

#7265 docs: update examples for `complex/float64/base/mul`
  lib/node_modules/@stdlib/complex/float64/base/mul/README.md
  lib/node_modules/@stdlib/complex/float64/base/mul/docs/types/index.d.ts
  lib/node_modules/@stdlib/complex/float64/base/mul/lib/index.js
  lib/node_modules/@stdlib/complex/float64/base/mul/lib/main.js
  lib/node_modules/@stdlib/complex/float64/base/mul/lib/native.js
Labels: Documentation, GSoC, gsoc: 2025

#4370 feat: add C ndarray interface and refactor implementation for `stats/base/svariancewd`
  lib/node_modules/@stdlib/stats/base/svariancewd/README.md
  lib/node_modules/@stdlib/stats/base/svariancewd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/svariancewd/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/svariancewd/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/svariancewd/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/svariancewd/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/svariancewd/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/svariancewd/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/svariancewd/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/svariancewd/examples/index.js
  lib/node_modules/@stdlib/stats/base/svariancewd/include/stdlib/stats/base/svariancewd.h
  lib/node_modules/@stdlib/stats/base/svariancewd/lib/index.js
  lib/node_modules/@stdlib/stats/base/svariancewd/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/svariancewd/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/svariancewd/lib/svariancewd.js
  lib/node_modules/@stdlib/stats/base/svariancewd/lib/svariancewd.native.js
  lib/node_modules/@stdlib/stats/base/svariancewd/manifest.json
  lib/node_modules/@stdlib/stats/base/svariancewd/src/addon.c
  lib/node_modules/@stdlib/stats/base/svariancewd/src/main.c
  lib/node_modules/@stdlib/stats/base/svariancewd/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/svariancewd/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/svariancewd/test/test.svariancewd.js
  lib/node_modules/@stdlib/stats/base/svariancewd/test/test.svariancewd.native.js
Labels: Feature, Statistics, C

#7271 docs: update examples for `complex/float64/base/sub`
  lib/node_modules/@stdlib/complex/float64/base/sub/README.md
  lib/node_modules/@stdlib/complex/float64/base/sub/docs/types/index.d.ts
  lib/node_modules/@stdlib/complex/float64/base/sub/lib/index.js
  lib/node_modules/@stdlib/complex/float64/base/sub/lib/main.js
  lib/node_modules/@stdlib/complex/float64/base/sub/lib/native.js
Labels: Documentation, GSoC, gsoc: 2025

#7270 docs: update examples for `complex/float64/base/neg`
  lib/node_modules/@stdlib/complex/float64/base/neg/README.md
  lib/node_modules/@stdlib/complex/float64/base/neg/docs/types/index.d.ts
  lib/node_modules/@stdlib/complex/float64/base/neg/lib/index.js
  lib/node_modules/@stdlib/complex/float64/base/neg/lib/main.js
  lib/node_modules/@stdlib/complex/float64/base/neg/lib/native.js
Labels: Documentation, GSoC, gsoc: 2025

#7254 chore: fix JavaScript lint error
  lib/node_modules/@stdlib/_tools/pkgs/browser-entry-points/lib/entries.sync.js
Labels: Tools, First-time Contributor, Good First PR

#7278 chore: fix C lint errors (issue #7257)
  lib/node_modules/@stdlib/stats/base/sdsnanmean/benchmark/c/benchmark.length.c
Labels: Statistics

#7279 chore: fix EditorConfig lint errors (issue #7227)
  lib/node_modules/@stdlib/ml/incr/kmeans/lib/init_methods.json
Labels: Good First PR

#7288 docs: update examples for `complex/float32/base/add`
  lib/node_modules/@stdlib/complex/float32/base/add/README.md
  lib/node_modules/@stdlib/complex/float32/base/add/docs/types/index.d.ts
  lib/node_modules/@stdlib/complex/float32/base/add/lib/index.js
  lib/node_modules/@stdlib/complex/float32/base/add/lib/main.js
  lib/node_modules/@stdlib/complex/float32/base/add/lib/native.js
Labels: Documentation, Ready To Merge, GSoC, gsoc: 2025

#7293 docs: update examples for `complex/float32/base/sub`
  lib/node_modules/@stdlib/complex/float32/base/sub/README.md
  lib/node_modules/@stdlib/complex/float32/base/sub/docs/types/index.d.ts
  lib/node_modules/@stdlib/complex/float32/base/sub/lib/index.js
  lib/node_modules/@stdlib/complex/float32/base/sub/lib/main.js
  lib/node_modules/@stdlib/complex/float32/base/sub/lib/native.js
Labels: Documentation, GSoC, gsoc: 2025

#7292 docs: update examples for `complex/float32/base/scale`
  lib/node_modules/@stdlib/complex/float32/base/scale/README.md
  lib/node_modules/@stdlib/complex/float32/base/scale/docs/types/index.d.ts
  lib/node_modules/@stdlib/complex/float32/base/scale/lib/index.js
  lib/node_modules/@stdlib/complex/float32/base/scale/lib/main.js
  lib/node_modules/@stdlib/complex/float32/base/scale/lib/native.js
Labels: Documentation, GSoC, gsoc: 2025

#7289 docs: update examples for `complex/float32/base/identity`
  lib/node_modules/@stdlib/complex/float32/base/identity/README.md
  lib/node_modules/@stdlib/complex/float32/base/identity/docs/types/index.d.ts
  lib/node_modules/@stdlib/complex/float32/base/identity/lib/index.js
  lib/node_modules/@stdlib/complex/float32/base/identity/lib/main.js
  lib/node_modules/@stdlib/complex/float32/base/identity/lib/native.js
Labels: Documentation, GSoC, gsoc: 2025

#7291 docs: update examples for `complex/float32/base/neg`
  lib/node_modules/@stdlib/complex/float32/base/neg/README.md
  lib/node_modules/@stdlib/complex/float32/base/neg/docs/types/index.d.ts
  lib/node_modules/@stdlib/complex/float32/base/neg/lib/index.js
  lib/node_modules/@stdlib/complex/float32/base/neg/lib/main.js
  lib/node_modules/@stdlib/complex/float32/base/neg/lib/native.js
Labels: Documentation, GSoC, gsoc: 2025

#7263 feat: add `math/base/special/kernel-tanf`
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/LICENSE
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/README.md
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/include.gypi
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/include/stdlib/math/base/special/kernel_tanf.h
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/manifest.json
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/package.json
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/src/main.c
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/test/fixtures/julia/small_range.json
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/test/test.js
  lib/node_modules/@stdlib/math/base/special/kernel-tanf/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#7310 chore: fix EditorConfig lint errors (issue #7296)
  lib/node_modules/@stdlib/ndarray/base/zeros/README.md
Labels: Ready To Merge, Good First PR

#7302 feat: add `math/base/special/tanf`
  lib/node_modules/@stdlib/math/base/special/tanf/LICENSE
  lib/node_modules/@stdlib/math/base/special/tanf/README.md
  lib/node_modules/@stdlib/math/base/special/tanf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/tanf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/tanf/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/tanf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tanf/benchmark/c/cephes/Makefile
  lib/node_modules/@stdlib/math/base/special/tanf/benchmark/c/cephes/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tanf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/tanf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/tanf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/tanf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/tanf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/tanf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/tanf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/tanf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/tanf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/tanf/include.gypi
  lib/node_modules/@stdlib/math/base/special/tanf/include/stdlib/math/base/special/tanf.h
  lib/node_modules/@stdlib/math/base/special/tanf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/tanf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/tanf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/tanf/manifest.json
  lib/node_modules/@stdlib/math/base/special/tanf/package.json
  lib/node_modules/@stdlib/math/base/special/tanf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/tanf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/tanf/src/main.c
  lib/node_modules/@stdlib/math/base/special/tanf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/tanf/test/fixtures/julia/huge_negative.json
  lib/node_modules/@stdlib/math/base/special/tanf/test/fixtures/julia/huge_positive.json
  lib/node_modules/@stdlib/math/base/special/tanf/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/tanf/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/tanf/test/fixtures/julia/medium_negative.json
  lib/node_modules/@stdlib/math/base/special/tanf/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/tanf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/tanf/test/fixtures/julia/small_negative.json
  lib/node_modules/@stdlib/math/base/special/tanf/test/fixtures/julia/small_positive.json
  lib/node_modules/@stdlib/math/base/special/tanf/test/fixtures/julia/smaller.json
  lib/node_modules/@stdlib/math/base/special/tanf/test/fixtures/julia/subnormal.json
  lib/node_modules/@stdlib/math/base/special/tanf/test/fixtures/julia/tiny_negative.json
  lib/node_modules/@stdlib/math/base/special/tanf/test/fixtures/julia/tiny_positive.json
  lib/node_modules/@stdlib/math/base/special/tanf/test/fixtures/julia/very_large_negative.json
  lib/node_modules/@stdlib/math/base/special/tanf/test/fixtures/julia/very_large_positive.json
  lib/node_modules/@stdlib/math/base/special/tanf/test/test.js
  lib/node_modules/@stdlib/math/base/special/tanf/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#7309 feat: add support for accessor arrays and refactor `stats/base/meankbn2`
  lib/node_modules/@stdlib/stats/base/meankbn2/README.md
  lib/node_modules/@stdlib/stats/base/meankbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/meankbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/meankbn2/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/meankbn2/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/meankbn2/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/meankbn2/examples/index.js
  lib/node_modules/@stdlib/stats/base/meankbn2/lib/index.js
  lib/node_modules/@stdlib/stats/base/meankbn2/lib/meankbn2.js
  lib/node_modules/@stdlib/stats/base/meankbn2/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/meankbn2/test/test.meankbn2.js
  lib/node_modules/@stdlib/stats/base/meankbn2/test/test.ndarray.js
Labels: Statistics, GSoC, gsoc: 2025

#7307 feat: add `stats/array/meankbn`
  lib/node_modules/@stdlib/stats/array/meankbn/README.md
  lib/node_modules/@stdlib/stats/array/meankbn/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/meankbn/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/meankbn/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/meankbn/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/meankbn/examples/index.js
  lib/node_modules/@stdlib/stats/array/meankbn/lib/index.js
  lib/node_modules/@stdlib/stats/array/meankbn/lib/main.js
  lib/node_modules/@stdlib/stats/array/meankbn/package.json
  lib/node_modules/@stdlib/stats/array/meankbn/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7311 feat: add `stats/array/meankbn2`
  lib/node_modules/@stdlib/stats/array/meankbn2/README.md
  lib/node_modules/@stdlib/stats/array/meankbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/meankbn2/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/meankbn2/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/meankbn2/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/meankbn2/examples/index.js
  lib/node_modules/@stdlib/stats/array/meankbn2/lib/index.js
  lib/node_modules/@stdlib/stats/array/meankbn2/lib/main.js
  lib/node_modules/@stdlib/stats/array/meankbn2/package.json
  lib/node_modules/@stdlib/stats/array/meankbn2/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7319 feat: add support for accessor arrays and refactor `stats/base/meanpw`
  lib/node_modules/@stdlib/stats/base/meanpw/README.md
  lib/node_modules/@stdlib/stats/base/meanpw/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/meanpw/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/meanpw/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/meanpw/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/meanpw/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/meanpw/examples/index.js
  lib/node_modules/@stdlib/stats/base/meanpw/lib/index.js
  lib/node_modules/@stdlib/stats/base/meanpw/lib/meanpw.js
  lib/node_modules/@stdlib/stats/base/meanpw/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/meanpw/test/test.meanpw.js
  lib/node_modules/@stdlib/stats/base/meanpw/test/test.ndarray.js
Labels: Statistics, GSoC, gsoc: 2025

#7323 feat: add `stats/array/meanpn`
  lib/node_modules/@stdlib/stats/array/meanpn/README.md
  lib/node_modules/@stdlib/stats/array/meanpn/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/meanpn/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/meanpn/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/meanpn/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/meanpn/examples/index.js
  lib/node_modules/@stdlib/stats/array/meanpn/lib/index.js
  lib/node_modules/@stdlib/stats/array/meanpn/lib/main.js
  lib/node_modules/@stdlib/stats/array/meanpn/package.json
  lib/node_modules/@stdlib/stats/array/meanpn/test/test.js
Labels: Statistics, GSoC, gsoc: 2025

#7325 feat: add `stats/array/meanwd`
  lib/node_modules/@stdlib/stats/array/meanwd/README.md
  lib/node_modules/@stdlib/stats/array/meanwd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/meanwd/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/meanwd/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/meanwd/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/meanwd/examples/index.js
  lib/node_modules/@stdlib/stats/array/meanwd/lib/index.js
  lib/node_modules/@stdlib/stats/array/meanwd/lib/main.js
  lib/node_modules/@stdlib/stats/array/meanwd/package.json
  lib/node_modules/@stdlib/stats/array/meanwd/test/test.js
Labels: Statistics, GSoC, gsoc: 2025

#7322 feat: add `stats/array/meanors`
  lib/node_modules/@stdlib/stats/array/meanors/README.md
  lib/node_modules/@stdlib/stats/array/meanors/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/meanors/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/meanors/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/meanors/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/meanors/examples/index.js
  lib/node_modules/@stdlib/stats/array/meanors/lib/index.js
  lib/node_modules/@stdlib/stats/array/meanors/lib/main.js
  lib/node_modules/@stdlib/stats/array/meanors/package.json
  lib/node_modules/@stdlib/stats/array/meanors/test/test.js
Labels: Statistics, GSoC, gsoc: 2025

#7326 feat: add support for accessor arrays and refactor `stats/base/nanmean`
  lib/node_modules/@stdlib/stats/base/nanmean/README.md
  lib/node_modules/@stdlib/stats/base/nanmean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/nanmean/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/nanmean/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/nanmean/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/nanmean/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/nanmean/examples/index.js
  lib/node_modules/@stdlib/stats/base/nanmean/lib/index.js
  lib/node_modules/@stdlib/stats/base/nanmean/lib/nanmean.js
  lib/node_modules/@stdlib/stats/base/nanmean/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/nanmean/test/test.nanmean.js
  lib/node_modules/@stdlib/stats/base/nanmean/test/test.ndarray.js
Labels: Statistics, GSoC, gsoc: 2025

#7332 chore: fix JavaScript lint errors (issue #7327)
  lib/node_modules/@stdlib/_tools/bib/citation-reference/lib/cmd.js
Labels: Tools, First-time Contributor, Good First PR

#5829 feat: add support for accessor arrays and refactor `stats/base/variancepn`
  lib/node_modules/@stdlib/stats/base/variancepn/README.md
  lib/node_modules/@stdlib/stats/base/variancepn/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/variancepn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/variancepn/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/variancepn/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/variancepn/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/variancepn/examples/index.js
  lib/node_modules/@stdlib/stats/base/variancepn/lib/accessors.js
  lib/node_modules/@stdlib/stats/base/variancepn/lib/index.js
  lib/node_modules/@stdlib/stats/base/variancepn/lib/main.js
  lib/node_modules/@stdlib/stats/base/variancepn/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/variancepn/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/variancepn/test/test.variancepn.js
Labels: Statistics, First-time Contributor, Good First PR

#6167 feat: add accessor protocol support and refactor `stats/base/nanvariancech`
  lib/node_modules/@stdlib/stats/base/nanvariancech/README.md
  lib/node_modules/@stdlib/stats/base/nanvariancech/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/nanvariancech/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/nanvariancech/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/nanvariancech/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/nanvariancech/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/nanvariancech/examples/index.js
  lib/node_modules/@stdlib/stats/base/nanvariancech/lib/accessors.js
  lib/node_modules/@stdlib/stats/base/nanvariancech/lib/index.js
  lib/node_modules/@stdlib/stats/base/nanvariancech/lib/main.js
  lib/node_modules/@stdlib/stats/base/nanvariancech/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/nanvariancech/test/test.main.js
  lib/node_modules/@stdlib/stats/base/nanvariancech/test/test.ndarray.js
Labels: Statistics, Good First PR

#7333 feat: add support for accessor arrays and refactor `stats/base/stdev`
  lib/node_modules/@stdlib/stats/base/stdev/README.md
  lib/node_modules/@stdlib/stats/base/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/stdev/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/stdev/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/stdev/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/stdev/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/stdev/examples/index.js
  lib/node_modules/@stdlib/stats/base/stdev/lib/index.js
  lib/node_modules/@stdlib/stats/base/stdev/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/stdev/lib/stdev.js
  lib/node_modules/@stdlib/stats/base/stdev/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/stdev/test/test.stdev.js
Labels: Statistics, GSoC, gsoc: 2025

#7268 feat: add C ndarray interface and refactor implementation for `stats/base/dvarmpn`
  lib/node_modules/@stdlib/stats/base/dvarmpn/README.md
  lib/node_modules/@stdlib/stats/base/dvarmpn/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dvarmpn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dvarmpn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dvarmpn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dvarmpn/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dvarmpn/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dvarmpn/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dvarmpn/examples/index.js
  lib/node_modules/@stdlib/stats/base/dvarmpn/include/stdlib/stats/base/dvarmpn.h
  lib/node_modules/@stdlib/stats/base/dvarmpn/lib/dvarmpn.js
  lib/node_modules/@stdlib/stats/base/dvarmpn/lib/dvarmpn.native.js
  lib/node_modules/@stdlib/stats/base/dvarmpn/lib/index.js
  lib/node_modules/@stdlib/stats/base/dvarmpn/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dvarmpn/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dvarmpn/manifest.json
  lib/node_modules/@stdlib/stats/base/dvarmpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvarmpn/src/dvarmpn.c
  lib/node_modules/@stdlib/stats/base/dvarmpn/src/main.c
  lib/node_modules/@stdlib/stats/base/dvarmpn/test/test.dvarmpn.js
  lib/node_modules/@stdlib/stats/base/dvarmpn/test/test.dvarmpn.native.js
  lib/node_modules/@stdlib/stats/base/dvarmpn/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dvarmpn/test/test.ndarray.native.js
Labels: Statistics, GSoC, gsoc: 2025

#6997 feat: add `stats/array/nanmean`
  lib/node_modules/@stdlib/stats/array/nanmean/README.md
  lib/node_modules/@stdlib/stats/array/nanmean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanmean/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanmean/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanmean/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanmean/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanmean/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanmean/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanmean/package.json
  lib/node_modules/@stdlib/stats/array/nanmean/test/test.js
Labels: Statistics, GSoC, gsoc: 2025

#7345 chore: fix JavaScript lint errors (issue #7115)
  lib/node_modules/@stdlib/_tools/makie/plugins/makie-repl/lib/main.js
Labels: Tools, Good First PR

#7039 feat: add `math/base/special/minmaxf`
  lib/node_modules/@stdlib/math/base/special/minmaxf/README.md
  lib/node_modules/@stdlib/math/base/special/minmaxf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/minmaxf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/minmaxf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/minmaxf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/minmaxf/benchmark/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/minmaxf/benchmark/julia/benchmark.jl
  lib/node_modules/@stdlib/math/base/special/minmaxf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/minmaxf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/minmaxf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/minmaxf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/minmaxf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/minmaxf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/minmaxf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/minmaxf/include.gypi
  lib/node_modules/@stdlib/math/base/special/minmaxf/include/stdlib/math/base/special/minmaxf.h
  lib/node_modules/@stdlib/math/base/special/minmaxf/lib/assign.js
  lib/node_modules/@stdlib/math/base/special/minmaxf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/minmaxf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/minmaxf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/minmaxf/manifest.json
  lib/node_modules/@stdlib/math/base/special/minmaxf/package.json
  lib/node_modules/@stdlib/math/base/special/minmaxf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/minmaxf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/minmaxf/src/main.c
  lib/node_modules/@stdlib/math/base/special/minmaxf/test/test.assign.js
  lib/node_modules/@stdlib/math/base/special/minmaxf/test/test.js
  lib/node_modules/@stdlib/math/base/special/minmaxf/test/test.main.js
  lib/node_modules/@stdlib/math/base/special/minmaxf/test/test.native.js
Labels: Math, Ready To Merge, GSoC, gsoc: 2025

#7344 feat: add support for accessor arrays and refactor `stats/base/stdevch`
  lib/node_modules/@stdlib/stats/base/stdevch/README.md
  lib/node_modules/@stdlib/stats/base/stdevch/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/stdevch/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/stdevch/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/stdevch/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/stdevch/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/stdevch/examples/index.js
  lib/node_modules/@stdlib/stats/base/stdevch/lib/index.js
  lib/node_modules/@stdlib/stats/base/stdevch/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/stdevch/lib/stdevch.js
  lib/node_modules/@stdlib/stats/base/stdevch/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/stdevch/test/test.stdevch.js
Labels: Statistics, GSoC, gsoc: 2025

#7269 feat: add C ndarray interface and refactor implementation for `stats/base/dvarm`
  lib/node_modules/@stdlib/stats/base/dvarm/README.md
  lib/node_modules/@stdlib/stats/base/dvarm/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dvarm/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dvarm/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dvarm/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dvarm/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dvarm/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dvarm/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dvarm/examples/index.js
  lib/node_modules/@stdlib/stats/base/dvarm/include/stdlib/stats/base/dvarm.h
  lib/node_modules/@stdlib/stats/base/dvarm/lib/dvarm.js
  lib/node_modules/@stdlib/stats/base/dvarm/lib/dvarm.native.js
  lib/node_modules/@stdlib/stats/base/dvarm/lib/index.js
  lib/node_modules/@stdlib/stats/base/dvarm/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dvarm/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dvarm/manifest.json
  lib/node_modules/@stdlib/stats/base/dvarm/src/addon.c
  lib/node_modules/@stdlib/stats/base/dvarm/src/dvarm.c
  lib/node_modules/@stdlib/stats/base/dvarm/src/main.c
  lib/node_modules/@stdlib/stats/base/dvarm/test/test.dvarm.js
  lib/node_modules/@stdlib/stats/base/dvarm/test/test.dvarm.native.js
  lib/node_modules/@stdlib/stats/base/dvarm/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dvarm/test/test.ndarray.native.js
Labels: Statistics, GSoC, gsoc: 2025

#7348 chore: fix editorconfig lint errors (issue #7335)
  lib/node_modules/@stdlib/lapack/base/sge-trans/test/test.ndarray.js
Labels: LAPACK, Good First PR

#7097 feat: add `math/base/special/gamma-lanczos-sum-expg-scaledf`
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/LICENSE
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/README.md
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/include.gypi
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/include/stdlib/math/base/special/gamma_lanczos_sum_expg_scaledf.h
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/lib/rational_pq.js
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/manifest.json
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/package.json
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/scripts/evalrational.js
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/src/main.c
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/test/test.js
  lib/node_modules/@stdlib/math/base/special/gamma-lanczos-sum-expg-scaledf/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#7356 chore: fix EditorConfig lint errors (issue #7349)
  lib/node_modules/@stdlib/number/float64/base/exponent/manifest.json
  lib/node_modules/@stdlib/random/streams/normal/lib/defaults.json
Labels: Good First PR

#7101 feat: add `math/base/special/modff`
  lib/node_modules/@stdlib/math/base/special/modff/README.md
  lib/node_modules/@stdlib/math/base/special/modff/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/modff/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/modff/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/modff/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/modff/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/modff/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/modff/binding.gyp
  lib/node_modules/@stdlib/math/base/special/modff/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/modff/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/modff/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/modff/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/modff/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/modff/examples/index.js
  lib/node_modules/@stdlib/math/base/special/modff/include.gypi
  lib/node_modules/@stdlib/math/base/special/modff/include/stdlib/math/base/special/modff.h
  lib/node_modules/@stdlib/math/base/special/modff/lib/assign.js
  lib/node_modules/@stdlib/math/base/special/modff/lib/index.js
  lib/node_modules/@stdlib/math/base/special/modff/lib/main.js
  lib/node_modules/@stdlib/math/base/special/modff/lib/native.js
  lib/node_modules/@stdlib/math/base/special/modff/manifest.json
  lib/node_modules/@stdlib/math/base/special/modff/package.json
  lib/node_modules/@stdlib/math/base/special/modff/src/Makefile
  lib/node_modules/@stdlib/math/base/special/modff/src/addon.c
  lib/node_modules/@stdlib/math/base/special/modff/src/main.c
  lib/node_modules/@stdlib/math/base/special/modff/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/modff/test/fixtures/julia/huge.json
  lib/node_modules/@stdlib/math/base/special/modff/test/fixtures/julia/large.json
  lib/node_modules/@stdlib/math/base/special/modff/test/fixtures/julia/medium.json
  lib/node_modules/@stdlib/math/base/special/modff/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/modff/test/fixtures/julia/small.json
  lib/node_modules/@stdlib/math/base/special/modff/test/fixtures/julia/subnormal.json
  lib/node_modules/@stdlib/math/base/special/modff/test/test.assign.js
  lib/node_modules/@stdlib/math/base/special/modff/test/test.js
  lib/node_modules/@stdlib/math/base/special/modff/test/test.main.js
  lib/node_modules/@stdlib/math/base/special/modff/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#7043 feat: add `math/base/special/minmaxabsf`
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/README.md
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/include.gypi
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/include/stdlib/math/base/special/minmaxabsf.h
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/lib/assign.js
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/manifest.json
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/package.json
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/src/main.c
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/test/test.assign.js
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/test/test.js
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/test/test.main.js
  lib/node_modules/@stdlib/math/base/special/minmaxabsf/test/test.native.js
Labels: Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#7358 feat: add `math/base/special/hacovercosf`
  lib/node_modules/@stdlib/math/base/special/hacovercosf/README.md
  lib/node_modules/@stdlib/math/base/special/hacovercosf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/hacovercosf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/hacovercosf/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/hacovercosf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/hacovercosf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/hacovercosf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/hacovercosf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/hacovercosf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/hacovercosf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/hacovercosf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/hacovercosf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/hacovercosf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/hacovercosf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/hacovercosf/include.gypi
  lib/node_modules/@stdlib/math/base/special/hacovercosf/include/stdlib/math/base/special/hacovercosf.h
  lib/node_modules/@stdlib/math/base/special/hacovercosf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/hacovercosf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/hacovercosf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/hacovercosf/manifest.json
  lib/node_modules/@stdlib/math/base/special/hacovercosf/package.json
  lib/node_modules/@stdlib/math/base/special/hacovercosf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/hacovercosf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/hacovercosf/src/main.c
  lib/node_modules/@stdlib/math/base/special/hacovercosf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/hacovercosf/test/fixtures/julia/huge_negative.json
  lib/node_modules/@stdlib/math/base/special/hacovercosf/test/fixtures/julia/huge_positive.json
  lib/node_modules/@stdlib/math/base/special/hacovercosf/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/hacovercosf/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/hacovercosf/test/fixtures/julia/medium_negative.json
  lib/node_modules/@stdlib/math/base/special/hacovercosf/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/hacovercosf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/hacovercosf/test/test.js
  lib/node_modules/@stdlib/math/base/special/hacovercosf/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#7360 feat: add `math/base/special/hacoversinf`
  lib/node_modules/@stdlib/math/base/special/hacoversinf/README.md
  lib/node_modules/@stdlib/math/base/special/hacoversinf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/hacoversinf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/hacoversinf/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/hacoversinf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/hacoversinf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/hacoversinf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/hacoversinf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/hacoversinf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/hacoversinf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/hacoversinf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/hacoversinf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/hacoversinf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/hacoversinf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/hacoversinf/include.gypi
  lib/node_modules/@stdlib/math/base/special/hacoversinf/include/stdlib/math/base/special/hacoversinf.h
  lib/node_modules/@stdlib/math/base/special/hacoversinf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/hacoversinf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/hacoversinf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/hacoversinf/manifest.json
  lib/node_modules/@stdlib/math/base/special/hacoversinf/package.json
  lib/node_modules/@stdlib/math/base/special/hacoversinf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/hacoversinf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/hacoversinf/src/main.c
  lib/node_modules/@stdlib/math/base/special/hacoversinf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/hacoversinf/test/fixtures/julia/huge_negative.json
  lib/node_modules/@stdlib/math/base/special/hacoversinf/test/fixtures/julia/huge_positive.json
  lib/node_modules/@stdlib/math/base/special/hacoversinf/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/hacoversinf/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/hacoversinf/test/fixtures/julia/medium_negative.json
  lib/node_modules/@stdlib/math/base/special/hacoversinf/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/hacoversinf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/hacoversinf/test/test.js
  lib/node_modules/@stdlib/math/base/special/hacoversinf/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#4386 feat: add c implementation for `@stdlib/stats/base/dists/logistic/cdf`
  lib/node_modules/@stdlib/stats/base/dists/logistic/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/logistic/cdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/cdf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/logistic/cdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/cdf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/logistic/cdf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/logistic/cdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/cdf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/logistic/cdf/include/stdlib/stats/base/dists/logistic/cdf.h
  lib/node_modules/@stdlib/stats/base/dists/logistic/cdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/cdf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/logistic/cdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/logistic/cdf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/logistic/cdf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/cdf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/cdf/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR, Potential Duplicate

#4423 feat: add C implementation for `stats/base/dists/invgamma/logpdf`
  lib/node_modules/@stdlib/stats/base/dists/invgamma/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/invgamma/logpdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/logpdf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/invgamma/logpdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/invgamma/logpdf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/invgamma/logpdf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/invgamma/logpdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/invgamma/logpdf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/invgamma/logpdf/include/stdlib/stats/base/dists/invgamma/logpdf.h
  lib/node_modules/@stdlib/stats/base/dists/invgamma/logpdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/invgamma/logpdf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/invgamma/logpdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/invgamma/logpdf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/invgamma/logpdf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/invgamma/logpdf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/invgamma/logpdf/test/test.nativs.js
Labels: Statistics, Ready To Merge, Good First PR

#7365 chore: fix EditorConfig lint errors (issue #7361)
  lib/node_modules/@stdlib/_tools/licenses/licenses/README.md
Labels: Tools, Good First PR

#7367 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/cdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/entropy/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/entropy/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/kurtosis/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/kurtosis/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/logcdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/logcdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/logpdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/mean/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/mean/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/median/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/median/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/mgf/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/mgf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/mode/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/mode/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/pdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/pdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/quantile/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/skewness/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/skewness/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/stdev/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/stdev/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/exponential/variance/README.md
  lib/node_modules/@stdlib/stats/base/dists/exponential/variance/examples/index.js
Labels: Documentation, Statistics, Ready To Merge

#4385 feat: add C implementation for `@stdlib/stats/base/dists/logistic/entropy`
  lib/node_modules/@stdlib/stats/base/dists/logistic/entropy/README.md
  lib/node_modules/@stdlib/stats/base/dists/logistic/entropy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/entropy/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/logistic/entropy/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/entropy/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/logistic/entropy/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/logistic/entropy/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/entropy/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/logistic/entropy/include/stdlib/stats/base/dists/logistic/entropy.h
  lib/node_modules/@stdlib/stats/base/dists/logistic/entropy/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/entropy/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/logistic/entropy/package.json
  lib/node_modules/@stdlib/stats/base/dists/logistic/entropy/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/logistic/entropy/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/entropy/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/entropy/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR, Potential Duplicate

#4439 feat: add C implementation for `stats/base/dists/laplace/mgf`
  lib/node_modules/@stdlib/stats/base/dists/laplace/mgf/README.md
  lib/node_modules/@stdlib/stats/base/dists/laplace/mgf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/mgf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/laplace/mgf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/mgf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/laplace/mgf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/laplace/mgf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/mgf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/laplace/mgf/include/stdlib/stats/base/dists/laplace/mgf.h
  lib/node_modules/@stdlib/stats/base/dists/laplace/mgf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/laplace/mgf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/laplace/mgf/package.json
  lib/node_modules/@stdlib/stats/base/dists/laplace/mgf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/laplace/mgf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/mgf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/laplace/mgf/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4380 feat: add c implementation for `@stdlib/stats/base/dists/logistic/logcdf`
  lib/node_modules/@stdlib/stats/base/dists/logistic/logcdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/logistic/logcdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/logcdf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/logistic/logcdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/logcdf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/logistic/logcdf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/logistic/logcdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/logcdf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/logistic/logcdf/include/stdlib/stats/base/dists/logistic/logcdf.h
  lib/node_modules/@stdlib/stats/base/dists/logistic/logcdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/logistic/logcdf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/logistic/logcdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/logistic/logcdf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/logistic/logcdf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/logcdf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/logistic/logcdf/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR, Potential Duplicate

#7377 feat: add `math/base/special/havercosf`
  lib/node_modules/@stdlib/math/base/special/havercosf/README.md
  lib/node_modules/@stdlib/math/base/special/havercosf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/havercosf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/havercosf/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/havercosf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/havercosf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/havercosf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/havercosf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/havercosf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/havercosf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/havercosf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/havercosf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/havercosf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/havercosf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/havercosf/include.gypi
  lib/node_modules/@stdlib/math/base/special/havercosf/include/stdlib/math/base/special/havercosf.h
  lib/node_modules/@stdlib/math/base/special/havercosf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/havercosf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/havercosf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/havercosf/manifest.json
  lib/node_modules/@stdlib/math/base/special/havercosf/package.json
  lib/node_modules/@stdlib/math/base/special/havercosf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/havercosf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/havercosf/src/main.c
  lib/node_modules/@stdlib/math/base/special/havercosf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/havercosf/test/fixtures/julia/huge_negative.json
  lib/node_modules/@stdlib/math/base/special/havercosf/test/fixtures/julia/huge_positive.json
  lib/node_modules/@stdlib/math/base/special/havercosf/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/havercosf/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/havercosf/test/fixtures/julia/medium_negative.json
  lib/node_modules/@stdlib/math/base/special/havercosf/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/havercosf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/havercosf/test/test.js
  lib/node_modules/@stdlib/math/base/special/havercosf/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#4313 feat: add C implementation for `@stdlib/stats/base/dists/pareto-type1/logpdf`
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/logpdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/logpdf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/logpdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/logpdf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/logpdf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/logpdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/logpdf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/logpdf/include/stdlib/stats/base/dists/pareto-type1/logpdf.h
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/logpdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/logpdf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/logpdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/logpdf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/logpdf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/logpdf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/pareto-type1/logpdf/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#7371 feat: add `math/base/special/cosm1f`
  lib/node_modules/@stdlib/math/base/special/cosm1f/README.md
  lib/node_modules/@stdlib/math/base/special/cosm1f/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/cosm1f/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/cosm1f/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/cosm1f/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/cosm1f/binding.gyp
  lib/node_modules/@stdlib/math/base/special/cosm1f/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/cosm1f/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/cosm1f/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/cosm1f/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/cosm1f/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/cosm1f/examples/index.js
  lib/node_modules/@stdlib/math/base/special/cosm1f/include.gypi
  lib/node_modules/@stdlib/math/base/special/cosm1f/include/stdlib/math/base/special/cosm1f.h
  lib/node_modules/@stdlib/math/base/special/cosm1f/lib/index.js
  lib/node_modules/@stdlib/math/base/special/cosm1f/lib/main.js
  lib/node_modules/@stdlib/math/base/special/cosm1f/lib/native.js
  lib/node_modules/@stdlib/math/base/special/cosm1f/manifest.json
  lib/node_modules/@stdlib/math/base/special/cosm1f/package.json
  lib/node_modules/@stdlib/math/base/special/cosm1f/src/Makefile
  lib/node_modules/@stdlib/math/base/special/cosm1f/src/addon.c
  lib/node_modules/@stdlib/math/base/special/cosm1f/src/main.c
  lib/node_modules/@stdlib/math/base/special/cosm1f/test/fixtures/python/data.json
  lib/node_modules/@stdlib/math/base/special/cosm1f/test/fixtures/python/negative.json
  lib/node_modules/@stdlib/math/base/special/cosm1f/test/fixtures/python/positive.json
  lib/node_modules/@stdlib/math/base/special/cosm1f/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/math/base/special/cosm1f/test/test.js
  lib/node_modules/@stdlib/math/base/special/cosm1f/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#7383 chore: minor cleanup in `lapack/base/dgttrf`
  lib/node_modules/@stdlib/lapack/base/dgttrf/README.md
  lib/node_modules/@stdlib/lapack/base/dgttrf/lib/base.js
Labels: LAPACK, GSoC, gsoc: 2025

#7384 docs: update param description in `blas/base/dtrsv`
  lib/node_modules/@stdlib/blas/base/dtrsv/docs/types/index.d.ts
Labels: BLAS, GSoC, gsoc: 2025

#7407 chore: fix EditorConfig lint errors (issue #7403)
  lib/node_modules/@stdlib/math/base/special/sec/test/fixtures/julia/smaller.json
Labels: Math, Ready To Merge

#4527 feat: add C implementation for `stats/base/dists/chi/logpdf`
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/include/stdlib/stats/base/dists/chi/logpdf.h
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/package.json
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#7419 feat: add `math/base/special/versinf`
  lib/node_modules/@stdlib/math/base/special/versinf/README.md
  lib/node_modules/@stdlib/math/base/special/versinf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/versinf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/versinf/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/versinf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/versinf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/versinf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/versinf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/versinf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/versinf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/versinf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/versinf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/versinf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/versinf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/versinf/include.gypi
  lib/node_modules/@stdlib/math/base/special/versinf/include/stdlib/math/base/special/versinf.h
  lib/node_modules/@stdlib/math/base/special/versinf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/versinf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/versinf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/versinf/manifest.json
  lib/node_modules/@stdlib/math/base/special/versinf/package.json
  lib/node_modules/@stdlib/math/base/special/versinf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/versinf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/versinf/src/main.c
  lib/node_modules/@stdlib/math/base/special/versinf/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/versinf/test/fixtures/julia/huge_negative.json
  lib/node_modules/@stdlib/math/base/special/versinf/test/fixtures/julia/huge_positive.json
  lib/node_modules/@stdlib/math/base/special/versinf/test/fixtures/julia/large_negative.json
  lib/node_modules/@stdlib/math/base/special/versinf/test/fixtures/julia/large_positive.json
  lib/node_modules/@stdlib/math/base/special/versinf/test/fixtures/julia/medium_negative.json
  lib/node_modules/@stdlib/math/base/special/versinf/test/fixtures/julia/medium_positive.json
  lib/node_modules/@stdlib/math/base/special/versinf/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/versinf/test/test.js
  lib/node_modules/@stdlib/math/base/special/versinf/test/test.native.js
Labels: Feature, Math, JavaScript, C, Ready To Merge, GSoC, gsoc: 2025

#7423 chore: address commit comments for commit `b02b1dc` (issue #7415)
  lib/node_modules/@stdlib/stats/base/dists/chi/pdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/chi/pdf/src/main.c
Labels: Statistics, Ready To Merge, Good First PR

#7422 chore: address commit comments for commit `bbac3f9` (issue #7416)
  lib/node_modules/@stdlib/stats/base/dists/arcsine/quantile/benchmark/benchmark.native.js
Labels: Statistics, Ready To Merge, Good First PR

#7421 chore: fix EditorConfig lint errors (issue #7414)
  lib/node_modules/@stdlib/_tools/pkgs/repl-help/lib/config.json
Labels: Tools, Good First PR

#7413 feat: add `stats/array/nanmskmax`
  lib/node_modules/@stdlib/stats/array/nanmskmax/README.md
  lib/node_modules/@stdlib/stats/array/nanmskmax/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanmskmax/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanmskmax/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanmskmax/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanmskmax/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanmskmax/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanmskmax/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanmskmax/package.json
  lib/node_modules/@stdlib/stats/array/nanmskmax/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7431 chore: address commit comments for commit `6b1c190` (issue #7428)
  lib/node_modules/@stdlib/math/base/special/ldexp/manifest.json
Labels: Math, Ready To Merge, Good First PR

#7400 feat: add C ndarray interface and refactor implementation for `stats/base/dmeanstdevpn`
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/README.md
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/examples/index.js
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/include/stdlib/stats/base/dmeanstdevpn.h
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/lib/dmeanstdevpn.js
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/lib/index.js
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/src/main.c
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/test/test.dmeanstdevpn.js
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/test/test.dmeanstdevpn.native.js
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/test/test.ndarray.native.js
Labels: Statistics, GSoC, gsoc: 2025

#7424 docs: update examples and benchmarks in `stats/base/nanmskrange`
  lib/node_modules/@stdlib/stats/base/nanmskrange/README.md
  lib/node_modules/@stdlib/stats/base/nanmskrange/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/nanmskrange/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/nanmskrange/examples/index.js
Labels: Statistics, GSoC, gsoc: 2025

#7443 chore: fix JavaScript lint errors (issue #7440)
  lib/node_modules/@stdlib/bench/harness/lib/main.js
Labels: First-time Contributor, Good First PR

#7386 feat: add `stats/array/nanmeanpn`
  lib/node_modules/@stdlib/stats/array/nanmeanpn/README.md
  lib/node_modules/@stdlib/stats/array/nanmeanpn/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanmeanpn/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanmeanpn/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanmeanpn/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanmeanpn/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanmeanpn/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanmeanpn/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanmeanpn/package.json
  lib/node_modules/@stdlib/stats/array/nanmeanpn/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7409 feat: add C ndarray interface and refactor implementation for `stats/base/dmeanstdev`
  lib/node_modules/@stdlib/stats/base/dmeanstdev/README.md
  lib/node_modules/@stdlib/stats/base/dmeanstdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dmeanstdev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dmeanstdev/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanstdev/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeanstdev/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dmeanstdev/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dmeanstdev/examples/index.js
  lib/node_modules/@stdlib/stats/base/dmeanstdev/include/stdlib/stats/base/dmeanstdev.h
  lib/node_modules/@stdlib/stats/base/dmeanstdev/lib/dmeanstdev.js
  lib/node_modules/@stdlib/stats/base/dmeanstdev/lib/index.js
  lib/node_modules/@stdlib/stats/base/dmeanstdev/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanstdev/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dmeanstdev/manifest.json
  lib/node_modules/@stdlib/stats/base/dmeanstdev/src/addon.c
  lib/node_modules/@stdlib/stats/base/dmeanstdev/src/main.c
  lib/node_modules/@stdlib/stats/base/dmeanstdev/test/test.dmeanstdev.js
  lib/node_modules/@stdlib/stats/base/dmeanstdev/test/test.dmeanstdev.native.js
  lib/node_modules/@stdlib/stats/base/dmeanstdev/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dmeanstdev/test/test.ndarray.native.js
Labels: Statistics, GSoC, gsoc: 2025

#7389 feat: add `stats/array/nanmeanwd`
  lib/node_modules/@stdlib/stats/array/nanmeanwd/README.md
  lib/node_modules/@stdlib/stats/array/nanmeanwd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanmeanwd/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanmeanwd/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanmeanwd/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanmeanwd/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanmeanwd/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanmeanwd/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanmeanwd/package.json
  lib/node_modules/@stdlib/stats/array/nanmeanwd/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#6493 feat: add accessor protocol support and refactor `stats/base/nanmeanors`
  lib/node_modules/@stdlib/stats/base/nanmeanors/README.md
  lib/node_modules/@stdlib/stats/base/nanmeanors/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/nanmeanors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/nanmeanors/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/nanmeanors/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/nanmeanors/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/nanmeanors/examples/index.js
  lib/node_modules/@stdlib/stats/base/nanmeanors/lib/accessors.js
  lib/node_modules/@stdlib/stats/base/nanmeanors/lib/index.js
  lib/node_modules/@stdlib/stats/base/nanmeanors/lib/main.js
  lib/node_modules/@stdlib/stats/base/nanmeanors/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/nanmeanors/test/test.main.js
  lib/node_modules/@stdlib/stats/base/nanmeanors/test/test.ndarray.js
Labels: Statistics, Good First PR

#7447 feat: add `stats/base/ztest/two-sample/results/struct-factory`
  lib/node_modules/@stdlib/stats/base/ztest/two-sample/results/struct-factory/README.md
  lib/node_modules/@stdlib/stats/base/ztest/two-sample/results/struct-factory/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/ztest/two-sample/results/struct-factory/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/ztest/two-sample/results/struct-factory/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/ztest/two-sample/results/struct-factory/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/ztest/two-sample/results/struct-factory/examples/index.js
  lib/node_modules/@stdlib/stats/base/ztest/two-sample/results/struct-factory/lib/index.js
  lib/node_modules/@stdlib/stats/base/ztest/two-sample/results/struct-factory/lib/main.js
  lib/node_modules/@stdlib/stats/base/ztest/two-sample/results/struct-factory/package.json
  lib/node_modules/@stdlib/stats/base/ztest/two-sample/results/struct-factory/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7370 chore: fix C lint errors (issue #6502)
  lib/node_modules/@stdlib/math/strided/special/dabs2/benchmark/c/benchmark.length.c
Labels: Math

#7235 test: add missing tests to `ndarray/base/every`
  lib/node_modules/@stdlib/ndarray/base/every/test/test.10d.js
  lib/node_modules/@stdlib/ndarray/base/every/test/test.1d.js
  lib/node_modules/@stdlib/ndarray/base/every/test/test.2d.js
  lib/node_modules/@stdlib/ndarray/base/every/test/test.3d.js
  lib/node_modules/@stdlib/ndarray/base/every/test/test.4d.js
  lib/node_modules/@stdlib/ndarray/base/every/test/test.5d.js
  lib/node_modules/@stdlib/ndarray/base/every/test/test.6d.js
  lib/node_modules/@stdlib/ndarray/base/every/test/test.7d.js
  lib/node_modules/@stdlib/ndarray/base/every/test/test.8d.js
  lib/node_modules/@stdlib/ndarray/base/every/test/test.9d.js
  lib/node_modules/@stdlib/ndarray/base/every/test/test.js
  lib/node_modules/@stdlib/ndarray/base/every/test/test.nd.js
Labels: Tests, GSoC, gsoc: 2025

#7287 feat: add `blas/base/igamax`
  lib/node_modules/@stdlib/blas/base/igamax/README.md
  lib/node_modules/@stdlib/blas/base/igamax/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/base/igamax/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/base/igamax/docs/repl.txt
  lib/node_modules/@stdlib/blas/base/igamax/examples/index.js
  lib/node_modules/@stdlib/blas/base/igamax/lib/accessors.js
  lib/node_modules/@stdlib/blas/base/igamax/lib/index.js
  lib/node_modules/@stdlib/blas/base/igamax/lib/main.js
  lib/node_modules/@stdlib/blas/base/igamax/lib/ndarray.js
  lib/node_modules/@stdlib/blas/base/igamax/package.json
  lib/node_modules/@stdlib/blas/base/igamax/test/test.js
  lib/node_modules/@stdlib/blas/base/igamax/test/test.main.js
  lib/node_modules/@stdlib/blas/base/igamax/test/test.ndarray.js
Labels: Feature, BLAS, GSoC, gsoc: 2025

#7392 feat: add support for accessor arrays and refactor `stats/base/nanstdev`
  lib/node_modules/@stdlib/stats/base/nanstdev/README.md
  lib/node_modules/@stdlib/stats/base/nanstdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/nanstdev/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/nanstdev/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/nanstdev/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/nanstdev/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/nanstdev/examples/index.js
  lib/node_modules/@stdlib/stats/base/nanstdev/lib/index.js
  lib/node_modules/@stdlib/stats/base/nanstdev/lib/nanstdev.js
  lib/node_modules/@stdlib/stats/base/nanstdev/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/nanstdev/test/test.nanstdev.js
  lib/node_modules/@stdlib/stats/base/nanstdev/test/test.ndarray.js
Labels: Statistics, GSoC, gsoc: 2025

#7391 feat: add support for accessor arrays and refactor `stats/base/nanvariance`
  lib/node_modules/@stdlib/stats/base/nanvariance/README.md
  lib/node_modules/@stdlib/stats/base/nanvariance/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/nanvariance/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/nanvariance/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/nanvariance/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/nanvariance/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/nanvariance/examples/index.js
  lib/node_modules/@stdlib/stats/base/nanvariance/lib/index.js
  lib/node_modules/@stdlib/stats/base/nanvariance/lib/nanvariance.js
  lib/node_modules/@stdlib/stats/base/nanvariance/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/nanvariance/test/test.nanvariance.js
  lib/node_modules/@stdlib/stats/base/nanvariance/test/test.ndarray.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7318 feat: add `blas/ext/base/sindex-of`
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/README.md
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/benchmark/benchmark.js
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/benchmark/c/Makefile
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/binding.gyp
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/docs/repl.txt
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/docs/types/index.d.ts
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/docs/types/test.ts
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/examples/c/Makefile
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/examples/c/example.c
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/examples/index.js
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/include.gypi
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/include/stdlib/blas/ext/base/sindex_of.h
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/lib/index.js
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/lib/main.js
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/lib/native.js
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/lib/ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/lib/ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/lib/sindex_of.js
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/lib/sindex_of.native.js
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/manifest.json
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/package.json
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/src/Makefile
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/src/addon.c
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/src/main.c
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/test/test.js
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/test/test.ndarray.js
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/test/test.ndarray.native.js
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/test/test.sindex_of.js
  lib/node_modules/@stdlib/blas/ext/base/sindex-of/test/test.sindex_of.native.js
Labels: Feature, BLAS, GSoC, gsoc: 2025

#5842 feat: add `stats/incr/nanmsum`
  lib/node_modules/@stdlib/stats/incr/nanmsum/README.md
  lib/node_modules/@stdlib/stats/incr/nanmsum/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/incr/nanmsum/docs/img/equation_moving_sum.svg
  lib/node_modules/@stdlib/stats/incr/nanmsum/docs/repl.txt
  lib/node_modules/@stdlib/stats/incr/nanmsum/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/incr/nanmsum/docs/types/test.ts
  lib/node_modules/@stdlib/stats/incr/nanmsum/examples/index.js
  lib/node_modules/@stdlib/stats/incr/nanmsum/lib/index.js
  lib/node_modules/@stdlib/stats/incr/nanmsum/lib/main.js
  lib/node_modules/@stdlib/stats/incr/nanmsum/package.json
  lib/node_modules/@stdlib/stats/incr/nanmsum/test/test.js
Labels: Statistics, First-time Contributor, Good First PR

#7388 feat: add `stats/array/nanmeanors`
  lib/node_modules/@stdlib/stats/array/nanmeanors/README.md
  lib/node_modules/@stdlib/stats/array/nanmeanors/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanmeanors/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanmeanors/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanmeanors/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanmeanors/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanmeanors/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanmeanors/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanmeanors/package.json
  lib/node_modules/@stdlib/stats/array/nanmeanors/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#4600 feat: add C impolementation for `stdlib/stats/base/dists/cauchy/quantile`
  lib/node_modules/@stdlib/stats/base/dists/cauchy/quantile/README.md
  lib/node_modules/@stdlib/stats/base/dists/cauchy/quantile/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/quantile/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/cauchy/quantile/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/cauchy/quantile/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/cauchy/quantile/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/cauchy/quantile/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/cauchy/quantile/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/cauchy/quantile/include/stdlib/stats/base/dists/cauchy/quantile.h
  lib/node_modules/@stdlib/stats/base/dists/cauchy/quantile/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/quantile/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/cauchy/quantile/package.json
  lib/node_modules/@stdlib/stats/base/dists/cauchy/quantile/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/cauchy/quantile/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/cauchy/quantile/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/cauchy/quantile/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#7449 test: update test expected values
  lib/node_modules/@stdlib/blas/base/wasm/scnrm2/test/test.main.js
  lib/node_modules/@stdlib/blas/base/wasm/scnrm2/test/test.module.main.js
  lib/node_modules/@stdlib/blas/base/wasm/scnrm2/test/test.module.ndarray.js
  lib/node_modules/@stdlib/blas/base/wasm/scnrm2/test/test.ndarray.js
Labels: Tests, BLAS, GSoC, gsoc: 2025

#4414 feat: add C implementation for `stats/base/dists/binomial/mgf`
  lib/node_modules/@stdlib/stats/base/dists/binomial/mgf/README.md
  lib/node_modules/@stdlib/stats/base/dists/binomial/mgf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/binomial/mgf/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/binomial/mgf/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/mgf/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/binomial/mgf/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dists/binomial/mgf/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/binomial/mgf/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/mgf/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/binomial/mgf/include/stdlib/stats/base/dists/binomial/mgf.h
  lib/node_modules/@stdlib/stats/base/dists/binomial/mgf/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/binomial/mgf/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/binomial/mgf/package.json
  lib/node_modules/@stdlib/stats/base/dists/binomial/mgf/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/binomial/mgf/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/mgf/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/binomial/mgf/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#7481 feat: add support for accessor arrays and refactor `stats/base/variance`
  lib/node_modules/@stdlib/stats/base/variance/README.md
  lib/node_modules/@stdlib/stats/base/variance/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/variance/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/variance/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/variance/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/variance/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/variance/examples/index.js
  lib/node_modules/@stdlib/stats/base/variance/lib/index.js
  lib/node_modules/@stdlib/stats/base/variance/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/variance/lib/variance.js
  lib/node_modules/@stdlib/stats/base/variance/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/variance/test/test.variance.js
Labels: Statistics, GSoC, gsoc: 2025

#7488 chore: fix C lint errors (issue #7487)
  lib/node_modules/@stdlib/math/strided/special/smskramp/benchmark/c/benchmark.length.c
Labels: Math

#7473 feat: add `number/float64/base/assert/is-almost-equal-value`
  lib/node_modules/@stdlib/number/float64/base/assert/is-almost-equal-value/README.md
  lib/node_modules/@stdlib/number/float64/base/assert/is-almost-equal-value/benchmark/benchmark.js
  lib/node_modules/@stdlib/number/float64/base/assert/is-almost-equal-value/docs/repl.txt
  lib/node_modules/@stdlib/number/float64/base/assert/is-almost-equal-value/docs/types/index.d.ts
  lib/node_modules/@stdlib/number/float64/base/assert/is-almost-equal-value/docs/types/test.ts
  lib/node_modules/@stdlib/number/float64/base/assert/is-almost-equal-value/examples/index.js
  lib/node_modules/@stdlib/number/float64/base/assert/is-almost-equal-value/lib/index.js
  lib/node_modules/@stdlib/number/float64/base/assert/is-almost-equal-value/lib/main.js
  lib/node_modules/@stdlib/number/float64/base/assert/is-almost-equal-value/package.json
  lib/node_modules/@stdlib/number/float64/base/assert/is-almost-equal-value/test/test.js
Labels: Feature, GSoC, gsoc: 2025

#7482 feat: add support for accessor arrays and refactor `stats/base/variancewd`
  lib/node_modules/@stdlib/stats/base/variancewd/README.md
  lib/node_modules/@stdlib/stats/base/variancewd/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/variancewd/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/variancewd/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/variancewd/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/variancewd/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/variancewd/examples/index.js
  lib/node_modules/@stdlib/stats/base/variancewd/lib/accessors.js
  lib/node_modules/@stdlib/stats/base/variancewd/lib/index.js
  lib/node_modules/@stdlib/stats/base/variancewd/lib/main.js
  lib/node_modules/@stdlib/stats/base/variancewd/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/variancewd/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/variancewd/test/test.variancewd.js
Labels: Statistics, Potential Duplicate, GSoC, gsoc: 2025

#6753 feat: migrate `utils/every-own-by` to `object/every-own-by`
  lib/node_modules/@stdlib/namespace/alias2pkg/data/data.csv
  lib/node_modules/@stdlib/namespace/alias2standalone/data/data.csv
  lib/node_modules/@stdlib/namespace/lib/namespace/a.js
  lib/node_modules/@stdlib/namespace/lib/namespace/e.js
  lib/node_modules/@stdlib/namespace/lib/namespace/n.js
  lib/node_modules/@stdlib/namespace/lib/namespace/s.js
  lib/node_modules/@stdlib/namespace/pkg2alias/data/data.csv
  lib/node_modules/@stdlib/namespace/pkg2related/data/data.csv
  lib/node_modules/@stdlib/namespace/pkg2standalone/data/data.csv
  lib/node_modules/@stdlib/namespace/standalone2pkg/data/data.csv
  lib/node_modules/@stdlib/object/every-own-by/README.md
  lib/node_modules/@stdlib/object/every-own-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/object/every-own-by/docs/repl.txt
  lib/node_modules/@stdlib/object/every-own-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/object/every-own-by/docs/types/test.ts
  lib/node_modules/@stdlib/object/every-own-by/examples/index.js
  lib/node_modules/@stdlib/object/every-own-by/lib/index.js
  lib/node_modules/@stdlib/object/every-own-by/lib/main.js
  lib/node_modules/@stdlib/object/every-own-by/package.json
  lib/node_modules/@stdlib/object/every-own-by/test/test.js
  lib/node_modules/@stdlib/utils/any-own-by/README.md
  lib/node_modules/@stdlib/utils/none-own-by/README.md
  lib/node_modules/@stdlib/utils/some-own-by/README.md
Labels: release: Major

#6759 feat!: migrate `utils/none-in-by` to `object/none-in-by`
  lib/node_modules/@stdlib/namespace/alias2pkg/data/data.csv
  lib/node_modules/@stdlib/namespace/alias2standalone/data/data.csv
  lib/node_modules/@stdlib/namespace/lib/namespace/e.js
  lib/node_modules/@stdlib/namespace/lib/namespace/n.js
  lib/node_modules/@stdlib/namespace/pkg2alias/data/data.csv
  lib/node_modules/@stdlib/namespace/pkg2standalone/data/data.csv
  lib/node_modules/@stdlib/namespace/standalone2pkg/data/data.csv
  lib/node_modules/@stdlib/object/every-in-by/README.md
  lib/node_modules/@stdlib/object/none-in-by/README.md
  lib/node_modules/@stdlib/object/none-in-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/object/none-in-by/docs/repl.txt
  lib/node_modules/@stdlib/object/none-in-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/object/none-in-by/docs/types/test.ts
  lib/node_modules/@stdlib/object/none-in-by/examples/index.js
  lib/node_modules/@stdlib/object/none-in-by/lib/index.js
  lib/node_modules/@stdlib/object/none-in-by/lib/main.js
  lib/node_modules/@stdlib/object/none-in-by/package.json
  lib/node_modules/@stdlib/object/none-in-by/test/test.js
Labels: release: Major

#7507 feat: add `stats/base/ndarray/smin`
  lib/node_modules/@stdlib/stats/base/ndarray/smin/README.md
  lib/node_modules/@stdlib/stats/base/ndarray/smin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/ndarray/smin/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/ndarray/smin/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/ndarray/smin/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/ndarray/smin/examples/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/smin/lib/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/smin/lib/main.js
  lib/node_modules/@stdlib/stats/base/ndarray/smin/package.json
  lib/node_modules/@stdlib/stats/base/ndarray/smin/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7506 feat: add `stats/base/ndarray/dmin`
  lib/node_modules/@stdlib/stats/base/ndarray/dmin/README.md
  lib/node_modules/@stdlib/stats/base/ndarray/dmin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/ndarray/dmin/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/ndarray/dmin/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/ndarray/dmin/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/ndarray/dmin/examples/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/dmin/lib/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/dmin/lib/main.js
  lib/node_modules/@stdlib/stats/base/ndarray/dmin/package.json
  lib/node_modules/@stdlib/stats/base/ndarray/dmin/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7505 feat: add `stats/base/ndarray/min-by`
  lib/node_modules/@stdlib/stats/base/ndarray/min-by/README.md
  lib/node_modules/@stdlib/stats/base/ndarray/min-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/ndarray/min-by/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/ndarray/min-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/ndarray/min-by/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/ndarray/min-by/examples/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/min-by/lib/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/min-by/lib/main.js
  lib/node_modules/@stdlib/stats/base/ndarray/min-by/package.json
  lib/node_modules/@stdlib/stats/base/ndarray/min-by/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7501 feat: add C ndarray interface and refactor implementation for `stats/base/smeanors`
  lib/node_modules/@stdlib/stats/base/smeanors/README.md
  lib/node_modules/@stdlib/stats/base/smeanors/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/smeanors/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/smeanors/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/smeanors/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smeanors/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/smeanors/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/smeanors/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/smeanors/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/smeanors/examples/index.js
  lib/node_modules/@stdlib/stats/base/smeanors/include/stdlib/stats/base/smeanors.h
  lib/node_modules/@stdlib/stats/base/smeanors/lib/index.js
  lib/node_modules/@stdlib/stats/base/smeanors/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/smeanors/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smeanors/lib/smeanors.js
  lib/node_modules/@stdlib/stats/base/smeanors/lib/smeanors.native.js
  lib/node_modules/@stdlib/stats/base/smeanors/manifest.json
  lib/node_modules/@stdlib/stats/base/smeanors/src/addon.c
  lib/node_modules/@stdlib/stats/base/smeanors/src/main.c
  lib/node_modules/@stdlib/stats/base/smeanors/src/smeanors.c
  lib/node_modules/@stdlib/stats/base/smeanors/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/smeanors/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smeanors/test/test.smeanors.js
  lib/node_modules/@stdlib/stats/base/smeanors/test/test.smeanors.native.js
Labels: Statistics, GSoC, gsoc: 2025

#7474 feat: add `stats/array/nanmskmin`
  lib/node_modules/@stdlib/stats/array/nanmskmin/README.md
  lib/node_modules/@stdlib/stats/array/nanmskmin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/nanmskmin/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/nanmskmin/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/nanmskmin/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/nanmskmin/examples/index.js
  lib/node_modules/@stdlib/stats/array/nanmskmin/lib/index.js
  lib/node_modules/@stdlib/stats/array/nanmskmin/lib/main.js
  lib/node_modules/@stdlib/stats/array/nanmskmin/package.json
  lib/node_modules/@stdlib/stats/array/nanmskmin/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7509 feat: add `stats/base/ndarray/dcumin`
  lib/node_modules/@stdlib/stats/base/ndarray/dcumin/README.md
  lib/node_modules/@stdlib/stats/base/ndarray/dcumin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/ndarray/dcumin/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/ndarray/dcumin/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/ndarray/dcumin/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/ndarray/dcumin/examples/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/dcumin/lib/index.js
  lib/node_modules/@stdlib/stats/base/ndarray/dcumin/lib/main.js
  lib/node_modules/@stdlib/stats/base/ndarray/dcumin/package.json
  lib/node_modules/@stdlib/stats/base/ndarray/dcumin/test/test.js
Labels: Feature, Statistics, GSoC, gsoc: 2025

#7498 feat: add C ndarray interface and refactor implementation for `stats/base/smeankbn2`
  lib/node_modules/@stdlib/stats/base/smeankbn2/README.md
  lib/node_modules/@stdlib/stats/base/smeankbn2/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/smeankbn2/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/smeankbn2/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/smeankbn2/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smeankbn2/benchmark/c/benchmark.length.c
  lib/node_modules/@stdlib/stats/base/smeankbn2/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/smeankbn2/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/smeankbn2/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/smeankbn2/examples/index.js
  lib/node_modules/@stdlib/stats/base/smeankbn2/include/stdlib/stats/base/smeankbn2.h
  lib/node_modules/@stdlib/stats/base/smeankbn2/lib/index.js
  lib/node_modules/@stdlib/stats/base/smeankbn2/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/smeankbn2/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smeankbn2/lib/smeankbn2.js
  lib/node_modules/@stdlib/stats/base/smeankbn2/lib/smeankbn2.native.js
  lib/node_modules/@stdlib/stats/base/smeankbn2/manifest.json
  lib/node_modules/@stdlib/stats/base/smeankbn2/src/addon.c
  lib/node_modules/@stdlib/stats/base/smeankbn2/src/main.c
  lib/node_modules/@stdlib/stats/base/smeankbn2/src/smeankbn2.c
  lib/node_modules/@stdlib/stats/base/smeankbn2/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/smeankbn2/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/smeankbn2/test/test.smeankbn2.js
  lib/node_modules/@stdlib/stats/base/smeankbn2/test/test.smeankbn2.native.js
Labels: Statistics, GSoC, gsoc: 2025
