Repository stdlib-js/stdlib, pull requests merged in 2025-05, with the labels that each got.

#6893 chore: fix EditorConfig lint errors (issue #6885)
  lib/node_modules/@stdlib/complex/dtypes/lib/dtypes.json
Labels: Good First PR

#6895 chore: fix C lint errors (issue #6887)
  lib/node_modules/@stdlib/stats/base/dmeanvarpn/benchmark/c/benchmark.length.c
Labels: Statistics

#6899 chore: fix JavaScript lint errors (issue #6800)
  lib/node_modules/@stdlib/utils/append/lib/index.js
Labels: Good First PR

#6900 chore: fix JavaScript lint errors (issue #6786)
  lib/node_modules/@stdlib/_tools/makie/plugins/makie-benchmark-lang/lib/index.js
  lib/node_modules/@stdlib/utils/unshift/lib/index.js
Labels: Good First PR

#6884 feat: add `stats/array/maxsorted`
  lib/node_modules/@stdlib/stats/array/maxsorted/README.md
  lib/node_modules/@stdlib/stats/array/maxsorted/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/maxsorted/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/maxsorted/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/maxsorted/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/maxsorted/examples/index.js
  lib/node_modules/@stdlib/stats/array/maxsorted/lib/index.js
  lib/node_modules/@stdlib/stats/array/maxsorted/lib/main.js
  lib/node_modules/@stdlib/stats/array/maxsorted/package.json
  lib/node_modules/@stdlib/stats/array/maxsorted/test/test.js
Labels: Feature, Statistics

#6903 chore: add structured package data for `math/base/special/abs2`
  lib/node_modules/@stdlib/math/base/special/abs2/package.json
Labels: Math

#6904 chore: fix EditorConfig lint errors (issue #6901)
  lib/node_modules/@stdlib/assert/napi/status-ok/manifest.json
  lib/node_modules/@stdlib/random/streams/levy/lib/defaults.json
Labels: Good First PR

#4591 feat(stats): add C implementation for `stats/base/dists/chi/variance`
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/README.md
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/include/stdlib/stats/base/dists/chi/variance.h
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/package.json
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/test/test.native.js
Labels: Statistics, C, Ready To Merge, Good First PR

#4590 feat(stats): add C implementation for `stats/base/dists/chi/stdev`
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/README.md
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/include/stdlib/stats/base/dists/chi/stdev.h
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/package.json
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/test/test.native.js
Labels: Statistics, C, Ready To Merge, Good First PR

#6297 feat: add `stats/incr/nanmstdev`
  lib/node_modules/@stdlib/stats/incr/nanmstdev/README.md
  lib/node_modules/@stdlib/stats/incr/nanmstdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/incr/nanmstdev/docs/img/equation_corrected_sample_standard_deviation.svg
  lib/node_modules/@stdlib/stats/incr/nanmstdev/docs/repl.txt
  lib/node_modules/@stdlib/stats/incr/nanmstdev/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/incr/nanmstdev/docs/types/test.ts
  lib/node_modules/@stdlib/stats/incr/nanmstdev/examples/index.js
  lib/node_modules/@stdlib/stats/incr/nanmstdev/lib/index.js
  lib/node_modules/@stdlib/stats/incr/nanmstdev/lib/main.js
  lib/node_modules/@stdlib/stats/incr/nanmstdev/package.json
  lib/node_modules/@stdlib/stats/incr/nanmstdev/test/test.js
Labels: Statistics, Ready To Merge, First-time Contributor, Good First PR

#6907 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/stats/base/dists/bradford/mode/README.md
  lib/node_modules/@stdlib/stats/base/dists/bradford/mode/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/README.md
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/stdev/README.md
  lib/node_modules/@stdlib/stats/base/dists/bradford/stdev/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/variance/README.md
  lib/node_modules/@stdlib/stats/base/dists/bradford/variance/examples/index.js
Labels: Statistics, Ready To Merge

#6906 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/stats/base/dists/bradford/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/bradford/cdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/entropy/README.md
  lib/node_modules/@stdlib/stats/base/dists/bradford/entropy/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/mean/README.md
  lib/node_modules/@stdlib/stats/base/dists/bradford/mean/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/median/README.md
  lib/node_modules/@stdlib/stats/base/dists/bradford/median/examples/index.js
Labels: Statistics, Ready To Merge

#6909 chore: adds `opts`
  lib/node_modules/@stdlib/stats/base/dists/bradford/pdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/variance/benchmark/benchmark.js
Labels: Statistics, Ready To Merge

#6908 chore: adds `opts`
  lib/node_modules/@stdlib/stats/base/dists/bradford/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/cdf/test/test.cdf.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/cdf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/median/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/bradford/mode/benchmark/benchmark.js
Labels: Statistics, Ready To Merge

#6922 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/stats/base/dists/chi/pdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/chi/pdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chi/quantile/README.md
  lib/node_modules/@stdlib/stats/base/dists/chi/quantile/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chi/skewness/README.md
  lib/node_modules/@stdlib/stats/base/dists/chi/skewness/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/README.md
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/README.md
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/examples/index.js
Labels: Statistics, Ready To Merge

#6921 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/stats/base/dists/chi/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/chi/cdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chi/entropy/README.md
  lib/node_modules/@stdlib/stats/base/dists/chi/entropy/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chi/kurtosis/README.md
  lib/node_modules/@stdlib/stats/base/dists/chi/kurtosis/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chi/mean/README.md
  lib/node_modules/@stdlib/stats/base/dists/chi/mean/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chi/mode/README.md
  lib/node_modules/@stdlib/stats/base/dists/chi/mode/examples/index.js
Labels: Statistics, Ready To Merge

#6918 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/stats/base/dists/cauchy/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/cauchy/cdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/entropy/README.md
  lib/node_modules/@stdlib/stats/base/dists/cauchy/entropy/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/logcdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/cauchy/logcdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/cauchy/logpdf/examples/index.js
Labels: Statistics, Ready To Merge

#6919 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/stats/base/dists/cauchy/median/README.md
  lib/node_modules/@stdlib/stats/base/dists/cauchy/median/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/mode/README.md
  lib/node_modules/@stdlib/stats/base/dists/cauchy/mode/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/cauchy/pdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/quantile/README.md
  lib/node_modules/@stdlib/stats/base/dists/cauchy/quantile/examples/index.js
Labels: Statistics, Ready To Merge

#6924 chore: fix EditorConfig lint errors (issue #6911)
  lib/node_modules/@stdlib/stats/kruskal-test/README.md
Labels: Statistics, Ready To Merge, Good First PR

#6923 chore: address commit comments for commit `1e0529a` (issue #6912)
  .github/workflows/scripts/generate_pr_commit_message
Labels: Ready To Merge, Good First PR

#4604 feat: add C implementation for `stats/base/dists/frechet/kurtosis`
  lib/node_modules/@stdlib/stats/base/dists/frechet/kurtosis/README.md
  lib/node_modules/@stdlib/stats/base/dists/frechet/kurtosis/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/kurtosis/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/frechet/kurtosis/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/kurtosis/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/frechet/kurtosis/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/frechet/kurtosis/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/kurtosis/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/frechet/kurtosis/include/stdlib/stats/base/dists/frechet/kurtosis.h
  lib/node_modules/@stdlib/stats/base/dists/frechet/kurtosis/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/kurtosis/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/frechet/kurtosis/package.json
  lib/node_modules/@stdlib/stats/base/dists/frechet/kurtosis/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/frechet/kurtosis/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/kurtosis/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/kurtosis/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4569 feat: add C implementation for `stats/base/dists/frechet/median`
  lib/node_modules/@stdlib/stats/base/dists/frechet/median/README.md
  lib/node_modules/@stdlib/stats/base/dists/frechet/median/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/median/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/frechet/median/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/median/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/frechet/median/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/frechet/median/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/median/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/frechet/median/include/stdlib/stats/base/dists/frechet/median.h
  lib/node_modules/@stdlib/stats/base/dists/frechet/median/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/median/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/frechet/median/package.json
  lib/node_modules/@stdlib/stats/base/dists/frechet/median/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/frechet/median/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/median/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/median/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4175 feat: add C implementation for `stats/base/dists/lognormal/stdev`
  lib/node_modules/@stdlib/stats/base/dists/lognormal/stdev/README.md
  lib/node_modules/@stdlib/stats/base/dists/lognormal/stdev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/stdev/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/stdev/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/stdev/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/lognormal/stdev/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/stdev/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/stdev/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/lognormal/stdev/include/stdlib/stats/base/dists/lognormal/stdev.h
  lib/node_modules/@stdlib/stats/base/dists/lognormal/stdev/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/stdev/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/lognormal/stdev/package.json
  lib/node_modules/@stdlib/stats/base/dists/lognormal/stdev/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/stdev/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/stdev/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/stdev/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#6910 feat: add `stats/array/minabs`
  lib/node_modules/@stdlib/stats/array/minabs/README.md
  lib/node_modules/@stdlib/stats/array/minabs/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/minabs/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/minabs/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/minabs/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/minabs/examples/index.js
  lib/node_modules/@stdlib/stats/array/minabs/lib/index.js
  lib/node_modules/@stdlib/stats/array/minabs/lib/main.js
  lib/node_modules/@stdlib/stats/array/minabs/package.json
  lib/node_modules/@stdlib/stats/array/minabs/test/test.js
Labels: Feature, Statistics

#6932 chore: fix EditorConfig lint errors (issue #6416)
  lib/node_modules/@stdlib/array/mostly-safe-casts/lib/data.json
  lib/node_modules/@stdlib/math/base/special/copysignf/manifest.json
Labels: Ready To Merge, Good First PR

#6931 chore: fix EditorConfig lint errors (issue #6432)
  lib/node_modules/@stdlib/stats/base/dists/poisson/median/README.md
Labels: Statistics, Ready To Merge, Good First PR

#4032 feat: add C implementation for `stats/base/dists/poisson/kurtosis`
  lib/node_modules/@stdlib/stats/base/dists/poisson/kurtosis/README.md
  lib/node_modules/@stdlib/stats/base/dists/poisson/kurtosis/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/kurtosis/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/poisson/kurtosis/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/poisson/kurtosis/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/poisson/kurtosis/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/poisson/kurtosis/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/poisson/kurtosis/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/poisson/kurtosis/include/stdlib/stats/base/dists/poisson/kurtosis.h
  lib/node_modules/@stdlib/stats/base/dists/poisson/kurtosis/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/kurtosis/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/poisson/kurtosis/package.json
  lib/node_modules/@stdlib/stats/base/dists/poisson/kurtosis/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/poisson/kurtosis/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/poisson/kurtosis/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/poisson/kurtosis/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4146 feat: add C implementation for `stats/base/dists/lognormal/mean`
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mean/README.md
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mean/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mean/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mean/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mean/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mean/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mean/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mean/include/stdlib/stats/base/dists/lognormal/mean.h
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mean/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mean/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mean/package.json
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mean/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mean/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mean/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mean/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4148 feat: add C implementation for `stats/base/dists/lognormal/mode`
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mode/README.md
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mode/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mode/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mode/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mode/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mode/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mode/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mode/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mode/include/stdlib/stats/base/dists/lognormal/mode.h
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mode/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mode/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mode/package.json
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mode/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mode/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mode/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/mode/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4147 feat: add C implementation for `stats/base/dists/lognormal/median`
  lib/node_modules/@stdlib/stats/base/dists/lognormal/median/README.md
  lib/node_modules/@stdlib/stats/base/dists/lognormal/median/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/median/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/median/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/median/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/lognormal/median/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/median/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/median/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/lognormal/median/include/stdlib/stats/base/dists/lognormal/median.h
  lib/node_modules/@stdlib/stats/base/dists/lognormal/median/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/median/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/lognormal/median/package.json
  lib/node_modules/@stdlib/stats/base/dists/lognormal/median/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/median/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/median/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/median/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4166 feat: add C implementation for `stats/base/dists/lognormal/skewness`
  lib/node_modules/@stdlib/stats/base/dists/lognormal/skewness/README.md
  lib/node_modules/@stdlib/stats/base/dists/lognormal/skewness/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/skewness/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/skewness/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/skewness/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/lognormal/skewness/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/skewness/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/skewness/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/lognormal/skewness/include/stdlib/stats/base/dists/lognormal/skewness.h
  lib/node_modules/@stdlib/stats/base/dists/lognormal/skewness/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/skewness/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/lognormal/skewness/package.json
  lib/node_modules/@stdlib/stats/base/dists/lognormal/skewness/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/skewness/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/skewness/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/skewness/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4178 feat: add C implementation for `stats/base/dists/lognormal/entropy`
  lib/node_modules/@stdlib/stats/base/dists/lognormal/entropy/README.md
  lib/node_modules/@stdlib/stats/base/dists/lognormal/entropy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/entropy/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/entropy/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/entropy/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/lognormal/entropy/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/entropy/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/entropy/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/lognormal/entropy/include/stdlib/stats/base/dists/lognormal/entropy.h
  lib/node_modules/@stdlib/stats/base/dists/lognormal/entropy/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/lognormal/entropy/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/lognormal/entropy/package.json
  lib/node_modules/@stdlib/stats/base/dists/lognormal/entropy/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/lognormal/entropy/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/entropy/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/lognormal/entropy/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#6953 bench: update random value generation
  lib/node_modules/@stdlib/stats/base/dists/cauchy/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/cdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/cdf/test/test.cdf.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/cdf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/cdf/test/test.native.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/entropy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/entropy/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/entropy/test/test.native.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/logcdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/logcdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/logcdf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/logcdf/test/test.logcdf.js
  lib/node_modules/@stdlib/stats/base/dists/cauchy/logcdf/test/test.native.js
Labels: Statistics, Benchmarks

#6936 chore: fix JavaScript lint errors (issue #6934)
  lib/node_modules/@stdlib/_tools/pkgs/entry-points/lib/entries.sync.js
Labels: Tools, Good First PR

#6945 chore: fix EditorConfig lint errors (issue #6942)
  lib/node_modules/@stdlib/constants/time/minutes-in-week/README.md
Labels: Good First PR

#6950 chore: fix JavaScript lint errors (issue #6943)
  lib/node_modules/@stdlib/_tools/lint/header-filenames/lib/sync.js
Labels: Tools, First-time Contributor, Good First PR

#6938 chore: fix C lint errors (issue #6935)
  lib/node_modules/@stdlib/stats/base/dvarmpn/examples/c/example.c
Labels: Statistics

#6939 chore: fix EditorConfig lint errors (issue #6933)
  lib/node_modules/@stdlib/ndarray/fancy/examples/set_slice.3d.js
Labels: Good First PR

#6937 chore: fix EditorConfig lint errors #6925
  lib/node_modules/@stdlib/_tools/scaffold/math-strided-binary-by/scripts/scaffold.sh
  lib/node_modules/@stdlib/assert/napi/is-typedarray/manifest.json
Labels: Good First PR

#6940 feat: add `stats/array/minsorted`
  lib/node_modules/@stdlib/stats/array/minsorted/README.md
  lib/node_modules/@stdlib/stats/array/minsorted/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/minsorted/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/minsorted/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/minsorted/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/minsorted/examples/index.js
  lib/node_modules/@stdlib/stats/array/minsorted/lib/index.js
  lib/node_modules/@stdlib/stats/array/minsorted/lib/main.js
  lib/node_modules/@stdlib/stats/array/minsorted/package.json
  lib/node_modules/@stdlib/stats/array/minsorted/test/test.js
Labels: Feature, Statistics

#6930 feat: add add C ndarray interface and refactor implementation for `stats/base/sstdev`
  lib/node_modules/@stdlib/stats/base/sstdev/README.md
  lib/node_modules/@stdlib/stats/base/sstdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/sstdev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/sstdev/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/sstdev/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sstdev/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/sstdev/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/sstdev/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/sstdev/examples/index.js
  lib/node_modules/@stdlib/stats/base/sstdev/include/stdlib/stats/base/sstdev.h
  lib/node_modules/@stdlib/stats/base/sstdev/lib/index.js
  lib/node_modules/@stdlib/stats/base/sstdev/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/sstdev/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sstdev/lib/sstdev.js
  lib/node_modules/@stdlib/stats/base/sstdev/lib/sstdev.native.js
  lib/node_modules/@stdlib/stats/base/sstdev/manifest.json
  lib/node_modules/@stdlib/stats/base/sstdev/src/addon.c
  lib/node_modules/@stdlib/stats/base/sstdev/src/main.c
  lib/node_modules/@stdlib/stats/base/sstdev/src/sstdev.c
  lib/node_modules/@stdlib/stats/base/sstdev/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/sstdev/test/test.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/sstdev/test/test.sstdev.js
  lib/node_modules/@stdlib/stats/base/sstdev/test/test.sstdev.native.js
Labels: Feature, Statistics

#4104 feat: add C implementation for `stats/base/dists/negative-binomial/mode`
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/mode/README.md
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/mode/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/mode/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/mode/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/mode/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/mode/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/mode/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/mode/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/mode/include/stdlib/stats/base/dists/negative-binomial/mode.h
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/mode/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/mode/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/mode/package.json
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/mode/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/mode/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/mode/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/mode/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#6963 feat: add `stats/array/mskmin`
  lib/node_modules/@stdlib/stats/array/mskmin/README.md
  lib/node_modules/@stdlib/stats/array/mskmin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/mskmin/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/mskmin/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/mskmin/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/mskmin/examples/index.js
  lib/node_modules/@stdlib/stats/array/mskmin/lib/index.js
  lib/node_modules/@stdlib/stats/array/mskmin/lib/main.js
  lib/node_modules/@stdlib/stats/array/mskmin/package.json
  lib/node_modules/@stdlib/stats/array/mskmin/test/test.js
Labels: Feature, Statistics

#4108 feat: add C implementation for `stats/base/dists/negative-binomial/kurtosis`
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/kurtosis/README.md
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/kurtosis/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/kurtosis/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/kurtosis/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/kurtosis/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/kurtosis/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/kurtosis/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/kurtosis/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/kurtosis/include/stdlib/stats/base/dists/negative-binomial/kurtosis.h
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/kurtosis/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/kurtosis/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/kurtosis/package.json
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/kurtosis/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/kurtosis/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/kurtosis/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/kurtosis/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4105 feat: add C implementation for `stats/base/dists/negative-binomial/skewness`
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/skewness/README.md
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/skewness/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/skewness/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/skewness/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/skewness/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/skewness/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/skewness/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/skewness/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/skewness/include/stdlib/stats/base/dists/negative-binomial/skewness.h
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/skewness/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/skewness/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/skewness/package.json
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/skewness/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/skewness/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/skewness/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/skewness/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4019 feat: add C implementation for `stats/base/dists/poisson/mode`
  lib/node_modules/@stdlib/stats/base/dists/poisson/mode/README.md
  lib/node_modules/@stdlib/stats/base/dists/poisson/mode/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/mode/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/poisson/mode/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/poisson/mode/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/poisson/mode/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/poisson/mode/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/poisson/mode/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/poisson/mode/include/stdlib/stats/base/dists/poisson/mode.h
  lib/node_modules/@stdlib/stats/base/dists/poisson/mode/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/mode/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/poisson/mode/package.json
  lib/node_modules/@stdlib/stats/base/dists/poisson/mode/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/poisson/mode/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/poisson/mode/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/poisson/mode/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4023 feat: add C implementation for `stats/base/dists/poisson/skewness`
  lib/node_modules/@stdlib/stats/base/dists/poisson/skewness/README.md
  lib/node_modules/@stdlib/stats/base/dists/poisson/skewness/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/skewness/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/poisson/skewness/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/poisson/skewness/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/poisson/skewness/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/poisson/skewness/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/poisson/skewness/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/poisson/skewness/include/stdlib/stats/base/dists/poisson/skewness.h
  lib/node_modules/@stdlib/stats/base/dists/poisson/skewness/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/poisson/skewness/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/poisson/skewness/package.json
  lib/node_modules/@stdlib/stats/base/dists/poisson/skewness/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/poisson/skewness/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/poisson/skewness/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/poisson/skewness/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#6973 feat: add support for accessor arrays and refactor `stats/base/nanmin`
  lib/node_modules/@stdlib/stats/base/nanmin/README.md
  lib/node_modules/@stdlib/stats/base/nanmin/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/nanmin/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/nanmin/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/nanmin/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/nanmin/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/nanmin/examples/index.js
  lib/node_modules/@stdlib/stats/base/nanmin/lib/accessors.js
  lib/node_modules/@stdlib/stats/base/nanmin/lib/index.js
  lib/node_modules/@stdlib/stats/base/nanmin/lib/main.js
  lib/node_modules/@stdlib/stats/base/nanmin/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/nanmin/test/test.nanmin.js
  lib/node_modules/@stdlib/stats/base/nanmin/test/test.ndarray.js
Labels: Feature, Statistics

#6982 feat: add `stats/array/mean`
  lib/node_modules/@stdlib/stats/array/mean/README.md
  lib/node_modules/@stdlib/stats/array/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/mean/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/mean/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/mean/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/mean/examples/index.js
  lib/node_modules/@stdlib/stats/array/mean/lib/index.js
  lib/node_modules/@stdlib/stats/array/mean/lib/main.js
  lib/node_modules/@stdlib/stats/array/mean/package.json
  lib/node_modules/@stdlib/stats/array/mean/test/test.js
Labels: Feature, Statistics

#6964 chore: fix EditorConfig lint errors #6955
  lib/node_modules/@stdlib/_tools/static-analysis/js/program-summary/lib/statements.json
Labels: Tools, Good First PR

#6970 feat: add C ndarray interface and refactor implementation for `stats/base/dnanstdev`
  lib/node_modules/@stdlib/stats/base/dnanstdev/README.md
  lib/node_modules/@stdlib/stats/base/dnanstdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dnanstdev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdev/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanstdev/benchmark/benchmark.ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdev/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/dnanstdev/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/dnanstdev/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dnanstdev/examples/index.js
  lib/node_modules/@stdlib/stats/base/dnanstdev/include/stdlib/stats/base/dnanstdev.h
  lib/node_modules/@stdlib/stats/base/dnanstdev/lib/dnanstdev.js
  lib/node_modules/@stdlib/stats/base/dnanstdev/lib/dnanstdev.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdev/lib/index.js
  lib/node_modules/@stdlib/stats/base/dnanstdev/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanstdev/lib/ndarray.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdev/manifest.json
  lib/node_modules/@stdlib/stats/base/dnanstdev/src/addon.c
  lib/node_modules/@stdlib/stats/base/dnanstdev/src/dnanstdev.c
  lib/node_modules/@stdlib/stats/base/dnanstdev/src/main.c
  lib/node_modules/@stdlib/stats/base/dnanstdev/test/test.dnanstdev.js
  lib/node_modules/@stdlib/stats/base/dnanstdev/test/test.dnanstdev.native.js
  lib/node_modules/@stdlib/stats/base/dnanstdev/test/test.ndarray.js
  lib/node_modules/@stdlib/stats/base/dnanstdev/test/test.ndarray.native.js
Labels: Feature, Statistics, C

#4597 feat: add C implementation for `stats/base/dists/frechet/entropy`
  lib/node_modules/@stdlib/stats/base/dists/frechet/entropy/README.md
  lib/node_modules/@stdlib/stats/base/dists/frechet/entropy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/entropy/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/frechet/entropy/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/entropy/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/frechet/entropy/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/frechet/entropy/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/entropy/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/frechet/entropy/include/stdlib/stats/base/dists/frechet/entropy.h
  lib/node_modules/@stdlib/stats/base/dists/frechet/entropy/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/frechet/entropy/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/frechet/entropy/package.json
  lib/node_modules/@stdlib/stats/base/dists/frechet/entropy/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/frechet/entropy/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/entropy/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/frechet/entropy/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#4106 feat: add C implementation for `stats/base/dists/negative-binomial/stdev`
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/stdev/README.md
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/stdev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/stdev/benchmark/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/stdev/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/stdev/binding.gyp
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/stdev/examples/c/Makefile
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/stdev/examples/c/example.c
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/stdev/include.gypi
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/stdev/include/stdlib/stats/base/dists/negative-binomial/stdev.h
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/stdev/lib/native.js
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/stdev/manifest.json
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/stdev/package.json
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/stdev/src/Makefile
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/stdev/src/addon.c
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/stdev/src/main.c
  lib/node_modules/@stdlib/stats/base/dists/negative-binomial/stdev/test/test.native.js
Labels: Statistics, Ready To Merge, Good First PR

#3037 feat: add `math/base/special/bernoullif`
  lib/node_modules/@stdlib/math/base/special/bernoullif/README.md
  lib/node_modules/@stdlib/math/base/special/bernoullif/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/bernoullif/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/bernoullif/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/bernoullif/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/bernoullif/binding.gyp
  lib/node_modules/@stdlib/math/base/special/bernoullif/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/bernoullif/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/bernoullif/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/bernoullif/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/bernoullif/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/bernoullif/examples/index.js
  lib/node_modules/@stdlib/math/base/special/bernoullif/include.gypi
  lib/node_modules/@stdlib/math/base/special/bernoullif/include/stdlib/math/base/special/bernoullif.h
  lib/node_modules/@stdlib/math/base/special/bernoullif/lib/bernoullif.json
  lib/node_modules/@stdlib/math/base/special/bernoullif/lib/index.js
  lib/node_modules/@stdlib/math/base/special/bernoullif/lib/main.js
  lib/node_modules/@stdlib/math/base/special/bernoullif/lib/native.js
  lib/node_modules/@stdlib/math/base/special/bernoullif/manifest.json
  lib/node_modules/@stdlib/math/base/special/bernoullif/package.json
  lib/node_modules/@stdlib/math/base/special/bernoullif/src/Makefile
  lib/node_modules/@stdlib/math/base/special/bernoullif/src/addon.c
  lib/node_modules/@stdlib/math/base/special/bernoullif/src/main.c
  lib/node_modules/@stdlib/math/base/special/bernoullif/test/test.js
  lib/node_modules/@stdlib/math/base/special/bernoullif/test/test.native.js
Labels: Feature, Math, Ready To Merge

#6990 feat: add `stats/array/mskrange`
  lib/node_modules/@stdlib/stats/array/mskrange/README.md
  lib/node_modules/@stdlib/stats/array/mskrange/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/array/mskrange/docs/repl.txt
  lib/node_modules/@stdlib/stats/array/mskrange/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/array/mskrange/docs/types/test.ts
  lib/node_modules/@stdlib/stats/array/mskrange/examples/index.js
  lib/node_modules/@stdlib/stats/array/mskrange/lib/index.js
  lib/node_modules/@stdlib/stats/array/mskrange/lib/main.js
  lib/node_modules/@stdlib/stats/array/mskrange/package.json
  lib/node_modules/@stdlib/stats/array/mskrange/test/test.js
Labels: Feature, Statistics

#6991 chore: fix EditorConfig lint errors #6975
  lib/node_modules/@stdlib/_tools/scaffold/validate-js/lib/requires.json
Labels: Tools, Good First PR

#5525 feat: add `lapack/base/claswp`
  lib/node_modules/@stdlib/lapack/base/claswp/README.md
  lib/node_modules/@stdlib/lapack/base/claswp/benchmark/benchmark.js
  lib/node_modules/@stdlib/lapack/base/claswp/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/lapack/base/claswp/docs/repl.txt
  lib/node_modules/@stdlib/lapack/base/claswp/docs/types/index.d.ts
  lib/node_modules/@stdlib/lapack/base/claswp/docs/types/test.ts
  lib/node_modules/@stdlib/lapack/base/claswp/examples/index.js
  lib/node_modules/@stdlib/lapack/base/claswp/lib/base.js
  lib/node_modules/@stdlib/lapack/base/claswp/lib/claswp.js
  lib/node_modules/@stdlib/lapack/base/claswp/lib/index.js
  lib/node_modules/@stdlib/lapack/base/claswp/lib/main.js
  lib/node_modules/@stdlib/lapack/base/claswp/lib/ndarray.js
  lib/node_modules/@stdlib/lapack/base/claswp/package.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/column_major_a_offset.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/column_major_a_strides.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/column_major_complex_access_patterns.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/column_major_ipiv_offset.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/column_major_ipiv_stride_negative.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/column_major_ipiv_stride_positive.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/column_major_k1.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/column_major_lda.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/column_major_no_offsets.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/column_major_reverse_pivots.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/column_major_reverse_pivots_ipiv_offset.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/column_major_reverse_pivots_ipiv_stride.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/row_major_a_offset.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/row_major_a_strides.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/row_major_complex_access_patterns.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/row_major_ipiv_offset.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/row_major_ipiv_stride_negative.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/row_major_ipiv_stride_positive.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/row_major_k1.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/row_major_lda.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/row_major_no_offsets.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/row_major_reverse_pivots.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/row_major_reverse_pivots_ipiv_offset.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/fixtures/row_major_reverse_pivots_ipiv_stride.json
  lib/node_modules/@stdlib/lapack/base/claswp/test/test.claswp.js
  lib/node_modules/@stdlib/lapack/base/claswp/test/test.js
  lib/node_modules/@stdlib/lapack/base/claswp/test/test.ndarray.js
Labels: Feature, LAPACK

#7009 bench: update random value generation
  lib/node_modules/@stdlib/stats/base/dists/chi/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chi/cdf/test/test.cdf.js
  lib/node_modules/@stdlib/stats/base/dists/chi/cdf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/chi/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chi/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chi/entropy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/chi/entropy/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/chi/entropy/test/test.native.js
  lib/node_modules/@stdlib/stats/base/dists/chi/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chi/kurtosis/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/chi/logpdf/test/test.logpdf.js
  lib/node_modules/@stdlib/stats/base/dists/chi/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chi/mean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/chi/mean/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/chi/mean/test/test.native.js
Labels: Statistics, Benchmarks

#3365 feat: add `math/base/special/gammasgnf`
  lib/node_modules/@stdlib/math/base/special/gammasgnf/README.md
  lib/node_modules/@stdlib/math/base/special/gammasgnf/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/gammasgnf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/gammasgnf/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/gammasgnf/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/gammasgnf/benchmark/python/scipy/benchmark.py
  lib/node_modules/@stdlib/math/base/special/gammasgnf/binding.gyp
  lib/node_modules/@stdlib/math/base/special/gammasgnf/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/gammasgnf/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/gammasgnf/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/gammasgnf/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/gammasgnf/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/gammasgnf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/gammasgnf/include.gypi
  lib/node_modules/@stdlib/math/base/special/gammasgnf/include/stdlib/math/base/special/gammasgnf.h
  lib/node_modules/@stdlib/math/base/special/gammasgnf/lib/index.js
  lib/node_modules/@stdlib/math/base/special/gammasgnf/lib/main.js
  lib/node_modules/@stdlib/math/base/special/gammasgnf/lib/native.js
  lib/node_modules/@stdlib/math/base/special/gammasgnf/manifest.json
  lib/node_modules/@stdlib/math/base/special/gammasgnf/package.json
  lib/node_modules/@stdlib/math/base/special/gammasgnf/src/Makefile
  lib/node_modules/@stdlib/math/base/special/gammasgnf/src/addon.c
  lib/node_modules/@stdlib/math/base/special/gammasgnf/src/main.c
  lib/node_modules/@stdlib/math/base/special/gammasgnf/test/fixtures/python/data.json
  lib/node_modules/@stdlib/math/base/special/gammasgnf/test/fixtures/python/runner.py
  lib/node_modules/@stdlib/math/base/special/gammasgnf/test/test.js
  lib/node_modules/@stdlib/math/base/special/gammasgnf/test/test.native.js
Labels: Feature, Math

#7000 feat: add `math/base/special/binomcoeff`
  lib/node_modules/@stdlib/math/base/special/binomcoeff/README.md
  lib/node_modules/@stdlib/math/base/special/binomcoeff/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/binomcoeff/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/binomcoeff/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/binomcoeff/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/binomcoeff/benchmark/cpp/boost/Makefile
  lib/node_modules/@stdlib/math/base/special/binomcoeff/benchmark/cpp/boost/benchmark.cpp
  lib/node_modules/@stdlib/math/base/special/binomcoeff/binding.gyp
  lib/node_modules/@stdlib/math/base/special/binomcoeff/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/binomcoeff/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/binomcoeff/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/binomcoeff/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/binomcoeff/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/binomcoeff/examples/index.js
  lib/node_modules/@stdlib/math/base/special/binomcoeff/include.gypi
  lib/node_modules/@stdlib/math/base/special/binomcoeff/include/stdlib/math/base/special/binomcoeff.h
  lib/node_modules/@stdlib/math/base/special/binomcoeff/lib/index.js
  lib/node_modules/@stdlib/math/base/special/binomcoeff/lib/main.js
  lib/node_modules/@stdlib/math/base/special/binomcoeff/lib/native.js
  lib/node_modules/@stdlib/math/base/special/binomcoeff/manifest.json
  lib/node_modules/@stdlib/math/base/special/binomcoeff/package.json
  lib/node_modules/@stdlib/math/base/special/binomcoeff/src/Makefile
  lib/node_modules/@stdlib/math/base/special/binomcoeff/src/addon.c
  lib/node_modules/@stdlib/math/base/special/binomcoeff/src/main.c
  lib/node_modules/@stdlib/math/base/special/binomcoeff/test/fixtures/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/binomcoeff/test/fixtures/julia/integers.json
  lib/node_modules/@stdlib/math/base/special/binomcoeff/test/fixtures/julia/negative_n.json
  lib/node_modules/@stdlib/math/base/special/binomcoeff/test/fixtures/julia/runner.jl
  lib/node_modules/@stdlib/math/base/special/binomcoeff/test/test.js
  lib/node_modules/@stdlib/math/base/special/binomcoeff/test/test.native.js
Labels: Math, Ready To Merge

#4939 feat: add `math/base/special/negafibonaccif`
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/README.md
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/benchmark/benchmark.js
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/benchmark/c/Makefile
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/benchmark/c/benchmark.c
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/benchmark/c/native/Makefile
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/benchmark/c/native/benchmark.c
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/benchmark/julia/REQUIRE
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/benchmark/julia/benchmark.jl
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/binding.gyp
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/docs/repl.txt
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/docs/types/index.d.ts
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/docs/types/test.ts
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/examples/c/Makefile
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/examples/c/example.c
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/examples/index.js
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/include.gypi
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/include/stdlib/math/base/special/negafibonaccif.h
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/lib/index.js
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/lib/main.js
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/lib/native.js
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/lib/negafibonaccif.json
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/manifest.json
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/package.json
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/src/Makefile
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/src/addon.c
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/src/main.c
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/test/test.js
  lib/node_modules/@stdlib/math/base/special/negafibonaccif/test/test.native.js
Labels: Math, Ready To Merge

#7027 bench: update random value generation
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mode/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mode/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mode/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mode/test/test.native.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/pdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/pdf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/pdf/test/test.pdf.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/quantile/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/quantile/test/test.quantile.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/skewness/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/skewness/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/skewness/test/test.native.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/stdev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/stdev/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/stdev/test/test.native.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/variance/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/variance/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/variance/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/variance/test/test.native.js
Labels: Statistics, Ready To Merge

#7026 bench: update random value generation
  lib/node_modules/@stdlib/stats/base/dists/chisquare/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/cdf/test/test.cdf.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/cdf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/entropy/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/entropy/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/entropy/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/entropy/test/test.native.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/kurtosis/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/kurtosis/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/kurtosis/test/test.native.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/logpdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/logpdf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/logpdf/test/test.logpdf.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mean/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mean/test/test.native.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/median/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/median/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/test/test.mgf.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/test/test.native.js
Labels: Statistics, Benchmarks, Ready To Merge

#7010 bench: update random value generation
  lib/node_modules/@stdlib/stats/base/dists/chi/mode/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chi/mode/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/chi/mode/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/chi/mode/test/test.native.js
  lib/node_modules/@stdlib/stats/base/dists/chi/pdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chi/pdf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/chi/pdf/test/test.pdf.js
  lib/node_modules/@stdlib/stats/base/dists/chi/quantile/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chi/quantile/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/chi/quantile/test/test.quantile.js
  lib/node_modules/@stdlib/stats/base/dists/chi/skewness/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chi/skewness/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/chi/stdev/test/test.native.js
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/chi/variance/test/test.native.js
Labels: Statistics, Ready To Merge

#7012 chore: fix C lint errors (issue #6994)
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/examples/c/example.c
Labels: Statistics, Ready To Merge

#6490 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/math/base/special/polygamma/README.md
  lib/node_modules/@stdlib/math/base/special/polygamma/examples/index.js
  lib/node_modules/@stdlib/math/base/special/pow/README.md
  lib/node_modules/@stdlib/math/base/special/pow/examples/index.js
  lib/node_modules/@stdlib/math/base/special/powm1/README.md
  lib/node_modules/@stdlib/math/base/special/powm1/examples/index.js
  lib/node_modules/@stdlib/math/base/special/rad2deg/README.md
  lib/node_modules/@stdlib/math/base/special/rad2deg/examples/index.js
  lib/node_modules/@stdlib/math/base/special/rad2degf/README.md
  lib/node_modules/@stdlib/math/base/special/rad2degf/examples/index.js
  lib/node_modules/@stdlib/math/base/special/rcbrt/README.md
  lib/node_modules/@stdlib/math/base/special/rcbrt/examples/index.js
Labels: Math, Ready To Merge

#7029 chore: fix EditorConfig lint errors (issue #7018)
  lib/node_modules/@stdlib/blas/sswap/README.md
Labels: BLAS, Ready To Merge, Good First PR

#7038 chore: address commit comments for commit fbffea0 (issue #7030)
  lib/node_modules/@stdlib/array/base/assert/any-is-entry/README.md
Labels: Ready To Merge, First-time Contributor, Good First PR

#7033 chore: fix C lint errors (issue #7032)
  lib/node_modules/@stdlib/blas/base/dger/include/stdlib/blas/base/dger.h
  lib/node_modules/@stdlib/blas/base/dger/src/dger_f.c
Labels: BLAS, Ready To Merge, First-time Contributor

#7028 chore: fix EditorConfig lint errors (issue #7023)
  lib/node_modules/@stdlib/_tools/modules/pkg-deps/bin/opts.json
  lib/node_modules/@stdlib/_tools/repl-txt/parse/test/fixtures/expected3.json
Labels: Tools, Ready To Merge, Good First PR

#7008 feat: add `ndarray/base/unary-reduce-subarray-by`
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/README.md
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/docs/repl.txt
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/docs/types/test.ts
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/examples/index.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/0d.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/0d_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/10d.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/10d_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/10d_blocked.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/10d_blocked_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/1d.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/1d_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/2d.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/2d_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/2d_blocked.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/2d_blocked_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/3d.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/3d_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/3d_blocked.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/3d_blocked_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/4d.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/4d_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/4d_blocked.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/4d_blocked_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/5d.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/5d_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/5d_blocked.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/5d_blocked_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/6d.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/6d_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/6d_blocked.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/6d_blocked_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/7d.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/7d_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/7d_blocked.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/7d_blocked_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/8d.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/8d_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/8d_blocked.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/8d_blocked_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/9d.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/9d_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/9d_blocked.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/9d_blocked_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/callback_wrapper.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/factory.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/increment_offsets.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/index.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/initialize_array_views.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/main.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/nd.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/nd_accessors.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/offsets.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/lib/set_view_offsets.js
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/package.json
  lib/node_modules/@stdlib/ndarray/base/unary-reduce-subarray-by/test/test.js
Labels: Feature, Ready To Merge

#7001 chore: fix EditorConfig lint errors #6992
  lib/node_modules/@stdlib/_tools/eslint/rules/eol-open-bracket-spacing/examples/index.js
  lib/node_modules/@stdlib/blas/base/sdot/src/sdot_ndarray.c
  lib/node_modules/@stdlib/blas/base/sgemm/test/fixtures/ca_cb_cc_nta_ntb.json
  lib/node_modules/@stdlib/streams/node/from-iterator/lib/defaults.json
Labels: Ready To Merge, Good First PR

#7055 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/stats/base/dists/chisquare/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/chisquare/cdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/entropy/README.md
  lib/node_modules/@stdlib/stats/base/dists/chisquare/entropy/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/kurtosis/README.md
  lib/node_modules/@stdlib/stats/base/dists/chisquare/kurtosis/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/chisquare/logpdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mean/README.md
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mean/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/median/README.md
  lib/node_modules/@stdlib/stats/base/dists/chisquare/median/examples/index.js
Labels: Documentation, Statistics

#7056 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/README.md
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mgf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mode/README.md
  lib/node_modules/@stdlib/stats/base/dists/chisquare/mode/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/pdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/chisquare/pdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/quantile/README.md
  lib/node_modules/@stdlib/stats/base/dists/chisquare/quantile/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/skewness/README.md
  lib/node_modules/@stdlib/stats/base/dists/chisquare/skewness/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/stdev/README.md
  lib/node_modules/@stdlib/stats/base/dists/chisquare/stdev/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/chisquare/variance/README.md
  lib/node_modules/@stdlib/stats/base/dists/chisquare/variance/examples/index.js
Labels: Documentation, Statistics

#7053 chore: fix C lint errors (issue #6977)
  lib/node_modules/@stdlib/stats/base/snanvariance/benchmark/c/benchmark.length.c
Labels: Statistics

#7052 chore: fix C lint errors (issue #7004)
  lib/node_modules/@stdlib/stats/base/dmeanstdevpn/benchmark/c/benchmark.length.c
Labels: Statistics

#7040 chore: fix JavaScript lint errors (issue #7031)
  lib/node_modules/@stdlib/_tools/makie/plugins/makie-list-pkgs/lib/index.js
Labels: Tools, Good First PR

#7075 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/stats/base/dists/cosine/mgf/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/mgf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/mode/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/mode/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/pdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/pdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/quantile/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/quantile/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/skewness/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/skewness/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/stdev/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/stdev/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/variance/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/variance/examples/index.js
Labels: Documentation, Statistics, Ready To Merge

#7074 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/stats/base/dists/cosine/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/cdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/kurtosis/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/kurtosis/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/logcdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/logcdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/logpdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/median/README.md
  lib/node_modules/@stdlib/stats/base/dists/cosine/median/examples/index.js
Labels: Documentation, Statistics, Ready To Merge

#7073 Fix JavaScript lint errors #6603
  lib/node_modules/@stdlib/_tools/github/rank-users/lib/pluck.raw.js
Labels: Tools, Ready To Merge, First-time Contributor, Good First PR

#7072 chore: fix EditorConfig lint errors (issue #7069)
  lib/node_modules/@stdlib/_tools/github/user-orgs/test/fixtures/results.json
Labels: Tools, Ready To Merge, Good First PR

#7067 chore: address commit comments for commit 28febf0 (issue #7059)
  .github/workflows/update_contributors.yml
Labels: Ready To Merge, Good First PR

#7063 chore: fix EditorConfig lint errors (issue #7057)
  lib/node_modules/@stdlib/regexp/dirname-windows/README.md
Labels: Ready To Merge, Good First PR

#7065 chore: fix JavaScript lint errors (issue #7060)
  lib/node_modules/@stdlib/utils/unzip/lib/main.js
Labels: Ready To Merge, Good First PR

#7015 chore: fix EditorConfig lint errors #7002
  lib/node_modules/@stdlib/strided/napi/dmap/manifest.json
Labels: Ready To Merge, Good First PR

#7093 bench: update random value generation
  lib/node_modules/@stdlib/stats/base/dists/cosine/cdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/cdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/cdf/test/test.cdf.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/cdf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/cdf/test/test.native.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/ctor/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/kurtosis/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/kurtosis/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/kurtosis/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/kurtosis/test/test.native.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/logcdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/logcdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/logcdf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/logcdf/test/test.logcdf.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/logcdf/test/test.native.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/logpdf/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/logpdf/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/logpdf/test/test.factory.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/logpdf/test/test.logpdf.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/logpdf/test/test.native.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/mean/test/test.native.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/median/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/median/benchmark/benchmark.native.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/median/test/test.js
  lib/node_modules/@stdlib/stats/base/dists/cosine/median/test/test.native.js
Labels: Statistics, Benchmarks

#7096 chore: fix JavaScript lint errors (issue #6577)
  lib/node_modules/@stdlib/datasets/sotu/scripts/build.js
Labels: Ready To Merge, Good First PR

#7123 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mgf/README.md
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mgf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mode/README.md
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mode/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/degenerate/pdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/degenerate/pdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/degenerate/pmf/README.md
  lib/node_modules/@stdlib/stats/base/dists/degenerate/pmf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/degenerate/quantile/README.md
  lib/node_modules/@stdlib/stats/base/dists/degenerate/quantile/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/degenerate/stdev/README.md
  lib/node_modules/@stdlib/stats/base/dists/degenerate/stdev/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/degenerate/variance/README.md
  lib/node_modules/@stdlib/stats/base/dists/degenerate/variance/examples/index.js
Labels: Documentation, Statistics, Ready To Merge

#7122 docs: replace manual `for` loop in examples
  lib/node_modules/@stdlib/stats/base/dists/degenerate/cdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/degenerate/cdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/degenerate/entropy/README.md
  lib/node_modules/@stdlib/stats/base/dists/degenerate/entropy/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/degenerate/logcdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/degenerate/logcdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/degenerate/logpdf/README.md
  lib/node_modules/@stdlib/stats/base/dists/degenerate/logpdf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/degenerate/logpmf/README.md
  lib/node_modules/@stdlib/stats/base/dists/degenerate/logpmf/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mean/README.md
  lib/node_modules/@stdlib/stats/base/dists/degenerate/mean/examples/index.js
  lib/node_modules/@stdlib/stats/base/dists/degenerate/median/README.md
  lib/node_modules/@stdlib/stats/base/dists/degenerate/median/examples/index.js
Labels: Documentation, Statistics, Ready To Merge

#7134 chore: fix JavaScript lint errors (issue #7111)
  etc/eslint/rules/spellcheck.js
Labels: Ready To Merge, First-time Contributor, Good First PR

#7118 chore: fix EditorConfig lint errors (issue #7114)
  lib/node_modules/@stdlib/ndarray/base/broadcast-shapes/manifest.json
Labels: First-time Contributor, Good First PR

#7137 chore: fix EditorConfig lint errors (issue #7135)
  lib/node_modules/@stdlib/math/strided/special/dtrunc/manifest.json
  lib/node_modules/@stdlib/ndarray/base/napi/unary/manifest.json
Labels: Ready To Merge, First-time Contributor, Good First PR

#7146 feat: add support for accessor arrays and refactor `stats/base/min-by`
  lib/node_modules/@stdlib/stats/base/min-by/README.md
  lib/node_modules/@stdlib/stats/base/min-by/benchmark/benchmark.js
  lib/node_modules/@stdlib/stats/base/min-by/benchmark/benchmark.ndarray.js
  lib/node_modules/@stdlib/stats/base/min-by/docs/repl.txt
  lib/node_modules/@stdlib/stats/base/min-by/docs/types/index.d.ts
  lib/node_modules/@stdlib/stats/base/min-by/docs/types/test.ts
  lib/node_modules/@stdlib/stats/base/min-by/examples/index.js
  lib/node_modules/@stdlib/stats/base/min-by/lib/accessors.js
  lib/node_modules/@stdlib/stats/base/min-by/lib/index.js
  lib/node_modules/@stdlib/stats/base/min-by/lib/main.js
  lib/node_modules/@stdlib/stats/base/min-by/lib/ndarray.js
  lib/node_modules/@stdlib/stats/base/min-by/test/test.min_by.js
  lib/node_modules/@stdlib/stats/base/min-by/test/test.ndarray.js
Labels: Statistics, GSoC, gsoc: 2025
